<section class="content">
  <div class="header-title">
    <h1><strong>จัดการข้อมูลพื้นฐาน</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> /
        จัดการข้อมูลสาเหตุการแจ้งขอระงับ/เพิกถอนใบรับรองอิเล็กทรอนิกส์</small></h1>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="header-title fa fa-file-text"></i> จัดการข้อมูลสาเหตุการแจ้งขอระงับ/เพิกถอนใบรับรองอิเล็กทรอนิกส์</h4>
    </div>
    <div class="card-body">
      <form role="form" [formGroup]="searchReasonCodeCriteria" (ngSubmit)="getData()">
        <div class="row">
          <div class="form-group col-lg-6">
            <label>รหัสการแจ้งขอระงับ/เพิกถอน:</label>
            <input type="text" class="form-control" name="reasonCode" id="reasonCode" formControlName="reasonCode"
              placeholder="รหัสการแจ้งขอระงับ/เพิกถอน">
          </div>
          <div class="form-group col-lg-6">
            <label>สาเหตุการแจ้งขอระงับ/เพิกถอน:</label>
            <input type="text" class="form-control" name="reasonDesc" id="reasonDesc" formControlName="reasonDesc"
              placeholder="สาเหตุการแจ้งขอระงับ/เพิกถอน">
          </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-lg-2 reset-button">
                <button type="submit" class="btn btn-success margin-top-10">
                  <i class="glyphicon glyphicon-search"></i> ค้นหา
                </button>
              </div>
              <div class="form-group col-lg-2 reset-button">
                <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
                  <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
                </button>
              </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-list"></i> ผลการค้นหา</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
          <tr role="row">
            <th scope="col" class="text-center">ลำดับที่</th>
            <th scope="col" class="text-center">
              <a (click)="sort('REASON_CODE')" style="cursor: pointer" title="รหัสแจ้งขอระงับ/เพิกถอน" tooltip="รหัสแจ้งขอระงับ/เพิกถอน">
                รหัสแจ้งขอระงับ/เพิกถอน
              </a>
              <ng-container *ngIf="pageRequest.sortFieldName === 'REASON_CODE'">
                <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </th>
            <th scope="col" class="text-center">
              <a (click)="sort('REASON_DESC')" style="cursor: pointer" title="คำอธิบายการแจ้งขอรับ/เพิกถอน" tooltip="คำอธิบายการแจ้งขอรับ/เพิกถอน">
                คำอธิบายการแจ้งขอรับ/เพิกถอน
              </a>
              <ng-container *ngIf="pageRequest.sortFieldName === 'REASON_DESC'">
                <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </th>
            <th scope="col" class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr role="row" class="odd" *ngFor="let dv of pageResponse.content">
            <td class="text-center">{{dv.no}}</td>
            <td class="text-center">{{dv.reasonCode || '-'}}</td>
            <td class="text-center">{{dv.reasonDesc || '-'}}</td>
            <td class="text-center">
              <div class="btn-group">
                <button type="button" class="btn btn-orange btn-sm btn-auto"
                  (click)="editReasonCode(dv.reasonCode,certReasonCodeModal)" tooltip="แก้ไข">
                  <i class="fa fa-pencil-square-o"></i>
                </button>
              </div>
              &nbsp;
              <div class="btn-group">
                <button type="button" class="btn btn-orange btn-sm btn-auto"
                  (click)="deleteReasonCode(dv.reasonCode)" tooltip="ลบ">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr *ngIf="pageResponse.content?.length === 0">
            <td colspan="11" class="text-center"> ไม่พบข้อมูล</td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite" style="padding: 5px;">
            แสดงผล
            {{pageResponse.numberOfElements}} จาก
            {{pageResponse.totalPages}} รายการ
          </div>
        </div>
        <div class="col-sm-7 text-right">
            แสดงหน้าละ
            <select (change)="changeRowLimits($event)" style="padding: 5px;">
              <option *ngFor="let limit of rowLimits" [value]="limit.value">{{limit.key}}</option>
            </select>
            &nbsp;&nbsp;
            <pagination style="float: right;" [boundaryLinks]="true" [totalItems]="pageResponse.totalPages"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [rotate]="true"
              [maxSize]="5" [(ngModel)]="pageRequest.page" (pageChanged)="pageChange($event,limit)" (limit)="limit"
              [itemsPerPage]="pageResponse.size" aria-label="Default pagination"></pagination>
          </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 text-right scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
      <button class="btn btn-success btn-circle btn-circle-lg m-1" *ngIf="authenService.hasAnyPermission(['DCSP030200.ADD'])" (click)="open(certReasonCodeModal)"
        tooltip="เพิ่มข้อมูล">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  <ng-template #certReasonCodeModal>
    <div class="modal-header">
      <i class="fa fa-plus-circle" aria-hidden="true"> เพิ่มข้อมูล</i>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="reasonCodeFormGroup">
          <div class="row">
              <div class="form-group col-lg-12">
                  <label>คำอธิบายการแจ้งขอรับ/เพิกถอน :<span class="red">*</span></label>
                  <input type="text" class="form-control" formControlName="reasonDesc"
              value="{{reasonCodeFormGroup.get('reasonDesc').value }}"
              [ngClass]="{ 'is-invalid': reasonCodeSubmit && field.reasonDesc.errors }">
            <div *ngIf="reasonCodeSubmit && field.reasonDesc.errors" class="invalid-feedback">
              <div *ngIf="field.reasonDesc.errors.required">กรุณาระบุคำอธิบายการแจ้งขอรับ/เพิกถอน</div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
        <div class="row justify-content-center col-lg-12">
            <div class="form-group col-lg-6 reset-button">
                <button type="button" class="btn btn-green w-md m-b-5" (click)="saveReasonCode()"
                *ngIf="authenService.hasAnyPermission(['DCSP030200.ADD','DCSP030200.UPDATE'])">
                    <i class="fa fa-floppy-o"></i> บันทึก
                </button>
              </div>
              <div class="form-group col-lg-6 reset-button">
                <button type="button" class="btn btn-danger w-md m-b-5" (click)="modalRef.hide()">
                    <i class="fa fa-times"></i> ยกเลิก
                </button>
              </div>
            </div>
    </div>
  </ng-template>
</section>
