<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <form [formGroup]="searchForm">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>ข้อมูลภาษีขาย จากข้อมูล e-Tax Invoice</h4>
        </div>
      </div>

      
      <input type="hidden" id="nid" class="form-control" formControlName="nid">
      <input type="hidden" id="branchNo" class="form-control" formControlName="branchNo">
      <input type="hidden" id="fromMonth" class="form-control" formControlName="fromMonth">
      <input type="hidden" id="fromYear" class="form-control" formControlName="fromYear">
      <input type="hidden" id="toMonth" class="form-control" formControlName="toMonth">
      <input type="hidden" id="toYear" class="form-control" formControlName="toYear">
      <input type="hidden" id="month" class="form-control" formControlName="month">
      <input type="hidden" id="year" class="form-control" formControlName="year">
      <input type="hidden" id="recordType" class="form-control" formControlName="recordType">
      <input type="hidden" id="typeSB" class="form-control" formControlName="typeSB">

      <div class="panel-body" *ngFor="let data of receiveData">
        <div class="row">
          <div class="form-group col-lg-10 pr-0" *ngIf="(data.recordType == 'A')">
            <label class="pull-center" style="font-weight:bold">ข้อมูลตั้งแต่ {{data.fromMonthThName}} {{data.fromYear}} ถึง {{data.toMonthThName}} {{data.toYear}}</label>
          </div>
          <div class="form-group col-lg-10 pr-0" *ngIf="(data.recordType == 'O')">
            <label class="pull-center" style="font-weight:bold">ข้อมูล {{data.monthThName}} {{data.year}}</label>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> พิมพ์</a>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขประจำตัวผู้เสียภาษีอากร : {{data.nid}}</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขที่สาขา : {{data.branchNo}}</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อผู้ประกอบการ : {{data.operatorName}}</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อสถานประกอบการ : {{data.establishmentName}}</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ที่อยู่ : {{data.operatorAddress}}</label>
          </div>
          
          <div class="form-group col-lg-2 pr-0">
            <label for="desc" style="font-weight:bold">มุมมองการแสดงผลข้อมูล: </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label for="status-a" class="form-check-label" style="font-weight:bold">
              <input class="form-check-input" type="radio" id="status-a" value="ALL"
                formControlName="status"> ข้อมูลทั้งหมด
            </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label for="status-i" class="form-check-label" style="font-weight:bold">
              <input class="form-check-input" type="radio" id="status-i" value="receive"
                formControlName="status"> ข้อมูลใบกำกับภาษี
            </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label for="status-i" class="form-check-label" style="font-weight:bold">
              <input class="form-check-input" type="radio" id="status-i" value="cancel"
                formControlName="status"> ข้อมูลยกเลิก
            </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label for="status-i" class="form-check-label" style="font-weight:bold">
              <input class="form-check-input" type="radio" id="status-i" value="add"
                formControlName="status"> ข้อมูลใบเพิ่มหนี้
            </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label for="status-i" class="form-check-label" style="font-weight:bold">
              <input class="form-check-input" type="radio" id="status-i" value="subtract"
                formControlName="status"> ข้อมูลใบลดหนี้
            </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label class="pull-right" style="font-weight:bold">เลขที่ใบกำกับภาษี</label>
          </div>

          <div class="form-group col-lg-2 pr-0">
            <input type="text" value="" id="branchNo" class="form-control" name="receiveNo">
          </div>

          <div class="form-group col-lg-1 pr-0">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> ค้นหา</a>
          </div>

          <div class="form-group col-lg-1 pr-0">
          </div>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th>ลำดับ<br>ที่<br>(1)</th>
              <th>วัน เดือน ปี<br>ที่ออก<br>ใบกำกับภาษี<br>(2)</th>
              <th>เลขที่ใบกำกับภาษี<br>(3)</th>
              <th>ชื่อผู้ซื้อสินค้า/ผู้รับบริการ<br>(4)</th>
              <th>เลขประจำตัวผู้เสียภาษี<br>อากรของผู้ซื้อ<br>สินค้า/ผู้รับบริการ<br>(5)</th>
              <th>สาขา<br>(6)</th>
              <th>ยอดขายที่ต้อง<br>เสียภาษี<br>VAT 7%<br>(7)</th>
              <th>ยอดขายที่ต้อง<br>เสียภาษี<br>VAT 0%<br>(8)</th>
              <th>ยอดขายที่<br>ยกเว้น VAT<br>(9)</th>
              <th>ภาษีขาย<br>(10)</th>
              <th>รวมมูลค้าสินค้า<br>และบริการ<br>(11)</th>
              <th>ประเภทเอกสาร<br>(12)</th>
              <th>อ้างอิงใบกำกับภาษี<br>(13)</th>
              <th>หมายเหตุ<br>(14)</th>
              <th>Signature Date<br>(15)</th>
              <th>แหล่งข้อมูล<br>(16)</th>
              <th>ดูข้อมูล<br>(17)</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let data2 of receiveData2">
              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.no}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.no}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.docDate}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.docDate}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.docId}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.docId}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.buyerName}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.buyerName}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.buyerTaxId}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.buyerTaxId}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.buyerBranchNo}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.buyerBranchNo}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.sellerTotalAmountVatSeven}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.sellerTotalAmountVatSeven}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.sellerTotalAmountVatZero}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.sellerTotalAmountVatZero}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.sellerTotalAmountAvoidVat}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.sellerTotalAmountAvoidVat}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.sellerTotalAmountVat}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.sellerTotalAmountVat}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.sellerGrandTotalAmount}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.sellerGrandTotalAmount}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.docName}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.docName}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">
                <a [routerLink]="['../../../../../../../../../../../trsp010108/'+data2.nid+'/'+data2.branchNo+'/'+data2.fromMonth+'/'+data2.fromYear+'/'+data2.toMonth+'/'+data2.toYear+'/'+data2.month+'/'+data2.year+'/O/S/'+data2.docId]" class="btn btn-orange btn-sm">
                  {{data2.refDocId}} {{data2.refDocDate}}
                </a>
              </td>
              <td align="center" *ngIf="(data2.rowColor == 'R')">
                <font color="red">
                  <a [routerLink]="['../../../../../../../../../../../trsp010108/'+data2.nid+'/'+data2.branchNo+'/'+data2.fromMonth+'/'+data2.fromYear+'/'+data2.toMonth+'/'+data2.toYear+'/'+data2.month+'/'+data2.year+'/O/S/'+data2.docId]" class="btn btn-orange btn-sm">
                    {{data2.refDocId}} {{data2.refDocDate}}
                  </a>
                </font>
              </td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.remark}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.remark}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.signatureDate}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.signatureDate}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.sourceFlag}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.sourceFlag}}</font></td>

              <td *ngIf="(data2.docCode == '388')">
                <a [routerLink]="['../../../../../../../../../../../trsp010104/'+data2.nid+'/'+data2.branchNo+'/'+data2.fromMonth+'/'+data2.fromYear+'/'+data2.toMonth+'/'+data2.toYear+'/'+data2.month+'/'+data2.year+'/O/S/'+data2.docId]" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td *ngIf="(data2.docCode == '81')">
                <a [routerLink]="['../../../../../../../../../../../trsp010105/'+data2.nid+'/'+data2.branchNo+'/'+data2.fromMonth+'/'+data2.fromYear+'/'+data2.toMonth+'/'+data2.toYear+'/'+data2.month+'/'+data2.year+'/O/S/'+data2.docId]" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td *ngIf="(data2.docCode == '80')">
                <a [routerLink]="['../../../../../../../../../../../trsp010106/'+data2.nid+'/'+data2.branchNo+'/'+data2.fromMonth+'/'+data2.fromYear+'/'+data2.toMonth+'/'+data2.toYear+'/'+data2.month+'/'+data2.year+'/O/S/'+data2.docId]" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td *ngIf="(data2.docCode == 'T02')">
                <a [routerLink]="['../../../../../../../../../../../trsp010107/'+data2.nid+'/'+data2.branchNo+'/'+data2.fromMonth+'/'+data2.fromYear+'/'+data2.toMonth+'/'+data2.toYear+'/'+data2.month+'/'+data2.year+'/O/S/'+data2.docId]" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td *ngIf="(data2.docCode == 'T03')">
                <a [routerLink]="['../../../../../../../../../../../trsp010104/'+data2.nid+'/'+data2.branchNo+'/'+data2.fromMonth+'/'+data2.fromYear+'/'+data2.toMonth+'/'+data2.toYear+'/'+data2.month+'/'+data2.year+'/O/S/'+data2.docId]" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td *ngIf="(data2.docCode == 'T04')">
                <a [routerLink]="['../../../../../../../../../../../trsp010104/'+data2.nid+'/'+data2.branchNo+'/'+data2.fromMonth+'/'+data2.fromYear+'/'+data2.toMonth+'/'+data2.toYear+'/'+data2.month+'/'+data2.year+'/O/S/'+data2.docId]" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr *ngFor="let data3 of receiveDataSum">
              <td align="right"  style="font-weight:bold"colspan="6">รวม</td>
              <td align="right">{{data3.sumSellerTotalAmountVatSeven}}</td>
              <td align="right">{{data3.sumSellerTotalAmountVatZero}}</td>
              <td align="right">{{data3.sumSellerTotalAmountAvoidVat}}</td>
              <td align="right">{{data3.sumSellerTotalAmountVat}}</td>
              <td align="right">{{data3.sumSellerGrandTotalAmount}}</td>
              <td align="center" colspan="6"></td>
            </tr>

<!--
            <tr>
              <td align="center">1</td>
              <td align="center">12/09/2559</td>
              <td align="center">RDTIV0575526000058001</td>
              <td align="left">ธารา ยืนขำ</td>
              <td align="center">1-1045-99001-27-1</td>
              <td align="center">-</td>
              <td align="right">62,550.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">4,378.50</td>
              <td align="right">66,928.50</td>
              <td align="center">ใบกำกับภาษี</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center">21/09/2559 16:13</td>
              <td align="center">1</td>
              <td>
                <a href="trs/trsp010113" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center">2</td>
              <td align="center">13/09/2559</td>
              <td align="center">RDTIV0575526000058002</td>
              <td align="left">ธารา ยืนขำ</td>
              <td align="center">1-1045-99001-27-2</td>
              <td align="center">-</td>
              <td align="right">773.39</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">54.14</td>
              <td align="right">827.53</td>
              <td align="center">ใบกำกับภาษี</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center">13/09/2559 19:25</td>
              <td align="center">1</td>
              <td>
                <a href="trs/trsp010114" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center">3</td>
              <td align="center">14/09/2559</td>
              <td align="center">RDTIV0575526000058003</td>
              <td align="left">ธารา ยืนขำ</td>
              <td align="center">1-1045-99001-27-1</td>
              <td align="center">-</td>
              <td align="right">14.060.48</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">984.23</td>
              <td align="right">15,044.71</td>
              <td align="center">ใบแจ้งหนี้/ใบกำกับภาษี</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center">14/09/2559 02:48</td>
              <td align="center">1</td>
              <td>
                <a href="trs/trsp010115" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center">4</td>
              <td align="center">15/09/2559</td>
              <td align="center">RDTIV0575526000058004</td>
              <td align="left">บริษัท สินค้าดี จำกัด</td>
              <td align="center">1-1045-99001-20-1</td>
              <td align="center">00000</td>
              <td align="right">48.750.48</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">3,412.50</td>
              <td align="right">52,162.50</td>
              <td align="center">ใบเสร็จรับเงิน/ใบกำกับภาษี</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center">15/09/2559 10.01</td>
              <td align="center">1</td>
              <td>
                <a href="trs/trsp010116" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center">5</td>
              <td align="center">4/10/2559</td>
              <td align="center">RDTIV0575526000058005</td>
              <td align="left">บริษัท สินค้าหลากหลาย จำกัด</td>
              <td align="center">1-1045-99001-90-2</td>
              <td align="center">00000</td>
              <td align="right">26,600.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">1,862.00</td>
              <td align="right">28,462.00</td>
              <td align="center">ใบเสร็จรับเงิน/ใบกำกับภาษี</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center">16/09/2559 11.25</td>
              <td align="center">1</td>
              <td>
                <a href="trs/trsp010117" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center">6</td>
              <td align="center">9/10/2559</td>
              <td align="center">RDDCN0575526000058006</td>
              <td align="left">บริษัท สินค้าดี จำกัด</td>
              <td align="center">1-1045-99001-20-1</td>
              <td align="center">00000</td>
              <td align="right">-22,550.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">-1,578.50</td>
              <td align="right">-24,128.50</td>
              <td align="center">ใบลดหนี้</td>
              <td align="center"><a href="trs/trsp010103">RDTIV0575526000058004 <br>15/09/2559</a></td>
              <td align="center">คำนวณราคาสินค้าผิดพลาด<br>สูงกว่าที่เป็นจริง</td>
              <td align="center">9/10/2559 10.00</td>
              <td align="center">1</td>
              <td>
                <a href="trs/trsp010118" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center">7</td>
              <td align="center">16/10/2559</td>
              <td align="center">RDDCN0575526000058007</td>
              <td align="left">บริษัท สินค้าหลากหลาย จำกัด</td>
              <td align="center">1-1045-99001-90-2</td>
              <td align="center">00000</td>
              <td align="right">5,100.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">357.00</td>
              <td align="right">5,457.00</td>
              <td align="center">ใบเพิ่มหนี้</td>
              <td align="center"><a href="trs/trsp010104">RDTIV0575526000058005 <br>4/10/2559</a></td>
              <td align="center">คำนวณราคาสินค้าผิดพลาด<br>ต่ำกว่าที่เป็นจริง</td>
              <td align="center">16/10/2559 11.00</td>
              <td align="center">1</td>
              <td>
                <a href="trs/trsp010119" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center">8</td>
              <td align="center">2/11/2559</td>
              <td align="center">RDTIV0575526000058008</td>
              <td align="left">บริษัท เจริญผล จำกัด</td>
              <td align="center">0-1045-99001-90-5</td>
              <td align="center">00000</td>
              <td align="right">2,500.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">175.00</td>
              <td align="right">2,675.00</td>
              <td align="center">ใบกำกับภาษี</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center">2/11/2559 10.01</td>
              <td align="center">1</td>
              <td>
                <a href="trs/trsp010120" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center">9</td>
              <td align="center">8/11/2559</td>
              <td align="center">RDDCN0575526000058009</td>
              <td align="left">บริษัท เจริญผล จำกัด</td>
              <td align="center">0-1045-99001-90-5</td>
              <td align="center">00000</td>
              <td align="right">-500.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">-35.00</td>
              <td align="right">-535.00</td>
              <td align="center">ใบลดหนี้</td>
              <td align="center"><a href="trs/trsp010105">RDTIV0575526000058008 <br>2/11/2559</a></td>
              <td align="center">ลูกค้าคืนสินค้าเนื่องจากเสีย<br>หายระหว่างขนส่ง</td>
              <td align="center">8/11/2559 10.55</td>
              <td align="center">1</td>
              <td>
                <a href="trs/trsp010121" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center">10</td>
              <td align="center">7/12/2559</td>
              <td align="center">RDTIV0575526000058010</td>
              <td align="left">บริษัท จริงใจ จำกัด </td>
              <td align="center">0-1045-99007-77-2</td>
              <td align="center">00000</td>
              <td align="right">10,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">700.00</td>
              <td align="right">10,700.00</td>
              <td align="center">ใบกำกับภาษี</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center">7/12/2559 11.25</td>
              <td align="center">1</td>
              <td>
                <a href="trs/trsp010122" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center">11</td>
              <td align="center">10/12/2559</td>
              <td align="center">RDDCN0575526000058011</td>
              <td align="left">บริษัท จริงใจ จำกัด </td>
              <td align="center">0-1045-99007-77-2</td>
              <td align="center">00000</td>
              <td align="right">1,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">70.00</td>
              <td align="right">1,070.00</td>
              <td align="center">ใบเพิ่มหนี้</td>
              <td align="center"><a href="trs/trsp010106">RDTIV0575526000058010 <br>7/12/2559</a></td>
              <td align="center">คำนวณราคาสินค้าผิดพลาด<br>ต่ำกว่าที่เป็นจริง</td>
              <td align="center">10/12/2559 11.00</td>
              <td align="center">1</td>
              <td>
                <a href="trs/trsp010123" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center"><font color="red">12</font></td>
              <td align="center"><font color="red">15/12/2559</font></td>
              <td align="center"><font color="red">RDTIV0575526000058012</font></td>
              <td align="left"><font color="red">ธารา ยืนขำ</font></td>
              <td align="center"><font color="red">1-1045-99001-27-1</font></td>
              <td align="center"><font color="red">-</font></td>
              <td align="right"><font color="red">773.39</font></td>
              <td align="right"><font color="red">0.00</font></td>
              <td align="right"><font color="red">0.00</font></td>
              <td align="right"><font color="red">54.14</font></td>
              <td align="right"><font color="red">827.53</font></td>
              <td align="center"><font color="red">ใบกำกับภาษี</font></td>
              <td align="center"><font color="red"><a href="trs/trsp010107">RDTIV0575526000058002<br>13/09/2559 </a></font></td>
              <td align="center"><font color="red">ออกแทนใบที่ยกเลิก<br>(แก้ไขเลข 13 หลักผู้ซื้อ)</font></td>
              <td align="center"><font color="red">15/12/2559 02:48</font></td>
              <td align="center"><font color="red">1</font></td>
              <td>
                <a href="trs/trsp010124" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center"><font color="red">13</font></td>
              <td align="center"><font color="red">23/12/2559</font></td>
              <td align="center"><font color="red">RDTIV0575526000058013</font></td>
              <td align="left"><font color="red">บริษัท นครสวรรค์เจริญภัณฑ์ 1990 จก. </font></td>
              <td align="center"><font color="red">0-6044-47000-66-1</font></td>
              <td align="center"><font color="red">00000</font></td>
              <td align="right"><font color="red">14,060.48</font></td>
              <td align="right"><font color="red">0.00</font></td>
              <td align="right"><font color="red">0.00</font></td>
              <td align="right"><font color="red">984.23</font></td>
              <td align="right"><font color="red">15,044.71</font></td>
              <td align="center"><font color="red">ใบแจ้งหนี้/ใบกำกับภาษี</font></td>
              <td align="center"><font color="red"><a href="trs/trsp010108">RDTIV0575526000057120<br>20/08/2559 </a></font></td>
              <td align="center"><font color="red">ออกแทนใบที่ยกเลิก<br>(แก้ไขชื่อผู้ซื้อ)</font></td>
              <td align="center"><font color="red">23/12/2559 02:50</font></td>
              <td align="center"><font color="red">1</font></td>
              <td>
                <a href="trs/trsp010125" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center"><font color="red">14</font></td>
              <td align="center"><font color="red">25/12/2559</font></td>
              <td align="center"><font color="red">RDTIV0575526000058014</font></td>
              <td align="left"><font color="red">บริษัท สินค้าหลากหลาย จำกัด</font></td>
              <td align="center"><font color="red">1-1045-99001-90-2</font></td>
              <td align="center"><font color="red">00000</font></td>
              <td align="right"><font color="red">5,500.00</font></td>
              <td align="right"><font color="red">0.00</font></td>
              <td align="right"><font color="red">0.00</font></td>
              <td align="right"><font color="red">385.00</font></td>
              <td align="right"><font color="red">5,885.00</font></td>
              <td align="center"><font color="red">ใบแจ้งหนี้/ใบกำกับภาษี</font></td>
              <td align="center"><font color="red"><a href="trs/trsp010132">RDTIV0575526000057121<br>21/08/2559</a></font></td>
              <td align="center"><font color="red">ออกแทนใบที่ยกเลิก<br>(แก้ไขที่อยู่ผู้ซื้อ)</font></td>
              <td align="center"><font color="red">25/12/2559 23:50</font></td>
              <td align="center"><font color="red">1</font></td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>-->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left">หมายเหตุ</label>
          </div>
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left">แหล่งข้อมูล</label>
          </div>
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-left">1 = e-Tax Invoice & e-Receipt</label>
          </div>
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left"></label>
          </div>
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left"></label>
          </div>
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-left">2 = e-Tax Invoice By Email</label>
          </div>
        </div>
      </div>
  </div>
</form>
</div>
