<div class="container">
    <div class="row">
      <h5> ค้นหาเมนู </h5>
    </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-4 col-md-4 text-right">
            <label for="menuCode" class="cols-sm-12 control-label">รหัสเมนู :</label>
          </div>
          <div class="cols-sm-8 col-md-4 text-right">
            <div class="input-group">
              <input class="form-control" type="text" name="menuCode" id="menuCode" placeholder="รหัสเมนู" [(ngModel)]="condition.menuCode"/>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
          <div class="row">
            <div class="col-sm-4 col-md-4 text-right">
              <label for="menuName" class="cols-sm-12 control-label">ชื่อเมนู :</label>
            </div>
            <div class="cols-sm-8 col-md-4 text-right">
              <div class="input-group">
                <input class="form-control" type="text" name="menuName" id="menuName" placeholder="ชื่อเมนู" [(ngModel)]="condition.menuName"/>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
              <div class="col-sm-4 col-md-12 text-center">
                  <a type="button" class="btn btn-primary btn-md" routerLink="/admin/menu/form/add">เพิ่มเมนู</a>
                  <button type="button" class="btn btn-info btn-md" (click)="getMenus()" >ค้นหา</button>
                  <button type="button" class="btn btn-danger btn-md" (click)="clearSearchCondition()" >ยกเลิก</button>
              </div>
          </div>
        </div>
  <table class="table table-bordered table-striped">
		<thead>
			<tr>
        <td>ลำดับ</td>
				<td>รหัสเมนู</td>
        <td>ชื่อเมนู</td>
        <td>ระดับชั้นเมนู</td>
        <td>ลิงค์เมนู</td>
        <td></td>
			</tr>
		</thead>
		<tbody>
			<!-- <tr *ngFor="let menu of menuList | paginate: { id: 'listing_pagination',
                                                      itemsPerPage: condition.pageRequestDto.pageSize,
                                                      currentPage: page,
                                                      totalItems: totalRec }; let i = index"> -->
       <!-- <tr>
        <td style="text-align: center">{{(i+1) + ((condition.pageRequestDto.page-1) * condition.pageRequestDto.pageSize)}}</td>
        <td>{{menu.menuCode}}</td>
			  <td>{{menu.menuName}}</td>
			  <td>{{menu.menuLevel}}</td>
        <td>{{menu.menuUrl}}</td>
        <td>
          <button type="button" class="btn btn-warning btn-md" [routerLink]="['/admin/menu/form/edit/', menu.menuId]">
            แก้ไข
          </button>
          <button type="button" class="btn btn-danger btn-md" (click)="deleteMenu(menu)" >
            ลบ
          </button>
        </td>
		</tr> -->
		</tbody>
	</table>
	<div>
		<!-- <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="condition.pageRequestDto.page = $event"></pagination-controls> -->
    <!-- <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="pageChanged($event)"></pagination-controls> -->
  </div>
</div>
