<section class="content">
    <div class="header-title">
      <h1><strong> รายงานผลการดำเนินการ</strong>
        <small class="pull-right"><a href="" class="active">หน้าหลัก</a>
          /อุทธรณ์
          /รายงานผลการดำเนินการ
        </small>
      </h1>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-bd lobidisable">
          <div class="panel-heading">
            <div class="panel-title">
              <h3><i class="fa fa-file-text"></i> รายงานผลการดำเนินการ</h3>
            </div>
          </div>
          <br/>
          <div class="panel-body no-padding"></div>

          <div class="panel-body">
            <form role="form"  [formGroup]="searchCondition" (ngSubmit)="print()">
              <div class="row form-group">
                <div class="ccol-12 col-sm-4 text-sm-right text-left">
                  <label>ปีภาษี : <span class="red">*</span></label>
                </div>
                <div class="col-12 col-sm-2 text-left">
                  <select class="custom-select form-control"  formControlName="taxYear"
                    [ngClass]="{'border-danger': taxYearControl.invalid && taxYearControl.touched}">
                    <option value="">โปรดระบุ</option>
                    <option *ngFor="let item of taxYearList" [value]="item">
                      {{item}}
                    </option>
                  </select>
                  <div class="red error-msg" *ngIf="taxYearControl.hasError('required') && taxYearControl.touched">
                    กรุณาระบุปีภาษี
                  </div>
                </div>
              </div>
              <div class="row form-group">
                <div class="ccol-12 col-sm-4 text-sm-right text-left">
                    <label>ภาค  :</label>
                </div>

                <div class="col-12 col-sm-4 text-left">
                  <app-appeal-organization-level-type-ahead (selectedOrgEvent)='setSector($event)' input-phd="ทั้งหมด"
                   [input-level]="1" #sector >
                   <!-- formControlName="sectorOrgId"  -->
                  </app-appeal-organization-level-type-ahead>
                </div>
              </div>

              <div class="row form-group">
                <div class="ccol-12 col-sm-4 text-sm-right text-left">
                  <label>พื้นที่ : </label>
                </div>

                <div class="col-12 col-sm-4 text-left">
                  <app-appeal-organization-level-type-ahead (selectedOrgEvent)='setArea($event)' input-phd="ทั้งหมด" #area
                   [input-parent]="sectorOrgIdControl.value" [input-disabled]="sectorOrgIdControl.value == null">
                   <!-- formControlName="areaOrgId" -->
                  </app-appeal-organization-level-type-ahead>
                </div>
              </div>

              <div class="row form-group">
                <div class="ccol-12 col-sm-4 text-sm-right text-left">
                    <label>พื้นที่สาขา : </label>
                </div>
                <div class="col-12 col-sm-4 text-left">
                  <app-appeal-organization-level-type-ahead (selectedOrgEvent)='setBranch($event)' input-phd="ทั้งหมด" #branch
                   [input-parent]="areaOrgIdControl.value"  [input-disabled]="areaOrgIdControl.value == null">
                   <!-- formControlName="branchOrgId" -->
                  </app-appeal-organization-level-type-ahead>
                </div>
              </div>

              <div class="row form-group">
                <div class="form-group col-lg-4"></div>
                <div class="form-group col-lg-2 reset-button">
                  <button type="submit" *ngIf="authService.hasAnyPermission(['GWSP020300.VIEW'])" class="btn btn-success margin-top-10">
                    <i class="glyphicon glyphicon-search"></i> พิมพ์รายงาน
                  </button>
                </div>
                <div class="form-group col-lg-2 reset-button">
                  <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
                    <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
