<div class="content">
  <div class="header-title mb-4">
    <h1><strong>เพิ่มตารางเวลาการทำงาน </strong>
      <small class="pull-right"><a [routerLink]="['/']" class="active">หน้าหลัก</a> / <a
        [routerLink]="['/mft/schedule']" class="active">ตารางเวลาการทำงาน</a> / เพิ่มตารางเวลาการทำงาน
      </small>
    </h1>

  </div>

  <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
    <div formGroupName="scheduleGroup">
      <div class="card border-light mb-4">
        <div class="panel panel-bd lobidisable">
          <div class="card-header">
            <h4 class="panel-title">
              <i class="header-title fa fa-file-text"></i> ข้อมูลตารางเวลาการทำงาน
            </h4>
          </div>
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>ชื่อตารางเวลาการทำงาน</label> &nbsp; <label class="text-danger">*</label>
                <input id="scheduleName" type="text" formControlName="scheduleName"
                       placeholder="ระบุชื่อตารางเวลาการทำงาน"
                       class="form-control"
                       maxlength="60">
                <div class="text-danger"
                     *ngIf="!scheduleForm.get('scheduleGroup.scheduleName').value && scheduleForm.get('scheduleGroup.scheduleName').touched">
                  กรุณากรอกชื่อตารางเวลาการทำงาน
                </div>
              </div>
              <div class="form-group full col-md-6">
                <label>ประเภทตารางเวลาการทำงาน </label> &nbsp; <label class="text-danger">*</label>
                <select id="scheduleType" formControlName="scheduleType"
                        class="form-control mdb-select md-form" (change)="onScheduleTypeReset()" >
<!--                  <option [value]="null" disabled>เลือกประเภทตารางเวลาการทำงาน</option>-->
                  <option value="Current">ดำเนินการทันที</option>
                  <option value="Daily">ทุกวัน</option>
                  <option value="DayOfWeek">วันในสัปดาห์</option>
                  <option value="DayOfMonth">วันในเดือน</option>
                  <option value="DayOfYear">วันในปี</option>
                </select>
                <div class="text-danger"
                     *ngIf="!scheduleForm.get('scheduleGroup.scheduleType').valid && scheduleForm.get('scheduleGroup.scheduleType').touched">
                  กรุณาระบุประเภทตารางเวลาการทำงาน
                </div>
              </div>
              <div class="form-row col-lg-12"
                   *ngIf="scheduleForm.get('scheduleGroup.scheduleType').value != 'Current'">
                <div class="form-group col-md-3">
                  <label>มีหลายรอบเวลาการทำงาน</label> &nbsp; <label class="text-danger">*</label>
                </div>
                <div class="col-md-5">
                  <div class="radio">
                    <input class="form-check-input" type="radio" id="intvFlag1"
                           formControlName="intvFlag" name="intvFlag"
                           [value]="'1'">
                    <!-- <input type="radio" class="custom-control-input" value="no" name="optradio1" formControlName="scheduleMultiple"> -->
                    <label class="form-check-label" for="intvFlag1">ใช่</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="radio">
                    <input class="form-check-input" type="radio" id="intvFlag2"
                           formControlName="intvFlag" name="intvFlag"
                           [value]="'2'">
                    <!-- <input type="radio" class="custom-control-input" value="yes" name="optradio2" formControlName="scheduleMultiple"> -->
                    <label class="form-check-label" for="intvFlag2">ไม่ใช่</label>
                  </div>
                </div>
                <div class="form-group full col-md-6"
                     *ngIf="scheduleForm.get('scheduleGroup.intvFlag').value == '1'">
                  <label>เวลาเริ่มต้นการทำงาน (HH:MM)</label> &nbsp; <label class="text-danger">*</label>
                  <timepicker [(ngModel)]="startTime" [showMeridian]="false" id="startTime"
                              formControlName="startTime"></timepicker>
                 
                </div>
                <div class="form-group col-lg-6"
                     *ngIf="scheduleForm.get('scheduleGroup.intvFlag').value == '1'">
                  <label>เวลาสิ้นสุดการทำงาน (HH:MM)</label> &nbsp; <label class="text-danger">*</label>
                  <timepicker [(ngModel)]="endTime" [showMeridian]="false" id="endTime"
                              formControlName="endTime"></timepicker>
                </div>

                <div class="form-group col-lg-6"
                     *ngIf="scheduleForm.get('scheduleGroup.intvFlag').value == '1'">
                  <label>รอบเวลาการทำงาน (นาที)</label> &nbsp; <label class="text-danger">*</label>
                  <input type="number" id="intvTime" formControlName="intvTime" class="form-control" oninput="javascript: if (this.value.length > this.maxLength)  this.value = this.value.slice(0, this.maxLength);"
                         required min="0" max="9999" [maxLength]="4">
                  <!--                  <p class="text-danger"-->
                  <!--                     *ngIf="!scheduleForm.get('scheduleGroup.intvTime').valid && scheduleForm.get('scheduleGroup.intvTime').touched">-->
                  <!--                    <sup>*</sup>Please enter intvTime</p>-->
                  <div class="text-danger"
                       *ngIf="!scheduleForm.get('scheduleGroup.intvTime').valid && scheduleForm.get('scheduleGroup.intvTime').touched">
                    กรุณากรอกรอบเวลาการทำงาน (นาที)
                  </div>
                </div>

                <div class="form-group col-lg-6"
                     *ngIf="scheduleForm.get('scheduleGroup.intvFlag').value == '2'">
                  <label>เวลาการทำงาน (HH:MM)</label> &nbsp; <label class="text-danger">*</label>
                  <timepicker [(ngModel)]="executeTime" [showMeridian]="false" id="executeTime"
                              formControlName="executeTime"></timepicker>
                </div>

                <!-- วันในสัปดาห์ -->
                <div class="form-group col-lg-6"
                     *ngIf="scheduleForm.get('scheduleGroup.scheduleType').value == 'DayOfWeek'">
                  <label>วันในสัปดาห์</label> &nbsp; <label class="text-danger">*</label>
<!--                  <input type="text" id="dayOfWeekTh" formControlName="dayOfWeekTh" class="form-control"-->
<!--                         placeholder="ระบุวันในสัปดาห์"-->
<!--                         maxlength="70"-->
<!--                         [readOnly]="true">-->
                  <div class="col-lg-12">
                    <input for="dayOfWeekTh"
                           value="Sunday"
                           type="checkbox"
                           class="checkBox"
                           (change)="onCheckedWeek($event)">
                    <label>วันอาทิตย์</label>
                  </div>
                  <div class="col-lg-12 mt-1">
                    <input for="dayOfWeekTh"
                           value="Monday"
                           type="checkbox"
                           class="checkBox"
                           (change)="onCheckedWeek($event)">
                    <label>วันจันทร์</label>
                  </div>
                  <div class="col-lg-12">
                    <input for="dayOfWeekTh"
                           value="Tuesday"
                           type="checkbox"
                           class="checkBox"
                           (change)="onCheckedWeek($event)">
                    <label>วันอังคาร</label>
                  </div>
                  <div class="col-lg-12">
                    <input for="dayOfWeekTh"
                           value="Wednesday"
                           type="checkbox"
                           class="checkBox"
                           (change)="onCheckedWeek($event)">
                    <label>วันพุธ</label>
                  </div>
                  <div class="col-lg-12">
                    <input for="dayOfWeekTh"
                           value="Thursday"
                           type="checkbox"
                           class="checkBox"
                           (change)="onCheckedWeek($event)">
                    <label>วันพฤหัสบดี</label>
                  </div>
                  <div class="col-lg-12">
                    <input for="dayOfWeekTh"
                           value="Friday"
                           type="checkbox"
                           class="checkBox"
                           (change)="onCheckedWeek($event)">
                    <label>วันศุกร์</label>
                  </div>
                  <div class="col-lg-12">
                    <input for="dayOfWeekTh"
                           value="Saturday"
                           type="checkbox"
                           class="checkBox"
                           (change)="onCheckedWeek($event)">
                    <label>วันเสาร์</label>
                  </div>

                  <!--                  <p class="text-danger"-->
                  <!--                     *ngIf="!scheduleForm.get('scheduleGroup.dayOfWeek').valid && scheduleForm.get('scheduleGroup.dayOfWeek').touched">-->
                  <!--                    <sup>*</sup>Please enter dayOfWeek</p>-->
                  <div class="text-danger"
                       *ngIf="!scheduleForm.get('scheduleGroup.dayOfWeekTh').valid && scheduleForm.get('scheduleGroup.dayOfWeekTh').value == null">
                    กรุณาเลือกวันในสัปดาห์
                  </div>
                  <div class="text-danger"
                       *ngIf="!scheduleForm.get('scheduleGroup.dayOfWeekTh').touched && scheduleForm.get('scheduleGroup.dayOfWeekTh').value == ''">
                    กรุณาเลือกวันในสัปดาห์
                  </div>
                </div>
                <!-- วันในเดือน -->
                <div class="form-row col-lg-6"
                     *ngIf="scheduleForm.get('scheduleGroup.scheduleType').value == 'DayOfMonth'">
                  <div class="form-group col-lg-12">
                  <label>วันในเดือน</label> &nbsp; <label class="text-danger">*</label>
<!--                  <input type="text" id="dayOfMonth" formControlName="dayOfMonth"-->
<!--                         placeholder="ระบุวันในเดือน"-->
<!--                         class="form-control">-->
                  <div class="text-danger"
                       *ngIf="!scheduleForm.get('scheduleGroup.dayOfMonth').valid && scheduleForm.get('scheduleGroup.dayOfMonth').touched">
                    กรุณาเลือกวันในเดือน
                  </div>
                </div>
                  <div class="form-row col-lg-2" *ngFor="let item of monthIndex; let i = index;">

                    <div class="form-group col-lg-12">
                      <input value="{{item}}"
                             type="checkbox"
                             class="checkBox"
                             (change)="onCheckedMonth($event)">
                      <label>{{item}}</label>
                    </div>
                  </div>
                  <div class="form-group col-lg-3">
                    <input value="endOfMonth"
                           type="checkbox"
                           class="checkBox"
                           (change)="onCheckedMonth($event)">
                    <label>endOfMonth</label>
                  </div>
                  <!-- *ngFor="let item of monthIndex; let i = index;"  monthIndex
                  class="form-control"
                         [bsConfig]="{ dateInputFormat: 'DD/MM', minMode: 'day'}"
                         autocomplete="off"
                         bsDatepicker>

                  [bsConfig]="{ dateInputFormat: 'DD/MM'}"
                        [minMode]="'month'"
                  autocomplete="off"
                                                         bsDatepicker
                  -->
                  <!--                  <p class="text-danger"-->
                  <!--                     *ngIf="!scheduleForm.get('scheduleGroup.dayOfMonth').valid && scheduleForm.get('scheduleGroup.dayOfMonth').touched">-->
                  <!--                    <sup>*</sup>Please enter dayOfMonth</p>-->
                </div>
                <!-- วันในปี -->
                <div class="form-group col-lg-6"
                     *ngIf="scheduleForm.get('scheduleGroup.scheduleType').value == 'DayOfYear'">
                  <label>วันในปี</label> &nbsp; <label class="text-danger">*</label>
                  <input type="text" id="dayOfYear" formControlName="dayOfYear"
                         placeholder="ระบุวันในปี  รูปแบบ DD/MM เช่น 01/03"
                         class="form-control">
                  <div class="text-danger"
                       *ngIf="!scheduleForm.get('scheduleGroup.dayOfYear').valid && scheduleForm.get('scheduleGroup.dayOfYear').touched">
                    รองรับรูปแบบ DD/MM เท่านั้น
                  </div>
                  <!--                  <p class="text-danger"-->
                  <!--                     *ngIf="!scheduleForm.get('scheduleGroup.dayOfYear').valid && scheduleForm.get('scheduleGroup.dayOfYear').touched">-->
                  <!--                    <sup>*</sup>Please enter dayOfYear</p>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table style="margin:auto;">
      <tr>
        <td>
          <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5" id="back"
                  (click)="onBack()"><i
            class="fa fa-chevron-left"></i> ย้อนกลับ
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-auto btn-orange2 w-md m-b-5" (click)="resetForm()" id="clear"><i
            class="fa fa-repeat"></i> ล้างข้อมูล
          </button>
        </td>
        <td>
          <button type="submit" class="btn btn-auto btn-green w-md m-b-5" id="save">
            <i class="fa fa-floppy-o"></i> บันทึก
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>
