<form [formGroup]="importCAFormGroup" (ngSubmit)="submitForm()">
  <div class="card mb-4">
    <div class="card-header ">
      <div class="justify-content-left">
        <h4>รายละเอียดข้อมูล</h4>
      </div>
    </div>
    <div class="card-body">
      <!-- row 1 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="issuedName"> Issued Name: </label>
        </div>
        <div class="col-12 col-sm-5">
          <input type="text" id="issuedName" class="form-control" formControlName="issuedName">
          <div *ngIf="isInvalidAndTouched(issuedNameControl)" class="red error-msg">
            <div *ngIf="issuedNameControl.errors.required"> กรุณาระบุ Issued Name </div>
          </div>
        </div>
      </div>
      <!-- row 2 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="issuedBy"> Issued By: </label>
        </div>
        <div class="col-12 col-sm-5">
          <input type="text" id="issuedBy" class="form-control" formControlName="issuedBy">
          <div *ngIf="isInvalidAndTouched(issuedByControl)" class="red error-msg">
            <div *ngIf="issuedByControl.errors.required"> กรุณาระบุ Issued By </div>
          </div>
        </div>
      </div>
      <!-- row 3 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="file"> CA File: </label>
        </div>
        <div class="col-12 col-sm-4">
          <div class="custom-file">
            <input id="file" type="file" class="custom-file-input" accept=".cer" (change)="setFileName($event)" style="overflow: hidden">
            <label class="custom-file-label" style="overflow: hidden">{{fileNameControl.value == null ? '' : fileNameControl.value}}</label>
            <p class="text-center"> ไฟล์ชนิด .cer เท่านั้น</p>
            <div *ngIf="isInvalidAndTouched(fileNameControl)" class="red error-msg">
              <div *ngIf="fileNameControl.errors.required"> กรุณาแนบเอกสาร </div>
            </div>
          </div>
          <br />
        </div>

      </div>

      <div class="text-center">
        <div class="btn-group-md ">
          <button type="submit" class="col-md-2 btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> บันทึก</button>
          <button type="button" class="col-md-2 btn btn-danger" *ngIf="isShowDeleteBtn"><i class="glyphicon glyphicon-trash" (click)="delete()"></i> ลบ</button>
          <button type="reset" class="col-md-2 btn btn-light"><i class="glyphicon glyphicon-refresh"></i> ล้างค่า</button>
          <a type="button" class="col-md-2 btn btn-info" [routerLink]="['/cert/admin/import-CA']" ><i class="glyphicon glyphicon-home" ></i> กลับหน้าหลัก</a>
        </div>
      </div>
    </div>
  </div>
</form>
