<div class="row my-5">
    <div class="col-12">
        <div class="text-center">
            <h3>กรุณาเลือกหัวข้อที่ต้องการคัดค้นข้อมูล</h3>
        </div>
    </div>
</div>

<div class="row mb-5">
    <div class="col-12">
        <div class="row">
            <div class="col-sm-3 pointer" [routerLink]="['/dss/wht/search']">
                <p class="text-center">
                    <img width="125px" src="assets/img/menu1_tax.png" />
                </p>
                <div class="text-center h5">
                    1. ภาษีเงินไดัหัก ณ ที่จ่าย<br>และภาษีมูลค่าเพิ่ม จากธุรกรรม e-WHT
                </div>
            </div>
            <div class="col-sm-3 pointer" [routerLink]="['/dss/wht/spending-search']">
                <p class="text-center">
                    <img width="125px" src="assets/img/menu2_spending.png" />
                </p>
                <div class="text-center h5">
                    2. การใช้จ่าย<br>จากธุรกรรม e-WHT
                </div>
            </div>
            <div class="col-sm-3 pointer" [routerLink]="['/dss/wht/special-search']">
                <p class="text-center">
                    <img width="125px" src="assets/img/menu3_special.png" />
                </p>
                <div class="text-center h5">
                    3. ธุรกรรม<br>ลักษณะเฉพาะ
                </div>
            </div>
            <div class="col-sm-3 pointer" [routerLink]="['/dss/etax-summary-search']">
                <p class="text-center">
                    <img width="125px" src="assets/img/menu4_etaxinvoice.png" />
                </p>
                <div class="text-center h5">
                    4. ใบกำกับภาษีอิเล็กทรอนิกส์<br>และใบรับอิเล็กทรอนิกส์
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card my-4">
    <div class="card-body">
        <div class="ax_default heading_2">
            <div class="text">
                <p><span style="font-weight:700;text-decoration:underline;">คำอธิบาย</span><span
                        style="font-weight:400;">&nbsp; </span></p>
                <p><span style="font-weight:700;">1. ภาษีเงินไดัหัก ณ ที่จ่าย และภาษีมูลค่าเพิ่มจากธุรกรรม e-WHT</span><span style="font-weight:400;"> :
                        ข้อมูลธุรกรรมที่มีภาษีเงินได้หัก ณ ที่จ่าย
                        และภาษีมูลค่าเพิ่มที่มาจากระบบ e-WHT</span></p>
                <p><span style="font-weight:700;">2. ข้อมูลการใช้จ่ายจาก e-WHT</span><span style="font-weight:400;">
                        : ข้อมูลที่ระบุประเภทเงินได้เป็น 099 (สำหรับธุรกรรมในประเทศ) และ 599
                        (สำหรับธุรกรรมระหว่างประเทศ) ที่มาจากระบบ e-WHT </span></p>
                <p><span style="font-weight:400;">&nbsp;&nbsp;&nbsp; ซึ่งเป็นธุรกรรมที่ไม่มีภาษีเงินได้หัก ณ ที่จ่าย
                        (แต่อาจจะมีภาษีมูลค่าเพิ่มได้) </span></p>
                <p><span style="font-weight:700;">3. ข้อมูลธุรกรรมลักษณะเฉพาะ</span><span style="font-weight:400;">
                        :&nbsp; ธุรกรรมที่มีลักษณะอย่างหนึ่งอย่างใดต่อไปนี้ </span></p>
                <p><span style="font-weight:400;">&nbsp;&nbsp;&nbsp; - มีการฝากหรือรับโอนเงินทุกบัญชีรวมกันตั้งแต่
                        3,000 ครั้งขึ้นไป หรือ</span></p>
                <p><span style="font-weight:400;">&nbsp;&nbsp;&nbsp; - มีการฝากหรือรับโอนเงินทุกบัญชีรวมกันตั้งแต่
                        400 ครั้งและมียอดรวมของธุรกรรมรวมกันตั้งแต่ 2,000,000 บาทขึ้นไป</span></p>
                <p><span style="font-weight:700;">4. ใบกำกับภาษีอิเล็กทรอนิกส์และใบรับอิเล็กทรอนิกส์ </span><span
                        style="font-weight:400;"> : </span></p>
                <p><span style="font-weight:400;">&nbsp;&nbsp;&nbsp; - ใบกำกับภาษีอิเล็กทรอนิกส์ (e-Tax
                        Invoice)&nbsp; รวมถึง ใบเพิ่มหนี้และใบลดหนี้
                        ซึ่งได้มีการจัดทำข้อความขึ้นเป็นข้อมูลอิเล็กทรอนิกส์ และลงลายมือชื่อดิจิทัล (Digital
                        Signature)&nbsp; &nbsp; </span></p>
                <p><span style="font-weight:400;">&nbsp;&nbsp; &nbsp;&nbsp; หรือได้มีการประทับรับรองเวลา (Time
                        Stamp) ด้วยระบบ e-Tax Invoice by Email&nbsp; </span></p>
                <p><span style="font-weight:400;">&nbsp;&nbsp;&nbsp; - ใบรับ (e-Receipt)&nbsp;
                        ที่ได้มีการจัดทำข้อความขึ้นเป็นข้อมูลอิเล็กทรอนิกส์
                        ซึ่งได้ลงลายมือชื่อดิจิทัลด้วยวิธีการที่กรมสรรพากรกำหนด</span></p>
            </div>
        </div>

        <div class="row">

        </div>
    </div>
</div>