#watermark {
    height: 1000px;
    width: 1000px;
    position: relative;
    overflow: hidden;
  }
  #watermark img {
    max-width: 100%;
  }
  #watermark .x {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 18px;
    pointer-events: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
  }

  #u287_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:21px;
  }
  #u287 {
    border-width:0px;
    position:absolute;
    left:91px;
    top:294px;
    width:218px;
    height:21px;
    -webkit-transform:rotate(320deg);
    -moz-transform:rotate(320deg);
    -ms-transform:rotate(320deg);
    transform:rotate(320deg);
    font-family:'TH Sarabun New Bold', 'TH Sarabun New Regular', 'TH Sarabun New';
    font-weight:700;
    font-style:normal;
    font-size:20px;
    color:rgba(51, 51, 51, 0.247058823529412);
  }
  #u287_text {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    word-wrap:break-word;
  }