._status {
  list-style-type: none;
  padding-bottom: 40px;
}

._status li {
  display: inline-block;
  text-align: center;
  line-height: 3.5em;
  color: silver;
  border-bottom: 4px solid silver;
  min-width: 300px;
}

._status li:after {
  content: "\00a0\00a0";
}

._status li:before {
  position: relative;
  bottom: -2.5em;
  float: left;
  left: 50%;
  content: "";
  color: white;
  background-color: silver;
  height: 2.2em;
  width: 2.2em;
  line-height: 2.2em;
  border: none;
  border-radius: 2.2em;
}

._status li._status-success {
  color: black;
  border-bottom: 4px solid green;
}

._status li._status-success:before {
  content: "\2713";
  color: white;
  background-color: green;
  height: 2.2em;
  width: 2.2em;
  line-height: 2.2em;
  border: none;
  border-radius: 2.2em;
}

._status li._status-process {
  color: black;
  border-bottom: 4px solid #ffc107;
}

._status li._status-process:before {
  content: "\2B9E";
  color: white;
  background-color: #ffc107;
  height: 2.2em;
  width: 2.2em;
  line-height: 2.2em;
  border: none;
  border-radius: 2.2em;
}

._status li._status-fail {
  color: black;
  border-bottom: 4px solid red;
}

._status li._status-fail:before {
  content: "\2715";
  color: white;
  background-color: red;
  height: 2.2em;
  width: 2.2em;
  line-height: 2.2em;
  border: none;
  border-radius: 2.2em;
}