<section class="content">
  <div class="header-title">
    <h1><strong>นำเข้าและประมวลผลตรวจสอบรายได้</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / นำเข้าและประมวลผลตรวจสอบรายได้</small></h1>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading">
          <div class="panel-title">
            <h3><i class="fa fa-file-text"></i> นำเข้าและประมวลผลตรวจสอบรายได้</h3>
          </div>
        </div>

        <div class="panel-body no-padding"></div>

        <div class="panel-body">
          <form role="form" [formGroup]="welfareRegistrantLogForm" (ngSubmit)="saveWelfareRegistrantLog()">
            <div class="form-group row">
              <div class="col-12 col-sm-2 text-sm-right text-left">
                <label>ปีภาษี : </label>
              </div>
              <div class="col-12 col-sm-2 text-left">
                {{taxYear.value}}
              </div>

              <div class="col-12 col-sm-2 text-sm-right text-left">
                <label>ประเภท : </label>
              </div>
              <div class="col-12 col-sm-2 text-left">
                {{sourceEnumDesc.value}}
              </div>

              <div class="col-12 col-sm-2 text-sm-right text-left">
                <label>ชื่อไฟล์นำเข้า : </label>
              </div>
              <div class="col-12 col-sm-2 text-left">
                {{fileName.value}}
              </div>
            </div>

            <div class="form-group row">
              <div class="col-12 col-sm-2 text-sm-right text-left">
                <label>ชื่อไฟล์ A2 : </label>
              </div>
              <div class="col-12 col-sm-2 text-left">
                {{a2FileName.value}}
              </div>

              <div class="col-12 col-sm-2 text-sm-right text-left">
                <label>ชื่อไฟล์รายได้ที่ตรวจสอบแล้ว : </label>
              </div>
              <div class="col-12 col-sm-4 text-left">
                <div class="form-group custom-file">
                  <!-- <input #uploadFileInput type="file" class="form-control " (change)="setUploadedFile($event.srcElement)" accept=".txt" style="overflow: hidden" multiple> -->
                  <input #uploadFileInput type="file" class="form-control " (change)="setUploadedFiles($event)" accept=".txt" style="overflow: hidden" multiple>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="form-group col-lg-1 reset-button"></div>
              <div class="form-group col-lg-2 reset-button">
                <button type="button" class="btn btn-warning margin-top-10" (click)="back()">
                  <i class="glyphicon glyphicon-repeat"></i> ย้อนกลับ
                </button>
              </div>

              <div class="form-group col-lg-4 reset-button">
                <button type="submit" *ngIf="authService.hasAnyPermission(['GWSP010100.ADD'])" class="btn btn-primary margin-top-10" [disabled]="(welfareRegistrantLogForm.get('isFileCorrectAll').value || welfareRegistrantLogForm.get('isProcessAll').value)
                  || (welfareRegistrantLogForm.get('isFileCorrectAll').value && welfareRegistrantLogForm.get('isProcessAll').value)">
                  <i class="glyphicon glyphicon-upload"></i> นำเข้าและตรวจสอบไฟล์
                </button>
              </div>

              <div class="form-group col-lg-4 reset-button">
                <button type="button" *ngIf="authService.hasAnyPermission(['GWSP010100.UPDATE'])" class="btn btn-primary margin-top-10" (click)="processIncome()"
                  [disabled]="!welfareRegistrantLogForm.get('isFileCorrectAll').value
                  || (welfareRegistrantLogForm.get('isFileCorrectAll').value && welfareRegistrantLogForm.get('isProcessAll').value) ">

                  <i class="glyphicon glyphicon-upload"></i> ประมวลผลตรวจสอบรายได้
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col-12 text-center">
                <ul class="_status">
                  <li [ngClass]="{
                    '_status-success': welfareRegistrantLog.stepCode == '3' || welfareRegistrantLog.stepCode == '7' || welfareRegistrantLog.stepCode == '8' || welfareRegistrantLog.stepCode == '9' || welfareRegistrantLog.stepCode == '10' || welfareRegistrantLog.stepCode == '11', 
                    '_status-process': welfareRegistrantLog.stepCode == '5' || welfareRegistrantLog.stepCode == '6',
                    '_status-fail': welfareRegistrantLog.stepCode == '12' 
                  }">นำเข้าข้อมูลผู้ลงทะเบียน</li>
                  <li [ngClass]="{
                    '_status-success': welfareRegistrantLog.stepCode == '3' || welfareRegistrantLog.stepCode == '9' || welfareRegistrantLog.stepCode == '10' || welfareRegistrantLog.stepCode == '11', 
                    '_status-process': welfareRegistrantLog.stepCode == '8',
                    '_status-fail': welfareRegistrantLog.stepCode == '12' 
                  }">นำเข้าข้อมูลและตรวจสอบไฟล์รายได้</li>
                  <li [ngClass]="{
                    '_status-success': welfareRegistrantLog.stepCode == '3' || welfareRegistrantLog.stepCode == '11',
                    '_status-process': welfareRegistrantLog.stepCode == '10',
                    '_status-fail': welfareRegistrantLog.stepCode == '12' 
                  }">ประมวลผลรายได้</li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-bd lobidisable">
                  <div class="panel-heading clearfix">
                    <div class="panel-title">
                      <h3><i class="fa fa-list"></i> ผลการค้นหา</h3>
                    </div>
                  </div>

                  <div class="panel-body">
                    <tabset #tabVerificationFile>
                      <tab heading="ระบบงานภาษีเงินได้บุคคลธรรมดา" #ITPP>
                          <table id="itppTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                            <thead>
                              <tr>
                                <th rowspan="2" class="text-center">#</th>
                                <th rowspan="2" class="text-center">ชื่อไฟล์</th>
                                <th rowspan="2" class="text-center">วันเวลาที่อัพโหลด</th>
                                <th colspan="2" class="text-center">นำเข้าข้อมูล</th>
                                <th colspan="2" class="text-center">จำนวนข้อมูลนำเข้า</th>
                                <th rowspan="2" class="text-center">ความถูกต้องของไฟล์</th>
                                <th colspan="3" class="text-center">ประมวลผลตรวจสอบรายได้ตามเงื่อนไข</th>
                                <th rowspan="2" class="text-center"> </th>
                              </tr>
                              <tr role="row">
                                  <th scope="col" class="text-center">วันเวลาที่เริ่มต้น</th>
                                  <th scope="col" class="text-center">วันเวลาที่เสร็จสิ้น</th>
                                <th scope="col" class="text-center">รายการ</th>
                                <th scope="col" class="text-center">คน</th>
                                <th scope="col" class="text-center">วันเวลาที่เริ่มประมวลผล</th>
                                <th scope="col" class="text-center">วันเวลาที่ประมวลผลเสร็จ</th>
                                <th scope="col" class="text-center"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr role="row" class="odd" *ngFor="let v of itppVerificationLogList; index as i"  formArrayName="itppVerificationLogList">
                                <ng-container [formGroupName]="i">
                                  <td class="text-center">{{i+1}}</td>
                                  <td class="text-left">{{v.uploadFileName}}</td>
                                  <td class="text-left">{{v.uploadFileDate | thaidate : 'DD/MM/YYYY HH:mm:ss'}}</td>
                                  <td class="text-center">{{v.importStartDate}}</td>
                                  <td class="text-center">{{v.importEndDate}}</td>
                                  <td class="text-right">{{v.insertRecord | number}}</td>
                                  <td class="text-right">{{v.totalPeople | number}}</td>
                                  <td class="text-center">
                                    <i class="fa fa-check-circle fa-2x" style="color: green;" *ngIf="v.importEndDate != null && v.fileCorrect != null && v.fileCorrect"></i>
                                    <a href="javascript:void(0)" (click)="goToVerificationLog(v)" *ngIf="v.importEndDate != null && v.fileCorrect != null && !v.fileCorrect">
                                      <i class="fa fa-times-circle fa-2x" style="color: red;"></i>
                                    </a>
                                  </td>
                                  <td class="text-center">{{v.processStartDate }}</td>
                                  <td class="text-center">{{v.processEndDate}}</td>
                                  <td class="text-center">
                                    <i class="fa fa-check-circle fa-2x" style="color: green;" *ngIf="v.importEndDate != null && v.process != null && v.process"></i>
                                    <i class="fa fa-times-circle fa-2x" style="color: red;" *ngIf="v.importEndDate != null && v.process != null && !v.process"></i>
                                  </td>
                                  <td class="text-center">
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-danger btn-sm btn-auto" (click)="confirmRemoveFile(v, i)" tooltip="ลบไฟล์" *ngIf="!v.process && authService.hasAnyPermission(['GWSP010100.DELETE'])"  >
                                        <i class="fa fa-trash"></i>
                                      </button>
                                    </div>
                                  </td>
                                </ng-container>
                              </tr>
                              <tr *ngIf="!itppVerificationLogList || (itppVerificationLogList && itppVerificationLogList.length === 0)">
                                <td colspan="12" class="text-center"> ไม่พบรายการไฟล์ผลตรวจสอบจากระบบงานภาษีเงินได้บุคคลธรรมดา</td>
                              </tr>
                            </tbody>
                          </table>
                      </tab>
                      <tab heading="ระบบงานภาษีเงินได้หัก ณ ที่จ่าย" #WHT>
                        <table id="whtTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                          <thead>
                              <tr>
                                <th rowspan="2" class="text-center">#</th>
                                <th rowspan="2" class="text-center">ชื่อไฟล์</th>
                                <th rowspan="2" class="text-center">วันเวลาที่อัพโหลด</th>
                                <th colspan="2" class="text-center">นำเข้าข้อมูล</th>
                                <th colspan="2" class="text-center">จำนวนข้อมูลนำเข้า</th>
                                <th rowspan="2" class="text-center">ความถูกต้องของไฟล์</th>
                                <th colspan="3" class="text-center">ประมวลผลตรวจสอบรายได้ตามเงื่อนไข</th>
                                <th rowspan="2" class="text-center"> </th>
                              </tr>
                              <tr role="row">
                                  <th scope="col" class="text-center">วันเวลาที่เริ่มต้น</th>
                                  <th scope="col" class="text-center">วันเวลาที่เสร็จสิ้น</th>
                                <th scope="col" class="text-center">รายการ</th>
                                <th scope="col" class="text-center">คน</th>
                                <th scope="col" class="text-center">วันเวลาที่เริ่มประมวลผล</th>
                                <th scope="col" class="text-center">วันเวลาที่ประมวลผลเสร็จ</th>
                                <th scope="col" class="text-center"></th>
                              </tr>
                            </thead>
                          <tbody>
                            <tr role="row" class="odd" *ngFor="let v of whtVerificationLogList; index as i"  formArrayName="whtVerificationLogList">
                              <ng-container [formGroupName]="i">
                                <td class="text-center">{{i+1}}</td>
                                <td class="text-left">{{v.uploadFileName}}</td>
                                <td class="text-left">{{v.uploadFileDate | thaidate : 'DD/MM/YYYY HH:mm:ss'}}</td>
                                <td class="text-center">{{v.importStartDate}}</td>
                                <td class="text-center">{{v.importEndDate}}</td>
                                <td class="text-right">{{v.insertRecord | number}}</td>
                                <td class="text-right">{{v.totalPeople | number}}</td>
                                <td class="text-center">
                                  <i class="fa fa-check-circle fa-2x" style="color: green;" *ngIf="v.importEndDate != null && v.fileCorrect != null && v.fileCorrect"></i>
                                  <a href="javascript:void(0)" (click)="goToVerificationLog(v)" *ngIf="v.importEndDate != null && v.fileCorrect != null && !v.fileCorrect">
                                    <i class="fa fa-times-circle fa-2x" style="color: red;"></i>
                                  </a>
                                </td>
                                <td class="text-center">{{v.processStartDate }}</td>
                                <td class="text-center">{{v.processEndDate}}</td>
                                <td class="text-center">
                                  <i class="fa fa-check-circle fa-2x" style="color: green;" *ngIf="v.importEndDate != null && v.process != null && v.process"></i>
                                  <i class="fa fa-times-circle fa-2x" style="color: red;" *ngIf="v.importEndDate != null && v.process != null && !v.process"></i>
                                </td>
                                <td class="text-center">
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-danger btn-sm btn-auto" (click)="confirmRemoveFile(v, i)" tooltip="ลบไฟล์"  *ngIf="!v.process && authService.hasAnyPermission(['GWSP010100.DELETE'])" >
                                      <i class="fa fa-trash"></i>
                                    </button>
                                  </div>
                                </td>
                              </ng-container>
                            </tr>
                            <tr *ngIf="!whtVerificationLogList || (whtVerificationLogList && whtVerificationLogList.length === 0)">
                              <td colspan="10" class="text-center"> ไม่พบรายการไฟล์ผลตรวจสอบจากระบบงานภาษีเงินได้หัก ณ ที่จ่าย</td>
                            </tr>
                          </tbody>
                        </table>
                      </tab>
                      <tab heading="ระบบงานภาษีมูลค่าเพิ่ม" #VAT>
                          <table id="vatTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                  <th rowspan="2" class="text-center">#</th>
                                  <th rowspan="2" class="text-center">ชื่อไฟล์</th>
                                  <th rowspan="2" class="text-center">วันเวลาที่อัพโหลด</th>
                                  <th colspan="2" class="text-center">นำเข้าข้อมูล</th>
                                  <th colspan="2" class="text-center">จำนวนข้อมูลนำเข้า</th>
                                  <th rowspan="2" class="text-center">ความถูกต้องของไฟล์</th>
                                  <th colspan="3" class="text-center">ประมวลผลตรวจสอบรายได้ตามเงื่อนไข</th>
                                  <th rowspan="2" class="text-center"> </th>
                                </tr>
                                <tr role="row">
                                    <th scope="col" class="text-center">วันเวลาที่เริ่มต้น</th>
                                    <th scope="col" class="text-center">วันเวลาที่เสร็จสิ้น</th>
                                  <th scope="col" class="text-center">รายการ</th>
                                  <th scope="col" class="text-center">คน</th>
                                  <th scope="col" class="text-center">วันเวลาที่เริ่มประมวลผล</th>
                                  <th scope="col" class="text-center">วันเวลาที่ประมวลผลเสร็จ</th>
                                  <th scope="col" class="text-center"></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr role="row" class="odd" *ngFor="let v of vatVerificationLogList; index as i"  formArrayName="vatVerificationLogList">
                                  <ng-container [formGroupName]="i">
                                    <td class="text-center">{{i+1}}</td>
                                    <td class="text-left">{{v.uploadFileName}}</td>
                                    <td class="text-left">{{v.uploadFileDate | thaidate : 'DD/MM/YYYY HH:mm:ss'}}</td>
                                    <td class="text-center">{{v.importStartDate}}</td>
                                    <td class="text-center">{{v.importEndDate}}</td>
                                    <td class="text-right">{{v.insertRecord | number}}</td>
                                    <td class="text-right">{{v.totalPeople | number}}</td>
                                    <td class="text-center">
                                      <i class="fa fa-check-circle fa-2x" style="color: green;" *ngIf="v.importEndDate != null && v.fileCorrect != null && v.fileCorrect"></i>
                                      <a href="javascript:void(0)" (click)="goToVerificationLog(v)" *ngIf="v.importEndDate != null && v.fileCorrect != null && !v.fileCorrect">
                                        <i class="fa fa-times-circle fa-2x" style="color: red;"></i>
                                      </a>
                                    </td>
                                    <td class="text-center">{{v.processStartDate }}</td>
                                    <td class="text-center">{{v.processEndDate}}</td>
                                    <td class="text-center">
                                      <i class="fa fa-check-circle fa-2x" style="color: green;" *ngIf="v.importEndDate != null && v.process != null && v.process"></i>
                                      <i class="fa fa-times-circle fa-2x" style="color: red;" *ngIf="v.importEndDate != null && v.process != null && !v.process"></i>
                                    </td>
                                    <td class="text-center">
                                      <div class="btn-group">
                                        <button type="button" class="btn btn-danger btn-sm btn-auto" (click)="confirmRemoveFile(v, i)" tooltip="ลบไฟล์"  *ngIf="!v.process && authService.hasAnyPermission(['GWSP010100.DELETE'])" >
                                          <i class="fa fa-trash"></i>
                                        </button>
                                      </div>
                                    </td>
                                  </ng-container>
                                </tr>
                                <tr *ngIf="!vatVerificationLogList || (vatVerificationLogList && vatVerificationLogList.length === 0)">
                                  <td colspan="10" class="text-center"> ไม่พบรายการไฟล์ผลตรวจสอบจากระบบงานภาษีมูลค่าเพิ่ม</td>
                                </tr>
                              </tbody>
                            </table>
                      </tab>
                    </tabset>

                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>


</section>
