<div class="content">
  <div class="header-title mb-4">
    <h1><strong>มาตรากฏหมาย </strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / มาตรากฏหมาย</small>
    </h1>

  </div>
  <div class="card border-light mb-4">
    <div class="card-header">
      <h4 class="panel-title">
        <i class="header-title fa fa-file-text"></i> ค้นหา
      </h4>
    </div>
    <div class="card-body">
      <form [formGroup]="sectionForm" (ngSubmit)="onSubmit()">
        <div formGroupName="sectionGroup">

          <div class="form-row">
            <div class="form-group col-lg-6">
              <label>ภ.ง.ด</label>
              <select name="type-data" class="form-control full"
                      formControlName="pnd" id="pnd">
                <option [value]="null" disabled>เลือกทั้งหมด</option>
                <option *ngFor="let dv of PndList"
                        [value]="dv.code">{{dv.description}}</option>
              </select>

            </div>

            <div class="form-group col-lg-6">
              <label>มาตรา</label>
              <input type="text" formControlName="sectionCode"
                     id="SectionCode"
                     class="form-control full"
                     placeholder="ระบุมาตรา">
            </div>

            <div class="form-group col-lg-8">
              <label>คำอธิบาย</label>
              <input type="text" formControlName="sectionDesc"
                     id="SectionDesc"
                     placeholder="ระบุคำอธิบาย"
                     class="form-control full">
            </div>
            <div class="form-group col-lg-2 reset-button">
              <button type="submit" class="btn btn-success margin-top-10" id="list-search"><i
                class="fa fa-search"></i> ค้นหา
              </button>
            </div>
            <div class="form-group col-lg-2 reset-button">
              <button type="button" class="btn btn-warning margin-top-10"
                      (click)="resetForm()" id="clear"><i
                class="fa fa-repeat"></i> ล้างค่า
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!--  -->
  <div class="card border-light mb-4">
    <div class="card-header">
      <h4 class="panel-title">
        <i class="header-title fa fa-file-text"></i> ผลการค้นหา
      </h4>
    </div>
    <div class="card-body">
      <!--          <div style="padding-bottom: 10px">-->
      <!--            แสดงหน้าละ-->
      <!--            <select id="pageSize" [ngModel]="pageSize" (ngModelChange)="getPageSize($event)">-->
      <!--              <option value="5">5</option>-->
      <!--              <option value="10">10</option>-->
      <!--              <option value="15">15</option>-->
      <!--            </select>-->
      <!--            รายการ-->
      <!--          </div>-->

      <table class="table table-striped table-bordered table-sm">
        <thead>
        <tr>
          <th scope="col" class="text-center">ลำดับ</th>
          <th scope="col" class="text-center">มาตรา</th>
          <th scope="col" class="text-center">คำอธิบาย</th>
          <th scope="col" class="text-center">ภ.ง.ด</th>
          <th scope="col" class="text-center">วันที่แก้ไข</th>
          <th scope="col" class="text-center">ผู้แก้ไข</th>
          <th scope="col" class="text-center"></th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let SectionData of SectionList | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: p, totalItems: total }; let i=index">
          <td class="text-center" scope="row">{{ (this.p - 1) * this.pageSize + i + 1 }}</td>
          <td class="text-center">{{SectionData.sectionName || '-'}}</td>
          <td class="text-left">{{SectionData.sectionDesc || '-'}}</td>
          <td class="text-center">{{this.tablePndMap.get(SectionData.pnd) || '-'}}</td>
          <td class="text-center">{{(SectionData.updatedDate | thaidate: 'DD/MM/YYYY HH:mm:ss') || '-'}}</td>
          <td class="text-left">{{SectionData.updatedBy || '-'}}</td>
          <td class="text-center">
            <a class="btn-orange btn-sm" id="edit{{i}}" (click)="onEdit(SectionData)">
              <i class="fa fa-edit" aria-hidden="true" title="แก้ไข"></i>
            </a>
            <a class="btn-orange btn-sm" id="delete{{i}}" (click)="onDelete(SectionData)">
              <i class="fa fa-trash" aria-hidden="true" title="ลบ"></i>
            </a>
          </td>
        </tr>
        <tr *ngIf="SectionList.length === 0">
          <td colspan="11" class="text-center"> ไม่พบข้อมูล</td>
        </tr>
        </tbody>
      </table>
      <div class="row">

        <div class="col-md-5 text-left">
          แสดงผล
          {{SectionList.length}} จาก
          {{total}} รายการ
        </div>
        <div class="col-md-7 text-right">
          <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
        </div>
      </div>
    </div>
  </div>

  <table style="margin:auto;">
    <tr>
      <td>
        <button type="button" class="btn btn-auto btn-green w-md m-b-5" [routerLink]="['add']" id="add"><i
          class="fa fa-plus"></i> &nbsp;เพิ่มข้อมูล
        </button>
      </td>
    </tr>
  </table>
</div>

