<section class="content">
  <div class="header-title">
    <h1><strong>รายงานความผิดพลาดแต่ละรายการ</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / รายงานความผิดพลาดแต่ละรายการ / รายละเอียดรายงานความผิดพลาดแต่ละรายการ</small></h1>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading">
          <div class="panel-title">
            <h3><i class="fa fa-file-text"></i> รายงานความผิดพลาดแต่ละรายการ</h3>
          </div>
        </div>
        <div class="panel-body no-padding"></div>
        <div class="panel-body">
          <form role="form">
            <div class="form-group row">
              <div class="col-12 col-sm-2 text-sm-right text-left">
                <label>ชื่อไฟล์ : </label>
              </div>
              <div class="col-12 col-sm-2 text-left">{{verificationLog.uploadFileName}}</div>
              <div class="col-12 col-sm-2 text-sm-right text-left">
                <label>วันเวลาที่อัพโหลด : </label>
              </div>
              <div class="col-12 col-sm-2 text-left">{{verificationLog.uploadFileDate | thaidate : 'DD/MM/YYYY HH:mm:ss'}}</div>
            </div>

            <div class="form-group row">
              <div class="form-group col-lg-1 reset-button"></div>
              <div class="form-group col-lg-2 reset-button">
                <button type="button" class="btn btn-warning margin-top-10" (click)="back()">
                  <i class="glyphicon glyphicon-repeat"></i> ย้อนกลับ
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="panel panel-bd lobidisable">
          <div class="panel-heading">
            <div class="panel-title">
              <h3><i class="fa fa-file-text"></i> ดูรายละเอียดรายงานความผิดพลาดแต่ละรายการ</h3>
            </div>
          </div>
          <div class="panel-body no-padding"></div>
          <div class="panel-body">
            <table id="whtTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th class="text-center" width="60">ลำดับ</th>
                  <th class="text-center" width="200">ลำดับรายการที่ผิดพลาด</th>
                  <th class="text-center">รายละเอียดความผิดพลาด*</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let v of pageResponse.content; index as i;">
                  <td class="text-center">{{i+1}}</td>
                  <td class="text-center">{{v.fileRow}}</td>
                  <td>{{v.detail}}</td>
                </tr>
            </table>
            <div class="row">
              <div class="col-sm-5">
                <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
                  แสดงผล
                  {{pageResponse.numberOfElements}} จาก
                  {{pageResponse.totalPages}} รายการ
                </div>
              </div>
              <div class="col-sm-7 text-right">
                <pagination style="float: right;" [totalItems]="pageResponse.totalPages" previousText="ก่อนหน้า"
                  nextText="ถัดไป" [rotate]="true" [maxSize]="5" [(ngModel)]="pageRequest.page"
                  (pageChanged)="pageChange($event,limit)" (limit)="limit" [itemsPerPage]="pageResponse.size"
                  aria-label="Default pagination"></pagination>
              </div>
            </div>
            <p class="mt-20">*คำอธิบายรายละเอียดความผิดพลาด : ลำดับของ Column : สาเหตุของความผิดพลาด และคั่นด้วย |</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
