<section class="content">
  <div class="header-title mb-4">
    <h1><strong>รายการใบคำขออิเล็กทรอนิกส์สำหรับ HSM</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / รายการรออนุมัติ</small></h1>
  </div>
  <div class="card mb-4">
      <div class="card-header">
          <h4><i class="header-title fa fa-file-text"></i> แบบคำขอใบรับรองอิเล็กทรอนิกส์</h4>
      </div>
      <div class="card-body">
          <form [formGroup]="searchVuserCertCriteria" (ngSubmit)="getData()">
              <div class="row">
                <div class="form-group col-lg-4">
                  <label>เลขที่ใบคำขอ</label>
                  <input type="text" class="form-control" name="reqId" id="reqId" formControlName="reqId"
                    placeholder="เลขที่ใบคำขอ">
                </div>
                <div class="form-group col-lg-4">
                  <label>แบบคำขอ</label>
                  <select class="form-control" id="requestType" formControlName="requestTypeId">
                    <option value="">ทั้งหมด</option>
                    <option *ngFor="let d of dropdownMcerRequestType" [value]="d.requestTypeId">
                      {{d.requestTypeDesc}}</option>
                  </select>
                </div>
                <div class="form-group col-lg-4">
                  <label>เลขประจำตัวผู้เสียภาษีอากร/เลขลสก.</label>
                  <input type="text" class="form-control" name="nid" id="nid" formControlName="nid"
                    placeholder="เลขประจำตัวผู้เสียภาษีอากร/เลขลสก.">
                </div>
                <div class="form-group col-lg-4">
                  <label>ชื่อผู้เสียภาษีอากร</label>
                  <input type="text" class="form-control" name="name" id="name" formControlName="name"
                    placeholder="ชื่อผู้เสียภาษีอากร">
                </div>
                <div class="form-group col-lg-4">
                  <label>กลุ่มผู้ใช้งาน</label>
                  <select class="form-control" id="userType" formControlName="userTypeId">
                    <option value="">ทั้งหมด</option>
                    <option *ngFor="let d of dropdowMUserType" [value]="d.userTypeId">
                      {{d.userTypeName}}</option>
                  </select>
                </div>
                <div class="form-group col-lg-4">
                    <label>สถานะการอนุมัติ</label>
                    <select class="form-control" id="approvalStatus" formControlName="approvalStatusId">
                      <option value="">ทั้งหมด</option>
                      <option *ngFor="let d of dropdownMApprovalStatus" [value]="d.approvalStatusId">
                        {{d.approvalStatusName}}</option>
                    </select>
                  </div>
                <!-- <div class="form-group col-lg-2">
                    <label>ตั้งแต่วันที่ยื่นคำขอ:</label>
                    <input type="text"
                           class="form-control"
                           #dp="bsDatepicker" placeholder="วัน/เดือน/ปี"
                           formControlName="startRequestedDate"
                            [bsConfig]="bsConfig"
                           bsDatepicker >
                  </div>
                  <div class="form-group col-lg-2">
                    <label>ถึงวันที่ยื่นคำขอ:</label>
                    <input type="text" class="form-control" #dp="bsDatepicker" placeholder="วัน/เดือน/ปี"
                      formControlName="endRequestedDate" [minDate]="minDate"
                      (click)="minMaxDate(this.searchVuserCertCriteria.get('startRequestedDate').value)" [bsConfig]="bsConfig"
                      bsDatepicker>
                  </div> -->
                <div class="form-group col-lg-4">
                  <label>ตั้งแต่วันที่ยื่นคำขอ</label>
                  <app-datepicker-th class="form-control-datepicker" formControlName="startRequestedDate"
                    id="startRequestedDate" name="startRequestedDate"  [maxDate]="(startDateControl.value == endDateControl.value) ? null : endDateControl.value"></app-datepicker-th>
                </div>
                <div class="form-group col-lg-4">
                  <label>ถึงวันที่ยื่นคำขอ</label>
                  <app-datepicker-th class="form-control-datepicker" formControlName="endRequestedDate"
                    id="endRequestedDate" name="endRequestedDate"  [minDate]="startDateControl.value"></app-datepicker-th>
                </div>
              </div>
              <div class="row justify-content-center">
                  <div class="form-group col-lg-2 reset-button">
                      <button type="submit" class="btn btn-success margin-top-10">
                        <i class="glyphicon glyphicon-search"></i> ค้นหา
                      </button>
                    </div>
                    <div class="form-group col-lg-2 reset-button">
                      <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
                        <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
                      </button>
                    </div>
              </div>
            </form>
      </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <h4><i class="fa fa-list"></i> ผลการค้นหา</h4>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                  <tr role="row">
                    <th class="text-center" scope="col" style="width: 50px"></th>
                    <th class="text-center" scope="col" style="width: 50px">#</th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('REQ_ID')" style="cursor: pointer" title="เลขที่ใบคำขอ" tooltip="เลขที่ใบคำขอ">
                        เลขที่ใบคำขอ
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'REQ_ID'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('NID')" style="cursor: pointer" title="เลขประจำตัวผู้เสียภาษีอากร/เลขลสก." tooltip="เลขประจำตัวผู้เสียภาษีอากร/เลขลสก.">
                        เลขประจำตัวผู้เสียภาษีอากร/เลขลสก.
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'NID'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('NAME')" style="cursor: pointer" title="ชื่อผู้เสียภาษีอากร" tooltip="ชื่อผู้เสียภาษีอากร">
                        ชื่อผู้เสียภาษีอากร
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'NAME'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('REQUESTED_DATE')" style="cursor: pointer" title="วันที่ยื่นคำขอ" tooltip="วันที่ยื่นคำขอ">
                        วันที่ยื่นคำขอ
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'REQUESTED_DATE'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('REQUEST_TYPE_DESC')" style="cursor: pointer" title="แบบคำขอ" tooltip="แบบคำขอ">
                        แบบคำขอ
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'REQUEST_TYPE_DESC'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('CERTIFICATE_TYPE_NAME')" style="cursor: pointer" title="ชนิด Certificate" tooltip="ชนิด Certificate">
                        ชนิด Certificate
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'CERTIFICATE_TYPE_NAME'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('USER_TYPE_NAME')" style="cursor: pointer" title="กลุ่มผู้ใช้งาน" tooltip="กลุ่มผู้ใช้งาน">
                        กลุ่มผู้ใช้งาน
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'USER_TYPE_NAME'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('APPROVAL_STATUS_NAME')" style="cursor: pointer" title="สถานะอนุมัติ" tooltip="สถานะอนุมัติ">
                        สถานะอนุมัติ
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'APPROVAL_STATUS_NAME'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th class="text-center" scope="col" style="width: 120px"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr role="row" class="odd" *ngFor="let v of pageResponse.content">
                    <td class="text-center">
                      <input type="checkbox" (change)="toggleId(v.rowNum)">
                    </td>
                    <td class="text-center">{{v.no}}</td>
                    <td class="text-center">{{v.reqId || '-'}}</td>
                    <td class="text-center">{{v.nid || '-'}}</td>
                    <td class="text-center">{{v.name || '-'}}</td>
                    <td class="text-center">{{(v.requestedDate | date: 'dd/MM/yyyy') || '-'}}</td>
                    <td class="text-center">{{v.requestTypeDesc || '-'}}</td>
                    <td class="text-center">{{v.certificateTypeName || '-'}}</td>
                    <td class="text-center">{{v.userTypeName || '-'}}</td>
                    <td class="text-center">{{v.approvalStatusName || '-'}}</td>
                    <td class="text-center">
                      <div class="btn-group">
                        <button type="button" *ngIf="v.approvalStatusId == 2"  class="btn btn-orange btn-sm btn-auto btn-my-table" (click)="viewSendApproveCert(v.rowNum)"
                          tooltip="พิจารณาบันทึกผล">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </button>
                        <button type="button" *ngIf="v.approvalStatusId == 3"  class="btn btn-orange btn-sm btn-auto btn-my-table" (click)="viewSendApproveCert(v.rowNum)"
                                tooltip="ดูรายละเอียด">
                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="pageResponse.content?.length === 0">
                    <td colspan="12" class="text-center"> ไม่พบข้อมูล</td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-sm-5">
                  <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite" style="padding: 5px;">
                    แสดงผล
                    {{pageResponse.numberOfElements}} จาก
                    {{pageResponse.totalPages}} รายการ
                  </div>
                </div>
                <div class="col-sm-7 text-right">
                    แสดงหน้าละ
                    <select (change)="changeRowLimits($event)" style="padding: 5px;">
                      <option *ngFor="let limit of rowLimits" [value]="limit.value">{{limit.key}}</option>
                    </select>
                    &nbsp;&nbsp;
                    <pagination style="float: right;" [boundaryLinks]="true" [totalItems]="pageResponse.totalPages"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [rotate]="true"
                      [maxSize]="5" [(ngModel)]="pageRequest.page" (pageChanged)="pageChange($event,limit)" (limit)="limit"
                      [itemsPerPage]="pageResponse.size" aria-label="Default pagination"></pagination>
                  </div>
              </div>
              <!-- <div class="row justify-content-center">
                  <div class="form-group col-lg-2 reset-button">
                      <button type="button" class="btn btn-green w-md m-b-5" (click)="approveCert()"><i
                        class="glyphicon glyphicon-ok"></i> &nbsp;อนุมัติ</button>
                  </div>
                  <div class="form-group col-lg-2 reset-button">
                      <button type="button" class="btn btn-danger w-md m-b-5"><i class="glyphicon glyphicon-remove"></i>
                        ไม่อนุมัติ</button>
                  </div>
                </div> -->
        </div>
      </div>

</section>
