<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>Monitor การให้บริการข้อมูลสำหรับเจ้าหน้าที่กรมสรรพากร</h4>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th >ลำดับ</th>
              <th>วันที่คัดค้นข้อมูล</th>
              <th>กลุ่มข้อมูล</th>
              <th>หน่วยงานที่คัดคัน</th>
              <th>จำนวนรายการทั้งหมด</th>
              <th>จำนวนรายการที่คัดค้น</th>
              <th>จำนวนรายการที่พิมพ์</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="center">1</td>
              <td align="center">12/08/2562</td>
              <td align="left">ภาษีมูลค่าเพิ่ม</td>
              <td align="left">กองตรวจสอบภาษีกลาง</td>
              <td align="right">550</td>
              <td align="right">400</td>
              <td align="right">150</td>
            </tr>
            <tr>
              <td align="center">2</td>
              <td align="center">12/08/2562</td>
              <td align="left">ภาษีมูลค่าเพิ่ม</td>
              <td align="left">กองบริหารการคลังและรายได้</td>
              <td align="right">400</td>
              <td align="right">300</td>
              <td align="right">100</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
