<div class="content">
    <div class="header-title mb-4">
        <h1><strong>ประเภทข้อมูล </strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / ประเภทข้อมูล</small>
        </h1>

    </div>
    <div class="card border-light mb-4">
        <div class="card-header">
            <h4 class="panel-title">
                <i class="header-title fa fa-file-text"></i> ค้นหา
            </h4>
        </div>
        <div class="card-body">

            <form [formGroup]="dataTypeSearchForm" (ngSubmit)="onSubmit()">
                <div formGroupName="edcDataTypeC">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="dataTypeCode">รหัสประเภทข้อมูล</label>
                            <input type="text" class="form-control" formControlName="dataTypeCode" id="dataTypeCode"
                                   placeholder="ระบุรหัสประเภทข้อมูล"
                                   maxlength="10">
                        </div>
                        <div class="form-group col-md-8">
                            <label for="description">คำอธิบาย (ภาษาไทย)</label>
                            <input type="text" class="form-input form-control full" formControlName="description"
                                   id="description"
                                   placeholder="ระบุคำอธิบาย (ภาษาไทย)"
                                   maxlength="120">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="encPkiCert">นำข้อมูลไปเข้ารหัส</label>
                            <select id="encPkiCert" class="form-input form-control" formControlName="encPkiCert">
                                <option [selected]="true" [value]="null">เลือกทั้งหมด</option>
                                <option [value]="'Y'">ใช่</option>
                                <option [value]="'N'">ไม่ใช่</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="isProcess">นำไปคัดแยก</label>
                            <select id="isProcess" class="form-input form-control" formControlName="isProcess">
                                <option [selected]="true" [value]="null">เลือกทั้งหมด</option>
                                <option [value]="'Y'">ใช่</option>
                                <option [value]="'N'">ไม่ใช่</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-2 reset-button">
                            <button type="submit" class="btn btn-success margin-top-10" id="list-search"><i class="fa fa-search"></i>
                                ค้นหา
                            </button>
                        </div>
                        <div class="form-group col-lg-2 reset-button">
                            <button type="button" class="btn btn-warning margin-top-10" id="clear" (click)="resetForm()"><i
                                    class="fa fa-repeat"></i> ล้างค่า
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card border-light mb-4">
        <div class="card-header">
            <h4 class="panel-title">
                <i class="header-title fa fa-file-text"></i> ผลการค้นหา
            </h4>
        </div>
        <div class="card-body">
            <!--      <div style="padding-bottom: 10px">-->
            <!--        <label for="pageSize">แสดงหน้าละ</label>-->
            <!--        <select id="pageSize" [ngModel]="pageSize" (ngModelChange)="getPageSize($event)">-->
            <!--          <option value="5">5</option>-->
            <!--          <option value="10">10</option>-->
            <!--          <option value="15">15</option>-->
            <!--        </select>-->
            <!--        รายการ-->
            <!--      </div>-->
            <table class="table table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <th scope="col" class="text-center">ลำดับ</th>
                    <th scope="col" class="text-center">รหัสประเภทข้อมูล</th>
                    <th scope="col" class="text-center">คำอธิบาย (ภาษาไทย)</th>
                    <th scope="col" class="text-center">เข้ารหัส</th>
                    <th scope="col" class="text-center">คัดแยก</th>
                    <th scope="col" class="text-center">วันที่แก้ไข</th>

                    <th scope="col" class="text-center">ผู้แก้ไข</th>
                    <th scope="col" class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr
                        *ngFor="let dataType of DataTypeModelList | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: p, totalItems: total }; let i=index">
                    <td class="text-center" scope="row">{{ (this.p - 1) * this.pageSize + i + 1 }}</td>
                    <td class="text-center">{{dataType.dataTypeCode}}</td>
                    <td class="text-left">{{dataType.dataTypeDesTh}}</td>
                    <td class="text-center">{{encPkiCertList[dataType.encPkiCert]}} </td>
                    <td class="text-center">{{encPkiCertList[dataType.isProcess]}}</td>
                    <td class="text-center">{{(dataType.updatedDate | thaidate: 'DD/MM/YYYY HH:mm:ss') || '-'}}</td>
                    <td class="text-left">{{dataType.updatedBy}}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <a class="btn-orange btn-sm" id="edit{{i}}" (click)="onEdit(dataType)">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" title="แก้ไข"></i>
                            </a>
                            <a class="btn-orange btn-sm" id="delete{{i}}" (click)="onDelete(dataType)">
                                <i class="fa fa-trash-o" aria-hidden="true" title="ลบ"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="DataTypeModelList.length === 0">
                    <td colspan="11" class="text-center"> ไม่พบข้อมูล</td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-5">
                    <div class="dataTables_info" id="dtBasicExample_info">
                        แสดงผล
                        {{DataTypeModelList.length}} จาก
                        {{total}} รายการ
                    </div>
                </div>
                <div class="col-sm-7 text-right">
                    <!--                        <pagination [totalItems]="total" [(ngModel)]="pageSize" (pageChanged)="getPage($event)"-->
                    <!--                                    previousText="ย้อนกลับ" nextText="ถัดไป" [itemsPerPage]="pageSize"-->
                    <!--                                    class="dataTables_paginate paging_simple_numbers">-->
                    <!--                        </pagination>-->

                    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
                </div>
            </div>
        </div>

    </div>

    <table style="margin:auto;">
        <tr>
            <td>
                <button type="button" class="btn btn-auto btn-green w-md m-b-5" id="add" [routerLink]="['add']"><i
                        class="fa fa-plus"></i> เพิ่มข้อมูล
                </button>
            </td>
        </tr>
    </table>
</div>

