<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title title mt-auto text-left" id="modal-basic-title" >
          {{headername}}
      </h4>
      <br>
      <a target="_blank" class="btn btn-primary btn-auto" #printFilingBtn (click)="print()">
          <i class="fa fa-print"></i> พิมพ์
      </a>
  </div>
  <div class="modal-body">
      <div class="row">
          <div class="col-12">
              <pdf-viewer [src]="url" [render-text]="true" [autoresize]="true" [fit-to-page]="true" [stick-to-page]="true" style="display: block;"></pdf-viewer>
          </div>
      </div>
  </div>
  <div class="row text-center d-block">
      <button type="button" class="btn btn-danger btn-auto" (click)="modalService.dismissAll()" #closeBtn>
          <i class="fa fa-close"></i> ปิด
      </button>
  </div>
 </ng-template> 
 <!-- <app-preview-pdf #previewPdf ></app-preview-pdf> -->