.modal-body {
    position: relative;
     overflow-y: auto; 
    padding: 15px;
    overflow-x: hidden !important
  }
.title {
  font-size: 16px;
  color: lightskyblue;
}
.column-title {
  padding: 0 15px;
}
.btn {
  font-size: 10px;
  padding: 5px;
}
.modal-xl {
  max-width: 1000px;
}