<div class="content">
    <div class="header-title mb-4">
        <h1><strong>ประเภทรายได้ของผู้รับเงินอยู่ต่างประเทศ </strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / ประเภทรายได้ของผู้รับเงินอยู่ต่างประเทศ
            </small>
        </h1>

    </div>
    <div class="card border-light mb-4">
        <div class="card-header">
            <h4 class="panel-title">
                <i class="header-title fa fa-file-text"></i> ค้นหา
            </h4>
        </div>
        <div class="card-body">

            <form [formGroup]="incomeForm" (ngSubmit)="onSubmit()">
                <div formGroupName="incomeGroup">
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label>รหัสประเภทรายได้ </label>
                            <input type="text" formControlName="incomeCode" id="incomeCode"
                                   placeholder="ระบุรหัสประเทศรายได้"
                                   class="form-control">
                        </div>

                        <div class="form-group col-lg-4">
                            <label>ชื่อประเภทรายได้ (ภาษาไทย)</label>
                            <input type="text" formControlName="incomeNameTh" id="incomeNameTh"
                                   placeholder="ระบุชื่อประเภทรายได้ (ภาษาไทย)"
                                   class="form-control">
                        </div>

                        <div class="form-group col-lg-2 reset-button">
                            <button type="submit" class="btn btn-success margin-top-10" id="list-search"><i
                                    class="fa fa-search"></i> ค้นหา
                            </button>
                        </div>
                        <div class="form-group col-lg-2 reset-button">
                            <button type="button" class="btn btn-warning margin-top-10" (click)="resetForm()" id="clear"><i
                                    class="fa fa-repeat"></i> ล้างค่า
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--  -->
    <div class="card border-light mb-4">
        <div class="card-header">
            <h4 class="panel-title">
                <i class="header-title fa fa-file-text"></i> ค้นหา
            </h4>
        </div>
        <div class="card-body">
            <!--          <div style="padding-bottom: 10px">-->
            <!--            แสดงหน้าละ-->
            <!--            <select id="pageSize" [ngModel]="pageSize" (ngModelChange)="getPageSize($event)">-->
            <!--              <option value="5">5</option>-->
            <!--              <option value="10">10</option>-->
            <!--              <option value="15">15</option>-->
            <!--            </select>-->
            <!--            รายการ-->
            <!--          </div>-->
            <table class="table table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <th scope="col" class="text-center" width="8%">ลำดับ</th>
                    <th scope="col" class="text-center" width="16%">รหัสประเภทรายได้</th>
                    <th scope="col" class="text-center" width="25%">ชื่อประเภทรายได้ (ภาษาไทย)</th>
                    <th scope="col" class="text-center" width="13%">วันที่มีผล</th>
                    <th scope="col" class="text-center" width="18%">วันที่แก้ไข</th>
                    <th scope="col" class="text-center" width="10%">ผู้แก้ไข</th>
                    <th scope="col" class="text-center" width="10%"></th>
                </tr>
                </thead>
                <tbody>
                <tr
                        *ngFor="let incomeData of edcCrossborderIncomeList | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: p, totalItems: total }; let i=index">
                    <td class="text-center" scope="row">{{ (this.p - 1) * this.pageSize + i + 1 }}</td>
                    <td class="text-center">{{incomeData.incomeCode || '-'}}</td>
                    <td class="text-left">{{incomeData.incomeNameTh || '-'}}</td>
                    <td class="text-center">{{incomeData.effectiveDate | thaidate: 'DD/MM/YYYY'}}</td>
                    <td class="text-center">{{(incomeData.updatedDate | thaidate: 'DD/MM/YYYY HH:mm:ss') || '-'}}</td>
                    <td class="text-left">{{incomeData.updatedBy || '-'}}</td>
                    <td class="text-center">
                        <a class="btn-orange btn-sm" id="edit{{i}}" (click)="onEdit(incomeData)">
                            <i class="fa fa-edit" aria-hidden="true" title="แก้ไข"></i>
                        </a>
                        <a class="btn-orange btn-sm" id="delete{{i}}" (click)="onDelete(incomeData)">
                            <i class="fa fa-trash" aria-hidden="true" title="ลบ"></i>
                        </a>
                    </td>
                </tr>
                <tr *ngIf="edcCrossborderIncomeList.length === 0">
                    <td colspan="11" class="text-center"> ไม่พบข้อมูล</td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-5">
                    แสดงผล
                    {{edcCrossborderIncomeList.length}} จาก
                    {{total}} รายการ
                </div>
                <div class="col-sm-7 text-right">
                    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
                </div>
            </div>
        </div>
    </div>

    <table style="margin:auto;">
        <tr>
            <td>
                <button type="button" class="btn btn-auto btn-green w-md m-b-5" [routerLink]="['add']" id="add"><i
                        class="fa fa-plus"></i> &nbsp;เพิ่มข้อมูล
                </button>
            </td>
        </tr>
    </table>
</div>

