<div class="content">
  <div class="header-title mb-4">
    <h1><strong>ข้อมูลรายการผู้นำส่งข้อมูลแบบนำไฟล์มาวาง </strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a
        [routerLink]="['/mft/sender-transfer-push']" class="active">รายการผู้นำส่งข้อมูลแบบนำไฟล์มาวาง
      </a> / ข้อมูลรายการผู้นำส่งข้อมูลแบบนำไฟล์มาวาง
      </small>
    </h1>

  </div>
  <form [formGroup]="senderConfigFileForm">
    <div formGroupName="edcSenderConfigFileTransferObj">
      <div class="card border-light mb-4">
        <div class="card-header">
          <h4 class="panel-title">
            <i class="header-title fa fa-file-text"></i> ข้อมูลประเภทข้อมูล
          </h4>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-lg-6">
              <label for="senderUserId">ผู้นำส่งข้อมูล</label>
              <!--                                    <div class="form-control">-->
              <!--                                        <ng-autocomplete-->
              <!--                                                [data]="UnserInfoList"-->
              <!--                                                [searchKeyword]="'username'"-->
              <!--                                                placeHolder="Enter the Country Name"-->
              <!--                                                (selected)='selectEvent($event)'-->
              <!--                                                [itemTemplate]="itemTemplate">-->
              <!--                                        </ng-autocomplete>-->
              <!--                                        <ng-template #itemTemplate let-item>-->
              <!--                                            <a [innerHTML]="item.username"></a>-->
              <!--                                        </ng-template>-->
              <!--                                    </div>-->
              <input name="type-data" class="form-control"
                      disabled value="{{this.financialMap.get(this.edcSenderConfigFileTransferModel.fiCode)}}"
                      formControlName="senderUserId"
                      id="senderUserId">
<!--              <div class="text-danger"-->
<!--                   *ngIf="!senderConfigFileForm.get('edcSenderConfigFileTransferObj.senderUserId').valid && senderConfigFileForm.get('edcSenderConfigFileTransferObj.senderUserId').touched">-->
<!--                กรุณาระบุผู้นำส่งข้อมูล.-->
<!--              </div>-->
            </div>
            <div class="form-group col-lg-6">
              <label for="dataTypeId">ประเภทข้อมูล</label>
              <select name="work-time" class="form-control" id="dataTypeId" disabled
                      formControlName="dataTypeId" [ngClass]="{'is-invalid':
                                               (!senderConfigFileForm.get('edcSenderConfigFileTransferObj.dataTypeId').valid && senderConfigFileForm.get('edcSenderConfigFileTransferObj.dataTypeId').touched)
                                               }">
                <option [value]="null" disabled>เลือก</option>
                <option *ngFor="let dv of dataTypeModelList"
                        [value]="dv.id">{{dv.dataTypeDesTh}} {{dv.dataTypeDesEn}}</option>
              </select>

            </div>
<!--            <div class="form-group col-lg-6">-->
<!--              <label>ศูนย์คอมพิวเตอร์</label>-->
<!--              <select name="work-time" class="form-control" id="inputSite"-->
<!--                      formControlName="inputSite" [ngClass]="{'is-invalid':-->
<!--                                               (!senderConfigFileForm.get('edcSenderConfigFileTransferObj.inputSite').valid && senderConfigFileForm.get('edcSenderConfigFileTransferObj.inputSite').touched)-->
<!--                                               }">-->
<!--                <option [value]="null" disabled>เลือก</option>-->
<!--                <option [value]="'ARI'">ศูนย์คอมพิวเตอร์ กรมสรรพากร</option>-->
<!--                <option [value]="'NON'">ศูนย์คอมพิวเตอร์ กรมสรรพากร นนทบุรี</option>-->
<!--              </select>-->
<!--              <div class="text-danger"-->
<!--                   *ngIf="!senderConfigFileForm.get('edcSenderConfigFileTransferObj.inputSite').valid && senderConfigFileForm.get('edcSenderConfigFileTransferObj.inputSite').touched">-->
<!--                กรุณาระบุศูนย์คอมพิวเตอร์.-->
<!--              </div>-->
<!--            </div>-->
            <div class="form-group col-lg-6">
              <label for="senderEmailTo">อีเมลผู้นำส่งข้อมูลที่ต้องการส่งถึง</label>
              <input type="text" class="form-control" formControlName="senderEmailTo" disabled
                     id="senderEmailTo"
                     [ngClass]="{'is-invalid':
                                               (!senderConfigFileForm.get('edcSenderConfigFileTransferObj.senderEmailTo').valid && senderConfigFileForm.get('edcSenderConfigFileTransferObj.senderEmailTo').touched)
                                               }">
              <div class="text-danger"
                   *ngIf="!senderConfigFileForm.get('edcSenderConfigFileTransferObj.senderEmailTo').valid && senderConfigFileForm.get('edcSenderConfigFileTransferObj.senderEmailTo').touched">
                กรุณาระบุอีเมลผู้นำส่งข้อมูลที่ต้องการส่งถึง.
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label for="senderEmailCc">อีเมลผู้นำส่งข้อมูลที่ต้องการส่งสำเนาถึง</label>
              <input type="text" class="form-control" formControlName="senderEmailCc" disabled
                     id="senderEmailCc"
                     [ngClass]="{'is-invalid':
                                               (!senderConfigFileForm.get('edcSenderConfigFileTransferObj.senderEmailCc').valid && senderConfigFileForm.get('edcSenderConfigFileTransferObj.senderEmailCc').touched)
                                               }">
              <div class="text-danger"
                   *ngIf="!senderConfigFileForm.get('edcSenderConfigFileTransferObj.senderEmailCc').valid && senderConfigFileForm.get('edcSenderConfigFileTransferObj.senderEmailCc').touched">
                กรุณาระบุอีเมลผู้นำส่งข้อมูลที่ต้องการส่งสำเนาถึง.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table style="margin:auto;">
      <tr>
        <td>
          <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5"
                  (click)="onBack()">
            <i class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>



