<div class="content">
  <div class="header-title mb-4">
    <h1><strong>รายงานตรวจสอบการรับ - ส่งข้อมูล </strong>
      <small class="pull-right"><a [routerLink]="['/']" class="active">หน้าหลัก</a> / รายงานตรวจสอบการับ -
        ส่งข้อมูล
      </small>
    </h1>

  </div>
  <div class="card border-light mb-4">
    <div class="card-header">
      <h4 class="panel-title">
        <i class="header-title fa fa-file-text"></i> ค้นหา
      </h4>
    </div>
    <div class="card-body">
      <form [formGroup]="adminReportSearchForm" (ngSubmit)="onSubmit()">
        <div formGroupName="adminReportSearchC">
          <div class="form-row">
            <div class="form-group col-lg-6">
              <label for="dateRange">ช่วงวันที่นำส่งข้อมูล</label>
              <input type="text" class="form-control"
                     formControlName="dateRange"
                     placeholder="เลือกช่วงวันที่นำส่งข้อมูล"
                     autocomplete="off"
                     id="dateRange" bsDaterangepicker>
            </div>
            <div class="form-group col-lg-6">
              <label for="dataTypeId">ประเภทข้อมูล</label>

              <select name="dataTypeId" id="dataTypeId" class="form-control"
                      formControlName="dataTypeId">
                <option [value]="null">เลือกประเภท</option>
                <option *ngFor="let el of dataTypeList"
                        [value]="el.id">{{el.dataTypeDesTh}}</option>
              </select>
            </div>
            <div class="form-group col-lg-6">
              <label for="fiNameTh">ผู้นำส่ง</label>
              <input formControlName="fiNameTh"
                     [typeahead]="financialList"
                     [typeaheadMinLength]="0"
                     (typeaheadOnSelect)="onSelectFi($event)"
                     placeholder="เลือกผู้นำส่ง"
                     typeaheadOptionField="fiNameTh"
                     class="form-control" id="fiNameTh">
            </div>
            <div class="form-group col-lg-6">
              <label for="statusCode">สถานะ</label>
              <select name="statusCode" id="statusCode" class="form-control"
                      formControlName="statusCode">
                <option [value]="null">เลือกสถานะ</option>
                <option *ngFor="let el of masterConfigCodeList"
                        [value]="el.code">{{el.description}}</option>
              </select>
            </div>

            <div class="form-group col-lg-3 reset-button">
              <button type="submit" class="btn btn-success margin-top-10" id="list-search"><i
                class="fa fa-search"></i> ค้นหา
              </button>
            </div>
            <div class="form-group col-lg-3 reset-button">
              <button type="button" class="btn btn-warning margin-top-10" (click)="resetForm()" id="clear"><i
                class="fa fa-repeat"></i> ล้างค่า
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card border-light mb-4">
    <div class="card-header">
      <h4 class="panel-title">
        <i class="header-title fa fa-file-text"></i> ผลการค้นหา
      </h4>
    </div>
    <div class="card-body">
      <!--          <div style="padding-bottom: 10px">-->
      <!--            แสดงหน้าละ-->
      <!--            <select id="pageSize" [ngModel]="pageSize" (ngModelChange)="getPageSize($event)">-->
      <!--              <option value="5">5</option>-->
      <!--              <option value="10">10</option>-->
      <!--              <option value="15">15</option>-->
      <!--            </select>-->
      <!--            รายการ-->
      <!--          </div>-->
      <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%"
             style="font-size: 12px;">
        <thead>
        <tr>
          <th scope="col" class="text-center" rowspan="2" style="width: 5%">ลำดับ</th>
          <th scope="col" class="text-center" rowspan="2" style="width: 9%">รหัสผู้นำส่ง</th>
          <th scope="col" class="text-center" rowspan="2" style="width: 15%">ชื่อผู้นำส่ง</th>
          <th scope="col" class="text-center" rowspan="2" style="width: 10%">ประเภทข้อมูล</th>
          <th scope="col" class="text-center" rowspan="2" style="width: 10%">วัน/เวลาที่ส่งข้อมูล <br>(Receive
            Date)
          </th>
          <th scope="col" class="text-center" rowspan="2" style="width: 10%">วันที่ทำรายการ <br> (Payment
            Date)
          </th>
          <th scope="col" class="text-center" rowspan="2" style="width: 5%">ขั้นตอน</th>
          <th scope="col" class="text-center" rowspan="2" style="width: 5%">จำนวนไฟล์</th>
          <th scope="col" class="text-center" rowspan="2" style="width: 10%">จำนวน<br>รายการ</th>
          <th scope="col" class="text-center" colspan="2" style="width: 15%">จำนวนไฟล์</th>
          <th scope="col" class="text-center" rowspan="2" style="width: 11%">สาเหตุ</th>
          <th scope="col" class="text-center" rowspan="2" style="width: 11%">AckFile</th>
          <th scope="col" class="text-center" rowspan="2">รายละเอียด</th>
        </tr>
        <tr>
          <th scope="col" class="text-center">สำเร็จ</th>
          <th scope="col" class="text-center">ไม่สำเร็จ</th>
        </tr>
        <!--        <tr>-->
        <!--          <th scope="col" class="text-center">(Receive Date)</th>-->
        <!--          <th scope="col" class="text-center">(Payment Date)</th>-->
        <!--          <th scope="col" class="text-center">สำเร็จ</th>-->
        <!--          <th scope="col" class="text-center">ไม่สำเร็จ</th>-->
        <!--          <th scope="col" class="text-center">เพิ่มเติม</th>-->
        <!--        </tr>-->
        </thead>
        <tbody>
        <tr
          *ngFor="let el of edcMonitorFileTransList | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: page, totalItems: total }; let i=index">
          <th scope="row" class="text-center">{{ (this.page - 1) * this.pageSize + i + 1 }}</th>
          <td class="text-center">{{el.fiCode}}</td>
          <td class="text-left">{{this.financialMap.get(el.fiCode)}}</td>
          <td class="text-left">{{el.dataType.dataTypeDesTh}}</td>
          <td class="text-center">{{(el.receiveDate | thaidate: 'DD/MM/YYYY HH:mm น.') || '-'}}</td>
          <td class="text-center">
<!--            {{(el.paymentDate | thaidate: 'DD/MM/YYYY') || '-'}}-->
            <div class="text-center" *ngIf="el.paymentDate==null">
              -
            </div>
            <div class="text-center" *ngIf="el.paymentDate!=null && el.paymentDate.length!=4">
              {{(el.paymentDate | thaidate: 'DD/MM/YYYY') || '-'}}
            </div>
            <div class="text-center" *ngIf="el.paymentDate!=null && el.paymentDate.length==4">
              {{(el.paymentDate | thaidate: 'YYYY') || '-'}}
            </div>
          </td>
          <td class="text-left">{{this.processStateConfigMap.get(el.processState)}}</td>
          <td class="text-right">{{el.totalFiles | currency:'':'':'1.0-0' || '0' }}</td>
          <td class="text-right">{{el.totalRecord | currency:'':'':'1.0-0' || '0'}}</td>
          <td class="text-right">{{el.totalSuccess || '0'}}</td>
          <td class="text-right">{{el.totalFailed || '0'}}</td>
          <td class="text-center">{{this.ackConfigAndErrorMap.get(el.errorReason) || '-'}}</td>
          <td class="text-center">{{el.ackStatus || '0'}}</td>
          <td class="text-center">
            <div class="btn-group">
              <a class="btn btn-orange" (click)="onView(el)">
                <i class="fa fa-eye" aria-hidden="true" title="ดูข้อมูล"></i>
              </a>
            </div>
          </td>
        </tr>
        <tr *ngIf="edcMonitorFileTransList.length === 0">
          <td colspan="12" class="text-center"> ไม่พบข้อมูล</td>
        </tr>
        </tbody>
<!--        <tfoot>-->
<!--        <tr>-->
<!--          <td colspan="7" class="text-center">รวมทั้งหมด</td>-->
<!--          <td class="text-right">{{totalRecord | currency:'':'':'1.0-0'}}</td>-->
<!--          <td class="text-right">{{totalFile | currency:'':'':'1.0-0'}}</td>-->
<!--          <td class="text-right">{{totalSuccess | currency:'':'':'1.0-0'}}</td>-->
<!--          <td class="text-right">{{totalFailed | currency:'':'':'1.0-0'}}</td>-->
<!--        </tr>-->
<!--        </tfoot>-->
      </table>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
            แสดงผล
            {{edcMonitorFileTransList.length}} จาก
            {{total}} รายการ
          </div>
        </div>
        <div class="col-sm-7 text-right">

          <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

