<app-navigatortab></app-navigatortab>
<section class="content">
  <div class="header-title mb-4">
    <h1>
      <strong>ข้อมูล ภ.ง.ด.54 และ ภ.พ.36 : เดือนเมษายน 2562</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> /  คัดค้นภาษีเงินได้หัก ณ ที่จ่ายและภาษีมูลค่าเพิ่ม / ผลการคัดค้นแบบสรุป / ข้อมูล ภ.ง.ด.54 และ ภ.พ.36 รายเดือน / เดือนเมษายน 2562</small>
    </h1>
  </div>

  <div class="card mb-4" *ngIf="pageResponse?.content!=null">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>ข้อมูลผู้เสียภาษี</h4>
    </div>
    <div class="card-body">
      <p class="mt-auto">เลขประจำตัวผู้เสียภาษีอากร : 1-9030-43040-85-6    ชื่อผู้เสียภาษีอากร : บริษัท ไทย กรีน จำกัด      สาขา 00000</p>
      <br/>
      <p class="mt-auto">ที่อยู่ : เลขที่ 223/61  อาคาร คันทรี่ คอมเพล็กซ์ เอ ชั้น 14 ถนน สรรพาวุธ  แขวง บางนาใต้  เขต บางนา  กรุงเทพมหานคร</p>
      <br/>
      <p class="mt-auto">สำนักงานภูมิลำเนา : สส.บางนา  (สท.กรุงเทพมหานคร 17)</p>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>รายการ</h4>
    </div>
    <div class="row  table-conclusion">
      <div class="col-12 col-sm-2">รวมจำนวนรายการ : 2 รายการ</div>
      <div class="col-12 col-sm-3">รวมจำนวนเงิน : 200,000.00 บาท</div>
      <div class="col-12 col-sm-3">รวมภาษีเงินได้หัก ณ ที่จ่าย : 30,000.00  บาท</div>
      <div class="col-12 col-sm-3">รวมภาษีมูลค่าเพิ่ม : 16,000.00  บาท</div>
      <div class="col-12 col-sm-1 d-block">
        <button type="button" class="btn btn-primary btn-auto" #printBtn>
          <i class="fa fa-print"></i> พิมพิ์
        </button>
      </div>
    </div>
    <div class="card-body">
      <table
        class="table table-striped table-bordered table-sm"
        cellspacing="0"
        width="100%"
      >
        <thead>
        <tr role="row">
          <th class="text-center" scope="col" rowspan="2" style="width: 50px"></th>
          <th class="text-center" scope="col" rowspan="2">ชื่อผู้ประกอบการที่รับเงิน</th>
          <th class="text-center" scope="col" rowspan="2">ที่อยู่ผู้ประกอบการ</th>
          <th class="text-center" scope="col" rowspan="2">วันที่จ่ายเงิน</th>
          <th class="text-center" scope="col" rowspan="2">ประเภทเงินได้</th>
          <th class="text-center" scope="col" colspan="4">ภาษีเงินไดัหัก ณ ที่จ่าย</th>
          <th class="text-center" scope="col" colspan="4">ภาษีมูลค่าเพิ่ม</th>
          <th class="text-center" scope="col" rowspan="2" style="width: 20px"></th>
        </tr>
        <tr role="row">
          <th class="text-center" scope="col">เลขที่แบบ</th>
          <th class="text-center" scope="col">จำนวนเงิน (บาท)</th>
          <th class="text-center" scope="col">อัตราภาษี</th>
          <th class="text-center" scope="col">ภาษีเงินได้หัก ณ ที่จ่าย (บาท)</th>
          <th class="text-center" scope="col">เลขที่แบบ</th>
          <th class="text-center" scope="col">จำนวนเงิน (บาท)</th>
          <th class="text-center" scope="col">อัตราภาษี</th>
          <th class="text-center" scope="col">ภาษีเงินได้หัก ณ ที่จ่าย (บาท)</th>
        </tr>
        </thead>
        <tbody>
          <tr role="row" class="odd">
            <td class="text-center">1</td> 
            <td class="text-left">Shakil Whitworth</td>
            <td class="text-left">10 West 53 Street New York United States</td>
            <td class="text-center">30/04/2562</td>
            <td class="text-center">504 : ค่าสิทธิในสิทธิบัตร เครื่องหมายการค้า แบบหรือหุ่นจำลอง แผนผัง สูตรลับ หรือกรรมวิธีลับใดๆ ตามมาตรา 40(3)</td>
            <td class="text-left">P54620520000101</td>
            <td class="text-right">100,000.00</td>
            <td class="text-center">15%</td>
            <td class="text-right">15,000.00</td>
            <td class="text-center">P36620520000101</td>
            <td class="text-right">100,000.00</td>
            <td class="text-center">8%</td>
            <td class="text-right">8,000.00</td>
            <td class="text-center">
              <div class="btn-group">
             
              <button
                type="button"
                class="btn btn-orange btn-sm btn-auto"
                (click)="viewPnd54(content)"
                tooltip="ดู ภ.ง.ด.54">
                <i class="fa fa-file-o" aria-hidden="true"></i>
              </button>
              <button
                type="button"
                class="btn btn-orange btn-sm btn-auto"
                (click)="viewVat36(vat36content)"
                tooltip="ดู ภ.พ.36">
                <i class="fa fa-file-o" aria-hidden="true"></i>
              </button>
              <button
                type="button"
                class="btn btn-orange btn-sm btn-auto"
                (click)="viewTransaction(transactionContent)"
                tooltip="ดูธุรกรรม">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
              </button>
              </div>
            </td>
          </tr>
          <tr role="row" class="odd">
            <td class="text-center">2</td> 
            <td class="text-left">Jordana Ford</td>
            <td class="text-left">11 West 53 Street New York United States</td>
            <td class="text-center">30/04/2562</td>
            <td class="text-left">504 : ค่าสิทธิในสิทธิบัตร เครื่องหมายการค้า แบบหรือหุ่นจำลอง แผนผัง สูตรลับ หรือกรรมวิธีลับใดๆ ตามมาตรา 40(3)</td>
            <td class="text-center">P54620520000102</td>
            <td class="text-right">100,000.00</td>
            <td class="text-center">15%</td>
            <td class="text-right">15,000.00</td>
            <td class="text-center">P36620520000102</td>
            <td class="text-right">100,000.00</td>
            <td class="text-center">8%</td>
            <td class="text-right">8,000.00</td>
            <td class="text-center">
              <div class="btn-group">
             
              <button
                type="button"
                class="btn btn-orange btn-sm btn-auto"
                (click)="viewPnd54(content)"
                tooltip="ดู ภ.ง.ด.54">
                <i class="fa fa-file-o" aria-hidden="true"></i>
              </button>
              <button
                type="button"
                class="btn btn-orange btn-sm btn-auto"
                (click)="viewVat36(vat36content)"
                tooltip="ดู ภ.พ.36">
                <i class="fa fa-file-o" aria-hidden="true"></i>
              </button>
              <button
                type="button"
                class="btn btn-orange btn-sm btn-auto"
                (click)="viewTransaction(transactionContent)"
                tooltip="ดูธุรกรรม">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
              </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row text-right">
        <div class="col-6 col-sm-1">
          รายการ
        </div>
        <div class="col-6 col-sm-1">
          <select class="form-control" [value]="10">
            <option [value]="10">10</option>
            <option [value]="25">25</option>
            <option [value]="50">50</option>
          </select>
        </div>
        <div class="col-12 col-sm-5 offset-sm-5 d-flex">
          <div class="ml-auto">
            <pagination [totalItems]="pageResponse.content?.length" [itemsPerPage]="10" [maxSize]="5" previousText="ย้อนกลับ" nextText="ถัดไป"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<ng-template #content let-modal>
  <div class="modal-header">
      <h4 class="modal-title title mt-auto text-left" id="modal-pnd54-1">
        ภ.ง.ด.54  แบบยื่นรายการนำส่งภาษีเงินได้นิติบุคคล และการจำหน่ายเงินกำไรตามมาตรา 70 และมาตรา 70 ทวิ แห่งประมวลรัษฎากร
      </h4>
      <br>
      <button type="button" class="btn btn-primary btn-auto" #printBtn>
          <i class="fa fa-print"></i> พิมพิ์
      </button>
  </div>
  <div class="modal-body">
      <div class="row">
          <div class="col-12 col-sm-6">
              <p>เลขที่แบบ</p>
              <p><b>P54620520000101</b></p>
          </div>
          <div class="col-12 col-sm-3">
              <p>ประเภท</p>
              <p><b>ยื่นปกติ</b></p>
          </div>
          <div class="col-12 col-sm-3">
              <p>การนำส่งภาษี</p>
              <p><b>(1) ภาษีหักจากเงินได้ที่จ่าย ตามมาตรา 70 แห่งประมวลรัษฎากร</b></p>
          </div>
      </div>
      <hr>
      <div class="row">
          <span class="title column-title">บุคคล ห้างหุ้นส่วน บริษัท สมาคม หรือคณะบุคคล</span>
      </div>
      <div class="row">
          <div class="col-12 col-sm-3">
              <p>เลขประจำตัวผู้เสียภาษีอากร</p>
              <p><b>1-9030-43040-85-6 </b></p>
          </div>
          <div class="col-12 col-sm-3">
              <p>ชื่อผู้เสียภาษีอากร</p>
              <p><b>บริษัท ไทย กรีน จำกัด</b></p>
          </div>
          <div class="col-12 col-sm-3">
              <p>เลขที่สาขา</p>
              <p><b>00000</b></p>
          </div>
          <div class="col-12 col-sm-3">
              <p>ที่อยู่</p>
              <p><b>223/61  อาคาร คันทรี่ คอมเพล็กซ์ เอ ชั้น 14 ถนน สรรพาวุธ  แขวงบางนาใต้  เขตบางนา  กรุงเทพมหานคร 10260 ประเทศไทย</b></p>
          </div>
      </div>
      <div class="row">
        <span class="title column-title">การจ่ายเงินได้ตามมาตรา 70 แห่งประมวลรัษฎากร</span>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
            <p>ชื่อผู้รับเงินได้</p>
            <p><b> Shakil Whitworth</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>สำนักงานตั้งอยู่</p>
            <p><b>10 West 53 Street New York United States</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>ที่อยู่</p>
            <p><b>(3) ค่าสิทธิในสิทธิบัตร สูตร หรือกรรมวิธี ตามมาตรา 40(3)</b></p>
        </div>
    </div>
    <div class="row">
      <span class="title column-title">การคำนวณภาษี</span>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th scope="col" class="text-center"></th>
                    <th scope="col" class="text-center">จำนวนเงิน</th>
                </tr>
            </thead>
            <tbody>
                <tr role="row" class="odd">
                    <td class="text-left">(1) เงินได้พึงประเมินที่จ่าย</td>
                    <td class="text-right">100,000.00</td>
                </tr>
                <tr role="row" class="odd">
                    <td class="text-left">(2) เงินภาษีที่นำส่งในอัตราร้อยละ <u>15</u></td>
                    <td class="text-right">15,000.00</td>
                </tr>
                <tr role="row" class="odd">
                    <td class="text-left">(3) เงินเพิ่ม (ถ้ามี)</td>
                    <td class="text-right">-</td>
                </tr>
                <tr role="row" class="odd">
                    <td class="text-left">(4) รวมเป็นเงินทั้งสิ้น</td>
                    <td class="text-right">15,000.00</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3">
          <p>ผู้จ่ายเงินได้</p>
          <p><b>หักนำส่ง</b></p>
      </div>
      <div class="col-12 col-sm-3">
          <p>วันเดือนปีที่จ่ายเงินได้ซึ่งต้องหักภาษีจาก</p>
          <p><b>30 เมษายน 2562</b></p>
      </div>
      <div class="col-12 col-sm-3">
          <p>เงินได้ที่จ่ายตามมาตรา 70</p>
          <p><b></b></p>
      </div>
      <div class="col-12 col-sm-3">
          <p>เลขที่เอกสารแลกเปลี่ยนเงินตรา</p>
          <p><b>-</b></p>
      </div>
    </div>
  </div>
  <div class="row text-center d-block">
      <button type="button" class="btn btn-danger btn-auto" (click)="modalService.dismissAll()" #closeBtn>
          <i class="fa fa-close"></i> ปิด
      </button>
  </div>
</ng-template>

<ng-template #vat36content let-modal>
  <div class="modal-header">
      <h4 class="modal-title title mt-auto text-left" id="modal-vat36-1">
        ภ.พ.36  แบบนำส่งภาษีมูลค่าเพิ่ม ตามประมวลรัษฎากร
      </h4>
      <br>
      <button type="button" class="btn btn-primary btn-auto" #printBtn>
          <i class="fa fa-print"></i> พิมพิ์
      </button>
  </div>
  <div class="modal-body">
      <div class="row">
          <div class="col-12 col-sm-9">
              <p>เลขที่แบบ</p>
              <p><b>P36620410000001</b></p>
          </div>
          <div class="col-12 col-sm-3">
              <p>ประเภท</p>
              <p><b>ยื่นปกติ</b></p>
          </div>
      </div>
      <hr>
      <div class="row">
        <span class="title column-title">ผู้นำส่งภาษีมูลค่าเพิ่ม</span>
      </div>
      <div class="row">
        <div class="col-12 col-sm-3">
          <p>เลขประจำตัวผู้เสียภาษีอากร</p>
          <p><b>1 9030 43040 85 6</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>ชื่อผู้ประกอบการ</p>
            <p><b>บริษัท ไทย กรีน จำกัด</b></p>
            <p>เลขที่สาขา</p>
            <p><b>00000</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>ที่อยู่</p>
            <p><b>223/61  อาคาร คันทรี่ คอมเพล็กซ์ เอ  ชั้น 14 ถนน สรรพาวุธ แขวงบางนาใต้  เขตบางนา  กรุงเทพมหานคร 10260 ประเทศไทย</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>มีหน้าที่นำส่งภาษีมูลค่าเพิ่มกรณี</p>
            <p><b>(1) จ่ายเงินค่าซื้อสินค้าหรือบริการให้ผู้ประกอบการที่เข้ามาประกอบกิจการในราชอาณาจักรเป็นการชั่วคราวฯ หรือให้แก่ผู้ประกอบการที่ได้ให้บริการในต่างประเทศหรือให้แก่ผู้ประกอบการอื่นที่กำหนดโดยพระราชกฤษฎีกา</b></p>
        </div>
    </div>
    <hr>
      <div class="row">
          <span class="title column-title">ผู้ประกอบการซึ่งเป็นผู้รับเงิน</span>
      </div>
      <div class="row">
          <div class="col-12 col-sm-3">
          </div>
          <div class="col-12 col-sm-3">
              <p>ชื่อผู้ประกอบการ</p>
              <p><b>Shakil Whitworth</b></p>
          </div>
          <div class="col-12 col-sm-3">
              <p>ที่อยู่</p>
              <p><b>10 West 53 Street New York United States</b></p>
          </div>
          <div class="col-12 col-sm-3">
              <p><b>เป็นผู้ประกอบการที่ได้ให้บริการในต่างประเทศ และได้มีการใช้บริการนั้นในราชอาณาจักร</b></p>
          </div>
      </div>
      <hr>
      <div class="row">
        <span class="title column-title">รายละเอียดการจ่ายเงิน</span>
      </div>
      <div class="row">
        <div class="col-12 col-sm-3">
        </div>
        <div class="col-12 col-sm-3">
            <p>วัน เดือน ปี ที่จ่ายเงิน</p>
            <p><b>30 เมษายน 2562</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>เลขที่เอกสารแลกเปลี่ยนเงินตรา</p>
            <p><b>-</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>จ่ายเงินชำระราคาสำหรับ</p>
            <p><b>504 : ค่าสิทธิในสิทธิบัตร เครื่องหมายการค้า แบบหรือหุ่นจำลอง แผนผัง สูตรลับ หรือกรรมวิธีลับใดๆ ตามมาตรา 40(3)</b></p>
        </div>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th scope="col" class="text-center">การคำนวณภาษี</th>
                    <th scope="col" class="text-center">จำนวนเงิน</th>
                </tr>
            </thead>
            <tbody>
                <tr role="row" class="odd">
                    <td class="text-left">1. จำนวนเงินที่จ่าย</td>
                    <td class="text-right">100,000.00</td>
                </tr>
                <tr role="row" class="odd">
                    <td class="text-left">2. จำนวนเงินภาษีมูลค่าเพิ่มที่ต้องนำส่ง</td>
                    <td class="text-right">8,000.00</td>
                </tr>
                <tr role="row" class="odd">
                    <td class="text-left">(ตัวอักษร) <b>แปดพันบาทถ้วน</b></td>
                    <td class="text-right">-</td>
                </tr>
                <tr role="row" class="odd">
                    <td class="text-left">3. เงินเพิ่ม</td>
                    <td class="text-right">0.00</td>
                </tr>
                <tr role="row" class="odd">
                  <td class="text-left">4. เบี้ยปรับ (ถ้ามี เฉพาะกรณีรับโอนสินค้าหรือรับโอนสิทธิในบริการที่ได้เสียภาษีในอัตราร้อยละ 0))</td>
                  <td class="text-right">0.00</td>
                </tr>
                <tr role="row" class="odd">
                  <td class="text-left">5. รวมภาษีมูลค่าเพิ่มที่ต้องนำส่ง เงินเพิ่ม และเบี้ยปรับ (2. + 3. + 4.)</td>
                  <td class="text-right">8,000.00</td>
                </tr>
                <tr role="row" class="odd">
                  <td class="text-left">(ตัวอักษร) <b>แปดพันบาทถ้วน</b></td>
                  <td class="text-right">-</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row text-center d-block">
      <button type="button" class="btn btn-danger btn-auto" (click)="modalService.dismissAll()" #closeBtn>
          <i class="fa fa-close"></i> ปิด
      </button>
  </div>
</ng-template>

<ng-template #transactionContent let-modal>
  <div class="modal-header">
      <h4 class="modal-title title mt-auto text-left" id="modal-vat36-1">
        รายละเอียดธุรกรรมของข้อมูล ภ.ง.ด.54 และ ภ.พ.36
      </h4>
      <br>
      <button type="button" class="btn btn-primary btn-auto" #printBtn>
          <i class="fa fa-print"></i> พิมพิ์
      </button>
  </div>
  <div class="modal-body">
      <div class="row">
          <span class="title column-title">ผู้ที่รับเงิน</span>
      </div>
      <div class="row">
          <div class="col-12 col-sm-3">
          </div>
          <div class="col-12 col-sm-3">
              <p>ชื่อ</p>
              <p><b>Shakil Whitworth</b></p>
          </div>
          <div class="col-12 col-sm-3">
              <p>เลขที่สาขา</p>
              <p><b>00000</b></p>
          </div>
          <div class="col-12 col-sm-3">
              <p>ที่อยู่</p>
              <p><b>10 West 53 Street New York United States</b></p>
          </div>
      </div>
      <hr>
      <div class="row">
        <span class="title column-title">ผู้ที่จ่ายเงิน</span>
      </div>
      <div class="row">
        <div class="col-12 col-sm-3">
            <p>เลขประจำตัวผู้เสียภาษีอากร</p>
            <p><b>1-9030-43040-85-6</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>ชื่อ</p>
            <p><b>บริษัท ไทย กรีน จำกัด</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>เลขที่สาขา</p>
            <p><b>00000</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>ที่อยู่</p>
            <p><b>223/61  อาคาร คันทรี่ คอมเพล็กซ์ เอ ชั้น 14 ถนน สรรพาวุธ  แขวงบางนาใต้  เขตบางนา  กรุงเทพมหานคร 10260 ประเทศไทย</b></p>
        </div>
    </div>
    <hr>
      <div class="row">
          <span class="title column-title">รายละเอียดการจ่ายเงิน</span>
      </div>
      <div class="row">
          <div class="col-12 col-sm-3">
              <p>ข้อมูลบัญชี Prompt Pay ผู้ขาย</p>
              <p><b>-</b></p>
          </div>
          <div class="col-12 col-sm-3">
              <p>ประเภทช่องทาง Prompt Pay ผู้ขาย</p>
              <p><b>-</b></p>
          </div>
          <div class="col-12 col-sm-3">
              <p>เลขที่บัญชีธนาคาร ผู้ขาย</p>
              <p><b>370791736</b></p>
          </div>
          <div class="col-12 col-sm-3">
              <p>ธนาคาร  ผู้ขาย</p>
              <p><b>FIRST STATE BANK OF BLAKELY</b></p>
          </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-3">
            <p>ข้อมูลบัญชี Prompt Pay ผู้ซื้อ</p>
            <p><b>1-9030-43040-85-6</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>ประเภทช่องทาง Prompt Pay ผู้ซื้อ</p>
            <p><b>Tax ID</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>เลขที่บัญชีธนาคาร ผู้ซื้อ</p>
            <p><b>010-2-94649-5</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>ธนาคาร  ผู้ซื้อ</p>
            <p><b>ธนาคารกรุงเทพ จำกัด (มหาชน) สาขาพลับพลาไชย</b></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-3">
            <p>จำนวนเงิน</p>
            <p><b>100,000.00 บาท</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>วันที่ และเวลาที่จ่ายเงิน</p>
            <p><b>30/04/2562 02:00:00 น.</b></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-3">
            <p>ภาษีเงินได้หัก ณ ที่จ่าย</p>
            <p><b>15,000.00 บาท</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>อัตราภาษีเงินได้หัก ณ ที่จ่าย</p>
            <p><b>15%</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>ภาษีมูลค่าเพิ่ม</p>
            <p><b>8,000.00 บาท</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>อัตราภาษีมูลค่าเพิ่ม</p>
            <p><b>8%</b></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-3">
            <p>ประเภทเงินได้</p>
            <p><b>504 : ค่าสิทธิในสิทธิบัตร เครื่องหมายการค้า แบบหรือหุ่นจำลอง แผนผัง สูตรลับ หรือกรรมวิธีลับใดๆ ตามมาตรา 40(3)</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>หมายเลขอ้างอิงการทำรายการ</p>
            <p><b>-</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>หมายเลขเครื่อง EDC</p>
            <p><b>-</b></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-3">
            <p>หมายเลขหน้าบัตรเดบิต/เครดิต</p>
            <p><b>-</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>ธนาคาร/หน่วยงาน ผู้ออกบัตร</p>
            <p><b>-</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>ธนาคาร/หน่วยงาน ผู้รับชำระเงิน</p>
            <p><b>-</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>รหัสร้านค้าที่รับชำระเงิน</p>
            <p><b>-</b></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-3">
            <p>สาขาภาษีมูลค่าเพิ่มผู้จ่ายเงิน</p>
            <p><b>-</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>สาขาภาษีมูลค่าเพิ่มผู้รับเงิน</p>
            <p><b>-</b></p>
        </div>
      </div>
      <div class="row">
        <span class="title column-title">ข้อมูลแบบแสดงรายการ</span>
      </div>
      <div class="row">
        <div class="col-12 col-sm-3">
            <p>แบบ</p>
            <p><b>ภ.ง.ด.54, ภ.พ.36</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>ประเภทการยื่นแบบ</p>
            <p><b>ยื่นปกติ</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>เดือนภาษี</p>
            <p><b>เมษายน</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>ปีภาษี</p>
            <p><b>2562</b></p>
        </div>
      </div>
  </div>
  <div class="row text-center d-block">
      <button type="button" class="btn btn-danger btn-auto" (click)="modalService.dismissAll()" #closeBtn>
          <i class="fa fa-close"></i> ปิด
      </button>
  </div>
</ng-template>