<div class="header-title mb-4">
  <h1><strong>ข้อมูลคำร้องขอคืนเงินภาษีอากร</strong>
    <small class="pull-right"><a routerLink="/home" class="active">หน้าหลัก</a> /
      ข้อมูลคำร้องขอคืนเงินภาษีอากร
    </small>
  </h1>
</div>
<div class="card mb-4">
  <div class="card-header ">
    <div class="justify-content-left">
      <h4><i class="fa fa-file-text"></i> ค้นหาการบันทึกผลขอคืนเงินภาษีอากร</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-sm-3">
        <label for="docNoticeNumber">เลขที่รับเอกสาร :</label>
        <input id="docNoticeNumber" class="form-control" [(ngModel)]="pageRequest.docNoticeNumber" maxlength="100"
               (keydown)="paginationWhenPressEnter($event)">
      </div>
      <div class="col-12 col-sm-3">
        <label for="taxAgentPin">เลขประจำตัวผู้เสียภาษีอากร :</label>
        <input id="taxAgentPin" class="form-control" [(ngModel)]="pageRequest.taxAgentPin" maxlength="100"
               (keydown)="paginationWhenPressEnter($event)">
      </div>
      <div class="col-12 col-sm-3">
        <label for="taxAgentName">ชื่อผู้ขอคืน :</label>
        <input id="taxAgentName" class="form-control" [(ngModel)]="pageRequest.taxAgentName" maxlength="13" appNumberOnly
               (keydown)="paginationWhenPressEnter($event)">
      </div>
      <div class="col-12 col-sm-3">
        <label for="taxTypeCode">ประเภทภาษีอากร :</label>
        <select id="taxTypeCode" class="form-control" [(ngModel)]="pageRequest.taxTypeCode">
          <option [value]="null" selected></option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3">
        <label for="accountPeriodStart">ตั้งแต่วันที่รับ :</label>
        <app-datepicker-th id="accountPeriodStart" [(ngModel)]="pageRequest.accountPeriodStart"></app-datepicker-th>
      </div>
      <div class="col-12 col-sm-3">
        <label for="accountPeriodEnd">ถึง :</label>
        <app-datepicker-th id="accountPeriodEnd" [(ngModel)]="pageRequest.accountPeriodEnd"></app-datepicker-th>
      </div>
      <div class="col-12 col-sm-3">
        <label for="requestStatus">สถานะ :</label>
        <option id="requestStatus" class="form-control" [(ngModel)]="pageRequest.requestStatus">
          <select [value]="null">ทั้งหมด</select>
        </option>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <a type="button" class="btn btn-success margin-top-10 btn-auto text-white" (click)="pagination()">
          <i class="fa fa-search"></i> ค้นหา
        </a>
        <a type="button" class="btn btn-warning margin-top-10 btn-auto text-white"
           (click)="createNewPageRequest(); pagination();">
          <i class="fa fa-repeat" aria-hidden="true"></i> ล้างค่า
        </a>
      </div>
    </div>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header ">
    <div class="justify-content-left">
      <h4><i class="fa fa-file-text"></i> รายการคำร้องขอคืนเงินภาษีอากร</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="row table-responsive m-0">
      <table class="table table-striped">
        <caption>จำนวน {{pageResponse.content.length}} จาก {{pageResponse.totalElements}}</caption>
        <thead>
        <tr>
          <th style="flex: 0.1">ลำดับ</th>
          <th style="flex: 0.5" class="text-center">
            <a (click)="sort('docNoticeNumber')" style="cursor: pointer" title="เรื่องลำดับข้อมูลตามเลขที่รับเอกสาร"
               tooltip="เรื่องลำดับข้อมูลตามเลขที่รับเอกสาร">
              เลขที่รับเอกสาร
              <ng-container *ngIf="pageRequest.sortFieldName === 'docNoticeNumber'">
                <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </a>
          </th>
          <th style="flex: 0.5" class="text-center">
            <a (click)="sort('accountPeriodStart')" style="cursor: pointer" title="เรื่องลำดับข้อมูลตามวันเดือนปีที่รับ"
               tooltip="เรื่องลำดับข้อมูลตามวันเดือนปีที่รับ">
              วันเดือนปีที่รับ
              <ng-container *ngIf="pageRequest.sortFieldName === 'accountPeriodStart'">
                <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </a>
          </th>
          <th class="text-center">
            <a (click)="sort('taxAgentPin')" style="cursor: pointer" title="เรื่องลำดับข้อมูลตามเลขประจำตัวผู้เสียภาษีอากร"
               tooltip="เรื่องลำดับข้อมูลตามเลขประจำตัวผู้เสียภาษีอากร">
              เลขประจำตัวผู้เสียภาษีอากร
              <ng-container *ngIf="pageRequest.sortFieldName === 'taxAgentPin'">
                <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </a>
          </th>
          <th class="text-center">
            <a (click)="sort('taxAgentName')" style="cursor: pointer" title="เรื่องลำดับข้อมูลตามชื่อผู้ขอคืน"
               tooltip="เรื่องลำดับข้อมูลตามชื่อผู้ขอคืน">
              ชื่อผู้ขอคืน
              <ng-container *ngIf="pageRequest.sortFieldName === 'taxAgentName'">
                <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </a>
          </th>
          <th style="flex: 0.5" class="text-center">
            <a (click)="sort('taxTypeName')" style="cursor: pointer" title="เรื่องลำดับข้อมูลตามประเภทภาษีอากร"
               tooltip="เรื่องลำดับข้อมูลตามประเภทภาษีอากร">ประเภทภาษีอากร
              <ng-container *ngIf="pageRequest.sortFieldName === 'taxTypeName'">
                <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </a>
          </th>
          <th style="flex: 0.5" class="text-center">
            <a (click)="sort('taxFilingNo')" style="cursor: pointer"
               title="เรื่องลำดับข้อมูลตามเลขที่คำร้องขอคืน ค.10"
               tooltip="เรื่องลำดับข้อมูลตามเลขที่คำร้องขอคืน ค.10">
              เลขที่คำร้องขอคืน ค.10
              <ng-container *ngIf="pageRequest.sortFieldName === 'taxFilingNo'">
                <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </a>
          </th>
          <th style="flex: 0.5" class="text-center">
            <a (click)="sort('requestAmount')" style="cursor: pointer"
               title="เรื่องลำดับข้อมูลตามจำนวนเงินที่ขอคืน"
               tooltip="เรื่องลำดับข้อมูลตามจำนวนเงินที่ขอคืน">
              จำนวนเงินที่ขอคืน (บาท)
              <ng-container *ngIf="pageRequest.sortFieldName === 'requestAmount'">
                <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </a>
          </th>
          <th style="flex: 0.5" class="text-center">
            <a (click)="sort('requestStatusName')" style="cursor: pointer"
               title="เรื่องลำดับข้อมูลตามสถานะคำขอ"
               tooltip="เรื่องลำดับข้อมูลตามสถานะคำขอ">
              สถานะ
              <ng-container *ngIf="pageRequest.sortFieldName === 'requestStatusName'">
                <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </a>
          </th>
          <th style="flex: 0.2"></th>
        </tr>
        </thead>
        <tbody *ngIf="pageResponse.content.length != 0">
        <tr *ngFor="let item of pageResponse.content; let i = index">
          <td class="text-center">{{(pageRequest.page * pageRequest.pageSize) - pageRequest.pageSize + i + 1}}
          </td>
          <td class="text-center">{{item.docNoticeNumber}}</td>
          <td class="text-center">{{item.accountPeriodStart | thaidate | replaceNullValue: '-'}}</td>
          <td class="text-center">{{item.taxAgentPin | replaceNullValue: '-'}}</td>
          <td class="text-center">{{item.taxAgentName | replaceNullValue: '-'}}</td>
          <td class="text-center">{{item.taxTypeName | replaceNullValue: '-'}}</td>
          <td class="text-center">{{item.taxFilingNo | replaceNullValue: '-'}}</td>
          <td class="text-center">{{item.requestAmount | number: '1.2' | replaceNullValue: '-'}}</td>
          <td class="text-center">{{item.requestStatusName | replaceNullValue: '-'}}</td>
          <td class="text-center">
            <button class="btn btn-green mr-1" type="button" title="ตรวจสอบข้อมูลโอนย้าย" tooltip="ตรวจสอบข้อมูลโอนย้าย"
                    *ngIf="item.requestStatusName === 'รออนุมัติโอนย้าย'"
                    [routerLink]="['../transfer-approval-detail']" > ตรวจสอบข้อมูลโอนย้าย
            </button>
          </td>
        </tr>
        </tbody>
        <tbody *ngIf="pageResponse.content.length == 0">
        <tr>
          <th class="text-center" colspan="10">ไม่พบข้อมูล</th>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row text-right">
      <div class="col-12 col-sm-2 offset-sm-5">
        รายการ
      </div>
      <div class="col-12 col-sm-1">
        <select class="form-control" [(ngModel)]="pageRequest.pageSize" (change)="pagination()">
          <option [value]="10">10</option>
          <option [value]="25">25</option>
          <option [value]="50">50</option>
        </select>
      </div>
      <div class="col-12 col-sm-4 d-flex">
        <div class="ml-auto">
          <pagination [totalItems]="pageResponse.totalElements" [itemsPerPage]="pageRequest.pageSize"
                      [(ngModel)]="pageRequest.page" [maxSize]="5" previousText="ย้อนกลับ" nextText="ถัดไป"
                      (pageChanged)="pageRequest.page = $event.page;pagination()"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
