<section class="content">
  <div class="header-title">
    <h1>
      <strong>กลุ่มประเภทเงินได้และแบบภาษี</strong>
      <small class="pull-right">
        <a href="" class="active">หน้าหลัก</a> /
        <a href="" class="active">กลุ่มประเภทเงินได้และแบบภาษี</a> / บันทึกกลุ่มประเภทเงินได้และแบบภาษี
      </small>
    </h1>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading">
          <div class="panel-title">
              <h3>บันทึกกลุ่มประเภทเงินได้และแบบภาษี</h3>
          </div>
        </div>

        <div class="panel-body no-padding"></div>

        <div class="panel-body">
          <form [formGroup]="welfareTaxTypeForm" (ngSubmit)="saveTaxType()">
              <div class="row form-group">
                <div class="ccol-12 col-sm-4 text-sm-right text-left">
                  <label>ระบบงานภาษี : <span class="red">*</span></label>
                </div>
                <div class="col-12 col-sm-4 text-left">
                  <select class="custom-select form-control" #workSystem formControlName="workSystemId"
                      [ngClass]="{'border-danger': taxTypeCodeControl.invalid && taxTypeCodeControl.touched}"
                      (change)="onWorkSystemChange(workSystem.value)" >
                      <option value="-1">โปรดระบุ</option>
                      <option *ngFor="let item of workSystemList" [value]="item.id">
                        {{item.name}}
                      </option>
                  </select>
                  <div class="red error-msg" *ngIf="((taxTypeCodeControl.hasError('required') && taxTypeCodeControl.touched) || (taxTypeCodeControl?.value == -1))">
                      กรุณาระบุระบบงานภาษี
                  </div>
                </div>
              </div>

              <div class="row form-group">
                <div class="ccol-12 col-sm-4 text-sm-right text-left">
                  <label>รหัสประเภทแบบ : <span class="red">*</span></label>
                </div>
                <div class="col-12 col-sm-4 text-left">
                  <input type="text" appNumberOnly class="form-control" minlength="4" maxlength="4" formControlName="taxTypeCode"
                    [ngClass]="{'border-danger': taxTypeCodeControl.invalid && taxTypeCodeControl.touched}">
                  <div class="red error-msg" *ngIf="taxTypeCodeControl.hasError('required') && taxTypeCodeControl.touched">
                    กรุณาระบุรหัสประเภทแบบ
                  </div>
                  <div class="red error-msg" *ngIf="!taxTypeCodeControl.hasError('required') && taxTypeCodeControl.hasError('minlength') && taxTypeCodeControl.touched">
                    รหัสประเภทแบบต้องมีความยาว 4 หลัก
                  </div>
                </div>
              </div>

              <div class="row form-group">
                <div class="ccol-12 col-sm-4 text-sm-right text-left">
                  <label>ชื่อประเภทแบบ : <span class="red">*</span></label>
                </div>
                <div class="col-12 col-sm-4 text-left">
                  <input type="text" class="form-control"  maxlength="50" formControlName="taxTypeDesc"
                  [ngClass]="{'border-danger': taxTypeDescControl.invalid && taxTypeDescControl.touched}">
                  <div class="red error-msg" *ngIf="taxTypeDescControl.hasError('required') && taxTypeDescControl.touched">
                      กรุณาระบุชื่อประเภทแบบ
                  </div>
                </div>
              </div>

              <div class="row form-group">
                <div class="ccol-12 col-sm-4 text-sm-right text-left">
                  <label>รหัสไฟล์ประเภทแบบ : <span class="red">*</span></label>
                </div>
                <div class="col-12 col-sm-4 text-left">
                  <input type="text" appNumberOnly class="form-control" minlength="4" maxlength="4" formControlName="fileCode"
                  [ngClass]="{'border-danger': fileCodeControl.invalid && fileCodeControl.touched}">
                  <div class="red error-msg" *ngIf="fileCodeControl.hasError('required') && fileCodeControl.touched">
                      กรุณาระบุรหัสไฟล์ประเภทแบบ
                  </div>
                  <div class="red error-msg" *ngIf="!fileCodeControl.hasError('required') && fileCodeControl.hasError('minlength') && fileCodeControl.touched">
                    รหัสไฟล์ประเภทแบบต้องมีความยาว 4 หลัก
                  </div>
                </div>
              </div>

            <table width="auto" border="0" cellspacing="10" cellpadding="0" style="margin:auto;">
              <tr>
                <td>
                  <button type="submit" *ngIf="authService.hasAnyPermission(['GWSP030200.ADD','GWSP030200.UPDATE'])" class="btn btn-green w-md m-b-5" >
                  <i class="fa fa-floppy-o"></i>
                    &nbsp;บันทึก
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-orange3 w-md m-b-5" (click)="back()">
                    <i class="fa fa-times"></i>
                    ยกเลิก
                  </button>
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

