<app-navigatortab></app-navigatortab>
<section class="content">
  <div class="header-title mb-4">
    <h1>
      <strong>ผลการคัดค้นแบบสรุป : เดือนเมษายน - พฤษภาคม 2562 </strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> /  คัดค้นการชำระเงินแบบอิเล็กทรอนิกส์ (e-Payment) / ผลการคัดค้นข้อมูลผู้เสียภาษีอากร</small>
    </h1>
  </div>

  <div class="row my-3 justify-content-end">
    <a target="_blank" class="btn btn-primary btn-auto mr-3" [routerLink]="['/print/preview/summary-per-tax']">
        <i class="fa fa-print"></i> พิมพ์
    </a>
  </div>

  <div class="card mb-4" *ngIf="pageResponse?.content!=null">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>ข้อมูลผู้เสียภาษี</h4>
    </div>
    <div class="card-body">
      เลขประจำตัวผู้เสียภาษีอากร : {{ pageResponse?.content[0]?.taxpayerPin }}    ชื่อผู้เสียภาษีอากร : {{ pageResponse.content[0]?.taxpayerTitle }} {{ pageResponse.content[0]?.taxpayerFirstname }}  สาขา {{pageResponse.content[0]?.branchNo}}
ที่อยู่ : {{ pageResponse?.content[0]?.nameBuilding || '' }}  {{ pageResponse?.content[0]?.roomNo || '' }} {{ pageResponse?.content[0]?.floorNo || '' }} {{ pageResponse?.content[0]?.village || '' }} {{ pageResponse.content[0]?.addressNo || '' }} {{ pageResponse.content[0]?.moo || '' }} {{ pageResponse.content[0]?.soi || '' }} {{ pageResponse?.content[0]?.lane || '' }} {{ pageResponse.content[0]?.road || '' }} {{ pageResponse.content[0]?.subDistrict || '' }} {{ pageResponse.content[0]?.district || '' }} {{ pageResponse.content[0]?.province || '' }} {{ pageResponse.content[0]?.postcode || '' }}
สำนักงานภูมิลำเนา : สส.บางนา  (สท.กรุงเทพมหานคร 17)
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
       <h4><i class="fa fa-list"></i>รายการที่หักภาษีผู้อื่น</h4>
     </div>
     <div class="card-body">
       <table
       class="table table-striped table-bordered table-sm"
       cellspacing="0"
       width="100%">
       <thead>
         <tr role="row">
           <!-- <th class="text-center" scope="col" style="width: 50px"></th> -->
           <th class="text-center" scope="col">รหัสแบบ</th>
           <th class="text-center" scope="col">รวมจำนวนเงิน (บาท)</th>
           <th class="text-center" scope="col">รวมภาษีเงินได้หัก ณ ที่จ่าย (บาท)</th>
           <th class="text-center" scope="col">รวมภาษีมูลค่าเพิ่ม (บาท)</th>
           <th class="text-center" scope="col" style="width: 120px"></th>
         </tr>
       </thead>
       <tbody>
         <tr role="row" class="odd">
           <td class="text-center">ภ.ง.ด.1
               <span class="glyphicon glyphicon-info-sign"  tooltip="มีภาษีเงินได้หัก ณ ที่จ่าย ภ.ง.ด.1  เท่านั้น">
                </span>
           </td>
           <td class="text-center">
             499,480.00
           </td>
           <td class="text-center">49,948.00</td>
           <td class="text-center" >
           0.00
           </td>
           <td class="text-center">
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-orange btn-sm btn-auto"
                (click)="gotoPnd01()"
                tooltip="ดูรายละเอียด">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
           </td>
         </tr>
         <tr role="row" class="odd">
            <td class="text-center">ภ.ง.ด.2
                <span class="glyphicon glyphicon-info-sign"  tooltip="มีภาษีเงินได้หัก ณ ที่จ่าย ภ.ง.ด.2  เท่านั้น">
                 </span>
            </td>
            <td class="text-center">
              99,000.00
            </td>
            <td class="text-center">9,900.00</td>
            <td class="text-center" >
            0.00
            </td>
            <td class="text-center">
              <div class="btn-group">
                <button
                type="button"
                class="btn btn-orange btn-sm btn-auto"
                (click)="gotoPnd01()"
                tooltip="ดูรายละเอียด">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
              </div>
            </td>
          </tr>
          <tr role="row" class="odd" >
              <td class="text-center">ภ.ง.ด.3
                  <span class="glyphicon glyphicon-info-sign"  tooltip="มีภาษีเงินได้หัก ณ ที่จ่าย ภ.ง.ด.3  ที่อาจจะมีข้อมูลภาษีมูลค่าเพิ่ม (เฉพาะข้อมูลประกอบ ภ.พ.30) มาด้วย">
                   </span>
              </td>
              <td class="text-center">
                100,000.00
              </td>
              <td class="text-center">10,000.00</td>
              <td class="text-center" >
              0.00
              </td>
              <td class="text-center">
                <div class="btn-group">
                  <button
                type="button"
                class="btn btn-orange btn-sm btn-auto"
                (click)="gotoPnd01()"
                tooltip="ดูรายละเอียด">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
                </div>
              </td>
            </tr>
            <tr role="row" class="odd" >
                <td class="text-center">ภ.ง.ด.53
                    <span class="glyphicon glyphicon-info-sign"  tooltip="มีภาษีเงินได้หัก ณ ที่จ่าย ภ.ง.ด.53  ที่อาจจะมีข้อมูลภาษีมูลค่าเพิ่ม (เฉพาะข้อมูลประกอบ ภ.พ.30) มาด้วย">
                     </span>
                </td>
                <td class="text-center">
                  50,000.00
                </td>

                <td class="text-center">5,000.00</td>
                <td class="text-center" >
                0.00
                </td>
                <td class="text-center">
                  <div class="btn-group">
                    <button
                type="button"
                class="btn btn-orange btn-sm btn-auto"
                (click)="gotoPnd01()"
                tooltip="ดูรายละเอียด">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
                  </div>
                </td>
              </tr>
              <tr role="row" class="odd" >
                  <td class="text-center">ภ.ง.ด54
                      <span class="glyphicon glyphicon-info-sign"  tooltip="มีภาษีเงินได้หัก ณ ที่จ่าย ภ.ง.ด.53  ที่อาจจะมีข้อมูลภาษีมูลค่าเพิ่ม (เฉพาะข้อมูลประกอบ ภ.พ.30) มาด้วย">
                       </span>
                  </td>
                  <td class="text-center">
                    10,000.00
                  </td>
                  <td class="text-center">1,000.00</td>
                  <td class="text-center" >
                  0.00
                  </td>
                  <td class="text-center">
                    <div class="btn-group">
                      <button
                      type="button"
                      class="btn btn-orange btn-sm btn-auto"
                      (click)="gotoPnd01()"
                      tooltip="ดูรายละเอียด">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                    </div>
                  </td>
                </tr>
         <tr role="row" >
           <td class="text-center">รวม</td>
           <td class="text-center">758,480.00</td>
           <td class="text-center" >
              75,848.00
           </td>
           <td class="text-center" >
              0.00
           </td>
           <td class="text-center">
             <div class="btn-group">

             </div>
           </td>
         </tr>
       </tbody>
     </table>
     </div>
   </div>
   <div class="card mb-4">
      <div class="card-header">
         <h4><i class="fa fa-list"></i>รายการที่ถูกผู้อื่นหักภาษี
         </h4>
       </div>
       <div class="card-body">
         <table
         class="table table-striped table-bordered table-sm"
         cellspacing="0"
         width="100%">
         <thead>
           <tr role="row">
             <!-- <th class="text-center" scope="col" style="width: 50px"></th> -->
             <th class="text-center" scope="col">รหัสแบบ</th>
             <th class="text-center" scope="col">รวมจำนวนเงิน (บาท)</th>
             <th class="text-center" scope="col">รวมภาษีเงินได้หัก ณ ที่จ่าย (บาท)</th>
             <th class="text-center" scope="col">รวมภาษีมูลค่าเพิ่ม (บาท)</th>
             <th class="text-center" scope="col" style="width: 120px"></th>
           </tr>
         </thead>
         <tbody>
           <tr role="row" class="odd">
             <td class="text-center">ภ.ง.ด53
                <span class="glyphicon glyphicon-info-sign"  tooltip="มีภาษีเงินได้หัก ณ ที่จ่าย ภ.ง.ด.53  ที่อาจจะมีข้อมูลภาษีมูลค่าเพิ่ม (เฉพาะข้อมูลประกอบ ภ.พ.30) มาด้วย">
                 </span>
            </td>
             <td class="text-center">
               700,000.00
             </td>
             <td class="text-center">21,000.00</td>
             <td class="text-center" >
                0.00
             </td>
             <td class="text-center">
               <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-orange btn-sm btn-auto"
                  (click)="gotoWhtPnd53()"
                  tooltip="ดูรายละเอียด">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
               </div>
             </td>
           </tr>
           <tr role="row" >

             <td class="text-center">รวม</td>
             <td class="text-center">700,000.00</td>
             <td class="text-center" >
              21,000.00
             </td>
             <td class="text-center" >
            0.00
             </td>
             <td class="text-center">
               <div class="btn-group">

               </div>
             </td>
           </tr>
         </tbody>
       </table>
       </div>
     </div>
  <div class="card mb-4">
   <div class="card-header">
      <h4><i class="fa fa-list"></i>รายการยอดซื้อ </h4>
    </div>
    <div class="card-body">
      <table
      class="table table-striped table-bordered table-sm"
      cellspacing="0"
      width="100%">
      <thead>
        <tr role="row">
          <!-- <th class="text-center" scope="col" style="width: 50px"></th> -->
          <th class="text-center" scope="col">รหัสแบบ</th>
          <th class="text-center" scope="col">รวมจำนวนเงิน (บาท)</th>
          <th class="text-center" scope="col">รวมภาษีเงินได้หัก ณ ที่จ่าย (บาท)</th>
          <th class="text-center" scope="col">รวมภาษีมูลค่าเพิ่ม (บาท)</th>
          <th class="text-center" scope="col" style="width: 120px"></th>
        </tr>
      </thead>
      <tbody>
        <tr role="row" class="odd" *ngFor="let v of pageResponse?.content">
          <td class="text-center">ภ.พ.36</td>
          <td class="text-center">
            {{  v.amount || "-" }}
          </td>

          <td class="text-center">0.00</td>
          <td class="text-center" >
            {{ v.vatAmount || "-" }}
          </td>
          <td class="text-center">
            <div class="btn-group">

              <button
                type="button"
                class="btn btn-orange btn-sm btn-auto"
                (click)="showDetail(v.taxpayerPin)"
                tooltip="ดูรายละเอียด"
              >
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr role="row" >

          <td class="text-center">รวม</td>
          <td class="text-center">
            4,000
          </td>

          <td class="text-center">0.0</td>
          <td class="text-center" >
           261.68
          </td>
          <td class="text-center">
            <div class="btn-group">

            </div>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  <div class="card mb-4">
      <div class="card-header">
         <h4><i class="fa fa-list"></i>รายการอื่น ๆ
         </h4>
       </div>
       <div class="card-body">
         <table
         class="table table-striped table-bordered table-sm"
         cellspacing="0"
         width="100%">
         <thead>
           <tr role="row">
             <!-- <th class="text-center" scope="col" style="width: 50px"></th> -->
             <th class="text-center" scope="col">รหัสแบบ</th>
             <th class="text-center" scope="col">รวมจำนวนเงิน (บาท)</th>
             <th class="text-center" scope="col">รวมภาษีเงินได้หัก ณ ที่จ่าย (บาท)</th>
             <th class="text-center" scope="col">รวมภาษีมูลค่าเพิ่ม (บาท)</th>
             <th class="text-center" scope="col" style="width: 120px"></th>
           </tr>
         </thead>
         <tbody>
           <tr role="row" class="odd">
             <td class="text-center">ภ.ง.ด.54 และ ภ.พ.36
                <span class="glyphicon glyphicon-info-sign"  tooltip="มีทั้งภาษีเงินได้หัก ณ ที่จ่าย ภ.ง.ด.54 และ ภาษีมูลค่าเพิ่ม ภ.พ.36">
                 </span>
            </td>
             <td class="text-center">
               400,000.00
             </td>
             <td class="text-center">60,000.00</td>
             <td class="text-center" >
                32,000.00
             </td>
             <td class="text-center">
               <div class="btn-group">
                 <button
                   type="button"
                   class="btn btn-orange btn-sm btn-auto"
                   (click)="gotoOhterDetail53(pageResponse?.content[0]?.taxpayerPin)"
                   tooltip="ดูรายละเอียด">
                   <i class="fa fa-search" aria-hidden="true"></i>
                 </button>
               </div>
             </td>
           </tr>
           <tr role="row" >

             <td class="text-center">รวม</td>
             <td class="text-center">700,000.00</td>
             <td class="text-center" >
              21,000.00
             </td>
             <td class="text-center" >
            0.00
             </td>
             <td class="text-center">
               <div class="btn-group">

               </div>
             </td>
           </tr>
         </tbody>
       </table>
       </div>
     </div>
</section>
