<section class="content">
  <div class="header-title">
    <h1><strong>ตั้งค่า HSM</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / ตั้งค่า HSM</small></h1>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="header-title fa fa-file-text"></i> ข้อมูลการตั้งค่า HSM</h4>
    </div>
    <div class="card-body">
      <form role="form" [formGroup]="searchHSMFormgroup" (ngSubmit)="doSearch()">
        <div class="row">
          <div class="form-group col-md-6">
            <label>HSM Name:</label>
            <input type="text" class="form-control" name="hsmName" id="hsmName"
                   formControlName="hsmName" placeholder="HSM Name">
          </div>
          <div class="form-group col-md-6">
            <label>HSM Slot:</label>
            <input type="text" class="form-control" name="hsmSlot" id="hsmSlot"
                   formControlName="hsmSlot" placeholder="HSM Slot">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="form-group col-lg-2 reset-button">
            <button type="button" class="btn btn-primary margin-top-10" (click)="add()">
              <i class="glyphicon glyphicon-plus"></i> เพิ่ม
            </button>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <button type="submit" class="btn btn-success margin-top-10">
              <i class="glyphicon glyphicon-search"></i> ค้นหา
            </button>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
              <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-list"></i> ผลการค้นหา</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
        <tr role="row">
          <th class="text-center" scope="col" style="width: 50px">#</th>
          <th class="text-center" scope="col" >HSM Name</th>
          <th class="text-center" scope="col" >HSM Description</th>
          <th class="text-center" scope="col" >Brand Name</th>
          <th class="text-center" scope="col" >Partition  Name</th>
          <th class="text-center" scope="col" style="width: 50px"></th>
        </thead>
        <tbody>
        <tr role="row" class="odd" *ngFor="let hsm of hsmList; let i = index;">
          <td class="text-center">{{i + 1}}</td>
          <td class="text-center">{{hsm.hsmName}}</td>
          <td class="text-center">{{hsm.hsmDescription}}</td>
          <td class="text-center">{{hsm.brandName}}</td>
          <td class="text-center">{{hsm.partitionName}}</td>
          <td class="text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-auto btn-sm" tooltip="แก้ไข" (click)="goToEdit(hsm)">
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button type="button" class="btn btn-auto btn-sm red" tooltip="แก้ไข" (click)="deleteItem(hsm)">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr *ngIf="pageResponse.content?.length === 0">
          <td colspan="5" class="text-center"> ไม่พบข้อมูล </td>
        </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite" style="padding: 5px;">
            แสดงผล
            {{pageResponse.numberOfElements}} จาก
            {{pageResponse.totalPages}} รายการ
          </div>
        </div>
        <div class="col-sm-7 text-right">
          แสดงหน้าละ
          <select (change)="changeRowLimits($event)" style="padding: 5px;">
            <option *ngFor="let limit of rowLimits" [value]="limit.value">{{limit.key}}</option>
          </select>
          &nbsp;&nbsp;
          <pagination style="float: right;" [boundaryLinks]="true" [totalItems]="pageResponse.totalPages"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [rotate]="true"
                      [maxSize]="5" [(ngModel)]="pageRequest.page" (pageChanged)="pageChange($event,limit)" (limit)="limit"
                      [itemsPerPage]="pageResponse.size" aria-label="Default pagination"></pagination>
        </div>
      </div>
    </div>
  </div>
</section>
