<section class="content">
  <div class="header-title mb-4">
    <h1><strong>คัดค้นการชำระเงินแบบอิเล็กทรอนิกส์ (e-Payment)</strong>
      <small class="pull-right"><a routerLink="/home" class="active">หน้าหลัก</a> / คัดค้นการชำระเงินแบบอิเล็กทรอนิกส์ (e-Payment)
      </small>
    </h1>
  </div>
  <div class="card border-light mb-4">
    <div class="card-header ">
      <div class="justify-content-left">
        <h4><i class="fa fa-file-text"></i> คัดค้นการชำระเงินแบบอิเล็กทรอนิกส์ (e-Payment)</h4>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-3">
          <label for="registeredCode">เลขประจำตัวผู้เสียภาษีอากร</label>
          <input id="registeredCode" class="form-control" [(ngModel)]="nId">
        </div>
        <div class="col-12 col-sm-3">
          <label for="name">ชื่อผู้เสียภาษีอากร
          </label>
          <input id="name" class="form-control" [(ngModel)]="taxPayerName">
        </div>
        <div class="col-12 col-sm-3">
          <label for="nId">เดือนภาษี ปีภาษีที่คัดค้น</label>
          <input id="nId" class="form-control">
        </div>
        <div class="col-12 col-sm-3">
          <label for="end-month">ถึง</label>
          <input id="end-month" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <a type="button"  [routerLink]="['/dss/'+page]" [queryParams]="{nId: nId, taxPayerName: taxPayerName}" class="btn btn-success margin-top-10 btn-auto"  >
            <i class="fa fa-search"></i> ค้นหา
          </a>
          <a type="button" class="btn btn-warning margin-top-10 btn-auto"
            >
            <i class="fa fa-repeat" aria-hidden="true"></i> ล้างค่า
          </a>
        </div>
      </div>
    </div>
  </div>


</section>
