<div class="content">
  <div class="header-title mb-4">
    <h1><strong>รายงานผลการปรับปรุงข้อมูลจากระบบงานอื่นๆ</strong>
      <small class="pull-right"><a [routerLink]="['/']" class="active">หน้าหลัก</a> /
        รายงานผลการปรับปรุงข้อมูลจากระบบงานอื่นๆ
      </small>
    </h1>

  </div>
  <div class="card border-light mb-4">
    <div class="card-header">
      <h4 class="panel-title">
        <i class="header-title fa fa-file-text"></i> ค้นหา
      </h4>
    </div>
    <div class="card-body">

      <form [formGroup]="reportImproveSearchForm" (ngSubmit)="onSubmit()">
        <div formGroupName="reportImproveSearchC">
          <div class="form-row">
            <div class="form-group col-lg-6">
              <label for="fiNameTh">ผู้นำส่ง</label>
              <input formControlName="fiNameTh"
                     [typeahead]="financialList"
                     [typeaheadMinLength]="0"
                     (typeaheadOnSelect)="onSelectFi($event)"
                     placeholder="เลือกผู้นำส่ง"
                     typeaheadOptionField="fiNameTh"
                     class="form-control" id="fiNameTh">
            </div>

            <div class="form-group col-lg-6">
              <label for="dataTypeId">ประเภทข้อมูล</label>
              <select name="dataTypeId" id="dataTypeId" class="form-control full"
                      formControlName="dataTypeId">
                <option [value]="null">เลือกประเภทข้อมูล</option>
                <option *ngFor="let el of dataTypeList" [value]="el.id">{{el.dataTypeDesTh}}</option>
              </select>
            </div>

            <div class="form-group col-lg-8">
              <label for="dateRange">ช่วงวันที่นำส่งข้อมูล</label>
              <input type="text"
                     class="form-control full"
                     formControlName="dateRange"
                     [minDate]="minDate"
                     placeholder="เลือกช่วงวันที่นำส่งข้อมูล"
                     id="dateRange" bsDaterangepicker>
            </div>

            <div class="form-group col-lg-2 reset-button">
              <button type="submit" class="btn btn-success margin-top-10" id="list-search"><i class="fa fa-search"></i>
                ค้นหา
              </button>
            </div>
            <div class="form-group col-lg-2 reset-button">
              <button type="button" class="btn btn-warning margin-top-10" (click)="resetForm()" id="clear"><i
                class="fa fa-repeat"></i> ล้างค่า
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--  <div class="card border-light mb-4">-->
  <!--    <div class="card-header">-->
  <!--      <h4 class="panel-title">-->
  <!--        <i class="header-title fa fa-file-text"></i> สรุปรายการทั้งหมด-->
  <!--      </h4>-->
  <!--    </div>-->

  <!--    <div class="card-body">-->
  <!--      <table class="table table-striped table-bordered" cellspacing="0" width="100%" style="font-size: 12px;">-->
  <!--        <tbody>-->
  <!--        <tr>-->
  <!--          <th scope="col" class="text-center text-middle" rowspan="3" colspan="1">สรุปรายการทั้งหมด</th>-->
  <!--          <th scope="col" class="text-center text-middle" rowspan="2" style="width: 10%">จำนวนรายการ<br>(ทั้งหมด)-->
  <!--          </th>-->
  <!--          <th scope="col" class="text-center text-middle" colspan="2" style="width: 15%">ระบบ NID*-->
  <!--            (จำนวนรายการ)-->
  <!--          </th>-->
  <!--          <th scope="col" class="text-center text-middle" colspan="2" style="width: 15%">-->
  <!--            ระบบ VAT***-->
  <!--            (จำนวนรายการ)-->
  <!--          </th>-->
  <!--          <th scope="col" class="text-center text-middle" colspan="2" style="width: 15%">ระบบ ESUP**-->
  <!--            (จำนวนรายการ)-->
  <!--          </th>-->
  <!--        </tr>-->
  <!--        <tr>-->
  <!--          <th scope="col" class="text-center text-middle">พบ</th>-->
  <!--          <th scope="col" class="text-center text-middle">ไม่พบ</th>-->
  <!--          <th scope="col" class="text-center text-middle">การลงทะเบียน</th>-->
  <!--          <th scope="col" class="text-center text-middle">การไม่ลงทะเบียน</th>-->
  <!--          <th scope="col" class="text-center text-middle">พบ</th>-->
  <!--          <th scope="col" class="text-center text-middle">ไม่พบ</th>-->
  <!--        </tr>-->
  <!--        <tr>-->
  <!--          <th scope="col" class="text-right">{{this.totalRecord | currency:'':'':'1.0-0'}}</th>-->
  <!--          <th scope="col"-->
  <!--              class="text-right">{{this.totalFoundNidRecord | currency:'':'':'1.0-0'}}-->
  <!--          </th>-->
  <!--          <th scope="col"-->
  <!--              class="text-right">{{this.totalNotFoundNidRecord | currency:'':'':'1.0-0'}}-->
  <!--          </th>-->
  <!--          <th scope="col" class="text-right">-->
  <!--            {{this.totalVatRegisteredRecord | currency:'':'':'1.0-0'}}</th>-->
  <!--          <th scope="col" class="text-right">-->
  <!--            {{this.totalNotVatRegisteredRecord | currency:'':'':'1.0-0'}}</th>-->
  <!--          <th scope="col"-->
  <!--              class="text-right">{{this.totalFoundTeamRecord | currency:'':'':'1.0-0'}}-->
  <!--          </th>-->
  <!--          <th scope="col" class="text-right">-->
  <!--            {{this.totalNotFoundTeamRecord | currency:'':'':'1.0-0'}}</th>-->

  <!--        </tr>-->
  <!--        </tbody>-->
  <!--      </table>-->
  <!--    </div>-->
  <!--  </div>-->

  <div class="card border-light mb-4">
    <div class="card-header">
      <h4 class="panel-title">
        <i class="header-title fa fa-file-text"></i> ผลการค้นหา
      </h4>
    </div>
    <div class="card-body">
      <!--          <div style="padding-bottom: 10px">-->
      <!--            แสดงหน้าละ-->
      <!--            <select id="pageSize" [ngModel]="pageSize" (ngModelChange)="getPageSize($event)">-->
      <!--              <option value="5">5</option>-->
      <!--              <option value="10">10</option>-->
      <!--              <option value="15">15</option>-->
      <!--            </select>-->
      <!--            รายการ-->
      <!--          </div>-->
      <table class="table table-bordered table-sm" cellspacing="0" width="100%"
             style="font-size: 12px;">
        <thead class="thead-light">
        <tr>
          <th scope="col" class="text-center text-middle" rowspan="2" style="width: 5%">ลำดับ</th>
          <th scope="col" class="text-center text-middle" rowspan="2" style="width: 13%">ชื่อผู้นำส่ง</th>
          <th scope="col" class="text-center text-middle" rowspan="2" style="width: 8%">ประเภทข้อมูล</th>
          <th scope="col" class="text-center text-middle" rowspan="2" style="width: 10%">
            วัน/เวลาที่ส่งข้อมูล<br>(Receive Date)
          </th>
          <th scope="col" class="text-center text-middle" rowspan="2" style="width: 7%">
            วันที่ทำรายการ<br>(Payment Date)
          </th>
          <th scope="col" class="text-center text-middle" rowspan="2" style="width: 7%">ผู้จ่าย/ ผู้รับ, <br>ผู้ซื้อ/ <br>ผู้ขาย
          </th>
          <th scope="col" class="text-center text-middle" rowspan="2" style="width: 5%">จำนวนรายการ<br>(ทั้งหมด)
          </th>
          <th scope="col" class="text-center text-middle" colspan="2" style="width: 12%">ระบบ NID* <br>
            (จำนวนรายการ)
          </th>
          <th scope="col" class="text-center text-middle" colspan="3" style="width: 20%">ระบบ VAT*** <br>
            (จำนวนรายการ)
          </th>
          <th scope="col" class="text-center text-middle" colspan="2" style="width: 13%">ระบบ ESUP** <br>
            (จำนวนรายการ)
          </th>
        </tr>
        <tr>
          <th scope="col" class="text-center text-middle">พบ</th>
          <th scope="col" class="text-center text-middle">ไม่พบ</th>
          <th scope="col" class="text-center text-middle" style="width: 7%">ไม่จด VAT<br>บน NID</th>
          <th scope="col" class="text-center text-middle" style="width: 7%">พบ</th>
          <th scope="col" class="text-center text-middle" style="width: 6%">ไม่พบ</th>
          <th scope="col" class="text-center text-middle">พบ</th>
          <th scope="col" class="text-center text-middle">ไม่พบ</th>
        </tr>
        </thead>
        <tbody
          *ngFor="let el of edcReportCrossValidationList | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: page, totalItems: total }; let i=index">
        <tr>
          <th scope="row" class="text-center text-middle" rowspan="2"
              *ngIf="el.dataType.dataTypeCode === 'DT001' || el.dataType.dataTypeCode === 'DT004'">{{ (this.page - 1) * this.pageSize + i + 1 }}</th>
          <th scope="row" class="text-center text-middle"
              *ngIf="el.dataType.dataTypeCode !== 'DT001' && el.dataType.dataTypeCode !== 'DT004'">{{ (this.page - 1) * this.pageSize + i + 1 }}</th>

          <td class="text-left" rowspan="2"
              *ngIf="el.dataType.dataTypeCode === 'DT001' || el.dataType.dataTypeCode === 'DT004'">{{this.financialMap.get(el.fiCode)}}</td>
          <td class="text-left"
              *ngIf="el.dataType.dataTypeCode !== 'DT001' && el.dataType.dataTypeCode !== 'DT004'">{{this.financialMap.get(el.fiCode)}}</td>

          <td class="text-left" rowspan="2"
              *ngIf="el.dataType.dataTypeCode === 'DT001' || el.dataType.dataTypeCode === 'DT004'">{{(el.dataType.dataTypeDesTh) || '-'}}</td>
          <td class="text-left"
              *ngIf="el.dataType.dataTypeCode !== 'DT001' && el.dataType.dataTypeCode !== 'DT004'">{{(el.dataType.dataTypeDesTh) || '-'}}</td>

          <td class="text-center" rowspan="2"
              *ngIf="el.dataType.dataTypeCode === 'DT001' || el.dataType.dataTypeCode === 'DT004'">{{(el.receiveDate | thaidate: 'DD/MM/YYYY HH:mm น.') || '-'}}</td>
          <td class="text-center"
              *ngIf="el.dataType.dataTypeCode !== 'DT001' && el.dataType.dataTypeCode !== 'DT004'">{{(el.receiveDate | thaidate: 'DD/MM/YYYY HH:mm น.') || '-'}}</td>

          <td class="text-center" rowspan="2"
              *ngIf="el.dataType.dataTypeCode === 'DT001' || el.dataType.dataTypeCode === 'DT004'">
            <!--            {{(el.paymentDate | thaidate: 'DD/MM/YYYY') || '-'}}-->
            <div class="text-center" *ngIf="el.paymentDate==null">
              -
            </div>
            <div class="text-center" *ngIf="el.paymentDate!=null && el.paymentDate.length!=4">
              {{(el.paymentDate | thaidate: 'DD/MM/YYYY') || '-'}}
            </div>
            <div class="text-center" *ngIf="el.paymentDate!=null && el.paymentDate.length==4">
              {{(el.paymentDate | thaidate: 'YYYY') || '-'}}
            </div>
          </td>
          <td class="text-center"
              *ngIf="el.dataType.dataTypeCode !== 'DT001' && el.dataType.dataTypeCode !== 'DT004'">
            <!--            {{(el.paymentDate | thaidate: 'DD/MM/YYYY') || '-'}}-->
            <div class="text-center" *ngIf="el.paymentDate==null">
              -
            </div>
            <div class="text-center" *ngIf="el.paymentDate!=null && el.paymentDate.length!=4">
              {{(el.paymentDate | thaidate: 'DD/MM/YYYY') || '-'}}
            </div>
            <div class="text-center" *ngIf="el.paymentDate!=null && el.paymentDate.length==4">
              {{(el.paymentDate | thaidate: 'YYYY') || '-'}}
            </div>
          </td>

          <td class="text-left"
              *ngIf="el.dataType.dataTypeCode === 'DT001'">ผู้จ่าย
          </td>
          <td class="text-left"
              *ngIf="el.dataType.dataTypeCode === 'DT004'">ผู้ซื้อ
          </td>

          <td class="text-left"
              *ngIf="el.dataType.dataTypeCode === 'DT002' || el.dataType.dataTypeCode === 'DT003'">{{taxDataTypeList[el.dataType.dataTypeCode] || '-'}}</td>

          <!--        totalRecord & rTotalRecord  -->
          <td class="text-right"
              *ngIf="el.dataType.dataTypeCode === 'DT001' || el.dataType.dataTypeCode === 'DT002' || el.dataType.dataTypeCode === 'DT004'">{{(el.totalRecord | currency:'':'':'1.0-0') || '0'}}</td>
          <td class="text-right"
              *ngIf="el.dataType.dataTypeCode === 'DT003'">{{(el.rTotalRecord | currency:'':'':'1.0-0') || '0'}}</td>

          <!--        totalFoundNidRecord & rTotalFoundNidRecord  -->
          <td class="text-right"
              *ngIf="el.dataType.dataTypeCode === 'DT001' || el.dataType.dataTypeCode === 'DT002' || el.dataType.dataTypeCode === 'DT004'">{{(el.totalFoundNidRecord | currency:'':'':'1.0-0') || '0'}}</td>
          <td class="text-right"
              *ngIf="el.dataType.dataTypeCode === 'DT003'">{{(el.rTotalFoundNidRecord | currency:'':'':'1.0-0') || '0'}}</td>

          <!--        totalNotFoundNidRecord & rTotalNotFoundNidRecord   -->

          <td class="text-right" (click)="onViewDetail(el, 'S', '1')"
              *ngIf="(el.dataType.dataTypeCode === 'DT001' || el.dataType.dataTypeCode === 'DT002' || el.dataType.dataTypeCode === 'DT004') && (el.totalNotFoundNidRecord !== 0 && el.totalNotFoundNidRecord !== null)">
            <a class="active"
               style="color: #0f4bac"><u>{{(el.totalNotFoundNidRecord | currency:'':'':'1.0-0') || '0'}}</u></a>
          </td>
          <td class="text-right"
              *ngIf="(el.dataType.dataTypeCode === 'DT001' || el.dataType.dataTypeCode === 'DT002' || el.dataType.dataTypeCode === 'DT004') && (el.totalNotFoundNidRecord === 0 || el.totalNotFoundNidRecord === null)">{{(el.totalNotFoundNidRecord | currency:'':'':'1.0-0') || '0'}}</td>

          <td class="text-right" (click)="onViewDetail(el, 'R','1')"
              *ngIf="(el.dataType.dataTypeCode === 'DT003') && (el.rTotalNotFoundNidRecord !== 0 && el.rTotalNotFoundNidRecord !== null)">
            <a class="active"
               style="color: #0f4bac"><u>{{(el.rTotalNotFoundNidRecord | currency:'':'':'1.0-0') || '0'}}</u></a>
          </td>
          <td class="text-right"
              *ngIf="(el.dataType.dataTypeCode === 'DT003') && (el.rTotalNotFoundNidRecord === 0 || el.rTotalNotFoundNidRecord === null)">{{(el.rTotalNotFoundNidRecord | currency:'':'':'1.0-0') || '0'}}</td>

          <!--          totalNotVatRecord && rTotalNotVatRecord              -->

          <td class="text-right"
              *ngIf="el.dataType.dataTypeCode === 'DT001' || el.dataType.dataTypeCode === 'DT002' || el.dataType.dataTypeCode === 'DT004'">{{(el.totalNotVatRecord | currency:'':'':'1.0-0') || '0'}}</td>
          <td class="text-right"
              *ngIf="el.dataType.dataTypeCode === 'DT003'">{{(el.rTotalNotVatRecord | currency:'':'':'1.0-0') || '0'}}</td>

          <!--          totalVatRegisteredRecord && rTotalVatRegisteredRecord-->
          <td class="text-right"
              *ngIf="el.dataType.dataTypeCode === 'DT001' || el.dataType.dataTypeCode === 'DT002' || el.dataType.dataTypeCode === 'DT004'">{{(el.totalVatRegisteredRecord | currency:'':'':'1.0-0') || '0'}}</td>
          <td class="text-right"
              *ngIf="el.dataType.dataTypeCode === 'DT003'">{{(el.rTotalVatRegisteredRecord | currency:'':'':'1.0-0') || '0'}}</td>

          <!--          totalNotVatRegisteredRecord && rTotalNotVatRegisteredRecord-->
          <td class="text-right" (click)="onViewDetail(el, 'S', '2')"
              *ngIf="(el.dataType.dataTypeCode === 'DT001' || el.dataType.dataTypeCode === 'DT002' || el.dataType.dataTypeCode === 'DT004') && (el.totalNotVatRegisteredRecord !== 0 && el.totalNotVatRegisteredRecord !== null)">
            <a
              class="active"
              style="color: #0f4bac"><u>{{(el.totalNotVatRegisteredRecord | currency:'':'':'1.0-0') || '0'}}</u></a>
          </td>
          <td class="text-right"
              *ngIf="(el.dataType.dataTypeCode === 'DT001' || el.dataType.dataTypeCode === 'DT002' || el.dataType.dataTypeCode === 'DT004') && (el.totalNotVatRegisteredRecord === 0 || el.totalNotVatRegisteredRecord === null)">{{(el.totalNotVatRegisteredRecord | currency:'':'':'1.0-0') || '0'}}</td>


          <td class="text-right" (click)="onViewDetail(el, 'R', '2')"
              *ngIf="(el.dataType.dataTypeCode === 'DT003') && (el.rTotalNotVatRegisteredRecord !== 0 && el.rTotalNotVatRegisteredRecord !== null)">
            <a
              class="active"
              style="color: #0f4bac"><u>{{(el.rTotalNotVatRegisteredRecord | currency:'':'':'1.0-0') || '0'}}</u></a>
          </td>
          <td class="text-right"
              *ngIf="(el.dataType.dataTypeCode === 'DT003') && (el.rTotalNotVatRegisteredRecord === 0 || el.rTotalNotVatRegisteredRecord === null)">{{(el.rTotalNotVatRegisteredRecord | currency:'':'':'1.0-0') || '0'}}</td>


          <!--          totalFoundTeamRecord && rTotalFoundTeamRecord-->
          <td class="text-right"
              *ngIf="el.dataType.dataTypeCode === 'DT001' || el.dataType.dataTypeCode === 'DT002' || el.dataType.dataTypeCode === 'DT004'">{{(el.totalFoundTeamRecord | currency:'':'':'1.0-0') || '0'}}</td>
          <td class="text-right"
              *ngIf="el.dataType.dataTypeCode === 'DT003'">{{(el.rTotalFoundTeamRecord | currency:'':'':'1.0-0') || '0'}}</td>

          <!--          totalNotFoundTeamRecord && rTotalNotFoundTeamRecord-->
          <td class="text-right" (click)="onViewDetail(el, 'S' , '4')"
              *ngIf="(el.dataType.dataTypeCode === 'DT001' || el.dataType.dataTypeCode === 'DT002' || el.dataType.dataTypeCode === 'DT004') && (el.totalNotFoundTeamRecord !== 0 && el.totalNotFoundTeamRecord !== null)">
            <a class="active"
               style="color: #0f4bac"><u>{{(el.totalNotFoundTeamRecord | currency:'':'':'1.0-0') || '0'}}</u></a>
          </td>
          <td class="text-right"
              *ngIf="(el.dataType.dataTypeCode === 'DT001' || el.dataType.dataTypeCode === 'DT002' || el.dataType.dataTypeCode === 'DT004') && (el.totalNotFoundTeamRecord === 0 || el.totalNotFoundTeamRecord === null || el.totalNotFoundTeamRecord === '')">{{(el.totalNotFoundTeamRecord | currency:'':'':'1.0-0') || '0'}}</td>

          <td class="text-right" (click)="onViewDetail(el, 'R', '4')"
              *ngIf="(el.dataType.dataTypeCode === 'DT003') && (el.rTotalNotFoundTeamRecord !== 0 && el.rTotalNotFoundTeamRecord !== null)">
            <a class="active"
               style="color: #0f4bac"><u>{{(el.rTotalNotFoundTeamRecord | currency:'':'':'1.0-0') || '0'}}</u></a>
          </td>
          <td class="text-right"
              *ngIf="(el.dataType.dataTypeCode === 'DT003') && (el.rTotalNotFoundTeamRecord === 0 || el.rTotalNotFoundTeamRecord === null || el.rTotalNotFoundTeamRecord === '')">{{(el.rTotalNotFoundTeamRecord | currency:'':'':'1.0-0') || '0'}}</td>

        </tr>

        <tr *ngIf="el.dataType.dataTypeCode === 'DT001' || el.dataType.dataTypeCode === 'DT004'">
          <td class="text-left" *ngIf="el.dataType.dataTypeCode === 'DT001'">ผู้รับ</td>
          <td class="text-left" *ngIf="el.dataType.dataTypeCode === 'DT004'">ผู้ขาย</td>
          <td class="text-right">{{(el.rTotalRecord | currency:'':'':'1.0-0') || '0'}}</td>
          <td class="text-right">{{(el.rTotalFoundNidRecord | currency:'':'':'1.0-0') || '0'}}</td>

          <td class="text-right" (click)="onViewDetail(el, 'R' , '1')"
              *ngIf="el.rTotalNotFoundNidRecord !== 0 && el.rTotalNotFoundNidRecord !== null"><a class="active"
                                                                                                 style="color: #0f4bac"><u>{{(el.rTotalNotFoundNidRecord | currency:'':'':'1.0-0') || '0'}}</u></a>
          </td>
          <td class="text-right"
              *ngIf="el.rTotalNotFoundNidRecord === 0 || el.rTotalNotFoundNidRecord === null">{{(el.rTotalNotFoundNidRecord | currency:'':'':'1.0-0') || '0'}}</td>

          <td class="text-right">{{(el.rTotalNotVatRecord | currency:'':'':'1.0-0') || '0'}}</td>
          <td class="text-right">{{(el.rTotalVatRegisteredRecord | currency:'':'':'1.0-0') || '0'}}</td>
          <td class="text-right" (click)="onViewDetail(el, 'R' , '2')"
              *ngIf="el.rTotalNotVatRegisteredRecord !== 0 && el.rTotalNotVatRegisteredRecord !== null"><a
            class="active"
            style="color: #0f4bac"><u>{{(el.rTotalNotVatRegisteredRecord | currency:'':'':'1.0-0') || '0'}}</u></a>
          </td>
          <td class="text-right"
              *ngIf="el.rTotalNotVatRegisteredRecord === 0 || el.rTotalNotVatRegisteredRecord === null">{{(el.rTotalNotVatRegisteredRecord | currency:'':'':'1.0-0') || '0'}}</td>
          <td class="text-right">{{(el.rTotalFoundTeamRecord | currency:'':'':'1.0-0') || '0'}}</td>
          <td class="text-right" (click)="onViewDetail(el, 'R' , '4')"
              *ngIf="el.rTotalNotFoundTeamRecord !== 0 && el.rTotalNotFoundTeamRecord !== null"><a class="active"
                                                                                                   style="color: #0f4bac"><u>{{(el.rTotalNotFoundTeamRecord | currency:'':'':'1.0-0') || '0'}}</u></a>
          </td>
          <td class="text-right"
              *ngIf="el.rTotalNotFoundTeamRecord === 0 || el.rTotalNotFoundTeamRecord === null || el.rTotalNotFoundTeamRecord === ''">{{(el.rTotalNotFoundTeamRecord | currency:'':'':'1.0-0') || '0'}}</td>

        </tr>
        <tr *ngIf="edcReportCrossValidationList.length === 0">
          <td colspan="14" class="text-center text-middle"> ไม่พบข้อมูล</td>
        </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
            แสดงผล
            {{edcReportCrossValidationList.length}} จาก
            {{total}} รายการ
          </div>
        </div>
        <div class="col-sm-7 text-right">

          <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
        </div>
      </div>
      <div class="rwo">
        <blockquote>
          <footer> *ระบบ NID คือ ระบบบริการฐานข้อมูลเลขประจำตัวแห่งชาติ (NID)</footer>
          <footer> **ระบบ ESUP คือ ระบบตรวจสอบแนะนำ (ESUP)</footer>
          <footer> ***ระบบ VAT คือ ระบบลงทะเบียนผู้เสียภาษีอากร</footer>
        </blockquote>

      </div>
    </div>
  </div>
</div>
