.branch-digit {
  width: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 3px;
}

.row {
  margin-bottom: 5px;
}

div[class^="col"] {
  margin-top: auto;
  margin-bottom: auto;
}

select {
  padding-right: 35px;
}
