<div class="container-fluid">
  <form [formGroup]="taxRequestForm">
    <div class="row">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="taxAgentPin">เลขประจำตัวผู้เสียภาษี <span class="red">*</span> :</label>
      </div>
      <div class="col-12 col-sm-3">
        <input id="taxAgentPin" type="text" class="form-control" appNumberOnly appPersonalNumberFormatValidator maxlength="13" formControlName="taxAgentPin"
        [ngClass]="{'border-danger': taxAgentPinControl.invalid && taxAgentPinControl.touched}">
        <p class="red" *ngIf="taxAgentPinControl.hasError('required') && taxAgentPinControl.touched">
          กรุณาระบุเลขประจำตัวผู้เสียภาษี
        </p>
        <div class="red error-msg"
           *ngIf="!taxAgentPinControl.hasError('minlength') && taxAgentPinControl.hasError('personalNumberFormatError')">
          {{taxAgentPinControl.getError('personalNumberFormatError')}}
        </div>
        <div class="red error-msg"
            *ngIf="taxAgentPinControl.hasError('minlength') && taxAgentPinControl.touched">
          เลขประจำตัวเลขประจำตัวผู้เสียภาษีไม่ถูกต้อง
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="taxAgentName">ชื่อผู้ขอคืน <span class="red">*</span>:</label>
      </div>
      <div class="col-12 col-sm-3">
        <input id="taxAgentName" type="text" class="form-control" appIgnoreKey="thai&space" maxlength="100" formControlName="taxAgentName"
               [ngClass]="{'border-danger': taxAgentNameControl.invalid && taxAgentNameControl.touched}">
        <p class="red" *ngIf="taxAgentNameControl.hasError('required') && taxAgentNameControl.touched">
          กรุณาระบุชื่อผู้ขอคืน
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="companyName">ชื่อสถานประกอบการ/สำนักงาน <span class="red">*</span>:</label>
      </div>
      <div class="col-12 col-sm-3">
        <input id="companyName" type="text" class="form-control" maxlength="100" formControlName="companyName">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label>สำนักงาน (ถ้ามี) :</label>
      </div>
      <div class="col-12 col-sm-6">
        <label class="m-2" for="isHeadOffice"><input id="isHeadOffice" type="radio" [value]="true" formControlName="isHeadOffice"> สำนักงานใหญ่</label>
        <label class="m-2" for="isNotHeadOffice"><input id="isNotHeadOffice" type="radio" [value]="false" formControlName="isHeadOffice">
          สำนักงานสาขาที่</label>
        <input id="branch-digit-1" class="branch-digit" type="text" maxlength="1" appNumberOnly
               (keyup)="branchDigitChange($event.target.value, $event.key, branchDigit2)" #branchDigit1>
        <input id="branch-digit-2" class="branch-digit" type="text" maxlength="1" appNumberOnly
               (keyup)="branchDigitChange($event.target.value, $event.key, branchDigit3)" #branchDigit2>
        <input id="branch-digit-3" class="branch-digit" type="text" maxlength="1" appNumberOnly
               (keyup)="branchDigitChange($event.target.value, $event.key, branchDigit4)" #branchDigit3>
        <input id="branch-digit-4" class="branch-digit" type="text" maxlength="1" appNumberOnly
               (keyup)="branchDigitChange($event.target.value, $event.key, branchDigit5)"#branchDigit4>
        <input id="branch-digit-5" class="branch-digit" type="text" maxlength="1" appNumberOnly #branchDigit5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <p>ที่อยู่</p>
      </div>
    </div>
    <app-tax-request-address-form [taxRequestForm]="taxRequestForm"></app-tax-request-address-form>
    <div class="row">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="telephone">เบอร์โทรศัพท์ <span class="red">*</span>:</label>
      </div>
      <div class="col-12 col-sm-3">
        <input id="telephone" class="form-control" maxlength="10" appNumberOnly formControlName="telephone"
               [ngClass]="{'border-danger': telephoneControl.invalid && telephoneControl.touched}">
        <p class="red" *ngIf="telephoneControl.hasError('required') && telephoneControl.touched">
          กรุณาระบุหมายเลขโทรสัพท์มือถือ
        </p>
      </div>
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="email">อีเมล :</label>
      </div>
      <div class="col-12 col-sm-3" >
        <input id="email" type="email" class="form-control" maxlength="85" appIgnoreKey="email">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="recipientName">ชื่อ-นามสกุล (ผู้รับมอบอำนาจ) :</label>
      </div>
      <div class="col-12 col-sm-3">
        <input id="recipientName" class="form-control" maxlength="100">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <p>ที่อยู่</p>
      </div>
    </div>
    <app-tax-request-recipient-address-form [taxRequestForm]="taxRequestForm"></app-tax-request-recipient-address-form>
    <div class="row">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="recipientTelephone">เบอร์โทรศัพท์ :</label>
      </div>
      <div class="col-12 col-sm-3">
        <input id="recipientTelephone" class="form-control" maxlength="10" appNumberOnly formControlName="recipientTelephone">
      </div>
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="recipientEmail">อีเมล :</label>
      </div>
      <div class="col-12 col-sm-3" >
        <input id="recipientEmail" type="email" class="form-control" maxlength="85" appIgnoreKey="email">
      </div>
    </div>
  </form>
</div>
