<div class="md-stepper-horizontal green">
  <ng-template ngFor let-step [ngForOf]="listStep" let-i="index">
      <div class="md-step"
      [class.active]="i <= activePosition"
      [class.done]= "i < activePosition"
      [class.editable]="i == activePosition">
          <div class="md-step-circle"><span>{{step.circle}}</span></div>
          <div class="md-step-title">{{step.title}}</div>
          <div class="md-step-bar-left"></div>
          <div class="md-step-bar-right"></div>
        </div>
  </ng-template>
</div>
