<section class="content">
  <div class="header-title">
    <h1><strong>จัดการข้อมูลพื้นฐาน</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> /
        จัดการข้อมูลประเภทผู้ใช้งาน</small></h1>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="header-title fa fa-file-text"></i> จัดการข้อมูลประเภทผู้ใช้งาน</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="searchUserTypeCriteria" (ngSubmit)="getData()">
        <div class="row">
          <div class="form-group col-lg-12">
            <label>ประเภทผู้ใช้งาน:</label>
            <input type="text" class="form-control" name="userTypeName" id="userTypeName" formControlName="userTypeName"
              placeholder="ประเภทผู้ใช้งาน">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="form-group col-lg-2 reset-button">
            <button type="submit" class="btn btn-success margin-top-10">
              <i class="glyphicon glyphicon-search"></i> ค้นหา
            </button>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
              <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-list"></i> ผลการค้นหา</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
          <tr role="row">
            <th scope="col" class="text-center" style="width: 200px">ลำดับที่</th>
            <th class="text-center">
              <a (click)="sort('USER_TYPE_NAME')" style="cursor: pointer" title="ชื่อประเภทผู้ใช้งาน
              (ภาษาอังกฤษ)" tooltip="ชื่อประเภทผู้ใช้งาน
              (ภาษาอังกฤษ)">
              ชื่อประเภทผู้ใช้งาน
              </a>
              <ng-container *ngIf="pageRequest.sortFieldName === 'USER_TYPE_NAME'">
                <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </th>
            <th scope="col" class="text-center">
              <a (click)="sort('USER_TYPE_CODE')" style="cursor: pointer" title="รหัสประเภทผู้ใช้งาน
              (ภาษาอังกฤษ)" tooltip="รหัสประเภทผู้ใช้งาน
              (ภาษาอังกฤษ)">
              รหัสประเภทผู้ใช้งาน
              </a>
              <ng-container *ngIf="pageRequest.sortFieldName === 'USER_TYPE_CODE'">
                <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </th>
            <th scope="col" class="text-center" style="width: 200px"></th>
          </tr>
        </thead>
        <tbody>
          <tr role="row" class="odd" *ngFor="let u of pageResponse.content">
            <td class="text-center">{{u.no}}</td>
            <td class="text-center">{{u.userTypeName || '-'}}</td>
            <td class="text-center">{{u.userTypeCode || '-'}}</td>
            <td class="text-center">
              <div class="btn-group">
                <button type="button" class="btn btn-orange btn-sm btn-auto" tooltip="แก้ไข"
                  (click)="editMUserType(u.userTypeId,mUserTypeModal)">
                  <i class="fa fa-pencil-square-o"></i>
                </button>
              </div>
              &nbsp;
              <div class="btn-group">
                <button type="button" class="btn btn-orange btn-sm btn-auto" tooltip="ลบ"
                  (click)="deleteMUserType(u.userTypeId)">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr *ngIf="pageResponse.content?.length === 0">
            <td colspan="11" class="text-center"> ไม่พบข้อมูล</td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite" style="padding: 5px;">
            แสดงผล
            {{pageResponse.numberOfElements}} จาก
            {{pageResponse.totalPages}} รายการ
          </div>
        </div>
        <div class="col-sm-7 text-right">
          แสดงหน้าละ
          <select (change)="changeRowLimits($event)" style="padding: 5px;">
            <option *ngFor="let limit of rowLimits" [value]="limit.value">{{limit.key}}</option>
          </select>
          &nbsp;&nbsp;
          <pagination style="float: right;" [boundaryLinks]="true" [totalItems]="pageResponse.totalPages"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [rotate]="true"
            [maxSize]="5" [(ngModel)]="pageRequest.page" (pageChanged)="pageChange($event,limit)" (limit)="limit"
            [itemsPerPage]="pageResponse.size" aria-label="Default pagination"></pagination>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 text-right scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
    <button class="btn btn-success btn-circle btn-circle-lg m-1" *ngIf="authenService.hasAnyPermission(['DCSP030700.ADD'])"
    (click)="open(mUserTypeModal)" tooltip="เพิ่มข้อมูล">
      <i class="fa fa-plus"></i>
    </button>
  </div>

  <ng-template #mUserTypeModal>
    <div class="modal-header">
      <i class="fa fa-plus-circle" aria-hidden="true"> เพิ่มข้อมูล</i>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="mUserTypeFormGroup">
        <div class="row">
          <div class="form-group col-lg-12">
            <label>ชื่อประเภทผู้ใช้งาน :<span class="red">*</span> </label>
            <input type="text" class="form-control" formControlName="userTypeName"
              value="{{mUserTypeFormGroup.get('userTypeName').value }}"
              [ngClass]="{ 'is-invalid': mUserTypeSubmit && field.userTypeName.errors }">
            <div *ngIf="mUserTypeSubmit && field.userTypeName.errors" class="invalid-feedback">
              <div *ngIf="field.userTypeName.errors.required">กรุณาระบุชื่อประเภทผู้ใช้งาน
              </div>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label>รหัสประเภทผู้ใช้งานสำหรับ generate เลขที่ใบคำขอ :<span class="red">*</span> </label>
            <input type="text" class="form-control" formControlName="userTypeCode"
              value="{{mUserTypeFormGroup.get('userTypeCode').value }}"
              [ngClass]="{ 'is-invalid': mUserTypeSubmit && field.userTypeCode.errors }">
            <div *ngIf="mUserTypeSubmit && field.userTypeCode.errors" class="invalid-feedback">
              <div *ngIf="field.userTypeCode.errors.required">
                กรุณาระบุประเภทผู้ใช้งานสำหรับ generate เลขที่ใบคำขอ</div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div class="row justify-content-center col-lg-12">
        <div class="form-group col-lg-6 reset-button">
          <button type="button" class="btn btn-green margin-top-10" (click)="saveMUserType()"
          *ngIf="authenService.hasAnyPermission(['DCSP030700.ADD','DCSP030700.UPDATE'])">
            <i class="fa fa-floppy-o"></i> บันทึก
          </button>
        </div>
        <div class="form-group col-lg-6 reset-button">
          <button type="button" class="btn btn-danger margin-top-10" (click)="modalRef.hide()">
            <i class="fa fa-times"></i> ยกเลิก
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</section>
