<app-navigatortab></app-navigatortab>
<section class="content">
  <div class="header-title mb-4">
    <h1>
      <strong>ผลการคัดค้นแบบสรุป : เดือนกันยายน - ธันวาคม 2559</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> /  คัดค้นข้อมูลใบกำกับภาษี/ใบรับอิเล็กทรอนิกส์ / ผลการคัดค้นแบบสรุป / ผลการคัดค้นแบบสรุป</small>
    </h1>
  </div>

  <div class="row">
    <div class="col-12 col-sm-10"></div>
    <div class="col-12 col-sm-2">
        <button type="button" class="btn btn-primary btn-print" #printBtn>
            <i class="fa fa-print"></i> พิมพิ์
        </button>
    </div>
  </div>

  <div class="card mb-4" *ngIf="pageResponse?.content!=null">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>ข้อมูลผู้เสียภาษี</h4>
    </div>
    <div class="card-body">
      <p class="mt-auto">เลขประจำตัวผู้เสียภาษีอากร : 0-5755-26009-09-9    ชื่อผู้ประกอบการ : บริษัท ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ จำกัด  สาขา 00000</p>
      <br/>
      <p class="mt-auto">ที่อยู่ : 3/34  อาคาร แขวงห้วยขวาง  เขตห้วยขวาง  กรุงเทพมหานคร 10310</p>
      <br/>
      <p class="mt-auto">สำนักงานภูมิลำเนา : สส.ห้วยขวาง 1 (สท.กรุงเทพมหานคร 10)</p>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>ใบกำกับภาษี/ใบรับอิเล็กทรอนิกส์</h4>
    </div>
    <div class="card-body">
      <table
        class="table table-striped table-bordered table-sm"
        cellspacing="0"
        width="100%"
      >
        <thead>
        <tr role="row">
          <th class="text-center" scope="col" style="width: 50px"></th>
          <th class="text-center" scope="col">จำนวนผู้ขาย/ผู้ซื้อ</th>
          <th class="text-center" scope="col">จำนวนใบกำกับภาษี</th>
          <th class="text-center" scope="col">ยอดขาย/ซื้อที่ต้องเสียภาษี VAT 7%</th>
          <th class="text-center" scope="col">ยอดขาย/ซื้อที่ต้องเสียภาษี VAT 0%</th>
          <th class="text-center" scope="col">ยอดขาย/ซื้อที่ยกเว้น VAT</th>
          <th class="text-center" scope="col">ภาษีขาย/ซื้อ</th>
          <th class="text-center" scope="col">รวมมูลค่าสินค้าและบริการ</th>
          <th class="text-center" scope="col" style="width: 20px"></th>
        </tr>
        </thead>
        <tbody>
          <tr role="row" class="odd">
            <td class="text-left">ภาษีขาย</td>
            <td class="text-center">28</td>
            <td class="text-center">28</td>
            <td class="text-right">148,283.87</td>
            <td class="text-right">0.00</td>
            <td class="text-right">0.00</td>
            <td class="text-right">10,379.87</td>
            <td class="text-right">158,663.74</td>
            <td class="text-center">
              <div class="btn-group">

                <button
                  type="button"
                  class="btn btn-orange btn-sm btn-auto"
                  (click)="viewOutputTax(pageResponse.content[0]?.taxpayerPin)"
                  tooltip="ดูรายละเอียด"
                >
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr role="row" class="odd">
            <td class="text-left">ภาษีซื้อ</td>
            <td class="text-center">22</td>
            <td class="text-center">25</td>
            <td class="text-right">80,324.00</td>
            <td class="text-right">0.00</td>
            <td class="text-right">0.00</td>
            <td class="text-right">5,622.68</td>
            <td class="text-right">85,946.68</td>
           <td class="text-center">
             <div class="btn-group">

               <button
                 type="button"
                 class="btn btn-orange btn-sm btn-auto"
                 (click)="viewOutputTax(pageResponse.content[0]?.taxpayerPin)"
                 tooltip="ดูรายละเอียด"
               >
                 <i class="fa fa-search" aria-hidden="true"></i>
               </button>
             </div>
           </td>
         </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>