<router-outlet #outlet="outlet"></router-outlet>
<section *ngIf="!outlet.isActivated">
  <div class="header-title mb-4">
    <h1>
        <app-back-button></app-back-button>
        <strong>ผลการคัดค้นแบบสรุป : {{ searchState?.taxMonthStart | thaiMonth }} {{ yearStart }} - {{ searchState?.taxMonthEnd | thaiMonth }} {{ yearEnd }}  </strong>
    </h1>
  </div>
  <div class="row my-3 justify-content-end">
    <a target="_blank" class="btn btn-primary btn-auto mr-3">
        <i class="fa fa-print"></i> พิมพ์
    </a>
  </div>
  <div class="card mb-4" *ngIf="address">
   
    <div class="card-body">
      เลขประจำตัวผู้เสียภาษีอากร : <b>{{ pin | mask: '0-0000-00000-00-0' }}</b>&nbsp;&nbsp;   
      ชื่อผู้เสียภาษีอากร :  <b>{{ address?.name }}</b>&nbsp;&nbsp;
      สาขา   <b>{{ address?.branchNo}}</b><br/>   
      ที่อยู่ : <b>{{ address?.buildingName || '' }} {{ address?.roomNo || '' }}
      {{ address?.floor || '' }} {{ address?.village || '' }}
      {{ address?.addressNo || '' }} {{ address?.moo || '' }}
      {{ address?.soi || '' }} {{ address?.lane || '' }}
      {{ address?.road || '' }} {{ address?.subDistrict || '' }}
      {{ address?.district || '' }} {{ address?.province || '' }}
      {{ address?.postcode || '' }}</b> <br/>   
      สำนักงานภูมิลำเนา : <b>{{ address?.offcodeName || '' }}</b>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>การใช้จ่าย</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
          <tr role="row">
            <th class="text-center" scope="col" style="width: 30%"></th>
            <th class="text-center" scope="col">รวมจำนวนเงิน (บาท)</th>
            <th class="text-center" scope="col">รวมภาษีมูลค่าเพิ่ม (บาท)</th>
            <th class="text-center" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataSet; let i = index" role="row" [class.odd]="i % 2 == 0">
            <td class="text-left">{{ data.typeSpending == 'SENDER' ? 'โอน' : 'รับโอน' }}</td>
            <td class="text-right">{{ data.paymentAmount | number: '1.2-2' }}</td>
            <td class="text-right">{{ data.vatAmount | number: '1.2-2' }}</td>
            <td class="text-center">
                <button type="button"class="btn btn-orange btn-sm btn-auto" (click)="routDetail(data.typeSpending,data.pin)" tooltip="ดูรายละเอียด">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
