<div class="header-title">
  <h1><strong>จัดการข้อมูล</strong>
    <small class="pull-right"><a href="#" class="active">หน้าหลัก</a> /
      รายการกลุ่มข้อมูลที่เปิดให้นำออก
    </small>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" >
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" >
      <div class="panel-heading">
        <div class="panel-title">
          <h4><i class="fa fa-desktop" aria-hidden="true"></i> ARSP0110 : รายการกลุ่มข้อมูลที่เปิดให้นำออก</h4>
        </div>
        <div class="panel-options" style="padding-top: 10px;text-align: right;">
          <i class="fa fa-chevron-down" aria-hidden="true" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseEvent"></i>
        </div>
      </div>
      <div class="panel-body" id="collapseBasic" [collapse]="isCollapsed">
        <form [formGroup]="searchConditionFormGroup" (ngSubmit)="getData()">
          <div class="col-lg-12">
            <div class="row">
              <nav class="navbar navbar-light bg-info col-lg-12">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <h6><i class="glyphicon glyphicon-search"></i> ค้นหารายการกลุ่มข้อมูลที่ให้เปิดออก</h6>
                  </li>
                </ul>
              </nav>
            </div>  </div><br/>
          <div class="row form-group">
            <div class="col-sm-2 text-sm-right">
              <label class="pull-right">ชื่อกลุ่มของข้อมูล</label>
            </div>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="searchTemplateName" formControlName="searchTemplateName" appIgnoreKey
                placeholder="ชื่อกลุ่มของข้อมูล">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-2 text-sm-right">
              <label class="pull-right">วันที่เปิดใช้งาน</label>
            </div>
            <div class="col-sm-3">
              <app-datepicker-th class="form-control-datepicker"
                id="openStartDate" id="activeDateFrom" name="activeDateFrom" formControlName="activeDateFrom"></app-datepicker-th>
            </div>
            <div class="text-sm-right">
              <label class="pull-right">ถึง</label>
            </div>
            <div class="col-sm-3">
              <app-datepicker-th class="form-control-datepicker"
                id="openStartDateEnd" name="activeDateTo" name="activeDateTo" formControlName="activeDateTo"></app-datepicker-th>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-lg-2 reset-button">
              <button type="submit" class="btn btn-success margin-top-10">
                <i class="glyphicon glyphicon-search"></i> ค้นหา
              </button>
            </div>
            <div class="form-group col-lg-2 reset-button">
              <button type="button" class="btn btn-warning margin-top-10" (click)="clear();$event.preventDefault();">
                <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
              </button>
            </div>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable">
          <div class="panel panel-bd lobidisable lobipanel" >
            <div class="panel-heading">
              <div class="panel-title">
                <h4><i class="fa fa-list"></i>  ผลการค้นหา</h4>
              </div>
            </div>
            <div class="panel-body">
              <div class="row justify-content-left">
                <div class="form-group col-lg-4">
                  <button type="button" class="btn btn-info" (click)="exportExcel()">
                     export to excel file
                  </button>
                </div>
              </div>
                <div class="col-lg-12">
                  <div class="row">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr role="row">
                          <th class="text-center" style="width: 20px"><input type="checkbox" id="checkRowsAll" (change)="checkAll($event)" ></th>
                          <th class="text-center" style="width: 20px">ลำดับที่</th>
                          <th class="text-center" style="width: 100px">ชื่อกลุ่มของข้อมูล</th>
                          <th class="text-center" style="width: 50px">วันที่เปิดใช้งาน</th>
                          <th class="text-center" style="width: 50px">วันที่ปิดใช้งาน</th>
                          <th class="text-center" style="width: 50px">วันที่เรียกใช้งานล่าสุด</th>
                        </tr>
                      </thead>
                      <tbody>
                              <tr *ngFor="let item of masters;index as i">
                                <td class="text-center"><input type="checkbox" class="requestFormSelected" (change)="toggleId(item.searchTemplateId)"></td>
                                <th class="text-center">{{i+1}}</th>
                                <td class="text-left"><a (click)="goToEdit(item.searchTemplateId)" >{{item.searchTemplateName}}</a></td>
                                <td class="text-center">{{item.startDate | thaidate: 'DD/MM/YYYY' || '-'}}</td>
                                <td class="text-center">{{(item.expiredDate | thaidate: 'DD/MM/YYYY') || '-'}}</td>
                                <td class="text-center">{{item.updatedDate | thaidate: 'DD/MM/YYYY HH:mm:ss' || '-'}}</td>
                              </tr>
                              </tbody>
                    </table>

                  </div>
                </div>
              </div>
              <br/>
          <div class="row justify-content-center">
            <div class="form-group col-lg-2 reset-button">
                <button type="button" class="btn btn-green margin-top-10" (click)="addData()">
                  เพิ่มข้อมูล</button>
            </div>
            <div class="form-group col-lg-2 reset-button">
                <button type="button" class="btn btn-danger margin-top-10">
                  ลบข้อมูล</button>
            </div>
            <div class="form-group col-lg-2 reset-button">
              <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
                 ล้างค่า
              </button>
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>


      <table class="table table-bordered" id="excel-table" style="display:none;">
        <thead>
          <tr role="row">
            <th class="text-center" style="width: 20px">ลำดับที่</th>
            <th class="text-center" style="width: 100px">ชื่อกลุ่มของข้อมูล</th>
            <th class="text-center" style="width: 50px">วันที่เปิดใช้งาน</th>
            <th class="text-center" style="width: 50px">วันที่ปิดใช้งาน</th>
            <th class="text-center" style="width: 50px">วันที่เรียกใช้งานล่าสุด</th>
          </tr>
        </thead>
        <tbody>
                <tr *ngFor="let item of tableExcelList;index as i">
                  <th class="text-center">{{i+1}}</th>
                  <td class="text-left"><a (click)="goToEdit(item.searchTemplateId)" >{{item.searchTemplateName}}</a></td>
                  <td class="text-center">{{item.startDate | thaidate: 'DD/MM/YYYY' || '-'}}</td>
                  <td class="text-center">{{(item.expiredDate | thaidate: 'DD/MM/YYYY') || '-'}}</td>
                  <td class="text-center">{{item.updatedDate | thaidate: 'DD/MM/YYYY HH:mm:ss' || '-'}}</td>
                </tr>
                </tbody>
      </table>