<section class="content">
  <div class="header-title">
    <h1><strong>ค้นหาหน่วยงานอุทธรณ์</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / ค้นหาหน่วยงานอุทธรณ์</small></h1>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading">
          <div class="panel-title">
            <h3><i class="fa fa-file-text"></i> ค้นหาหน่วยงานอุทธรณ์</h3>
          </div>
        </div>

        <div class="panel-body no-padding"></div>

        <div class="panel-body">
          <form role="form"  [formGroup]="searchCondition" (ngSubmit)="getData()">
          <div class="row form-group">
            <div class="ccol-12 col-sm-4 text-sm-right text-left">
              <label>หน่วยงาน : </label>
            </div>
            <div class="col-12 col-sm-4 text-left">
              <!-- [input-search]="true" -->
              <app-organization-type-ahead (selectedOrgEvent)='setValue($event)' input-phd="ทั้งหมด" #org>
              </app-organization-type-ahead>
            </div>
          </div>

          <div class="row form-group">
            <div class="ccol-12 col-sm-4 text-sm-right text-left">
              <label>สถานะการใช้งาน : </label>
            </div>
            <div class="col-12 col-sm-8 text-left">
              <div class="form-group col-lg-12">
                <label class="radio-inline">
                  <input type="radio" name="dataStatus" formControlName="dataStatus" value="ACTIVE"> ใช้งาน
                </label>
                &nbsp;
                <label class="radio-inline">
                  <input type="radio" name="dataStatus" formControlName="dataStatus" value="INACTIVE"> ไม่ใช้งาน
                </label>
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="form-group col-lg-4"></div>
              <div class="form-group col-lg-2 reset-button">
                <button type="submit" class="btn btn-success margin-top-10" *ngIf="authService.hasAnyPermission(['GWSP030100.VIEW'])">
                  <i class="glyphicon glyphicon-search"></i> ค้นหา
                </button>
              </div>
              <div class="form-group col-lg-2 reset-button">
                <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
                  <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading clearfix">
          <div class="panel-title">
            <h3><i class="fa fa-list"></i> ผลการค้นหา</h3>
          </div>
        </div>

        <div class="panel-body">
          <div class="form-group col-lg-12">
            <div class="form-group" style="float:right">
              <button type="button" *ngIf="authService.hasAnyPermission(['GWSP030100.ADD'])" class="btn btn-orange2 margin-top-10" (click)="goToAdd()" style="width: 100%">
                <i class="fa fa-plus"></i> เพิ่ม
              </button>
              <div class="clear"></div>
              <br />
              <div>
                แสดงหน้าละ
                <select (change)="changeRowLimits($event)">
                  <option *ngFor="let limit of rowLimits" [value]="limit.value">{{limit.key}}</option>
                </select>
                รายการ
              </div>
            </div>
          </div>
          <table id="example" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr role="row">
              <th scope="col" class="text-center">#</th>
              <th scope="col" class="text-center">
                <a (click)="sort('T1.ORG_CODE')" style="cursor: pointer" title="รหัสหน่วยงาน" tooltip="รหัสหน่วยงาน">
                  รหัสหน่วยงาน
                </a>
                <ng-container *ngIf="pageRequest.sortFieldName === 'T1.ORG_CODE'">
                  <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                  <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                </ng-container>
              </th>
              <th scope="col" class="text-center">
                <a (click)="sort('T1.ORG_NAME')" style="cursor: pointer" title="ชื่อหน่วยงาน" tooltip="ชื่อหน่วยงาน">
                  ชื่อหน่วยงาน
                </a>
                <ng-container *ngIf="pageRequest.sortFieldName === 'T1.ORG_NAME'">
                  <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                  <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                </ng-container>
              </th>
              <th scope="col" class="text-center">
                <a (click)="sort('T2.ORGANIZATION_TYPE_NAME')" style="cursor: pointer" title="ระดับชั้นหน่วยงาน" tooltip="ระดับชั้นหน่วยงาน">
                  ระดับชั้นหน่วยงาน
                </a>
                <ng-container *ngIf="pageRequest.sortFieldName === 'T2.ORGANIZATION_TYPE_NAME'">
                  <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                  <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                </ng-container>
              </th>
              <th scope="col" class="text-center">
                <a (click)="sort('T1.DATA_STATUS')" style="cursor: pointer" title="สถานะ" tooltip="สถานะ">
                  สถานะ
                </a>
                <ng-container *ngIf="pageRequest.sortFieldName === 'T1.DATA_STATUS'">
                  <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                  <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                </ng-container>
              </th>
              <th scope="col" class="text-center"></th>
            </tr>
          </thead>
          <tbody>
          <tr role="row" class="odd" *ngFor="let v of pageResponse.content; index as i">
              <td class="text-center">{{((pageRequest.page-1)*(pageResponse.size))+(i + 1)}}</td>
              <td class="text-left">{{v.orgCode}}</td>
              <td class="text-left">{{v.orgName}}</td>
              <td class="text-left">{{v.organizationTypeName}}</td>
              <td class="text-left">{{v.statusDesc}}</td>
              <td class="text-center">
                <div class="btn-group">
                  <button type="button" *ngIf="authService.hasAnyPermission(['GWSP030100.UPDATE'])" class="btn btn-orange btn-sm btn-auto" tooltip="แก้ไข"
                    (click)="goToEdit(v)">
                    <i class="fa fa-pencil-square-o"></i>
                  </button>
                </div>
              </td>
          </tr>
            <tr *ngIf="!pageResponse.content || pageResponse?.content?.length === 0">
              <td colspan="5" class="text-center"> ไม่พบข้อมูล</td>
            </tr>
          </tbody>
        </table>
          <div class="row">
            <div class="col-sm-5">
              <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
                แสดงผล
                {{pageResponse.numberOfElements}} จาก
                {{pageResponse.totalPages}} รายการ
              </div>
            </div>
            <div class="col-sm-7 text-right">
              <pagination style="float: right;" [totalItems]="pageResponse.totalPages" previousText="ก่อนหน้า"
                nextText="ถัดไป" [rotate]="true" [maxSize]="5" [(ngModel)]="pageRequest.page"
                (pageChanged)="pageChange($event,limit)" (limit)="limit" [itemsPerPage]="pageResponse.size"
                aria-label="Default pagination"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-float-button ></app-float-button> -->
</section>

