<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>ข้อมูลภาษีซื้อ</h4>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-center" style="font-weight:bold">ข้อมูล กันยายน 2559 </label>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> พิมพ์</a>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขประจำตัวผู้เสียภาษีอากร : 0-5755-26009-09-9 </label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขที่สาขา : 000000</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อผู้ประกอบการ : บริษัท ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ จำกัด</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อสถานประกอบการ : ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ สำนักงานใหญ่</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ที่อยู่ : เลขที่ 3/34  แขวงห้วยขวาง เขตห้วยขวาง จังหวัด กรุงเทพมหานคร 10310</label>
          </div>

          <div class="form-group col-lg-2 pr-0">
            <label for="desc" style="font-weight:bold">มุมมองการแสดงผลข้อมูล: </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label for="status-a" class="form-check-label" style="font-weight:bold">
              <input class="form-check-input" type="radio" name="status" id="status-a" value="ALL"
                formControlName="status"> ข้อมูลทั้งหมด
            </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label for="status-i" class="form-check-label" style="font-weight:bold">
              <input class="form-check-input" type="radio" name="status" id="status-i" value="receive"
                formControlName="status"> ข้อมูลใบกำกับภาษี
            </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label for="status-i" class="form-check-label" style="font-weight:bold">
              <input class="form-check-input" type="radio" name="status" id="status-i" value="cancel"
                formControlName="status"> ข้อมูลยกเลิก
            </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label for="status-i" class="form-check-label" style="font-weight:bold">
              <input class="form-check-input" type="radio" name="status" id="status-i" value="add"
                formControlName="status"> ข้อมูลใบเพิ่มหนี้
            </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label for="status-i" class="form-check-label" style="font-weight:bold">
              <input class="form-check-input" type="radio" name="status" id="status-i" value="subtract"
                formControlName="status" checked="checked"> ข้อมูลใบลดหนี้
            </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label class="pull-right" style="font-weight:bold">เลขที่ใบกำกับภาษี</label>
          </div>

          <div class="form-group col-lg-2 pr-0">
            <input type="text" value="" id="branchNo" class="form-control" name="receiveNo">
          </div>

          <div class="form-group col-lg-1 pr-0">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> ค้นหา</a>
          </div>

          <div class="form-group col-lg-1 pr-0">
          </div>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th>ลำดับ<br>ที่<br>(1)</th>
              <th>วัน เดือน ปี<br>ที่ออก<br>ใบกำกับภาษี<br>(2)</th>
              <th>เลขที่ใบกำกับภาษี<br>(3)</th>
              <th>ชื่อผู้ซื้อสินค้า/ผู้ให้บริการ<br>(4)</th>
              <th>เลขประจำตัวผู้เสียภาษี<br>อากรของผู้ขาย<br>สินค้า/ผู้ให้บริการ<br>(5)</th>
              <th>สาขา<br>(6)</th>
              <th>ยอดซื้อที่ต้อง<br>เสียภาษี<br>VAT 7%<br>(7)</th>
              <th>ยอดซื้อที่ต้อง<br>เสียภาษี<br>VAT 0%<br>(8)</th>
              <th>ยอดซื้อที่<br>ยกเว้น VAT<br>(9)</th>
              <th>ภาษีซื้อ<br>(10)</th>
              <th>รวมมูลค้าสินค้า<br>และบริการ<br>(11)</th>
              <th>ประเภทเอกสาร<br>(12)</th>
              <th>อ้างอิงใบกำกับภาษี<br>(13)</th>
              <th>หมายเหตุ<br>(14)</th>
              <th>Signature Date<br>(15)</th>
              <th>แหล่งข้อมูล<br>(16)</th>
              <th>ดูข้อมูล<br>(17)</th>
            </tr>
          </thead>
          <tbody>
            
            <tr>
              <td align="center">1</td>
              <td align="center">01/09/2559</td>
              <td align="center">RD0575526000099001</td>
              <td align="left">เอก วัสดุภัณฑ์</td>
              <td align="center">0-1099-00115-17-1</td>
              <td align="center">-</td>
              <td align="right">10,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">700.00</td>
              <td align="right">10,700.00</td>
              <td align="center">ใบกำกับภาษี</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center">01/09/2559 16:50</td>
              <td align="center">1</td>
              <td>
                <a href="trs/trsp020127" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center">2</td>
              <td align="center">02/09/2559</td>
              <td align="center">RD0575526000099002</td>
              <td align="left">เอก วัสดุภัณฑ์</td>
              <td align="center">0-1099-00115-17-1</td>
              <td align="center">-</td>
              <td align="right">2,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">140.00</td>
              <td align="right">2,140.00</td>
              <td align="center">ใบเพิ่มหนี้</td>
              <td align="center"><a href="">RD0575526000099001<br>01/09/2559</a></td>
              <td align="center">คำนวณราคาสินค้าผิดพลาด<br>ต่ำกว่าที่เป็นจริง</td>
              <td align="center">02/09/2559 16:50</td>
              <td align="center">1</td>
              <td>
                <a href="trs/trsp020128" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center">3</td>
              <td align="center">03/09/2559</td>
              <td align="center">RD0575526000099003</td>
              <td align="left">จันทบุรี อุปกรณ์</td>
              <td align="center">0-6044-47000-33-1</td>
              <td align="center">-</td>
              <td align="right">3,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">210.00</td>
              <td align="right">3,210.00</td>
              <td align="center">ใบกำกับภาษี</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center">03/09/2559 02:16</td>
              <td align="center">1</td>
              <td>
                <a href="trs/trsp020129" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center"><font color="red">4</font></td>
              <td align="center"><font color="red">12/09/2559</font></td>
              <td align="center"><font color="red">RD0575526000099004</font></td>
              <td align="left"><font color="red">จันทบุรี อุปกรณ์</font></td>
              <td align="center"><font color="red">0-6044-47000-33-1</font></td>
              <td align="center"><font color="red">-</font></td>
              <td align="right"><font color="red">3,000.00</font></td>
              <td align="right"><font color="red">0.00</font></td>
              <td align="right"><font color="red">0.00</font></td>
              <td align="right"><font color="red">210.00</font></td>
              <td align="right"><font color="red">3,210.00</font></td>
              <td align="center"><font color="red">ใบกำกับภาษี</font></td>
              <td align="center"><font color="red"><a href="">RD0575526000099003<br>03/09/2559</a></font></td>
              <td align="center"><font color="red">ออกแทนใบที่ยกเลิก<br>(แก้ไขที่อยู่ผู้ซื้อ)</font></td>
              <td align="center"><font color="red">12/09/2559 16:50</font></td>
              <td align="center"><font color="red">1</font></td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center"><font color="red">5</font></td>
              <td align="center"><font color="red">15/09/2559</font></td>
              <td align="center"><font color="red">RD0575526000099005</font></td>
              <td align="left"><font color="red">อธิป เขาหนองบัว</font></td>
              <td align="center"><font color="red">3-2201-00278-23-2</font></td>
              <td align="center"><font color="red">-</font></td>
              <td align="right"><font color="red">4,000.00</font></td>
              <td align="right"><font color="red">0.00</font></td>
              <td align="right"><font color="red">0.00</font></td>
              <td align="right"><font color="red">280.00</font></td>
              <td align="right"><font color="red">4,280.00</font></td>
              <td align="center"><font color="red">ใบกำกับภาษี</font></td>
              <td align="center"><font color="red"></font></td>
              <td align="center"><font color="red">ออกแทนใบกำกับภาษี<br>อย่างย่อ</font></td>
              <td align="center"><font color="red">15/09/2559 16:50</font></td>
              <td align="center"><font color="red">1</font></td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center">3</td>
              <td align="center">25/09/2559</td>
              <td align="center">RD0575526000099009</td>
              <td align="left">เอก วัสดุภัณฑ์</td>
              <td align="center">0-1099-00115-17-1</td>
              <td align="center">-</td>
              <td align="right">-500.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">-35.00</td>
              <td align="right">-535.00</td>
              <td align="center">ใบลดหนี้</td>
              <td align="center"><a href="">RD0575526000058004<br>15/09/2559</a></td>
              <td align="center">คำนวณราคาสินค้าผิดพลาด<br>สูงกว่าที่เป็นจริง</td>
              <td align="center">25/09/2559 10:00</td>
              <td align="center">1</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="right"  style="font-weight:bold"colspan="6">รวม</td>
              <td align="right">14,500.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">1,015.00</td>
              <td align="right">15,515.00</td>
              <td align="center" colspan="6"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left">หมายเหตุ</label>
          </div>
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left">แหล่งข้อมูล</label>
          </div>
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-left">1 = e-Tax Invoice & e-Receipt</label>
          </div>
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left"></label>
          </div>
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left"></label>
          </div>
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-left">2 = e-Tax Invoice By Email</label>
          </div>
        </div>
      </div>
  </div>
</div>
