<ng-container *ngIf="setAuthorityDepartment">
  <form [formGroup]="taxRequestForm" *ngIf="taxRequestForm">
    <div class="row" >
        <!-- formArrayName="taxRequestTransferBranchDto" -->
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="curr-branch">ชื่อหน่วยงาน</label>
      </div>
      <div class="col-12 col-sm-3" >
          <!-- formGroupName="0" -->
        <select id="curr-branch" class="form-control" formControlName="officeCode">
          <!-- <option [value]="'002-เจ้าหน้าที่สรรพากรพื้นที่พญาไท'">เจ้าหน้าที่สรรพากรพื้นที่พญาไท</option> -->
          <option [value]="null"></option>
          <option *ngFor="let org of orgList" [value]="org.orgCode">{{org.orgName}}</option>
        </select>
      </div>
    </div>
  </form>
</ng-container>
<ng-container *ngIf="setTransferBranch">
  <div class="row">
    <div class="col-12 text-right">
      <button class="btn btn-danger" type="button" (click)="transferBranch()">
        <i class="fa fa-arrow-circle-left"></i>โอนย้าย
      </button>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th class="text-center" style="width: 20px">ลำดับ</th>
          <th class="text-center">รหัส - ชื่อหน่วยงานที่รับผิดชอบ</th>
          <th class="text-center">รหัส - ชื่อหน่วยงานที่โอนย้าย</th>
          <th class="text-center">วัน/เดือน/ปี โอนย้าย</th>
          <th class="text-center">มูลเหตุการโอนย้าย</th>
        </tr>
        </thead>
        <tbody *ngIf="taxRequestTransferBranchModelList">
        <tr *ngFor="let item of taxRequestTransferBranchModelList; let index = index">
          <td>{{index + 1}}</td>
          <td>{{item.currBranch}}</td>
          <td>{{item.prevBranch | replaceNullValue: '-'}}</td>
          <td class="text-center">{{item.createdDate | thaidate}}</td>
          <td class="text-center">{{item.remark | replaceNullValue: '-'}}</td>
        </tr>
        </tbody>
        <tbody *ngIf="!taxRequestTransferBranchModelList">
        <tr>
          <td class="text-center" colspan="6">ไม่พบข้อมูล</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
