<div class="content">
    <div class="header-title mb-4">
        <h1><strong>เพิ่มอนุสัญญาภาษีซ้อน </strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a
                    [routerLink]="['/etl/crossborder-dta']" class="active">อนุสัญญาภาษีซ้อน
            </a> / เพิ่มอนุสัญญาภาษีซ้อน
            </small>
        </h1>

    </div>

    <form [formGroup]="addDtaForm">
        <div formGroupName="edcCrossDtaObj">
            <div class="card border-light mb-4">

                <div class="card-header">
                    <h4 class="panel-title">
                        <i class="header-title fa fa-file-text"></i> ข้อมูลอนุสัญญาภาษีซ้อน
                    </h4>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label>ประเทศ</label>&nbsp; <label class="text-danger">*</label>
                            <input formControlName="countryName"
                                   id="countryName"
                                   placeholder="ระบุประเทศ"
                                   [ngClass]="{'': !addDtaForm.get('edcCrossDtaObj.countryName').valid && addDtaForm.get('edcCrossDtaObj.countryName').touched}"
                                   [typeahead]="edcCountryList"
                                   [typeaheadMinLength]="0"
                                   (typeaheadOnSelect)="onSelect($event)"
                                   typeaheadOptionField="countryNameTh"
                                   [maxLength]="100"
                                   class="form-control">
                            <div class="text-danger"
                                 *ngIf="!addDtaForm.get('edcCrossDtaObj.countryName').valid && addDtaForm.get('edcCrossDtaObj.countryName').touched">
                              กรุณาเลือกประเทศ
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>วันที่มีผลบังคับใช้</label>&nbsp; <label class="text-danger">*</label>
                            <input type="text" class="form-control" id="effectiveDate"
                                   formControlName="effectiveDate"
                                   placeholder="ระบุวันที่มีผลบังคับใช้"
                                   [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                   [minDate]="minDate" autocomplete="off"
                                   [ngClass]="{'is-invalid': !addDtaForm.get('edcCrossDtaObj.effectiveDate').valid && addDtaForm.get('edcCrossDtaObj.effectiveDate').touched}"
                                   bsDatepicker>
                            <div class="text-danger"
                                 *ngIf="!addDtaForm.get('edcCrossDtaObj.effectiveDate').valid && addDtaForm.get('edcCrossDtaObj.effectiveDate').touched">
                              กรุณากรอกวันที่มีผลบังคับใช้
                            </div>
                        </div>

                      <div class="form-group col-lg-6">
                        <label>วันที่สิ้นสุด</label>
                        <input type="text" formControlName="endDate" id="endDate"
                               class="form-control"
                               placeholder="ระบุวันที่สิ้นสุด"
                               [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                               [minDate]="minDate" autocomplete="off"
                               bsDatepicker>
                      </div>
                    </div>
                </div>
            </div>

            <div class="card border-light mb-4">
                <div class="panel panel-bd lobidisable">
                    <div class="card-header">
                        <div class="panel-title">
                            <h4 class="panel-title">
                                <i class="header-title fa fa-file-text"></i> รายละเอียดอนุสัญญาภาษีซ้อน
                            </h4>
                            <button class="btn btn-auto btn btn-auto  btn-add" (click)="openModal(template)" id="add">เพิ่ม
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th scope="col">ลำดับ</th>
                                <th scope="col">รหัส</th>
                                <th scope="col">ประเภทรายได้</th>
                                <th scope="col">อัตราภาษี</th>
                                <th scope="col" class="text-center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr formArrayName="edcCrossDtaIncomeList"
                                *ngFor="let item of addDtaFormTemp.controls; let i = index;">
                                <th class="text-center" scope="row">{{ i + 1 }}</th>
                                <td class="text-center" [formGroupName]="i">
                                    {{addDtaFormTemp.controls[i].controls.incomeCode.value}}
                                </td>
                                <td class="text-left" [formGroupName]="i">
                                    {{addDtaFormTemp.controls[i].controls.crossDtaIncomeTypeName.value}}
                                </td>
                                <td class="text-center" [formGroupName]="i">
                                    <div class="form-row">
                                          <input type="number" class="form-control" id="dtaRate" min="0"
                                                 formControlName="dtaRate">&nbsp; <label class="text-danger">*</label>
                                    </div>
                                    <div class="text-danger"
                                         *ngIf="!addDtaFormTemp.controls[i].controls.dtaRate.valid && addDtaFormTemp.controls[i].controls.dtaRate.touched">
                                        กรุณาระบุอัตราภาษี.
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a class="btn btn-auto btn-orange btn-circle mr-1" (click)="removeItem(i)">
                                            <i class="fa fa-trash" aria-hidden="true"
                                               title="ลบ"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="addDtaFormTemp.controls.length === 0">
                                <td colspan="11" class="text-center"> ไม่พบข้อมูล</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <table style="margin:auto;">
            <tr>
                <td>
                    <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5"
                            (click)="onBack()" id="back"><i
                            class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-auto btn-orange2 w-md m-b-5"
                            (click)="resetForm()" id="clear"><i
                            class="fa fa-repeat"></i> ล้างข้อมูล
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-auto btn btn-auto  btn-green w-md m-b-5"
                            (click)="onSubmit()" id="save"><i
                            class="fa fa-floppy-o"></i> บันทึก
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">เลือกประเภทรายได้ของผู้รับเงินอยู่ต่างประเทศ</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <section class="content">
            <form [formGroup]="searchCrossIncomeType" (ngSubmit)="onSubmitOnIncomeType()">
                <div formGroupName="edcCrossIncomeObjC">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label>รหัสรายได้</label>
                            <input formControlName="incomeCode" id="incomeCode" [typeahead]="edcCrossIncomeTypeListInput"
                                   [typeaheadMinLength]="0" typeaheadOptionField="incomeCode" class="form-control">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>ประเภทรายได้</label>
                            <input formControlName="incomeNameTh" id="incomeNameTh" [typeahead]="edcCrossIncomeTypeListInput"
                                   [typeaheadMinLength]="0" typeaheadOptionField="incomeNameTh" class="form-control">
                        </div>
                        <table style="margin:auto;">
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-auto btn-success"
                                            (click)="onSubmitSearch()" id="popup-search"><i class="fa fa-search"></i> ค้นหา
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-auto btn-warning"
                                            (click)="resetFormIncomeType()" id="popup-clear"><i class="fa fa-repeat"></i> ล้างค่า
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-sm mt-2" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th scope="col">
                            <input type="checkbox" name="list_name" value="m1" (change)="checkUncheckAll()"
                                   [checked]="masterSelected">
                        </th>
                        <th scope="col">ลำดับ</th>
                        <th scope="col">รหัส</th>
                        <th scope="col">ประเภทรายได้</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let incomeType of edcCrossIncomeTypeList; let i=index">
                        <td scope="col">
                            <input type="checkbox" name="list_name" [checked]="incomeType.isSelect"
                                   (change)="isSelected(incomeType)">
                        </td>
                        <th class="text-center" scope="row">{{ i + 1 }}</th>
                        <td class="text-center">{{incomeType.incomeCode || '-'}}</td>
                        <td class="text-left">{{incomeType.incomeNameTh || '-'}}</td>
                    </tr>
                    <tr *ngIf="edcCrossIncomeTypeList.length === 0">
                        <td colspan="11" class="text-center"> ไม่พบข้อมูล</td>
                    </tr>
                    </tbody>
                </table>
                <table style="margin:auto;">
                    <tr>
                        <td>
                            <button type="submit" class="btn btn-auto btn-green" id="popup-add">
                                <i class="fa fa-search"></i> เพิ่มข้อมูล
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-auto btn-warning" (click)="closeModal()" id="cancel">
                                <i class="fa fa-trash"></i> ยกเลิก
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        </section>
    </div>
</ng-template>
