<div class="modal-header">
  <h6>
    บันทึกการโอนย้ายหน่วยงานที่รับผิดชอบ
  </h6>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12 col-sm-6 text-left text-sm-right">
      <label for="currBranch">ชื่อหน่วยงาน <span class="red">*</span> :</label>
    </div>
    <div class="col-12 col-sm-6">
      <select class="form-control" id="currBranch" [(ngModel)]="newBranch.currBranch">
        <option value="001 - เจ้าหน้าที่สรรพากรพื้นที่จันทบุร">001 - เจ้าหน้าที่สรรพากรพื้นที่จันทบุร</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-left text-sm-right">
      <p>โอนย้ายโดยหน่วยงาน :</p>
    </div>
    <div class="col-12 col-sm-6">
      <p>
        {{newBranch.prevBranch}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-left text-sm-right">
      <p>วัน/เดือน/ปี ที่โอนย้าย :</p>
    </div>
    <div class="col-12 col-sm-6">
      <p>{{newBranch.createdDate | thaidate}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-left text-sm-right">
      <label for="remark">มูลเหตุการโอนย้าย :</label>
    </div>
    <div class="col-12 col-sm-6">
      <textarea class="form-control" id="remark" [(ngModel)]="newBranch.remark"></textarea>
    </div>
  </div>
  <div class="row text-center d-block">
    <button type="button" class="btn btn-primary btn-auto" (click)="confirm()">ตกลง</button>
    <button type="button" class="btn btn-danger btn-auto" (click)="dismiss()">ยกเลิก</button>
  </div>
</div>

