<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <form [formGroup]="searchForm">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>ข้อมูลภาษีซื้อ-ภาษีขาย จากข้อมูล e-Tax Invoice</h4>
        </div>
      </div>
      <input type="hidden" id="nid" class="form-control" formControlName="nid">
      <input type="hidden" id="branchNo" class="form-control" formControlName="branchNo">
      <input type="hidden" id="fromMonth" class="form-control" formControlName="fromMonth">
      <input type="hidden" id="fromYear" class="form-control" formControlName="fromYear">
      <input type="hidden" id="toMonth" class="form-control" formControlName="toMonth">
      <input type="hidden" id="toYear" class="form-control" formControlName="toYear">

      <div class="panel-body" *ngFor="let data of receiveData">
        <div class="row">
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-center" style="font-weight:bold">ข้อมูลตั้งแต่ {{data.fromMonthThName}} {{data.fromYear}} ถึง {{data.toMonthThName}} {{data.toYear}}</label>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> พิมพ์</a>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขประจำตัวผู้เสียภาษีอากร : {{data.nid}}</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขที่สาขา : {{data.branchNo}}</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อผู้ประกอบการ : {{data.operatorName}}</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อสถานประกอบการ : {{data.establishmentName}}</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ที่อยู่ : {{data.operatorAddress}}</label>
          </div>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th rowspan="2">เดือนภาษี<br>(1)</th>
              <th rowspan="2">ปีภาษี<br>(2)</th>
              <th colspan="7">ข้อมูลภาษีขาย</th>
              <th colspan="7">ข้อมูลภาษีซื้อ</th>
            </tr>
            <tr class="" align="center">
              <th>จำนวน<br>ใบกำกับภาษี<br>(3)</th>
              <th>ยอดขายที่ต้อง<br>เสียภาษี<br>VAT 7%<br>(4)</th>
              <th>ยอดขายที่ต้อง<br>เสียภาษี<br>VAT 0%<br>(5)</th>
              <th>ยอดขายที่<br>ยกเว้น VAT<br>(6)</th>
              <th>ภาษีขาย<br>(7)</th>
              <th>รวมมูลค้าสินค้า<br>และบริการ<br>(8)</th>
              <th>ดูข้อมูล<br>ภาษีขาย<br>(9)</th>
              <th>จำนวน<br>ใบกำกับภาษี<br>(10)</th>
              <th>ยอดซื้อที่ต้อง<br>เสียภาษี<br>VAT 7%<br>(11)</th>
              <th>ยอดซื้อที่ต้อง<br>เสียภาษี<br>VAT จ%<br>(12)</th>
              <th>ยอดซื้อที่<br>ยกเว้น VAT<br>(13)</th>
              <th>ภาษีซื้อ<br>(14)</th>
              <th>รวมมูลค้าสินค้า<br>และบริการ<br>(15)</th>
              <th>ดูข้อมูล<br>ภาษีซื้อ<br>(16)</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let data2 of receiveData2">
              <td align="center">{{data2.monthThName}}</td>
              <td align="center">{{data2.year}}</td>
              <td align="right">{{data2.sellerCountInvoice}}</td>
              <td align="right">{{data2.sellerTotalAmountVatSeven}}</td>
              <td align="right">{{data2.sellerTotalAmountVatZero}}</td>
              <td align="right">{{data2.sellerTotalAmountAvoidVat}}</td>
              <td align="right">{{data2.sellerTotalAmountVat}}</td>
              <td align="right">{{data2.sellerGrandTotalAmount}}</td>
              <td>
                <!--<a [routerLink]="['../../../../../../../../trsp010102/'+data2.nid+'/'+data2.branchNo+'/'+data2.fromMonth+'/'+data2.fromYear+'/'+data2.toMonth+'/'+data2.toYear+'/'+data2.month+'/'+data2.year+'/O/S']" class="btn btn-orange btn-sm">-->
                <a [routerLink]="['../../../../../../../../trsp010102/'+data2.nid+'/'+data2.branchNo+'/'+data2.fromMonth+'/'+data2.fromYear+'/'+data2.toMonth+'/'+data2.toYear+'/'+data2.month+'/'+data2.year+'/O/S']" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td align="right">{{data2.buyerCountInvoice}}</td>
              <td align="right">{{data2.buyerTotalAmountVatSeven}}</td>
              <td align="right">{{data2.buyerTotalAmountVatZero}}</td>
              <td align="right">{{data2.buyerTotalAmountAvoidVat}}</td>
              <td align="right">{{data2.buyerTotalAmountVat}}</td>
              <td align="right">{{data2.buyerGrandTotalAmount}}</td>
              <td>
                <!--<a href="trs/trsp010126" class="btn btn-orange btn-sm">-->
                <a [routerLink]="['../../../../../../../../trsp010103/'+data2.nid+'/'+data2.branchNo+'/'+data2.fromMonth+'/'+data2.fromYear+'/'+data2.toMonth+'/'+data2.toYear+'/'+data2.month+'/'+data2.year+'/O/B']" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>



            <tr *ngFor="let dataSum of receiveDataSum">
              <td align="center" colspan="2">รวม</td>
              <td align="right">{{dataSum.sumSellerCountInvoice}}</td>
              <td align="right">{{dataSum.sumSellerTotalAmountVatSeven}}</td>
              <td align="right">{{dataSum.sumSellerTotalAmountVatZero}}</td>
              <td align="right">{{dataSum.sumSellerTotalAmountAvoidVat}}</td>
              <td align="right">{{dataSum.sumSellerTotalAmountVat}}</td>
              <td align="right">{{dataSum.sumSellerGrandTotalAmount}}</td>
              <td>
                <a [routerLink]="['../../../../../../../../trsp010102/'+dataSum.nid+'/'+dataSum.branchNo+'/'+dataSum.fromMonth+'/'+dataSum.fromYear+'/'+dataSum.toMonth+'/'+dataSum.toYear+'/M/Y/A/S']" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td align="right">{{dataSum.sumBuyerCountInvoice}}</td>
              <td align="right">{{dataSum.sumBuyerTotalAmountVatSeven}}</td>
              <td align="right">{{dataSum.sumBuyerTotalAmountVatZero}}</td>
              <td align="right">{{dataSum.sumBuyerTotalAmountAvoidVat}}</td>
              <td align="right">{{dataSum.sumBuyerTotalAmountVat}}</td>
              <td align="right">{{dataSum.sumBuyerGrandTotalAmount}}</td>
              <td>
                <a [routerLink]="['../../../../../../../../trsp010103/'+dataSum.nid+'/'+dataSum.branchNo+'/'+dataSum.fromMonth+'/'+dataSum.fromYear+'/'+dataSum.toMonth+'/'+dataSum.toYear+'/M/Y/A/B']" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            <!--<tr>
              <td align="center">กันยายน</td>
              <td align="center">2559</td>
              <td align="right">4</td>
              <td align="right">126,133.87</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">8,829.37</td>
              <td align="right">134,963.24</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td align="right">5</td>
              <td align="right">14,500.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">1,015.00</td>
              <td align="right">15,515.00</td>
              <td>
                <a href="trs/trsp010126" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>

            <tr>
              <td align="center">ตุลาคม</td>
              <td align="center">2559</td>
              <td align="right">6</td>
              <td align="right">9,150.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">640.50</td>
              <td align="right">9,790.50</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td align="right">7</td>
              <td align="right">21,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">1,470.00</td>
              <td align="right">22,470.00</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>

            <tr>
              <td align="center">พฤศจิกายน</td>
              <td align="center">2559</td>
              <td align="right">10</td>
              <td align="right">2,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">140.00</td>
              <td align="right">2,140.00</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td align="right">4</td>
              <td align="right">19,070.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">1,334.90</td>
              <td align="right">20,404.90</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>

            <tr>
              <td align="center">ธันวาคม</td>
              <td align="center">2559</td>
              <td align="right">8</td>
              <td align="right">11,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">770.00</td>
              <td align="right">11,770.00</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td align="right">8</td>
              <td align="right">25,754.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">1,802.78</td>
              <td align="right">27,556.78</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>

            <tr>
              <td align="center" colspan="2">รวม</td>
              <td align="right">28</td>
              <td align="right">148,283.87</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">10,379.87</td>
              <td align="right">158,663.74</td>
              <td>
                <a href="trs/trsp010102" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td align="right">24</td>
              <td align="right">80,324.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">5,622.68</td>
              <td align="right">85,946.68</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>-->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </form>
</div>
