<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>รายงานการซื้อ-ขาย</h4>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-center" style="font-weight:bold">ข้อมูลตั้งแต่ กันยายน 2559 ถึง ธันวาคม 2559</label>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> พิมพ์</a>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขประจำตัวผู้เสียภาษีอากร : 0-5755-26009-09-9</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขที่สาขา : 000000</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อผู้ประกอบการ : บริษัท ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ จำกัด</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อสถานประกอบการ : ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ สำนักงานใหญ่</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ที่อยู่ : เลขที่ 3/34  แขวงห้วยขวาง เขตห้วยขวาง จังหวัด กรุงเทพมหานคร 10310</label>
          </div>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th rowspan="2">เดือนภาษี<br>(1)</th>
              <th rowspan="2">ปีภาษี<br>(2)</th>
              <th colspan="7">ข้อมูลการขาย</th>
              <th colspan="7">ข้อมูลการซื้อ</th>
            </tr>
            <tr class="" align="center">
              <th>จำนวน<br>ใบรับ<br>(3)</th>
              <th>ยอดขายที่ต้อง<br>เสียภาษี<br>VAT 7%<br>(4)</th>
              <th>ยอดขายที่ต้อง<br>เสียภาษี<br>VAT 0%<br>(5)</th>
              <th>ยอดขายที่<br>ยกเว้น VAT<br>(6)</th>
              <th>ภาษีขาย<br>(7)</th>
              <th>รวมมูลค้าสินค้า<br>และบริการ<br>(8)</th>
              <th>ดูข้อมูล<br>การภาษีขาย<br>(9)</th>
              <th>จำนวน<br>ใบรับ<br>(10)</th>
              <th>ยอดซื้อที่ต้อง<br>เสียภาษี<br>VAT 7%<br>(11)</th>
              <th>ยอดซื้อที่ต้อง<br>เสียภาษี<br>VAT จ%<br>(12)</th>
              <th>ยอดซื้อที่<br>ยกเว้น VAT<br>(13)</th>
              <th>ภาษีซื้อ<br>(14)</th>
              <th>รวมมูลค้าสินค้า<br>และบริการ<br>(15)</th>
              <th>ดูข้อมูล<br>การซื้อ<br>(16)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="center">กันยายน</td>
              <td align="center">2559</td>
              <td align="right">5</td>
              <td align="right">40,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">2,800.00</td>
              <td align="right">79,900.00</td>
              <td>
                <a href="trs/trsp020202" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td align="right">5</td>
              <td align="right">14,500.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">95,950.00</td>
              <td>
                <a href="trs/trsp020204" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>

            <tr>
              <td align="center">ตุลาคม</td>
              <td align="center">2559</td>
              <td align="right">6</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">150,067.50</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td align="right">7</td>
              <td align="right">5,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">350.00</td>
              <td align="right">21,174.50</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>

            <tr>
              <td align="center">พฤศจิกายน</td>
              <td align="center">2559</td>
              <td align="right">10</td>
              <td align="right">24,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">1,680.00</td>
              <td align="right">246,100.00</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td align="right">4</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">35,000.00</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>

            <tr>
              <td align="center">ธันวาคม</td>
              <td align="center">2559</td>
              <td align="right">8</td>
              <td align="right">8,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">560.00</td>
              <td align="right">86,000.00</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td align="right">5</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">42,000.00</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>

            <tr>
              <td align="center" colspan="2">รวม</td>
              <td align="right">29</td>
              <td align="right">72,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">5,040.00</td>
              <td align="right">562,067.50</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td align="right">21</td>
              <td align="right">5,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">350.00</td>
              <td align="right">194,124.50</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
