<section class="content">
  <div class="header-title">
    <h1><strong> รายงานผลการนำเข้าข้อมูล</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a>
        /นำเข้า/ตรวจสอบรายได้
        /รายงานผลการนำเข้าข้อมูล
      </small>
    </h1>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading">
          <div class="panel-title">
            <h3><i class="fa fa-file-text"></i> รายงานผลการนำเข้าข้อมูล</h3>
          </div>
        </div>

        <div class="panel-body no-padding"></div>

        <div class="panel-body">
          <form role="form"  [formGroup]="searchCondition" (ngSubmit)="print()">
            <div class="row form-group">
              <div class="col-12 col-sm-4 text-sm-right text-left">
                <label>ปีภาษี : <span class="red">*</span></label>
              </div>

              <div class="col-12 col-sm-2 text-left">
                <select class="custom-select form-control"  formControlName="taxYear"
                  [ngClass]="{'border-danger': taxYearControl.invalid && taxYearControl.touched}">
                  <option value="">โปรดระบุ</option>
                  <option *ngFor="let item of taxYearList" [value]="item">
                    {{item}}
                  </option>
                </select>
                <div class="red error-msg" *ngIf="taxYearControl.hasError('required') && taxYearControl.touched">
                  กรุณาระบุปีภาษี
                </div>
              </div>
            </div>

            <div class="row form-group">

              <div class="form-group col-lg-4"></div>
              <div class="form-group col-lg-2 reset-button">
                <button target="_blank" type="submit" class="btn btn-success margin-top-10" *ngIf="authService.hasAnyPermission(['GWSP010300.VIEW'])">
                  <i class="glyphicon glyphicon-search"></i> พิมพ์รายงาน
                </button>
              </div>
              <div class="form-group col-lg-2 reset-button">
                <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
                  <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
