<div class="content">
    <div class="header-title">
        <h1><strong>รายการนำส่งภาษีมูลค่าเพิ่ม </strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / รายการนำส่งภาษีมูลค่าเพิ่ม</small>
        </h1>

    </div>
    <div class="card border-light mb-4">
        <div class="card-header">
            <h4 class="panel-title">
                <i class="header-title fa fa-file-text"></i> ค้นหา
            </h4>
        </div>
        <div class="card-body">

            <form [formGroup]="vatTypeForm" (ngSubmit)="onSubmit()">
                <div formGroupName="vatTypeGroup">
                    <div class="form-row">
                        <div class="form-group col-lg-8">
                            <label>วันที่มีผลบังคับใช้</label>
                            <input type="text" formControlName="effectiveDate" id="effectiveDate"
                                   class="form-control"
                                   autocomplete="off"
                                   placeholder="ระบุวันที่มีผลบังคับใช้"
                                   [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                   [ngClass]="{'is-invalid': !vatTypeForm.get('vatTypeGroup.effectiveDate').valid && vatTypeForm.get('vatTypeGroup.effectiveDate').touched}"
                                   bsDatepicker>

                        </div>

                        <div class="form-group col-lg-2 reset-button">
                            <button type="submit" class="btn btn-success margin-top-10" id="list-search"><i
                                    class="fa fa-search"></i> ค้นหา
                            </button>
                        </div>
                        <div class="form-group col-lg-2 reset-button">
                            <button type="button" class="btn btn-warning margin-top-10"
                                    (click)="resetForm()" id="clear"><i
                                    class="fa fa-repeat"></i> ล้างค่า
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--  -->
    <div class="card border-light mb-4">
        <div class="card-header">
            <h4 class="panel-title">
                <i class="header-title fa fa-file-text"></i> ผลการค้นหา
            </h4>
        </div>
        <div class="card-body">
            <!--          <div style="padding-bottom: 10px">-->
            <!--            แสดงหน้าละ-->
            <!--            <select id="pageSize" [ngModel]="pageSize" (ngModelChange)="getPageSize($event)">-->
            <!--              <option value="5">5</option>-->
            <!--              <option value="10">10</option>-->
            <!--              <option value="15">15</option>-->
            <!--            </select>-->
            <!--            รายการ-->
            <!--          </div>-->

            <table class="table table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <th scope="col" class="text-center">ลำดับ</th>
                    <th scope="col" class="text-center">ภ.พ.</th>
                    <th scope="col" class="text-center">กรณีการนำส่ง</th>
                    <th scope="col" class="text-center">ผู้มีหน้าที่นำส่ง</th>
                    <th scope="col" class="text-center">วันที่มีผลบังคับใช้</th>
                    <th scope="col" class="text-center">วันที่แก้ไข</th>
                    <th scope="col" class="text-center">ผู้แก้ไข</th>
                    <th scope="col" class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr
                        *ngFor="let CurrencyData of edcVatTypeList | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: p, totalItems: total }; let i=index">
                    <td class="text-center" scope="row">{{ (this.p - 1) * this.pageSize + i + 1 }}</td>
                    <td class="text-center">{{this.vatTypepPMap.get(CurrencyData.edcVatTypeEntity.formType) || '-'}}</td>
                    <td class="text-left">{{CurrencyData.edcVatTypeEntity.vatTypeName || '-'}}</td>
                    <td class="text-left">{{CurrencyData.edcVatTypeEntity.subVatTypeName || '-'}}</td>
                    <td class="text-center">{{CurrencyData.effectiveDate | thaidate: 'DD/MM/YYYY' }}</td>
                    <td class="text-center">{{(CurrencyData.updatedDate | thaidate: 'DD/MM/YYYY HH:mm:ss') || '-'}}</td>
                    <td class="text-left">{{CurrencyData.updatedBy || '-'}}</td>
                    <td class="text-center">
                        <a class="btn-orange btn-sm" id="edit{{i}}" (click)="onEdit(CurrencyData)">
                            <i class="fa fa-edit" aria-hidden="true" title="แก้ไข"></i>
                        </a>
                        <a class="btn-orange btn-sm" id="delete{{i}}" (click)="onDelete(CurrencyData)">
                            <i class="fa fa-trash" aria-hidden="true" title="ลบ"></i>
                        </a>
                    </td>
                </tr>
                <tr *ngIf="edcVatTypeList.length === 0">
                    <td colspan="11" class="text-center"> ไม่พบข้อมูล</td>
                </tr>
                </tbody>
            </table>
            <div class="row">

                <div class="col-md-5 text-left">
                    แสดงผล
                    {{edcVatTypeList.length}} จาก
                    {{total}} รายการ
                </div>
                <div class="col-md-7 text-right">
                    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
                </div>
            </div>
        </div>
    </div>

    <table style="margin:auto;">
        <tr>
            <td>
                <button type="button" class="btn btn-auto btn-green w-md m-b-5" [routerLink]="['add']" id="add"><i
                        class="fa fa-plus"></i> &nbsp;เพิ่มข้อมูล
                </button>
            </td>
        </tr>
    </table>
</div>

