<!--<div class="header-title">-->
<!--  <h1><strong>ระบบบริหารจัดการผู้ใช้งาน</strong>-->
<!--    <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / Dashboard</small></h1>-->

<!--</div>-->
<!--<div class="row">-->
<!--  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
<!--    <div class="panel panel-bd lobidrag lobipanel">-->
<!--      <div class="panel-heading">-->
<!--        <div class="panel-title">-->
<!--          <h4>สถานะการลงทะเบียน</h4>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="panel-body no-padding">-->
<!--        <table  class="table-dropdown" style="width: 100%; margin: 10px 0 10px 0;  ">-->
<!--          <thead>-->
<!--          </thead>-->
<!--        </table>-->
<!--      </div>-->
<!--      <div class="panel-body">-->
<!--        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
<!--          <canvas id="lineChart" height="140"></canvas>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
