<section class="content">
  <div class="header-title">
    <h1><strong>รายการข้อมูลผู้ลงทะเบียนไม่สำเร็จ</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / รายการข้อมูลผู้ลงทะเบียนไม่สำเร็จ</small></h1>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading">
          <div class="panel-title">
            <h3><i class="fa fa-file-text"></i> ไฟล์ข้อมูลผู้ลงทะเบียนไม่สำเร็จ</h3>
          </div>
        </div>

        <div class="panel-body no-padding"></div>

        <div class="panel-body">
          <form role="form" [formGroup]="welfareRegistrantErrorLogForm">
            <div class="form-group row">
              <div class="col-12 col-sm-2 text-sm-right text-left">
                <label>ปีภาษี : </label>
              </div>
              <div class="col-12 col-sm-2 text-left">
                {{taxYear.value}}
              </div>

              <div class="col-12 col-sm-2 text-sm-right text-left">
                <label>ประเภท : </label>
              </div>
              <div class="col-12 col-sm-2 text-left">
                {{sourceEnumDesc.value}}
              </div>

              <div class="col-12 col-sm-2 text-sm-right text-left">
                <label>ชื่อไฟล์นำเข้า : </label>
              </div>
              <div class="col-12 col-sm-2 text-left">
                {{fileName.value}}
              </div>
            </div>

            <div class="form-group row">
              <div class="col-12 col-sm-2 text-sm-right text-left">
                <label>ชื่อไฟล์ A2 : </label>
              </div>
              <div class="col-12 col-sm-2 text-left">
                {{a2FileName.value}}
              </div>
            </div>

            <div class="form-group row">
              <div class="form-group col-lg-1 reset-button"></div>
              <div class="form-group col-lg-2 reset-button">
                <button type="button" class="btn btn-warning margin-top-10" (click)="back()">
                  <i class="glyphicon glyphicon-repeat"></i> ย้อนกลับ
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-bd lobidisable">
                  <div class="panel-heading clearfix">
                    <div class="panel-title">
                      <h3><i class="fa fa-list"></i> รายการข้อมูลผู้ลงทะเบียนไม่สำเร็จ</h3>
                    </div>
                  </div>

                  <div class="panel-body">
                    <table id="itppTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th scope="col" class="text-center" style="width: 5%">ลำดับ</th>
                          <th scope="col" class="text-center" style="width: 15%">ลำดับรายการที่ผิดพลาด</th>
                          <th scope="col" class="text-center" style="width: 80%">รายละเอียดความผิดพลาด *</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr role="row" class="odd" *ngFor="let v of welfareRegistrantErrorLogList; index as i">
                            <td class="text-center">{{i+1}}</td>
                            <td class="text-center">{{v.fileRow }}</td>
                            <td class="text-left">{{v.fileRowDetail}}</td>
                        </tr>
                        <tr *ngIf="!welfareRegistrantErrorLogList || (welfareRegistrantErrorLogList && welfareRegistrantErrorLogList.length === 0)">
                          <td colspan="12" class="text-center"> ไม่พบรายการข้อมูลผู้ลงทะเบียนไม่สำเร็จ</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>


</section>
