<ng-template #content let-modal>
  <div class="modal-header" >
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <div class="row">
        <div class="col-12 col-sm-3">
          <label for="registeredCode">เลขที่แบบ</label>
          <span></span>
        </div>
        <div class="col-12 col-sm-3">
          <label for="registeredCode">ประเภท</label>
          <span></span>
        </div>
        <span>ผู้นำส่งภาษีมูลค่าเพิ่ม</span>
        <div class="col-12 col-sm-3">
          <label for="registeredCode">เลขประจำตัวผู้เสียภาษีอากร</label>
          <span></span>
        </div>
        <div class="col-12 col-sm-3">
          <label for="registeredCode">ชื่อผู้ประกอบการ</label>
          <span></span>
        </div>
        <div class="col-12 col-sm-3">
          <label for="registeredCode">มีหน้าที่นำส่งภาษีมูลค่าเพิ่มกรณี</label>
          <span></span>
        </div>
        <div class="col-12 col-sm-3">
          <label for="registeredCode">สาขาที่</label>
          <span></span>
        </div>
        <span>ผู้ประกอบการซึ่งเป็น</span>
        <div class="col-12 col-sm-3">
          <label for="registeredCode">ชื่อผู้ประกอบการ</label>
          <span></span>
        </div>
        <div class="col-12 col-sm-3">
          <label for="registeredCode">ที่อยู่ </label>
          <span></span>
        </div>
        <div class="col-12 col-sm-3">
          <label for="registeredCode">เป็นผู้ประกอบการที่ได้ให้บริการใน
            ต่างประเทศ และได้มีการใช้บริการนั้น
            ในราชอาณาจักร</label>
          <span></span>
        </div>
        <span>รายละเอียดการจ่าย</span>
        <div class="col-12 col-sm-3">
          <label for="registeredCode">วัน เดือน ปี ที่จ่ายเงิน</label>
          <span></span>
        </div>
        <div class="col-12 col-sm-3">
          <label for="registeredCode">เลขที่เอกสารแลกเปลี่ยนเงินตรา</label>
          <span></span>
        </div>
        <div class="col-12 col-sm-3">
          <label for="registeredCode">จ่ายเงินชำระราคาสำหรับ </label>
          <span></span>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>