<section class="content">
  <div class="header-title mb-4">
    <h1><strong>จัดการอุปกรณ์ Token</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a href="" class="active">จัดการอุปกรณ์
          Token</a> /
        ลงทะเบียนอุปกรณ์</small></h1>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h4>ลงทะเบียนอุปกรณ์</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="registerform" (ngSubmit)="saveThumbDrive()">
        <div class="row">
          <div class="form-group col-lg-4">
            <label>เลขประจำตัวประชาชน:</label>
            <input type="text" value="{{registerform.get('userName').value || '-' }}" id="" class="form-control" name=""
              disabled>
          </div>
          <!-- <div class="form-group col-lg-4" *ngIf="registerform.get('deviceId').value != null  && registerform.get('deviceId').value != '' ">
                                        <label>วันที่รับอุปกรณ์:</label>
                                        <input type="text" value="{{registerform.get('receivedDate').value }}" id="" class="form-control" name="" disabled>
                                      </div> -->
          <div class="form-group col-lg-4">
            <label>หมายเลขอุปกรณ์:<span class="red">*</span></label>
            <select class="form-control" id="serialNumber" name="serialNumber" formControlName="serialNumber"
              (change)="change($event)" [ngClass]="{ 'is-invalid': thumbDriveSubmit && registerform.get('serialNumber').errors }">
              <option value="null">โปรดเลือก</option>
              <option *ngFor="let dt of devices" [value]="dt.deviceId">
                {{dt.serialNumber}}</option>
            </select>
            <div *ngIf="thumbDriveSubmit && registerform.get('serialNumber').errors" class="invalid-feedback">
              <div *ngIf="thumbDriveSubmit && registerform.get('serialNumber').errors.required">
                กรุณาระบุหมายเลขอุปกรณ์</div>
            </div>
          </div>
          <div class="form-group col-lg-4">
            <label>ชนิดอุปกรณ์:</label>
            <input type="text" value="{{registerform.get('deviceTypeName').value || '-' }}" id="" class="form-control"
              name="" disabled>
          </div>
          <div class="form-group col-lg-4">
            <label>โมเดล:</label>
            <input type="text" value="{{registerform.get('deviceModel').value || '-' }}" id="" class="form-control"
              name="" disabled>
          </div>
          <div class="form-group col-lg-4">
            <label>หมายเหตุ:</label>
            <textarea type="text" id="remark" name="remark" formControlName="remark"
              class="md-textarea md-textarea-auto form-control"></textarea>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="form-group col-lg-2 reset-button">
            <button type="submit" [disabled]="buttonDisabled" class="btn btn-green w-md m-b-5"><i
                class="fa fa-floppy-o"></i>
              &nbsp;บันทึก</button>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <button type="button" class="btn btn-orange3 w-md m-b-5" (click)="clear()"><i class="fa fa-times"></i>
              ยกเลิก</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
