<section class="content">
  <div class="header-title mb-4">
    <h1><strong>นำเข้า file จากกรมการปกครอง</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / นำเข้า file จากกรมการปกครอง</small></h1>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="header-title fa fa-file-text"></i> นำเข้า file จากกรมการปกครอง</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="uploadFileForm">
        <div class="col-lg-12">
          <div class="row form-group">
            <div class="col-sm-3 text-sm-right">
              <label>นำเข้า file จากกรมการปกครอง</label>
            </div>
            <div class="col-sm-6 custom-file">
              <input id="file" type="file" class="custom-file-input" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, text/plain"
                (change)="fileProgress($event)" style="overflow: hidden">
              <label class="custom-file-label" style="overflow: hidden">
                {{this.uploadFileForm.get('fileName').value}}</label>
            </div>
            <button type="button" class="btn btn-sm btn-auto" style="padding-top: 5px; !important;"
              (click)="removeAttachmentForm()" tooltip="ลบไฟล์"
              *ngIf="this.uploadFileForm.get('fileName').value != null && !confirmSubmit">
              <i class="fa fa-remove red"></i>
            </button>
          </div>
          <div class="col-sm-3 text-sm-right"
            *ngIf="this.uploadFileForm.get('fileName').value != null && confirmSubmit">
            <label> <span class="red">*</span> ยกเลิกการใช้งาน 1 ราย</label>
          </div>
        </div>
      </form>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-lg-2 reset-button">
        <button type="submit" class="btn btn-green margin-top-10" (click)="confirmUpload()">
          ยืนยัน
        </button>
      </div>
      <div class="form-group col-lg-2 reset-button">
        <button type="button" class="btn btn-warning margin-top-10">
          ยกเลิก
        </button>
      </div>
    </div>
  </div>
</section>