<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>Monitor การลงทะเบียนขอใช้งานใบรับรองอิเล็กทรอนิกส์ (User Certificate) สำหรับบุคคลธรรมดา หรือนิติบุคคล</h4>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ตั้งแต่วันที่ยื่นขอ <font color="red">* </font> </label>
          </div>
          <div class="form-group col-lg-4">
            <app-datepicker-th class="form-control-datepicker" 
              id="startDate" name="startDate"></app-datepicker-th>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ตั้งแต่เวลา</label>
          </div>
          <div class="form-group col-lg-4">
            <input type="text" value="" id="fromTime" class="form-control" name="fromTime" placeholder="09:30">
          </div>

          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ถึงวันที่ยื่นขอ <font color="red">* </font> </label>
          </div>
          <div class="form-group col-lg-4">
            <app-datepicker-th class="form-control-datepicker" 
              id="endDate" name="endDate"></app-datepicker-th>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ถึงเวลา</label>
          </div>
          <div class="form-group col-lg-4">
            <input type="text" value="" id="toTime" class="form-control" name="toTime" placeholder="10:00">
          </div>

          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ประเภทผู้ขอใบรับรองอิเล็กทรอนิกส์ </label>
          </div>
          <div class="form-group col-lg-4">
            <select class="form-input form-control" id="userType" type="text" name="userType">
              <option value="">ทั้งหมด</option>
              <option value="pit">บุคคลธรรมดา</option>
              <option value="cit">นิติบุคคล</option>
              <option value="tt">เจ้าหน้าที่กรมสรรพากร</option>
            </select>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ประเภทคำขอ  </label>
          </div>
          <div class="form-group col-lg-4">
            <select class="form-input form-control" id="certType" type="text" name="certType">
              <option value="">ทั้งหมด</option>
              <option value="new">ขอใหม่</option>
              <option value="revoke">เพิกถอน</option>
              <option value="renew">ต่ออายุ</option>
              <option value="wait">พักใช้งาน</option>
              <option value="cancel">ยกเลิกพักใช้งาน</option>
            </select>
          </div>

          <div class="form-group col-lg-2 pr-0">
          </div>
          <div class="form-group col-lg-4">
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="form-group col-lg-2 reset-button">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> ค้นหา</a>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <a href="." class="btn btn-warning margin-top-10"><i class="glyphicon glyphicon-repeat"></i> ล้างข้อมูล</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="fEOH8HCiPh">
    <div class="panel panel-bd lobidisable lobipanel" data-sortable="false" data-inner-id="fEOH8HCiPh" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 36px);">
          <h4><i class="fa fa-list mr-2"></i> ผลการค้นหา</h4>
        </div>
        <div class="dropdown">
          <ul class="dropdown-menu dropdown-menu-right">
            <li style=""><a data-func="unpin" data-tooltip="Unpin" data-toggle="tooltip" data-title="Unpin"
                            data-placement="bottom" data-original-title="" title=""><i
              class="panel-control-icon ti-move"></i><span class="control-title">Unpin</span></a></li>
            <li><a data-func="minimize" data-tooltip="Minimize" data-toggle="tooltip" data-title="Minimize"
                   data-placement="bottom" data-original-title="" title=""><i
              class="panel-control-icon ti-minus"></i><span class="control-title">Minimize</span></a></li>
            <li><a data-func="expand" data-tooltip="Fullscreen" data-toggle="tooltip" data-title="Fullscreen"
                   data-placement="bottom" data-original-title="" title=""><i
              class="panel-control-icon ti-fullscreen"></i><span class="control-title">Fullscreen</span></a></li>
          </ul>
          <div class="dropdown-toggle" data-toggle="dropdown"><span
            class="panel-control-icon glyphicon glyphicon-cog"></span></div>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th >ลำดับ</th>
              <th>วันที่ยื่นขอ</th>
              <th>ประเภทผู้ขอใบรับรอง<br>อิเล็กทรอนิกส์</th>
              <th>จำนวน<br>คำขอทั้งหมด</th>
              <th>บันทึกร่าง</th>
              <th>รออนุมัติ</th>
              <th>แจ้งกลับ<br>(เอกสารไม่ถูกต้อง)</th>
              <th>อนุมัติ</th>
              <th>ไม่อนุมัติ</th>
              <th>สร้างใบรับรอง<br>อิเล็กทรอนิกส์แล้ว</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="center">1</td>
              <td align="center">12/08/2562</td>
              <td align="left">บุคคลธรรมดา</td>
              <td align="right">40</td>
              <td align="right">4</td>
              <td align="right">16</td>
              <td align="right">2</td>
              <td align="right">0</td>
              <td align="right">1</td>
              <td align="right">17</td>
              <td>
                <a href="mns/mnsp011701" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png"></a>
              </td>
            </tr>
            <tr>
              <td align="center">2</td>
              <td align="center">12/08/2562</td>
              <td align="left">นิติบุคคล</td>
              <td align="right">70</td>
              <td align="right">5</td>
              <td align="right">30</td>
              <td align="right">5</td>
              <td align="right">10</td>
              <td align="right">0</td>
              <td align="right">20</td>
              <td>
                <a href="#" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
