<div class="content">
    <div class="header-title mb-4">
        <h1><strong>รายละเอียดข้อมูลประเภทผู้เสียภาษีอากร</strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a
                    [routerLink]="['/etl/officecode']" class="active">ประเภทผู้เสียภาษีอากร
            </a> / รายละเอียดข้อมูลประเภทผู้เสียภาษีอากร
            </small>
        </h1>
    </div>

    <form [formGroup]="nidGovAssoForm" (ngSubmit)="onSubmit()">
        <div formGroupName="nidGovAssoGroup">
            <div class="card border-light mb-4">
                <div class="card-header">
                    <h4 class="panel-title">
                        <i class="header-title fa fa-file-text"></i> ข้อมูลประเภทผู้เสียภาษีอากร
                    </h4>
                </div>
                <div class="card-body">
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                      <label>เลขผู้เสียภาษีอากร</label>&nbsp; <label class ="text-danger">*</label>
                      <input type="text" formControlName="taxId" id="taxId"
                             placeholder="ระบุเลขผู้เสียภาษีอากร"
                             class="form-control" readonly>
                      </div>

                      <div class="form-group col-lg-6">
                        <label>ชื่อผู้เสียภาษีอากร</label>&nbsp; <label class ="text-danger">*</label>
                        <input type="text" formControlName="taxPayerName" id="taxPayerName"
                               placeholder="ระบุชื่อผู้เสียภาษีอากร"
                               class="form-control" readonly>
                      </div>

                      <div class="form-group col-lg-6">
                        <label>ประเภทผู้เสียภาษี</label>&nbsp; <label class ="text-danger">*</label>

<!--                        <input type="text" formControlName="taxPayerType" id="taxPayerType"-->
<!--                               placeholder="ระบุประเภทผู้เสียภาษี"-->
<!--                               class="form-control" readonly>-->
                        <select name="type-data" class="form-control full"
                                formControlName="taxPayerType" id="taxPayerType" readonly>
                          <option [value]="null" disabled>ระบุ ภ.ง.ด</option>
                          <option *ngFor="let dv of TaxPayerTypeList"
                                  [value]="dv.code" disabled>{{dv.description}}</option>
                        </select>
                      </div>

                      <div class="form-group col-lg-6">
                          <label>เสียภาษี</label>
                          <div class="form-row">
                            <div class="form-group col-lg-1"></div>
                        <div class="form-group col-lg-4">
                          <div class="radio">
                            <input class="form-check-input" type="radio"
                                   formControlName="whtRateType"
                                   id="whtRateTypeY" name="whtRateType" [value]="'1'" disabled>
                            <label for="whtRateTypeY">
                              เสีย
                            </label>
                          </div>
                        </div>
                        <div class="form-group col-lg-4">
                          <div class="radio">
                            <input class="form-check-input" type="radio"
                                   formControlName="whtRateType"
                                   id="whtRateTypeN" name="whtRateType" [value]="'0'" disabled>
                            <label for="whtRateTypeN">
                              ไม่เสีย
                            </label>
                          </div>
                        </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table style="margin:auto;">
            <tr>
                <td>
                    <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5"
                            (click)="onBack()" id="back"><i
                            class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
