<section class="content">
    <div class="header-title">
      <h1><strong>สอบถามผลการดำเนินงาน(ระดับพื้นที่)</strong>
        <small class="pull-right"><a href="" class="active">หน้าหลัก</a>
          /GWS: อุทธรณ์
          /สอบถามผลการดำเนินงาน
          /สอบถามผลการดำเนินงาน(ระดับพื้นที่)</small></h1>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-bd lobidisable">
          <div class="panel-heading">
            <div class="panel-title">
              <h3><i class="fa fa-file-text"></i> สอบถามผลการดำเนินงาน(ระดับพื้นที่)</h3>
            </div>
          </div>

          <div class="panel-body no-padding"></div>

          <div class="panel-body">
            <form role="form"  (ngSubmit)="getData()">
              <div class="row">
                <div class="form-group col-lg-3"></div>
                <div class="form-group col-lg-3">
                  <label>ปีภาษี : </label>
                  {{appealProgress.taxYear}}
                </div>
                <div class="form-group col-lg-3">
                  <label>หน่วยงาน : </label>
                  {{appealProgress.orgName}}
                </div>
                <div class="form-group col-lg-3"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-bd lobidisable">
          <div class="panel-heading clearfix">
            <div class="panel-title">
              <h3><i class="fa fa-list"></i> ผลการค้นหาตามภาค</h3>
            </div>
          </div>

          <div class="panel-body">
            <div class="form-group col-lg-12">
              <div class="form-group" style="float:right">
                <div>
                  แสดงหน้าละ
                  <select (change)="changeRowLimits($event)">
                    <option *ngFor="let limit of rowLimits" [value]="limit.value">{{limit.key}}</option>
                  </select>
                  รายการ
                </div>
              </div>
            </div>
            <table id="example" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
              <tr role="row">
                <th rowspan="2" class="text-center">ลำดับ</th>
                <th rowspan="2" class="text-center">ปีภาษี</th>
                <th rowspan="2" class="text-center">หน่วยงาน</th>
                <th colspan="2" class="text-center">สถานะ</th>
              </tr>
              <tr role="row">
                <th scope="col" class="text-center">อยู่ระหว่างการดำเนินการ</th>
                <th scope="col" class="text-center">ดำเนินการเสร็จสิ้น</th>
              </tr>
            </thead>
            <tbody>
            <tr role="row" class="odd" *ngFor="let v of pageResponse.content; index as i">
                <td class="text-center">{{((pageRequest.page-1)*(pageResponse.size))+(i + 1)}}</td>
                <td class="text-left">{{v.taxYear}}</td>
                <td class="text-left">
                  <a [routerLink]="" (click)="goToViewBranch(v)" >
                    {{v.orgName}}
                  </a>
                </td>
                <td class="text-right">{{v.inProgressCount}}</td>
                <td class="text-right">{{v.finishedCount}}</td>
            </tr>
              <tr *ngIf="!pageResponse.content || pageResponse?.content?.length === 0">
                <td colspan="8" class="text-center"> ไม่พบข้อมูล</td>
              </tr>
            </tbody>
          </table>
            <div class="row">
              <div class="col-sm-5">
                <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
                  แสดงผล
                  {{pageResponse.numberOfElements}} จาก
                  {{pageResponse.totalPages}} รายการ
                </div>
              </div>
              <div class="col-sm-7 text-right">
                <pagination style="float: right;" [totalItems]="pageResponse.totalPages" previousText="ก่อนหน้า"
                  nextText="ถัดไป" [rotate]="true" [maxSize]="5" [(ngModel)]="pageRequest.page"
                  (pageChanged)="pageChange($event,limit)" (limit)="limit" [itemsPerPage]="pageResponse.size"
                  aria-label="Default pagination"></pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-lg-10"></div>
      <div class="form-group col-lg-2">
        <button type="button" class="btn btn-warning margin-top-10" (click)="back()">
          <i class="fa fa-chevron-left"></i> ย้อนกลับ
        </button>
      </div>
    </div>
  </section>

