<section class="content">
  <div class="header-title">
    <h1><strong>นำเข้าและประมวลผลตรวจสอบรายได้</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a>
        /นำเข้า/ตรวจสอบรายได้
        /ค้นหารายการนำเข้าและประมวลผลตรวจสอบรายได้
      </small>
    </h1>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading">
          <div class="panel-title">
            <h3><i class="fa fa-file-text"></i> ค้นหารายการนำเข้าและประมวลผลตรวจสอบรายได้</h3>
          </div>
        </div>
        <br/>
        <div class="panel-body no-padding"></div>

        <div class="panel-body">
          <form role="form" [formGroup]="searchCondition" (ngSubmit)="getData()">
            <div class="form-group row">
              <div class="col-12 col-sm-3 text-sm-right text-left">
                <label>ปีภาษี : </label>
              </div>
              <div class="col-12 col-sm-2 text-left">
                <select class="form-control" id="taxYear" formControlName="taxYear">
                  <option value="">ทั้งหมด</option>
                  <option *ngFor="let item of taxYearList" [value]="item">
                    {{item}}</option>
                </select>
              </div>

              <div class="col-12 col-sm-1 text-sm-right text-left">
                <label>ประเภท : </label>
              </div>
              <div class="col-12 col-sm-3 text-left">
                <select class="form-control" id="sourceEnum" formControlName="sourceEnum">
                  <option value="">ทั้งหมด</option>
                  <option *ngFor="let item of sourceDataList" [value]="item.id">
                    {{item.name}}</option>
                </select>
              </div>
            </div>
            <div class=" form-group row">
              <div class="col-12 col-sm-3 text-sm-right text-left">
                <label>ชื่อไฟล์ : </label>
              </div>
              <div class="col-12 col-sm-4 text-left">
                <input type="text" class="form-control" maxlength="100" formControlName="a2FileName">
              </div>
            </div>
            <div class=" form-group row">
              <div class="form-group col-lg-2 reset-button"></div>
              <div class="form-group col-lg-2 reset-button">
                <button type="submit" class="btn btn-success margin-top-10" *ngIf="authService.hasAnyPermission(['GWSP010100.VIEW'])">
                  <i class="glyphicon glyphicon-search"></i> ค้นหา
                </button>
              </div>
              <div class="form-group col-lg-2 reset-button">
                <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
                  <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
                </button>
              </div>
              <div class="form-group col-lg-4 reset-button">
                <button type="button" *ngIf="authService.hasAnyPermission(['GWSP020100.ADD'])" class="btn btn-primary margin-top-10" (click)="openUploadRegistrantFileModal()">
                  <i class="glyphicon glyphicon-upload"></i> อัพโหลดข้อมูลนำเข้า
                </button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading clearfix">
          <div class="panel-title">
            <h3><i class="fa fa-list"></i> ผลการค้นหา</h3>
          </div>
        </div>

        <div class="panel-body">
          <div class="form-group col-lg-12">
            <div class="form-group" style="float:right">
              <div>
                แสดงหน้าละ
                <select (change)="changeRowLimits($event)">
                  <option *ngFor="let limit of rowLimits" [value]="limit.value">{{limit.key}}</option>
                </select>
                รายการ
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table id="example" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th rowspan="3" class="text-center">ลำดับ</th>
                <th rowspan="3" class="text-center">
                  <a (click)="sort('T1.TAX_YEAR')" style="cursor: pointer" title="ปีภาษี" tooltip="ปีภาษี">
                    ปีภาษี
                  </a>
                  <ng-container *ngIf="pageRequest.sortFieldName === 'T1.TAX_YEAR'">
                    <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                  </ng-container>
                </th>
                <th rowspan="3" class="text-center">
                  <a (click)="sort('T1.SOURCE_DATA')" style="cursor: pointer" title="ประเภท" tooltip="ประเภท">
                    ประเภท
                  </a>
                  <ng-container *ngIf="pageRequest.sortFieldName === 'T1.SOURCE_DATA'">
                    <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                  </ng-container>
                </th>
                <th rowspan="3" class="text-center">
                  <a (click)="sort('T1.FILE_NAME')" style="cursor: pointer" title="ชื่อไฟล์นำเข้า" tooltip="ชื่อไฟล์นำเข้า">
                    ชื่อไฟล์นำเข้า
                  </a>
                  <ng-container *ngIf="pageRequest.sortFieldName === 'T1.FILE_NAME'">
                    <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                  </ng-container>
                </th>
                <th colspan="3" class="text-center">ประมวลผลสร้างไฟล์ข้อมูลที่ต้องการตรวจสอบรายได้

                </th>
                <th colspan="4" class="text-center">จำนวนรายการนำเข้า</th>
                <th rowspan="3" class="text-center">
                  <a (click)="sort('T2.STEP_DESC')" style="cursor: pointer" title="สถานะ" tooltip="สถานะ">
                    สถานะ
                  </a>
                  <ng-container *ngIf="pageRequest.sortFieldName === 'T2.STEP_DESC'">
                    <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                  </ng-container>
                </th>
                <th rowspan="3" class="text-center">ไฟล์ข้อมูลไม่ถูกต้อง</th>
                <th rowspan="3" class="text-center">ตรวจสอบการประมวลผลตรวจสอบรายได้</th>
                <th rowspan="3" class="text-center">ไฟล์ข้อมูลที่ตรวจสอบตามเงื่อนไขแล้ว</th>
              </tr>
              <tr role="row" >
                <th rowspan="2" scope="col" class="text-center">
                  <a (click)="sort('T1.A2_START_FILE_DATE')" style="cursor: pointer" title="วันเวลาที่เริ่มต้น" tooltip="วันเวลาที่เริ่มต้น">
                    วันเวลาที่เริ่มต้น
                  </a>
                  <ng-container *ngIf="pageRequest.sortFieldName === 'T1.A2_START_FILE_DATE'">
                    <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                  </ng-container>
                </th>
                <th rowspan="2" scope="col" class="text-center">
                  <a (click)="sort('T1.A2_END_FILE_DATE')" style="cursor: pointer" title="วันเวลาที่เสร็จสิ้น" tooltip="วันเวลาที่เสร็จสิ้น">
                    วันเวลาที่เสร็จสิ้น
                  </a>
                  <ng-container *ngIf="pageRequest.sortFieldName === 'T1.A2_END_FILE_DATE'">
                    <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                  </ng-container>
                </th>
                <th rowspan="2" scope="col" class="text-center">
                  <a (click)="sort('T1.A2_FILE_NAME')" style="cursor: pointer" title="ชื่อไฟล์" tooltip="ชื่อไฟล์">
                    ชื่อไฟล์
                  </a>
                  <ng-container *ngIf="pageRequest.sortFieldName === 'T1.A2_FILE_NAME'">
                    <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                  </ng-container>
                </th>
                <th rowspan="2" scope="col" class="text-center">ทั้งหมด</th>
                <th rowspan="2" scope="col" class="text-center">สำเร็จ</th>
                <th colspan="2" class="text-center">ไม่สำเร็จ</th>
              </tr>
              <tr>
                <th scope="col" class="text-center">ไม่ถูกต้อง</th>
                <th scope="col" class="text-center">ซ้ำ</th>
              </tr>
              </thead>
              <tbody>
              <tr role="row" class="odd" *ngFor="let v of pageResponse.content; index as i">
                  <td class="text-center">{{((pageRequest.page-1)*(pageResponse.size))+(i + 1)}}</td>
                  <td class="text-left">{{v.taxYear}}</td>
                  <td class="text-left">{{v.sourceEnumDesc}}</td>
                  <td class="text-left">{{v.sourceEnum != 3 ? v.fileName : ''}}</td>
                  <td class="text-center">{{v.a2StartFileDate != null? v.a2StartFileDate:null}}</td>
                  <td class="text-center">{{v.a2EndFileDate != null?  v.a2EndFileDate:null}}</td>
                  <td class="text-center">
                    <a [routerLink]="" title="{{v.a2FileName}}" class="oi oi-data-transfer-download" (click)="downloadA2File(v)" *ngIf="(v.a2EndFileDate != null && v.successRecord != null && v.successRecord != 0) && !isFailedToImportFile(v) && authService.hasAnyPermission(['GWSP010100.VIEW'])"
                      >
                      <!-- {{v.a2FileName}} -->
                    </a>
                  </td>
                  <td class="text-right">{{v.successRecord +  v.failedRecord + v.dupRecord == 0 ? null : v.successRecord +  v.failedRecord + v.dupRecord | number}}</td>
                  <td class="text-right">{{v.successRecord | number}}</td>
                  <td class="text-right">{{v.failedRecord | number}}</td>
                  <td class="text-right">{{v.dupRecord | number}}</td>
                  <td class="text-left">{{v.stepDesc}}</td>
                  <td class="text-center">
                    <a [routerLink]="" title="{{v.invalidFileName}}" class="oi oi-data-transfer-download" (click)="downloadErrorFile(v)" *ngIf="(v.invalidFileName != null) && authService.hasAnyPermission(['GWSP010100.VIEW'])">
                      <!-- {{v.invalidFileName}} -->
                    </a>
                  </td>
                  <td class="text-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-orange btn-sm btn-auto" (click)="goToEdit(v)" tooltip="ตรวจสอบการนำเข้าไฟล์ข้อมูลที่ตรวจสอบรายได้แล้ว" *ngIf="!isFailedToImportFile(v) && v.a2EndFileDate != null && authService.hasAnyPermission(['GWSP010100.VIEW'])" >
                        <i class="fa fa-pencil-square-o"></i>
                      </button>
                      <button type="button" class="btn btn-orange btn-sm btn-auto" (click)="goToErrorList(v)" tooltip="รายการไฟล์ข้อมูลไม่สำเร็จ" *ngIf="isFailedToImportFile(v) && authService.hasAnyPermission(['GWSP010100.VIEW'])" >
                        <i class="fa fa-file-text-o"></i>
                      </button>
                    </div>
                  </td>
                  <td class="text-center">
                    <a  [routerLink]="" title="{{v.resultFileName}}" class="oi oi-data-transfer-download" (click)="downloadResultFile(v)" *ngIf="(v.resultFileName != null) && authService.hasAnyPermission(['GWSP010100.VIEW'])">
                      <!-- {{v.resultFileName}} -->
                    </a>
                  </td>
              </tr>
              <tr *ngIf="pageResponse == null || (!pageResponse.content || pageResponse?.content?.length === 0)">
                <td colspan="15" class="text-center"> ไม่พบข้อมูล</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
                แสดงผล
                {{pageResponse.numberOfElements}} จาก
                {{pageResponse.totalPages}} รายการ
              </div>
            </div>
            <div class="col-sm-7 text-right">
              <pagination style="float: right;" [totalItems]="pageResponse.totalPages" previousText="ก่อนหน้า"
                nextText="ถัดไป" [rotate]="true" [maxSize]="5" [(ngModel)]="pageRequest.page"
                (pageChanged)="pageChange($event,limit)" (limit)="limit" [itemsPerPage]="pageResponse.size"
                aria-label="Default pagination"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
