<app-cert-header>ข้อมูล Certificate ที่มีในระบบ</app-cert-header>

<div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <table id="example" class="table table-striped table-bordered dataTable" style="width: 100%;" role="grid"
               aria-describedby="example_info">
          <thead>
          <tr role="row">
            <th><input type="checkbox"></th>
            <th class="text-center">ลำดับ</th>
            <th class="text-center">ผู้ขอออกใบ Certificate</th>
            <th class="text-center">หน่วยงาน-สาขา</th>
            <th class="text-center" style="width: 200px">อีเมล</th>
            <th class="text-center">เลขที่คำร้อง</th>
            <th class="text-center">ประเภทคำขอ</th>
            <th class="text-center" style="width: 200px">สถานะ</th>
            <th class="text-center" style="width: 200px">Cert.- Start Date</th>
            <th class="text-center" style="width: 200px">Cert.- End Date <br> (+ 3 Months)</th>
            <th style="width: 200px"></th>
          </thead>
          <tbody>
          <tr role="row" class="odd" *ngFor="let user of userCert; let i = index">
            <td><input type="checkbox"></td>
            <td class="text-center">{{i + 1}}</td>
            <td class="text-center">{{user.taxId}} - {{user.taxPayer}}</td>
            <td class="text-center">{{user.dept}} - {{user.branchId}}</td>
            <td class="text-center">{{user.email}}</td>
            <td class="text-center">{{user.reqId}}</td>
            <td class="text-center">{{user.requestType.requestTypeDesc}}
              <p *ngIf="user.requestType.requestTypeId == 2" style="font-size: 12px;color:darkblue;">
                เนื่องจาก:{{user.reasonCode.reasonDesc}}</p></td>
            <td class="text-center">{{user.approvalStatus.approvalStatusname}}</td>
            <td class="text-center">{{user.startDate | date: 'dd/MM/yyyy'}}</td>
            <td class="text-center">{{user.endDate | date: 'dd/MM/yyyy'}}</td>
            <td class="text-center">
              <div class="btn-group">
                <button type="button" *ngIf="user.approvalStatus.approvalStatusId == 1" id="requestCert"
                        class="btn btn-primary btn-sm" (click)="approveCert(user.userCertId)"> อนุมัติ
                </button>
                <button type="button"
                        *ngIf="user.approvalStatus.approvalStatusId == 2 && user.requestType.requestTypeId == 1"
                        id="revokeCert"
                        class="btn btn-danger btn-sm" (click)="open(revokeModal, user)">เพิกถอน
                </button>
                <button type="button"
                        *ngIf="user.approvalStatus.approvalStatusId == 2  && user.requestType.requestTypeId == 2"
                        id="renewCert"
                        class="btn btn-warning btn-sm">ขอต่อใบอนุญาตใหม่
                </button>
              </div>
            </td>
          </tr>
          <tr *ngIf="userCert?.length === 0">
            <td colspan="11" class="text-center"> ไม่พบข้อมูล</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <ng-template #revokeModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">ขอเพิกถอนใบรับรองอิเลคทรอนิกส์</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="revokeFormGroup">
        <div class="form-group">
          <label class="control-label">ชื่อผู้ขออนุญาตออกใบ Cert:</label>
          <input class="form-control" value="{{this.selectedData.taxId}} - {{this.selectedData.taxPayer}}" readonly>
        </div>
        <div class="form-group">
          <label class="control-label">หน่วยงาน-สาขา:</label>
          <input class="form-control" value="{{this.selectedData.dept}} - {{this.selectedData.branchId}}" readonly>
        </div>
        <div class="form-group">
          <label class="control-label">วันที่เริ่มใช้งานใบอนุญาต:</label>
          <input class="form-control" value="{{this.selectedData.startDate | date: 'dd/MM/yyyy'}}" readonly>
        </div>
        <div class="form-group">
          <label class="control-label">วันหมดอายุ:</label>
          <input class="form-control" value="{{this.selectedData.endDate | date: 'dd/MM/yyyy'}}" readonly>
        </div>
        <div class="form-group">
          <label class="col-form-label">สาเหตุ:</label>
          <select class="form-control" formControlName="reasonCode"
                  [ngClass]="{ 'is-invalid':revokeSubmit && field.reasonCode.errors }">
            <option value="">โปรดเลือก</option>
            <option *ngFor="let reasonCode of reasonCodeList" [value]="reasonCode.reasonCode">{{reasonCode.reasonCode}}
              : {{reasonCode.reasonDesc}}</option>
          </select>
          <div *ngIf="revokeSubmit && field.reasonCode.errors" class="invalid-feedback">
            <div *ngIf="revokeSubmit && field.reasonCode.errors.required">
              กรุณาระบุสาเหตุสำหรับการขอเพิกถอนใบรับรองอิเลคทรอนิกส์
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="revokeCert()">Revoke</button>
      <button type="button" class="btn btn-danger" (click)="d('cancel')">ยกเลิก</button>
    </div>
  </ng-template>

</div>
