<ng-container *ngIf="publicUser">
  <div class="header-title mb-4">
    <h1>
      <strong>{{'อนุมัติเอกสารผู้ใช้งานประเภท' + userTypeName}}</strong>
      <small class="pull-right"><a [routerLink]="['../../search']" class="active">หน้าหลัก</a>
        / {{'อนุมัติเอกสารผู้ใช้งานประเภท' + userTypeName}}
      </small>
    </h1>
  </div>
  <div class="card mb-4">
    <div class="card-header ">
      <div class="justify-content-left">
        <h4><i class="fa fa-file-text"></i>ข้อมูลผู้ใช้งานประเภท {{userTypeName}}</h4>
      </div>
    </div>
    <div class="card-body">
      <app-foreign-individual-user-information [publicUser]="publicUser"
                                               *ngIf="userTypeKey == 'F'"></app-foreign-individual-user-information>
      <app-estate-individual-user-information [publicUser]="publicUser"
                                              *ngIf="userTypeKey == 'H'"></app-estate-individual-user-information>
      <app-partnership-individual-user-information [publicUser]="publicUser"
                                                   *ngIf="userTypeKey == 'G'"></app-partnership-individual-user-information>
      <app-partnership-individual-user-information [publicUser]="publicUser"
                                                   *ngIf="userTypeKey == 'O'"></app-partnership-individual-user-information>
      <app-juristic-person-user-information [publicUser]="publicUser"
                                            *ngIf="userTypeKey === 'C'"></app-juristic-person-user-information>
      <app-affiliation-user-information [publicUser]="publicUser" *ngIf="userTypeKey === 'A'"></app-affiliation-user-information>
      <app-sender-user-information [publicUser]="publicUser" *ngIf="userTypeKey === 'S'"></app-sender-user-information>
      <app-approve-user-attachment-table [userTypeKey]="userTypeKey" [username]="publicUser.username"
                                         [hashUserId]="publicUser.hashUserId" [approvedDocumentForm]="approvedDocumentForm"
                                         [reUploadDoc]="publicUser.reUploadDocument"
                                         #approveUserAttachmentTable></app-approve-user-attachment-table>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header ">
      <h4><i class="header-title fa fa-file-text"></i> อนุมัติเอกสารผู้ใช้งาน</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="approvedDocumentForm">
        <fieldset>
          <input type="radio" name="approveResult" id="approve-document" formControlName="approveResult"
                 value="approveUserDocument">
          <label for="approve-document"> อนุมัติเอกสารผู้ใช้งาน</label>
          <br>
          <input type="radio" name="approveResult" id="disapprove-document" formControlName="approveResult"
                 value="disApproveUserDocument">
          <label for="disapprove-document"> ไม่อนุมัติเอกสารผู้ใช้งาน</label>
          <ng-container *ngIf="userTypeKey !== 'S'">
            <br>
            <input type="radio" name="approveResult" id="disapprove-user" formControlName="approveResult"
                   value="disApproveUser">
            <label for="disapprove-user"> ยุติคำร้องขอลงทะเบียน</label>
          </ng-container>
          <p class="red" *ngIf="approvedDocumentForm.hasError('approvedRequired') && approvedDocumentForm.touched">
            {{approvedDocumentForm.getError('approvedRequired')}}
          </p>
          <div class="row mb-2">
            <div class="col-12 col-sm-2">
              <label for="remark">หมายเหตุ<span class="red">*</span> :</label>
            </div>
            <div class="col-12 col-sm-4">
        <textarea class="form-control" id="remark" style="min-height: 100px" formControlName="remark"
                  [readOnly]="approveResultControl.value == 'approveUserDocument'"></textarea>
              <p class="red"
                 *ngIf="approvedDocumentForm.hasError('remarkRequired') && approvedDocumentForm.touched">
                {{approvedDocumentForm.getError('remarkRequired')}}
              </p>
              <p class="red" *ngIf="remarkControl.hasError('maxlength')">
                กรุณาระบุหมายเหตุไม่เกิน 512 ตัวอักษร
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <button class="btn btn-success mr-2 btn-auto" type="button" (click)="updateRegisterStatus()">
                บันทึก
              </button>
              <button class="btn btn-danger mr-2 btn-auto" [routerLink]="['../../search']" type="button">ย้อนกลับ
              </button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</ng-container>
