<html>
<head>
<title>form</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="icon" type="image/png" href="<%=RootPath%>/img/Headericon_11.png" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


</head>
<body onload="startTime()">
  <form [formGroup]="searchForm">
    <div class="header-title">
      <h1><strong></strong>
      </h1>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
        <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
          <div class="panel-heading">
            <div class="panel-title" style="max-width: calc(100% - 72px);">
              <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
              <h4>Monitor การรับข้อมูลจากหน่วยงานที่ส่งข้อมูลสถาบันการเงิน (Bank) และที่มิใช่สถาบันการเงิน (Non-Bank)</h4>
            </div>
          </div>

          <div class="panel-body">
            <div class="row">
              <div class="form-group col-lg-2 pr-0">
                <label class="pull-right">ตั้งแต่วันที่รับไฟล์ <font color="red">*</font> </label>
              </div>
              <div class="form-group col-lg-4">
                <app-datepicker-th class="form-control-datepicker" id="fromDate" formControlName="fromDate"></app-datepicker-th>
              </div>
              <div class="form-group col-lg-2 pr-0">
                <label class="pull-right">ตั้งแต่เวลา</label>
              </div>
              <div class="form-group col-lg-4">
                <input type="text" value="" id="fromTime" class="form-control" formControlName="fromTime" placeholder="00:00">
              </div>

              <div class="form-group col-lg-2 pr-0">
                <label class="pull-right">ถึงวันที่รับไฟล์ <font color="red">*</font> </label>
              </div>
              <div class="form-group col-lg-4">
                <app-datepicker-th class="form-control-datepicker" id="toDate" formControlName="toDate"></app-datepicker-th>
              </div>
              <div class="form-group col-lg-2 pr-0">
                <label class="pull-right">ถึงเวลา</label>
              </div>
              <div class="form-group col-lg-4">
                <input type="text" value="" id="toTime" class="form-control" formControlName="toTime" placeholder="23:59">
              </div>

              <!--<div class="form-group col-lg-2 pr-0">
                <label class="pull-right">ประเภทหน่วยงานส่งข้อมูล</label>
              </div>
              <div class="form-group col-lg-4">
                <select class="form-input form-control" id="senderType" type="text" formControlName="senderType">
                  <option value="">ทั้งหมด</option>
                  <option value="bank">Bank</option>
                  <option value="nonBank">Non Bank</option>
                </select>
              </div>-->
              <div class="form-group col-lg-2 pr-0">
                <label class="pull-right">หน่วยงานส่งข้อมูล</label>
              </div>
              <div class="form-group col-lg-4">
                <select class="form-input form-control" id="senderID" type="text" formControlName="senderID">
                  <option value="">ทั้งหมด</option>
                  <option value="BBL">ธนาคารกรุงเทพ</option>
                  <option value="ktb">ธนาคารกรุงไทย</option>
                  <option value="kBank">ธนาคารกสิกรไทย</option>
                  <option value="scb">ธนาคารไทยพานิชย์</option>
                </select>
              </div>

              <div class="form-group col-lg-2 pr-0">
                <label class="pull-right">ประเภทข้อมูล</label>
              </div>
              <div class="form-group col-lg-4">
                <select class="form-input form-control" id="dataTypeID" type="text" formControlName="dataTypeID">
                  <option value="">ทั้งหมด</option>
                  <option value="77">e-Withholding Tax Domestic</option>
                  <option value="78">e-Withholding Tax Cross-Border</option>
                  <option value="79">Special</option>
                  <option value="80">e-Tax Invoice</option>
                  <option value="81">MT940</option>
                  <option value="82">e-Donation</option>
                </select>
              </div>
              <div class="form-group col-lg-2 pr-0">
                <label class="pull-right">ขั้นตอนการดำเนินการ</label>
              </div>
              <div class="form-group col-lg-4">
                <select class="form-input form-control" id="stateID" type="text" formControlName="stateID">
                  <option value="">ทั้งหมด</option>
                  <option value="receiveFile">รับไฟล์จากหน่วยงานที่ส่งข้อมูล</option>
                  <option value="decryptCert">ถอดรหัสลายเซ็นอิเล็กทรอนิกส์</option>
                </select>
              </div>

              <div class="form-group col-lg-2 pr-0">
                <label class="pull-right">สถานะการทำงาน</label>
              </div>
              <div class="form-group col-lg-4">
                <select class="form-input form-control" id="statusGrp" type="text" formControlName="statusGrp">
                  <option value="">ทั้งหมด</option>
                  <option value="success">สำเร็จ</option>
                  <option value="process">กำลังดำเนินการ</option>
                  <option value="error">ไม่สำเร็จ</option>
                </select>
              </div>
              <div class="form-group col-lg-6 pr-0">
              </div>
              <div class="form-group col-lg-2 pr-0">
              </div>
              <div class="form-group col-lg-4">
              </div>
            </div>
            <div class="row d-flex justify-content-center">
              <div class="form-group col-lg-2 reset-button">
                <!--<a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> ค้นหา</a>-->
                <button type="button" class="btn btn-primary" (click)="search()">
                  <i class="glyphicon glyphicon-search"></i> ค้นหา
                </button>
              </div>
              <div class="form-group col-lg-2 reset-button">
                <button type="button" class="btn btn-primary">
                  <i class="glyphicon glyphicon-search"></i> ล้างข้อมูล
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="fEOH8HCiPh">
        <div class="panel panel-bd lobidisable lobipanel" data-sortable="false" data-inner-id="fEOH8HCiPh" data-index="0">
          <div class="panel-body pb-4">
            <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
              <thead>
                <tr class="" align="center">
                  <th >ลำดับ</th>
                  <th>วันที่รับไฟล์</th>
                  <th>วันที่ทำรายการ</th>
                  <th>ประเภทข้อมูล</th>
                  <th>จำนวนไฟล์</th>
                  <th>จำนวนรายการ</th>
                  <th>จำนวนเงิน</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                
                <tr *ngFor="let data of receiveData">
                  <td class="text-center">{{data.no}}</td>
                  <td class="text-center">{{data.receiveDate}}</td>
                  <td class="text-center">{{data.paymentDate}}</td>
                  <td class="text-left">{{data.dataTypeDesEn}}</td>
                  <td class="text-center">{{data.totalFile}}</td>
                  <td class="text-center">{{data.totalRecord}}</td>
                  <td class="text-center">{{data.totalAmount}}</td>
                  
                  <td [ngClass]="{'red':data.statusGrp == '1','gold':data.statusGrp == '2','green':data.statusGrp == '3'}">
                    <!--<a [routerLink]="['../mnsp010101?receiveDate'+data.receiveDate+'&paymentDate='+data.paymentDate+'&dataTypeID='+data.dataTypeID+'&statusGrp='+data.statusGrp+'&senderID='+data.senderID+'&stateID='+data.stateID]" class="btn btn-orange btn-sm">-->
                    <a [routerLink]="['../mnsp010101/'+data.receiveDate+'/'+data.paymentDate+'/'+data.dataTypeID+'/'+data.statusGrp]" class="btn btn-orange btn-sm">
                      <img src="assets/dist/img/search_icon.png"></a>
                  </td>
                </tr>
                <!--
                <tr>
                  <td align="center">1</td>
                  <td align="center">12/08/2562</td>
                  <td align="center">12/08/2562</td>
                  <td align="left">e-Witholding Tax Domestic</td>
                  <td align="right">2</td>
                  <td align="right">800</td>
                  <td align="right">700,000.00</td>
                  <td bgcolor="red">
                    <a href="mns/mnsp010101" class="btn btn-orange btn-sm">
                      <img src="assets/dist/img/search_icon.png"></a>
                  </td>
                </tr>
                <tr>
                  <td align="center">2</td>
                  <td align="center">12/08/2562</td>
                  <td align="center">12/08/2562</td>
                  <td align="left">e-Witholding Cross-Border</td>
                  <td align="right">3</td>
                  <td align="right">2,000</td>
                  <td align="right">1,200,000.00</td>
                  <td bgcolor="gold">
                    <a href="public_user_expat_edit.html" class="btn btn-orange btn-sm">
                      <img src="assets/dist/img/search_icon.png"></a>
                  </td>
                </tr>
                <tr>
                  <td align="center">3</td>
                  <td align="center">12/08/2562</td>
                  <td align="center">12/08/2562</td>
                  <td align="left">e-Witholding Domestic</td>
                  <td align="right">3</td>
                  <td align="right">2,200</td>
                  <td align="right">1,800,000.00</td>
                  <td bgcolor="green">
                    <a href="public_user_expat_edit.html" class="btn btn-orange btn-sm">
                      <img src="assets/dist/img/search_icon.png"></a>
                  </td>
                </tr>
                <tr>
                  <td align="center">4</td>
                  <td align="center">12/08/2562</td>
                  <td align="center">12/08/2562</td>
                  <td align="left">e-Tax Invoice</td>
                  <td align="right">1</td>
                  <td align="right">500</td>
                  <td align="right">3,000,000.00</td>
                  <td bgcolor="green">
                    <a href="public_user_expat_edit.html" class="btn btn-orange btn-sm">
                      <img src="assets/dist/img/search_icon.png"></a>
                  </td>
                </tr>
                <tr>
                  <td align="center">5</td>
                  <td align="center">12/08/2562</td>
                  <td align="center">12/08/2562</td>
                  <td align="left">Bill Payment</td>
                  <td align="right">5</td>
                  <td align="right">5,000</td>
                  <td align="right">7,500,000.00</td>
                  <td bgcolor="green">
                    <a href="public_user_expat_edit.html" class="btn btn-orange btn-sm">
                      <img src="assets/dist/img/search_icon.png"></a>
                  </td>
                </tr>-->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</body>
</html>