<div class="content">
    <div class="header-title mb-4">
        <h1><strong>เพิ่มรหัสไปรษณีย์ </strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a
                    [routerLink]="['/etl/postcode']" class="active">รหัสไปรษณีย์
            </a> / เพิ่มรหัสไปรษณีย์
            </small>
        </h1>
    </div>

    <form [formGroup]="postcodeForm" (ngSubmit)="onSubmit()">
        <div formGroupName="postcodeGroup">
            <div class="card border-light mb-4">
                <div class="card-header">
                    <h4 class="panel-title">
                        <i class="header-title fa fa-file-text"></i> ข้อมูลอำเภอ
                    </h4>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label>รหัสไปรษณีย์</label>&nbsp; <label class ="text-danger">*</label>
                            <input type="text" formControlName="postcode" id="postcode" [maxlength]="10"
                                   placeholder="ระบุรหัสไปรษณีย์"
                                   class="form-control">
                            <div class="text-danger"
                                 *ngIf="!postcodeForm.get('postcodeGroup.postcode').valid && postcodeForm.get('postcodeGroup.postcode').touched">
                                กรุณากรอกรหัสไปรษณีย์.
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>จังหวัด</label>&nbsp; <label class ="text-danger">*</label>
                          <input formControlName="provinceNameTh"
                                   [ngClass]="{'': !postcodeForm.get('postcodeGroup.provinceId').valid && postcodeForm.get('postcodeGroup.provinceId').touched}"
                                   [typeahead]="edcProvinceList"
                                   (click)="resetAmphur()"
                                   [typeaheadMinLength]="0"
                                   (typeaheadOnSelect)="onSelectProvince($event)"
                                   typeaheadOptionField="provinceNameTh"
                                   placeholder="ระบุจังหวัด"
                                   id = "provinceNameTh"
                                   class="form-control"
                                   >
                            <div class="text-danger"
                                 *ngIf="!postcodeForm.get('postcodeGroup.provinceNameTh').valid && postcodeForm.get('postcodeGroup.provinceNameTh').touched">
                                กรุณาระบุจังหวัด.
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>อำเภอ</label>&nbsp; <label class ="text-danger">*</label>
                            <input formControlName="amphurNameTh"
                                   [typeahead]="edcAmphurList"
                                   [typeaheadMinLength]="0"
                                   (typeaheadOnSelect)="onSelectAmphur($event)"
                                   typeaheadOptionField="amphurNameTh"
                                   placeholder="ระบุอำเภอ"
                                   id = "amphurNameTh"
                                   class="form-control">
                            <div class="text-danger"
                                 *ngIf="!postcodeForm.get('postcodeGroup.amphurNameTh').valid && postcodeForm.get('postcodeGroup.amphurNameTh').touched">
                                กรุณาระบุอำเภอ.
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>ตำบล</label>&nbsp; <label class ="text-danger">*</label>
                            <input formControlName="thambolNameTh"
                                   [typeahead]="edcThambolList"
                                   [typeaheadMinLength]="0"
                                   (typeaheadOnSelect)="onSelectThambol($event)"
                                   typeaheadOptionField="thambolNameTh"
                                   placeholder="ระบุตำบล"
                                   id = "thambolNameTh"
                                   class="form-control">
                            <div class="text-danger"
                                 *ngIf="!postcodeForm.get('postcodeGroup.thambolNameTh').valid && postcodeForm.get('postcodeGroup.thambolNameTh').touched">
                                กรุณาระบุตำบล.
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>หมายเหตุ</label>
                            <textarea formControlName="comment" id="comment" rows="5"
                                      class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table style="margin:auto;">
            <tr>
                <td>
                    <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5"
                            (click)="onBack()" id = "back"><i
                            class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-auto btn-orange2 w-md m-b-5" (click)="resetForm()" id = "clear"><i
                            class="fa fa-repeat" ></i> ล้างข้อมูล
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-auto btn btn-auto  btn-green w-md m-b-5" id = "save"><i
                            class="fa fa-floppy-o" ></i> บันทึก
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
