
<button type="button" class="btn btn-orange btn-sm btn-auto"
        (click)="showPopup(verifyModal)">
  <i class="fa fa-check-circle-o" aria-hidden="true"></i> ตรวจสอบใบรับรองอิเล็กทรอนิกส์
</button>


<ng-template #verifyModal>
  <app-verify-usb (isValid)="onVerify($event)"></app-verify-usb>
</ng-template>
