<div class="header-title">
  <h1><strong>บันทึกผล อนุมัติ/ไม่อนุมัติ</strong>
    <small class="pull-right"><a href="#" class="active">หน้าหลัก</a> /
      บันทึกผล อนุมัติ/ไม่อนุมัติ สูงสุด
    </small>
  </h1>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false">
      <div class="panel-heading">
        <div class="panel-title">
          <h4><i class="fa fa-desktop" aria-hidden="true"></i> ARSP020400 : บันทึกผล อนุมัติ/ไม่อนุมัติ สูงสุด</h4>
        </div>
        <div class="panel-options" style="padding-top: 10px;text-align: right;">
          <i class="fa fa-chevron-down" aria-hidden="true" (click)="isCollapsed = !isCollapsed"
             [attr.aria-expanded]="!isCollapsed" aria-controls="collapseEvent"></i>
        </div>
      </div>
      <div class="panel-body" id="collapseBasic" [collapse]="isCollapsed">
        <div class="col-lg-12">
          <div class="row">
            <nav class="navbar navbar-light bg-info col-lg-12">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <h6 ><i class="fa fa-desktop" aria-hidden="true"></i> กลุ่มข้อมูลที่ต้องการนำออก "{{requestForm?.searchTemplate?.searchTemplateName}}"</h6>
                </li>
              </ul>
            </nav>
          </div>
          <div class="row">
            <div class="col-xl-1 col-lg-2 col-sm-2">
              <label style="font-weight: bold;"> เรื่อง </label>
            </div>
            <div class="col-xl-5 col-lg-4 col-sm-4">
              <label>{{requestForm?.formTitle}}</label>
            </div>
            <div class="col-xl-2 col-lg-2 col-sm-2">
              <label style="font-weight: bold;"> ผู้สร้างใบคำขอ </label>
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-4">
              <label>{{requestForm?.userRequestName}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-1 col-lg-2 col-sm-2">
              <label style="font-weight: bold;"> วัตถุประสงค์ </label>
            </div>
            <div class="col-xl-5 col-lg-4 col-sm-4">
              <label>{{requestForm?.formDesc}}</label>
            </div>
            <div class="col-xl-2 col-lg-2 col-sm-2">
              <label style="font-weight: bold;"> วันที่เวลาสร้างใบคำขอฯ </label>
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-4">
              <label>{{(requestForm?.createdDate | thaidate: 'DD/MM/YYYY HH:mm:ss') || '-'}}</label>
            </div>
          </div>

          <div class="row">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                <tr role="row">
                  <th class="text-center">ลำดับที่</th>
                  <th class="text-center">รายชื่อฟิลด์ที่ร้องขอ</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of masters; index as i">
                  <td class="text-center" style="min-width:100px;width:100px;">{{i + 1}}</td>
                  <td class="text-left" width="auto">{{item.colDescTh}}</td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="row">
            <nav class="navbar navbar-light bg-info col-lg-12">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <h6 ><i class="fa fa-external-link" aria-hidden="true"></i> เงื่อนไขการนำออก</h6>
                </li>
              </ul>
            </nav>
          </div><br/>
          <div *ngFor="let criteria of requestFormCriterias" class="row">
            <div class="col-lg-3">
              <label> {{criteria.colDescTh}} </label>
            </div>
            <div class="col-lg-6" *ngIf="criteria.isSearchByList">
              <label style="color:dodgerblue;">{{criteria.criteriaValue}}</label>
            </div>
            <div class="col-lg-6" *ngIf="criteria.isPeriodSearch">
              <label style="color:dodgerblue;">{{criteria.periodDateFrom | thaidate : 'DD/MM/YYYY'}} ถึง {{criteria.periodDateTo | thaidate : 'DD/MM/YYYY'}}</label>
            </div>
          </div>
        </div>
        <br/>
        <div class="col-lg-12"  *ngIf="mastersSorting !== undefined">
          <div class="row">
            <nav class="navbar navbar-light bg-info col-lg-12">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <h6 ><i class="fa fa-filter" aria-hidden="true"></i> จัดเรียงนำออก</h6>
                </li>
              </ul>
            </nav>
          </div>
          <br/>
          <div class="row">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                <tr role="row">
                  <th class="text-center">ลำดับที่</th>
                  <th class="text-center" colspan="2">ฟิลด์ที่ต้องการให้จัดเรียงข้อมูล</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of mastersSorting; index as i">
                  <td class="text-center" style="min-width:100px;width:100px;">{{i + 1}}</td>
                  <td class="text-left" width="auto">{{item.colDescTh}}</td>
                  <td class="text-left" width="auto">{{arsCommonService.convertSortingToTH(item.sortingType)}}</td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
        <br/>
        <div class="col-lg-12" *ngIf="requestForm?.currentApproved === 1">
          <div class="row">
            <nav class="navbar navbar-light bg-info col-lg-12">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <h6 ><i class="fa fa-times-circle" aria-hidden="true"></i> ระบุเหตุผลกรณีไม่อนุมัติ</h6>
                </li>
              </ul>
            </nav>
          </div><br/>
          <form [formGroup]="approvalFormGroup">
            <div class="row">
             <textarea rows="5" style="width:100%;" class="form-control" formControlName="rejectReason">
             </textarea><br>
            </div>
            <div class="row justify-content-center">
              <div class="form-group col-lg-4 reset-button">
                <button type="button" class="btn btn-info margin-top-10" (click)="rejectRequest()">
                  ไม่อนุมัติ/ยกเลิกใบคำขอ
                </button>
              </div>
              <div class="form-group col-lg-3 reset-button">
                <button type="submit" class="btn btn-green margin-top-10" (click)="approveRequest()">
                  อนุมัติ
                </button>
              </div>
              <div class="form-group col-lg-2 reset-button">
                <button type="button" class="btn btn-warning margin-top-10">
                  ยกเลิก
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-12" *ngIf="requestForm?.currentApproved > 1">
          <div class="row">
            <nav class="navbar navbar-light bg-info col-lg-12">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <h6 ><i class="fa fa-check-circle-o" aria-hidden="true"></i> ผลการอนุมัติ </h6>
                </li>
              </ul>
            </nav>
          </div>
          <div class="row" *ngFor="let item of approveHistory ">
            <div class="col-sm-2">
              <label style="font-weight: bold;"> ผู้อนุมัติลำดับที่: {{item.approverSeq}}  </label>
            </div>
            <div class="col-sm-2">
              <label style="font-weight: bold;"> {{item.approverName}}  </label>
            </div>
            <div class="col-sm-2">
              <label style="font-weight: bold;"> ผลการอนุมัติ </label>
            </div>
            <div class="col-sm-2">
              <label *ngIf="item.approvalStatusCode === 'APPROVED' "> อนุมัติ </label>
              <label *ngIf="item.approvalStatusCode === 'REJECT' "> ไม่อนุมัติ </label>
            </div>
            <div class="col-sm-2">
              <label style="font-weight: bold;"> วันที่บันทึกผลการพิจารณา </label>
            </div>
            <div class="col-sm-2">
              <label>{{(item.approvedDate | thaidate: 'DD/MM/YYYY HH:mm:ss') || '-'}}</label>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-group col-lg-3 reset-button" style="float: right;">
  <button type="button" class="btn btn-primary margin-top-10" (click)="goHome()">
    <i class="fa fa-home" aria-hidden="true"></i>
    กลับหน้าหลัก
  </button>
</div>
