<ng-container [formGroup]="controlContainer.control">
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <label for="no" class="cols-sm-2 control-label">บ้านเลขที่ :</label>
        <div class="input-group">
          <input type="text" class="form-control" name="no" id="no" placeholder="บ้านเลขที่"
                 formControlName="no"
                 [class.is-invalid]="no.invalid && (no.dirty || no.touched)"
          />
          <div class="invalid-feedback">
            กรุณากรอกบ้านเลขที่
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <label for="moo" class="cols-sm-2 control-label">หมู่ที่ :</label>
        <div class="input-group">
          <input type="text" class="form-control" name="moo" id="moo" placeholder="หมู่ที่"
                 formControlName="moo"
                 [class.is-invalid]="moo.invalid && (moo.dirty || moo.touched)"
          />
          <div class="invalid-feedback">
            กรุณากรอกหมู่ที่
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-4">
      <div class="form-group">
        <label for="build" class="cols-sm-2 control-label">หมู่บ้าน/อาคาร/ห้องที่ :</label>
        <div class="input-group">
          <input type="text" class="form-control" name="build" id="build" placeholder="หมู่บ้าน/อาคาร/ห้องที่"
                 formControlName="build"
                 [class.is-invalid]="build.invalid && (build.dirty || build.touched)"
          />
          <div class="invalid-feedback">
            กรุณากรอก หมู่บ้าน/อาคาร/ห้องที่
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-4">
      <div class="form-group">
        <label for="soi" class="cols-sm-2 control-label">ซอย :</label>
        <div class="input-group">
          <input type="text" class="form-control" name="soi" id="soi" placeholder="ซอย"
                 formControlName="soi"
                 [class.is-invalid]="soi.invalid && (soi.dirty || soi.touched)"
          />
          <div class="invalid-feedback">
            กรุณากรอก ซอย
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="form-group">
        <label for="trok" class="cols-sm-2 control-label">ตรอก :</label>
        <div class="input-group">
          <input type="text" class="form-control" name="trok" id="trok" placeholder="ตรอก"
                 formControlName="trok"
                 [class.is-invalid]="trok.invalid && (trok.dirty || trok.touched)"/>
          <div class="invalid-feedback">
            กรุณากรอก ตรอก
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <label for="road" class="cols-sm-2 control-label">ถนน :</label>
        <div class="input-group">
          <input type="text" class="form-control" name="road" id="road" placeholder="ถนน"
                 formControlName="road"
                 [class.is-invalid]="road.invalid && (road.dirty || road.touched)"/>

          <div class="invalid-feedback">
            กรุณากรอก ถนน
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="province" class="cols-sm-2 control-label">จังหวัด :</label>
        <div class="input-group">
          <ng-select [items]="provinceList"
                     bindLabel="provinceNameTh"
                     bindValue="provinceId"
                     placeholder="กรุณาเลือกจังหวัด"
                     class="form-control" name="province" id="province" formControlName="province"
                     [class.is-invalid]="province.invalid && (province.dirty || province.touched)"
          >
          </ng-select>
          <div class="invalid-feedback">
            กรุณาเลือกจังหวัด
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="amphoe" class="cols-sm-2 control-label">อำภอ/เขต :</label>
        <div class="input-group">
          <ng-select [items]="amphoeList"
                     bindLabel="amphoeNameTh"
                     bindValue="amphoeId"
                     placeholder="กรุณาเลือกอำเภอ/เขต"
                     class="form-control" name="amphoe" id="amphoe" formControlName="amphoe"
                     [class.is-invalid]="amphoe.invalid && (amphoe.dirty || amphoe.touched)"
          >
          </ng-select>

          <div class="invalid-feedback">
            กรุณาเลือกอำเภอ/เขต
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="tambon" class="cols-sm-2 control-label">ดำบล/แขวง :</label>
        <div class="input-group">

          <ng-select [items]="tambonList"
                     bindLabel="tambonNameTh"
                     bindValue="tambonId"
                     placeholder="กรุณาเลือกตำบล/แขวง"
                     class="form-control" name="tambon" id="tambon" formControlName="tambon"
                     [class.is-invalid]="tambon.invalid && (tambon.dirty || tambon.touched)"
          >
          </ng-select>
          <div class="invalid-feedback">
            กรุณาเลือกตำบล/แขวง
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="postcode" class="cols-sm-2 control-label">รหัสไปรษณีย์ :</label>
        <div class="input-group">
          <input type="text" class="form-control" name="postcode" id="postcode" placeholder="รหัสไปรษณีย์"
                 formControlName="postcode"/>
          <div class="invalid-feedback">
            กรุณากรอกรหัสไปรษณีย์
          </div>
        </div>

      </div>
    </div>
  </div>
</ng-container>
