<form [formGroup]="userUploadFormGroup" (ngSubmit)="save()">
<div class="card mb-4">
  <div class="card-header ">
    <div class="justify-content-left">
      <h4>รายละเอียดใบรับรองอิเล็กทรอนิกส์</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="row form-group">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="IssuedName"> Issued Name : </label>
      </div>
      <div class="col-12 col-sm-5">
        <select class="form-control" id="IssuedName" formControlName="IssuedName">
          <option value="">ทั้งหมด</option>
        </select>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="IssuedBy"> Issued By : </label>
      </div>
      <div class="col-12 col-sm-5">
        <input type="text" id="IssuedName" class="form-control" formControlName="IssuedName">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="CaFile"> CA file : </label>
      </div>
      <div class="col-12 col-sm-5">
        <input type="file" class="form-control" id="CaFile" formControlName="CaFile">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="Objective"> วัตถุประสงค์การใช้งาน : </label>
      </div>
      <div class="col-12 col-sm-5">
        <select class="form-control" id="Objective" formControlName="Objective">
          <option value="">ทั้งหมด</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="card mb-4">
  <div class="card-header ">
    <div class="justify-content-left">
      <h4>ข้อมูลผู้ใช้งานใบรับรองอิเล็กทรอนิกส์</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="row form-group">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="idn"> เลขประจำตัวประชาชน : </label>
      </div>
      <div class="col-12 col-sm-5">
        <input type="text" id="idn" class="form-control" formControlName="idn">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="IssuedBy"> ชื่อ-สกุล: </label>
      </div>
      <div class="col-12 col-sm-5">
        <input type="text" id="fullName" class="form-control" formControlName="fullName">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="department"> หน่วยงาน : </label>
      </div>
      <div class="col-12 col-sm-5">
        <input type="text" class="form-control" id="department" formControlName="department">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="position"> ตำแหน่ง : </label>
      </div>
      <div class="col-12 col-sm-5">
        <input type="text" class="form-control" id="position" formControlName="position">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="mail"> อีเมล : </label>
      </div>
      <div class="col-12 col-sm-5">
        <input type="text" class="form-control" id="mail" formControlName="mail">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="phone"> เบอร์โทรศัพท์ : </label>
      </div>
      <div class="col-12 col-sm-5">
        <input type="text" class="form-control" id="phone" formControlName="phone">
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <div class="btn-group-md ">
    <button type="submit" class="col-md-2 btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> บันทึก</button>
    <button type="reset" class="col-md-2 btn btn-light"><i class="glyphicon glyphicon-refresh"></i> ล้างค่า</button>
  </div>
</div>
</form>