<app-navigatortab></app-navigatortab>
<section class="content">
  <div class="header-title mb-4">
    <h1>
      <strong>ภาษีขาย : เดือนกันยายน 2559</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> /  คัดค้นข้อมูลใบกำกับภาษี/ใบรับอิเล็กทรอนิกส์ / ผลการคัดค้นแบบสรุป / ภาษีขาย รายเดือน / เดือนกันยายน 2559</small>
    </h1>
  </div>

  <div class="card mb-4" *ngIf="pageResponse?.content!=null">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>ข้อมูลผู้เสียภาษี</h4>
    </div>
    <div class="card-body">
      <p class="mt-auto">เลขประจำตัวผู้เสียภาษีอากรผู้ขาย : 0-5755-26009-09-9    ชื่อผู้ประกอบการ : บริษัท ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ จำกัด    สาขา 00000</p>
      <br/>
      <p class="mt-auto">ที่อยู่ : 3/34  อาคาร แขวงห้วยขวาง  เขตห้วยขวาง  กรุงเทพมหานคร 10310</p>
      <br/>
      <p class="mt-auto">สำนักงานภูมิลำเนา : สส.ห้วยขวาง 1 (สท.กรุงเทพมหานคร 10)</p>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
        <h4><i class="fa fa-list"></i>รายการ</h4>
    </div>
    <div class="card-body">
        <div class="row table-conclusion">
            <div class="col-12 col-sm-12">
              <div class="row">
                  <div class="col-12 col-sm-2">รวมจำนวนผู้ซื้อ : 4 รายการ  </div>
                  <div class="col-12 col-sm-2">รวมจำนวนใบกำกับภาษี : 4 รายการ</div>
              </div>
              <div class="row">
                  <div class="col-12 col-sm-2">รวมยอดขายที่ต้องเสียภาษี VAT 7% : 126,133.87 บาท</div>
                  <div class="col-12 col-sm-2">รวมยอดขายที่ต้องเสียภาษี VAT 0% : 0.00 บาท</div>
                  <div class="col-12 col-sm-2">รวมยอดขายที่ยกเว้น VAT : 0.00 บาท</div>
                  <div class="col-12 col-sm-2">รวมภาษีขาย : 8,829.37 บาท</div>
                  <div class="col-12 col-sm-2">รวมมูลค่าสินค้าและบริการ: 134,963.24 บาท</div>
                  <div class="col-12 col-sm-2 d-block">
                      <button type="button" class="btn btn-primary" #printBtn>
                          <i class="fa fa-print"></i> พิมพิ์
                      </button>
                  </div>
              </div>
            </div>           
        </div>
        <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr role="row">
                    <th class="text-center" scope="col" style="width: 50px"></th>
                    <th class="text-center" scope="col">เลขประจำตัวผู้เสียภาษีอากรผู้ซื้อ</th>
                    <th class="text-center" scope="col">ชื่อผู้ซื้อ</th>
                    <th class="text-center" scope="col">ที่อยู่ผู้ซื้อ</th>
                    <th class="text-center" scope="col">เลขที่สาขา</th>
                    <th class="text-center" scope="col">จำนวนใบกำกับภาษี</th>
                    <th class="text-center" scope="col">ยอดขายที่ต้องเสียภาษี VAT 7%</th>
                    <th class="text-center" scope="col">ยอดขายที่ต้องเสียภาษี VAT 0%</th>
                    <th class="text-center" scope="col">ยอดขายที่ยกเว้น VAT</th>
                    <th class="text-center" scope="col">ภาษีขาย</th>
                    <th class="text-center" scope="col">รวมมูลค่าสินค้าและบริการ</th>
                    <th class="text-center" scope="col" style="width: 20px"></th>
                </tr>
            </thead>
            <tbody>
                <tr role="row" class="odd">
                    <td class="text-center">1</td>
                    <td class="text-center">1-1045-99001-27-1</td>
                    <td class="text-left">ธารา ยืนขำ</td>
                    <td class="text-left">799/89 ซอยจุฬาซอย 10 ถนนพระราม 6 แขวงสีลม เขตบางรัก จังหวัด กรุงเทพมหานคร 10330</td>
                    <td class="text-center">00000</td>
                    <td class="text-right">1</td>
                    <td class="text-right">62,550.00</td>
                    <td class="text-right">0.00</td>
                    <td class="text-right">0.00</td>
                    <td class="text-right">4,378.50</td>
                    <td class="text-right">66,928.50</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button type="button"class="btn btn-orange btn-sm btn-auto" 
                              (click)="showTaxInvoice(pageResponse.content[0]?.taxpayerPin)"
                              tooltip="ดูรายละเอียด">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr role="row" class="odd">
                  <td class="text-center">2</td>
                  <td class="text-center">3-2201-00259-22-1</td>
                  <td class="text-left">สมชาย บางวัว</td>
                  <td class="text-left">347 ซอยหลังวัดสุทธิ ถนนเจริญกรุง แขวงสาธร เขตยานนาวา จังหวัด กรุงเทพมหานคร 10120</td>
                  <td class="text-center">00000</td>
                  <td class="text-right">1</td>
                  <td class="text-right">773.39</td>
                  <td class="text-right">0.00</td>
                  <td class="text-right">0.00</td>
                  <td class="text-right">54.14</td>
                  <td class="text-right">827.53</td>
                  <td class="text-center">
                      <div class="btn-group">
                          <button type="button"class="btn btn-orange btn-sm btn-auto" 
                            (click)="showTaxInvoice(pageResponse.content[0]?.taxpayerPin)"
                            tooltip="ดูรายละเอียด">
                              <i class="fa fa-file-text-o" aria-hidden="true"></i>
                          </button>
                      </div>
                  </td>
                </tr>
                <tr role="row" class="odd">
                  <td class="text-center">3</td>
                  <td class="text-center">0-6044-47000-66-1</td>
                  <td class="text-left">บริษัท นครสวรรค์เจริญภัณฑ์  จก.</td>
                  <td class="text-left">11/3 ม.1 ต.นครสวรรค์ตก อ.เมืองนครสวรรค์ นครสวรรค์ 60000</td>
                  <td class="text-center">00000</td>
                  <td class="text-right">1</td>
                  <td class="text-right">14,060.48</td>
                  <td class="text-right">0.00</td>
                  <td class="text-right">0.00</td>
                  <td class="text-right">984.23</td>
                  <td class="text-right">15,044.71</td>
                  <td class="text-center">
                      <div class="btn-group">
                          <button type="button"class="btn btn-orange btn-sm btn-auto" 
                            (click)="showTaxInvoice(pageResponse.content[0]?.taxpayerPin)"
                            tooltip="ดูรายละเอียด">
                              <i class="fa fa-file-text-o" aria-hidden="true"></i>
                          </button>
                      </div>
                  </td>
                </tr>
                <tr role="row" class="odd">
                  <td class="text-center">4</td>
                  <td class="text-center">1-1045-99001-20-1</td>
                  <td class="text-left">บริษัท สินค้าดี จำกัด</td>
                  <td class="text-left">65/1  ถนนพระราม 3 แขวงช่องนนทรี เขตยานนาวา จังหวัดกรุงเทพมหานคร 10120</td>
                  <td class="text-center">00000</td>
                  <td class="text-right">1</td>
                  <td class="text-right">48,750.00</td>
                  <td class="text-right">0.00</td>
                  <td class="text-right">0.00</td>
                  <td class="text-right">3,412.50</td>
                  <td class="text-right">52,162.50</td>
                  <td class="text-center">
                      <div class="btn-group">
                          <button type="button"class="btn btn-orange btn-sm btn-auto" 
                            (click)="showTaxInvoice(pageResponse.content[0]?.taxpayerPin)"
                            tooltip="ดูรายละเอียด">
                              <i class="fa fa-file-text-o" aria-hidden="true"></i>
                          </button>
                      </div>
                  </td>
                </tr>
            </tbody>
        </table>
        <div class="row text-right">
            <div class="col-6 col-sm-1">
                รายการ
            </div>
            <div class="col-6 col-sm-1">
                <select class="form-control" [value]="10">
                    <option [value]="10">10</option>
                    <option [value]="25">25</option>
                    <option [value]="50">50</option>
                </select>
            </div>
            <div class="col-12 col-sm-5 offset-sm-5 d-flex">
                <div class="ml-auto">
                    <pagination [totalItems]="2" [itemsPerPage]="10" [maxSize]="5"
                        previousText="ย้อนกลับ" nextText="ถัดไป"></pagination>
                </div>
            </div>
        </div>
    </div>
  </div>

</section>