<form [formGroup]="certificateInfoFormGroup">
  <div class="card mb-4">
    <div class="card-header ">
      <div class="justify-content-left">
        <h4>รายละเอียดใบรับรองอิเล็กทรอนิกส์</h4>
      </div>
    </div>
    <div class="card-body">
      <!-- row 1 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="reqId"> เลขที่คำขอ: </label>
        </div>
        <div class="col-12 col-sm-3">
          <input id="reqId" type="text" class="form-control" formControlName="reqId">
        </div>
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="createdDate"> วันที่สร้างคำขอ: </label>
        </div>
        <div class="col-12 col-sm-3">
          <input id="createdDate" type="text" class="form-control" formControlName="createdDateStr">
        </div>
      </div>
      <!-- row 2 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="requestTypeId"> ประเภทคำขอ: </label>
        </div>
        <div class="col-12 col-sm-5">
          <select class="form-control" id="requestTypeId" formControlName="requestTypeId" >
            <option value="0">โปรดเลือก</option>
            <option *ngFor="let type of requestTypeDropdown" [ngValue]="type.id"> {{type.name}} </option>
          </select>
        </div>
      </div>
      <!-- row 3 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="userTypeId"> ประเภทการให้บริการ: </label>
        </div>
        <div class="col-12 col-sm-5">
          <select class="form-control" id="userTypeId" formControlName="userTypeId" >
            <option value="0">โปรดเลือก</option>
            <option *ngFor="let type of userTypeDropdown" [ngValue]="type.id">{{type.name}}</option>
          </select>
        </div>
      </div>
      <!-- row 4 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="templateTypeId"> รูปแบบ Template: </label>
        </div>
        <div class="col-12 col-sm-5">
          <select class="form-control" id="templateTypeId" formControlName="templateTypeId" (change)="changeTemplate($event)">
            <option value="">โปรดเลือก</option>
            <option *ngFor="let type of templateTypeDropdown" [ngValue]="type.id"> {{type.name}} </option>
          </select>
          <div *ngIf="isInvalidAndTouched(templateTypeIdControl)" class="red error-msg">
            <div *ngIf="templateTypeIdControl.errors.required"> กรุณาระบุรูปแบบ Template </div>
          </div>
        </div>
      </div>
      <!-- row 5 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="lifetime"> อายุการใช้งาน: </label>
        </div>
        <div class="col-12 col-sm-5">
          <input id="lifetime" type="text" class="form-control" formControlName="lifetime">
        </div>
      </div>
      <!-- row 6 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="deviceTypeId"> อุปกรณ์ที่จัดเก็บใบรับรอง: </label>
        </div>
        <div class="col-12 col-sm-5">
          <select class="form-control" id="deviceTypeId" formControlName="deviceTypeId" >
            <option value="">โปรดเลือก</option>
            <option *ngFor="let type of deviceTypeDropdown" [ngValue]="type.id">{{type.name}}</option>
          </select>
          <div *ngIf="isInvalidAndTouched(deviceTypeIdControl)" class="red error-msg">
            <div *ngIf="deviceTypeIdControl.errors.required"> กรุณาระบุอุปกรณ์ที่จัดเก็บใบรับรอง </div>
          </div>
        </div>
      </div>
      <!-- row 7 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="objectiveCode"> วัตถุประสงค์การใช้งาน: </label>
        </div>
        <div class="col-12 col-sm-5">
          <select class="form-control" id="objectiveCode" formControlName="objectiveCode" >
            <option value="">โปรดเลือก</option>
            <option *ngFor="let type of objectiveDropdown" [ngValue]="type.name">{{type.value}}</option>
          </select>
          <div *ngIf="isInvalidAndTouched(objectiveCodeControl)" class="red error-msg">
            <div *ngIf="objectiveCodeControl.errors.required"> กรุณาระบุวัตถุประสงค์การใช้งาน </div>
          </div>
        </div>
      </div>
      <!-- row 8 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="pinCode"> PIN CODE: </label>
        </div>
        <div class="col-12 col-sm-5">
          <input id="pinCode" type="password" class="form-control" formControlName="pinCode" maxlength="6" autocomplete="new-password">
          <div *ngIf="isInvalidAndTouched(pinCodeControl)" class="red error-msg">
            <div *ngIf="pinCodeControl.errors.required"> กรุณาระบุพิน </div>
            <div *ngIf="pinCodeControl.errors.minlength"> กรุณาระบุพินอย่างน้อย 6 หลัก </div>
          </div>
        </div>
      </div>
      <!-- row 9 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="confirmPinCode"> ยืนยัน PIN CODE: </label>
        </div>
        <div class="col-12 col-sm-5">
          <input id="confirmPinCode" type="password" class="form-control" formControlName="confirmPinCode" maxlength="6">
          <div *ngIf="isInvalidAndTouched(confirmPinCodeControl)" class="red error-msg">
            <div *ngIf="confirmPinCodeControl.errors.required"> กรุณายืนยันพิน </div>
            <div *ngIf="confirmPinCodeControl.errors.minlength"> กรุณาระบุรหัสยืนยันพินอย่างน้อย 6 หลัก </div>
            <div *ngIf="confirmPinCodeControl.errors.mustMatch"> ท่านระบุรหัสพินไม่ตรงกัน </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
