<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Edit Organization Details</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group">
      <!-- goBack() methos to back to previous component -->
      <button class="btn btn-sm btn-outline-secondary" (click)="goBack()">Go Back</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="pricing-header form-block mx-auto">
      <!-- Organization's Edit Form -->
      <form [formGroup]="organizationForm" (ngSubmit)="updateOrg()" novalidate>
        <div class="row">
          <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="row">
              <div class="col-md-12 mb-3">
                <label>Organization code</label>
                <input type="text" formControlName="orgCode" class="form-control" required>
                <p *ngIf="orgCode.touched && orgCode.invalid" class="error"><sup>*</sup>Please enter organization code</p>
              </div>
              <div class="col-md-12 mb-3">
                <label>Organization name</label>
                <input type="text" formControlName="orgName" class="form-control">
                <p *ngIf="orgName.touched && orgName.invalid" class="error"><sup>*</sup>Please enter organization name</p>
              </div>
            </div>

            <div class="row">
              <div formGroupName="organizationType" class="col-md-12 mb-3">
                <label>Organization Level</label>
                <select class="form-control" id="orgType" formControlName="organizationTypeId">
                  <option value="0">โปรดเลือก</option>
                  <option *ngFor="let orgType of organizationTypeList" [value]="orgType.organizationTypeId">{{orgType.organizationTypeName}}</option>
                </select>
              </div>

              <div formGroupName="status" class="col-md-12 mb-3">
                <label>Status</label>
                <select class="form-control" id="statusId" formControlName="statusCode">
                  <option value="0">โปรดเลือก</option>
                  <option *ngFor="let statusType of statusTypeList" [value]="statusType.statusCode">{{statusType.statusThDesc}}</option>
                </select>
              </div>
            </div>

            <div class="form-group text-right">
              <button type="submit" class="btn btn-success btn-block" [disabled]="!organizationForm.valid">Update
                Organization</button>
            </div>
          </div>
        </div>
      </form><!-- Organization's Edit Form ends-->

    </div>
  </div>
</div>