<section *ngIf="taxRequestModel">
  <div class="header-title mb-4">
    <h1><strong>รายละเอียดคำร้องขอคืนเงินภาษีอากร ค.10</strong>
      <small class="pull-right"><a routerLink="/home" class="active">หน้าหลัก</a> /
        รายละเอียดคำร้องขอคืนเงินภาษีอากร ค.10
      </small>
    </h1>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <div class="justify-content-left">
        <h4>ข้อมูลผู้ขอคืนเงินภาษีอากร</h4>
      </div>
    </div>
    <div class="card-body">
      <app-tax-request-agent-detail *ngIf="taxRequestModel"
                                    [taxRequestModel]="taxRequestModel"></app-tax-request-agent-detail>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <div class="justify-content-left">
        <h4>ข้อมูลขอคืนเงินภาษีอากร</h4>
      </div>
    </div>
    <div class="card-body">
      <app-tax-amount-request-detail *ngIf="taxRequestModel"
                                     [taxRequestModel]="taxRequestModel"></app-tax-amount-request-detail>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <div class="justify-content-left">
        <h4>ตรวจสอบเอกสารแนบ</h4>
      </div>
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th class="text-center" style="width: 100px">ลำดับ</th>
                <th class="text-center">ชื่อเอกสาร</th>
                <th class="text-center">ไฟล์เอกสารแนบ</th>
                <th class="text-center">เอกสารถูกต้อง</th>
              </tr>
              </thead>
              <tbody *ngIf="taxRequestModel.taxReqAttachmentList.length != 0">
              <tr *ngFor="let item of taxRequestModel.taxReqAttachmentList; let index = index">
                <td class="text-center">{{index + 1}}</td>
                <td class="text-center">{{item.fileName}}</td>
                <td class="text-center">
                  <a [tooltip]="'ดาวน์โหลดเอกสาร' + item.fileName"
                     [title]="'ดาวน์โหลดเอกสาร' + item.fileName"
                     target="_blank" [href]="taxReqAttachmentApi + 'download-tax-req-attachment/' + item.hashTaxReqAttachmentId">
                    <i class="fa fa-file"></i>
                  </a>
                </td>
                <td class="text-center">
                  <input type="checkbox">
                </td>
              </tr>
              </tbody>
              <tbody *ngIf="taxRequestModel.taxReqAttachmentList.length == 0">
              <tr>
                <td class="text-center" colspan="4">
                  ไม่พบข้อมูล
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-3 text-left text-sm-right">
            <p>ความถูกต้องเอกสารแนบ</p>
          </div>
          <div class="col-12 col-sm-6">
            <label for="corrected-doc" class="mr-2"><input id="corrected-doc" type="radio" [value]="true"
                                                           [(ngModel)]="approveResult"> เอกสารแนบถูกต้อง </label>
            <label for="incorrected-doc" class="mr-2"><input id="incorrected-doc" type="radio" [value]="false"
                                                             [(ngModel)]="approveResult"> เอกสารแนบไม่ถูกต้อง </label>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-3 text-left text-sm-right">
            <label for="remarkDocument">หมายเหตุ <span class="red">*</span> :</label>
          </div>
          <div class="col-12 col-sm-6">
            <textarea id="remarkDocument" class="form-control" *ngIf="!approveResult"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <div class="justify-content-left">
        <h4>หน่วยงานที่รับผิดชอบ</h4>
      </div>
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <app-authority-department-form [setTransferBranch]="true"
                                       [taxRequestTransferBranchModelList]="taxRequestModel.taxRequestTransferBranchDto"
                                       (transferBranchChangeEvt)="this.transferBranchChange = $event;"></app-authority-department-form>
        <div class="row">
          <div class="col-12 text-center">
            <button class="btn btn-primary" (click)="save()"><i class="fa fa-save"></i> บันทึก</button>
            <button class="btn btn-danger" routerLink="/pps/request/tax-request/tax-refund-request-list"><i
              class="fa fa-close"></i> ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
