<div class="page-header">
  <h4 style="color: dodgerblue"><strong>2. ตรวจสอบการลงทะเบียนขอใช้งานใบรับรองอิเล็กทรอนิกส์</strong></h4>
</div>
  <app-user-request-info-section [userRequestInfoInput]="userRequestMainComponent.userCertRequestForm.certificateUserRequestInfo" [isView]="true"></app-user-request-info-section>
  <app-user-holder-info-section [userHolderInfoInput]="userRequestMainComponent.userCertRequestForm.certificateUserHolderInfo" #userHolderInfoSectionComponent
                                [isView]="true"></app-user-holder-info-section>
  <app-certificate-info-section [certificateInfoInput]="userRequestMainComponent.userCertRequestForm.certificateInfo" [isView]="true"></app-certificate-info-section>
  <app-user-request-attachment-table-view-section *ngIf="templateTypeId === 4"
                              [attachmentDtoInput]="userRequestMainComponent.userCertRequestForm.userAttachmentDtoList.attachments">
  </app-user-request-attachment-table-view-section>
