<div class="content">
  <div class="header-title">
    <h1><strong>รายงานข้อมูลอ้างอิงที่ไม่พบในระบบงานอื่นๆ</strong>
      <small class="pull-right"><a [routerLink]="['/']" class="active">หน้าหลัก</a> /
        <a [routerLink]="['/etl/report-improve']" class="active">รายงานผลการปรับปรุงข้อมูลจากระบบงานอื่นๆ</a> /
        รายงานข้อมูลอ้างอิงที่ไม่พบในระบบงานอื่นๆ
      </small>
    </h1>

  </div>
  <div class="card border-light mb-4">
    <div class="card-header">
      <h4 class="panel-title">
        <i class="header-title fa fa-file-text"></i> ผลการค้นหา
      </h4>
    </div>
    <div class="card-body">
      <!--          <div style="padding-bottom: 10px">-->
      <!--            แสดงหน้าละ-->
      <!--            <select id="pageSize" [ngModel]="pageSize" (ngModelChange)="getPageSize($event)">-->
      <!--              <option value="5">5</option>-->
      <!--              <option value="10">10</option>-->
      <!--              <option value="15">15</option>-->
      <!--            </select>-->
      <!--            รายการ-->
      <!--          </div>-->
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>ผู้นำส่ง</label>
          <input formControlName="fiCode"
                 disabled
                 [value]="this.financialMap.get(this.edcTaxIdNotFoundList[0].fiCode)"
                 class="form-control" id="fiCode">
        </div>
        <div class="form-group col-md-4">
          <label>ระบบงานอื่นๆ ที่ไม่พบ</label>
          <input formControlName="trxFlag"
                 disabled
                 [value]="trxFlagList[this.edcTaxIdNotFoundList[0].trxFlag]"
                 class="form-control" id="trxFlag">
        </div>
        <div class="form-group col-md-4">
          <label>ผู้จ่าย/ผู้รับเงิน</label>
          <input formControlName="taxFlag"
                 disabled
                 [value]="taxFlagList[this.edcTaxIdNotFoundList[0].taxFlag]"
                 class="form-control" id="taxFlag">
        </div>
      </div>
      <table class="table table-striped table-bordered table-sm mt-3" cellspacing="0" width="100%"
             style="font-size: 12px;">
        <thead>
        <tr>
          <th scope="col" class="text-center" style="width: 10%">ลำดับ</th>
          <!--                    <th scope="col" class="text-center" style="width: 20%">ชื่อผู้นำส่ง</th>-->
          <th scope="col" class="text-center" style="width: 30%">เลขประจำตัวผู้เสียภาษีอากร</th>
          <th scope="col" class="text-center" style="width: 30%">เลขที่อ้างอิง</th>
          <th scope="col" class="text-center" style="width: 30%">ชื่อไฟล์</th>
<!--          <th scope="col" class="text-center" style="width: 15%">ระบบงานอื่นๆ ที่ไม่พบ</th>-->
<!--          <th scope="col" class="text-center" style="width: 15%">ผู้จ่าย/ผู้รับเงิน</th>-->

        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let el of edcTaxIdNotFoundList | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: page, totalItems: total }; let i=index">
          <th scope="row" class="text-center">{{ (this.page - 1) * this.pageSize + i + 1 }}</th>
          <!--                    <td class="text-left">{{this.financialMap.get(el.fiCode)}}</td>-->
          <td class="text-left">{{el.taxId}}</td>
          <td class="text-left">{{el.referenceNo || '-'}}</td>

          <td class="text-left">{{el.fileName || '-'}}</td>
<!--          <td class="text-left">{{trxFlagList[el.trxFlag] || '-'}}</td>-->

<!--          <td class="text-center">{{taxFlagList[el.taxFlag] || '-'}}</td>-->


        </tr>
        <tr *ngIf="edcTaxIdNotFoundList.length === 0">
          <td colspan="14" class="text-center"> ไม่พบข้อมูล</td>
        </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
            แสดงผล
            {{edcTaxIdNotFoundList.length}} จาก
            {{total}} รายการ
          </div>
        </div>
        <div class="col-sm-7 text-right">

          <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <table style="margin:auto;">
    <tr>
      <td>
        <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5"
                (click)="onBack()" id=back><i
          class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
        </button>
      </td>
    </tr>
  </table>
</div>

