<div class="content">
  <div class="header-title mb-4">
    <h1><strong>รายงานความผิดพลาดแต่ละรายการ</strong>
      <small class="pull-right"><a [routerLink]="['/']" class="active">หน้าหลัก</a> / รายงานความผิดพลาดแต่ละรายการ
      </small>
    </h1>

  </div>
  <div class="card border-light mb-4">
    <div class="card-header">
      <h4 class="panel-title">
        <i class="header-title fa fa-file-text"></i> ค้นหา
      </h4>
    </div>
    <div class="card-body">

      <form [formGroup]="reportComplexSearchForm" (ngSubmit)="onSubmit()">
        <div formGroupName="reportComplexSearchC">
          <div class="form-row">
            <div class="form-group col-lg-6">
              <label for="fiNameTh">ผู้นำส่ง</label>
              <input formControlName="fiNameTh"
                     [typeahead]="financialList"
                     [typeaheadMinLength]="0"
                     (typeaheadOnSelect)="onSelectFi($event)"
                     placeholder="เลือกผู้นำส่ง"
                     typeaheadOptionField="fiNameTh"
                     class="form-control" id="fiNameTh">
            </div>
            <div class="form-group col-lg-6">
              <label for="dataTypeCode">ประเภทข้อมูล</label>

              <select name="dataTypeCode" id="dataTypeCode" class="form-control full"
                      formControlName="dataTypeCode">
                <option [value]="null" [selected]="true">เลือกทั้งหมด</option>
                <option *ngFor="let el of dataTypeList"
                        [value]="el.dataTypeCode">{{el.dataTypeDesTh}}</option>
              </select>
            </div>

            <div class="form-group col-lg-8">
              <label for="dateRange">ช่วงวันที่นำส่งข้อมูล</label>
              <input type="text" class="form-control full"
                     formControlName="dateRange"
                     [minDate]="minDate"
                     placeholder="เลือกช่วงวันที่นำส่งข้อมูล"
                     id="dateRange" bsDaterangepicker>
            </div>

            <div class="form-group col-lg-2 reset-button">
              <button type="submit" class="btn btn-success margin-top-10" id="list-search"><i
                class="fa fa-search"></i> ค้นหา
              </button>
            </div>
            <div class="form-group col-lg-2 reset-button">
              <button type="button" class="btn btn-warning margin-top-10" (click)="resetForm()" id="clear"><i
                class="fa fa-repeat"></i> ล้างค่า
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card border-light mb-4">
    <div class="card-header">
      <h4 class="panel-title">
        <i class="header-title fa fa-file-text"></i> ผลการค้นหา
      </h4>
    </div>
    <div class="card-body">
      <!--        <div class="panel-body">-->
      <!--          <div style="padding-bottom: 10px">-->
      <!--            แสดงหน้าละ-->
      <!--            <select id="pageSize" [ngModel]="pageSize" (ngModelChange)="getPageSize($event)">-->
      <!--              <option value="5">5</option>-->
      <!--              <option value="10">10</option>-->
      <!--              <option value="15">15</option>-->
      <!--            </select>-->
      <!--            รายการ-->
      <!--          </div>-->
      <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%"
             style="font-size: 12px;">
        <thead>
        <tr>
          <th scope="col" class="text-center" style="width: 5%">ลำดับ</th>
          <th scope="col" class="text-center" style="width: 30%">ชื่อผู้นำส่ง</th>
          <th scope="col" class="text-center" style="width: 20%">วัน/เวลาที่ส่งข้อมูล<br>(Receive Date)</th>
          <th scope="col" class="text-center" style="width: 35%">ชื่อไฟล์</th>
          <th scope="col" class="text-center" style="width: 10%">รายละเอียด</th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let el of edcReportComplexValidationList | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: page, totalItems: total }; let i=index">
          <th scope="row" class="text-center">{{ (this.page - 1) * this.pageSize + i + 1 }}</th>
          <td class="text-left">{{this.financialMap.get(el.fiCode)}}</td>
          <td class="text-center">{{(el.edcDataProcessingEntity.transferReceiveDate | thaidate: 'DD/MM/YYYY HH:mm น.') || '-'}}</td>
          <td class="text-left">{{el.fileName || '-'}}</td>
          <td class="text-center">
            <div class="btn-group">
              <a class="btn btn-orange" (click)="onView(el)">
                <i class="fa fa-eye" aria-hidden="true" title="ดูข้อมูล"></i>
              </a>
            </div>
          </td>

        </tr>
        <tr *ngIf="edcReportComplexValidationList.length === 0">
          <td colspan="14" class="text-center"> ไม่พบข้อมูล</td>
        </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
            แสดงผล
            {{edcReportComplexValidationList.length}} จาก
            {{total}} รายการ
          </div>
        </div>
        <div class="col-sm-7 text-right">

          <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

