<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>ข้อมูลภาษีขาย</h4>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-center" style="font-weight:bold">ข้อมูลตั้งแต่ กันยายน 2559 ถึง ธันวาคม 2559</label>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> พิมพ์</a>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขประจำตัวผู้เสียภาษีอากร : 0-5755-26009-09-9</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขที่สาขา : 000000</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อผู้ประกอบการ : บริษัท ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ จำกัด</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อสถานประกอบการ : ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ สำนักงานใหญ่</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ที่อยู่ : เลขที่ 3/34  แขวงห้วยขวาง เขตห้วยขวาง จังหวัด กรุงเทพมหานคร 10310</label>
          </div>

          <div class="form-group col-lg-2 pr-0">
            <label for="desc" style="font-weight:bold">มุมมองการแสดงผลข้อมูล: </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label for="status-a" class="form-check-label" style="font-weight:bold">
              <input class="form-check-input" type="radio" name="status" id="status-a" value="ALL"
                formControlName="status"> ข้อมูลทั้งหมด
            </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label for="status-i" class="form-check-label" style="font-weight:bold">
              <input class="form-check-input" type="radio" name="status" id="status-i" value="receive"
                formControlName="status"> ข้อมูลใบกำกับภาษี
            </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label for="status-i" class="form-check-label" style="font-weight:bold">
              <input class="form-check-input" type="radio" name="status" id="status-i" value="cancel"
                formControlName="status"> ข้อมูลยกเลิก
            </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label for="status-i" class="form-check-label" style="font-weight:bold">
              <input class="form-check-input" type="radio" name="status" id="status-i" value="add"
                formControlName="status" checked="checked"> ข้อมูลใบเพิ่มหนี้
            </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label for="status-i" class="form-check-label" style="font-weight:bold">
              <input class="form-check-input" type="radio" name="status" id="status-i" value="subtract"
                formControlName="status"> ข้อมูลใบลดหนี้
            </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label class="pull-right" style="font-weight:bold">เลขที่ใบกำกับภาษี</label>
          </div>

          <div class="form-group col-lg-2 pr-0">
            <input type="text" value="" id="branchNo" class="form-control" name="receiveNo">
          </div>

          <div class="form-group col-lg-1 pr-0">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> ค้นหา</a>
          </div>

          <div class="form-group col-lg-1 pr-0">
          </div>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th>ลำดับ<br>ที่<br>(1)</th>
              <th>วัน เดือน ปี<br>ที่ออก<br>ใบกำกับภาษี<br>(2)</th>
              <th>เลขที่ใบกำกับภาษี<br>(3)</th>
              <th>ชื่อผู้ซื้อสินค้า/ผู้รับบริการ<br>(4)</th>
              <th>เลขประจำตัวผู้เสียภาษี<br>อากรของผู้ซื้อ<br>สินค้า/ผู้รับบริการ<br>(5)</th>
              <th>สาขา<br>(6)</th>
              <th>ยอดขายที่ต้อง<br>เสียภาษี<br>VAT 7%<br>(7)</th>
              <th>ยอดขายที่ต้อง<br>เสียภาษี<br>VAT 0%<br>(8)</th>
              <th>ยอดขายที่<br>ยกเว้น VAT<br>(9)</th>
              <th>ภาษีขาย<br>(10)</th>
              <th>รวมมูลค้าสินค้า<br>และบริการ<br>(11)</th>
              <th>ประเภทเอกสาร<br>(12)</th>
              <th>อ้างอิงใบกำกับภาษี<br>(13)</th>
              <th>หมายเหตุ<br>(14)</th>
              <th>Signature Date<br>(15)</th>
              <th>แหล่งข้อมูล<br>(16)</th>
              <th>ดูข้อมูล<br>(17)</th>
            </tr>
          </thead>
          <tbody>
            
            <tr>
              <td align="center">1</td>
              <td align="center">4/10/2559</td>
              <td align="center">RDTIV0575526000058005</td>
              <td align="left">บริษัท สินค้าหลากหลาย จำกัด</td>
              <td align="center">1-1045-99001-90-2</td>
              <td align="center">00000</td>
              <td align="right">26,600.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">1,862.00</td>
              <td align="right">28,462.00</td>
              <td align="center">ใบเสร็จรับเงิน/ใบกำกับภาษี</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center">16/09/2559 11.25</td>
              <td align="center">1</td>
              <td>
                <a href="trs/trsp020117" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center">2</td>
              <td align="center">16/10/2559</td>
              <td align="center">RDDCN0575526000058007</td>
              <td align="left">บริษัท สินค้าหลากหลาย จำกัด</td>
              <td align="center">1-1045-99001-90-2</td>
              <td align="center">00000</td>
              <td align="right">5,100.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">357.00</td>
              <td align="right">5,457.00</td>
              <td align="center">ใบเพิ่มหนี้</td>
              <td align="center"><a href="trs/trsp020104">RDTIV0575526000058005 <br>4/10/2559</a></td>
              <td align="center">คำนวณราคาสินค้าผิดพลาด<br>ต่ำกว่าที่เป็นจริง</td>
              <td align="center">16/10/2559 11.00</td>
              <td align="center">1</td>
              <td>
                <a href="trs/trsp020119" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center">3</td>
              <td align="center">7/12/2559</td>
              <td align="center">RDTIV0575526000058010</td>
              <td align="left">บริษัท จริงใจ จำกัด </td>
              <td align="center">0-1045-99007-77-2</td>
              <td align="center">00000</td>
              <td align="right">10,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">700.00</td>
              <td align="right">10,700.00</td>
              <td align="center">ใบกำกับภาษี</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center">7/12/2559 11.25</td>
              <td align="center">1</td>
              <td>
                <a href="trs/trsp020122" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center">4</td>
              <td align="center">10/12/2559</td>
              <td align="center">RDDCN0575526000058011</td>
              <td align="left">บริษัท จริงใจ จำกัด </td>
              <td align="center">0-1045-99007-77-2</td>
              <td align="center">00000</td>
              <td align="right">1,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">70.00</td>
              <td align="right">1,070.00</td>
              <td align="center">ใบเพิ่มหนี้</td>
              <td align="center"><a href="trs/trsp020106">RDTIV0575526000058010 <br>7/12/2559</a></td>
              <td align="center">คำนวณราคาสินค้าผิดพลาด<br>ต่ำกว่าที่เป็นจริง</td>
              <td align="center">10/12/2559 11.00</td>
              <td align="center">1</td>
              <td>
                <a href="trs/trsp020123" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="right"  style="font-weight:bold"colspan="6">รวม</td>
              <td align="right">42,700.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">2,989.00</td>
              <td align="right">45,689.00</td>
              <td align="center" colspan="6"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left">หมายเหตุ</label>
          </div>
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left">แหล่งข้อมูล</label>
          </div>
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-left">1 = e-Tax Invoice & e-Receipt</label>
          </div>
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left"></label>
          </div>
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left"></label>
          </div>
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-left">2 = e-Tax Invoice By Email</label>
          </div>
        </div>
      </div>
  </div>
</div>
