<div class="header-title">
  <h1><strong>จัดการเอกสารแนบสำหรับเอกสารคำร้องขอคืนเงินภาษีอากร</strong>
    <small class="pull-right"><a href="#" class="active">หน้าหลัก</a> /
      จัดการเอกสารแนบสำหรับเอกสารคำร้องขอคืนเงินภาษีอากร
    </small>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" >
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false">
      <div class="panel-heading">
        <div class="panel-title">
          <h4><i class="glyphicon glyphicon-search"></i> ค้นหาผู้ใช้งาน</h4>
        </div>
      </div>
      <div class="panel-body">
        <form [formGroup]="searchCondition" (ngSubmit)="getData()">
        <div class="row">
          <div class="form-group col-lg-2">
            <label class="pull-right">ประเภทภาษีอากร </label>
          </div>
          <div class="form-group col-lg-4">
            <select class="custom-select"  formControlName="taxTypeCode" id="taxTypeCode">
              <option value="">ทั้งหมด</option>
              <option *ngFor="let m of dropdownTaxTypeCode" [value]="m.taxTypeCode">
                {{m.taxTypeName}}</option>
            </select>
          </div>
          <div class="form-group col-lg-2">
            <label class="pull-right">ชื่อเอกสารแนบ</label>
          </div>
          <div class="form-group col-lg-4">
            <input type="text"  class="form-control" id="docRequestName" appIgnoreKey allowKey="thai&space" formControlName="docRequestName" placeholder="ชื่อเอกสารแนบ">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="form-group col-lg-2 reset-button">
            <button type="submit" class="btn btn-success margin-top-10">
              <i class="glyphicon glyphicon-search"></i> ค้นหา
            </button>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
              <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
            </button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable">
  <div class="panel panel-bd lobidisable lobipanel" >
    <div class="panel-heading">
      <div class="panel-title">
        <h4><i class="fa fa-list"></i>  ผลการค้นหา</h4>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr role="row">
                  <th class="text-center" style="width: 20px">#</th>
                  <th class="text-center" style="width: 100px">ชื่อเอกสารแนบ</th>
                  <th class="text-center" style="width: 50px"></th>
                </tr>
              </thead>
              <tbody>
                      <tr *ngFor="let item of documentRequest; index as i">
                        <th class="text-center">{{i+1}}</th>
                        <td>{{item.docRequestName}}</td>
                      <td class="text-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-orange btn-sm btn-auto" tooltip="แก้ไข"
                            (click)="editDocReq(item.docRequestCode)">
                            <i class="fa fa-pencil-square-o"></i>
                          </button>
                        </div>
                        &nbsp;
                        <div class="btn-group">
                          <button type="button" class="btn btn-orange btn-sm btn-auto" style="color: rgb(255, 0, 0)" tooltip="ยกเลิก"
                            (click)="deleteDocReq(item.docRequestCode)">
                            <i class="fa fa-trash"></i>
                          </button>
                        </div>
                      </td>
                      </tr>
                      </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<app-float-button ></app-float-button>