<nz-breadcrumb class="breadcrumb-text">
    <nz-breadcrumb-item>
        <a [routerLink]="[home.url]">{{ home.label }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item *ngFor="let item of menuItems">
        <a [routerLink]="[item.url]">{{ item.label }}</a>
    </nz-breadcrumb-item>
</nz-breadcrumb>