<div class="header-title mb-4">
  <h1><strong>จัดการสถานะผู้ใช้งานประเภทผู้ส่งข้อมูล</strong>
    <small class="pull-right"><a routerLink="/home" class="active">หน้าหลัก</a> / จัดการสถานะผู้ใช้งานประเภทผู้ส่งข้อมูล
    </small>
  </h1>
</div>
<div class="card mb-4">
  <div class="card-header ">
    <div class="justify-content-left">
      <h4><i class="fa fa-file-text"></i> ค้นหาผู้ใช้งาน</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-sm-3">
        <label for="registeredCode">เลขที่ใบคำขอ</label>
        <input id="registeredCode" class="form-control" [(ngModel)]="pageRequest.registeredCode" maxlength="100"
               (keydown)="paginationWhenPressEnter($event)">
      </div>
      <div class="col-12 col-sm-3">
        <label for="name">ชื่อผู้เสียภาษีอากร</label>
        <input id="name" class="form-control" [(ngModel)]="pageRequest.name" maxlength="100"
               (keydown)="paginationWhenPressEnter($event)">
      </div>
      <div class="col-12 col-sm-3">
        <label for="nId">เลขประจำตัวผู้เสียภาษีอากร</label>
        <input id="nId" class="form-control" [(ngModel)]="pageRequest.nId" maxlength="13" appNumberOnly
               (keydown)="paginationWhenPressEnter($event)">
      </div>
      <div class="col-12 col-sm-3">
        <label for="registeredStatus">สถานะ</label>
        <input class="form-control" type="text" id="registeredStatus" list="registeredStatusList"
               [(ngModel)]="pageRequest.registeredStatus">
        <datalist id="registeredStatusList">
          <option value="REVIEWING_DOCUMENT">รอตรวจสอบเอกสาร</option>
          <option value="DOCUMENT_REJECTED">เอกสารไม่อนุมัติ</option>
          <option value="WAITING_TO_APPROVE">รออนุมัติ</option>
          <option value="APPROVED_AND_WAITING_IDENTITY">รอยืนยันตัวตน</option>
          <option value="APPROVED_AND_CONFIRM">อนุมัติและยืนยันตัวตน</option>
          <option value="DISABLED">ยกเลิกใช้งาน</option>
        </datalist>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <a type="button" class="btn btn-success margin-top-10 btn-auto" (click)="pagination()">
          <i class="fa fa-search"></i> ค้นหา
        </a>
        <a type="button" class="btn btn-warning margin-top-10 btn-auto"
           (click)="createNewPageRequest(); pagination();">
          <i class="fa fa-repeat" aria-hidden="true"></i> ล้างค่า
        </a>
      </div>
    </div>
  </div>

  <div class="card-header ">
    <div class="justify-content-left">
      <h4><i class="fa fa-file-text"></i> ผลการค้นหา</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="row table-responsive m-0">
      <table class="table table-striped">
        <caption>จำนวน {{page.content.length}} จาก {{page.totalElements}}</caption>
        <thead>
        <tr>
          <th style="flex: 0.1"></th>
          <th style="flex: 0.5" class="text-center">
            <a (click)="sort('registeredCode')" style="cursor: pointer" title="เรื่องลำดับข้อมูลตามเลขที่ใบคำขอ"
               tooltip="เรื่องลำดับข้อมูลตามเลขที่ใบคำขอ">
              เลขที่ใบคำขอ
              <ng-container *ngIf="pageRequest.sortFieldName === 'registeredCode'">
                <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </a>
          </th>
          <th style="flex: 0.5" class="text-center">
            <a (click)="sort('nId')" style="cursor: pointer" title="เรื่องลำดับข้อมูลตามเลขประจำตัวผู้เสียภาษีอากร"
               tooltip="เรื่องลำดับข้อมูลตามเลขประจำตัวผู้เสียภาษีอากร">
              เลขประจำตัวผู้เสียภาษีอากร
              <ng-container *ngIf="pageRequest.sortFieldName === 'nId'">
                <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </a>
          </th>
          <th style="flex: 0.5" class="text-center">
            <a (click)="sort('submitterPersonalNumber')" style="cursor: pointer" title="เรื่องลำดับข้อมูลตามเลขประจำตัวประชาชนผู้ยื่นคำขอ"
               tooltip="เรื่องลำดับข้อมูลตามเลขประจำตัวประชาชนผู้ยื่นคำขอ">
              เลขประจำตัวประชาชนผู้ยื่นคำขอ
              <ng-container *ngIf="pageRequest.sortFieldName === 'nId'">
                <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </a>
          </th>
          <th class="text-center">
            <a (click)="sort('companyName')" style="cursor: pointer" title="เรื่องลำดับข้อมูลตามชื่อผู้เสียภาษีอากร"
               tooltip="เรื่องลำดับข้อมูลตามชื่อผู้เสียภาษีอากร">
              ชื่อผู้เสียภาษีอากร
              <ng-container *ngIf="pageRequest.sortFieldName === 'companyName'">
                <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </a>
          </th>
          <th class="text-center">
            <a (click)="sort('createdDate')" style="cursor: pointer" title="เรื่องลำดับข้อมูลตามวันที่ลงทะเบียน"
               tooltip="เรื่องลำดับข้อมูลตามวันที่ลงทะเบียน">
              วันที่ลงทะเบียน
              <ng-container *ngIf="pageRequest.sortFieldName === 'createdDate'">
                <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </a>
          </th>
          <!-- <th style="flex: 0.5" class="text-center">
            <a (click)="sort('dataTypeIdList')" style="cursor: pointer" title="เรื่องลำดับข้อมูลตามประเภทข้อมูลที่นำส่ง"
               tooltip="เรื่องลำดับข้อมูลตามประเภทข้อมูลที่นำส่ง">ประเภทข้อมูลที่นำส่ง
              <ng-container *ngIf="pageRequest.sortFieldName === 'dataTypeIdList'">
                <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </a>
          </th> -->
          <th style="flex: 0.5" class="text-center">
            <a (click)="sort('registeredStatusName')" style="cursor: pointer" title="เรื่องลำดับข้อมูลตามสถานะ"
               tooltip="เรื่องลำดับข้อมูลตามสถานะ">สถานะ
              <ng-container *ngIf="pageRequest.sortFieldName === 'registeredStatusName'">
                <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </a>
          </th>
          <th style="flex: 0.05"></th>
          <th style="flex: 0.05"></th>
          <th style="flex: 0.05"></th>
          <th style="flex: 0.05"></th>
          <th style="flex: 0.05"></th>
        </tr>
        </thead>
        <tbody *ngIf="page.content.length != 0">
        <tr *ngFor="let item of page.content; let i = index">
          <td class="text-center">{{(pageRequest.page * pageRequest.pageSize) - pageRequest.pageSize + i + 1}}
          </td>
          <td class="text-center">{{item.registeredCode}}</td>
          <td class="text-center">{{item.nId}}</td>
          <td class="text-center">{{item.submitterPersonalNumber}}</td>
          <td class="text-center">{{item.companyName}}</td>
          <td class="text-center">{{item.createdDate | thaidate: 'DD/MM/YYYY'}}</td>
          <!-- <td class="text-center" [innerHTML]="item.innerHTMLDataTypeName"></td> -->
          <td class="text-center">{{item.registeredStatusName}}</td>
          <td class="text-center">
            <button class="btn btn-circle mr-1" type="button" title="ตรวจสอบเอกสาร" tooltip="ตรวจสอบเอกสาร"
                    [routerLink]="['../approve-document/' + item.hashUserId]"
                    *ngIf="item.registeredStatus === 'REVIEWING_DOCUMENT'"
                    [skipLocationChange]="true">
              <i class="fa fa-file" *ngIf="!item.reUploadDocument"></i>
              <i class="fa" *ngIf="item.reUploadDocument">
                <img src="assets/img/file-alert.png" style="width: 15px; height: 15px;" />
              </i>
            </button>
          </td>
          <td class="text-center">
            <button class="btn btn-circle mr-1" type="button" title="อนุมัติผู้ใช้งาน" tooltip="อนุมัติผู้ใช้งาน"
                    [routerLink]="['../approve/' + item.hashUserId]"
                    *ngIf="item.registeredStatus === 'WAITING_TO_APPROVE'"
                    [skipLocationChange]="true">
              <i class="fa fa-check-circle-o"></i>
            </button>
          </td>
          <td class="text-center">
            <button class="btn btn-circle mr-1" type="button" title="ส่งอีเมลยืนยันตัวตนสำเร็จ"
                    tooltip="ส่งอีเมลยืนยันตัวตนสำเร็จ"
                    (click)="resendSenderActivateSuccessEmail(item.hashUserId)"
                    *ngIf="item.registeredStatus == 'APPROVED_AND_CONFIRM'">
              <i class="fa fa-paper-plane"></i>
            </button>
            <button class="btn btn-circle mr-1" type="button" title="ส่งอีเมลล์ยืนยันตัวตน"
                    tooltip="ส่งอีเมลล์ยืนยันตัวตน"
                    (click)="resendActivationEmail(item.hashUserId)"
                    *ngIf="item.registeredStatus == 'APPROVED_AND_WAITING_IDENTITY'">
              <i class="fa fa-paper-plane"></i>
            </button>
            <button class="btn btn-circle mr-1" type="button" title="ส่งอีเมลอนุมัติเอกสารอีกครั้ง"
                    tooltip="ส่งอีเมลอนุมัติเอกสารอีกครั้ง"
                    (click)="resendApprovedDocument(item.hashUserId)"
                    *ngIf="item.registeredStatus == 'WAITING_TO_APPROVE'">
              <i class="fa fa-paper-plane"></i>
            </button>
            <button class="btn btn-circle mr-1" type="button" title="ส่งอีเมลปฎิเสธเอกสารอีกครั้ง"
                    tooltip="ส่งอีเมลปฎิเสธเอกสารอีกครั้ง"
                    (click)="resendRejectedDocument(item.hashUserId)"
                    *ngIf="item.registeredStatus == 'DOCUMENT_REJECTED'">
              <i class="fa fa-paper-plane"></i>
            </button>
            <button class="btn btn-circle mr-1" type="button" title="ส่งอีเมลไม่อนุมัติผู้ใช้งาน" tooltip="ส่งอีเมลไม่อนุมัติผู้ใช้งาน"
                    *ngIf="item.registeredStatus === 'DISAPPROVED'"
                    (click)="resendDisapproveUserEmail(item.hashUserId)">
              <i class="fa fa-paper-plane"></i>
            </button>
          </td>
          <td class="text-center">
            <button class="btn btn-circle mr-1" type="button" title="ยกเลิกผู้ใช้งาน" tooltip="ยกเลิกผู้ใช้งาน"
                    (click)="confirmDisableUser(item.hashUserId, item.companyName)"
                    *ngIf="item.registeredStatus !== 'DISABLED' && item.registeredStatus !== 'DISAPPROVED'">
              <i class="fa fa-stop"></i>
            </button>
          </td>
          <td class="text-center">
            <button class="btn btn-circle mr-1" type="button" title="ดูข้อมูลผู้ใช้งาน" tooltip="ดูข้อมูลผู้ใช้งาน"
                    [routerLink]="['../view/' + item.hashUserId]"
                    [skipLocationChange]="true">
              <i class="fa fa-info-circle"></i>
            </button>
          </td>
        </tr>
        </tbody>
        <tbody *ngIf="page.content.length == 0">
        <tr>
          <th class="text-center" colspan="13">ไม่พบข้อมูล</th>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row text-right">
      <div class="col-12 col-sm-2 offset-sm-5">
        รายการ
      </div>
      <div class="col-12 col-sm-1">
        <select class="form-control" [(ngModel)]="pageRequest.pageSize" (change)="pagination()">
          <option [value]="10">10</option>
          <option [value]="25">25</option>
          <option [value]="50">50</option>
        </select>
      </div>
      <div class="col-12 col-sm-4 d-flex">
        <div class="ml-auto">
          <pagination [totalItems]="page.totalElements" [itemsPerPage]="pageRequest.pageSize"
                      [(ngModel)]="pageRequest.page" [maxSize]="5" previousText="ย้อนกลับ" nextText="ถัดไป"
                      (pageChanged)="pageRequest.page = $event.page;pagination()"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
