<section class="content">
  <div class="header-title">
    <h1><strong> ผลการตรวจสอบรายได้จากฐานข้อมูลของกรมสรรพากร</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a>
        /GWS: Website
        /ผลการตรวจสอบรายได้จากฐานข้อมูลของกรมสรรพากร</small></h1>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading">
          <div class="panel-title">
            <h3><i class="fa fa-file-text"></i> ค้นหาผลการตรวจสอบรายได้จากฐานข้อมูลของกรมสรรพากร</h3>
          </div>
        </div>
        <br />
        <div class="panel-body no-padding"></div>

        <div class="panel-body">
          <form role="form"  [formGroup]="searchCondition" (ngSubmit)="getData()">
            <div class="row form-group">
              <div class="ccol-12 col-sm-5 text-sm-right text-left">
                <label>ปีภาษี : <span class="red">*</span></label>
              </div>

              <div class="col-12 col-sm-2 text-left">
                <select class="custom-select form-control"  formControlName="taxYear"
                  [ngClass]="{'border-danger': taxYearControl.invalid && taxYearControl.touched}">
                  <option value="">โปรดระบุ</option>
                  <option *ngFor="let item of taxYearList" [value]="item">
                    {{item}}
                  </option>
                </select>
                <div class="red error-msg" *ngIf="taxYearControl.hasError('required') && taxYearControl.touched">
                    กรุณาระบุปีภาษี
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="ccol-12 col-sm-3 text-sm-right text-left">
                <label>เลขประจำตัวประชาชน : <span class="red">*</span></label>
              </div>
              <div class="col-12 col-sm-3 text-left">
                <input type="text" appNumberOnly class="form-control" maxlength="13" formControlName="nid"
                [ngClass]="{'border-danger': nidControl.invalid && nidControl.touched}" >
                <div class="red error-msg" *ngIf="nidControl.hasError('required') && nidControl.touched">
                    กรุณาระบุเลขประจำตัวประชาชน
                </div>
              </div>

              <div class="ccol-12 col-sm-1 text-sm-right text-left">
                <label>วันเกิด : <span class="red">*</span></label>
              </div>
              <div class="col-12 col-sm-3 text-left">
                <app-datepicker-th formControlName="birthDate" [borderDanger]="birthDateControl.invalid && birthDateControl.touched" #birthDate>
                </app-datepicker-th>

                <div class="red error-msg" *ngIf="birthDateControl.hasError('required') && birthDateControl.touched">
                    กรุณาระบุวันเกิด
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="ccol-12 col-sm-3 text-sm-right text-left">
                <label>ชื่อ : <span class="red">*</span></label>
              </div>
              <div class="col-12 col-sm-3 text-left">
                <input type="text"  class="form-control" maxlength="100" formControlName="firstName"
                [ngClass]="{'border-danger': firstNameControl.invalid && firstNameControl.touched}" >
                <div class="red error-msg" *ngIf="firstNameControl.hasError('required') && firstNameControl.touched">
                    กรุณาระบุชื่อ
                </div>
              </div>

              <div class="ccol-12 col-sm-1 text-sm-right text-left">
                <label>นามสกุล : <span class="red">*</span></label>
              </div>
              <div class="col-12 col-sm-3 text-left">
                  <input type="text"  class="form-control" maxlength="100" formControlName="lastName"
                  [ngClass]="{'border-danger': lastNameControl.invalid && lastNameControl.touched}" >
                  <div class="red error-msg" *ngIf="lastNameControl.hasError('required') && lastNameControl.touched">
                      กรุณาระบุนามสกุล
                  </div>
                </div>
                <div class="form-group col-lg-2"></div>
              </div>

              <div class="row form-group">
                <div class="form-group col-lg-4"></div>
                <div class="form-group col-lg-2 reset-button">
                  <button type="submit" class="btn btn-success margin-top-10">
                    <i class="glyphicon glyphicon-search"></i> ค้นหา
                  </button>
                </div>
                <div class="form-group col-lg-2 reset-button">
                  <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
                    <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
                  </button>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="isSearch" >
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading">
          <div class="panel-title">
            <h3 style="text-align: center"><strong> ผลการตรวจสอบรายได้จากฐานข้อมูลของกรมสรรพากร</strong></h3>
          </div>
        </div>
      </div>

      <div class="panel-body no-padding"></div>
      <div class="panel-body">
        <div class="panel-title">
          <h3 style="text-align: center"><strong> ผลการตรวจสอบรายได้ปี {{searchCondition.get('taxYear').value}} : {{registrant == null ? 'ไม่พบข้อมูลการลงทะเบียน' : registrant.resultDesc}}</strong></h3>
        </div>
      </div>
    </div>
  </div>
</section>
