<div class="card mb-4">
  <div class="card-header ">
    <div class="justify-content-left">
      <h4>เอกสารขอใช้งานใบรับรองอิเล็กทรอนิกส์</h4>
    </div>
  </div>
  <div class="card-body">
      <table id="attachment_table" class="table table-striped table-bordered dataTable custom-table-length" style="width: 100%;" role="grid"
             aria-describedby="attachment_table">
        <thead>
        <tr role="row">
          <th class="text-center" style="background-color: #cececc;color: black;">#</th>
          <th class="text-center" style="background-color: #cececc;color: black;">ประเภทเอกสาร </th>
          <th class="text-center" style="background-color: #cececc;color: black;">อัพโหลด </th>
          <th class="text-center" style="background-color: #cececc;color: black;"> </th>
        </tr>
        </thead>
        <tbody >
        <tr role="row" class="odd" *ngFor="let attachment of attachmentDtoInput; let i=index">
          <ng-container >
            <td class="text-center">{{i+1}}</td>
            <td> {{attachment.attachmentTypeName}} </td>
            <td> {{attachment.fileName}}  </td>
            <td class="text-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-auto" (click)="viewAttachment(attachment.file)" tooltip="ดูไฟล์" *ngIf="attachment.fileName">
                  <i class="fa fa-eye"></i>
                </button>
              </div>
            </td>
          </ng-container>
        </tr>
        </tbody>
      </table>
  </div>
</div>
