<div class="col-sm-12 text-right scroll-to-top"  [ngClass]="{'show-scrollTop': windowScrolled}">
  <button class="btn btn-success btn-circle btn-circle-lg m-1"  (click)='add()'  tooltip="{{tooltipMsg}}">
    <i class="fa fa-plus"></i>
  </button>
</div>
