<div class="content">
    <div class="header-title mb-4">
        <h1><strong>แก้ไขประเภทรายได้ของผู้รับเงินอยู่ต่างประเทศ </strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a
                    [routerLink]="['/etl/cross-border-income-type']" class="active">ประเภทรายได้ของผู้รับเงินอยู่ต่างประเทศ</a>
                / แก้ไข
            </small>
        </h1>
    </div>

    <form [formGroup]="incomeForm" (ngSubmit)="onSubmit()">
        <div formGroupName="incomeGroup">
            <div class="card border-light mb-4">
                <div class="card-header">
                    <h4 class="panel-title">
                        <i class="header-title fa fa-file-text"></i> ข้อมูลประเภทรายได้ของผู้รับเงินอยู่ต่างประเทศ
                    </h4>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label>รหัสประเทศรายได้</label>
                            <input type="text" formControlName="incomeCode" id="incomeCode"
                                   class="form-control"
                                   placeholder="ระบุรหัสประเทศรายได้"
                                   readonly>
                          <div class="text-danger"
                               *ngIf="incomeForm.get('incomeGroup.incomeCode').touched && incomeForm.get('incomeGroup.incomeCode').value == null">
                            กรุณาระบุรหัสประเภทรายได้.
                          </div>
                          <div class="text-danger"
                               *ngIf="incomeForm.get('incomeGroup.incomeCode').touched && incomeForm.get('incomeGroup.incomeCode').value == '' ">
                            กรุณาระบุรหัสประเภทรายได้.
                          </div>
                          <div class="text-danger"
                               *ngIf="!incomeForm.get('incomeGroup.incomeCode').valid && incomeForm.get('incomeGroup.incomeCode').touched && incomeForm.get('incomeGroup.incomeCode').value != null && incomeForm.get('incomeGroup.incomeCode').value != ''">
                            รองรับตัวเลขเท่านั้น.
                          </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>ประเภทรายได้ (ภาษาไทย)</label>&nbsp; <label class ="text-danger">*</label>
                            <input type="text" formControlName="incomeNameTh" id="incomeNameTh"
                                   class="form-control" [maxLength]="150"
                                   placeholder="ระบุชื่อประเภทรายได้ (ภาษาไทย)">
                          <div class="text-danger"
                               *ngIf="incomeForm.get('incomeGroup.incomeNameTh').touched && incomeForm.get('incomeGroup.incomeNameTh').value == null">
                            กรุณากรอกประเภทรายได้ (ภาษาไทย).
                          </div>
                          <div class="text-danger"
                               *ngIf="incomeForm.get('incomeGroup.incomeNameTh').touched && incomeForm.get('incomeGroup.incomeNameTh').value == '' ">
                            กรุณากรอกประเภทรายได้ (ภาษาไทย).
                          </div>
<!--                          <div class="text-danger"-->
<!--                               *ngIf="!incomeForm.get('incomeGroup.incomeNameTh').valid && incomeForm.get('incomeGroup.incomeNameTh').touched && incomeForm.get('incomeGroup.incomeNameTh').value != null && incomeForm.get('incomeGroup.incomeNameTh').value != ''">-->
<!--                            รองรับอักษรภาษาไทย ตัวเลข หรืออักขระพิเศษเท่านั้น.-->
<!--                          </div>-->
                        </div>

                        <div class="form-group col-lg-6">
                            <label>ประเภทรายได้ (ภาษาอังกฤษ)</label>&nbsp; <label class ="text-danger">*</label>
                            <input type="text" formControlName="incomeNameEn" id="incomeNameEn"
                                   class="form-control" [maxLength]="150"
                                   placeholder="ระบุชื่อประเภทรายได้ (ภาษาอังกฤษ)">
                          <div class="text-danger"
                               *ngIf="incomeForm.get('incomeGroup.incomeNameEn').touched && incomeForm.get('incomeGroup.incomeNameEn').value == null">
                            กรุณากรอกประเภทรายได้ (ภาษาอังกฤษ).
                          </div>
                          <div class="text-danger"
                               *ngIf="incomeForm.get('incomeGroup.incomeNameEn').touched && incomeForm.get('incomeGroup.incomeNameEn').value == '' ">
                            กรุณากรอกประเภทรายได้ (ภาษาอังกฤษ).
                          </div>
                          <div class="text-danger"
                               *ngIf="!incomeForm.get('incomeGroup.incomeNameEn').valid && incomeForm.get('incomeGroup.incomeNameEn').touched && incomeForm.get('incomeGroup.incomeNameEn').value != null && incomeForm.get('incomeGroup.incomeNameEn').value != ''">
                            รองรับอักษรภาษาอังกฤษ ตัวเลข หรืออักขระพิเศษเท่านั้น.
                          </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>วันที่มีผล</label>&nbsp; <label class ="text-danger">*</label>
                            <input type="text" formControlName="effectiveDate" id="effectiveDate"
                                   class="form-control"
                                   placeholder="ระบุวันที่มีผล"
                                   [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                   value="{{edcCrossBorderIncome.effectiveDate | thaidate: 'DD/MM/YYYY'}}"
                                   [minDate]="minDate"
                                   autocomplete="off"
                                   [ngClass]="{'is-invalid': !incomeForm.get('incomeGroup.effectiveDate').valid && incomeForm.get('incomeGroup.effectiveDate').touched}"
                                   bsDatepicker>
                            <div class="text-danger"
                                 *ngIf="!incomeForm.get('incomeGroup.effectiveDate').valid && incomeForm.get('incomeGroup.effectiveDate').touched">
                              กรุณากรอกวันที่มีผล.
                            </div>
                        </div>

                      <div class="form-group col-lg-6">
                        <label>วันที่สิ้นสุด</label>
                        <input type="text" formControlName="endDate" id="endDate"
                               class="form-control"
                               placeholder="ระบุวันที่สิ้นสุด"
                               [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                               value="{{edcCrossBorderIncome.endDate | thaidate: 'DD/MM/YYYY'}}"
                               [minDate]="minDate" autocomplete="off"
                               bsDatepicker>
                      </div>

                    </div>
                </div>
            </div>
        </div>
        <div formGroupName="tableGroup">
            <div class="card border-light mb-4">
                <div class="card-header">
                    <h4 class="panel-title">
                        <i class="header-title fa fa-file-text"></i> รายละเอียดประเภทรายได้ของผู้รับเงินอยู่ต่างประเทศ
                    </h4>
                </div>
                <div class="card-body">
                    <table class="table table-sm table-bordered">
                        <thead>
                        <tr>
                            <th scope="col" class="text-center">ลำดับ</th>
                            <th scope="col" class="text-center">ประเภทผู้หัก</th>
                            <th scope="col" class="text-center">ประเภทผู้ถูกหัก</th>
                            <th scope="col" class="text-center">ประเภทการจ่ายภาษี</th>
                            <th scope="col" class="text-center">ประเภทอัตราภาษี</th>
                            <th scope="col" class="text-center">ประเภทแบบ</th>
                            <th scope="col" class="text-center">มาตรา</th>
                        </tr>
                        </thead>
                        <!--                         -->

                        <tbody >
                        <tr formArrayName="tableList"
                            *ngFor="let item of incomeFormTemp.controls; let i = index;">

                            <td class="text-center" [formGroupName]="i">
                                {{i + 1}}
                            </td>
                            <td class="text-center" [formGroupName]="i" width="15%">
                                <select name="type-data" class="form-control"
                                        formControlName="agentTaxPayerType" id="agentTaxPayerType_{{i}}" disabled>
                                    <option *ngFor="let dv of EdcFilterCodeList"
                                            [value]="dv.code">{{dv.description}}</option>
                                </select>
                            </td>
                            <td class="text-center" [formGroupName]="i" width="15%">
                                <select name="type-data" class="form-control"
                                        formControlName="taxPayerType" id="taxPayerType_{{i}}" disabled>
                                    <option *ngFor="let dv of EdcFilterCodeList"
                                            [value]="dv.code">{{dv.description}}</option>
                                </select>
                            </td>
                            <td class="text-center" [formGroupName]="i" width="23%">
                                <select name="type-data" class="form-control"
                                        formControlName="rateType" id="rateType_{{i}}">
                                    <option *ngFor="let dv of TaxRateTypeList"
                                            [value]="dv.code">{{dv.description}}</option>
                                </select>
                            </td>
                            <td class="text-center" [formGroupName]="i" width="10%">
                                <input type="number" formControlName="whtRate" id="whtRate_{{i}}" min="0" [readOnly]="this.incomeForm.value.tableGroup.tableList[i].rateType != '3'"
                                       [ngModel]="this.incomeForm.value.tableGroup.tableList[i].rateType === '3' ? this.incomeForm.value.tableGroup.tableList[i].whtRate : null"
                                       oninput="javascript: if (this.value.length > this.maxLength)  this.value = this.value.slice(0, this.maxLength);"
                                       class="form-control text-center" [maxlength]="10">
                            </td>
                            <td [formGroupName]="i">
                                <select name="type-data" class="form-control" width="17%"
                                        formControlName="pnd" id="pnd_{{i}}">
                                    <option [value]="null" >เลือก ภ.ง.ด</option>
                                    <option *ngFor="let dv of PndList"
                                            [value]="dv.code">{{dv.description}}</option>
                                </select>
                            </td>
                            <td [formGroupName]="i">
                                <select name="type-data" class="form-control" width="20%"
                                        formControlName="sectionId" id="sectionId_{{i}}">
                                    <option [value]="null">เลือก มาตรา</option>
<!--                                    <option *ngFor="let dv of SectionList"[value]="dv.id">{{dv.sectionName}}</option>-->
                                  <option *ngFor="let dv of findSectionListByPnd(item.controls.pnd.value)" [value]="dv.id">{{dv.sectionName}}</option>

                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <table style="margin:auto;">
            <tr>
                <td>
                    <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5"
                            (click)="onBack()" id="back"><i
                            class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-auto btn-orange2 w-md m-b-5" (click)="resetForm()" id="clear"><i
                            class="fa fa-repeat"></i> ล้างข้อมูล
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-auto btn btn-auto  btn-green w-md m-b-5" id="save"><i
                            class="fa fa-floppy-o"></i> บันทึก
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
