<section class="content">
  <div class="header-title mb-4">
    <h1><strong>จัดการอุปกรณ์ Token</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / จัดการอุปกรณ์ Token</small></h1>
  </div>
  <div class="card mb-4">
      <div class="card-header">
          <h4><i class="header-title fa fa-file-text"></i> บริหารจัดการอุปกรณ์</h4>
      </div>
      <div class="card-body">
          <form [formGroup]="searchThumbDriveCriteria" (ngSubmit)="getData()">
              <div class="row">
                <div class="form-group col-lg-6">
                  <label>หมายเลขอุปกรณ์:</label>
                  <input type="text" class="form-control" name="serialNumber" id="serialNumber"
                    formControlName="serialNumber" placeholder="หมายเลขอุปกรณ์">
                </div>
                <div class="form-group col-lg-6">
                  <label>การใช้งาน:</label>
                  <select class="form-control" id="deviceStatus" formControlName="deviceStatusId">
                    <option value="">โปรดเลือก</option>
                    <option *ngFor="let ds of devicesStatus" [value]="ds.deviceStatusId">
                      {{ds.deviceStatusName}}</option>
                  </select>
                </div>
                <div class="form-group col-lg-6">
                    <label>ชนิดอุปกรณ์:</label>
                    <select class="form-control" id="deviceType" formControlName="deviceTypeId">
                      <option value="">โปรดเลือก</option>
                      <option *ngFor="let dt of devicesType" [value]="dt.deviceTypeId">
                        {{dt.deviceTypeName}}</option>
                    </select>
                  </div>
                <!-- <div class="form-group col-lg-4">
                    <label>วันที่รับอุปกรณ์:</label>
                    <input type="text"
                           class="form-control"
                           #dp="bsDatepicker" placeholder="วัน/เดือน/ปี"
                           formControlName="receivedDate"[bsValue]="bsValue" [bsConfig]="bsConfig"
                           bsDatepicker >
                  </div> -->
                <div class="form-group col-lg-6">
                  <label>วันที่รับอุปกรณ์:</label>

                  <app-datepicker-th class="form-control-datepicker" formControlName="receivedDate" id="receivedDate"
                    name="receivedDate"></app-datepicker-th>
                </div>
              </div>
              <div class="row justify-content-center">
                  <div class="form-group col-lg-2 reset-button">
                      <button type="submit" class="btn btn-success margin-top-10">
                        <i class="glyphicon glyphicon-search"></i> ค้นหา
                      </button>
                    </div>
                    <div class="form-group col-lg-2 reset-button">
                      <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
                        <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
                      </button>
                    </div>
              </div>
            </form>
      </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <h4><i class="fa fa-list"></i> ผลการค้นหา</h4>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                  <tr role="row">
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('SERIAL_NUMBER')" style="cursor: pointer" title="หมายเลขอุปกรณ์" tooltip="หมายเลขอุปกรณ์">
                        หมายเลขอุปกรณ์
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'SERIAL_NUMBER'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('DEVICE_TYPE_NAME')" style="cursor: pointer" title="ชนิดอุปกรณ์" tooltip="ชนิดอุปกรณ์">
                        ชนิดอุปกรณ์
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'DEVICE_TYPE_NAME'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('RECEIVED_DATE')" style="cursor: pointer" title="วันที่ได้รับอุปกรณ์" tooltip="วันที่ได้รับอุปกรณ์">
                        วันที่ได้รับอุปกรณ์
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'RECEIVED_DATE'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('REMARK')" style="cursor: pointer" title="หมายเหตุ" tooltip="หมายเหตุ">
                        หมายเหตุ
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'REMARK'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('DEVICE_STATUS_NAME')" style="cursor: pointer" title="สถานะการใช้งาน" tooltip="สถานะการใช้งาน">
                        สถานะการใช้งาน
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'DEVICE_STATUS_NAME'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center"></th>
                </thead>
                <tbody>
                  <tr role="row" class="odd" *ngFor="let dv of pageResponse.content">
                    <td class="text-center">{{dv.no}}</td>
                    <td class="text-center">{{dv.serialNumber || '-'}}</td>
                    <td class="text-center">{{dv.deviceTypeName || '-'}}</td>
                    <td class="text-center">{{(dv.receivedDate | thaidate) || '-'}}</td>
                    <td class="text-center">{{dv.remark || '-'}}</td>
                    <td class="text-center">{{dv.deviceStatusName || '-'}}</td>
                    <td class="text-center">
                      <div class="btn-group">
                        <button type="button" id="deviceId" class="btn btn-orange btn-sm btn-auto"
                          (click)="getThumbDrive(dv.deviceId)" tooltip="แก้ไข">
                          <i class="fa fa-pencil-square-o"></i>
                        </button>
                      </div>
                      &nbsp;
                      <div class="btn-group" *ngIf="dv.userId !=null && dv.deviceStatusId == '2' ">
                        <button type="button" id="userId" class="btn btn-orange btn-sm btn-auto"tooltip="ส่งคืนอุปกรณ์"
                          (click)="sendBack(dv)"><i class="fa fa-archive" aria-hidden="true"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="pageResponse.content?.length === 0">
                    <td colspan="11" class="text-center"> ไม่พบข้อมูล</td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-sm-5">
                  <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite" style="padding: 5px;">
                    แสดงผล
                    {{pageResponse.numberOfElements}} จาก
                    {{pageResponse.totalPages}} รายการ
                  </div>
                </div>
                <div class="col-sm-7 text-right">
                    แสดงหน้าละ
                    <select (change)="changeRowLimits($event)" style="padding: 5px;">
                      <option *ngFor="let limit of rowLimits" [value]="limit.value">{{limit.key}}</option>
                    </select>
                    &nbsp;&nbsp;
                    <pagination style="float: right;" [boundaryLinks]="true" [totalItems]="pageResponse.totalPages"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [rotate]="true"
                      [maxSize]="5" [(ngModel)]="pageRequest.page" (pageChanged)="pageChange($event,limit)" (limit)="limit"
                      [itemsPerPage]="pageResponse.size" aria-label="Default pagination"></pagination>
                  </div>
              </div>
        </div>
      </div>
      <app-float-button ></app-float-button>
      <!-- <div class="col-sm-12 text-right scroll-to-top"  [ngClass]="{'show-scrollTop': windowScrolled}">
          <button class="btn btn-green btn-circle btn-circle-lg m-1"   (click)="goToThumbDriveFrom()" tooltip="เพิ่มอุปกรณ์">
            <i class="fa fa-plus"></i>
          </button>
        </div> -->
</section>
