<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>ข้อมูลภาษีซื้อ-ภาษีขาย  (ข้อมูลการชำระเงินภายในประเทศ)</h4>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-center" style="font-weight:bold;" >ข้อมูลตั้งแต่ กันยายน 2559 ถึง ธันวาคม 2559</label>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> พิมพ์</a>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขประจำตัวผู้เสียภาษีอากร  : 0-1345-67891-23-4</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขที่สาขา : 00000</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อผู้ประกอบการ : บริษัท เอ จำกัด</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ที่อยู่ : เลขที่ 1 หมู่ที่ 1 แขวงศาลาธรรมสพน์ เขตทวีวัฒนา จังหวัดกรุงเทพมหานคร 10170</label>
          </div>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th rowspan="2">เดือนภาษี<br>(1)</th>
              <th rowspan="2">ปีภาษี<br>(2)</th>
              <th colspan="7">ข้อมูลยอดขาย</th>
              <th colspan="7">ข้อมูลยอดซื้อ</th>
            </tr>
            <tr class="" align="center">
              <th>จำนวน<br>รายการ<br>(3)</th>
              <th><font color="blue">ยอดขายที่ต้อง<br>เสียภาษี<br>VAT 7%<br>(4)</font></th>
              <th>ภาษีมูลค่า<br>เพิ่ม<br>(5)</th>
              <th>รวมเงินที่จ่าย <br>(ก่อนหักภาษี ณ <br>ที่จ่ายและรวมภาษี<br>มูลค่าเพิ่ม)<br>(6)</th>
              <th>จำนวน ภาษี<br>หัก ณ ที่จ่าย<br>(7)</th>
              <th><font color="blue">ราคาหลังจาก<br>หัก ณ ที่จ่าย<br>(8)</font></th>
              <th>ดูข้อมูล<br>ภาษีขาย<br>(9)</th>
              <th>จำนวน<br>รายการ<br>(10)</th>
              <th><font color="blue">ยอดซื้อที่ต้อง<br>เสียภาษี<br>VAT 7%<br>(11)</font></th>
              <th>ภาษี<br>มูลค่าเพิ่ม<br>(12)</th>
              <th>รวมเงินที่จ่าย<br>(ก่อนหักภาษี ณ <br>ที่จ่ายและรวมภาษี<br>มูลค่าเพิ่ม)<br>(13)</th>
              <th>จำนวนภาษี<br>หัก ณ ที่จ่าย<br>(14)</th>
              <th><font color="blue">ราคาหลังจาก<br>หัก ณ ที่จ่าย <br>(15)</font></th>
              <th>ดูข้อมูล<br>ภาษีซื้อ<br>(16)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="center">กันยายน</td>
              <td align="center">2559</td>
              <td align="right"><font color="blue">3</font></td>
              <td align="right"><font color="blue">1,000.00</font></td>
              <td align="right">70.00</td>
              <td align="right">1,070.00</td>
              <td align="right">46.00</td>
              <td align="right"><font color="blue">1,024.00</font></td>
              <td>
                <a href="trs/trsp020302" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td align="right"><font color="blue">4</font></td>
              <td align="right"><font color="blue">1,500.00</font></td>
              <td align="right">105.00</td>
              <td align="right">1,605.00</td>
              <td align="right">63.00</td>
              <td align="right"><font color="blue">1,542.00</font></td>
              <td>
                <a href="trs/trsp020303" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>

            <tr>
              <td align="center">ตุลาคม</td>
              <td align="center">2559</td>
              <td align="right"><font color="blue">7</font></td>
              <td align="right"><font color="blue">1,200.00</font></td>
              <td align="right">84.00</td>
              <td align="right">1,284.00</td>
              <td align="right">57.00</td>
              <td align="right"><font color="blue">1,227.00</font></td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td align="right"><font color="blue">6</font></td>
              <td align="right"><font color="blue">1,650.00</font></td>
              <td align="right">115.50</td>
              <td align="right">1,765.50</td>
              <td align="right">125.00</td>
              <td align="right"><font color="blue">1,640.50</font></td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>

            <tr>
              <td align="center">พฤศจิกายน</td>
              <td align="center">2559</td>
              <td align="right"><font color="blue">5</font></td>
              <td align="right"><font color="blue">950.00</font></td>
              <td align="right">66.50</td>
              <td align="right">1,016.50</td>
              <td align="right">27.00</td>
              <td align="right"><font color="blue">989.50</font></td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td align="right"><font color="blue">4</font></td>
              <td align="right"><font color="blue">1,100.00</font></td>
              <td align="right">77.00</td>
              <td align="right">1,177.00</td>
              <td align="right">54.00</td>
              <td align="right"><font color="blue">1,123.00</font></td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>

            <tr>
              <td align="center">ธันวาคม</td>
              <td align="center">2559</td>
              <td align="right"><font color="blue">3</font></td>
              <td align="right"><font color="blue">850.00</font></td>
              <td align="right">59.50</td>
              <td align="right">909.50</td>
              <td align="right">23.00</td>
              <td align="right"><font color="blue">886.50</font></td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td align="right"><font color="blue">3</font></td>
              <td align="right"><font color="blue">950.00</font></td>
              <td align="right">66.50</td>
              <td align="right">1,016.50</td>
              <td align="right">45.00</td>
              <td align="right"><font color="blue">971.50</font></td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>

            <tr>
              <td align="center" colspan="2">รวม</td>
              <td align="right"><font color="blue">18</font></td>
              <td align="right"><font color="blue">4,000.00</font></td>
              <td align="right">280.00</td>
              <td align="right">4,280.00</td>
              <td align="right">153.00</td>
              <td align="right"><font color="blue">4,127.00</font></td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td align="right"><font color="blue">17</font></td>
              <td align="right"><font color="blue">5,200.00</font></td>
              <td align="right">364.00</td>
              <td align="right">5,564.00</td>
              <td align="right">287.00</td>
              <td align="right"><font color="blue">5,277.00</font></td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-center" style="font-weight:bold "><font color="blue">* ยอดขายที่ต้อง เสียภาษี VAT 7% , ราคาหลังจาก หัก ณ ที่จ่าย , ยอดซื้อที่ต้อง เสียภาษี VAT 7% , ราคาหลังจาก หัก ณ ที่จ่าย เป็นจำนวนที่โปรแกรมคำนวณให้</font></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
