<div class="content ">
  <div class="header-title mb-4">
    <h1><strong>ลงทะเบียน Certificate เจ้าหน้าที่กรม</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / ลงทะเบียน Certificate เจ้าหน้าที่กรม</small>
    </h1>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="header-title fa fa-file-text"></i> แบบคำขอใบรับรองอิเล็กทรอนิกส์</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="searchVuserCertCriteria" (ngSubmit)="getData()">
        <div class="form-row">
          <div class="form-group col-lg-4">
            <label>เลขที่ใบคำขอ</label>
            <input type="text" class="form-control" name="reqId" id="reqId" formControlName="reqId"
                   placeholder="เลขที่ใบคำขอ">
          </div>
          <div class="form-group col-lg-4">
            <label>แบบคำขอ</label>
            <select class="form-control" id="requestType" formControlName="requestTypeId">
              <option value="">ทั้งหมด</option>
              <option *ngFor="let d of dropdownMcerRequestType" [value]="d.requestTypeId">
                {{d.requestTypeDesc}}</option>
            </select>
          </div>
          <div class="form-group col-lg-4">
            <label>สถานะการอนุมัติ</label>
            <select class="form-control" id="approvalStatus" formControlName="approvalStatusId">
              <option value="">ทั้งหมด</option>
              <option *ngFor="let d of dropdownMApprovalStatus" [value]="d.approvalStatusId">
                {{d.approvalStatusName}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">

          <div class="form-group col-lg-4">
            <label>ตั้งแต่วันที่ยื่นคำขอ</label>
            <app-datepicker-th class="form-control-datepicker" formControlName="startRequestedDate"
                               id="startRequestedDate" name="startRequestedDate"
                               [maxDate]="(startDateControl.value == endDateControl.value) ? null : endDateControl.value">
            </app-datepicker-th>
          </div>
          <div class="form-group col-lg-4">
            <label>ถึงวันที่ยื่นคำขอ</label>
            <app-datepicker-th class="form-control-datepicker" formControlName="endRequestedDate" id="endRequestedDate"
                               name="endRequestedDate" [minDate]="startDateControl.value"></app-datepicker-th>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="form-group col-lg-2 reset-button">
            <button type="submit" class="btn btn-success margin-top-10">
              <i class="glyphicon glyphicon-search"></i> ค้นหา
            </button>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
              <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-list"></i> ผลการค้นหา</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
        <tr role="row">
          <th class="text-center" scope="col" style="width: 50px">#</th>
          <th scope="col" class="text-center">
            <a (click)="sort('REQ_ID')" style="cursor: pointer" title="เลขที่ใบคำขอ">
              เลขที่ใบคำขอ
            </a>
            <ng-container *ngIf="pageRequest.sortFieldName === 'REQ_ID'">
              <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
              <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
            </ng-container>
          </th>
          <th scope="col" class="text-center">
            <a (click)="sort('NID')" style="cursor: pointer" title="เลขประจำตัวผู้เสียภาษีอากร" >
              เลข ลสก
            </a>
            <ng-container *ngIf="pageRequest.sortFieldName === 'NID'">
              <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
              <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
            </ng-container>
          </th>
          <th scope="col" class="text-center" style="width: 100px">
            <a (click)="sort('NAME')" style="cursor: pointer" title="ชื่อผู้เสียภาษีอากร" >
              ชื่อผู้เสีย<br />ภาษีอากร
            </a>
            <ng-container *ngIf="pageRequest.sortFieldName === 'NAME'">
              <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
              <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
            </ng-container>
          </th>
          <th scope="col" class="text-center">
            <a (click)="sort('REQUESTED_DATE')" style="cursor: pointer" title="วันที่ยื่นคำขอ">
              วันที่ยื่นคำขอ
            </a>
            <ng-container *ngIf="pageRequest.sortFieldName === 'REQUESTED_DATE'">
              <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
              <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
            </ng-container>
          </th>
          <th scope="col" class="text-center">
            <a (click)="sort('REQUEST_TYPE_DESC')" style="cursor: pointer" title="แบบคำขอ" >
              แบบคำขอ
            </a>
            <ng-container *ngIf="pageRequest.sortFieldName === 'REQUEST_TYPE_DESC'">
              <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
              <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
            </ng-container>
          </th>
          <th scope="col" class="text-center">
            <a (click)="sort('CERTIFICATE_TYPE_NAME')" style="cursor: pointer" title="ชนิด Certificate">
              ชนิด Certificate
            </a>
            <ng-container *ngIf="pageRequest.sortFieldName === 'CERTIFICATE_TYPE_NAME'">
              <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
              <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
            </ng-container>
          </th>
          <th scope="col" class="text-center" style="width: 100px">
            <a (click)="sort('USER_TYPE_NAME')" style="cursor: pointer" title="กลุ่มผู้ใช้งาน">
              กลุ่มผู้ใช้งาน
            </a>
            <ng-container *ngIf="pageRequest.sortFieldName === 'USER_TYPE_NAME'">
              <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
              <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
            </ng-container>
          </th>
          <th scope="col" class="text-center">
            <a (click)="sort('APPROVAL_STATUS_NAME')" style="cursor: pointer" title="สถานะอนุมัติ" >
              สถานะอนุมัติ
            </a>
            <ng-container *ngIf="pageRequest.sortFieldName === 'APPROVAL_STATUS_NAME'">
              <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
              <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
            </ng-container>
          </th>
          <th class="text-center" scope="col" style="width: 150px">ดาวน์โหลด<br />certificate</th>
          <th class="text-center" scope="col" style="width: 100px"></th>
        </tr>
        </thead>
        <tbody>
        <tr role="row" class="odd" *ngFor="let v of pageResponse.content">
          <td class="text-center">{{v.no}}</td>
          <td class="text-center">{{v.reqId || '-'}}</td>
          <td class="text-center">{{v.nid || '-'}}</td>
          <td class="text-center">{{v.name || '-'}}</td>
          <td class="text-center">{{(v.requestedDate | date: 'dd/MM/yyyy') || '-'}}</td>
          <td class="text-center">{{v.requestTypeDesc || '-'}}</td>
          <td class="text-center">{{v.certificateTypeName || '-'}}</td>
          <td class="text-center">{{v.userTypeName || '-'}}</td>
          <td class="text-center">{{v.approvalStatusName || '-'}}</td>
          <td class="text-center">
            <div class="btn-group">
              <a class="btn btn-link orange btn-my-table" *ngIf="v.approvalStatusId == 3"
                 [href]="downloadRootCAApi" target="_blank" download="Epayment Root CA.cer"
                 tooltip="ดาวน์โหลด Root CA" style="padding: 5px;">
                <i class="fa fa-download" aria-hidden="true"></i>
              </a>
              <a class="btn btn-orange btn-sm btn-auto btn-my-table"
                 [href]="downloadCAApi + v.reqId" target="_blank"
                 *ngIf="v.approvalStatusId == 3" tooltip="ดาวน์โหลด pfx." style="padding: 5px;">
                <i class="fa fa-download" aria-hidden="true"></i>
              </a>
            </div>
          </td>
          <td class="text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-orange btn-sm btn-auto btn-my-table" (click)="goToEdit(v)"
                      *ngIf="v.approvalStatusId == 1 || v.approvalStatusId == 4" tooltip="แก้ไข">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-orange btn-sm btn-auto btn-my-table" (click)="deleteById(v)"
                      *ngIf="v.approvalStatusId == 1 || v.approvalStatusId == 4" tooltip="ลบ">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-orange btn-sm btn-auto btn-my-table" (click)="goToView(v)"
                      *ngIf="v.approvalStatusId > 1  && v.approvalStatusId != 4" tooltip="ดูรายละเอียด">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-orange btn-sm btn-auto btn-my-table"
                      (click)="goToCancelCert(v,certReasonCodeModal)" *ngIf="v.approvalStatusId == 3" tooltip="เพิกถอน/ยกเลิก"
                      style="padding: 5px;">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-orange btn-sm btn-auto btn-my-table" (click)="goToRenew(v, renewModal)"
                      *ngIf="v.approvalStatusId == 3" tooltip="ต่ออายุ" style="padding: 5px;">
                <i class="fa fa-refresh" aria-hidden="true"></i>
              </button>
              <button *ngIf="v.approvalStatusId == 3 && (v.requestTypeId == 1 || v.requestTypeId == 5)" type="button" class="btn btn-orange btn-sm btn-auto" (click)="showPopup(v.reqId, awaitingModal)"
                tooltip="ติดตั้งใบรับรองอิเล็กทรอนิกส์">
                <i class="fa fa-download" aria-hidden="true"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr *ngIf="pageResponse.content?.length === 0">
          <td colspan="12" class="text-center"> ไม่พบข้อมูล</td>
        </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite" style="padding: 5px;">
            แสดงผล
            {{pageResponse.numberOfElements}} จาก
            {{pageResponse.totalPages}} รายการ
          </div>
        </div>
        <div class="col-sm-7 text-right">
          แสดงหน้าละ
          <select (change)="changeRowLimits($event)" style="padding: 5px;">
            <option *ngFor="let limit of rowLimits" [value]="limit.value">{{limit.key}}</option>
          </select>
          &nbsp;&nbsp;
          <pagination style="float: right;" [boundaryLinks]="true" [totalItems]="pageResponse.totalPages"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [rotate]="true"
                      [maxSize]="5" [(ngModel)]="pageRequest.page" (pageChanged)="pageChange($event,limit)" (limit)="limit"
                      [itemsPerPage]="pageResponse.size" aria-label="Default pagination"></pagination>
        </div>
      </div>
    </div>
    <ng-template #certReasonCodeModal class="modal-dialog modal-lg">
      <div class="modal-header ">
        <i class="fa fa-plus-circle" aria-hidden="true"> </i> แจ้งขอยกเลิก/เพิกถอน
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="reasonCodeFormGroup">
          <div class="row">
            <div class="form-group col-lg-6">
              <label>เลขที่ใบคำขอ :</label>
              <input type="text" value="{{reasonCodeFormGroup.get('reqId').value }}" class="form-control" name=""
                     disabled>
            </div>
            <div class="form-group col-lg-6">
              <label>ประเภทใบรับรองอิเล็กทรอนิกส์ :</label>
              <input type="text" value="{{reasonCodeFormGroup.get('requestTypeDesc').value }}" class="form-control"
                     name="" disabled>
            </div>
            <div class="form-group col-lg-6">
              <label>ชื่อผู้ขอใบรับรองอิเล็กทรอนิกส์ :</label>
              <input type="text" value="{{reasonCodeFormGroup.get('name').value }}" class="form-control" name=""
                     disabled>
            </div>
            <div class="form-group col-lg-6">
              <label>สาเหตุการเพิกถอน :<span class="red">*</span></label>
              <select class="form-control" formControlName="reasonCode"
                      [ngClass]="{ 'is-invalid': reasonCodeSubmit && field.reasonCode.errors }">
                <option value="">กรุณาเลือก</option>
                <option *ngFor="let m of mcertReasonCode" [value]="m.reasonCode">
                  {{m.reasonDesc}}</option>
              </select>
              <div *ngIf="reasonCodeSubmit && field.reasonCode.errors" class="invalid-feedback">
                <div *ngIf="field.reasonCode.errors.required">กรุณาระบุสาเหตุการเพิกถอน</div>
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label>ประเภทการจัดการใบรับรองอิเล็กทรอนิกส์ :<span class="red">*</span></label>
              <div style="padding-top: 7px;">
                <input type="radio" formControlName="approvalStatusId" value="2"
                       [ngClass]="{ 'is-invalid': reasonCodeSubmit && field.approvalStatusId.errors }"> เพิกถอน
                <!-- &nbsp;&nbsp;
                <input type="radio" formControlName="approvalStatusId" value="3"
                       [ngClass]="{ 'is-invalid': reasonCodeSubmit && field.approvalStatusId.errors }"> พักการใช้งาน -->
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="row justify-content-center col-lg-12">
          <div class="form-group col-lg-6 reset-button">
            <button type="button" class="btn btn-green w-md m-b-5" *ngIf="authenService.hasAnyPermission(['DCSP010100.ADD','DCSP010100.UPDATE'])" (click)="saveCerRequestType()">
              <i class="fa fa-floppy-o"></i> บันทึก
            </button>
          </div>
          <div class="form-group col-lg-6 reset-button">
            <button type="button" class="btn btn-danger w-md m-b-5" (click)="modalRef.hide()">
              <i class="fa fa-times"></i> ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #renewModal class="modal-dialog modal-lg">
      <div class="modal-header ">
        <i class="fa fa-plus-circle" aria-hidden="true"> </i> แจ้งขอต่ออายุใบรับรองอิเล็กทรอนิกส์
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="renewFormGroup">
          <div class="row">
            <div class="form-group col-lg-6">
              <label>เลขที่ใบคำขอ :</label>
              <input type="text" value="{{renewFormGroup.get('reqId').value }}" class="form-control" name=""
                     disabled>
            </div>
            <div class="form-group col-lg-6">
              <label>ประเภทใบรับรองอิเล็กทรอนิกส์ :</label>
              <input type="text" value="{{renewFormGroup.get('requestTypeDesc').value }}" class="form-control"
                     name="" disabled>
            </div>
            <div class="form-group col-lg-6">
              <label>ชื่อผู้ขอใบรับรองอิเล็กทรอนิกส์ :</label>
              <input type="text" value="{{renewFormGroup.get('name').value }}" class="form-control" name=""
                     disabled>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="row justify-content-center col-lg-12">
          <div class="form-group col-lg-6 reset-button">
            <button type="button" class="btn btn-green w-md m-b-5" *ngIf="authenService.hasAnyPermission(['DCSP010100.ADD','DCSP010100.UPDATE'])" (click)="saveRenew()">
              <i class="fa fa-floppy-o"></i> บันทึก
            </button>
          </div>
          <div class="form-group col-lg-6 reset-button">
            <button type="button" class="btn btn-danger w-md m-b-5" (click)="modalRef.hide()">
              <i class="fa fa-times"></i> ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #awaitingModal>
      <div class="modal-header">
        <i class="fa fa-laptop" aria-hidden="true"> เลือกรูปแบบการติดตั้งใบรับรองอิเล็กทรอนิกส์ลงอุปกรณ์ </i>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <br />
        <form [formGroup]="vUserCertFormGroup">
          <div class="container">
            <div class="row ">
              <div class="col-sm text-center">
                <button type="button" class="btn btn-outline-info btn-lg" [ngClass]="{ 'active' : selectedDevice == 'Token' }" (click)="toggleToken()">
                  <i class="fa fa-usb" aria-hidden="true"></i> <p>Token</p>
                </button>
              </div>
              <div class="col-sm">
                <button type="button" class="btn btn-outline-info btn-lg" [ngClass]="{ 'active' : selectedDevice == 'USB' }" (click)="toggleUSB()">
                  <i class="fa fa-usb" aria-hidden="true"></i> <p>USB</p>
                </button>
              </div>
            </div>
          </div>
          <div class="container custom-selected-drive" *ngIf="selectedDevice == 'Token' ">
            <div class="card" style="width: 28em;">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item">
                  <a class="nav-link" href="#">กรุณาระบุ Pin Token สำหรับติดตั้ง</a>
                </li>

                </ul>
              </div>

              <ul>
                <div class="form-group" style="padding-top:20px">
                  <input type="text" class="form-control col-lg-10" (keyup)="pinTyping($event)" placeholder="ระบุ Pin สำหรับ Token">
                </div>
              </ul>
            </div>
        </div>
          <div class="container custom-selected-drive" *ngIf="selectedDevice == 'USB' ">
              <div class="card" style="width: 28em;">
                <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                    <a class="nav-link" href="#">กรุณาเลือกไดร์ฟสำหรับติดตั้ง</a>
                  </li>
                    <li class="nav-item">
                      <button (click)="getDrivesList()" class="btn-sm"> รีโหลดไดร์ฟ
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                      </button>
                    </li>
                  </ul>
                </div>
                <ul class="list-group list-group-flush" *ngFor="let u of usbDrive">
                  <li class="list-group-item">
                    <button class="btn btn-outline-info btn-lg box-shadow&#45;&#45;4dp text-left"
                            [ngClass]="{ 'active' : selectedDrive == u.drive }"
                            (click)="selectDrive(u.drive)">
                      <i class="fa fa-desktop" aria-hidden="true"></i>
                      &nbsp;&nbsp;{{u.drive}}</button>
                  </li>
                </ul>
                <ul>
                  <div class="form-group" style="padding-top:20px">
                    <input type="text" class="form-control col-lg-10" (keyup)="manualDriveTyping($event)" placeholder="หรือระบุไดร์ฟที่ต้องการ เช่น ExternalDisk\">
                  </div>
                </ul>
              </div>
          </div>
          <p class="red text-center" *ngIf="invalidDrive">{{warningMsg}}</p>
        </form>
      </div>
      <br />
      <div class="modal-footer">
          <div class="row justify-content-center col-lg-12">
              <div class="form-group col-lg-6 reset-button">
                  <button type="button" class="btn btn-success w-md m-b-5"  *ngIf="authenService.hasAnyPermission(['DCSP010100.UPDATE'])" (click)="save()">
                      <i class="fa fa-floppy-o"></i> บันทึก
                  </button>
                </div>
                <div class="form-group col-lg-6 reset-button">
                  <button type="button" class="btn btn-danger w-md m-b-5" (click)="modalRef.hide()">
                      <i class="fa fa-times"></i> ยกเลิก
                  </button>
                </div>
              </div>
      </div>
    </ng-template>

  </div>
  <app-float-button ></app-float-button>
</div>
