.modal-header {
  color:#d55710;
  background-color: #f6eade;
  border-color: #b7b9bf;
  position: relative;
}

.invalid-feedback {
  color:#d55710;
  font-size: 80%;
}

.btn-my-table{
  font-size: 20px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
