<div class="page-header">
  <h4 style="color: dodgerblue"><strong>1. ลงทะเบียนขอใช้งานใบรับรองอิเล็กทรอนิกส์</strong></h4>
</div>
<form novalidate [formGroup]="userCertRegisterForm">
  <app-certificate-info-section [certificateInfoInput]="userRequestMainComponent.userCertRequestForm.certificateInfo"
                                (formReady)="formInitialized('certificateInfo', $event)" >
  </app-certificate-info-section>
  <app-user-holder-info-section [userHolderInfoInput]="userRequestMainComponent.userCertRequestForm.certificateUserHolderInfo"
                                #userHolderInfoSectionComponent
                                (formReady)="formInitialized('certificateUserHolderInfo', $event)" >

  </app-user-holder-info-section>
  <app-user-request-attachment-table-section *ngIf="certificateInfo.templateTypeId === 4"
                                             [userTypeIdInput]="3" [attachmentDtoInput]="userRequestMainComponent.userCertRequestForm.userAttachmentDtoList.attachments"
                                             (formReady)="formAttachmentInitialized('userAttachmentDtoList', $event)">
  </app-user-request-attachment-table-section>
</form>
