<section>
  <form [formGroup]="verifyDriveFormGroup">
      <div class="modal-header" >
        <i class="fa fa-check-circle-o" aria-hidden="true">  ยืนยันตัวตน </i>
        <button (click)="getDrivesList()" type="button" class="btn-sm pull-right"> รีโหลดไดร์ฟ
          <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>
      </div>
        <div class="modal-body">
          <div class="row form-group">
            <div class="col-12 col-md-5 text-left text-sm-right">
              รหัสประจำตัว :
            </div>
            <div class="col-12 col-md-7">
              <input type="text" class="form-control" value="{{currentUserInfo?.username}}" readonly="true" />
            </div>
          </div>

          <div class="row form-group">
            <div class="col-12 col-md-5 text-left text-sm-right">
              ชื่อ-นามสกุล :
            </div>
            <div class="col-12 col-md-7">
              <input type="text" class="form-control" value="{{currentUserInfo?.nameTH + ' ' + currentUserInfo?.surNameTH}}" readonly="true" />
            </div>
          </div>

          <div class="row form-group">
            <div class="col-12 col-md-5 text-left text-sm-right">
               รหัส PIN : <span class="red">*</span>
            </div>
            <div class="col-12 col-md-7">
              <input class="form-control" formControlName="pin" name="pin" id="pin" type="password"
                     [class.is-invalid]="pin.invalid && (pin.dirty || pin.touched) "/>
              <div class="invalid-feedback">
                กรุณากรอกรหัสผ่าน
              </div>
            </div>
          </div>
            <div>
              <label class="label">กรุณาเลือกไดร์ฟสำหรับตรวจสอบใบรับรองอิเล็กทรอนิกส์:</label>
              <ul class="list-group list-group-flush text-center" *ngFor="let u of usbDrive">
                <li class="list-group-item" style="width: 350px;padding-left: 70px;">
                  <button class="btn btn-outline-info btn-lg box-shadow text-left"
                          [ngClass]="{ 'active' : selectedDrive == u.drive }"
                          (click)="selectDrive(u.drive)">
                    <i class="fa fa-desktop" aria-hidden="true"></i>
                    &nbsp;&nbsp;{{u.drive}}</button>
                </li>
              </ul>
            </div>

<!--          <ul>-->
<!--            <div class="form-group" style="padding-top:20px">-->
<!--              <input type="text" class="form-control col-lg-10" (keyup)="manualDriveTyping($event)" placeholder="หรือระบุไดร์ฟที่ต้องการ เช่น ExternalDisk\">-->
<!--            </div>-->
<!--          </ul>-->
        </div>
      <div class="modal-footer">
        <div class="row justify-content-center col-lg-12">
          <div class="form-group col-lg-6 reset-button">
            <button type="button" class="btn btn-success w-md m-b-5" (click)="verifyCertificate()">
              <i class="fa fa-floppy-o"></i> ตรวจสอบ
            </button>
          </div>
        </div>
      </div>
  </form>
</section>
