<section class="content">

  <div class="header-title mb-4">
    <h1><strong>รายการใบคำขออิเล็กทรอนิกส์ </strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a href="" class="active">รายการรออนุมัติ</a> /
        รายละเอียดการยื่นคำขอ</small></h1>
  </div>

  <div class="card mb-4">
    <div class="card-header">ข้อมูลในการยื่นคำขอ</div>
    <div class="card-body">
      <div class="row">
        <div class="form-group col-lg-4">
          <label>เลขที่ใบคำขอ:</label>
          <input type="text" value="{{userCertRegister?.reqId || '-'}}" class="form-control thick" name="" disabled>
        </div>
        <div class="form-group col-lg-4">
          <label>ประเภทคำขอ:</label>
          <input type="text" value="{{userCertRegister?.certRequestTypeDesc || '-'}}" class="form-control" name=""
            disabled>
        </div>
        <div class="form-group col-lg-4">
          <label>วันที่สร้างคำขอ:</label>
          <input type="text" value="{{userCertRegister?.requestedDate | thaidate}}" class="form-control" name=""
            disabled>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">รายละเอียดข้อมูลผู้ยื่นคำขอ</div>
    <div class="card-body">
      <div class="row">
        <div class="form-group col-lg-4">
          <label>ชื่อ-สกุล:</label>
          <input type="text" value="{{currentUserInfo?.nameTH + ' ' + currentUserInfo?.surNameTH || '-'}}"
            class="form-control" name="" disabled>
        </div>
        <div class="form-group col-lg-4">
          <label>หน่วยงาน:</label>
          <input type="text" value="{{currentUserInfo?.userOfficeCode || '-'}}" class="form-control" name="" disabled>
        </div>
        <div class="form-group col-lg-4">
          <label>ตำแหน่ง:</label>
          <input type="text" value="{{currentUserInfo?.userPositionNo || '-'}}" class="form-control" name="" disabled>
        </div>
        <div class="form-group col-lg-4">
          <label>อีเมล:</label>
          <input type="text" value="{{currentUserInfo?.email || '-'}}" class="form-control" name="" disabled>
        </div>
        <div class="form-group col-lg-4">
          <label>เบอร์โทรศัพท์:</label>
          <input type="text" value="{{userCertRegister?.userDto?.telephone || '-'}}" class="form-control" name=""
            disabled>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">ประเภทใบรับรองอิเล็กทรอนิกส์</div>
    <div class="card-body">
      <div class="row">
        <div class="form-group col-lg-4">
          <label>ประเภทการให้บริการ:</label>
          <input type="text" value="{{userCertRegister?.userDto?.userTypeName || '-'}}" id="" class="form-control"
            name="" disabled>
        </div>
        <div class="form-group col-lg-4">
          <label>รูปแบบ Template:</label>
          <input type="text" value="{{userCertRegister?.certificateDto?.certTypeName || '-'}}" id=""
            class="form-control" name="" disabled>
        </div>
        <div class="form-group col-lg-4">
          <label>อายุการใช้งาน:</label>
          <input type="text" value="1 ปี" class="form-control"  disabled *ngIf="userCertRegister?.certificateDto?.certTypeId === 4">
          <input type="text" value="2 ปี" class="form-control"  disabled *ngIf="userCertRegister?.certificateDto?.certTypeId !== 4">
        </div>
        <div class="form-group col-lg-4">
          <label>อุปกรณ์ที่จัดเก็บใบรับรอง:</label>
          <input type="text"
            value="{{userCertRegister?.userDto?.userTypeId  == '3'? 'รอผู้ดูแลระบบลงทะเบียนอุปกรณ์' : 'รับผ่านอีเมล'}}"
            id="" class="form-control" name="" disabled>
        </div>
        <div class="form-group col-lg-4">
          <label>วัตถุประสงค์การใช้งาน:</label>
          <input type="text" value="{{userCertRegister?.objective || '-'}}" class="form-control" name="" disabled>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">รายละเอียดข้อมูลผู้ขอใบรับรองอิเล็กทรอนิกส์</div>
    <div class="card-body">
      <div class="row">
        <div class="form-group col-lg-4">
          <label>เลขประจำตัวผู้เสียภาษีอากร:</label>
          <input type="text" value="{{userCertRegister?.certificateDto?.nationalId || '-'}}" class="form-control"
            name="" disabled>
        </div>
        <div class="form-group col-lg-4">
          <label #divNid>ชื่อผู้เสียภาษีอากร:</label>
          <input type="text" value="{{userCertRegister?.certificateDto?.taxPayer || '-'}}" class="form-control" name=""
            disabled>
        </div>
        <div class="form-group col-lg-4"
          *ngIf="userCertRegister?.userDto?.userTypeId == '3'  && (userCertRegister?.userDto?.userTypeId != '' && userCertRegister?.userDto?.userTypeId != null)">
          <label>หน่วยงาน:</label>
          <input type="text" value="{{userCertRegister?.userDto?.orgName || '-'}}" class="form-control" name=""
            disabled>
        </div>
        <div class="form-group col-lg-4"
          *ngIf="userCertRegister?.userDto?.userTypeId == '3'  && (userCertRegister?.userDto?.userTypeId != '' && userCertRegister?.userDto?.userTypeId != null)">
          <label>ตำแหน่ง:</label>
          <input type="text" value="-" id="" class="form-control" name="" disabled>
        </div>
        <div class="form-group col-lg-4">
          <label>อีเมล:</label>
          <input type="text" value="{{userCertRegister?.userDto?.email || '-'}}" id="" class="form-control" name=""
            disabled>
        </div>
        <div class="form-group col-lg-4">
          <label>เบอร์โทรศัพท์:</label>
          <input type="text" value="{{userCertRegister?.userDto?.telephone || '-'}}" id="" class="form-control" name=""
            disabled>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4" *ngIf="userCertRegister?.userAttachmentDtoList.length > 0">
    <div class="card-header">เอกสารแนบ</div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-8">
          <label>เอกสารที่ใช้ในการขอใช้งาน Certificate</label>
          <table id="example" class="table table-striped table-bordered dataTable" style="width: 100%;" role="grid"
            aria-describedby="example_info">
            <thead>
              <tr role="row">
                <th scope="col" class="text-center">#</th>
                <th scope="col">ประเภทเอกสาร </th>
                <th scope="col">ดาวน์โหลด</th>
              </tr>
            </thead>
            <tbody>
              <tr role="row" class="odd" *ngFor="let u of userCertRegister?.userAttachmentDtoList;let i= index;">
                <td class="text-center">{{i+1}}</td>
                <td class="text-left">{{u.attachmentTypeName}}</td>
                <td class="text-left">
                  <a class="fa fa-file-text-o" style="cursor:pointer;color: orange;font-weight: bold;"
                    (click)="downloadFileAttachment(i)" *ngIf="(u.filePath != null)">
                  </a>
                  {{u.filePath}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4"
    *ngIf="userCertRegister?.userDto?.userTypeId != '4'  && (userCertRegister?.userDto?.userTypeId != '' && userCertRegister?.userDto?.userTypeId != null) ">
    <div class="card-header">ผลการพิจารณา</div>
    <div class="card-body">
      <div class="row">
        <label class="col-sm-2">ผลการพิจารณา:<span class="red">*</span></label>
        <div class="form-group col-lg-12">
          <div class="col-lg-10">
            <input type="text" value="{{userCertRegister?.approvalStatusDesc || '-'}}" id="" class="form-control"
              name="" disabled>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <button type="button" class="btn btn-orange3 col-lg-2 w-md m-b-5" (click)="backPage()">
      <i class="fa fa-home"></i> กลับหน้าหลัก
    </button>
  </div>
</section>
