<!-- <div class="input-group"> -->
<input
  class="form-control"
  [ngClass]="{ 'border-danger': borderDanger }"
  #inputElement
  type="text"
  [id]="id"
  [name]="name"
  [placeholder]="placeholder"
  [readonly]="readonly"
  bsDatepicker
  [(ngModel)]="model"
  (ngModelChange)="onChange($event)"
  (blur)="onTouch()"
  autocomplete="off"
  [bsConfig]="bsConfig"
  [minDate]="minDate"
  [maxDate]="maxDate"
/>

<!-- <button class="input-group-addon" (click)="dp.toggle();onTouch()" type="button" *ngIf="!isDisabled">
      <span class="oi oi-calendar"></span>
    </button> -->

<!-- [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',  showWeekNumbers: false}" -->
<!-- <div class="input-group-append" *ngIf="!isDisabled"> -->
<!-- <button class="btn-outline-secondary" (click)="dp.toggle();onTouch()" type="button" *ngIf="!isDisabled">
      <span class="oi oi-calendar"></span>
    </button> -->
<!-- </div> -->
<!-- </div> -->
