.registration-process-panel{
  margin: auto;
}

.ellipse{
  border-radius: 50%;
  display: inline-block !important;
  width: 20%;
  height: 50px;
  display: block;
}

.line-div{
  display: inline-block !important;
  width:40%;
  height: 10px;
}

.line-div img{
  width: 100%;
}

.orange{
  background-color: orange;
}

.grey{
  background-color: grey;
}

.processBox{
  width: 25%; display: inline-block
}

.ellipse .text{
  padding-top: 25%;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 16px;
  color: white;
}

@media only screen and (max-width: 800px) {
  .ellipse{
    margin-left: 30%;
    border-radius: 50%;
    display: inline-block !important;
    width: 33.3%;
    height: 50px;
    display: block;
  }

  .line-div{
    display: none !important;;
  }

  .processBox{
    width: 50%; display: inline-block
  }

}
