<div class="processBox">
  <div>
    <div class="line-div">
      <img src="assets/img/orange-line.png" *ngIf="!firstNode && currentStep >= step">
      <img src="assets/img/grey-line.png" *ngIf="!firstNode && currentStep < step">
    </div>
    <div class="ellipse" [ngClass]="{'orange': currentStep >= step, 'grey': currentStep < step}">
      <div class="text">{{step}}</div>
    </div>
    <div class="line-div">
      <img src="assets/img/orange-line.png" *ngIf="!lastNode && currentStep > step">
      <img src="assets/img/grey-line.png" *ngIf="!lastNode && currentStep <= step">
    </div>
  </div>
  <div class="text-center">
    {{processName}}
  </div>
</div>
