<div class="header-title mb-4">
  <h1><strong>รายละเอียดคำร้องขอคืนเงินภาษีอากร ค.10</strong>
    <small class="pull-right"><a routerLink="/home" class="active">หน้าหลัก</a> /
      รายละเอียดคำร้องขอคืนเงินภาษีอากร ค.10
    </small>
  </h1>
</div>
<div class="card mb-4">
  <div class="card-header">
    <div class="justify-content-left">
      <h4>ข้อมูลผู้ขอคืนเงินภาษีอากร</h4>
    </div>
  </div>
  <div class="card-body">
    <app-tax-request-agent-detail *ngIf="taxRequestModel"
                                  [taxRequestModel]="taxRequestModel"></app-tax-request-agent-detail>
  </div>
</div>
<div class="card mb-4">
  <div class="card-header">
    <div class="justify-content-left">
      <h4>ข้อมูลขอคืนเงินภาษีอากร</h4>
    </div>
  </div>
  <div class="card-body">
    <app-tax-amount-request-detail *ngIf="taxRequestModel"
                                   [taxRequestModel]="taxRequestModel"></app-tax-amount-request-detail>
  </div>
</div>
<div class="card mb-4">
  <div class="card-header">
    <div class="justify-content-left">
      <h4>ตรวจสอบเอกสารแนบ</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <app-tax-request-attachment-list-table [taxReqAttachmentList]="taxRequestModel.taxReqAttachmentList"></app-tax-request-attachment-list-table>
    </div>
  </div>
</div>
<div class="card mb-4">
  <div class="card-header">
    <div class="justify-content-left">
      <h4>หน่วยงานที่รับผิดชอบ</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          ชื่อหน่วยงาน :
        </div>
        <div class="col-12 col-sm-3">
          <!-- {{currBranch}} -->
          {{officeName}}
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <button class="btn btn-primary" (click)="save()"><i class="fa fa-save"></i> บันทึก</button>
          <button class="btn btn-danger" [routerLink]="['../']"><i class="fa fa-close"></i> ยกเลิก</button>
        </div>
      </div>
    </div>
  </div>
</div>
