<div class="content">
    <div class="header-title mb-4">
        <h1><strong>รายละเอียดข้อมูลรหัสไปรษณีย์ </strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a
                    [routerLink]="['/etl/postcode']" class="active">รหัสไปรษณีย์
            </a> / รายละเอียดข้อมูลรหัสไปรษณีย์
            </small>
        </h1>
    </div>

    <form [formGroup]="postcodeForm" (ngSubmit)="onSubmit()">
        <div formGroupName="postcodeGroup">
            <div class="card border-light mb-4">
                <div class="card-header">
                    <h4 class="panel-title">
                        <i class="header-title fa fa-file-text"></i> ข้อมูลรหัสไปรษณีย์
                    </h4>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label>รหัสไปรษณีย์</label>&nbsp; <label class ="text-danger">*</label>
                            <input type="text" formControlName="postcode" id="postcode" [maxlength]="10"
                                   placeholder="ระบุรหัสไปรษณีย์"
                                   class="form-control" readonly>
                            <div class="text-danger"
                                 *ngIf="!postcodeForm.get('postcodeGroup.postcode').valid && postcodeForm.get('postcodeGroup.postcode').touched">
                                กรุณากรอกรหัสไปรษณีย์.
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>จังหวัด</label>&nbsp; <label class ="text-danger">*</label>
                            <input formControlName="provinceNameTh"
                                   [ngClass]="{'': !postcodeForm.get('postcodeGroup.provinceId').valid && postcodeForm.get('postcodeGroup.provinceId').touched}"
                                   [typeahead]="edcProvinceList"
                                   (click)="resetAmphur()"
                                   [typeaheadMinLength]="0"
                                   (typeaheadOnSelect)="onSelectProvince($event)"
                                   typeaheadOptionField="provinceNameTh"
                                   id = "provinceNameTh"
                                   placeholder="ระบุจังหวัด"
                                   class="form-control" readonly>
                            <div class="text-danger"
                                 *ngIf="!postcodeForm.get('postcodeGroup.provinceNameTh').valid && postcodeForm.get('postcodeGroup.provinceNameTh').touched">
                                กรุณาระบุจังหวัด.
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>อำเภอ</label>&nbsp; <label class ="text-danger">*</label>
                            <input formControlName="amphurNameTh"
                                   [typeahead]="edcAmphurList"
                                   [typeaheadMinLength]="0"
                                   (typeaheadOnSelect)="onSelectAmphur($event)"
                                   typeaheadOptionField="amphurNameTh"
                                   id="amphurNameTh"
                                   placeholder="ระบุอำเภอ"
                                   class="form-control" readonly>
                            <div class="text-danger"
                                 *ngIf="!postcodeForm.get('postcodeGroup.amphurNameTh').valid && postcodeForm.get('postcodeGroup.amphurNameTh').touched">
                                กรุณาระบุอำเภอ.
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>ตำบล</label>&nbsp; <label class ="text-danger">*</label>
                            <input formControlName="thambolNameTh"
                                   [typeahead]="edcThambolList"
                                   [typeaheadMinLength]="0"
                                   (typeaheadOnSelect)="onSelectThambol($event)"
                                   typeaheadOptionField="thambolNameTh"
                                   id="thambolNameTh"
                                   placeholder="ระบุตำบล"
                                   class="form-control" readonly>
                            <div class="text-danger"
                                 *ngIf="!postcodeForm.get('postcodeGroup.thambolNameTh').valid && postcodeForm.get('postcodeGroup.thambolNameTh').touched">
                                กรุณาระบุตำบล.
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>หมายเหตุ</label>
                            <textarea formControlName="comment" id="comment" rows="5"
                                      class="form-control" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table style="margin:auto;">
            <tr>
                <td>
                    <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5"
                            (click)="onBack()" id="back"><i
                            class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
