<div class="btn-group">
  <button class="btn btn-outline-info" [routerLink]="['/cert/admin/pending-list']"
          routerLinkActive="btn-outline-danger">รายการรอตรวจสอบ
  </button>
  <button class="btn btn-outline-info" [routerLink]="['/cert/admin/approve']" routerLinkActive="btn-outline-danger">
    อนุมัติ Certificate
  </button>
  <button class="btn btn-outline-info" [routerLink]="['/cert/admin/home']" routerLinkActive="btn-outline-danger">
    ข้อมูล Certificate ที่มีในระบบ
  </button>
</div>
