<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>รายงานประวัติการสั่งให้ระบบทำงานซ้ำอีกครั้ง (Retry) ของเจ้าหน้าที่ดูแลระบบ</h4>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ตั้งแต่วันที่ (ทำซ้ำ) <font color="red">* </font> </label>
          </div>
          <div class="form-group col-lg-4">
            <app-datepicker-th class="form-control-datepicker" 
              id="startDate" name="startDate"></app-datepicker-th>
          </div>

          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ถึงวันที่ (ทำซ้ำ) <font color="red">* </font> </label>
          </div>
          <div class="form-group col-lg-4">
            <app-datepicker-th class="form-control-datepicker" 
              id="endDate" name="endDate"></app-datepicker-th>
          </div>

          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right"> ฟังก์ชันงาน </label>
          </div>
          <div class="form-group col-lg-4">
            <select class="form-input form-control" id="function" type="text" name="function">
              <option value="">ทั้งหมด</option>
              <option value="receive">การรับไฟล์ข้อมูลจากผู้ส่งข้อมูล</option>
              <option value="process1">การประมวลผลคัดแยกข้อมูล</option>
              <option value="transfer">การโอนข้อมูลไปยัง Internet zone</option>
              <option value="process2">การประมวลผลภาษีซื้อ-ภาษีขาย</option>
              <option value="process3">การประมวลผลจับคู่ใบเสร็จ</option>
              <option value="process4">การประมวลผลคัดคันและสร้างแบบ PDF ไฟล์</option>
            </select>
          </div>

          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right"> รูปแบบรายงานที่แสดง :</label>
          </div>
          <div class="form-group col-lg-4">
	         <input type="radio" name="format" id="format1" value="pdf" /> PDF
	         <input type="radio" name="format" id="format2" value="excel" /> Excel
          </div>

          <div class="form-group col-lg-2 pr-0">
          </div>
          <div class="form-group col-lg-4">
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="form-group col-lg-2 reset-button">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> พิมพ์</a>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <a href="." class="btn btn-warning margin-top-10"><i class="glyphicon glyphicon-repeat"></i> ล้างข้อมูล</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
