<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>Monitor การลงทะเบียนขอใช้งานใบรับรองอิเล็กทรอนิกส์ (User Certificate) สำหรับบุคคลธรรมดา หรือนิติบุคคล</h4>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th >ลำดับ</th>
              <th>วันที่ยื่นขอ</th>
              <th>ประเภทผู้ขอใบรับรอง<br>อิเล็กทรอนิกส์</th>
              <th>ประเภทคำขอ</th>
              <th>จำนวน<br>คำขอทั้งหมด</th>
              <th>บันทึกร่าง</th>
              <th>รออนุมัติ</th>
              <th>แจ้งกลับ<br>(เอกสารไม่ถูกต้อง)</th>
              <th>อนุมัติ</th>
              <th>ไม่อนุมัติ</th>
              <th>สร้างใบรับรอง<br>อิเล็กทรอนิกส์แล้ว</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="center">1</td>
              <td align="center">12/08/2562</td>
              <td align="left">บุคคลธรรมดา</td>
              <td align="left">ขอใหม่</td>
              <td align="right">30</td>
              <td align="right">3</td>
              <td align="right">10</td>
              <td align="right">2</td>
              <td align="right">0</td>
              <td align="right">1</td>
              <td align="right">14</td>
            </tr>
            <tr>
              <td align="center">2</td>
              <td align="center">12/08/2562</td>
              <td align="left">บุคคลธรรมดา</td>
              <td align="left">ต่ออายุ</td>
              <td align="right">10</td>
              <td align="right">1</td>
              <td align="right">6</td>
              <td align="right">0</td>
              <td align="right">0</td>
              <td align="right">0</td>
              <td align="right">3</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
