<div class="content">
    <div class="header-title mb-4">
        <h1><strong>แก้ไขอัตราภาษีมูลค่าเพิ่ม </strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a
                    [routerLink]="['/etl/vat-rate']" class="active">อัตราภาษีมูลค่าเพิ่ม
            </a> / แก้ไขอัตราภาษีมูลค่าเพิ่ม
            </small>
        </h1>
    </div>

    <form [formGroup]="vatRateForm" (ngSubmit)="onSubmit()">
        <div formGroupName="vatRateGroup">
            <div class="card border-light mb-4">
                <div class="card-header">
                    <h4 class="panel-title">
                        <i class="header-title fa fa-file-text"></i> ข้อมูลอัตราภาษีมูลค่าเพิ่ม
                    </h4>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label>ชื่ออัตราภาษี</label>&nbsp; <label class="text-danger">*</label>
                            <input type="text" formControlName="vatName" id="vatName" class="form-control"
                                   placeholder="กรอกชื่ออัตราภาษี"
                                   [maxlength]="150">
                            <div class="text-danger"
                                 *ngIf="!vatRateForm.get('vatRateGroup.vatName').valid && vatRateForm.get('vatRateGroup.vatName').touched">
                                กรุณากรอกชื่ออัตราภาษี
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>อัตราภาษี</label><label class="text-danger">*</label>
                            <input type="number"
                                   oninput="javascript: if (this.value.length > this.maxLength)  this.value = this.value.slice(0, this.maxLength);"
                                   formControlName="vatRate" id="vatRate" class="form-control" min="0" [maxLength]="5"
                                   placeholder="กรอกอัตราภาษี">
                            <div class="text-danger"
                                 *ngIf="!vatRateForm.get('vatRateGroup.vatRate').valid && vatRateForm.get('vatRateGroup.vatRate').touched">
                                กรุณากรอกอัตราภาษี และกรอกเป็นตัวเลขเท่านั้น
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>วันที่มีผล</label><label class="text-danger">*</label>
                            <input type="text" formControlName="effectiveDate" id="effectiveDate"
                                   class="form-control"
                                   placeholder="ระบุวันที่มีผล"
                                   [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                   value="{{edcVatRate.effectiveDate | thaidate: 'DD/MM/YYYY'}}"
                                   [minDate]="minDate"
                                   autocomplete="off"
                                   [ngClass]="{'is-invalid': !vatRateForm.get('vatRateGroup.effectiveDate').valid && vatRateForm.get('vatRateGroup.effectiveDate').touched}"
                                   bsDatepicker>
                            <div class="text-danger"
                                 *ngIf="!vatRateForm.get('vatRateGroup.effectiveDate').valid && vatRateForm.get('vatRateGroup.effectiveDate').touched">
                                กรุณาระบุวันที่มีผล
                            </div>
                        </div>

                      <div class="form-group col-lg-6">
                        <label>วันที่สิ้นสุด</label>
                        <input type="text" formControlName="endDate" id="endDate"
                               class="form-control"
                               placeholder="ระบุวันที่สิ้นสุด"
                               [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                               value="{{edcVatRate.endDate | thaidate: 'DD/MM/YYYY'}}"
                               [minDate]="minDate" autocomplete="off"
                               bsDatepicker>
                      </div>

                        <div class="form-group col-lg-6">
                            <label>หมายเหตุ</label>
                            <textarea formControlName="remark" id="remark" rows="5"
                                      class="form-control" [maxlength]="500"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table style="margin:auto;">
            <tr>
                <td>
                    <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5" id="back"
                            (click)="onBack()"><i
                            class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-auto btn-orange2 w-md m-b-5" id="clear" (click)="resetForm()"><i
                            class="fa fa-repeat"></i> ล้างข้อมูล
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-auto btn btn-auto btn-green w-md m-b-5" id="save"><i
                            class="fa fa-floppy-o"></i> บันทึก
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
