<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>ข้อมูลภาษีขาย</h4>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-center" style="font-weight:bold">ข้อมูลตั้งแต่ กันยายน 2559 ถึง ธันวาคม 2559</label>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> พิมพ์</a>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขประจำตัวผู้เสียภาษีอากร : 0-5755-26009-09-9</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขที่สาขา : 000000</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อผู้ประกอบการ : บริษัท ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ จำกัด</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อสถานประกอบการ : ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ สำนักงานใหญ่</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ที่อยู่ : เลขที่ 3/34  แขวงห้วยขวาง เขตห้วยขวาง จังหวัด กรุงเทพมหานคร 10310</label>
          </div>

          <div class="form-group col-lg-2 pr-0">
            <label for="desc" style="font-weight:bold">มุมมองการแสดงผลข้อมูล: </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label for="status-a" class="form-check-label" style="font-weight:bold">
              <input class="form-check-input" type="radio" name="status" id="status-a" value="ALL"
                formControlName="status"> ข้อมูลทั้งหมด
            </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label for="status-i" class="form-check-label" style="font-weight:bold">
              <input class="form-check-input" type="radio" name="status" id="status-i" value="receive"
                formControlName="status"> ข้อมูลใบกำกับภาษี
            </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label for="status-i" class="form-check-label" style="font-weight:bold">
              <input class="form-check-input" type="radio" name="status" id="status-i" value="cancel"
                formControlName="status" checked="checked"> ข้อมูลยกเลิก
            </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label for="status-i" class="form-check-label" style="font-weight:bold">
              <input class="form-check-input" type="radio" name="status" id="status-i" value="add"
                formControlName="status"> ข้อมูลใบเพิ่มหนี้
            </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label for="status-i" class="form-check-label" style="font-weight:bold">
              <input class="form-check-input" type="radio" name="status" id="status-i" value="subtract"
                formControlName="status"> ข้อมูลใบลดหนี้
            </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label class="pull-right" style="font-weight:bold">เลขที่ใบกำกับภาษี</label>
          </div>

          <div class="form-group col-lg-2 pr-0">
            <input type="text" value="" id="branchNo" class="form-control" name="receiveNo">
          </div>

          <div class="form-group col-lg-1 pr-0">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> ค้นหา</a>
          </div>

          <div class="form-group col-lg-1 pr-0">
          </div>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th>ลำดับ<br>ที่<br>(1)</th>
              <th>วัน เดือน ปี<br>ที่ออก<br>ใบกำกับภาษี<br>(2)</th>
              <th>เลขที่ใบกำกับภาษี<br>(3)</th>
              <th>ชื่อผู้ซื้อสินค้า/ผู้รับบริการ<br>(4)</th>
              <th>เลขประจำตัวผู้เสียภาษี<br>อากรของผู้ซื้อ<br>สินค้า/ผู้รับบริการ<br>(5)</th>
              <th>สาขา<br>(6)</th>
              <th>ยอดขายที่ต้อง<br>เสียภาษี<br>VAT 7%<br>(7)</th>
              <th>ยอดขายที่ต้อง<br>เสียภาษี<br>VAT 0%<br>(8)</th>
              <th>ยอดขายที่<br>ยกเว้น VAT<br>(9)</th>
              <th>ภาษีขาย<br>(10)</th>
              <th>รวมมูลค้าสินค้า<br>และบริการ<br>(11)</th>
              <th>ประเภทเอกสาร<br>(12)</th>
              <th>อ้างอิงใบกำกับภาษี<br>(13)</th>
              <th>หมายเหตุ<br>(14)</th>
              <th>Signature Date<br>(15)</th>
              <th>แหล่งข้อมูล<br>(16)</th>
              <th>ดูข้อมูล<br>(17)</th>
            </tr>
          </thead>
          <tbody>
            
            <tr>
              <td align="center">1</td>
              <td align="center">13/09/2559</td>
              <td align="center">RDTIV0575526000058002</td>
              <td align="left">ธารา ยืนขำ</td>
              <td align="center">1-1045-99001-27-2</td>
              <td align="center">-</td>
              <td align="right">773.39</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">54.14</td>
              <td align="right">827.53</td>
              <td align="center">ใบกำกับภาษี</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center">13/09/2559 19:25</td>
              <td align="center">1</td>
              <td>
                <a href="trs/trsp020114" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center"><font color="red">2</font></td>
              <td align="center"><font color="red">15/12/2559</font></td>
              <td align="center"><font color="red">RDTIV0575526000058012</font></td>
              <td align="left"><font color="red">ธารา ยืนขำ</font></td>
              <td align="center"><font color="red">1-1045-99001-27-1</font></td>
              <td align="center"><font color="red">-</font></td>
              <td align="right"><font color="red">773.39</font></td>
              <td align="right"><font color="red">0.00</font></td>
              <td align="right"><font color="red">0.00</font></td>
              <td align="right"><font color="red">54.14</font></td>
              <td align="right"><font color="red">827.53</font></td>
              <td align="center"><font color="red">ใบกำกับภาษี</font></td>
              <td align="center"><font color="red"><a href="trs/trsp020107">RDTIV0575526000058002<br>13/09/2559 </a></font></td>
              <td align="center"><font color="red">ออกแทนใบที่ยกเลิก<br>(แก้ไขเลข 13 หลักผู้ซื้อ)</font></td>
              <td align="center"><font color="red">15/12/2559 02:48</font></td>
              <td align="center"><font color="red">1</font></td>
              <td>
                <a href="trs/trsp020124" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center"><font color="red">3</font></td>
              <td align="center"><font color="red">23/12/2559</font></td>
              <td align="center"><font color="red">RDTIV0575526000058013</font></td>
              <td align="left"><font color="red">บริษัท นครสวรรค์เจริญภัณฑ์ 1990 จก. </font></td>
              <td align="center"><font color="red">0-6044-47000-66-1</font></td>
              <td align="center"><font color="red">00000</font></td>
              <td align="right"><font color="red">14,060.48</font></td>
              <td align="right"><font color="red">0.00</font></td>
              <td align="right"><font color="red">0.00</font></td>
              <td align="right"><font color="red">984.23</font></td>
              <td align="right"><font color="red">15,044.71</font></td>
              <td align="center"><font color="red">ใบแจ้งหนี้/ใบกำกับภาษี</font></td>
              <td align="center"><font color="red"><a href="trs/trsp020108">RDTIV0575526000057120<br>20/08/2559 </a></font></td>
              <td align="center"><font color="red">ออกแทนใบที่ยกเลิก<br>(แก้ไขชื่อผู้ซื้อ)</font></td>
              <td align="center"><font color="red">23/12/2559 02:50</font></td>
              <td align="center"><font color="red">1</font></td>
              <td>
                <a href="trs/trsp020125" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="right"  style="font-weight:bold"colspan="6">รวม</td>
              <td align="right">773.39</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">54.14</td>
              <td align="right">827.53</td>
              <td align="center" colspan="6"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left">หมายเหตุ</label>
          </div>
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left">แหล่งข้อมูล</label>
          </div>
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-left">1 = e-Tax Invoice & e-Receipt</label>
          </div>
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left"></label>
          </div>
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left"></label>
          </div>
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-left">2 = e-Tax Invoice By Email</label>
          </div>
        </div>
      </div>
  </div>
</div>
