<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-left">
    เลขประจำตัวผู้เสียภาษีอากร :
  </div>
  <div class="col-12 col-sm-3">
    {{publicUser?.nId}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-left">
    ชื่อผู้เสียภาษีอากร :
  </div>
  <div class="col-12 col-sm-3">
    {{publicUser?.companyName}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-left">
    รหัสสาขา :
  </div>
  <div class="col-12 col-sm-3">
    {{publicUser?.fiCode}}
  </div>
  <div class="col-12 col-sm-2 text-sm-right text-center">
    หน่วยงาน :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser?.fiNameTh}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-center">
    ห้องเลขที่ :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.roomNo}}
  </div>
  <div class="col-12 col-sm-2 text-sm-right text-center">
    ชั้นที่ :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.floor}}
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-center">
    เลขที่ :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.no}}
  </div>
  <div class="col-12 col-sm-2 text-sm-right text-center">
    ที่ตั้ง :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.buildingName}}
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-center">
    ตรอก/ซอย :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.trok}} {{publicUser.address?.soi}}
  </div>
  <div class="col-12 col-sm-2 text-sm-right text-center">
    หมู่ที่ :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.moo}}
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-center">
    ถนน :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.road}}
  </div>
  <div class="col-12 col-sm-2 text-sm-right text-center">
    แขวง/ตำบล :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.tambonName}}
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-center">
    เขต/อำเภอ :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.amphoeName}}
  </div>
  <div class="col-12 col-sm-2 text-sm-right text-center">
    จังหวัด :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.provinceName}}
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-center">
    รหัสไปรษณีย์ :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.postcode}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 text-sm-right text-left">
    ชื่อ - สกุล ผู้มีอำนาจ :
  </div>
  <div class="col-12 col-sm-6">
    {{publicUser?.businessAuthorityTitleName}} {{publicUser?.businessAuthorityFirstName}} {{publicUser?.businessAuthorityLastName}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 text-sm-right text-left">
    เลขประจำตัวผู้เสียภาษีอากร ผู้มีอำนาจจัดการ:
  </div>
  <div class="col-12 col-sm-6">
    {{publicUser?.businessAuthorityId}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 text-sm-right text-left">
    ชื่อ - สกุล ลูกจ้างหรือผู้กระทำการแทนฯ ในประเทศไทย :
  </div>
  <div class="col-12 col-sm-6">
    {{publicUser?.businessDelegateTitleName}} {{publicUser?.businessDelegateFirstName}} {{publicUser?.businessDelegateLastName}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 text-sm-right text-left">
    เลขประจำตัวผู้เสียภาษีอากรผู้กระทำการแทนฯ ในประเทศไทย :
  </div>
  <div class="col-12 col-sm-6">
    {{publicUser?.businessDelegateId}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 text-sm-right text-left">
    เบอร์โทรศัพท์เคลื่อนที่ผู้รับมอบอำนาจกระทำการแทนฯ :
  </div>
  <div class="col-12 col-sm-6">
    {{publicUser?.businessDelegatePhoneNumber}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 text-sm-right text-left">
    อีเมลผู้รับมอบอำนาจกระทำการแทนฯ :
  </div>
  <div class="col-12 col-sm-6">
    {{publicUser?.businessDelegateEmail}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 text-sm-right text-left">
    ชื่อ - สกุล ผู้ยื่นคำขอ :
  </div>
  <div class="col-12 col-sm-6">
    {{publicUser.submitterName | replaceNullValue: '-'}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 text-sm-right text-left">
    เลขประจำตัวผู้ยื่นคำขอ:
  </div>
  <div class="col-12 col-sm-6">
    {{publicUser.submitterPersonalNumber | replaceNullValue: '-'}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 text-sm-right text-left">
    อีเมล ผู้ยื่นคำขอ:
  </div>
  <div class="col-12 col-sm-6">
    {{publicUser.submitterEmail | replaceNullValue: '-'}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 text-sm-right text-left">
    เบอร์โทร ผู้ยื่นคำขอ:
  </div>
  <div class="col-12 col-sm-6">
    {{publicUser.submitterPhoneNumber | replaceNullValue: '-'}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 text-sm-right text-left">
    ประเภทข้อมูลที่นำส่ง:
  </div>
  <div class="col-12 col-sm-6" [innerHTML]="publicUser.innerHTMLDataTypeName"></div>
</div>
