 <div class="card mb-4">
    <div class="card-header ">
      <div class="justify-content-left">
        <h4>สรุปผลการยื่นขอใบรับรองอิเล็กทรอนิกส์</h4>
      </div>
    </div>
    <div class="card-body">
      <!-- row 1 -->
      <div class="row form-group">
        <div class="col-12 text-center">
          <label> เลขที่คำขอ: {{userCertRegister.reqId}} </label>
        </div>
      </div>
      <!-- row 2 -->
<!--      <div class="row form-group">-->
<!--        <div class="col-12 text-center">-->
<!--          <label> อุปกรณ์ที่ใช้จัดเก็บใบรับรอง: {{userCertRegister.deviceName}} </label>-->
<!--        </div>-->
<!--      </div>-->
      <!-- row 3 -->
      <div class="row form-group">
        <div class="col-12 text-center">
          <label> เมื่อผู้ดูแลระบบดำเนินการอนุมัติใบรับรองอิเล็กทรอนิกส์เรียบร้อย <br /> ระบบจะทำการส่งอีเมลแจ้งเตือนให้ท่าน ไปยังอีเมลแอดเดรส {{userCertRegister?.userDto?.email}} </label>
        </div>
      </div>
    </div>
  </div>
 <div class="text-center col-12 ">
   <a type="button" class="btn btn-success" [routerLink]="['/cert/user/search']">
     <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
     <span >     หน้าหลัก</span>
   </a>
 </div>

