<router-outlet #outlet="outlet"></router-outlet>
<section *ngIf="!outlet.isActivated">
  <div class="header-title mb-4">
    <div class="row">
      <div class="col-12 col-sm-11">
        <h1>
          <app-back-button></app-back-button>
          <strong>{{getSpendingName(typeSpending)}} : {{getMonthName(searchState?.taxMonthStart) }} {{searchState?.taxYearStart | thaiYear}} - {{getMonthName(searchState?.taxMonthEnd) }} {{searchState?.taxYearEnd | thaiYear}} </strong>
        </h1>
      </div>
      <div class="col-12 col-sm-1 d-block text-right">
        <button type="button" class="btn btn-primary btn-auto" #printBtn>
          <i class="fa fa-print"></i> พิมพ์
        </button>
      </div>
    </div>
  </div>


  <div class="card mb-4">
  
    <div class="card-body">
      เลขประจำตัวผู้เสียภาษีอากร : <b>{{ pin | mask: '0-0000-00000-00-0' }}</b>&nbsp;&nbsp;   
      ชื่อผู้เสียภาษีอากร :  <b>{{ address?.name }}</b>&nbsp;&nbsp;
      สาขา   <b>{{ address?.branchNo}}</b><br/>   
      ที่อยู่ : <b>{{ address?.buildingName || '' }} {{ address?.roomNo || '' }}
      {{ address?.floor || '' }} {{ address?.village || '' }}
      {{ address?.addressNo || '' }} {{ address?.moo || '' }}
      {{ address?.soi || '' }} {{ address?.lane || '' }}
      {{ address?.road || '' }} {{ address?.subDistrict || '' }}
      {{ address?.district || '' }} {{ address?.province || '' }}
      {{ address?.postcode || '' }}</b> <br/>   
      สำนักงานภูมิลำเนา : <b>{{ address?.offcodeName || '' }}</b>
  </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>{{getSpendingName(typeSpending)}} </h4>
    </div>
    <div class="card-body">
      <table
        class="table table-striped table-bordered table-sm"
        cellspacing="0"
        width="100%"
      >
        <thead>
        <tr role="row">
          <!-- <th class="text-center" scope="col" style="width: 50px"></th> -->
          <th class="text-center" scope="col" style="width: 50px"></th>
          <th class="text-center" scope="col">เดือนภาษี</th>
          <th class="text-center" scope="col">ปีภาษี</th>
          <th class="text-center" scope="col">จำนวน <br> เงิน (บาท)</th>
          <th class="text-center" scope="col">จำนวนภาษี <br> มูลค่าเพิ่ม (บาท)</th>
          <th class="text-center" scope="col"></th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of monthsSpending; let i = index" role="row" [class.odd]="i % 2 == 0">
          <td class="text-center">{{i+1}} </td>
          <td class="text-center">{{getMonthName(row.month)}}</td>
          <td class="text-center">{{row.year | thaiYear}}</td>
          <td class="text-right">{{ row.paymentAmount | number: '1.2-2' }}</td>
          <td class="text-right">{{ row.vatAmount | number: '1.2-2' }}</td>
          <td class="text-center">
              <button
              type="button"
              class="btn btn-orange btn-sm btn-auto"
              (click)="routDetail(row.month, row.year)"
              tooltip="ดูรายละเอียด">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        
        </tbody>
        <tfoot>
          <tr [class.odd]="monthsSpending.length % 2 != 0" role="row">
              <td colspan="3" class="text-center"><b>รวม</b></td>
              <td class="text-right"><b>{{ sum(monthsSpending, 'paymentAmount') | number: '1.2-2' }}</b></td>
              <td class="text-right"><b>{{ sum(monthsSpending, 'vatAmount') | number: '1.2-2' }}</b></td>
              <td class="text-right"></td>
          </tr>
          </tfoot>
      </table>
    </div>
  </div>
</section>
