<section>
    <div class="header-title mb-4">
        <h1>
            <app-back-button></app-back-button>
            <strong>{{pndGroup | thaiPndGroup}} {{ pndType | thaiPndType }} : เดือน{{ taxMonth | thaiMonth }} {{ taxYear }}</strong>
        </h1>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <h4><i class="fa fa-list"></i> ข้อมูลผู้เสียภาษีอากร</h4>
        </div>
        <div class="card-body">
            เลขประจำตัวผู้เสียภาษีอากร : <b>{{ pin | mask: '0-0000-00000-00-0' }}</b>&nbsp;&nbsp;   
            ชื่อผู้เสียภาษีอากร :  <b>{{ address?.name }}</b>&nbsp;&nbsp;
            สาขา   <b>{{ address?.branchNo}}</b><br/>   
            ที่อยู่ : <b>{{ address?.buildingName || '' }} {{ address?.roomNo || '' }}
            {{ address?.floor || '' }} {{ address?.village || '' }}
            {{ address?.addressNo || '' }} {{ address?.moo || '' }}
            {{ address?.soi || '' }} {{ address?.lane || '' }}
            {{ address?.road || '' }} {{ address?.subDistrict || '' }}
            {{ address?.district || '' }} {{ address?.province || '' }}
            {{ address?.postcode || '' }}</b> <br/>   
            สำนักงานภูมิลำเนา : <b>{{ address?.offCodeName || '' }}</b>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <h4><i class="fa fa-list"></i> {{pndGroup | thaiPndGroup}} {{ pndType | thaiPndType }} </h4>
        </div>
        <div class="card-body">
            <div class="row mt-2">
                <div class="col-12">
                    <div class="row" *ngIf="pndGroup !== 'VAT_PP36' && pndGroup !== 'OTHER'">
                        <legend class="col-form-label col-sm-2">มุมมองการแสดงข้อมูล :</legend>
                        <div class="col-sm-4 text-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" [(ngModel)]="radio" id="inlineRadio1" value="1">
                                <label class="form-check-label" for="inlineRadio1">รายการยื่นแบบ</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" [(ngModel)]="radio" id="inlineRadio2" value="2">
                                <label class="form-check-label" for="inlineRadio2">รายการธุรกรรม</label>
                            </div>
                        </div>
                    </div>
                    <div class="row table-conclusion">
                        <div class="col-12 col-sm-3" *ngIf="pndGroup !== 'VAT_PP36' && pndGroup !== 'OTHER'">
                            รวมจำนวนรายการ : <b>{{ (radio == '1') ? pageableF.total : pageable.total }} รายการ</b>
                        </div>
                        <div class="col-12 col-sm-3" *ngIf="pndGroup === 'VAT_PP36' || pndGroup === 'OTHER'">
                            รวมจำนวนรายการ : <b>{{ pageable.total }} รายการ</b>
                        </div>
                        <div class="col-12 col-sm-3" *ngIf="pndGroup !== 'VAT_PP36' && pndGroup !== 'OTHER'">
                            รวมจำนวนเงิน : <b>{{ ((radio == '1') ? countTransactionByPndType?.sumIncomeAmount : countTransaction?.sumIncomeAmount) | number:'1.2-2' }} บาท</b>
                        </div>
                        <div class="col-12 col-sm-3" *ngIf="pndGroup !== 'VAT_PP36' && pndGroup !== 'OTHER'">
                            รวมภาษีเงินได้ หัก ณ ที่จ่าย : <b>{{ ((radio == '1') ? countTransactionByPndType?.sumGrandWhtAmount : countTransaction?.sumWhtAmount) | number:'1.2-2' }} บาท</b>
                        </div>
                        <div class="col-12 col-sm-2" *ngIf="radio === '1' && pndGroup !== 'VAT_PP36' && pndGroup !== 'OTHER'"></div>
                        <div class="col-12 col-sm-2" *ngIf="radio !== '1'" >
                            รวมภาษีมูลค่าเพิ่ม : <b>{{ ((radio == '1') ? 0.00 : countTransaction?.sumVatAmount) | number:'1.2-2' }} บาท</b>
                        </div>
                        <div class="col-12 col-sm-3"  *ngIf="pndGroup == 'VAT_PP36' || pndGroup == 'OTHER'" >
                            รวมจำนวนเงิน : <b>{{ countTransaction?.sumIncomeAmount | number:'1.2-2' }} บาท</b>
                        </div>
                        <div class="col-12 col-sm-3" *ngIf="pndGroup == 'OTHER'">
                            รวมภาษีเงินได้ หัก ณ ที่จ่าย : <b>{{ countTransaction?.sumWhtAmount | number:'1.2-2' }} บาท</b>
                        </div>
                        <div class="col-12 col-sm-3" *ngIf="pndGroup == 'VAT_PP36' || pndGroup == 'OTHER'" >
                            รวมภาษีมูลค่าเพิ่ม : <b>{{  countTransaction?.sumVatAmount | number:'1.2-2' }} บาท</b>
                        </div>
                        <div class="col-12 col-sm-2" *ngIf="pndGroup == 'VAT_PP36' || pndGroup == 'OTHER'"></div>
                       
                        <div class="col-12 col-sm-1">
                            <a *ngIf="radio == '1'" target="_blank" class="btn btn-primary" [routerLink]="['/print/preview/pnd1-filing-tax']">
                                <i class="fa fa-print"></i> พิมพ์
                            </a>
                            <a *ngIf="radio == '2'" target="_blank" class="btn btn-primary" [routerLink]="['/print/preview/pnd1-transaction-tax']">
                                <i class="fa fa-print"></i> พิมพ์
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <nz-table *ngIf="radio == '1' && pndGroup !== 'VAT_PP36' && pndGroup !== 'OTHER'" #tableF nzShowSizeChanger [nzFrontPagination]="false" [nzData]="dataFilingSet" [nzLoading]="pageableF.loading" [nzTotal]="pageableF.total" [(nzPageIndex)]="pageableF.pageIndex" [(nzPageSize)]="pageableF.pageSize" (nzPageIndexChange)="searchFilingData()" (nzPageSizeChange)="searchFilingData(true)" [nzShowTotal]="tableTotalF" nzBordered>
                <thead>
                    <tr role="row">
                        <th class="text-center"></th>
                        <th class="text-center">เลขที่<br>แบบ</th>
                        <th class="text-center">ประเภท<br>การยื่นแบบ</th>
                        <th class="text-center" *ngIf="pndGroup == 'WHT'">จำนวน<br>ราย</th>
                        <th class="text-center" *ngIf="pndGroup == 'DEDUCTION'">ผู้ยื่นแบบ<br>(ผู้มีหน้าที่หักภาษี ณ ที่จ่าย)</th>
                        <th class="text-center" *ngIf="pndGroup == 'WHT'">รวมเงินได้ทั้งสิ้น<br>(บาท)</th>
                        <th class="text-center" *ngIf="pndGroup == 'DEDUCTION'">จำนวนเงินที่ได้จ่าย<br>ในครั้งนี้ (บาท)</th>
                        <th class="text-center" *ngIf="pndGroup == 'WHT'">เงินเพิ่ม (ถ้ามี)<br>(บาท)</th>
                        <th class="text-center" *ngIf="pndGroup == 'WHT'">รวมภาษี<br>ที่นำส่งทั้งสิ้น (บาท)</th>
                        <th class="text-center" *ngIf="pndGroup == 'DEDUCTION'">จำนวนเงินภาษีที่หัก<br>และนำส่งในครั้งนี้ (บาท)</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr role="row" class="odd" *ngFor="let data of dataFilingSet; let i = index">
                        <td class="text-center">{{ (pageableF.pageIndex - 1) * pageableF.pageSize + i + 1 }}</td>
                        <td class="text-center">{{ data.taxFilingNo }}</td>
                        <td >{{ data.filingType == 0 ? 'ยื่นปกติ' : 'ยื่นเพิ่มเติม ครั้งที่ '+ data.filingType}}</td >
                        <td class="text-right" *ngIf="pndGroup == 'WHT'">{{ data.noOfPerson }}</td>
                        <td *ngIf="pndGroup == 'DEDUCTION'">{{ data.name }}</td>
                        <td class="text-right">{{ data.incomeAmount | number:'1.2-2' }}</td>
                        <td class="text-right" *ngIf="pndGroup == 'DEDUCTION'">{{ data.whtAmount | number:'1.2-2' }}</td>
                        <td class="text-right" *ngIf="pndGroup == 'WHT'">{{ data.surcharge | number:'1.2-2' }}</td>
                        <td class="text-right" *ngIf="pndGroup == 'WHT'">{{ data.grandTotalWhtAmount | number:'1.2-2' }}</td>
                        <td class="text-center">
                            <button *ngIf="pndGroup == 'WHT'" type="button" class="btn btn-orange btn-sm btn-auto" (click)="openFilingForm(content, data.filingId)"
                                tooltip="ดูแบบ">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                            <button *ngIf="pndGroup == 'DEDUCTION'" type="button" class="btn btn-orange btn-sm btn-auto" (click)="openFilingForm(content, data.filingDetailId)"
                                tooltip="ดูแบบ">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <ng-template #tableTotalF let-range="range" let-total>
                แสดง {{range[0]}}-{{range[1]}} จาก ทั้งหมด {{total |number}} รายการ
            </ng-template>
            <nz-table *ngIf="radio == '2' && pndGroup !== 'VAT_PP36' && pndGroup !== 'OTHER'" #table nzShowSizeChanger [nzFrontPagination]="false" [nzData]="dataSet" [nzLoading]="pageable.loading" [nzTotal]="pageable.total" [(nzPageIndex)]="pageable.pageIndex" [(nzPageSize)]="pageable.pageSize" (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)" [nzShowTotal]="tableTotal" nzBordered nzSize="middle"
              [nzFooter]="footer">
                <thead>
                    <tr>
                        <th class="text-center"></th>
                        <th class="text-center" *ngIf="pndGroup == 'WHT'">เลขประจำตัว<br>ผู้เสียภาษีอากรผู้ถูกหัก</th>
                        <th class="text-center" *ngIf="pndGroup == 'DEDUCTION'">เลขประจำตัว<br>ผู้เสียภาษีอากรผู้ที่หัก</th>
                        <th class="text-center" *ngIf="pndGroup == 'WHT'">ชื่อ - นามสกุล<br>ผู้ถูกหัก</th>
                        <th class="text-center" *ngIf="pndGroup == 'DEDUCTION'">ชื่อ - นามสกุล<br>ผู้ที่หัก</th>
                        <th class="text-center" *ngIf="pndGroup == 'WHT'">ที่อยู่<br>ผู้ถูกหัก</th>
                        <th class="text-center" *ngIf="pndGroup == 'DEDUCTION'">ที่อยู่<br>ผู้ที่หัก</th>
                        <th class="text-center">ประเภท<br>เงินได้</th>
                        <th class="text-center" *ngIf="pndGroup == 'WHT'">จำนวน<br>เงิน (บาท)</th>
                        <th class="text-center" *ngIf="pndGroup == 'DEDUCTION'">รวมเงิน<br>ที่จ่าย (บาท)</th>
                        <th class="text-center" *ngIf="pndGroup == 'WHT'">ภาษีเงินได้<br>หัก ณ ที่จ่าย (บาท)</th>
                        <th class="text-center" *ngIf="pndGroup == 'DEDUCTION'">จำนวนเงินภาษี<br>หัก ณ ที่จ่าย (บาท)</th>
                        <th class="text-center">เงื่อนไข<br>การหัก*</th>
                        <th class="text-center" *ngIf="pndGroup == 'WHT'">ภาษี<br>มูลค่าเพิ่ม (บาท)</th>
                        <th class="text-center" *ngIf="pndGroup == 'DEDUCTION'">จำนวนเงินภาษี<br>มูลค่าเพิ่ม (บาท)</th>
                        <th class="text-center">วันที่<br>จ่ายเงิน</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of dataSet; let i = index">
                        <td class="text-center">{{ (pageable.pageIndex - 1) * pageable.pageSize + i + 1 }}</td>
                        <td class="text-center" *ngIf="pndGroup == 'WHT'">{{ data.recipientPin | mask: '0-0000-00000-00-0' }}</td>
                        <td class="text-center" *ngIf="pndGroup == 'DEDUCTION'">{{ data.taxAgentPin | mask: '0-0000-00000-00-0' }}</td>
                        <td *ngIf="pndGroup == 'WHT'">{{ data.recipientName }}</td>
                        <td *ngIf="pndGroup == 'DEDUCTION'">{{ data.name }}</td>
                        <td *ngIf="pndGroup == 'WHT'">{{ data.recipientAddress }}</td>
                        <td *ngIf="pndGroup == 'DEDUCTION'">{{ data.address }}</td>
                        <td *ngIf="pndGroup == 'WHT'">{{ data.incomeName }}</td>
                        <td *ngIf="pndGroup == 'DEDUCTION'">{{ data.incomeNameTh }}</td>
                        <td class="text-right">{{ data.incomeAmount | number:'1.2-2' }}</td>
                        <td class="text-right">{{ data.whtAmount | number:'1.2-2' }}</td>
                        <td class="text-center">{{ data.taxAgentType }}</td>
                        <td class="text-right">{{ data.vatAmount | number:'1.2-2' }}</td>
                        <td class="text-center">{{ data.paymentDate | thaidate}}</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-orange btn-sm btn-auto" (click)="openTransactionForm(transaction, data.filingDetailId)"
                                tooltip="ดูธุรกรรม">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <ng-template #footer>
                <p><b>* หมายเหตุ :</b> เงื่อนไขการหัก 1 = หัก ณ ที่จ่าย     2=ออกให้ตลอดไป    3=ออกให้ครั้งเดียว</p>
            </ng-template>
            <ng-template #tableTotal let-range="range" let-total>
                แสดง {{range[0]}}-{{range[1]}} จาก ทั้งหมด {{total |number}} รายการ
            </ng-template>
            <nz-table *ngIf="pndGroup === 'VAT_PP36'" #tableF nzShowSizeChanger [nzFrontPagination]="false" [nzData]="dataSet" [nzLoading]="pageable.loading" [nzTotal]="pageable.total" [(nzPageIndex)]="pageable.pageIndex" [(nzPageSize)]="pageable.pageSize" (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)" [nzShowTotal]="tableTotalV" nzBordered>
                <thead>
                    <tr role="row">
                        <th class="text-center"></th>
                        <th class="text-center">เลขที่<br>แบบ</th>
                        <th class="text-center">ประเภท<br>การยื่นแบบ</th>
                        <th class="text-center">ชื่อผู้ประกอบการ<br>ผู้ขาย</th>
                        <th class="text-center">ที่อยู่<br>ผู้ประกอบการ</th>
                        <th class="text-center">จ่ายเงินชำระ<br>ราคาสำหรับ</th>
                        <th class="text-center">จำนวนเงิน<br>(บาท)</th>
                        <th class="text-center">ภาษี<br>มูลค่าเพิ่ม (บาท)</th>
                        <th class="text-center">อัตราภาษี</th>
                        <th class="text-center">วันที่<br>จ่ายเงิน</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr role="row" class="odd" *ngFor="let data of dataSet; let i = index">
                        <td class="text-center">{{ (pageable.pageIndex - 1) * pageable.pageSize + i + 1 }}</td>
                        <td class="text-center">{{ data.taxFilingNo }}</td>
                        <td>{{ data.filingType == 0 ? 'ยื่นปกติ' : 'ยื่นเพิ่มเติม ครั้งที่ '+ data.filingType}}</td >
                        <td>{{ data.name }}</td>
                        <td>{{ data.address }}</td>
                        <td>{{ data.payFor }}</td>
                        <td class="text-right">{{ data.amount | number:'1.2-2' }}</td>
                        <td class="text-right">{{ data.vatAmount | number:'1.2-2' }}</td>
                        <td class="text-right">{{ data.vatRate | number:'1.2-2' }}</td>
                        <td class="text-center">{{ data.paymentDate | thaidate }}</td>
                        <td class="text-center text-nowrap">
                            <button type="button" class="btn btn-orange btn-sm btn-auto"
                              (click)="openFilingForm(contentVatPnd, data.filingId)"
                              tooltip="ดูแบบ">
                              <i class="fa fa-file-o" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-orange btn-sm btn-auto"
                              (click)="openVatTransactionForm(contentVatTransaction, data.filingId)"
                              tooltip="ดูธุรกรรม">
                               <i class="fa fa-dollar"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <ng-template #tableTotalV let-range="range" let-total>
                แสดง {{range[0]}}-{{range[1]}} จาก ทั้งหมด {{total |number}} รายการ
            </ng-template>
            <nz-table *ngIf="pndGroup === 'OTHER'" #tableO nzShowSizeChanger [nzFrontPagination]="false" [nzData]="dataSet" [nzScroll]="{ x: '1100px' }" [nzLoading]="pageable.loading" [nzTotal]="pageable.total" [(nzPageIndex)]="pageable.pageIndex" [(nzPageSize)]="pageable.pageSize" (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)" [nzShowTotal]="tableTotalO" nzBordered>
                <thead>
                    <tr role="row">
                        <th class="text-center" scope="col" rowspan="2" style="width: 50px"></th>
                        <th class="text-center" scope="col" rowspan="2">ชื่อผู้ประกอบการ<br>ที่รับเงิน</th>
                        <th class="text-center" scope="col" rowspan="2">ที่อยู่<br>ผู้ประกอบการ</th>
                        <th class="text-center" scope="col" rowspan="2">วันที่จ่ายเงิน</th>
                        <th class="text-center" scope="col" rowspan="2">ประเภทเงินได้</th>
                        <th class="text-center" scope="col" colspan="4">ภาษีเงินไดัหัก ณ ที่จ่าย</th>
                        <th class="text-center" scope="col" colspan="4">ภาษีมูลค่าเพิ่ม</th>
                        <th class="text-center" scope="col" rowspan="2" style="width: 20px"></th>
                      </tr>
                      <tr role="row">
                        <th class="text-center" scope="col">เลขที่แบบ</th>
                        <th class="text-center" scope="col">จำนวนเงิน<br>(บาท)</th>
                        <th class="text-center" scope="col">อัตรา<br>ภาษี</th>
                        <th class="text-center" scope="col">ภาษีเงินได้<br>หัก ณ ที่จ่าย (บาท)</th>
                        <th class="text-center" scope="col">เลขที่แบบ</th>
                        <th class="text-center" scope="col">จำนวนเงิน<br>(บาท)</th>
                        <th class="text-center" scope="col">อัตรา<br>ภาษี</th>
                        <th class="text-center" scope="col">ภาษีมูลค่าเพิ่ม<br>(บาท)</th>
                      </tr>
                </thead>
                <tbody>
                    <tr role="row" class="odd" *ngFor="let data of dataSet; let i = index">
                        <td class="text-center">{{ (pageable.pageIndex - 1) * pageable.pageSize + i + 1 }}</td>
                        <td class="text-center">{{ data.name }}</td>
                        <td class="text-center">{{ data.address }}</td>
                        <td class="text-right">{{ data.paymentDate | thaidate }}</td>
                        <td class="text-right">{{ data.incomeName }}</td>
                        <td class="text-right">{{ data.whtFilingNo }}</td>
                        <td class="text-center">{{ data.incomeAmount | number:'1.2-2' }}</td>
                        <td class="text-right">{{ data.whtRate | number:'1.2-2' }}</td>
                        <td class="text-right">{{ data.whtAmount | number:'1.2-2' }}</td>
                        <td class="text-right">{{ data.vatFilingNo }}</td>
                        <td class="text-center">{{ data.amount | number:'1.2-2' }}</td>
                        <td class="text-right">{{ data.vatRate | number:'1.2-2' }}</td>
                        <td class="text-right">{{ data.vatAmount | number:'1.2-2' }}</td>
                        <td class="text-center text-nowrap">
                            <button
                                type="button"
                                class="btn btn-orange btn-sm btn-auto"
                                (click)="openPnd54InOtherType(Pnd54InOtherTypeContent,data.filingDetailId)"
                                tooltip="ดู ภ.ง.ด.54">
                                <i class="fa fa-file-o" aria-hidden="true"></i>
                            </button>
                            <button
                                type="button"
                                class="btn btn-orange btn-sm btn-auto"
                                (click)="openFilingForm(contentVatPnd, data.vatFilingId)"
                                tooltip="ดู ภ.พ.36">
                                <i class="fa fa-file-o" aria-hidden="true"></i>
                            </button>
                            <button
                                type="button"
                                class="btn btn-orange btn-sm btn-auto"
                                (click)="openPnd54InOtherTransactionType(Pnd54InOtherTransactionTypeContent,data.filingDetailId)"
                                tooltip="ดูธุรกรรม">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <ng-template #tableTotalO let-range="range" let-total>
                แสดง {{range[0]}}-{{range[1]}} จาก ทั้งหมด {{total |number}} รายการ
            </ng-template>
        </div>
    </div>
</section>

<ng-template #content let-modal>
    <!-- <div class="modal-dialog modal-xl"> -->
        <div class="modal-header">
            <h4 class="modal-title title mt-auto text-left" id="modal-basic-title" style="margin-left: -20px;">
                {{ pndType | thaiPndType }} {{(pndType == 'PND01')?'แบบยื่นรายการภาษีเงินได้หัก ณ ที่จ่าย ตามมาตรา 59 แห่งประมวลรัษฎากรสำหรับการหักภาษี ณ ที่จ่ายตามมาตรา 50 (1) กรณีการจ่ายเงินได้พึงประเมินตามมาตรา 40 (1) (2) แห่งประมวลรัษฎากร'
            :(pndType == 'PND02')?'แบบยื่นรายการภาษีเงินได้หัก ณ ที่จ่าย ตามมาตรา 59 แห่งประมวลรัษฎากรสำหรับการหักภาษี ณ ที่จ่ายตามมาตรา 50(2) กรณีการจ่ายเงินได้พึงประเมินตามมาตรา 40(3)(4) แห่งประมวลรัษฎากร'
            :(pndType == 'PND03')?'แบบยื่นรายการภาษีเงินได้หัก ณ ที่จ่าย ตามมาตรา 59 แห่งประมวลรัษฎากรสำหรับการหักภาษี ณ ที่จ่ายตามมาตรา 3 เตรส และมาตรา 50 (3) (4) (5) กรณีการจ่ายเงินได้พึงประเมินตามมาตรา 40 (5) (6) (7) (8) และเสียภาษีตามมาตรา 48 ทวิแห่งประมวลรัษฎากร'
            :(pndType == 'PND53')?'แบบยื่นรายการภาษีเงินได้หัก ณ ที่จ่าย ตามมาตรา 3 เตรส และมาตรา 69 ทวิ และการเสียภาษีตามมาตรา 65 จัตวา แห่งประมวลรัษฎากร'
            :(pndType == 'PND54')?'แบบยื่นรายการนำส่งภาษีเงินได้นิติบุคคล และการจำหน่ายเงินกำไร ตามมาตรา 70 และตามมาตรา 70 ทวิ แห่งประมวลรัษฎากร': ''}}
            </h4>
            <br>
            <a target="_blank" class="btn btn-primary btn-auto" #printFilingBtn (click)="print()">
                <i class="fa fa-print"></i> พิมพ์
            </a>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <pdf-viewer [src]="urlPdf" [render-text]="true" [autoresize]="true" [fit-to-page]="true" [stick-to-page]="true" style="display: block;"></pdf-viewer>
                </div>
            </div>
        </div>
        <div class="row text-center d-block">
            <button type="button" class="btn btn-danger btn-auto" (click)="modalService.dismissAll()" #closeBtn>
                <i class="fa fa-close"></i> ปิด
            </button>
        </div>
    <!-- </div>     -->
</ng-template>

<ng-template #transaction let-modal>
    <div class="modal-header">
        <h4 class="modal-title title mt-auto text-left" id="modal-basic-title" style="margin-left: -20px;">
            รายละเอียดธุรกรรมภาษีเงินได้หัก ณ ที่จ่าย รายการที่หักผู้อื่น ({{ pndType | thaiPndType }})
        </h4>
        <br>
        <a target="_blank" class="btn btn-primary btn-auto" (click)="print()">
            <i class="fa fa-print"></i> พิมพ์
        </a>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <pdf-viewer [src]="urlPdf" [render-text]="true" [autoresize]="true" [fit-to-page]="true" [stick-to-page]="true" style="display: block;" ></pdf-viewer>
            </div>
        </div>
    </div>
    
    <div class="row text-center d-block">
        <button type="button" class="btn btn-danger btn-auto" (click)="modalService.dismissAll()" #closeBtn>
            <i class="fa fa-close"></i> ปิด
        </button>
    </div>
</ng-template>

<ng-template #contentVatPnd let-modal>
    <div class="modal-header">
        <h4 class="modal-title title mt-auto text-left" id="modal-basic-title" style="margin-left: -20px;">
            {{ pndType | thaiPndType }} แบบนำส่งภาษีมูลค่าเพิ่ม ตามประมวลรัษฎากร
        </h4>
        <br>
        <a target="_blank" class="btn btn-primary btn-auto" #printFilingBtn (click)="print()">
            <i class="fa fa-print"></i> พิมพ์
        </a>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <pdf-viewer [src]="urlPdf" [render-text]="true" [autoresize]="true" [fit-to-page]="true" [stick-to-page]="true" style="display: block;" ></pdf-viewer>
            </div>
        </div>
    </div>
    <div class="row text-center d-block">
        <button type="button" class="btn btn-danger btn-auto" (click)="modalService.dismissAll()" #closeBtn>
            <i class="fa fa-close"></i> ปิด
        </button>
    </div>
</ng-template>

<ng-template #contentVatTransaction let-modal>
    <div class="modal-header">
        <h4 class="modal-title title mt-auto text-left" id="modal-basic-title" style="margin-left: -20px;">
            รายละเอียดธุรกรรมยอดซื้อภาษีมูลค่าเพิ่ม ({{ pndType | thaiPndType }})
        </h4>
        <br>
        <a target="_blank" class="btn btn-primary btn-auto" #printFilingBtn (click)="print()">
            <i class="fa fa-print"></i> พิมพ์
        </a>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <pdf-viewer [src]="urlPdf" [render-text]="true" [autoresize]="true" [fit-to-page]="true" [stick-to-page]="true" style="display: block;" ></pdf-viewer>
            </div>
        </div>
    </div>
    <div class="row text-center d-block">
        <button type="button" class="btn btn-danger btn-auto" (click)="modalService.dismissAll()" #closeBtn>
            <i class="fa fa-close"></i> ปิด
        </button>
    </div>
</ng-template>
<ng-template #Pnd54InOtherTypeContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title title mt-auto text-left" id="modal-basic-title" style="margin-left: -20px;">
            ภ.ง.ด.54  แบบยื่นรายการนำส่งภาษีเงินได้นิติบุคคล และการจำหน่ายเงินกำไร<br/>
            ตามมาตรา 70 และมาตรา 70 ทวิ แห่งประมวลรัษฎากร 
        </h4>
        <br>
        <a target="_blank" class="btn btn-primary btn-auto" #printFilingBtn (click)="print()">
            <i class="fa fa-print"></i> พิมพ์
        </a>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <pdf-viewer [src]="urlPdf" [render-text]="true" [autoresize]="true" [fit-to-page]="true" [stick-to-page]="true" style="display: block;"></pdf-viewer>
            </div>
        </div>
    </div>
    <div class="row text-center d-block">
        <button type="button" class="btn btn-danger btn-auto" (click)="modalService.dismissAll()" #closeBtn>
            <i class="fa fa-close"></i> ปิด
        </button>
    </div>
</ng-template>
<ng-template #Pnd54InOtherTransactionTypeContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title title mt-auto text-left" id="modal-basic-title" style="margin-left: -20px;">
            รายละเอียดธุรกรรมของข้อมูล ภ.ง.ด.54 และ ภ.พ.36 
        </h4>
        <br>
        <a target="_blank" class="btn btn-primary btn-auto" #printFilingBtn (click)="print()">
            <i class="fa fa-print"></i> พิมพ์
        </a>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <pdf-viewer [src]="urlPdf" [render-text]="true" [autoresize]="true" [fit-to-page]="true" [stick-to-page]="true" style="display: block;" ></pdf-viewer>
            </div>
        </div>
    </div>
    <div class="row text-center d-block">
        <button type="button" class="btn btn-danger btn-auto" (click)="modalService.dismissAll()" #closeBtn>
            <i class="fa fa-close"></i> ปิด
        </button>
    </div>
</ng-template>