<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>ระบบตรวจสอบและติดตาม (Monitor) การทำงานของระบบสำหรับเจ้าหน้าที่กรมสรรพากร</h4>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
            <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
              <div class="panel-heading2">
                <div class="panel-title" style="max-width: calc(100% - 72px);">
                  <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
                  <h4 align="center">ตรวจสอบและติดตามข้อมูลสถานะการทำงานของระบบ และมีฟังก์ชันสนับสนุนการทำงานแบบ Manual</h4>
                </div>
              </div>
        
              <div class="panel-body">
                <div class="row">
                  <div class="form-group col-lg-4 pr-0">
                    <a href="mns/mnsp011901" class="btn btn-orange btn-sm">
                      <img src="assets/dist/img/mns/1.jpg"></a>
                  </div>
                  <div class="form-group col-lg-4 pr-0">
                    <a href="mns/mnsp011901" class="btn btn-orange btn-sm">
                      <img src="assets/dist/img/mns/2.jpg"></a>
                  </div>
                  <div class="form-group col-lg-4 pr-0">
                    <a href="mns/mnsp011901" class="btn btn-orange btn-sm">
                      <img src="assets/dist/img/mns/3.jpg"></a>
                  </div>

                  <div class="form-group col-lg-4 pr-0">
                    <a href="mns/mnsp011901" class="btn btn-orange btn-sm">
                      <img src="assets/dist/img/mns/4.jpg"></a>
                  </div>
                  <div class="form-group col-lg-4 pr-0">
                    <a href="mns/mnsp011901" class="btn btn-orange btn-sm">
                      <img src="assets/dist/img/mns/5.jpg"></a>
                  </div>
                  <div class="form-group col-lg-4 pr-0">
                    <a href="mns/mnsp011901" class="btn btn-orange btn-sm">
                      <img src="assets/dist/img/mns/6.jpg"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
            <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
              <div class="panel-heading2">
                <div class="panel-title-dashboard" style="max-width: calc(100% - 72px);">
                  <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
                  <h4 align="center">ตรวจสอบและติดตามข้อมูลสถานะการทำงานของระบบ</h4>
                </div>
              </div>
        
              <div class="panel-body">
                <div class="row">
                  <div class="form-group col-lg-4 pr-0">
                    <a href="mns/mnsp011901" class="btn btn-orange btn-sm">
                      <img src="assets/dist/img/mns/7.jpg"></a>
                  </div>
                  <div class="form-group col-lg-4 pr-0">
                    <a href="mns/mnsp011901" class="btn btn-orange btn-sm">
                      <img src="assets/dist/img/mns/8.jpg"></a>
                  </div>
                  <div class="form-group col-lg-4 pr-0">
                    <a href="mns/mnsp011901" class="btn btn-orange btn-sm">
                      <img src="assets/dist/img/mns/9.jpg"></a>
                  </div>

                  <div class="form-group col-lg-4 pr-0">
                    <a href="mns/mnsp011901" class="btn btn-orange btn-sm">
                      <img src="assets/dist/img/mns/10.jpg"></a>
                  </div>
                  <div class="form-group col-lg-4 pr-0">
                    <a href="mns/mnsp011901" class="btn btn-orange btn-sm">
                      <img src="assets/dist/img/mns/11.jpg"></a>
                  </div>
                  <div class="form-group col-lg-4 pr-0">
                    <a href="mns/mnsp011901" class="btn btn-orange btn-sm">
                      <img src="assets/dist/img/mns/12.jpg"></a>
                  </div>
                  
                  <div class="form-group col-lg-4 pr-0">
                    <a href="mns/mnsp011901" class="btn btn-orange btn-sm">
                      <img src="assets/dist/img/mns/13.jpg"></a>
                  </div>
                  <div class="form-group col-lg-4 pr-0">
                    <a href="mns/mnsp011901" class="btn btn-orange btn-sm">
                      <img src="assets/dist/img/mns/14.jpg"></a>
                  </div>
                  <div class="form-group col-lg-4 pr-0">
                    <a href="mns/mnsp011901" class="btn btn-orange btn-sm">
                      <img src="assets/dist/img/mns/5.jpg"></a>
                  </div>
                  
                  <div class="form-group col-lg-4 pr-0">
                    <a href="mns/mnsp011901" class="btn btn-orange btn-sm">
                      <img src="assets/dist/img/mns/16.jpg"></a>
                  </div>
                  <div class="form-group col-lg-4 pr-0">
                    <a href="mns/mnsp011901" class="btn btn-orange btn-sm">
                      <img src="assets/dist/img/mns/17.jpg"></a>
                  </div>
                  <div class="form-group col-lg-4 pr-0">
                    <a href="mns/mnsp011901" class="btn btn-orange btn-sm">
                      <img src="assets/dist/img/mns/18.jpg"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
