<div class="content">
    <div class="header-title mb-4">
        <h1><strong>ประเภทผู้เสียภาษีอากร</strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / ประเภทผู้เสียภาษีอากร</small>
        </h1>

    </div>
    <div class="card border-light mb-4">
        <div class="card-header">
            <h4 class="panel-title">
                <i class="header-title fa fa-file-text"></i> ค้นหา
            </h4>
        </div>
        <div class="card-body">

            <form [formGroup]="nidGovAssoForm" (ngSubmit)="onSubmit()">
                <div formGroupName="nidGovAssoGroup">
                    <div class="form-row">

                      <div class="form-group col-lg-6">
                        <label>เลขผู้เสียภาษีอากร</label>
                        <input formControlName="taxId"
                               id="taxId" placeholder="ระบุเลขผู้เสียภาษีอากร"
                               class="form-control">
                      </div>

                      <div class="form-group col-lg-6">
                        <label>ชื่อผู้เสียภาษีอากร</label>
                        <input formControlName="taxPayerName"
                               id="taxPayerName" placeholder="ระบุชื่อผู้เสียภาษีอากร"
                               class="form-control">
                      </div>

                      <div class="form-group col-lg-6">
                        <label>ประเภทผู้เสียภาษี</label>
                        <select class="form-control"
                                formControlName="taxPayerType" id="taxPayerType">
                          <option [value]="null" disabled>ระบุประเภทผู้เสียภาษี</option>
                          <option *ngFor="let dv of taxPayerTypeList"
                                  [value]="dv.code" >{{dv.description}}</option>
                        </select>
                      </div>
                        <div class="form-group col-lg-2 reset-button">
                            <button type="submit" class="btn btn-success margin-top-10" id="list-search"><i
                                    class="fa fa-search"></i> ค้นหา
                            </button>
                        </div>
                        <div class="form-group col-lg-2 reset-button">
                            <button type="button" class="btn btn-warning margin-top-10"
                                    (click)="resetForm()" id="clear"><i
                                    class="fa fa-repeat"></i> ล้างค่า
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--  -->
    <div class="card border-light mb-4">
        <div class="card-header">
            <h4 class="panel-title">
                <i class="header-title fa fa-file-text"></i> รายการ
            </h4>
        </div>
        <div class="card-body">

            <!--          <div style="padding-bottom: 10px">-->
            <!--            แสดงหน้าละ-->
            <!--            <select id="pageSize" [ngModel]="pageSize" (ngModelChange)="getPageSize($event)">-->
            <!--              <option value="5">5</option>-->
            <!--              <option value="10">10</option>-->
            <!--              <option value="15">15</option>-->
            <!--            </select>-->
            <!--            รายการ-->
            <!--          </div>-->

            <table class="table table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <th scope="col" class="text-center">ลำดับ</th>
                    <th scope="col" class="text-center">เลขผู้เสียภาษีอากร</th>
                    <th scope="col" class="text-center">ชื่อผู้เสียภาษีอากร</th>
                    <th scope="col" class="text-center">ประเภท</th>
                    <th scope="col" class="text-center">เสียภาษี</th>
                    <th scope="col" class="text-center">วันที่แก้ไข</th>
                    <th scope="col" class="text-center">ผู้แก้ไข</th>
                    <th scope="col" class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr
                        *ngFor="let NidGovAssoData of edcNidGovAssoList | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: p, totalItems: total }; let i=index">
                    <td class="text-center" scope="row">{{ (this.p - 1) * this.pageSize + i + 1 }}</td>
                    <td class="text-center">{{NidGovAssoData.taxId || '-'}}</td>
                    <td class="text-left">{{NidGovAssoData.taxPayerName || '-'}}</td>
                    <td class="text-left" >
                      <div *ngFor="let dv of taxPayerTypeC">
                        <p *ngIf="dv.code == NidGovAssoData.taxPayerType" >
                          {{dv.description || '-'}}
                        </p>
                      </div>

                    </td>
                    <td class="text-left" >
                      <p *ngIf="NidGovAssoData.whtRateType == '1'">เสีย</p>
                      <p *ngIf="NidGovAssoData.whtRateType == '0'">ไม่เสีย</p></td>
                    <td class="text-center">{{(NidGovAssoData.updatedDate | thaidate: 'DD/MM/YYYY HH:mm:ss') || '-'}}</td>
                    <td class="text-left">{{NidGovAssoData.updatedBy || '-'}}</td>
                    <td class="text-center">
                        <a class="btn-orange btn-sm" id="view{{i}}"  (click)="onView(NidGovAssoData)">
                            <i class="fa fa-eye" aria-hidden="true" title="ดูข้อมูล"></i>
                        </a>
                        <a class="btn-orange btn-sm" id="delete{{i}}" (click)="onDelete(NidGovAssoData)">
                            <i class="fa fa-trash" aria-hidden="true" title="ลบ"></i>
                        </a>
                    </td>
                </tr>
                <tr *ngIf="edcNidGovAssoList.length === 0">
                    <td colspan="11" class="text-center"> ไม่พบข้อมูล</td>
                </tr>
                </tbody>
            </table>
            <div class="row">

                <div class="col-md-5 text-left">
                    แสดงผล
                    {{edcNidGovAssoList.length}} จาก
                    {{total}} รายการ
                </div>
                <div class="col-md-7 text-right">
                    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <table width="auto" border="0" cellspacing="10" cellpadding="0" style="margin:auto;">
        <tr>
          <td>
            <button type="button" class="btn btn-auto btn-green w-md m-b-5" [routerLink]="['import']" id="import"><i
              class="fa fa-plus"></i> &nbsp;นำเข้า
            </button>
          </td>
        </tr>
    </table>
</div>

