<div class="content">
  <div class="header-title">
    <h1><strong>รายงานการตรวจสอบความถูกต้อง</strong>
      <small class="pull-right"><a [routerLink]="['/']" class="active">หน้าหลัก</a> /
        รายงานการตรวจสอบความถูกต้อง
      </small>
    </h1>

  </div>
  <div class="card border-light mb-4">
    <div class="card-header">
      <h4 class="panel-title">
        <i class="header-title fa fa-file-text"></i> ค้นหา
      </h4>
    </div>
    <div class="card-body">
      <form [formGroup]="reportComplexSearchForm" (ngSubmit)="onSubmit()">
        <div formGroupName="reportComplexSearchC">
          <div class="form-row">
            <div class="form-group col-lg-6">
              <label for="fiNameTh">ผู้นำส่ง</label>
              <input formControlName="fiNameTh"
                     [typeahead]="financialList"
                     [typeaheadMinLength]="0"
                     (typeaheadOnSelect)="onSelectFi($event)"
                     placeholder="เลือกผู้นำส่ง"
                     typeaheadOptionField="fiNameTh"
                     class="form-control" id="fiNameTh">
            </div>
            <div class="form-group col-lg-6">
              <label for="dataTypeId">ประเภทข้อมูล</label>

              <select name="dataTypeId" id="dataTypeId" class="form-control full"
                      formControlName="dataTypeId">
                <option [value]="null">เลือกประเภทข้อมูล</option>
                <option *ngFor="let el of dataTypeList"
                        [value]="el.id">{{el.dataTypeDesTh}}</option>
              </select>
            </div>

            <div class="form-group col-lg-8">
              <label for="dateRange">ช่วงวันที่นำส่งข้อมูล</label>
              <input type="text" class="form-control full"
                     formControlName="dateRange"
                     [minDate]="minDate"
                     placeholder="เลือกช่วงวันที่นำส่งข้อมูล"
                     id="dateRange" bsDaterangepicker>
            </div>

            <div class="form-group col-lg-2 reset-button">
              <button type="submit" class="btn btn-success margin-top-10" id="list-search"><i
                class="fa fa-search"></i> ค้นหา
              </button>
            </div>
            <div class="form-group col-lg-2 reset-button">
              <button type="button" class="btn btn-warning margin-top-10" (click)="resetForm()" id="clear"><i
                class="fa fa-repeat"></i> ล้างค่า
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card border-light mb-4">
    <div class="card-header">
      <h4 class="panel-title">
        <i class="header-title fa fa-file-text"></i> ผลการค้นหา
      </h4>
    </div>
    <div class="card-body scroller">
      <!--          <div style="padding-bottom: 10px">-->
      <!--            แสดงหน้าละ-->
      <!--            <select id="pageSize" [ngModel]="pageSize" (ngModelChange)="getPageSize($event)">-->
      <!--              <option value="5">5</option>-->
      <!--              <option value="10">10</option>-->
      <!--              <option value="15">15</option>-->
      <!--            </select>-->
      <!--            รายการ-->
      <!--          </div>-->
      <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%"
             style="font-size: 12px;white-space: nowrap;">
        <thead>
        <tr>
          <th scope="col" class="text-center" rowspan="3" style="width: 5%">ลำดับ</th>
          <th scope="col" class="text-center" rowspan="3" style="width: 11%">ชื่อผู้นำส่ง</th>
          <th scope="col" class="text-center" rowspan="3" style="width: 10%">ประเภทข้อมูล</th>
          <th scope="col" class="text-center" rowspan="3" style="width: 12%">วัน/เวลาที่ส่งข้อมูล<br>(Receive Date)</th>
          <th scope="col" class="text-center" rowspan="3" style="width: 10%">วันที่ทำรายการ <br> (Payment Date)
          <th scope="col" class="text-center" rowspan="3" style="width: 7%">รายการ<br>ทั้งหมด</th>
          <th scope="col" class="text-center" rowspan="3" style="width: 10%">จำนวนเงิน<br>ทั้งหมด</th>
          <th scope="col" class="text-center" colspan="2" style="width: 25%">รายการที่ไม่นำไปคำนวณ</th>
          <th scope="col" class="text-center" colspan="16" style="width: 25%">รายการคำนวณ</th>
<!--          <th scope="col" class="text-center" colspan="4" style="width: 20%">รายการที่ถูกต้อง</th>-->
<!--          <th scope="col" class="text-center" colspan="4" style="width: 20%">รายการที่ไม่ถูกต้อง</th>-->
<!--          <th scope="col" class="text-center" colspan="2" style="width: 25%">รายการที่ไม่นำไปคำนวณ</th>-->
        </tr>
        <tr>
          <th scope="col" rowspan="2" class="text-center">รายการ</th>
          <th scope="col" rowspan="2" class="text-center">จำนวนเงิน</th>
          <th scope="col" rowspan="2" class="text-center">จำนวณรายการ</th>
          <th scope="col" rowspan="2" class="text-center">จำนวนเงิน</th>
          <th scope="col" colspan="4" class="text-center">รายการที่ถูกต้อง</th>
          <th scope="col" colspan="10" class="text-center">รายการที่ไม่ถูกต้อง</th>
        </tr>
        <tr>
          <th scope="col" class="text-center">จำนวนรายการ</th>
          <th scope="col" class="text-center">จำนวนเงิน</th>
          <th scope="col" class="text-center">WHT</th>
          <th scope="col" class="text-center">VAT</th>
          <th scope="col" class="text-center">จำนวนรายการ</th>
          <th scope="col" class="text-center">จำนวนเงิน</th>
          <th scope="col" class="text-center">WHT</th>
          <th scope="col" class="text-center">VAT</th>
          <th scope="col" class="text-center">WHT ที่คำนวณ</th>
          <th scope="col" class="text-center">VAT ที่คำนวณ</th>
          <th scope="col" class="text-center">WHT ที่จ่ายเกิน</th>
          <th scope="col" class="text-center">WHT ที่จ่ายขาด</th>
          <th scope="col" class="text-center">VAT ที่จ่ายเกิน</th>
          <th scope="col" class="text-center">VAT ที่จ่ายขาด</th>

        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let el of edcReportComplexValidationList | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: page, totalItems: total }; let i=index">
          <th scope="row" class="text-center">{{ (this.page - 1) * this.pageSize + i + 1 }}</th>
          <td class="text-left">{{this.financialMap.get(el.fiCode)}}</td>
          <td class="text-left">{{(el.dataType.dataTypeDesTh) || '-'}}</td>
          <td class="text-center">{{(el.receiveDate | thaidate: 'DD/MM/YYYY HH:mm') || '-'}} น.</td>
          <td class="text-center">{{(el.paymentDate | thaidate: 'DD/MM/YYYY') || '-'}}</td>

          <td class="text-right">{{(el.totalRecord | currency:'':'':'1.0-0') || '0'}}</td>
          <td class="text-right">{{(el.totalAmount | currency:'':'':'1.2-2') || '0.00'}}</td>

          <td class="text-right">{{(el.totalNotcalRecord| currency:'':'':'1.0-0') || '0'}}</td>
          <td class="text-right">{{(el.totalNotcalAmount| currency:'':'':'1.2-2') || '0.00'}}</td>

          <td class="text-right">{{(el.totalCalRecord | currency:'':'':'1.0-0') || '0'}}</td>
          <td class="text-right">{{(el.totalCalAmount| currency:'':'':'1.2-2') || '0.00'}}</td>

          <td class="text-right">{{(el.totalSuccessRecord | currency:'':'':'1.0-0') || '0'}}</td>
          <td class="text-right">{{(el.totalSuccessAmount| currency:'':'':'1.2-2') || '0.00'}}</td>

          <td class="text-right">{{(el.totalSuccessWhtAmount| currency:'':'':'1.2-2') || '0.00'}}</td>
          <td class="text-right">{{(el.totalSuccessVatAmount| currency:'':'':'1.2-2') || '0.00'}}</td>

          <td class="text-right">{{(el.totalFailRecord | currency:'':'':'1.0-0') || '0'}}</td>
          <td class="text-right">{{(el.totalFailAmount| currency:'':'':'1.2-2') || '0.00'}}</td>

          <td class="text-right">{{(el.totalFailWhtAmount| currency:'':'':'1.2-2') || '0.00'}}</td>
          <td class="text-right">{{(el.totalFailVatAmount| currency:'':'':'1.2-2') || '0.00'}}</td>

          <td class="text-right">{{(el.calWhtAmount| currency:'':'':'1.2-2') || '0.00'}}</td>
          <td class="text-right">{{(el.calVatAmount | currency:'':'':'1.2-2') || '0.00'}}</td>

          <td class="text-right">{{(el.diffWhtMinusAmount | currency:'':'':'1.2-2') || '0.00'}}</td>
          <td class="text-right">{{(el.diffWhtPosAmount| currency:'':'':'1.2-2') || '0.00'}}</td>

          <td class="text-right">{{(el.diffVatMinusAmount | currency:'':'':'1.2-2') || '0.00'}}</td>
          <td class="text-right">{{(el.diffVatPosAmount| currency:'':'':'1.2-2') || '0.00'}}</td>

<!--          <td class="text-center">{{((el.totalRecord-el.totalSuccessRecord-el.totalFailRecord) | currency:'':'':'1.0-0') || '-'}}</td>-->
        </tr>
        <tr *ngIf="edcReportComplexValidationList.length === 0">
          <td colspan="17" class="text-center"> ไม่พบข้อมูล</td>
        </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
            แสดงผล
            {{edcReportComplexValidationList.length}} จาก
            {{total}} รายการ
          </div>
        </div>
        <div class="col-sm-7 text-right">

          <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .scroller {
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }
</style>
