<section class="content">
  <div class="header-title mb-4">
    <h1><strong>คัดค้นข้อมูลใบกำกับภาษี/ใบรับอิเล็กทรอนิกส์</strong>
      <small class="pull-right"><a routerLink="/home" class="active">หน้าหลัก</a> / คัดค้นข้อมูลใบกำกับภาษี/ใบรับอิเล็กทรอนิกส์
      </small>
    </h1>
  </div>
  <div class="card border-light mb-4">
    <div class="card-header ">
      <div class="justify-content-left">
        <h4><i class="fa fa-file-text"></i> คัดค้นข้อมูลใบกำกับภาษี/ใบรับอิเล็กทรอนิกส์</h4>
      </div>
    </div>
    <div class="card-body">
      <div class="custom-margin">
        <div class="row">
          <div class="col-6 col-sm-3">
            <label for="registeredCode">เลขประจำตัวผู้เสียภาษีอากร</label>
            <input id="registeredCode" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-3">
            <label for="name">ชื่อผู้เสียภาษีอากร
            </label>
            <input id="name" class="form-control">
          </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-3">
              <label for="branchNoSlc">เลขที่สาขา</label>
              <select id="branchNoSlc" class="custom-select" [(ngModel)]="branchNoSelect">
                <option value="-1" selected>ทั้งหมด</option>
                <option value="1">สำนักงานใหญ่</option>
                <option value="2">สาขา</option>
              </select>
            </div>
            <div class="col-12 col-sm-3" *ngIf="branchNoSelect == '2'">
              <label></label>
              <input type="text" class="form-control" placeholder="ระบุเลขที่สาขา">
            </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-3">
            <label for="nId">เดือนปีภาษี เริ่มต้น</label>
            <select  class="custom-select">
              <option value="1">มกราคม</option>
              <option value="2">กุมภาพันธ์</option>
              <option value="3">มีนาคม</option>
              <option value="4" selected>เมษายน</option>
              <option value="5">พฤษภาคม</option>
              <option value="6">มิถุนายน</option>
              <option value="7">กรกฎาคม</option>
              <option value="8">สิงหาคม</option>
              <option value="9">กันยายน</option>
              <option value="10">ตุลาคม</option>
              <option value="11">พฤศจิกายน</option>
              <option value="12">ธันวาคม</option>
            </select>
          </div>
          <div class="col-12 col-sm-3">
            <label></label>
            <select class="custom-select custom-magin-select">
              <option value="-1">2562</option>
              <option value="1" selected>2561</option>
              <option value="2">2560</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-3">
            <label for="nId">เดือนปีภาษี สิ้นสุด</label>
            <select class="custom-select">
              <option value="1">มกราคม</option>
              <option value="2">กุมภาพันธ์</option>
              <option value="3">มีนาคม</option>
              <option value="4" selected>เมษายน</option>
              <option value="5">พฤษภาคม</option>
              <option value="6">มิถุนายน</option>
              <option value="7">กรกฎาคม</option>
              <option value="8">สิงหาคม</option>
              <option value="9">กันยายน</option>
              <option value="10">ตุลาคม</option>
              <option value="11">พฤศจิกายน</option>
              <option value="12">ธันวาคม</option>
            </select>
          </div>
          <div class="col-12 col-sm-3">
            <label></label>
            <select class="custom-select custom-magin-select">
              <option value="-1">2562</option>
              <option value="1" selected>2561</option>
              <option value="2">2560</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <a type="button"  [routerLink]="['/dss/etax-summary-per-taxid']" class="btn btn-success margin-top-10 btn-auto"  >
            <i class="fa fa-search"></i> ค้นหา
          </a>
          <a type="button" class="btn btn-warning margin-top-10 btn-auto"
            >
            <i class="fa fa-repeat" aria-hidden="true"></i> ล้างค่า
          </a>
        </div>
      </div>
    </div>
  </div>


</section>
