.row {
    margin:15px 0;
  }
  label {
    margin-bottom: 0;
    margin-left: 1px;
    height: 13px;
  }
  select {
      width: 95%;
  }
  .custom-margin {
    margin-left: 10%;
  }

  .custom-magin-select {
      margin-top: 9%;
  }