<section class="content">
  <div class="header-title">
    <h1><strong>จัดการข้อมูลพื้นฐาน</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> /
        จัดการข้อมูลประเภทอุปกรณ์สำหรับจัดเก็บใบรับรองอิเล็กทรอนิกส์</small></h1>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading">
          <div class="panel-title">
            <h3><i class="fa fa-file-text"></i> จัดการข้อมูลประเภทอุปกรณ์สำหรับจัดเก็บใบรับรองอิเล็กทรอนิกส์</h3>
          </div>
        </div>
        <div class="panel-body">
          <form role="form" [formGroup]="searchDeviceTypeCriteria" (ngSubmit)="getData()">
            <div class="row">
              <div class="form-group col-lg-6">
                <label>ประเภทอุปกรณ์:</label>
                <input type="text" class="form-control" name="deviceTypeName" id="deviceTypeName"
                  formControlName="deviceTypeName" placeholder="ประเภทอุปกรณ์">
              </div>
              <div class="form-group col-lg-2 reset-button">
                <button type="submit" class="btn btn-success margin-top-10">
                  <i class="glyphicon glyphicon-search"></i> ค้นหา
                </button>
              </div>
              <div class="form-group col-lg-2 reset-button">
                <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
                  <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading clearfix">
          <div class="panel-title">
            <h3><i class="fa fa-list"></i> ผลการค้นหา</h3>
          </div>
        </div>
        <div class="panel-body">
          <div class="form-group col-lg-12">
            <div class="form-group" style="float:right">
              <button type="button" class="btn btn-orange2 margin-top-10" (click)="open(deviceTypeModal)">
                <i class="fa fa-plus"></i> เพิ่มข้อมูล
              </button>
              <div class="clear"></div>
              <br />
              <div>
                แสดงหน้าละ
                <select (change)="changeRowLimits($event)">
                  <option *ngFor="let limit of rowLimits" [value]="limit.value">{{limit.key}}</option>
                </select>
                รายการ
              </div>
            </div>
          </div>
          <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
              <tr role="row">
                <th scope="col" class="text-center" style="width: 200px">ลำดับที่</th>
                <th scope="col" class="text-center">สถานะอุปกรณ์</th>
                <th scope="col" class="text-center" style="width: 200px"></th>
              </tr>
            </thead>
            <tbody>
              <tr role="row" class="odd" *ngFor="let dv of pageResponse.content">
                <td class="text-center">{{dv.no}}</td>
                <td class="text-center">{{dv.deviceTypeName || '-'}}</td>
                <td class="text-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-orange btn-sm btn-auto"
                      (click)="editDeviceType(dv.deviceTypeId,deviceTypeModal)">
                      <i class="fa fa-pencil-square-o"></i>
                    </button>
                  </div>
                  &nbsp;
                  <div class="btn-group">
                    <button type="button" class="btn btn-orange btn-sm btn-auto"
                      (click)="deleteDeviceType(dv.deviceTypeId)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
              <tr *ngIf="pageResponse.content?.length === 0">
                <td colspan="11" class="text-center"> ไม่พบข้อมูล</td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-sm-5">
              <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
                แสดงผล
                {{pageResponse.numberOfElements}} จาก
                {{pageResponse.totalPages}} รายการ
              </div>
            </div>
            <div class="col-sm-7 text-right">
              <pagination style="float: right;" [totalItems]="pageResponse.totalPages" previousText="ก่อนหน้า"
                nextText="ถัดไป" [rotate]="true" [maxSize]="5" [(ngModel)]="pageRequest.page"
                (pageChanged)="pageChange($event,limit)" (limit)="limit" [itemsPerPage]="pageResponse.size"
                aria-label="Default pagination"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #deviceTypeModal>
    <div class="modal-header">
      <i class="fa fa-plus-circle" aria-hidden="true"> เพิ่มข้อมูล</i>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="deviceTypeFormGroup">
        <div class="form-group">
          <label class="col-md-4 text-right control-label">ชื่อประเภทอุปกรณ์ :<span class="red">*</span> </label>
          <div class="col-md-8">
            <input type="text" class="form-control" formControlName="deviceTypeName"
              value="{{deviceTypeFormGroup.get('deviceTypeName').value }}"
              [ngClass]="{ 'is-invalid': deviceTypeSubmit && field.deviceTypeName.errors }">
            <div *ngIf="deviceTypeSubmit && field.deviceTypeName.errors" class="invalid-feedback">
              <div *ngIf="field.deviceTypeName.errors.required">กรุณาระบุชื่อประเภทอุปกรณ์</div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <br />
    <br />
    <div class="modal-footer">
      <table width="auto" border="0" cellspacing="10" cellpadding="0" style="margin:auto;">
        <tr>
          <td><button type="button" class="btn btn-green w-md m-b-5" (click)="saveDeviceType()"><i
                class="fa fa-floppy-o"></i>
              &nbsp;บันทึก</button></td>
          <td><button type="button" class="btn btn-danger w-md m-b-5" (click)="modalRef.hide()"><i
                class="fa fa-times"></i>
              ยกเลิก</button></td>
        </tr>
      </table>
    </div>
  </ng-template>
</section>