<div class="header-title">
  <h1><strong>จัดการกำหนดอีเมลสำหรับผู้ดูแลฐานข้อมูลภาษี</strong>
    <small class="pull-right"><a href="#" class="active">หน้าหลัก</a> /
      กำหนดอีเมลสำหรับผู้ดูแลฐานข้อมูลภาษี
    </small>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false">
      <div class="panel-heading">
        <div class="panel-title">
          <h4> บันทึกอีเมลสำหรับผู้ดูแลฐานข้อมูลภาษี</h4>
        </div>
      </div>
      <div class="panel-body">
        <form role="form" class="form-groups-bordered" [formGroup]="welfareWorkSystemForm" (ngSubmit)="saveWorkSystemEmail()">
          <!-- <div *ngFor="let m of mock; let i = index;" > -->
            <div *ngIf="welfareWorkSystemEmailList?.length >= 0">
          <div class="row justify-content-center">
            <div class="form-group col-lg-2">
              <label class="pull-right">ชื่อหน่วยงานภาษี</label>
            </div>
            <div class="form-group col-lg-6">
              <input type="text"  class="form-control" id="workSystemName" appIgnoreKey allowKey="thai&space" maxlength="255"
              formControlName="workSystemName" placeholder="ชื่อหน่วยงานภาษี">
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-lg-2">
              <label class="pull-right">ชื่อย่อหน่วยงานภาษี</label>
            </div>
            <div class="form-group col-lg-6">
              <input type="text"  class="form-control" id="workSystemAbbr" appIgnoreKey allowKey="eng&space" maxlength="30"
              formControlName="workSystemAbbr" placeholder="ชื่อย่อหน่วยงานภาษี">
            </div>
          </div>
          <!-- <div *ngIf="id == null"  *ngFor="let m of mock; let i = index;"> -->

          <div class="row justify-content-center">
            <div class="form-group col-lg-2">
              <label class="pull-right">อีเมล 1  <span class="red">*</span></label>
            </div>
            <div class="col-12 col-sm-6">
              <input id="email1" type="text" class="form-control" formControlName="email1" [ngClass]="{'border-danger': email1Control.invalid && email1Control.touched}">
              <div *ngIf="isInvalidAndTouched(email1Control)" class="red error-msg">
                <div *ngIf="email1Control.errors.required"> กรุณาระบุอีเมล</div>
                <div *ngIf="email1Control.errors.email"> กรุณาระบุรูปแบบอีเมลให้ถูกต้อง</div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-lg-2">
              <label class="pull-right">อีเมล 2 </label>
            </div>
            <div class="col-12 col-sm-6">
              <input id="email2" type="text" class="form-control" formControlName="email2" [ngClass]="{'border-danger': email2Control.invalid && email2Control.touched}">
              <div *ngIf="isInvalidAndTouched(email2Control)" class="red error-msg">
                <div *ngIf="email2Control.errors.email"> กรุณาระบุรูปแบบอีเมลให้ถูกต้อง</div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-lg-2">
              <label class="pull-right">อีเมล 3 </label>
            </div>
            <div class="col-12 col-sm-6">
              <input id="email3" type="text" class="form-control" formControlName="email3" [ngClass]="{'border-danger': email3Control.invalid && email3Control.touched}">
              <div *ngIf="isInvalidAndTouched(email3Control)" class="red error-msg">
                <div *ngIf="email3Control.errors.email"> กรุณาระบุรูปแบบอีเมลให้ถูกต้อง</div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-lg-2">
              <label class="pull-right">อีเมล 4 </label>
            </div>
            <div class="col-12 col-sm-6">
              <input id="email4" type="text" class="form-control" formControlName="email4" [ngClass]="{'border-danger': email4Control.invalid && email4Control.touched}">
              <div *ngIf="isInvalidAndTouched(email4Control)" class="red error-msg">
                <div *ngIf="email4Control.errors.email"> กรุณาระบุรูปแบบอีเมลให้ถูกต้อง</div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-lg-2">
              <label class="pull-right">อีเมล 5 </label>
            </div>
            <div class="col-12 col-sm-6">
              <input id="email5" type="text" class="form-control" formControlName="email5" [ngClass]="{'border-danger': email5Control.invalid && email5Control.touched}">
              <div *ngIf="isInvalidAndTouched(email5Control)" class="red error-msg">
                <div *ngIf="email5Control.errors.email"> กรุณาระบุรูปแบบอีเมลให้ถูกต้อง</div>
              </div>
            </div>
          </div>
        </div>
          <div class="row justify-content-center">
            <div class="form-group col-lg-2 reset-button">
              <button type="submit" class="btn btn-green w-md m-b-5"><i class="fa fa-floppy-o"></i>
                &nbsp;บันทึก</button>
            </div>
            <div class="form-group col-lg-2 reset-button">
              <button type="button" class="btn btn-danger w-md m-b-5" (click)="backPage()"><i class="fa fa-times"></i>
                ยกเลิก</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
