<section class="content" *ngIf="taxRequestModel">
  <form [formGroup]="analysisFormGroup">
    <div class="header-title">
      <h1><strong>บันทึกผลการวิเคราะห์คืนภาษีอากร</strong>
        <small class="pull-right"><a href="home.html" class="active">หน้าหลัก</a> /
          บันทึกผลการวิเคราะห์คืนภาษีอากร
        </small>
      </h1>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
        <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
          <div class="panel-heading">
            <div class="panel-title" style="max-width: calc(100% - 72px);">
              <h4><i class="glyphicon glyphicon-edit"></i> บันทึกผลการวิเคราะห์คืนภาษี</h4>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="form-group col-lg-4 pr-0">
                <label class="pull-right">เลขประจำตัวผู้เสียภาษีอากร :</label>
              </div>
              <div class="col-sm-3 text-sm-left">
                <p>{{taxRequestModel.taxAgentPin}}</p>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-4 pr-0">
                <label class="pull-right">ชื่อผู้ขอคืน :</label>
              </div>
              <div class="col-sm-3 text-sm-left">
                <p>{{taxRequestModel.taxAgentName}}</p>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-4 pr-0">
                <label class="pull-right">ประเภทภาษีอากร :</label>
              </div>
              <div class="col-sm-3 text-sm-left">
                <p>{{taxRequestModel.taxType.taxTypeName}}</p>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-4 pr-0">
                <label class="pull-right">รอบระยะเวลาบัญชีตั้งแต่วัน/เดือน/ปีภาษี :</label>
              </div>
              <div class="col-sm-6 text-sm-left">
                <p>{{taxRequestModel.accountPeriodStart | date: 'dd/MM/yyyy'}}</p>
                <label class="pad-left-20">ถึง วัน/เดือน/ปีภาษี :</label>
                <p class="pad-left-20">{{taxRequestModel.accountPeriodEnd | date: 'dd/MM/yyyy'}}</p>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-4 pr-0">
                <label class="pull-right">จำนวนเงิน :</label>
              </div>
              <div class="col-sm-3 text-sm-left">
                <p>{{taxRequestModel.approveAmount | number }} </p>
                <p class="pad-left-20"> บาท </p>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-4 pr-0">
                <label class="pull-right">จำนวนเงินที่อนุมัติ :</label>
              </div>
              <div class="col-sm-2 text-sm-left">
                <input type="text" class="form-input form-control" formControlName="approveAmount" *ngIf="!disabledText">
                <input type="text" class="form-input form-control" formControlName="approveAmount" *ngIf="disabledText" disabled="true">
                <p class="red" *ngIf="approveAmountControl.touched && approveAmountControl.hasError('required')">กรุณาระบุจำนวนเงินที่คืน</p>
              </div>
              <p class="pad-left-20"> บาท </p>
            </div>

            <!--คืนภาษี-->
            <div class="row">
              <div class="form-group col-lg-4 pr-0">
                <label class="radio-inline pull-right">
                  <input type="radio" name="approveStatus" [value]="true" formControlName="approveStatus" checked [disabled]="disabledText">
                  <span class="red padding-left-right-2">*</span>คืนภาษี ด้วย
                </label>
              </div>
              <div class="col-sm-2 text-sm-left">
                <select class="form-input form-control pad-left-20" name="" *ngIf="!disabledText"
                        formControlName="approveType">
                  <option [value]="null" selected>กรุณาเลือก</option>
                  <option *ngFor="let item of approveTypeListObs | async" [value]="item.value">{{item.name}}</option>
                </select>
                <select class="form-input form-control pad-left-20" name="" *ngIf="disabledText" disabled="true"
                        formControlName="approveType">
                  <option [value]="null" selected>กรุณาเลือก</option>
                  <option *ngFor="let item of approveTypeListObs | async" [value]="item.value">{{item.name}}</option>
                </select>
                <p class="red" *ngIf="approveTypeControl.touched && approveTypeControl.hasError('required')">กรุณาระบุประเภทการคืนภาษี</p>
              </div>
              <div class="form-group col-lg-1 pr-0">
                <label class="pull-right">เลขอ้างอิง :</label>
              </div>
              <div class="col-sm-2 text-sm-left">
                <input type="text" class="form-input form-control" formControlName="refRequestNo">
                <p class="red" *ngIf="refRequestNoControl.touched && refRequestNoControl.hasError('required') && approveStatusControl.value">กรุณาระบุเลขอ้างอิง</p>
              </div>
            </div>

            <!--ไม่คืนภาษี-->
            <div class="row">
              <div class="form-group col-lg-4 pr-0">
                <label class="radio-inline pull-right pad-right-15">
                  <input type="radio" name="approveStatus" formControlName="approveStatus" [value]="false" [readOnly]="disabledText">
                  <span class="red padding-left-right-2">*</span>ไม่คืนภาษี
                </label>
              </div>
              <div class="form-group col-lg-3 pr-0">
                <label class="pull-right">เลขอ้างอิง ค.30 :</label>
              </div>
              <div class="col-sm-2 text-sm-left">
                <input type="text" class="form-input form-control" formControlName="refRequestNo">
                <p class="red" *ngIf="refRequestNoControl.touched && refRequestNoControl.hasError('required') && !approveStatusControl.value">กรุณาระบุเลขอ้างอิง</p>
              </div>
            </div>
            <div class="row pb-3 d-flex justify-content-center" *ngIf="!disabledText">
                <a (click)="save()" class="btn btn-success margin-top-10 text-white"> <i class="glyphicon glyphicon-floppy-disk"></i> บันทึก</a>
                <a [routerLink]="['../../tax-refund-request-list']" class="btn btn-warning margin-top-10 text-white"><i class="glyphicon glyphicon-remove-circle"></i> ยกเลิก</a>
            </div>

            <div class="row mb-2 d-flex justify-content-center" *ngIf="disabledText">
              <div class="form-group col-lg-2">
                <a [routerLink]="['../../tax-refund-request-list']" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-home"></i> กลับหน้าหลัก</a>
              </div>
            </div>

            <div class="text-center" *ngIf="disabledText">
              <i class="fa fa-check-square" style="color: limegreen; font-size: 44px;"></i>
              <h5>บันทึกสำเร็จ</h5>
              <h5>(SUCCESS)</h5>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!--save section-->
  </form>
</section>




