p {
  display: inline-block;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.pad-left-20 {
  padding-left: 20px;
}


.pad-right-15{
  padding-right: 15px;
}

.padding-left-right-2 {
  padding-left: 2px;
  padding-right: 2px;
}

.btn {
  font-size: 10px;
  padding: 5px 5px;
  margin-top: 5px;
  width: auto;
  margin-right: 5px;
  color: white !important;
}
