<aside class="main-sidebar">
  <!-- sidebar -->
  <div class="sidebar">
    <!-- sidebar menu -->
    <ul class="sidebar-menu">
      <!--<li class="active">
           <a href="index.html"><i class="fa fa-tachometer"></i><span>หน้าแรก</span>
           <span class="pull-right-container">
           </span>
           </a>
        </li>-->
      <li class="treeview" *ngFor="let m of programList">
        <ng-container *ngIf="m.children.length === 0">
          <a [routerLink]="m.path">
            <i [class]="m.iconClass"></i>
            <span [innerHTML]="m.programName"></span>
          </a>
        </ng-container>
        <ng-container *ngIf="m.children.length > 0">
          <a href="#">
            <i [class]="m.iconClass"></i>
            <span [innerHTML]="m.programName"></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li *ngFor="let child of m.children">
              <a [routerLink]="child.path" [innerHTML]="child.programName"></a>
            </li>

          </ul>
        </ng-container>
      </li>
    </ul>
  </div>
  <!-- /.sidebar -->
</aside>
