<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>รายละเอียดการชำระเงิน (ข้อมูลการชำระเงินระหว่างประเทศ)</h4>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-10 pr-0">
          </div>
          <div class="form-group col-lg-2 pr-0">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> พิมพ์</a>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">ผู้ซื้อสินค้า / ผู้รับบริการ</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-right" style="font-weight:bold">เลขที่อ้างอิงการทำรายการ : 5801041</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขประจำตัวผู้เสียภาษีอากร  : 0-1345-67891-23-4  เลขที่สาขา : 00000</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-right" style="font-weight:bold">วันที่ทำรายการ : 01/09/2559</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อผู้ประกอบการ : บริษัท เอ จำกัด</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">ที่อยู่ : เลขที่ 1 หมู่ที่ 1 แขวงศาลาธรรมสพน์ เขตทวีวัฒนา จังหวัด กรุงเทพมหานคร 10170</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
          <div class="form-group col-lg-12 pr-0">
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">ผู้ขายสินค้า / ให้บริการ</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อผู้ประกอบการ : GE Service Co.,LTD.</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ที่อยู่ : 1 Neumann Way Evendale, OH 45215 United States</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
          </div>


          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">รายละเอียดการจ่ายเงิน</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>

          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">ข้อมูลบัญชี Prompt Pay ผู้ซื้อ</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">ประเภทช่องทาง Prompt Pay ผู้ซื้อ</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">ธนาคารผู้ซื้อ</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขที่บัญชีธนาคารผู้ซื้อ</label>
          </div>

          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">0134567891234</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">TAX ID</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">ธนาคารกรุงเทพ</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">017 1 36541 9</label>
          </div>

          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">ข้อมูลบัญชีผู้ขาย</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">ประเภทบัญชีผู้ขาย</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">ธนาคารผู้ขาย</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขที่บัญชีธนาคารผู้ขาย</label>
          </div>

          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">710032475600</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">ACC</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">Morgan Stanley</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">7140028154</label>
          </div>

          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">ร้านค้าที่ขาย</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">เมืองของผู้ขาย</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">ประเทศของผู้ขาย</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold"></label>
          </div>

          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">GE Service Co.,LTD.</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">Ohio</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">United States</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold"></label>
          </div>

          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">สาขาภาษีมูลค่าเพิ่มผู้ซื้อ</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">ประเภทเงินได้</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold"></label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold"></label>
          </div>

          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">-</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">015 : ค่าจ้างทำของ ตามมาตรา 40(8)</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold"></label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold"></label>
          </div>

          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">จำนวนเงินที่จ่าย</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">จำนวนเงินภาษีมูลค่าเพิ่ม</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">วันที่จ่ายเงิน</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">เวลาที่จ่ายเงิน</label>
          </div>

          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">90,000.00 บาท</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">6,300.00 บาท</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">01/01/2562</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">15:36:08 น.</label>
          </div>

          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">จำนวนเงินภาษีหัก ณ ที่จ่าย</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">เงื่อนไขการหักภาษี ณ ที่จ่าย</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
          </div>
          <div class="form-group col-lg-3 pr-0">
          </div>

          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">13,500.00 บาท</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">1 : หัก ณ ที่จ่าย</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
          </div>
          <div class="form-group col-lg-3 pr-0">
          </div>

          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">จำนวนเงินที่จ่าย (เงินสกุลอื่นๆ)</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">สุกลเงินที่จ่าย</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">อัตราแลกเปลี่ยนเงินตรา</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
          </div>

          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">3,000.00</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">USD</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">30.00</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
          </div>

          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">หมายเลขอ้างอิงการทำรายการ</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
          </div>
          <div class="form-group col-lg-3 pr-0">
          </div>
          <div class="form-group col-lg-3 pr-0">
          </div>

          <div class="form-group col-lg-3 pr-0">
            <label class="pull-left" style="font-weight:bold">5801041</label>
          </div>
          <div class="form-group col-lg-3 pr-0">
          </div>
          <div class="form-group col-lg-3 pr-0">
          </div>
          <div class="form-group col-lg-3 pr-0">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
