  
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }
  .modal-header{
    background-color: #aaaaaa82;
  }
  .modal-body {
    position: relative;
    overflow-y: auto; 
    padding: 15px;
    overflow-x: hidden !important;
    background-color: #aaaaaa82;
  }
  .modal-footer{
    background-color: #aaaaaa82;
  }
  .dark-modal{
    background-color: #5cb3fd !important;
  }