<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title title mt-auto text-left"  >
      ตัวอย่างก่อนพิมพ์
    </h4>
    <br>
    <h4 class="modal-title title mt-auto text-right" id="modal-basic-title" >
      การตั้งค่ากระดาษ : แนวตั้ง  ขนาด A4
    </h4>
    <!-- <button type="button" class="btn btn-danger btn-auto" (click)="modalService.close('ok')" #closeBtn>
      <i class="fa fa-close"></i> ปิด
    </button> -->
    <!-- <button type="button"  aria-label="Close" (click)="modal.close('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
      <div class="row">
          <div class="col-12">
              <pdf-viewer [src]="url" [render-text]="true" [autoresize]="true" [fit-to-page]="true" [stick-to-page]="true" style="display: block;"></pdf-viewer>
          </div>
      </div>
  </div>
  <div class="modal-footer">
    <div class="col-12">
      <div class="row text-center d-block">
          <button type="button" class="btn btn-primary btn-auto text-center" (click)="print()" >
            <i class="fa fa-print"></i> ยืนยันคำสั่งพิมพ์
          </button>
          <button type="button" class="btn btn-danger btn-auto" (click)="modal.close('close')" #closeBtn>
            <i class="fa fa-close"></i> ปิด
          </button>
      </div>
    </div>  
  </div> 
  
  </ng-template>  