<div class="card-back">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">จัดการเมนู</h5>
            <hr>
            <form class="form-signin was-validated" [formGroup]="menuForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="menuCode" class="cols-sm-2 control-label">รหัสเมนู :</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <input type="text" class="form-control" name="menuCode" id="menuCode" placeholder="รหัสเมนู" formControlName="menuCode"
                      [class.is-invalid]="menuCode.invalid && (menuCode.dirty || menuCode.touched)" />
                    <div class="invalid-feedback">
                      กรุณากรอกรหัสเมนู
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="menuName" class="cols-sm-2 control-label">ชื่อเมนู :</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control" name="menuName" id="menuName" placeholder="ชื่อเมนู" formControlName="menuName"
                      [class.is-invalid]="menuName.invalid && (menuName.dirty || menuName.touched)"  />
                      <div class="invalid-feedback">
                          กรุณากรอกชื่อเมนู
                      </div>
                    </div>
                </div>
              </div>

              <div class="form-group">
                <label for="menuUrl" class="cols-sm-2 control-label">ลิงค์เมนู :</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <input type="text" class="form-control" name="menuUrl" id="menuUrl" placeholder="ลิงค์เมนู" formControlName="menuUrl"
                    [class.is-invalid]="menuUrl.invalid && (menuUrl.dirty || menuUrl.touched)"
                    />
                    <div class="invalid-feedback">
                      กรุณากรอกลิงค์เมนู
                    </div>
                  </div>
                </div>
              </div>

              <br>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"(click)="onSubmit()" [disabled]="menuForm.invalid || isLoading">
                <i class='fa fa-circle-o-notch fa-spin' *ngIf="isLoading"></i>
                ยืนยัน</button>
              <button class="btn btn-lg btn-dark btn-block text-uppercase" type="button" routerLink="/admin/menu/search">ยกเลิก</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
