<app-cert-request-header></app-cert-request-header>

<p>
  user-request-success works!
</p>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <div class="col-md-12">
    <div class="d-flex justify-content-between">
      <div>
        <button type="button" (click)="goBack()" class="btn btn-outline-info">
          <i class="fa fa-chevron-left"></i> จัดการที่อยู่
        </button>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-outline-info">ถัดไป
          <i class="fa fa-chevron-right"></i></button>
      </div>
    </div>
  </div>
</div>
