<div class="content">
  <div class="header-title mb-4">
    <h1><strong>ตารางเวลาการทำงาน </strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / ตารางเวลาการทำงาน</small>
    </h1>

  </div>
  <div class="card border-light mb-4">
    <div class="card-header">
      <h4 class="panel-title">
        <i class="header-title fa fa-file-text"></i> ค้นหา
      </h4>
    </div>
    <div class="card-body">
      <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
        <div formGroupName="scheduleGroup">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>ชื่อตารางเวลาการทำงาน</label>
              <input id="scheduleName" type="text" formControlName="scheduleName"
                     placeholder="ระบุชื่อตารางเวลาการทำงาน"
                     class="form-control"
                     maxlength="60">
            </div>
            <div class="form-group col-lg-4">
              <label>ประเภทตารางเวลาการทำงาน</label>
              <select id="scheduleType" formControlName="scheduleType"
                      class="form-control mdb-select md-form">
                <option [value]="null">เลือกทั้งหมด</option>
                <option value="Current">ดำเนินการทันที</option>
                <option value="Daily">ทุกวัน</option>
                <option value="DayOfWeek">วันในสัปดาห์</option>
                <option value="DayOfMonth">วันในเดือน</option>
                <option value="DayOfYear">วันในปี</option>
              </select>
            </div>
            <div class="form-group col-lg-2 reset-button">
              <button type="submit" class="btn btn-success margin-top-10" id="list-search"><i
                class="fa fa-search"></i> ค้นหา
              </button>
            </div>
            <div class="form-group col-lg-2 reset-button">
              <button type="button" class="btn btn-warning margin-top-10" id="clear" (click)="resetForm()"><i
                class="fa fa-repeat"></i> ล้างค่า
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>


  <div class="card border-light mb-4">
    <div class="card-header">
      <h4 class="panel-title">
        <i class="header-title fa fa-file-text"></i> ผลการค้นหา
      </h4>
    </div>
    <div class="card-body">
      <!--        <div style="padding-bottom: 10px">-->
      <!--          แสดงหน้าละ-->
      <!--          <select id="pageSize" [ngModel]="pageSize" (ngModelChange)="getPageSize($event)">-->
      <!--            <option value="5">5</option>-->
      <!--            <option value="10">10</option>-->
      <!--            <option value="15">15</option>-->
      <!--          </select>-->
      <!--          รายการ-->
      <!--        </div>-->
      <table class="table table-striped table-bordered table-sm">
        <thead>
        <tr>
          <th scope="col" class="text-center">ลำดับ</th>
          <th scope="col" class="text-center">ตารางเวลาการทำงาน</th>
          <th scope="col" class="text-center">ประเภทตารางเวลาการทำงาน</th>
          <th scope="col" class="text-center">วันที่แก้ไข</th>
          <th scope="col" class="text-center">ผู้แก้ไข</th>
          <th scope="col" class="text-center"></th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let NotiData of edcSchedule | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: p, totalItems: total }; let i=index">
          <td class="text-center" scope="row">{{ (this.p - 1) * this.pageSize + i + 1 }}</td>
          <td class="text-left">{{NotiData.scheduleName || '-'}}</td>
          <td class="text-left">{{scheduleTypeList[NotiData.scheduleType] || '-'}}</td>
          <td class="text-center">{{(NotiData.updatedDate | thaidate: 'DD/MM/YYYY HH:mm:ss') || '-'}}</td>
          <td class="text-left">{{NotiData.updatedBy || '-'}}</td>
          <td class="text-center">
            <div class="btn-group">
              <a class="btn-orange btn-sm" id="edit{{i}}" (click)="onEdit(NotiData)">
                <i class="fa fa-pencil-square-o" aria-hidden="true" title="แก้ไข"></i>
              </a>
              <a class="btn-orange btn-sm" id="delete{{i}}" (click)="onDelete(NotiData)">
                <i class="fa fa-trash-o" aria-hidden="true" title="ลบ"></i>
              </a>
            </div>
          </td>
        </tr>
        <tr *ngIf="edcSchedule.length === 0">
          <td colspan="11" class="text-center"> ไม่พบข้อมูล</td>
        </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
            แสดงผล
            {{edcSchedule.length}} จาก
            {{total}} รายการ
          </div>
        </div>
        <div class="col-sm-7 text-right">
          <!--                        <pagination [totalItems]="total" [(ngModel)]="pageSize" (pageChanged)="getPage($event)"-->
          <!--                                    previousText="ย้อนกลับ" nextText="ถัดไป" [itemsPerPage]="pageSize"-->
          <!--                                    class="dataTables_paginate paging_simple_numbers">-->
          <!--                        </pagination>-->

          <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
        </div>
      </div>
    </div>
  </div>

  <table style="margin:auto;">
    <tr>
      <td>
        <button type="button" class="btn btn-auto btn-green w-md m-b-5" id="add" [routerLink]="['add']"><i
          class="fa fa-plus"></i> เพิ่มข้อมูล
        </button>
      </td>
    </tr>
  </table>
</div>

