<app-navigatortab></app-navigatortab>
<section class="content">
  <div class="header-title mb-4">
    <h1>
      <strong>ภาษีขาย : เดือนกันยายน - ธันวาคม 2559</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> /  คัดค้นข้อมูลใบกำกับภาษี/ใบรับอิเล็กทรอนิกส์ / ผลการคัดค้นแบบสรุป / ภาษีขาย รายเดือน</small>
    </h1>
  </div>

  <div class="card mb-4" *ngIf="pageResponse?.content!=null">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>ข้อมูลผู้เสียภาษี</h4>
    </div>
    <div class="card-body">
      <p class="mt-auto">เลขประจำตัวผู้เสียภาษีอากรผู้ขาย : 0-5755-26009-09-9    ชื่อผู้ประกอบการ : บริษัท ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ จำกัด  สาขา 00000</p>
      <br/>
      <p class="mt-auto">ที่อยู่ : 3/34  อาคาร แขวงห้วยขวาง  เขตห้วยขวาง  กรุงเทพมหานคร 10310</p>
      <br/>
      <p class="mt-auto">สส.ห้วยขวาง 1 (สท.กรุงเทพมหานคร 10)</p>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>รายการ</h4>
    </div>
    
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-10"></div>
        <div class="col-12 col-sm-2 d-block col-btn">
          <button type="button" class="btn btn-primary btn-print" #printBtn>
            <i class="fa fa-print"></i> พิมพิ์
          </button>
        </div>
      </div>
      <table
        class="table table-striped table-bordered table-sm"
        cellspacing="0"
        width="100%"
      >
        <thead>
        <tr role="row">
          <th class="text-center" scope="col" style="width: 50px"></th>
          <th class="text-center" scope="col">เดือนภาษี</th>
          <th class="text-center" scope="col">ปีภาษี</th>
          <th class="text-center" scope="col">จำนวนผู้ซื้อ</th>
          <th class="text-center" scope="col">จำนวนใบกำกับภาษี</th>
          <th class="text-center" scope="col">ยอดขายที่ต้องเสียภาษี VAT 7%</th>
          <th class="text-center" scope="col">ยอดขายที่ต้องเสียภาษี VAT 0%</th>
          <th class="text-center" scope="col">ยอดขายที่ยกเว้น VAT</th>
          <th class="text-center" scope="col">ภาษีขาย</th>
          <th class="text-center" scope="col">รวมมูลค่าสินค้าและบริการ</th>
          <th class="text-center" scope="col" style="width: 20px"></th>
        </tr>
        </thead>
        <tbody>
          <tr role="row" class="odd">
            <td class="text-center">1</td>
            <td class="text-center">กันยายน</td>
            <td class="text-center">2559</td>
            <td class="text-right">4</td>
            <td class="text-right">4</td>
            <td class="text-right">126,133.87</td>
            <td class="text-right">0.00</td>
            <td class="text-right">0.00</td>
            <td class="text-right">8,829.37</td>
            <td class="text-right">134,963.24</td>
            <td class="text-center">
              <div class="btn-group">

                <button
                  type="button"
                  class="btn btn-orange btn-sm btn-auto"
                  (click)="showMonthDetail(pageResponse.content[0]?.taxpayerPin)"
                  tooltip="ดูรายละเอียด"
                >
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr role="row" class="odd">
            <td class="text-center">2</td>
            <td class="text-center">ตุลาคม</td>
            <td class="text-center">2559</td>
            <td class="text-right">6</td>
            <td class="text-right">6</td>
            <td class="text-right">9,150.00</td>
            <td class="text-right">0.00</td>
            <td class="text-right">0.00</td>
            <td class="text-right">640.50</td>
            <td class="text-right">9,790.50</td>
            <td class="text-center">
              <div class="btn-group">

                <button
                  type="button"
                  class="btn btn-orange btn-sm btn-auto"
                  (click)="showMonthDetail(pageResponse.content[0]?.taxpayerPin)"
                  tooltip="ดูรายละเอียด"
                >
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr role="row" class="odd">
            <td class="text-center">3</td>
            <td class="text-center">พฤศจิกายน</td>
            <td class="text-center">2559</td>
            <td class="text-right">10</td>
            <td class="text-right">10</td>
            <td class="text-right">2,000.00</td>
            <td class="text-right">0.00</td>
            <td class="text-right">0.00</td>
            <td class="text-right">140.00</td>
            <td class="text-right">2,140.00</td>
            <td class="text-center">
              <div class="btn-group">

                <button
                  type="button"
                  class="btn btn-orange btn-sm btn-auto"
                  (click)="showMonthDetail(pageResponse.content[0]?.taxpayerPin)"
                  tooltip="ดูรายละเอียด"
                >
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr role="row" class="odd">
            <td class="text-center">4</td>
            <td class="text-center">ธันวาคม</td>
            <td class="text-center">2559</td>
            <td class="text-right">8</td>
            <td class="text-right">8</td>
            <td class="text-right">11,000.00</td>
            <td class="text-right">0.00</td>
            <td class="text-right">0.00</td>
            <td class="text-right">770.00</td>
            <td class="text-right">11,770.00</td>
            <td class="text-center">
              <div class="btn-group">

                <button
                  type="button"
                  class="btn btn-orange btn-sm btn-auto"
                  (click)="showMonthDetail(pageResponse.content[0]?.taxpayerPin)"
                  tooltip="ดูรายละเอียด"
                >
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr role="row" class="odd">
            <td class="text-center" colspan="3">รวม</td>
            <td class="text-right">28</td>
            <td class="text-right">28</td>
            <td class="text-right">148,283.87</td>
            <td class="text-right">0.00</td>
            <td class="text-right">0.00</td>
            <td class="text-right">10,379.87</td>
            <td class="text-right">158,663.74</td>
            <td class="text-center">
              <div class="btn-group">

                <button
                  type="button"
                  class="btn btn-orange btn-sm btn-auto"
                  (click)="showMonthDetail(pageResponse.content[0]?.taxpayerPin)"
                  tooltip="ดูรายละเอียด"
                >
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row text-right">
        <div class="col-6 col-sm-1">
          รายการ
        </div>
        <div class="col-6 col-sm-1">
          <select class="form-control" [value]="10">
            <option [value]="10">10</option>
            <option [value]="25">25</option>
            <option [value]="50">50</option>
          </select>
        </div>
        <div class="col-12 col-sm-5 offset-sm-5 d-flex">
          <div class="ml-auto">
            <pagination [totalItems]="pageResponse.content?.length" [itemsPerPage]="10" [maxSize]="5" previousText="ย้อนกลับ" nextText="ถัดไป"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>