.filing-detail{
  display: block;
  width: 95%;
  height: 34px;
  font-weight: 900;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.modal-header {
margin: 5px 20px;
padding: 0 20px;
background-color: white;
border: none;
}

.modal-body {
margin: 10px 20px;
padding: 20px;
border: 1px solid lightskyblue;
}

.btn {
font-size: 10px;
padding: 5px;
}

.title {
font-size: 16px;
color: lightskyblue;
}

.column-title {
padding: 0 15px;
}

.row {
margin-bottom: 15px;
}

.table-conclusion {
border: 1px solid grey;
margin: 2%;
padding: 1%;
background-color: #d5ecf6;
}

.table-conclusion button {
border-radius: 2px;
margin-left: auto;
display: block;
}

.btn-print {
  border-radius: 2px;
}

.col-btn {
  padding-right: 0px !important;
}

.table-detail {
  margin: 1%;
}