<div class="container-fluid mb-5">
  <app-cert-header>การลงทะเบียนขอใบรับรองอิเล็กทรอนิกส์</app-cert-header>
  <div class="container-fluid" style="margin-top: 20px;">
    <div class="card">
        <div class="card-title" #certRegisterStepPanelTitle></div>
          <div class="card-body">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-3">
        <button type="button" class="btn btn-danger" (click)="childComponent.previousStep()" *ngIf="prevPath != null && currentStep == 2 "><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>ย้อนกลับ </button>
      </div>

      <div class="col-12 col-md-6 text-center" style="margin-left: auto">
        <button type="button" class="btn btn-info"  (click)="childComponent.saveDraft()" *ngIf="authenService.hasAnyPermission(['DCSP010100.ADD','DCSP010100.UPDATE']) && currentStep == 2">บันทึกร่าง</button>
      </div>

      <div class="text-right col-12 col-md-3" style="margin-left: auto" *ngIf="currentStep != 3">
        <button type="button" class="btn btn-success" (click)="childComponent.nextStep(this.nextPath)" *ngIf="nextPath != null">
          <span *ngIf="currentStep < 3">ถัดไป</span>
          <span *ngIf="currentStep == 2">ยื่นคำขอ</span>
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </button>
        <a type="button" class="btn btn-success" [routerLink]="['/cert/user/search']" *ngIf="currentStep === 4">
          <span >หน้าหลัก</span>
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
      </div>
    </div>

  </div>
</div>
