<div class="container">
  <div class="row">
      <div class="form-group col-sm-3">
        <div class="row"    [routerLink]="['/dss/epayment-search']">
        <img height="40%" width="40%" src="assets/img/u29304.png" />
        </div> <div class="row">
          1. ภาษีเงินไดัหัก ณ ที่จ่าย<br>
  และภาษีมูลค่าเพิ่ม จากธุรกรรม e-WHT
        </div>
      </div>
      <div class="form-group col-sm-3">
        <div class="row" [routerLink]="['/dss/wht-spending-search']">
        <img height="40%" width="40%" src="assets/img/u29307.png" />
        </div> <div class="row">
          2. การใช้จ่าย<br>
          จากธุรกรรม e-WHT
      </div>
      </div>
      <div class="form-group col-sm-3">
        <div class="row" [routerLink]="['/dss/special-search']">
        <img height="40%" width="40%" src="assets/img/u29307.png" />
        </div> <div class="row">
          3. ธุรกรรม<br>
            ลักษณะเฉพาะ
      </div>
      </div>
      <div  class="form-group col-sm-3">
        <div class="row" [routerLink]="['/dss/etax-summary-search']">
        <img height="40%" width="40%" src="assets/img/u29310.png" />
      </div> <div class="row"> 
        4. ใบกำกับภาษีอิเล็กทรอนิกส์<br>
        และใบรับอิเล็กทรอนิกส์
      </div>
      </div>
    </div>
</div>