<section class="content">
    <div class="header-title mb-4">
        <h1><strong>จัดการอุปกรณ์ Token</strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a href="" class="active">จัดการอุปกรณ์
                    Token</a> /
                รายละเอียดบริหารจัดการอุปกรณ์</small></h1>
    </div>
    <div class="card mb-4">
            <div class="card-header">
                    <h4>บริหารจัดการอุปกรณ์</h4>
            </div>
            <div class="card-body">
                    <form role="form" class="form-groups-bordered" [formGroup]="formThumbDriveCriteria"
                    (ngSubmit)="saveThumbDrive()">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label>หมายเลขอุปกรณ์:<span class="red">*</span></label>
                            <input type="text" class="form-control" name="serialNumber" id="serialNumber"
                                formControlName="serialNumber" placeholder="หมายเลขอุปกรณ์"
                                [ngClass]="{ 'is-invalid': thumbDriveSubmit && field.serialNumber.errors }">
                            <div *ngIf="thumbDriveSubmit && field.serialNumber.errors" class="invalid-feedback">
                                <div *ngIf="thumbDriveSubmit && field.serialNumber.errors.required">
                                    กรุณาระบุหมายเลขอุปกรณ์</div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>การใช้งาน:<span class="red">*</span></label>
                            <select class="form-control" id="deviceStatusId" formControlName="deviceStatusId"
                                [ngClass]="{ 'is-invalid': thumbDriveSubmit && field.deviceStatusId.errors }">
                                <option value="">โปรดเลือก</option>
                                <option *ngFor="let ds of devicesStatus" [value]="ds.deviceStatusId">
                                    {{ds.deviceStatusName}}</option>
                            </select>
                            <div *ngIf="thumbDriveSubmit && field.deviceStatusId.errors" class="invalid-feedback">
                                <div *ngIf="thumbDriveSubmit && field.deviceStatusId.errors.required">
                                    กรุณาระบุการใช้งาน</div>
                            </div>
                        </div>
                        <!-- <div class="form-group col-lg-3">
                            <label>วันที่รับอุปกรณ์:<span class="red">*</span></label>
                            <input type="text" class="form-control-datepicker" #dp="bsDatepicker" placeholder="วัน/เดือน/ปี"
                                formControlName="receivedDate" [bsValue]="bsValue" [bsConfig]="bsConfig"
                                [ngClass]="{ 'is-invalid': thumbDriveSubmit && field.receivedDate.errors }"
                                bsDatepicker>
                            <div *ngIf="thumbDriveSubmit && field.receivedDate.errors" class="invalid-feedback">
                                <div *ngIf="thumbDriveSubmit && field.receivedDate.errors.required">
                                    กรุณาระบุวันที่รับอุปกรณ์</div>
                            </div>
                        </div> -->
                        <!-- <input type="text" class="form-control" name="receivedDate"
                        formControlName="receivedDate" > -->
                        <div class="form-group col-lg-4">
                            <label>วันที่รับอุปกรณ์:<span class="red">*</span></label>
                            <app-datepicker-th class="form-control-datepicker" formControlName="receivedDate"
                            [borderDanger]="thumbDriveSubmit && field.receivedDate.errors" [minDate]="minDate"
                                [ngClass]="{ 'is-invalid': thumbDriveSubmit && field.receivedDate.errors}">
                            </app-datepicker-th>
                            <div *ngIf="thumbDriveSubmit && field.receivedDate.errors">
                                <div *ngIf="thumbDriveSubmit && field.receivedDate.errors.required"
                                    style="font-size: 80%;color: #dc3545;">กรุณาระบุวันที่รับอุปกรณ์</div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>ชนิดอุปกรณ์:<span class="red">*</span></label>
                            <select class="form-control" id="deviceType" formControlName="deviceTypeId"
                                [ngClass]="{ 'is-invalid': thumbDriveSubmit && field.deviceTypeId.errors }">
                                <option value="">โปรดเลือก</option>
                                <option *ngFor="let dt of devicesType" [value]="dt.deviceTypeId">
                                    {{dt.deviceTypeName}}</option>
                            </select>
                            <div *ngIf="thumbDriveSubmit && field.deviceTypeId.errors" class="invalid-feedback">
                                <div *ngIf="thumbDriveSubmit && field.deviceTypeId.errors.required">
                                    กรุณาระบุชนิดอุปกรณ์</div>
                            </div>
                        </div>
                        <div class="form-group col-lg-8">
                            <label>หมายเหตุ :<span class="red">*</span></label>
                            <textarea type="text" id="remark" name="remark" formControlName="remark"
                                class="md-textarea md-textarea-auto form-control"
                                [ngClass]="{ 'is-invalid': thumbDriveSubmit && field.remark.errors }"></textarea>
                            <div *ngIf="thumbDriveSubmit && field.remark.errors" class="invalid-feedback">
                                <div *ngIf="thumbDriveSubmit && field.remark.errors.required">กรุณาระบุหมายเหตุ
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row justify-content-center">
                            <div class="form-group col-lg-2 reset-button">
                                    <button type="submit" class="btn btn-green w-md m-b-5"><i
                                        class="fa fa-floppy-o" *ngIf="authenService.hasAnyPermission(['DCSP030100.CREATE','DCSP030100.UPDATE
                                        '])"></i>
                                    &nbsp;บันทึก</button>
                            </div>
                            <div class="form-group col-lg-2 reset-button">
                                    <button type="button" class="btn btn-orange3 w-md m-b-5" (click)="black()"><i
                                        class="fa fa-times"></i>
                                    ยกเลิก</button>
                                </div>
                    </div>
                </form>
            </div>
          </div>
</section>
