<section *ngIf="taxRequestModel">
  <div class="header-title mb-4">
    <h1><strong>รายละเอียดคำร้องขอคืนเงินภาษีอากร ค.10</strong>
      <small class="pull-right"><a routerLink="/home" class="active">หน้าหลัก</a> /
        รายละเอียดคำร้องขอคืนเงินภาษีอากร ค.10
      </small>
    </h1>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <div class="justify-content-left">
        <h4>ข้อมูลผู้ขอคืนเงินภาษีอากร</h4>
      </div>
    </div>
    <div class="card-body">
      <app-tax-request-agent-detail *ngIf="taxRequestModel"
                                    [taxRequestModel]="taxRequestModel"></app-tax-request-agent-detail>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <div class="justify-content-left">
        <h4>ข้อมูลขอคืนเงินภาษีอากร</h4>
      </div>
    </div>
    <div class="card-body">
      <app-tax-amount-request-detail *ngIf="taxRequestModel"
                                     [taxRequestModel]="taxRequestModel"></app-tax-amount-request-detail>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <div class="justify-content-left">
        <h4>รายการเอกสารแนบ</h4>
      </div>
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th class="text-center" style="width: 100px">ลำดับ</th>
                <th class="text-center">ชื่อเอกสาร</th>
                <th class="text-center">ไฟล์เอกสารแนบ</th>
              </tr>
              </thead>
              <tbody *ngIf="taxRequestModel.taxReqAttachmentList.length != 0">
              <tr *ngFor="let item of taxRequestModel.taxReqAttachmentList; let index = index">
                <td class="text-center">{{index + 1}}</td>
                <td class="text-center">{{item.fileName}}</td>
                <td class="text-center">
                  <a class="oi oi-data-transfer-download" aria-hidden="true" target="_blank" [href]="fileApi + 'download-tax-req-attachment/' + item.hashTaxReqAttachmentId"></a>&nbsp;
                </td>
              </tr>
              </tbody>
              <tbody *ngIf="taxRequestModel.taxReqAttachmentList.length == 0">
              <tr>
                <td class="text-center" colspan="3">
                  ไม่พบเอกสารแนบ
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <div class="justify-content-left">
        <h4>หน่วยงานที่รับผิดชอบ</h4>
      </div>
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th class="text-center" style="width: 20px">ลำดับ</th>
                <th class="text-center">รหัส - ชื่อหน่วยงานที่รับผิดชอบ</th>
                <th class="text-center">รหัส - ชื่อหน่วยงานที่โอนย้าย</th>
                <th class="text-center">วัน/เดือน/ปี โอนย้าย</th>
                <th class="text-center">มูลเหตุการโอนย้าย</th>
              </tr>
              </thead>
              <tbody *ngIf="taxRequestModel.taxRequestTransferBranchDto.length > 0">
              <tr *ngFor="let item of taxRequestModel?.taxRequestTransferBranchDto; let index = index">
                <td>{{index + 1}}</td>
                <td>{{item.currBranch}}</td>
                <td>{{item.prevBranch | replaceNullValue: ''}}</td>
                <td class="text-center">{{item.createdDate | thaidate}}</td>
                <td class="text-center">{{item.remark | replaceNullValue: '-'}}</td>
              </tr>
              </tbody>
              <tbody *ngIf="taxRequestModel.taxRequestTransferBranchDto.length == 0">
              <tr>
                <td class="text-center" colspan="5">ไม่พบข้อมูล</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="row w-100">
            <div class="col-12 text-center">
              <button class="btn btn-danger" routerLink="/pps/request/tax-request/tax-refund-request-list"><i
                class="fa fa-home"></i> กลับสู่หน้าหลัก
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
