<div class="content">
  <div class="header-title mb-4">
    <h1><strong>รายละเอียดข้อมูลคำนำหน้าชื่อ </strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a
        [routerLink]="['/etl/title-code']" class="active">คำนำหน้าชื่อ
      </a> / รายละเอียดข้อมูลคำนำหน้าชื่อ
      </small>
    </h1>
  </div>

  <form [formGroup]="titleCodeForm" (ngSubmit)="onSubmit()">
    <div formGroupName="titleCodeGroup">
      <div class="card border-light mb-4">
        <div class="card-header">
          <h4 class="panel-title">
            <i class="header-title fa fa-file-text"></i> ข้อมูลคำนำหน้าชื่อ
          </h4>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-lg-6">
              <label>รหัสคำนำหน้าชื่อ</label>&nbsp; <label class ="text-danger">*</label>
              <input type="text" formControlName="code" id="code"
                     placeholder="ระบุรหัสคำนำหน้าชื่อ"
                     class="form-control" readonly>
              <div class="text-danger"
                   *ngIf="!titleCodeForm.get('titleCodeGroup.code').valid && titleCodeForm.get('titleCodeGroup.code').touched">
                กรุณาระบุรหัสคำนำหน้าชื่อ.
              </div>
            </div>

            <div class="form-group col-lg-6">
              <label>คำนำหน้าชื่อ</label>&nbsp; <label class ="text-danger">*</label>
              <input type="text" formControlName="description" id="description"
                     placeholder="ระบุคำนำหน้าชื่อ"
                     class="form-control" readonly>
              <div class="text-danger"
                   *ngIf="!titleCodeForm.get('titleCodeGroup.description').valid && titleCodeForm.get('titleCodeGroup.description').touched">
                กรุณาระบุคำนำหน้าชื่อ.
              </div>
            </div>

            <div class="form-group col-lg-6">
              <label>หมายเหตุ</label>
              <textarea formControlName="comment" id="comment" rows="5"
                        class="form-control" readonly></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <table style="margin:auto;">
      <tr>
        <td>
          <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5"
                  (click)="onBack()" id="back"><i
            class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>
