<section>
  <div class="header-title mb-4">
    <h1>
      <app-back-button></app-back-button>
      <strong>{{ typeSpending == 'SENDER' ? 'รายการที่โอน' : 'รายการที่รับโอน'}} : เดือน{{ taxMonth | thaiMonth }} {{ taxYear }}</strong>
    </h1>
  </div>


  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>ข้อมูลผู้เสียภาษีอากร</h4>
    </div>
    <div class="card-body">
      เลขประจำตัวผู้เสียภาษีอากร : <b>{{ pin | mask: '0-0000-00000-00-0' }}</b>&nbsp;&nbsp;   
      ชื่อผู้เสียภาษีอากร :  <b>{{ address?.name }}</b>&nbsp;&nbsp;
      สาขา   <b>{{ address?.branchNo}}</b><br/>   
      ที่อยู่ : <b>{{ address?.buildingName || '' }} {{ address?.roomNo || '' }}
      {{ address?.floor || '' }} {{ address?.village || '' }}
      {{ address?.addressNo || '' }} {{ address?.moo || '' }}
      {{ address?.soi || '' }} {{ address?.lane || '' }}
      {{ address?.road || '' }} {{ address?.subDistrict || '' }}
      {{ address?.district || '' }} {{ address?.province || '' }}
      {{ address?.postcode || '' }}</b> <br/>   
      สำนักงานภูมิลำเนา : <b>{{ address?.offcodeName || '' }}</b>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>{{ typeSpending == 'SENDER' ? 'รายการที่โอน' : 'รายการที่รับโอน'}}</h4>
    </div>
    <div class="row  table-conclusion">
      <div class="col-12 col-sm-3">รวมจำนวนรายการ : {{pageable.total}} รายการ</div>
      <div class="col-12 col-sm-3">รวมจำนวนเงิน : {{countExpenseTransaction?.sumPaymentAmount | number:'1.2-2'}} บาท</div>
      <div class="col-12 col-sm-5">รวมภาษีมูลค่าเพิ่ม : {{countExpenseTransaction?.sumVatAmount | number:'1.2-2'}} บาท</div>
      <div class="col-12 col-sm-1">
        <button type="button" class="btn btn-primary btn-auto" #printBtn>
          <i class="fa fa-print"></i> พิมพ์
        </button>
      </div>
    </div>
    <div class="card-body">
      <nz-table #table nzShowSizeChanger [nzFrontPagination]="false" [nzData]="dataSet" [nzLoading]="pageable.loading" [nzTotal]="pageable.total" [(nzPageIndex)]="pageable.pageIndex" [(nzPageSize)]="pageable.pageSize" (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)" [nzShowTotal]="tableTotal" nzBordered nzSize="middle">
        <thead>
          <tr role="row">
            <th class="text-center" scope="col" style="width: 50px" rowspan="2"></th>
            <th class="text-center" scope="col" rowspan="2">เลขประจำตัว <br> {{typeSpending == 'SENDER' ? 'ผู้เสียภาษีอากรผู้รับโอน' : 'ผู้เสียภาษีอากรผู้โอน'}}</th>
            <th class="text-center" scope="col" rowspan="2">ชื่อ - นามสกุล <br> {{typeSpending == 'SENDER' ? 'ผู้รับโอน' : 'ผู้โอน'}}</th>
            <th class="text-center" scope="col" rowspan="2">ที่อยู่ <br> {{typeSpending == 'SENDER' ? 'ผู้รับโอน' : 'ผู้โอน'}}</th>
            <th class="text-center" scope="col" rowspan="2">จำนวนเงิน <br> (บาท)</th>
            <th class="text-center" scope="col" rowspan="2">ภาษี <br> มูลค่าเพิ่ม (บาท)</th>
            <th class="text-center" scope="col" rowspan="2">วันที่ <br> จ่ายเงิน</th>
            <th class="text-center" scope="col" colspan="3">ข้อมูลบัญชีผู้โอน</th>
            <th class="text-center" scope="col" colspan="3">ข้อมูลบัญชีผู้โอน</th>
            <th class="text-center" scope="col" rowspan="2"></th>
          </tr>
          <tr role="row">
            <th class="text-center" scope="col">ธนาคารและ<br>สาขา</th>
            <th class="text-center" scope="col">ช่องทาง<br>Prompt Pay</th>
            <th class="text-center" scope="col">เลขที่</th>
            <th class="text-center" scope="col">ธนาคารและ<br>สาขา</th>
            <th class="text-center" scope="col">ช่องทาง<br>Prompt Pay</th>
            <th class="text-center" scope="col">เลขที่</th>
          </tr>
        </thead>
        <tbody>
        <tr role="row" class="odd" *ngFor="let data of dataSet; let i = index">
          <td class="text-center">{{ (pageable.pageIndex - 1) * pageable.pageSize + i + 1 }}</td>
          <td class="text-center">{{ data.recePin | mask: '0-0000-00000-00-0' }}</td>
          <td class="text-left">{{data.name}}</td>
          <td class="text-left">{{data.address}} {{data.address2}}</td>
          <td class="text-right">{{ data.paymentAmount | number: '1.2-2'}}</td>
          <td class="text-right">{{data.vatAmount | number: '1.2-2'}}</td>
          <td class="text-center">{{data.paymentDate | thaiCustomFormatdate :'DD/MM/YYYY' }}</td>
          <td class="text-right">{{ data.sendingBankFiName }}</td>
          <td class="text-right">{{data.promptPayType}}</td>
          <td class="text-center">{{data.senderAccountNo == '-'? '-' : data.senderAccountNo | mask: '000-0-00000-0'}}</td>
          <td class="text-right">{{ data.receivingBankFiName }}</td>
          <td class="text-right">{{data.promptPayTypeReceiver}}</td>
          <td class="text-center">{{data.receiverAccountNo == '-' ? '-' : data.receiverAccountNo | mask: '000-0-00000-0'}}</td>
          <td class="text-center text-nowrap">
            <button type="button" class="btn btn-orange btn-sm btn-auto" (click)="open(content, data.id, data.seq, data.processingDetailId)" tooltip="ดูธุรกรรม">
              <i class="fa fa-file-o" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </nz-table>
      <ng-template #tableTotal let-range="range" let-total>
        แสดง {{range[0]}}-{{range[1]}} จาก ทั้งหมด {{total |number}} รายการ
      </ng-template>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title title mt-auto text-left" id="modal-basic-title" style="margin-left: -20px;">
          รายละเอียดธุรกรรมการใช้จ่าย {{typeSpending == 'SENDER' ? 'ที่โอน' : 'ที่รับโอน'}}
        </h4>
        <br>
        <a target="_blank" class="btn btn-primary btn-auto" (click)="print()">
            <i class="fa fa-print"></i> พิมพ์
        </a>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <pdf-viewer [src]="urlPdf" [render-text]="true" [zoom]="0.7"></pdf-viewer>
            </div>
        </div>
    </div>
    
    <div class="row text-center d-block">
        <button type="button" class="btn btn-danger btn-auto" (click)="modalService.dismissAll()" #closeBtn>
            <i class="fa fa-close"></i> ปิด
        </button>
    </div>
</ng-template>
</section>
