<div class="content">
  <div class="header-title">
    <h1><strong>รายงานสรุปผลการคัดแยกรายการข้อมูล</strong>
      <small class="pull-right"><a [routerLink]="['/']" class="active">หน้าหลัก</a> / รายงานสรุปผลการคัดแยกรายการข้อมูล
      </small>
    </h1>

  </div>
  <div class="card border-light mb-4">
    <div class="card-header">
      <h4 class="panel-title">
        <i class="header-title fa fa-file-text"></i> ค้นหา
      </h4>
    </div>
    <div class="card-body">
      <form [formGroup]="reportDataExtractionSearchForm" (ngSubmit)="onSubmit()">
        <div formGroupName="reportDataExtractionSearchC">
          <div class="form-row">
            <div class="form-group col-lg-12">
              <label for="fiNameTh">ผู้นำส่ง</label>
              <input formControlName="fiNameTh"
                     [typeahead]="financialList"
                     [typeaheadMinLength]="0"
                     (typeaheadOnSelect)="onSelectFi($event)"
                     placeholder="เลือกผู้นำส่ง"
                     typeaheadOptionField="fiNameTh"
                     class="form-control full" id="fiNameTh">
            </div>

            <div class="form-group col-lg-8">
              <label for="dateRange">ช่วงวันที่นำส่งข้อมูล</label>
              <input type="text" class="form-control full"
                     formControlName="dateRange"
                     [minDate]="minDate"
                     placeholder="เลือกช่วงวันที่นำส่งข้อมูล"
                     id="dateRange" bsDaterangepicker>
            </div>

            <div class="form-group col-lg-2 reset-button">
              <button type="submit" class="btn btn-success margin-top-10" id="list-search"><i
                class="fa fa-search"></i> ค้นหา
              </button>
            </div>
            <div class="form-group col-lg-2 reset-button">
              <button type="button" class="btn btn-warning margin-top-10" (click)="resetForm()" id="clear"><i
                class="fa fa-repeat"></i> ล้างค่า
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>


  </div>
  <div class="card border-light mb-4">
    <div class="card-header">
      <h4 class="panel-title">
        <i class="header-title fa fa-file-text"></i> ผลการค้นหา
      </h4>
    </div>
    <div class="card-body scroller">
      <!--                    <div style="padding-bottom: 10px">-->
      <!--                        แสดงหน้าละ-->
      <!--                        <select id="pageSize" [ngModel]="pageSize" (ngModelChange)="getPageSize($event)">-->
      <!--                            <option value="5">5</option>-->
      <!--                            <option value="10">10</option>-->
      <!--                            <option value="15">15</option>-->
      <!--                        </select>-->
      <!--                        รายการ-->
      <!--                    </div>-->
      <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%"
             style="font-size: 12px;white-space: nowrap;">
        <thead>
        <tr>
          <th scope="col" class="text-center" rowspan="2" style="width: 5%">ลำดับ</th>
          <th scope="col" class="text-center" rowspan="2" style="width: 12%">ชื่อผู้นำส่ง</th>
          <th scope="col" class="text-center" rowspan="2" style="width: 10%">ประเภทข้อมูล</th>
          <th scope="col" class="text-center" rowspan="2" style="width: 5%">วัน/เวลาที่ส่งข้อมูล<br>(Receive Date)</th>
          <th scope="col" class="text-center" rowspan="2" style="width: 5%">วันที่ทำรายการ <br> (Payment Date)</th>
          <th scope="col" class="text-center" rowspan="2" style="width: 6%">รายการ<br>ทั้งหมด</th>
          <th scope="col" class="text-center" rowspan="2" style="width: 5%">จำนวณเงิน<br>ทั้งหมด</th>
          <th scope="col" class="text-center" rowspan="2" style="width: 5%">รายการทั้งหมด<br>ที่ไม่คัดแยก</th>
          <th scope="col" class="text-center" rowspan="2" style="width: 5%">จำนวณเงินทั้งหมด<br>ที่ไม่คัดแยก</th>
          <th scope="col" class="text-center" rowspan="2" style="width: 5%">รายการทั้งหมด<br>ที่คัดแยก</th>
          <th scope="col" class="text-center" rowspan="2" style="width: 5%">จำนวณเงินทั้งหมด<br>ที่คัดแยก</th>
          <th scope="col" class="text-center" colspan="2" style="width: 5%">ข้อมูลภาษีซื้อ</th>
          <th scope="col" class="text-center" colspan="2" style="width: 5%">ข้อมูลภาษีขาย</th>
          <th scope="col" class="text-center" colspan="2" style="width: 5%">ข้อมูลหักภาษี ณ ที่จ่ายของผู้หัก</th>
          <th scope="col" class="text-center" colspan="2" style="width: 5%">ข้อมูลหักภาษี ณ ที่จ่ายของผู้ถูกหัก</th>
          <th scope="col" class="text-center" colspan="4" style="width: 12%">การใช้จ่ายแบบรายวันของประชาชน</th>

        </tr>
        <tr>
          <th scope="col" class="text-center">จำนวนรายการ</th>
          <th scope="col" class="text-center">จำนวนเงินภาษี</th>
          <th scope="col" class="text-center">จำนวนรายการ</th>
          <th scope="col" class="text-center">จำนวนเงินภาษี</th>
          <th scope="col" class="text-center">จำนวนรายการ</th>
          <th scope="col" class="text-center">จำนวนเงินภาษี</th>
          <th scope="col" class="text-center">จำนวนรายการ</th>
          <th scope="col" class="text-center">จำนวนเงินภาษี</th>
          <th scope="col" class="text-center" style="width: 2%">จำนวนรายการ</th>
          <th scope="col" class="text-center" style="width: 3%">จำนวนเงิน</th>
          <th scope="col" class="text-center" style="width: 5%">WHT</th>
          <th scope="col" class="text-center" style="width: 5%">VAT</th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let el of EdcReportDataExtractionList | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: page, totalItems: total }; let i=index">
          <th scope="row" class="text-center">{{ (this.page - 1) * this.pageSize + i + 1 }}</th>
          <td class="text-left">{{this.financialMap.get(el.fiCode)}}</td>
          <td class="text-left">{{this.dataTypeMap.get(el.dataTypeCode) || '-'}}</td>
          <td class="text-center">{{(el.receiveDate | thaidate: 'DD/MM/YYYY HH:mm น.') || '-'}}</td>
          <td class="text-center">{{(el.paymentDate | thaidate: 'DD/MM/YYYY') || '-'}}</td>

          <td class="text-right">{{(el.totalRecord | currency:'':'':'1.0-0')|| '0'}}</td>
          <td class="text-right">{{(el.totalAmount | currency:'':'':'1.2-2') || '0.00'}}</td>

          <td class="text-right">{{(el.totalNotExtRecord | currency:'':'':'1.0-0') || '0'}}</td>
          <td class="text-right">{{(el.totalNotExtAmount| currency:'':'':'1.2-2') || '0.00'}}</td>

          <td class="text-right">{{(el.totalExtRecord | currency:'':'':'1.0-0') || '0'}}</td>
          <td class="text-right">{{(el.totalExtAmount| currency:'':'':'1.2-2') || '0.00'}}</td>

          <td class="text-right">{{(el.totalTaxInputRecord | currency:'':'':'1.0-0') || '0'}}</td>
          <td class="text-right">{{(el.totalTaxInputAmount| currency:'':'':'1.2-2') || '0.00'}}</td>

          <td class="text-right">{{(el.totalTaxOutputRecord | currency:'':'':'1.0-0') || '0'}}</td>
          <td class="text-right">{{(el.totalTaxOutputAmount | currency:'':'':'1.2-2') || '0.00'}}</td>

          <td class="text-right">{{(el.totalWhtAgentRecord | currency:'':'':'1.0-0') || '0'}}</td>
          <td class="text-right">{{(el.totalWhtAgentAmount | currency:'':'':'1.2-2') || '0.00'}}</td>

          <td class="text-right">{{(el.totalWhtTaxpayerRecord | currency:'':'':'1.0-0') || '0'}}</td>
          <td class="text-right">{{(el.totalWhtTaxpayerAmount | currency:'':'':'1.2-2') || '0.00'}}</td>

          <td class="text-right">{{(el.totalTaxSpendingRecord | currency:'':'':'1.0-0') || '0'}}</td>
          <td class="text-right">{{(el.totalTaxSpendingAmount | currency:'':'':'1.2-2') || '0.00'}}</td>

          <td class="text-right">{{(el.totalTaxSpendingWhtAmount | currency:'':'':'1.2-2') || '0'}}</td>
          <td class="text-right">{{(el.totalTaxSpendingVatAmount | currency:'':'':'1.2-2') || '0.00'}}</td>
        </tr>
        <tr *ngIf="EdcReportDataExtractionList.length === 0">
          <td colspan="14" class="text-center"> ไม่พบข้อมูล</td>
        </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
            แสดงผล
            {{EdcReportDataExtractionList.length}} จาก
            {{total}} รายการ
          </div>
        </div>
        <div class="col-sm-7 text-right">

          <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
        </div>
      </div>
    </div>
  </div>

</div>
<style>
  .scroller {
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }
</style>

