<div class="header-title">
  <h1><strong>จัดการเอกสารแนบสำหรับเอกสารคำร้องขอคืนเงินภาษีอากร</strong>
    <small class="pull-right"><a href="#" class="active">หน้าหลัก</a> /
      เพิ่ม/แก้ไข ชื่อเอกสารแนบ
    </small>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" >
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false">
      <div class="panel-heading">
        <div class="panel-title">
          <h4> เพิ่ม/แก้ไข ชื่อเอกสารแนบ</h4>
        </div>
      </div>
      <div class="panel-body">
        <form role="form" class="form-groups-bordered" [formGroup]="formAttachment"
                    (ngSubmit)="saveAttachment()">
        <div class="row">
          <div class="form-group col-lg-2">
            <label class="pull-right">ชื่อเอกสารแนบ</label>
          </div>
          <div class="form-group col-lg-8">
            <input type="text"  class="form-control" id="docRequestName" appIgnoreKey allowKey="thai&space" 
            maxlength="255" formControlName="docRequestName" placeholder="ชื่อเอกสารแนบ"
            [ngClass]="{ 'is-invalid': attachmentSubmit && field.docRequestName.errors}">
            <div *ngIf="attachmentSubmit && field.docRequestName.errors" class="red">
              <div *ngIf="field.docRequestName.errors.required">กรุณาระบุชื่อเอกสารแนบ</div>
            </div>
          </div>
        </div>
       
        <div class="row justify-content-center">
          <div class="form-group col-lg-2 reset-button">
            <button type="submit" class="btn btn-green w-md m-b-5"><i class="fa fa-floppy-o"></i>
              &nbsp;บันทึก</button>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <button type="button" class="btn btn-danger w-md m-b-5" (click)="black()"><i class="fa fa-times"></i>
              ยกเลิก</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
