<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <p>ประเภทภาษีอากร :</p>
    </div>
    <div class="col-12 col-sm-3">
      <p>{{taxRequestModel.taxType.taxTypeName | replaceNullValue: '-'}}</p>
    </div>
    <ng-container *ngIf="taxRequestModel.pndType">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <p>ประเภท ภ.ง.ด :</p>
      </div>
      <div class="col-12 col-sm-3">
        <p>{{taxRequestModel.pndType | replaceNullValue: '-'}}</p>
      </div>
    </ng-container>
  </div>
  <div class="row" *ngIf="taxRequestModel.accountPeriodStart">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <p>รอบระยะเวลาบัญชีตั้งแต่วัน/เดือน/ปีภาษี :</p>
    </div>
    <div class="col-12 col-sm-3">
      <p>{{taxRequestModel.accountPeriodStart | thaidate}}</p>
    </div>
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <p>ถึง :</p>
    </div>
    <div class="col-12 col-sm-3">
      <p>{{taxRequestModel.accountPeriodEnd | thaidate}}</p>
    </div>
  </div>
  <div class="row" *ngIf="taxRequestModel.taxYear && taxRequestModel.taxMonth">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <p>ปีภาษี :</p>
    </div>
    <div class="col-12 col-sm-3">
      <p>{{taxRequestModel.taxYear | thaidate: 'YYYY'}}</p>
    </div>
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <p>เดือนภาษี :</p>
    </div>
    <div class="col-12 col-sm-3">
      <p>{{taxRequestModel.taxMonth | thaidate: 'MMMM'}}</p>
    </div>
  </div>
  <div class="row" *ngIf="taxRequestModel.taxYear">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <p>ปีภาษี :</p>
    </div>
    <div class="col-12 col-sm-3">
      <p>{{taxRequestModel.taxYear | thaidate: 'YYYY'}}</p>
    </div>
  </div>
  <div class="row" *ngIf="taxRequestModel.taxDate">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <p>วันเดือนปีที่ชำระอากร/ชำระภาษีทั้งหมด :</p>
    </div>
    <div class="col-12 col-sm-3">
      <p>{{taxRequestModel.taxDate | thaidate}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <p>จำนวนเงิน :</p>
    </div>
    <div class="col-12 col-sm-3">
      <p>{{taxRequestModel.requestAmount | replaceNullValue: '0' | number: '1.2'}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <p>มูลเหตุที่ขอคืน :</p>
    </div>
    <div class="col-12 col-sm-3">
      <p>{{taxRequestModel.reasonRequest.reasonName | replaceNullValue: '-'}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <p>รายละเอียดของมูลเหตุที่ขอคืน :</p>
    </div>
    <div class="col-12 col-sm-3">
      {{taxRequestModel.detailOfReason | replaceNullValue: '-'}}
    </div>
  </div>
</div>
