<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <div class="col-md-12">
    <div class="d-flex justify-content-between">
      <div>
        <h2><ng-content></ng-content> </h2>
      </div>
<!--      <div class="text-right">-->
<!--        <app-cert-navbar></app-cert-navbar>-->
<!--      </div>-->
    </div>
  </div>
</div>
