<section class="content">
    <div class="header-title mb-4">
        <h1>
            <app-back-button></app-back-button>
            <strong>ธุรกรรมลักษณะเฉพาะแบบสรุปของผู้เสียภาษีอากร ปี พ.ศ. {{year}}</strong>
        </h1>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <h4><i class="fa fa-list"></i>ข้อมูลผู้เสียภาษีอากร</h4>
        </div>
        <div class="card-body">
            เลขประจำตัวผู้เสียภาษีอากร : <b>{{ specialTransAddress?.pin | mask: '0-0000-00000-00-0' }}</b>&nbsp;&nbsp; 
            ชื่อผู้เสียภาษีอากร : <b>{{ specialTransAddress?.name }}</b>&nbsp;&nbsp; 
            สาขา <b>{{ specialTransAddress?.branchNo}}</b><br/> 
            ที่อยู่ :  <b>{{ specialTransAddress?.buildingName || '' }} {{ specialTransAddress?.roomNo || '' }}
            {{ specialTransAddress?.floor || '' }} {{ specialTransAddress?.village || '' }}
            {{ specialTransAddress?.addressNo || '' }} {{ specialTransAddress?.moo || '' }}
            {{ specialTransAddress?.soi || '' }} {{ specialTransAddress?.lane || '' }}
            {{ specialTransAddress?.road || '' }} {{ specialTransAddress?.subDistrict || '' }}
            {{ specialTransAddress?.district || '' }} {{ specialTransAddress?.province || '' }}
            {{ specialTransAddress?.postcode || '' }}</b><br/>
            สำนักงานภูมิลำเนา : <b>{{ specialTransAddress?.offCodeName || '' }}</b>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <h4><i class="fa fa-list"></i>รายชื่อธนาคาร </h4>
        </div>
        <div class="row  table-conclusion">
            <div class="col-12 text-right col-sm-3 offset-sm-9 d-block">
                <button type="button" class="btn btn-primary" (click)="componentA.openFilingFormSmall(urlPdfSummary,
                'รายละเอียดธุรกรรมลักษณะเฉพาะ ปี พ.ศ.'+year)">
                    <i class="fa fa-print"></i> พิมพ์
                </button>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr role="row">
                        <th class="text-center" scope="col">ธนาคาร</th>
                        <th class="text-center" scope="col">จำนวนบัญชี</th>
                        <th class="text-center" scope="col">จำนวนครั้ง</th>
                        <th class="text-center" scope="col">ยอดรวม (บาท)</th>
                        <th class="text-center" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of specialTransDetails">
                        <td class="text-center">{{data.receiverFiName}}</td>
                        <td class="text-center">{{data.numberOfAccount | number:'1.0-0'}}</td>
                        <td class="text-center">{{data.transferTimes | number:'1.0-0'}}</td>
                        <td class="text-center">{{data.totalAmountReceived | number:'1.2-2'}}</td>                      
                        <td class="text-center">
                            <button type="button" class="btn btn-orange btn-sm btn-auto" (click)="componentA.openFilingFormSmall(urlPdfOpen+data.receiverFiCode,
                            'รายละเอียดธุรกรรมลักษณะเฉพาะ ปี พ.ศ.'+year)">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                            <!-- <button type="button" class="btn btn-orange btn-sm btn-auto" (click)="open(contentBank, data.receiverFiCode)"
                                tooltip="ดูรายละเอียด">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button> -->
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">รวม</td>
                        <td class="text-center">{{numberOfAccount | number:'1.0-0'}}</td>
                        <td class="text-center">{{transferTimes | number:'1.0-0'}}</td>
                        <td class="text-center">{{totalAmountReceived | number:'1.2-2'}}</td>
                        <td class="text-center">
                          <button type="button" class="btn btn-orange btn-sm btn-auto" (click)="componentA.openFilingFormSmall(urlPdfTotal,
                          'รายละเอียดธุรกรรมลักษณะเฉพาะ ปี พ.ศ.'+year)">
                              <i class="fa fa-search" aria-hidden="true"></i>
                          </button>
                      </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   
  <ng-template #contentSpecialSummary let-modal>
    <div class="modal-header">
        <h4 class="modal-title title mt-auto" id="modal-basic-title">ตัวอย่างก่อนพิมพ์</h4>
        <p class="modal-title mt-auto"><b>การตั้งค่ากระดาษ : แนวตั้ง  ขนาด A4</b></p>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <pdf-viewer [src]="urlPdf" [render-text]="true" [fit-to-page]="true"
                ></pdf-viewer>
            </div>
        </div>
        <div class="row text-center d-block">
            <button type="button" class="btn btn-primary btn-auto" #printBtn (click)="print()">
                <i class="fa fa-print"></i> ยืนยันคำสั่งพิมพ์
            </button>
            <button type="button" class="btn btn-danger btn-auto" (click)="modalService.dismissAll()" #closeBtn>
                <i class="fa fa-close"></i> ปิด
            </button>
        </div>
    </div>
</ng-template>
</section>
<app-modal-show-pdf #componentA ></app-modal-show-pdf>