<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <form [formGroup]="searchForm">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>Monitor การประมวลผลคัดแยกข้อมูล</h4>
        </div>
      </div>
      <input type="hidden" value="" id="processDate" class="form-control" formControlName="processDate">
      <input type="hidden" value="" id="receiveDate" class="form-control" formControlName="receiveDate">
      <input type="hidden" value="" id="paymentDate" class="form-control" formControlName="paymentDate">
      <input type="hidden" value="" id="dataTypeID" class="form-control" formControlName="dataTypeID">
      <input type="hidden" value="" id="statusGrp" class="form-control" formControlName="statusGrp">
      <input type="hidden" value="" id="senderID" class="form-control" formControlName="senderID">
      <input type="hidden" value="" id="stateID" class="form-control" formControlName="stateID">

      <div class="panel-body" *ngFor="let data of receiveData">
        <div class="row">
          <div class="form-group col-lg-4 pr-0">
            <label class="pull-right">ชื่อไฟล์ : </label>
          </div>
          <div class="form-group col-lg-8">
            <label class="pull-left">{{data.fileName}}</label>
          </div>

          <div class="form-group col-lg-4 pr-0">
            <label class="pull-right">ขั้นตอนการดำเนินการ : </label>
          </div>
          <div class="form-group col-lg-8">
            <label class="pull-left">{{data.stateDesc}}</label>
          </div>
          
          <div class="form-group col-lg-4 pr-0">
            <label class="pull-right">สถานะ : </label>
          </div>
          <div class="form-group col-lg-8">
            <label class="pull-left">{{data.statusGrpDesc}}</label>
          </div>

          <div class="form-group col-lg-4 pr-0">
            <label class="pull-right">สาเหตุความผิดพลาด : </label>
          </div>
          <div class="form-group col-lg-8">
            <label class="pull-left">{{data.errorDesc}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
