<div class="header-title">
  <h1><strong>พิจารณาประมวลผล/ยุติการประมวลผล</strong>
    <small class="pull-right"><a href="#" class="active">หน้าหลัก</a> /
      พิจารณาประมวลผล/ยุติการประมวลผล
    </small>
  </h1>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false">
      <div class="panel-heading">
        <div class="panel-title">
          <h4><i class="fa fa-desktop" aria-hidden="true"></i> ARSP0107: พิจารณาประมวลผล/ยุติการประมวลผล</h4>
        </div>
        <div class="panel-options" style="padding-top: 10px;text-align: right;">
          <i class="fa fa-chevron-down" aria-hidden="true" (click)="isCollapsed = !isCollapsed"
             [attr.aria-expanded]="!isCollapsed" aria-controls="collapseEvent"></i>
        </div>
      </div>
      <div class="panel-body" id="collapseBasic" [collapse]="isCollapsed">
        <div class="col-lg-12">
          <div class="row">
            <nav class="navbar navbar-light bg-info col-lg-12">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <h6><i class="fa fa-desktop" aria-hidden="true"></i> กลุ่มข้อมูลที่ต้องการนำออก "{{requestForm?.searchTemplate?.searchTemplateName}}"
                  </h6>
                </li>
              </ul>
            </nav>
          </div>
          <div class="row">
            <div class="col-xl-1 col-lg-2 col-sm-2">
              <label style="font-weight: bold;"> เรื่อง </label>
            </div>
            <div class="col-xl-5 col-lg-4 col-sm-4">
              <label>{{requestForm?.formTitle}}</label>
            </div>
            <div class="col-xl-2 col-lg-2 col-sm-2">
              <label style="font-weight: bold;"> ผู้สร้างใบคำขอ </label>
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-4">
              <label>{{requestForm?.userRequestName}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-1 col-lg-2 col-sm-2">
              <label style="font-weight: bold;"> วัตถุประสงค์ </label>
            </div>
            <div class="col-xl-5 col-lg-4 col-sm-4">
              <label>{{requestForm?.formDesc}}</label>
            </div>
            <div class="col-xl-2 col-lg-2 col-sm-2">
              <label style="font-weight: bold;"> วันที่เวลาสร้างใบคำขอฯ </label>
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-4">
              <label>{{(requestForm?.createdDate | thaidate: 'DD/MM/YYYY HH:mm:ss') || '-'}}</label>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                <tr role="row">
                  <th class="text-center">ลำดับที่</th>
                  <th class="text-center">รายชื่อฟิลด์ที่ร้องขอ</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of masters; index as i">
                    <td class="text-center" style="min-width:100px;width:100px;">{{i + 1}}</td>
                    <td class="text-left" width="auto">{{item.colDescTh}}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="row">
            <nav class="navbar navbar-light bg-info col-lg-12">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <h6><i class="fa fa-external-link" aria-hidden="true"></i> เงื่อนไขการนำออก</h6>
                </li>
              </ul>
            </nav>
          </div>
          <br/>
          <div *ngFor="let criteria of requestFormCriterias" class="row">
            <div class="col-lg-3">
              <label> {{criteria.colDescTh}} </label>
            </div>
            <div class="col-lg-6" *ngIf="criteria.isSearchByList">
              <label style="color:dodgerblue;">{{criteria.criteriaValue}}</label>
            </div>
            <div class="col-lg-6" *ngIf="criteria.isPeriodSearch">
              <label style="color:dodgerblue;">{{criteria.periodDateFrom | thaidate : 'DD/MM/YYYY'}} ถึง {{criteria.periodDateTo | thaidate : 'DD/MM/YYYY'}}</label>
            </div>
          </div>
        </div>
        <br/>
        <div class="col-lg-12">
          <div class="row">
            <nav class="navbar navbar-light bg-info col-lg-12">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <h6><i class="fa fa-filter" aria-hidden="true"></i> จัดเรียงข้อมูลนำออก</h6>
                </li>
              </ul>
            </nav>
          </div>
          <br/>
          <div class="row">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                <tr role="row">
                  <th class="text-center">ลำดับที่</th>
                  <th class="text-center" colspan="2">ฟิลด์ที่ต้องการให้จัดเรียงข้อมูล</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of mastersSorting; index as i">
                    <td class="text-center" style="min-width:100px;width:100px;">{{i + 1}}</td>
                    <td class="text-left" width="auto">{{item.colDescTh}}</td>
                    <td class="text-left" width="auto">{{arsCommonService.convertSortingToTH(item.sortingType)}}</td> 
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
        <br/>

        <div class="col-lg-12">
          <div class="row">
            <nav class="navbar navbar-light bg-info col-lg-12">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <h6><i class="fa fa-external-link" aria-hidden="true"></i> ชนิดไฟล์ที่เลือกนำออก</h6>
                </li>
              </ul>
            </nav>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <label> นำ file ออกในรูปแบบ </label>
            </div>
            <div class="col-lg-6">
              <label style="color:dodgerblue;">{{(requestForm?.fileType) || '-'}}</label>
            </div>
          </div>
        </div>
        <br/>

        <div class="col-lg-12">
          <div class="row">
            <nav class="navbar navbar-light bg-info col-lg-12">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <h6><i class="fa fa-times-circle" aria-hidden="true"></i> ระบุเหตุผลยุติการประมวลผล</h6>
                </li>
              </ul>
            </nav>
          </div>
          <br/>
          <div class="row">
             <textarea rows="5" style="width:100%;" class="form-control">
             </textarea><br>
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-lg-3 reset-button">
              <button type="button" class="btn btn-info margin-top-10" (click)="rejectRequest()">
                ยุติการประมวลผล
              </button>
            </div>
            <div class="form-group col-lg-3 reset-button">
              <button type="submit" class="btn btn-green margin-top-10" (click)="process(processModal)">
                ประมวลผล
              </button>
            </div>
            <div class="form-group col-lg-2 reset-button">
              <button type="button" class="btn btn-warning margin-top-10">
                ล้างข้อมูล
              </button>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<div class="form-group col-lg-3 reset-button" style="float: right;">
  <button type="button" class="btn btn-primary margin-top-10" (click)="goHome()">
    <i class="fa fa-home" aria-hidden="true"></i>
    กลับหน้าหลัก
  </button>
</div>

<ng-template #processModal>
  <form novalidate [formGroup]="configExecuteBatchFormGroup">
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">ARSP0108: Pop up ตั้งค่าประมวลผล</h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">x</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- row 1-->
    <div class="row form-group col-md-12">
      <div class="col-md-6">
        <input type="radio" name="radio" formControlName="proceedType" value="DEFAULT" />
        <label class="form-check-label" style="margin-left: 10px;">
          เลือกเวลาจากการตั้งค่า
        </label>
      </div>
      <div class="col-md-3">
        <input style="margin-left: 5px;" type="text" formControlName="defaultProceedTime" class="form-control-sm" disabled="true" />
      </div>
    </div>
    <!-- row 2-->
    <div class="row form-group col-md-12">
      <div class="col-md-6">
        <input type="radio" name="radio" formControlName="proceedType" value="CUSTOM" />
        <label class="form-check-label" style="margin-left: 10px;">
          เวลาประมวลผล (HH:MM)
        </label>
      </div>
      <div class="col-md-2 d-inline-flex">
        <input style="margin-left: 5px; width: 80px;" type="number" formControlName="proceedTimeHH" class="form-control-sm" maxlength="2" appNumberOnly />
        <label class="label" style="margin-left: 5px;margin-right: 5px;margin-top: 0px; font-size: larger"> : </label>
        <input style="width: 80px;" type="number" formControlName="proceedTimeMM" class="form-control-sm" maxlength="2" appNumberOnly />
      </div>
    </div>
    <div class="row form-group col-md-12" *ngIf="proceedTimeHHControl.errors">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div *ngIf="isInvalidAndTouched(proceedTimeHHControl)" class="red error-msg">
          <div *ngIf="proceedTimeHHControl.errors.max"> กรุณาระบุข้อมูลขั่วโมงให้ถูกต้อง (00-23) </div>
          <div *ngIf="proceedTimeHHControl.errors.required"> กรุณาระบุข้อมูลขั่วโมง </div>
        </div>
      </div>
    </div>
    <div class="row form-group col-md-12" *ngIf="proceedTimeMMControl.errors">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div *ngIf="isInvalidAndTouched(proceedTimeMMControl)" class="red error-msg">
          <div *ngIf="proceedTimeMMControl.errors.max"> กรุณาระบุข้อมูลนาทีให้ถูกต้อง (00-59) </div>
          <div *ngIf="proceedTimeMMControl.errors.required"> กรุณาระบุข้อมูลนาที </div>
        </div>
      </div>
    </div>
    <!-- row 3-->
    <div class="row form-group col-md-12">
      <div class="col-md-8">
        <input type="radio" name="radio" formControlName="proceedType" value="NOW" />
        <label class="form-check-label" style="margin-left: 10px;">
          ประมวลผลทันที
        </label>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-green margin-top-10" style="width:200px;" (click)="confirmConfig()">
        ประมวลผล
      </button>
      <button type="button" class="btn btn-warning margin-top-10 float-lg-right" style="width:200px;" (click)="dismissModal()">
        ปิดหน้าต่าง
      </button>
    </div>
  </div>
  </form>
</ng-template>
