<div class="content">
  <div class="header-title mb-4">
    <h1><strong>จัดการกลุ่มสิทธิ์ผู้ใช้งานภายนอก </strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / จัดการกลุ่มผู้ใช้และสิทธิ์</small></h1>
  </div>

  <div class="card mb-4">
    <div class="card-header ">
      <div class="justify-content-left">
        <h3><i class="header-title fa fa-file-text"></i> ค้นหา</h3>
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="form">
          <div class="row">
            <div class="form-group col-lg-4">
              <label>ชื่อกลุ่มผู้ใช้งาน</label>
              <input type="text" class="form-control" formControlName="name" placeholder="ชื่อ">
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-lg-12 text-center">
              <a class="btn btn-success margin-top-10 btn-auto " (click)="search()"> <i
                  class="glyphicon glyphicon-search"></i>
                ค้นหา</a>
              <a class="btn btn-warning margin-top-10 btn-auto" (click)="clear()"><i
                  class="glyphicon glyphicon-repeat"></i>
                ล้างค่า</a>
            </div>
          </div> -->
          <div class="row justify-content-center">
            <div class="form-group col-lg-2 reset-button">
                <a class="btn btn-success margin-top-10" (click)="search()"> <i class="glyphicon glyphicon-search"></i> ค้นหา</a>
                </div>
                <div class="form-group col-lg-2 reset-button">
                <a  class="btn btn-warning margin-top-10" (click)="search()"> <i class="glyphicon glyphicon-repeat"></i> ล้างค่า</a>
            </div>
          </div>
      </form>
    </div>
  </div>




  <div class="card mb-4">
    <div class="card-header ">
      <div class="justify-content-left">
        <h3><i class="fa fa-file-text"></i> ผลการค้นหา</h3>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-striped table-sm" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ชื่อกลุ่มผู้ใช้งาน</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let userType of userTypes;let i = index">
            <td scope="row">{{((currentPage-1) * pageSize)+i + 1}}</td>
            <td>{{userType.name}} {{userType.key}}</td>
            <td>
              <a class="btn btn-orange btn-auto" [routerLink]="['/external-user-management/permission/view/'+userType.key]">
                <i class="fa fa-eye" aria-hidden="true" title="เรียกดู"></i>
              </a>
              <a class="btn btn-orange ml-1 btn-auto"
                [routerLink]="['/external-user-management/permission/edit/'+userType.key]">
                <i class="fa fa-edit" aria-hidden="true" title="แก้ไข"></i>
              </a>
              <!-- <a class="btn btn-danger ml-1" (click)="delete(group.id)">
                    <i class="fa fa-trash" aria-hidden="true" title="ลบ"></i> ลบ
                  </a> -->

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
