<div class="content">
  <div class="header-title">
    <h1><strong>รายละเอียดรายงานตรวจสอบการรับ - ส่งข้อมูล </strong>
      <small class="pull-right"><a [routerLink]="['/']" class="active">หน้าหลัก</a> / <a
        [routerLink]="['/mft/report']" class="active">รายงานตรวจสอบการรับ - ส่งข้อมูล</a> /
        รายละเอียดรายงานตรวจสอบการรับ - ส่งข้อมูล
      </small>
    </h1>

  </div>

  <div class="card border-light mb-4">
    <div class="card-header">
      <h4 class="panel-title">
        <i class="header-title fa fa-file-text"></i> ข้อมูลผู้นำส่ง
      </h4>
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-lg-5">
          <label for="senderName">ผู้นำส่ง:</label>
          <input type="text" class="form-control" id="senderName"
                 [ngModel]="this.financialMap.get(edcDataProcessingObj.fiCode)" disabled>
        </div>
        <div class="form-group col-lg-3">
          <label for="ReceiveDate">วัน-เวลาที่ส่ง:</label>
          <input type="text" class="form-control" id="ReceiveDate"
                 [ngModel]="edcDataProcessingObj.receiveDate | thaidate: 'DD/MM/YYYY HH:mm น.'" disabled>
        </div>
        <div class="form-group col-lg-4">
          <label for="dataTypeName">ประเภทข้อมูล:</label>
          <input type="text" class="form-control" id="dataTypeName"
                 [ngModel]="edcDataProcessingObj.dataType.dataTypeDesTh" disabled>
        </div>
        <div class="form-group col-lg-4">
          <label for="totalFile">จำนวนไฟล์ทั้งหมด:</label>
          <input type="text" class="form-control" id="totalFile"
                 [ngModel]="edcDataProcessingObj.edcSenderMonitorFileTransferDetailList.length" disabled>
        </div>
        <div class="form-group col-lg-4">
          <label for="totalSuccess">จำนวนไฟล์ (สำเร็จ):</label>
          <input type="text" class="form-control" id="totalSuccess"
                 [ngModel]="edcDataProcessingObj.totalSuccess" disabled>
        </div>
        <div class="form-group col-lg-4">
          <label for="totalFailed">จำนวนไฟล์ (ผิดพลาด):</label>
          <input type="text" class="form-control" id="totalFailed"
                 [ngModel]="edcDataProcessingObj.totalFailed " disabled>
        </div>
        <div class="form-group col-lg-6">
          <label for="errorReason">ขั้นตอน</label>
          <input type="text" class="form-control" id="processState"
                 [ngModel]="processStateConfigMap.get(edcDataProcessingObj.processState)|| '-'" disabled>
        </div>
        <div class="form-group col-lg-6">
          <label for="errorReason">สาเหตุ:</label>
          <input type="text" class="form-control" id="errorReason"
                 [ngModel]="ackAndErrorCodeConfigMap.get(edcDataProcessingObj.errorReason)|| '-'" disabled>
        </div>
      </div>
    </div>
  </div>


  <div class="card border-light mb-4">
    <div class="card-header">
      <div class="panel-title">
        <h3><i class="fa fa-list"></i> ดูรายละเอียดรายงานตรวจสอบการรับ -
          ส่งข้อมูลจากหน่วยงานที่ส่งข้อมูล</h3>
      </div>
    </div>
    <div class="container"
         *ngIf="(edcDataProcessingObj.dataType.dataTypeCode === 'DT001' || edcDataProcessingObj.dataType.dataTypeCode === 'DT002') && checkNoData !== 'Y'">
      <div class="stepwizard" style="margin-top: 25px">
        <div class="stepwizard-row setup-panel">
          <!--  getFile   -->
          <div class="stepwizard-step stepwizard-step-4 col-xs-3"
               *ngIf="(edcDataProcessingObj.processState === 'PS002' || edcDataProcessingObj.processState === 'PS007' || edcDataProcessingObj.processState === 'PS008')">
            <p style="margin-bottom: 0px">
              <small>&nbsp;</small>
            </p>
            <div class="btn-setting btn-complate btn-circle">1</div>
            <p>
              <small>รับไฟล์จากผู้นำส่ง</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-4 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS001' && edcDataProcessingObj.status === 'ST005'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-danger btn-circle">1</div>
            <p>
              <small>รับไฟล์จากผู้นำส่ง</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-4 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS001' && edcDataProcessingObj.status === 'ST001'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-warning btn-circle">1</div>
            <p>
              <small>รับไฟล์จากผู้นำส่ง</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-4 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS001' && edcDataProcessingObj.status === 'ST003'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-complate btn-circle">1</div>
            <p>
              <small>รับไฟล์จากผู้นำส่ง</small>
            </p>
          </div>

          <!--  Decypt   -->
          <div class="stepwizard-step stepwizard-step-4 col-xs-3"
               *ngIf="(edcDataProcessingObj.processState === 'PS007' || edcDataProcessingObj.processState === 'PS008')">
            <p style="margin-bottom: 0px">
              <small>&nbsp;</small>
            </p>
            <div class="btn-setting btn-complate btn-circle">2</div>
            <p>
              <small>ถอดรหัสและตรวจสอบลายเซ็นอิเล็กทรอนิกส์</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-4 col-xs-3"
               *ngIf="(edcDataProcessingObj.processState === 'PS001')">
            <p style="margin-bottom: 0px">
              <small>&nbsp;</small>
            </p>
            <div class="btn-setting btn-secondary btn-circle">2</div>
            <p>
              <small>ถอดรหัสและตรวจสอบลายเซ็นอิเล็กทรอนิกส์</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-4 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS002' && edcDataProcessingObj.status === 'ST003'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-complate btn-circle">2</div>
            <p>
              <small>ถอดรหัสและตรวจสอบลายเซ็นอิเล็กทรอนิกส์</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-4 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS002' && edcDataProcessingObj.status === 'ST001'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-warning btn-circle">2</div>
            <p>
              <small>ถอดรหัสและตรวจสอบลายเซ็นอิเล็กทรอนิกส์</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-4 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS002' && edcDataProcessingObj.status === 'ST005'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-danger btn-circle">2</div>
            <p>
              <small>ถอดรหัสและตรวจสอบลายเซ็นอิเล็กทรอนิกส์</small>
            </p>
          </div>

          <!--  Simple Validate   -->
          <div class="stepwizard-step stepwizard-step-4 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS001' || edcDataProcessingObj.processState === 'PS002'">
            <p style="margin-bottom: 0px">
              <small>&nbsp;</small>
            </p>
            <div class="btn-setting btn-secondary btn-circle">3</div>
            <p>
              <small>Simple Validation</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-4 col-xs-3" *ngIf="edcDataProcessingObj.processState === 'PS008'">
            <p style="margin-bottom: 0px">
              <small>&nbsp;</small>
            </p>
            <div class="btn-setting btn-complate btn-circle">3</div>
            <p>
              <small>Simple Validation</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-4 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS007' && edcDataProcessingObj.status === 'ST005'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-danger btn-circle">3</div>
            <p>
              <small>Simple Validation</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-4 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS007' && edcDataProcessingObj.status === 'ST001'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-warning btn-circle">3</div>
            <p>
              <small>Simple Validation</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-4 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS007' && edcDataProcessingObj.status === 'ST002'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-warning btn-circle">3</div>
            <p>
              <small>Simple Validation</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-4 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS007' && edcDataProcessingObj.status === 'ST003'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-complate btn-circle">3</div>
            <p>
              <small>Simple Validation</small>
            </p>
          </div>

          <!--  Reconciles   -->
          <div class="stepwizard-step stepwizard-step-4 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS001' || edcDataProcessingObj.processState === 'PS002' || edcDataProcessingObj.processState === 'PS007'">
            <p style="margin-bottom: 0px">
              <small>&nbsp;</small>
            </p>
            <div class="btn-setting btn-secondary btn-circle">4</div>
            <p>
              <small>Reconciles</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-4 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS008' && edcDataProcessingObj.status === 'ST005'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-danger btn-circle">4</div>
            <p>
              <small>Reconciles</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-4 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS008' && edcDataProcessingObj.status === 'ST001'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-warning btn-circle">4</div>
            <p>
              <small>Reconciles</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-4 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS008' && edcDataProcessingObj.status === 'ST003'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-complate btn-circle">4</div>
            <p>
              <small>Reconciles</small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container"
         *ngIf="edcDataProcessingObj.dataType.dataTypeCode === 'DT004'">
      <div class="stepwizard" style="margin-top: 25px">
        <div class="stepwizard-row setup-panel">
          <!--  getFile   -->
          <div class="stepwizard-step stepwizard-step-2 col-xs-3"
               *ngIf="(edcDataProcessingObj.processState === 'PS002' || edcDataProcessingObj.processState === 'PS007' || edcDataProcessingObj.processState === 'PS008')">
            <p style="margin-bottom: 0px">
              <small>&nbsp;</small>
            </p>
            <div class="btn-setting btn-complate btn-circle">1</div>
            <p>
              <small>รับไฟล์จากผู้นำส่ง</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-2 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS001' && edcDataProcessingObj.status === 'ST005'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-danger btn-circle">1</div>
            <p>
              <small>รับไฟล์จากผู้นำส่ง</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-2 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS001' && edcDataProcessingObj.status === 'ST001'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-warning btn-circle">1</div>
            <p>
              <small>รับไฟล์จากผู้นำส่ง</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-2 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS001' && edcDataProcessingObj.status === 'ST003'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-complate btn-circle">1</div>
            <p>
              <small>รับไฟล์จากผู้นำส่ง</small>
            </p>
          </div>

          <!--  Simple Validate   -->
          <div class="stepwizard-step stepwizard-step-2 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS001' || edcDataProcessingObj.processState === 'PS002'">
            <p style="margin-bottom: 0px">
              <small>&nbsp;</small>
            </p>
            <div class="btn-setting btn-secondary btn-circle">3</div>
            <p>
              <small>Simple Validation</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-2 col-xs-3" *ngIf="edcDataProcessingObj.processState === 'PS008'">
            <p style="margin-bottom: 0px">
              <small>&nbsp;</small>
            </p>
            <div class="btn-setting btn-complate btn-circle">3</div>
            <p>
              <small>Simple Validation</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-2 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS007' && edcDataProcessingObj.status === 'ST005'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-danger btn-circle">3</div>
            <p>
              <small>Simple Validation</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-2 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS007' && edcDataProcessingObj.status === 'ST001'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-warning btn-circle">3</div>
            <p>
              <small>Simple Validation</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-2 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS007' && edcDataProcessingObj.status === 'ST002'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-warning btn-circle">3</div>
            <p>
              <small>Simple Validation</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-2 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS007' && edcDataProcessingObj.status === 'ST003'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-complate btn-circle">3</div>
            <p>
              <small>Simple Validation</small>
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="container"
         *ngIf="(edcDataProcessingObj.dataType.dataTypeCode === 'DT003' || edcDataProcessingObj.dataType.dataTypeCode === 'DT008') && checkNoData !== 'Y'">
      <div class="stepwizard" style="margin-top: 25px">
        <div class="stepwizard-row setup-panel">
          <!--  getFile   -->
          <div class="stepwizard-step stepwizard-step-3 col-xs-3"
               *ngIf="(edcDataProcessingObj.processState === 'PS002' || edcDataProcessingObj.processState === 'PS007' || edcDataProcessingObj.processState === 'PS008')">
            <p style="margin-bottom: 0px">
              <small>&nbsp;</small>
            </p>
            <div class="btn-setting btn-complate btn-circle">1</div>
            <p>
              <small>รับไฟล์จากผู้นำส่ง</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-3 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS001' && edcDataProcessingObj.status === 'ST005'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-danger btn-circle">1</div>
            <p>
              <small>รับไฟล์จากผู้นำส่ง</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-3 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS001' && edcDataProcessingObj.status === 'ST001'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-warning btn-circle">1</div>
            <p>
              <small>รับไฟล์จากผู้นำส่ง</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-3 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS001' && edcDataProcessingObj.status === 'ST003'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-complate btn-circle">1</div>
            <p>
              <small>รับไฟล์จากผู้นำส่ง</small>
            </p>
          </div>

          <!--  Decypt   -->
          <div class="stepwizard-step stepwizard-step-3 col-xs-3"
               *ngIf="(edcDataProcessingObj.processState === 'PS007' || edcDataProcessingObj.processState === 'PS008')">
            <p style="margin-bottom: 0px">
              <small>&nbsp;</small>
            </p>
            <div class="btn-setting btn-complate btn-circle">2</div>
            <p>
              <small>ถอดรหัสและตรวจสอบลายเซ็นอิเล็กทรอนิกส์</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-3 col-xs-3"
               *ngIf="(edcDataProcessingObj.processState === 'PS001')">
            <p style="margin-bottom: 0px">
              <small>&nbsp;</small>
            </p>
            <div class="btn-setting btn-secondary btn-circle">2</div>
            <p>
              <small>ถอดรหัสและตรวจสอบลายเซ็นอิเล็กทรอนิกส์</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-3 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS002' && edcDataProcessingObj.status === 'ST003'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-complate btn-circle">2</div>
            <p>
              <small>ถอดรหัสและตรวจสอบลายเซ็นอิเล็กทรอนิกส์</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-3 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS002' && edcDataProcessingObj.status === 'ST001'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-warning btn-circle">2</div>
            <p>
              <small>ถอดรหัสและตรวจสอบลายเซ็นอิเล็กทรอนิกส์</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-3 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS002' && edcDataProcessingObj.status === 'ST005'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-danger btn-circle">2</div>
            <p>
              <small>ถอดรหัสและตรวจสอบลายเซ็นอิเล็กทรอนิกส์</small>
            </p>
          </div>

          <!--  Simple Validate   -->
          <div class="stepwizard-step stepwizard-step-3 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS001' || edcDataProcessingObj.processState === 'PS002'">
            <p style="margin-bottom: 0px">
              <small>&nbsp;</small>
            </p>
            <div class="btn-setting btn-secondary btn-circle">3</div>
            <p>
              <small>Simple Validation</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-3 col-xs-3" *ngIf="edcDataProcessingObj.processState === 'PS008'">
            <p style="margin-bottom: 0px">
              <small>&nbsp;</small>
            </p>
            <div class="btn-setting btn-complate btn-circle">3</div>
            <p>
              <small>Simple Validation</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-3 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS007' && edcDataProcessingObj.status === 'ST005'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-danger btn-circle">3</div>
            <p>
              <small>Simple Validation</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-3 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS007' && edcDataProcessingObj.status === 'ST001'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-warning btn-circle">3</div>
            <p>
              <small>Simple Validation</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-3 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS007' && edcDataProcessingObj.status === 'ST002'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-warning btn-circle">3</div>
            <p>
              <small>Simple Validation</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-3 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS007' && edcDataProcessingObj.status === 'ST003'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-complate btn-circle">3</div>
            <p>
              <small>Simple Validation</small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container"
         *ngIf="(edcDataProcessingObj.dataType.dataTypeCode !== 'DT003' && edcDataProcessingObj.dataType.dataTypeCode !== 'DT004' && edcDataProcessingObj.dataType.dataTypeCode !== 'DT001' && edcDataProcessingObj.dataType.dataTypeCode !== 'DT002' && edcDataProcessingObj.dataType.dataTypeCode !== 'DT008') || (checkNoData === 'Y')">
      <div class="stepwizard" style="margin-top: 25px">
        <div class="stepwizard-row setup-panel">
          <!--  getFile   -->
          <div class="stepwizard-step stepwizard-step-2 col-xs-3"
               *ngIf="((edcDataProcessingObj.processState === 'PS002' && edcDataProcessingObj.dataType.encPkiCert === 'Y') || (edcDataProcessingObj.processState === 'PS007' && edcDataProcessingObj.dataType.encPkiCert === 'Y') || (edcDataProcessingObj.processState === 'PS008' && edcDataProcessingObj.dataType.encPkiCert === 'Y'))">
            <p style="margin-bottom: 0px">
              <small>&nbsp;</small>
            </p>
            <div class="btn-setting btn-complate btn-circle">1</div>
            <p>
              <small>รับไฟล์จากผู้นำส่ง</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-2 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS001' && edcDataProcessingObj.status === 'ST005' && edcDataProcessingObj.dataType.encPkiCert === 'Y'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-danger btn-circle">1</div>
            <p>
              <small>รับไฟล์จากผู้นำส่ง</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-2 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS001' && edcDataProcessingObj.status === 'ST001' && edcDataProcessingObj.dataType.encPkiCert === 'Y'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-warning btn-circle">1</div>
            <p>
              <small>รับไฟล์จากผู้นำส่ง</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-2 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS001' && edcDataProcessingObj.status === 'ST003' && edcDataProcessingObj.dataType.encPkiCert === 'Y'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-complate btn-circle">1</div>
            <p>
              <small>รับไฟล์จากผู้นำส่ง</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-1 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS001' && edcDataProcessingObj.status === 'ST003' && edcDataProcessingObj.dataType.encPkiCert === 'N'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-complate btn-circle">1</div>
            <p>
              <small>รับไฟล์จากผู้นำส่ง</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-1 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS001' && edcDataProcessingObj.status === 'ST005' && edcDataProcessingObj.dataType.encPkiCert === 'N'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-danger btn-circle">1</div>
            <p>
              <small>รับไฟล์จากผู้นำส่ง</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-1 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS001' && edcDataProcessingObj.status === 'ST001' && edcDataProcessingObj.dataType.encPkiCert === 'N'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-warning btn-circle">1</div>
            <p>
              <small>รับไฟล์จากผู้นำส่ง</small>
            </p>
          </div>

          <!--  Decypt   -->
          <div class="stepwizard-step stepwizard-step-2 col-xs-3"
               *ngIf="(edcDataProcessingObj.processState === 'PS007' || edcDataProcessingObj.processState === 'PS008')  && edcDataProcessingObj.dataType.encPkiCert === 'Y'">
            <p style="margin-bottom: 0px">
              <small>&nbsp;</small>
            </p>
            <div class="btn-setting btn-complate btn-circle">2</div>
            <p>
              <small>ถอดรหัสและตรวจสอบลายเซ็นอิเล็กทรอนิกส์</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-2 col-xs-3"
               *ngIf="(edcDataProcessingObj.processState === 'PS001' && edcDataProcessingObj.dataType.encPkiCert === 'Y')">
            <p style="margin-bottom: 0px">
              <small>&nbsp;</small>
            </p>
            <div class="btn-setting btn-secondary btn-circle">2</div>
            <p>
              <small>ถอดรหัสและตรวจสอบลายเซ็นอิเล็กทรอนิกส์</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-2 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS002' && edcDataProcessingObj.status === 'ST003'  && edcDataProcessingObj.dataType.encPkiCert === 'Y'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-complate btn-circle">2</div>
            <p>
              <small>ถอดรหัสและตรวจสอบลายเซ็นอิเล็กทรอนิกส์</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-2 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS002' && edcDataProcessingObj.status === 'ST001'  && edcDataProcessingObj.dataType.encPkiCert === 'Y'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-warning btn-circle">2</div>
            <p>
              <small>ถอดรหัสและตรวจสอบลายเซ็นอิเล็กทรอนิกส์</small>
            </p>
          </div>
          <div class="stepwizard-step stepwizard-step-2 col-xs-3"
               *ngIf="edcDataProcessingObj.processState === 'PS002' && edcDataProcessingObj.status === 'ST005'  && edcDataProcessingObj.dataType.encPkiCert === 'Y'">
            <p style="margin-bottom: 0px"><i class="fa fa-hand-o-down"></i></p>
            <div class="btn-setting btn-danger btn-circle">2</div>
            <p>
              <small>ถอดรหัสและตรวจสอบลายเซ็นอิเล็กทรอนิกส์</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%"
             style="font-size: 12px;">
        <thead>
        <tr>
          <th scope="col" class="text-center" style="width: 5%">ลำดับ</th>
          <th scope="col" class="text-center" style="width: 20%">ชื่อไฟล์</th>
          <th scope="col" class="text-center" style="width: 10%"
              *ngIf="edcDataProcessingObj.dataType.dataTypeCode === 'DT008'">จำนวนเงินภาษี
          </th>
          <th scope="col" class="text-center" style="width: 10%"
              *ngIf="edcDataProcessingObj.dataType.dataTypeCode !== 'DT008'">จำนวนเงิน
          </th>

          <th scope="col" class="text-center" style="width: 5%"
              *ngIf="edcDataProcessingObj.dataType.dataTypeCode === 'DT001' || edcDataProcessingObj.dataType.dataTypeCode === 'DT002' || edcDataProcessingObj.dataType.dataTypeCode === 'DT004'">
            ภาษีหัก ณ ที่จ่าย
          </th>
          <th scope="col" class="text-center" style="width: 5%"
              *ngIf="edcDataProcessingObj.dataType.dataTypeCode === 'DT001' || edcDataProcessingObj.dataType.dataTypeCode === 'DT002' || edcDataProcessingObj.dataType.dataTypeCode === 'DT004'">
            ภาษีมูลค่าเพิ่ม
          </th>
          <th scope="col" class="text-center" style="width: 10%">จำนวนรายการ</th>
          <th scope="col" class="text-center" style="width: 15%">ขั้นตอน</th>
          <th scope="col" class="text-center" style="width: 5%">สถานะ</th>
          <th scope="col" class="text-center" style="width: 25%">สาเหตุ</th>
          <th scope="col" class="text-center" style="width: 20%">BigData*</th>
          <th scope="col" class="text-center" style="width: 10%">Report**</th>
          <!--          <th scope="col" class="text-center" style="width: 10%"-->
          <!--              *ngIf="edcDataProcessingObj.dataType.dataTypeCode == 'DT008' && edcDataProcessingObj.processState == 'PS007' && edcDataProcessingObj.status == 'ST003'"></th>-->
          <th scope="col" class="text-center" style="width: 10%">รายละเอียด</th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let el of edcDataProcessingObj.edcSenderMonitorFileTransferDetailList | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: page, totalItems: total }; let i=index">
          <!-- <th scope="row" class="text-center">{{ (this.page - 1) * this.pageSize + i + 1 }}</th> -->
          <th scope="row" class="text-center">{{ i + 1 }}</th>
          <td class="text-left">{{el.fileName}}</td>
          <td class="text-right">{{(el.totalAmount  | currency:'':'':'') || '0.00'}}</td>
          <td class="text-right"
              *ngIf="edcDataProcessingObj.dataType.dataTypeCode === 'DT001' || edcDataProcessingObj.dataType.dataTypeCode === 'DT002' || edcDataProcessingObj.dataType.dataTypeCode === 'DT004'">{{(el.totalWhtAmount | currency:'':'':'') || '0.00'}}</td>
          <td class="text-right"
              *ngIf="edcDataProcessingObj.dataType.dataTypeCode === 'DT001' || edcDataProcessingObj.dataType.dataTypeCode === 'DT002' || edcDataProcessingObj.dataType.dataTypeCode === 'DT004'">{{(el.totalVatAmount | currency:'':'':'') || '0.00'}}</td>
          <td class="text-right">{{(el.totalRecord  | currency:'':'':'1.0-0') || '0'}}</td>
          <td class="text-left">{{processStateConfigMap.get(el.processState) || '-'}}</td>
          <td class="text-left">{{el.statusCode.description || '-'}}</td>
          <td class="text-left"
              *ngIf="el.errorReason !== 'ER004'">{{(this.ackAndErrorCodeConfigMap.get(el.errorReason)) || '-'}}</td>
          <td class="text-left"
              *ngIf="el.errorReason === 'ER004'">{{(this.ackAndErrorCodeConfigMap.get(el.errorReason)) || '-'}}{{this.nameFileError}}</td>
          <td class="text-center">{{el.flagSendfileBigdata || '-'}}</td>
          <td class="text-center">{{el.flagSendfileReport || '-'}}</td>
          <td class="text-center">
            <div class="btn-group"
                 *ngIf="el.status == 'ST005' && edcDataProcessingObj.processState == 'PS007' && el.errorReason != 'ER004' && el.errorReason != '15'">
              <a class="btn btn-orange" (click)="onViewError(el)">
                <i class="fa fa-eye" aria-hidden="true" title="ดูข้อมูล"></i>
              </a>
            </div>
            <div class="btn-group"
                 *ngIf="edcDataProcessingObj.dataType.dataTypeCode == 'DT008' && edcDataProcessingObj.processState == 'PS007' && edcDataProcessingObj.status == 'ST003'">
              <a class="btn btn-orange" (click)="onView(el)">
                <i class="fa fa-eye" aria-hidden="true" title="ดูข้อมูล"></i>
              </a>
            </div>
          </td>

        </tr>
        <tr *ngIf="edcDataProcessingObj.edcSenderMonitorFileTransferDetailList.length === 0">
          <td colspan="11" class="text-center"> ไม่พบข้อมูล</td>
        </tr>
        </tbody>
      </table>
      <div class="row">
        <!--        <div class="col-sm-5">-->
        <!--          <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">-->
        <!--            แสดงผล-->
        <!--            &lt;!&ndash;                                {{DataTypeModelList.length}} จาก&ndash;&gt;-->
        <!--            {{total}} รายการ-->
        <!--          </div>-->
        <!--        </div>-->
        <div class="col-sm-7 text-right">
          <!--                        <pagination [totalItems]="total" [(ngModel)]="pageSize" (pageChanged)="getPage($event)"-->
          <!--                                    previousText="ย้อนกลับ" nextText="ถัดไป" [itemsPerPage]="pageSize"-->
          <!--                                    class="dataTables_paginate paging_simple_numbers">-->
          <!--                        </pagination>-->

          <!--                            <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>-->
        </div>
      </div>
      <div class="rwo">
        <blockquote>
          <footer> *ระบบ BigData คือ สภานะการส่งไฟล์ข้อมูลไปที่เครื่อง BigData</footer>
          <footer> **ระบบ Report คือ สถานะการส่งไฟล์ Report ของ Simple Validation</footer>
        </blockquote>

      </div>
    </div>
  </div>

  <div class="card border-light mb-4"
       *ngIf="edcDataProcessingObj.dataType.dataTypeCode == 'DT008' && edcDataProcessingObj.processState == 'PS007' && edcDataProcessingObj.status == 'ST003'">
    <div class="card-header">
      <div class="panel-title">
        <h3><i class="fa fa-list"></i> ดูรายละเอียดรายงานข้อมูล </h3>
      </div>
    </div>

    <div class="card-body">
      <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%"
             style="font-size: 12px;">
        <thead>
        <tr>
          <th scope="col" class="text-center" style="width: 5%">ลำดับ</th>
          <th scope="col" class="text-center" style="width: 25%">ประเภทข้อมูล</th>
          <th scope="col" class="text-center" style="width: 10%">วันที่ของเงิน</th>
          <th scope="col" class="text-center" style="width: 10%">ขั้นตอน</th>
          <th scope="col" class="text-center" style="width: 10%">สถานะ</th>
          <th scope="col" class="text-center" style="width: 40%">สาเหตุ</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let el of m940List; let i=index">
          <th scope="row" class="text-center">{{ i + 1 }}</th>
          <td class="text-left">{{this.dataTypeMap.get(el.dataTypeCode)}}</td>
          <td class="text-center">{{ '20' + el.paymentDataDate | thaidate: 'DD/MM/YYYY'}}</td>
          <td class="text-left">{{processList[el.status]}}</td>
          <td class="text-left">{{statusList[el.status]}}</td>
          <td class="text-left">{{this.configCodeErrorMap.get(el.errorReason) || '-'}}</td>
        </tr>
        <tr *ngIf="edcDataProcessingObj.edcSenderMonitorFileTransferDetailList.length === 0">
          <td colspan="11" class="text-center"> ไม่พบข้อมูล</td>
        </tr>
        </tbody>
      </table>
      <div class="row">
        <!--        <div class="col-sm-5">-->
        <!--          <div class="dataTables_info" role="status" aria-live="polite">-->
        <!--            แสดงผล-->
        <!--            &lt;!&ndash;                                {{DataTypeModelList.length}} จาก&ndash;&gt;-->
        <!--            {{total}} รายการ-->
        <!--          </div>-->
        <!--        </div>-->
        <div class="col-sm-7 text-right">
        </div>
      </div>
    </div>

  </div>
  <table style="margin:auto;">
    <tr>
      <td>
        <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5"
                (click)="onBack()" id=back><i
          class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
        </button>
      </td>
    </tr>
  </table>
</div>
<style>
  .stepwizard-step-4 {
    width: 250px;
    margin-top: 0px;
    color: #666;
  }

  .stepwizard-step-3 {
    width: 500px;
    margin-top: 0px;
    color: #666;
  }

  .stepwizard-step-2 {
    width: 500px;
    margin-top: 0px;
    color: #666;
  }

  .stepwizard-step-1 {
    width: 0px;
    margin-top: 0px;
    color: #666;
  }

  .stepwizard-row {
    display: table-row;
  }

  .stepwizard {
    display: table;
    width: 100%;
    position: relative;
  }

  .stepwizard-step button[disabled] {
    /*opacity: 1 !important;
    filter: alpha(opacity=100) !important;*/
  }

  .stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity: 1 !important;
    color: #bbb;
  }

  .stepwizard-row:before {
    top: 43px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
  }

  .stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
  }

  .btn-circle {
    cursor: default;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }

  .btn-complate {
    background-color: #4ab711;
  }

  .btn-warning {
    background-color: #FFCC00;
  }

  .btn-danger {
    background-color: #da0404;
  }

  .btn-setting {
    display: inline-block;
    cursor: default;
    margin: 3px;
    border: none;
  }
</style>

