.btn-my-table{
    padding: 5px;
  }

/* .red {
  background-color: #FF0000;
}

.green {
  background-color: #008000;
}

.yellow {
  background-color: #FFFF00;
} */

.black {
  color: #000000;
}

.link-font {
  font-size: 14px;
}
