<div class="header-title">
  <h1><strong>รายการใบคำขอข้อมูลฯ</strong>
    <small class="pull-right"><a href="#" class="active">หน้าหลัก</a> /
      รายการใบคำขอข้อมูลฯ
    </small>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false">
      <div class="panel-heading">
        <div class="panel-title">
          <h4><i class="fa fa-desktop" aria-hidden="true"></i> ARSP0101 : รายการใบคำขอข้อมูลฯ</h4>
        </div>
        <div class="panel-options" style="padding-top: 10px;text-align: right;">
          <i class="fa fa-chevron-down" aria-hidden="true" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseEvent"></i>
        </div>
      </div>
      <div class="panel-body" id="collapseBasic" [collapse]="isCollapsed">
        <form [formGroup]="searchFormGroup" (ngSubmit)="getData()">
          <div class="row form-group">
            <div class="col-sm-2 text-sm-right">
              <label class="pull-right">เลขที่ใบคำขอข้อมูลฯ</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="arsRunningNo" formControlName="arsRunningNo" appIgnoreKey allowKey="eng&num"
                placeholder="เลขที่ใบคำขอข้อมูลฯ">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-2 text-sm-right">
              <label class="pull-right">วันที่สร้างใบคำขอฯ</label>
            </div>
            <div class="col-sm-3">
              <app-datepicker-th class="form-control-datepicker" id="createdDateFrom" name="createdDateFrom"
                formControlName="createdDateFrom"></app-datepicker-th>
            </div>
            <div class="col-sm-2 text-sm-right">
              <label class="pull-right">ถึง</label>
            </div>
            <div class="col-sm-3">
              <app-datepicker-th class="form-control-datepicker" id="createdDateTo" name="createdDateTo"
                formControlName="createdDateTo"></app-datepicker-th>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-2 text-sm-right">
              <label class="pull-right">ช่วงวันที่อนุมัติใบคำขอฯ</label>
            </div>
            <div class="col-sm-3">
              <app-datepicker-th class="form-control-datepicker" id="approvedDateFrom" name="approvedDateFrom"
                formControlName="approvedDateFrom"></app-datepicker-th>
            </div>
            <div class="col-sm-2 text-sm-right">
              <label class="pull-right">ถึง</label>
            </div>
            <div class="col-sm-3">
              <app-datepicker-th class="form-control-datepicker" id="approvedDateTo" name="approvedDateTo"
                formControlName="approvedDateTo"></app-datepicker-th>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-2 text-sm-right">
              <label class="pull-right">กลุ่มของข้อมูล</label>
            </div>
            <div class="col-sm-3">
                  <select class="form-control" id="searchTemplateId" name="searchTemplateId" formControlName="searchTemplateId">
                    <option value="">ทั้งหมด</option>
                    <option *ngFor="let data of searchTemplateDropdown" [ngValue]="data.id">{{data.value}}</option>
                  </select>
            </div>
            <div class="col-sm-2 text-sm-right">
              <label class="pull-right">สถานะ</label>
            </div>
            <div class="col-sm-3">
              <select class="form-control" id="statusCode" name="statusCode" formControlName="statusCode">
                <option value="">ทั้งหมด</option>
                <option *ngFor="let data of statusDropdown" [ngValue]="data.code">{{data.value}}</option>
              </select>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-lg-2 reset-button">
              <button type="submit" class="btn btn-success margin-top-10">
                <i class="glyphicon glyphicon-search"></i> ค้นหา
              </button>
            </div>
            <div class="form-group col-lg-2 reset-button">
              <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
                <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable">
    <div class="panel panel-bd lobidisable lobipanel">
      <div class="panel-heading">
        <div class="panel-title">
          <h4><i class="fa fa-list"></i> ผลการค้นหา</h4>
        </div>
      </div>
      <div class="panel-body">
        <div class="row justify-content-left">
          <div class="form-group col-lg-4">
            <button type="button" class="btn btn-info" (click)="exportExcel()">
              export to excel file
            </button>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="row">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr role="row">
                    <th class="text-center" style="width: 15px"><input type="checkbox" id="checkRowsAll" (change)="checkAll($event)"></th>
                    <th class="text-center" style="width: 20px">ลำดับที่</th>
                    <th class="text-center" style="width: 50px">เลขที่ใบคำขอข้อมูลฯ</th>
                    <th class="text-center" style="width: 100px">เรื่อง</th>
                    <th class="text-center" style="width: 100px">กลุ่มของข้อมูล</th>
                    <th class="text-center" style="width: 50px">วันที่สร้างใบคำขอฯ</th>
                    <th class="text-center" style="width: 50px">วันที่อนุมัติ <br/> (ลำดับที่ 1)</th>
                    <th class="text-center" style="width: 50px">วันที่อนุมัติ <br/> (ลำดับที่ 2)</th>
                    <th class="text-center" style="width: 100px">สถานะ</th>
                    <th class="text-center" style="width: 100px"></th>
                  </tr>
                </thead>
                <tbody>
<!--                <pre>{{tableList | json}}</pre>-->
                  <tr *ngFor="let item of tableList; index as i">
                    <td class="text-center"><input type="checkbox" name="requestFormSelected" class="requestFormSelected" (change)="toggleId(item.requestFormId)"></td>
                     <td class="text-center">{{i+1}}</td>
                    <td class="text-center"><a class="link-font" (click)="editData(item.requestFormId)">{{item.arsRunningNo || '-'}}</a></td>
                    <td class="text-center"><a class="link-font" (click)="editData(item.requestFormId)">{{item.formTitle || '-'}}</a></td>
                    <td class="text-center">{{item.searchTemplateName || '-'}}</td>
                    <td class="text-center">{{(item.createdDate | thaidate: 'DD/MM/YYYY HH:mm:ss') || '-'}}
                    </td>
                    <td class="text-center">{{(item.firstApprovedDate | thaidate: 'DD/MM/YYYY HH:mm:ss') || '-'}}</td>
                    <td class="text-center">{{(item.secondApprovedDate | thaidate: 'DD/MM/YYYY HH:mm:ss') || '-'}}</td>
                    <td class="text-center">{{item.statusName  || '-'}}</td>
                    <td class="text-center">
                      <div class="btn-group">
                          <button type="button" *ngIf="item.statusCode === 'PROCESS_SUCCESS' " class="btn btn-orange btn-sm btn-auto btn-my-table black" tooltip="sent mail">
                            <i class="fa fa-at" aria-hidden="true" ></i>
                          </button>
                          <button type="button" *ngIf="item.statusCode === 'APPROVED' " class="btn btn-orange btn-sm btn-auto btn-my-table black" tooltip="ผ่านการอนุมัติ">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                          </button>
                          <button type="button" *ngIf="item.statusCode === 'PROCESS_SUCCESS'" class="btn btn-orange btn-sm btn-auto btn-my-table black" tooltip="ดาวน์โหลด">
                            <i class="fa fa-download" aria-hidden="true"></i>
                          </button>
                          <button *ngIf="item.statusCode === 'IN_PROCESS'" type="button" class="btn btn-orange btn-sm btn-auto black" tooltip="อยู่ระหว่างการประมาณผล">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                          </button>
                          <button *ngIf="item.statusCode == 'CANCEL'" type="button" class="btn btn-orange btn-sm btn-auto black" tooltip="ยุติการประมาลผล">
                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                          </button>
                          <button *ngIf="item.statusCode === 'SAVE_DRAFT'" type="button" class="btn btn-orange btn-sm btn-auto black" tooltip="บันทึกร่าง">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                          </button>
                          <button *ngIf="item.statusCode == 'WAIT_APPROVE'" type="button" class="btn btn-orange btn-sm btn-auto black" tooltip="รออนุมัติ">
                            <i class="fa fa-hourglass-half" aria-hidden="true"></i>
                          </button>
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="tableList.length === 0">
                    <td colspan="10" class="text-center">ไม่พบข้อมูลที่ค้นหา</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
        <br />
        <div class="row justify-content-center">
          <div class="form-group col-lg-3 reset-button">
            <button type="button" class="btn btn-green margin-top-10" (click)="addData()">
              เพิ่มใบคำขอ</button>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <button type="button" class="btn btn-danger margin-top-10" (click)="confirmDelete()">
              ลบข้อมูล
            </button>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <button type="button" class="btn btn-warning margin-top-10" (click)="cancel()">
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered" id="excel-table" style="display:none;">
  <!-- style="display:none;" -->
  <thead>
    <tr role="row">
      <th class="text-center" style="width: 20px">ลำดับที่</th>
      <th class="text-center" style="width: 50px">เลขที่ใบคำขอข้อมูลฯ</th>
      <th class="text-center" style="width: 100px">เรื่อง</th>
      <th class="text-center" style="width: 100px">กลุ่มของข้อมูล</th>
      <th class="text-center" style="width: 50px">วันที่สร้างใบคำขอฯ</th>
      <th class="text-center" style="width: 50px">วันที่อนุมัติ <br/> (ลำดับที่ 1)</th>
      <th class="text-center" style="width: 50px">วันที่อนุมัติ <br/> (ลำดับที่ 2)</th>
      <th class="text-center" style="width: 100px">สถานะ</th>
      <th class="text-center" style="width: 100px"></th>
    </tr>
  </thead>
  <tbody>
<!--                <pre>{{tableList | json}}</pre>-->
    <tr *ngFor="let item of tableExcelList; index as i">
      <td class="text-center">{{i+1}}</td>
      <td class="text-center"><a class="link-font" (click)="editData(item.requestFormId)">{{item.arsRunningNo || '-'}}</a></td>
      <td class="text-center"><a class="link-font" (click)="editData(item.requestFormId)">{{item.formTitle || '-'}}</a></td>
      <td class="text-center">{{item.searchTemplateName || '-'}}</td>
      <td class="text-center">{{(item.createdDate | thaidate: 'DD/MM/YYYY HH:mm:ss') || '-'}}
      </td>
      <td class="text-center">{{(item.firstApprovedDate | thaidate: 'DD/MM/YYYY HH:mm:ss') || '-'}}</td>
      <td class="text-center">{{(item.secondApprovedDate | thaidate: 'DD/MM/YYYY HH:mm:ss') || '-'}}</td>
      <td class="text-center">{{item.statusName  || '-'}}</td>
      <td class="text-center">
        <div class="btn-group">
            <button type="button" *ngIf="item.processDateFinished !== undefined" class="btn btn-orange btn-sm btn-auto btn-my-table black" tooltip="sent mail">
              <i class="fa fa-at" aria-hidden="true" ></i>
            </button>
            <button type="button" *ngIf="item.statusCode === 'APPROVED' " class="btn btn-orange btn-sm btn-auto btn-my-table black" tooltip="ผ่านการอนุมัติ">
              <i class="fa fa-check-circle" aria-hidden="true"></i>
            </button>
            <button type="button" *ngIf="item.processDateFinished !== undefined" class="btn btn-orange btn-sm btn-auto btn-my-table black" tooltip="ดาวน์โหลด">
              <i class="fa fa-download" aria-hidden="true"></i>
            </button>
            <button *ngIf="item.processDateStart !== undefined && item.processDateFinished === undefined" type="button" class="btn btn-orange btn-sm btn-auto black" tooltip="อยู่ระหว่างการประมาณผล">
              <i class="fa fa-cog" aria-hidden="true"></i>
            </button>
            <button *ngIf="item.statusCode == 'CANCEL'" type="button" class="btn btn-orange btn-sm btn-auto black" tooltip="ยุติการประมาลผล">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
            <button *ngIf="item.statusCode === 'SAVE_DRAFT'" type="button" class="btn btn-orange btn-sm btn-auto black" tooltip="บันทึกร่าง">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </button>
            <button *ngIf="item.statusCode == 'WAIT_APPROVE'" type="button" class="btn btn-orange btn-sm btn-auto black" tooltip="รออนุมัติ">
              <i class="fa fa-hourglass-half" aria-hidden="true"></i>
            </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
