<div class="header-title mb-4">
  <h1><strong>แก้ไขคำร้องขอคืนเงินภาษีอากร</strong>
    <small class="pull-right"><a routerLink="/home" class="active">หน้าหลัก</a> /
      แก้ไขคำร้องขอคืนเงินภาษีอากร
    </small>
  </h1>
</div>
<div class="card mb-4">
  <div class="card-header ">
    <div class="justify-content-left">
      <h4>ข้อมูลผู้ขอคืน</h4>
    </div>
  </div>
  <div class="card-body">
    <app-tax-agent-form [taxRequestForm]="taxRequestForm" *ngIf="taxRequestForm"></app-tax-agent-form>
  </div>
</div>
<div class="card mb-4">
  <div class="card-header ">
    <div class="justify-content-left">
      <h4>ข้อมูลขอคืนเงินภาษีอากร</h4>
    </div>
  </div>
  <div class="card-body">
    <app-tax-amount-request-form [taxRequestForm]="taxRequestForm" *ngIf="taxRequestForm"
                                 [documentRequestModels]="documentRequestModels"></app-tax-amount-request-form>
  </div>
</div>
<div class="card mb-4">
  <div class="card-header ">
    <div class="justify-content-left">
      <h4>หน่วยงานที่รับผิดชอบ</h4>
    </div>
  </div>
  <div class="card-body">
    <app-authority-department-form [setAuthorityDepartment]="true"
                                   [taxRequestForm]="taxRequestForm" *ngIf="taxRequestForm"></app-authority-department-form>
                                   <!-- [currentUserOfficeCode]="currentUser?.userOfficeCode" -->
    <div class="row">
      <div class="col-12 text-center">
        <button class="btn btn-primary" (click)="goToConfirmPage()"><i class="fa fa-save"></i> บันทึก</button>
        <button class="btn btn-danger" routerLink="/pps/request/tax-request/tax-refund-request-list"><i
          class="fa fa-close"></i> ยกเลิก
        </button>
      </div>
    </div>
  </div>
</div>
