
.icon-admin-icon-2:before { content: '\e800'; } /* '' */
.icon-admin-icon-4:before { content: '\e801'; } /* '' */
.icon-admin-icon-3:before { content: '\e802'; } /* '' */
.icon-admin-icon-1:before { content: '\e803'; } /* '' */