<div class="base p-5">
    <div class="row no-print">
        <div class="col-6 title">
            ตัวอย่างก่อนพิมพ์
        </div>
        <div class="col-6 text-right">
            การตั้งค่ากระดาษ : {{ config?.direction || '-' }}  ขนาด {{ config?.paper || '-' }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="base-print text-center">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="row mt-3 justify-content-center no-print">
        <div class="col-sm-3">
            <button type="button" class="btn btn-primary btn-sm" (click)="print()">
                <i class="fa fa-print"></i> ยืนยันคำสั่งพิมพ์
            </button>
        </div>
    </div>
</div>