<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-center">
    เลขประจำตัวผู้เสียภาษีอากร :
  </div>
  <div class="col-12 col-sm-3 text-center text-sm-left">
    {{publicUser?.nId}}
  </div>
  <div class="col-12 col-sm-2 text-sm-right text-center">
    ชื่อผู้เสียภาษีอากร :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.firstName}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-center">
    ห้องเลขที่ :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.roomNo}}
  </div>
  <div class="col-12 col-sm-2 text-sm-right text-center">
    ชั้นที่ :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.floor}}
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-center">
    เลขที่ :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.no}}
  </div>
  <div class="col-12 col-sm-2 text-sm-right text-center">
    ที่ตั้ง :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.buildingName}}
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-center">
    ตรอก/ซอย :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.trok}} {{publicUser.address?.soi}}
  </div>
  <div class="col-12 col-sm-2 text-sm-right text-center">
    หมู่ที่ :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.moo}}
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-center">
    ถนน :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.road}}
  </div>
  <div class="col-12 col-sm-2 text-sm-right text-center">
    แขวง/ตำบล :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.tambonName}}
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-center">
    เขต/อำเภอ :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.amphoeName}}
  </div>
  <div class="col-12 col-sm-2 text-sm-right text-center">
    จังหวัด :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.provinceName}}
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-center">
    รหัสไปรษณีย์ :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.postcode}}
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-center">
    เลขประจำตัวประชาชนผู้จัดการกองมรดก :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser?.estateManagerId}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-center">
    ชื่อ - นามสกุล ผู้จัดการกองมรดก :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.estateManagerTitleName}} {{publicUser.estateManagerFirstName}} {{publicUser.estateManagerLastName}}
  </div>
  <div class="col-12 col-sm-2 text-sm-right text-center">
    วัน เดือน ปีเกิด :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser?.birthDate | date: 'yyyy/MM/dd'}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-center">
    เบอร์โทรศัพท์ผู้จัดการกองมรดก :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser?.phoneNumber}}
  </div>
  <div class="col-12 col-sm-2 text-sm-right text-center">
    อีเมลผู้จัดการกองมาดก :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser?.email}}
  </div>
</div>
<hr>
