@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("../fonts/untitled-font-1.eot");
  src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-1.woff") format("woff"),
    url("../fonts/untitled-font-1.ttf") format("truetype"),
    url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\61";
}
.icon-note:before {
  content: "\62";
}
.icon-scale:before {
  content: "\63";
}
.icon-bank:before {
  content: "\64";
}
.icon-hom:before {
  content: "\65";
}
.icon-slip:before {
  content: "\66";
}
.icon-chart:before {
  content: "\67";
}
.icon-setting:before {
  content: "\68";
}



.glyphs.character-mapping .icon {
    margin: 10px 0 10px 15px;
    padding: 15px;
    position: relative;
    width: 55px;
    height: 55px;
    color: #162a36 !important;
    overflow: hidden;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 32px;
}
#user-menu-link{
  font-size: 20px;
  color: #262626;
  line-height: 55px;
  max-height: 60px;
}
.user-menu{
  font-size: 42px;
  color: #fff;
  margin-top: 8px;
  float: left;
  margin-right: 10px;
  max-height: 48px;
}