<div class="content">
  <div class="header-title mb-4">
    <h1><strong>เพิ่มสถาบันการเงิน </strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a
        [routerLink]="['/etl/financial-institution']" class="active">สถาบันการเงิน
      </a> / เพิ่มสถาบันการเงิน
      </small>
    </h1>
  </div>

  <form [formGroup]="fiForm" (ngSubmit)="onSubmit()">
    <div formGroupName="fiGroup">
      <div class="card border-light mb-4">
        <div class="card-header">
          <h4 class="panel-title">
            <i class="header-title fa fa-file-text"></i> ข้อมูลสถาบันการเงิน
          </h4>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-lg-6">
              <label>รหัสสถาบันการเงิน</label>&nbsp; <label class="text-danger">*</label>
              <input type="text" formControlName="fiCode" id="fiCode" class="form-control"
                     placeholder="ระบุรหัสสถาบันการเงิน"
                     [maxLength]="13">
              <div class="text-danger"
                   *ngIf="fiForm.get('fiGroup.fiCode').value == null && fiForm.get('fiGroup.fiCode').touched">
                กรุณากรอกรหัสสถาบันการเงิน
              </div>
              <div class="text-danger"
                   *ngIf="!fiForm.get('fiGroup.fiCode').valid && fiForm.get('fiGroup.fiCode').touched && fiForm.get('fiGroup.fiCode').value != null && fiForm.get('fiGroup.fiCode').value != '' ">
                รองรับตัวอักษรหรือตัวเลข 3 หลัก หรือ 13 หลักเท่านั้น
              </div>
              <div class="text-danger"
                   *ngIf=" fiForm.get('fiGroup.fiCode').value == '' && fiForm.get('fiGroup.fiCode').touched">
                กรุณากรอกรหัสสถาบันการเงิน
              </div>
            </div>

            <div class="form-group col-lg-6">
              <label>ชื่อสถาบันการเงิน (ภาษาไทย)</label>&nbsp; <label class="text-danger">*</label>
              <input type="text" formControlName="fiNameTh" id="fiNameTh" class="form-control"
                     placeholder="ระบุชื่อสถาบันการเงิน (ภาษาไทย)"
                     [maxLength]="100">
              <div class="text-danger"
                   *ngIf="fiForm.get('fiGroup.fiNameTh').value == null && fiForm.get('fiGroup.fiNameTh').touched">
                กรุณากรอกชื่อสถาบันการเงิน (ภาษาไทย)
              </div>
              <div class="text-danger"
                   *ngIf="!fiForm.get('fiGroup.fiNameTh').valid && fiForm.get('fiGroup.fiNameTh').touched && fiForm.get('fiGroup.fiNameTh').value != null && fiForm.get('fiGroup.fiNameTh').value != '' ">
                รองรับภาษาไทย ตัวเลข หรืออักขระพิเศษเท่านั้น
              </div>
              <div class="text-danger"
                   *ngIf="fiForm.get('fiGroup.fiNameTh').value == '' && fiForm.get('fiGroup.fiNameTh').touched">
                กรุณากรอกชื่อสถาบันการเงิน (ภาษาไทย)
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label>ชื่อสถาบันการเงิน (ภาษาอังกฤษ)</label>&nbsp;
              <input type="text" formControlName="fiNameEn" id="fiNameEn" class="form-control"
                     placeholder="ระบุชื่อสถาบันการเงิน (ภาษาอังกฤษ)"
                     [maxLength]="100">
              <div class="text-danger"
                   *ngIf="!fiForm.get('fiGroup.fiNameEn').valid && fiForm.get('fiGroup.fiNameEn').value != null && fiForm.get('fiGroup.fiNameEn').touched ">
                ชื่อสถาบันการเงิน (ภาษาอังกฤษ) ไม่ถูกต้อง
              </div>
            </div>

            <div class="form-group col-lg-6">
              <label>เลขผู้เสียภาษีอากร</label>&nbsp;
              <input type="text" formControlName="taxId" id="taxId" class="form-control"
                     placeholder="ระบุเลขผู้เสียภาษีอากร"
                     [maxLength]="13">
              <div class="text-danger"
                   *ngIf="!fiForm.get('fiGroup.taxId').valid && fiForm.get('fiGroup.taxId').value != null && fiForm.get('fiGroup.taxId').touched ">
                รองรับตัวตัวเลข 13 หลักเท่านั้น
              </div>
            </div>

            <div class="form-group col-lg-6">
              <label>วันเริ่มดำเนินกิจการ</label>&nbsp; <label class="text-danger">*</label>
              <input type="text" formControlName="activateDate" id="activateDate"
                     class="form-control"
                     placeholder="ระบุวันเริ่มดำเนินกิจการ"
                     [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                     autocomplete="off"
                     [ngClass]="{'is-invalid': !fiForm.get('fiGroup.activateDate').valid && fiForm.get('fiGroup.activateDate').touched}"
                     bsDatepicker>
              <div class="text-danger"
                   *ngIf="!fiForm.get('fiGroup.activateDate').valid && fiForm.get('fiGroup.activateDate').touched">
                กรุณากรอกวันเริ่มดำเนินกิจการ
              </div>
            </div>

            <div class="form-group col-lg-6">
              <label>วันที่ปิดกิจการ</label>
              <input type="text" formControlName="closeDate" id="closeDate"
                     class="form-control"
                     placeholder="ระบุวันที่ปิดกิจการ"
                     [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                     autocomplete="off"
                     [ngClass]="{'is-invalid': !fiForm.get('fiGroup.closeDate').valid && fiForm.get('fiGroup.closeDate').touched}"
                     bsDatepicker>
            </div>

            <div class="form-group col-lg-6">
              <label>หมายเหตุ</label>
              <textarea formControlName="remark" id="remark" rows="5"
                        class="form-control" maxlength="200"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <table style="margin:auto;">
      <tr>
        <td>
          <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5" id="back"
                  (click)="onBack()">
            <i class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-auto btn-orange2 w-md m-b-5" id="clear" (click)="resetForm()"><i
            class="fa fa-repeat"></i> ล้างข้อมูล
          </button>
        </td>
        <td>
          <button type="submit" class="btn btn-auto btn btn-auto  btn-green w-md m-b-5" id="save"><i
            class="fa fa-floppy-o"></i> บันทึก
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>
