<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <form [formGroup]="searchForm">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>ข้อมูลในใบกำกับภาษี</h4>
        </div>
      </div>

      <input type="hidden" id="nid" class="form-control" formControlName="nid">
      <input type="hidden" id="branchNo" class="form-control" formControlName="branchNo">
      <input type="hidden" id="fromMonth" class="form-control" formControlName="fromMonth">
      <input type="hidden" id="fromYear" class="form-control" formControlName="fromYear">
      <input type="hidden" id="toMonth" class="form-control" formControlName="toMonth">
      <input type="hidden" id="toYear" class="form-control" formControlName="toYear">
      <input type="hidden" id="month" class="form-control" formControlName="month">
      <input type="hidden" id="year" class="form-control" formControlName="year">
      <input type="hidden" id="recordType" class="form-control" formControlName="recordType">
      <input type="hidden" id="typeSB" class="form-control" formControlName="typeSB">
      <input type="hidden" id="docId" class="form-control" formControlName="docId">

      <div class="panel-body" *ngFor="let data of receiveData">
        <div class="row">
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-center" style="font-weight:bold">ข้อมูลในใบกำกับภาษี</label>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> พิมพ์</a>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">ผู้ขายสินค้า / ผู้ให้บริการ</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-right" style="font-weight:bold">เลขที่ : {{data.docId}}</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขประจำตัวผู้เสียภาษีอากร  : {{data.sellerTaxId}}    เลขที่สาขา : {{data.sellerBranchNo}}</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-right" style="font-weight:bold">วันที่ : {{data.docDate}}</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อผู้ขาย : {{data.sellerName}}</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">ที่อยู่ : {{data.sellerAddress}}</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">ผู้ซื้อสินค้า / ผู้รับบริการ</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขประจำตัวผู้เสียภาษีอากร  : {{data.nid}}   เลขที่สาขา : {{data.branchNo}}</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อผู้ซื้อ : {{data.operatorName}}</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ที่อยู่ : {{data.operatorAddress}}</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th>ลำดับที่<br>(1)</th>
              <th>รายการ<br>(2)</th>
              <th>จำนวน<br>(3)</th>
              <th>หน่วย<br>(4)</th>
              <th>ราคา<br>ต่อหน่วย<br>(5)</th>
              <th>ราคา<br>ก่อนหักส่วนลด<br>(6)</th>
              <th>ส่วนลด<br>ต่อหน่วย<br>(7)</th>
              <th>ส่วนลด<br>ต่อรายการ<br>(8)</th>
              <th>ราคา<br>หลังหักส่วนลด<br>(9)</th>
              <th>ค่าธรรมเนียม<br>ต่อหน่วย <br>(10)</th>
              <th>ค่าธรรมเนียม<br>ต่อรายการ<br>(11)</th>
              <th>ค่าเงินมัดจำ<br>ต่อรายการ<br>(12)</th>
              <th>จำนวนเงิน<br>(13)</th>
            </tr>
          </thead>
          <tbody>
            

            
            <tr *ngFor="let data2 of receiveData2">
              <td align="center">{{data2.productLineId}}</td>
              <td align="left">{{data2.productName}}</td>
              <td align="right">{{data2.productQuantiTy}}</td>
              <td align="center">{{data2.productQuantiTyUnitCode}}</td>
              <td align="right">{{data2.productAmount}}</td>
              <td align="right">{{data2.productAmountBeforeCal}}</td>
              <td align="right">{{data2.productDiscountPerUnit}}</td>
              <td align="right">{{data2.productDiscountPerTran}}</td>
              <td align="right">{{data2.productTotalAmount}}</td>
              <td align="right">{{data2.productFeePerUnit}}</td>
              <td align="right">{{data2.productFeePerTran}}</td>
              <td align="right">{{data2.productDepositAmount}}</td>
              <td align="right">{{data2.productTotalAmountIncludeFee}}</td>
            </tr>
            
            <!--<tr>
              <td align="center">2</td>
              <td align="left">บรัชออน</td>
              <td align="right">300</td>
              <td align="center">EA</td>
              <td align="right">39.00</td>
              <td align="right">11,700.00</td>
              <td align="right">-</td>
              <td align="right">1,000.00</td>
              <td align="right">10,700.00</td>
              <td align="right">-</td>
              <td align="right">-</td>
              <td align="right">-</td>
              <td align="right">10,700.00</td>
            </tr>-->
            
            <tr *ngFor="let data3 of receiveDataSum">
              <td align="left" colspan="10" rowspan="7">รวมส่วนลดทั้งหมดของข้อมูลชุดนี้ {{data3.sumDiscount}} บาท<br>รวมค่าธรรมเนียมทั้งหมดของข้อมูลชุดนี้ {{data3.sumFee}} บาท </td>
              <td align="left">รวมจำนวนเงิน</td>
              <td align="center"></td>
              <td align="right">{{data3.sumAmount}}</td>
            </tr>
            
            <tr *ngFor="let data3 of receiveDataSum">
              <td align="left">ค่ามัดจำ ท้ายใบกำกับภาษี</td>
              <td align="center"></td>
              <td align="right">{{data3.sumDepositAfterCal}}</td>
            </tr>
            
            <tr *ngFor="let data3 of receiveDataSum">
              <td align="left">ส่วนลดท้ายใบกำกับภาษี</td>
              <td align="center"></td>
              <td align="right">{{data3.sumDiscountAfterCal}}</td>
            </tr>
            
            <tr *ngFor="let data3 of receiveDataSum">
              <td align="left">ค่าธรรมเนียมท้าย ใบกำกับภาษี</td>
              <td align="center"></td>
              <td align="right">{{data3.sumFeeAfterCal}}</td>
            </tr>
            
            <tr *ngFor="let data3 of receiveDataSum">
              <td align="left">จำนวนเงินรวมก่อนภาษี</td>
              <td align="center"></td>
              <td align="right">{{data3.amountBeforeVat}}</td>
            </tr>
            
            <tr *ngFor="let data3 of receiveDataSum">
              <td align="left">ภาษีมูลค่าเพิ่ม</td>
              <td align="center">7%</td>
              <td align="right">{{data3.vat}}</td>
            </tr>
            
            <tr *ngFor="let data3 of receiveDataSum">
              <td align="left">รวมจำนวนเงินทั้งสิ้น</td>
              <td align="center"></td>
              <td align="right">{{data3.totalAmount}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </form>
</div>
