<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>Monitor การให้บริการเอกสารต่าง ๆ กับผู้เสียภาษีอากร</h4>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th>ลำดับ</th>
              <th>ประเภทคำขอคัดค้น</th>
              <th>ประเภทภาษี</th>
              <th>จำนวนคำขอทั้งหมด</th>
              <th>กำลังคัดค้น</th>
              <th>ไม่พบข้อมูลภาษี</th>
              <th>คัดค้นสำเร็จ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="center">1</td>
              <td align="left">ข้อมูลภาพแบบแสดงรายการภาษีอากร</td>
              <td align="left">ภาษีเงินได้หัก ณ ที่จ่าย</td>
              <td align="right">300</td>
              <td align="right">150</td>
              <td align="right">5</td>
              <td align="right">145</td>
            </tr>
            <tr>
              <td align="center">2</td>
              <td align="left">ข้อมูลภาพแบบแสดงรายการภาษีอากร</td>
              <td align="left">ภาษีมูลค่าเพิ่ม</td>
              <td align="right">400</td>
              <td align="right">100</td>
              <td align="right">0</td>
              <td align="right">300</td>
            </tr>
            <tr>
              <td align="center">3</td>
              <td align="left">ข้อมูลใบเสร็จรับเงิน</td>
              <td align="left">ภาษีเงินได้บุคคลธรรมดา</td>
              <td align="right">200</td>
              <td align="right">80</td>
              <td align="right">0</td>
              <td align="right">120</td>
            </tr>
            <tr>
              <td align="center">4</td>
              <td align="left">ข้อมูลใบเสร็จรับเงิน</td>
              <td align="left">ภาษีมูลเงินได้นิติบุคคล</td>
              <td align="right">100</td>
              <td align="right">40</td>
              <td align="right">1</td>
              <td align="right">59</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
