<div class="content">
  <div class="header-title mb-4">
    <h1><strong>รายงานความผิดพลาดแต่ละรายการ </strong>
      <small class="pull-right"><a [routerLink]="['/']" class="active">หน้าหลัก</a> / <a
        [routerLink]="['/mft/report']" class="active">รายงานความผิดพลาดแต่ละรายการ</a> /
        รายละเอียดรายงานความผิดพลาดแต่ละรายการ
      </small>
    </h1>

  </div>
  <div class="card border-light mb-4">
    <div class="card-header">
      <h4 class="panel-title">
        <i class="header-title fa fa-file-text"></i> รายงานความผิดพลาดแต่ละรายการ
      </h4>
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-lg-6">
          <label for="senderName">ผู้นำส่ง:</label>
          <input type="text" class="form-control" id="senderName"
                 [ngModel]="this.financialMap.get(edcReportComplexValidation.fiCode)" disabled>
        </div>
        <div class="form-group col-lg-6">
          <label for="ReceiveDate">วัน-เวลาที่ส่ง:</label>
          <input type="text" class="form-control" id="ReceiveDate"
                 [ngModel]="edcReportComplexValidation.edcDataProcessingEntity.transferReceiveDate | thaidate: 'DD/MM/YYYY HH:mm น.'"
                 disabled>
        </div>
        <div class="form-group col-lg-6">
          <label for="dataTypeName">ประเภทข้อมูล:</label>
          <input type="text" class="form-control" id="dataTypeName"
                 [ngModel]="edcReportComplexValidation.edcDataProcessingEntity.dataType.dataTypeDesTh" disabled>
        </div>
        <div class="form-group col-lg-6">
          <label for="totalFile">ชื่อไฟล์:</label>
          <input type="text" class="form-control" id="totalFile"
                 [ngModel]="edcReportComplexValidation.fileName"
                 disabled>
        </div>
      </div>
    </div>
  </div>

  <div class="card border-light mb-4">
    <div class="card-header">
      <h4 class="panel-title">
        <i class="header-title fa fa-file-text"></i> ดูรายละเอียดรายงานความผิดพลาดแต่ละรายการ
      </h4>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%"
             style="font-size: 12px;">
        <thead>
        <tr>
          <th scope="col" class="text-center" style="width: 5%">ลำดับ</th>
          <th scope="col" class="text-center" style="width: 15%">ลำดับรายการที่ผิดพลาด</th>
          <th scope="col" class="text-center" style="width: 80%">รายละเอียดความผิดพลาด *</th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let data of edcReportDataErrorList| paginate: { id: 'server', itemsPerPage: pageSize, currentPage: page, totalItems: total }; let i=index">
          <th scope="row" class="text-center">{{ (this.page - 1) * this.pageSize + i + 1 }}</th>
          <td class="text-center">{{data.edcReportSimpleValidationErrorPK.seq }}</td>
          <td class="text-left">{{data.errorReason.slice(0, -1) || '-'}}</td>
        </tr>
        <tr *ngIf="edcReportDataErrorListLength === 0">
          <td colspan="11" class="text-center"> ไม่พบข้อมูล</td>
        </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
            แสดงผล
            {{edcReportDataErrorList.length}} จาก
            {{total}} รายการ
          </div>
        </div>
        <div class="col-sm-7 text-right">
          <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
        </div>
      </div>
      <div class="rwo">
        <blockquote>
          <br>
          <footer> *คำอธิบายรายละเอียดความผิดพลาด : ลำดับของ Column:สาเหตุของความผิดพลาด และคั่นด้วย |</footer>
        </blockquote>
      </div>
    </div>
  </div>
  <table style="margin:auto;">
    <tr>
      <td>
        <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5"
                (click)="onBack()" id=back><i
          class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
        </button>
      </td>
    </tr>
  </table>
</div>


