<section class="content">
  <div class="header-title">
    <h1><strong>จัดการข้อมูลพื้นฐาน</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> /
        วัตถุประสงค์การขอใช้งานใบรับรองอิเล็กทรอนิกส์</small></h1>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="header-title fa fa-file-text"></i> จัดการข้อมูลสาเหตุการแจ้งขอระงับ/เพิกถอนใบรับรองอิเล็กทรอนิกส์</h4>
    </div>
    <div class="card-body">
      <form role="form" [formGroup]="searchObjectiveCriteria" (ngSubmit)="getData()">
        <div class="row">
          <div class="form-group col-lg-6">
            <label>รหัสวัตถุประสงค์:</label>
            <input type="text" class="form-control" name="objectiveCode" id="objectiveCode"
              formControlName="objectiveCode" placeholder="รหัสวัตถุประสงค์">
          </div>
          <div class="form-group col-lg-6">
            <label>วัตถุประสงค์:</label>
            <input type="text" class="form-control" name="objectiveDesc" id="objectiveDesc"
              formControlName="objectiveDesc" placeholder="วัตถุประสงค์">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="form-group col-lg-2 reset-button">
              <button type="submit" class="btn btn-success margin-top-10">
                <i class="glyphicon glyphicon-search"></i> ค้นหา
              </button>
            </div>
            <div class="form-group col-lg-2 reset-button">
              <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
                <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
              </button>
            </div>
      </div>
      </form>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-list"></i> ผลการค้นหา</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
          <tr role="row">
            <th scope="col" class="text-center">ลำดับที่</th>
            <th scope="col" class="text-center">
              <a (click)="sort('OBJECTIVE_CODE')" style="cursor: pointer" title="รหัสวัตถุประสงค์" tooltip="รหัสวัตถุประสงค์">
                รหัสวัตถุประสงค์
              </a>
              <ng-container *ngIf="pageRequest.sortFieldName === 'OBJECTIVE_CODE'">
                <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </th>
            <th scope="col" class="text-center">
              <a (click)="sort('OBJECTIVE_DESC')" style="cursor: pointer" title="วัตถุประสงค์" tooltip="วัตถุประสงค์">
                วัตถุประสงค์
              </a>
              <ng-container *ngIf="pageRequest.sortFieldName === 'OBJECTIVE_DESC'">
                <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </th>
            <th scope="col" class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr role="row" class="odd" *ngFor="let item of pageResponse.content">
            <td class="text-center">{{item.no}}</td>
            <td class="text-center">{{item.objectiveCode || '-'}}</td>
            <td class="text-center">{{item.objectiveDesc || '-'}}</td>
            <td class="text-center">
              <div class="btn-group">
                <button type="button" class="btn btn-orange btn-sm btn-auto"
                  (click)="editObjective(item.objectiveCode,objectiveModal)" tooltip="แก้ไข">
                  <i class="fa fa-pencil-square-o"></i>
                </button>
              </div>
              &nbsp;
              <div class="btn-group">
                <button type="button" class="btn btn-orange btn-sm btn-auto"
                  (click)="deleteObjective(item)" tooltip="ลบ">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr *ngIf="pageResponse.content?.length === 0">
            <td colspan="4" class="text-center"> ไม่พบข้อมูล</td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite" style="padding: 5px;">
            แสดงผล
            {{pageResponse.numberOfElements}} จาก
            {{pageResponse.totalPages}} รายการ
          </div>
        </div>
        <div class="col-sm-7 text-right">
            แสดงหน้าละ
            <select (change)="changeRowLimits($event)" style="padding: 5px;">
              <option *ngFor="let limit of rowLimits" [value]="limit.value">{{limit.key}}</option>
            </select>
            &nbsp;&nbsp;
            <pagination style="float: right;" [boundaryLinks]="true" [totalItems]="pageResponse.totalPages"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [rotate]="true"
              [maxSize]="5" [(ngModel)]="pageRequest.page" (pageChanged)="pageChange($event,limit)" (limit)="limit"
              [itemsPerPage]="pageResponse.size" aria-label="Default pagination"></pagination>
          </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 text-right scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
    <button class="btn btn-success btn-circle btn-circle-lg m-1" *ngIf="authenService.hasAnyPermission(['DCSP030800.ADD'])" (click)="open(objectiveModal)"
      tooltip="เพิ่มข้อมูล">
      <i class="fa fa-plus"></i>
    </button>
  </div>
<ng-template #objectiveModal>
  <div class="modal-header">
    <i class="fa fa-plus-circle" aria-hidden="true"> เพิ่มข้อมูล</i>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="objectiveFormGroup">
        <div class="row">
          <div class="form-group col-lg-12">
            <label>รหัสวัตถุประสงค์ :<span class="red">*</span></label>
            <input type="text" class="form-control" formControlName="objectiveCode"
              value="{{objectiveFormGroup.get('objectiveCode').value }}"
              [ngClass]="{ 'is-invalid': mObjectiveSubmit && field.objectiveCode.errors }">
            <div *ngIf="mObjectiveSubmit && field.objectiveCode.errors" class="invalid-feedback">
              <div *ngIf="field.objectiveCode.errors.required">กรุณาระบุรหัสวัตถุประสงค์</div>
            </div>
          </div>
            <div class="form-group col-lg-12">
                <label>วัตถุประสงค์ :<span class="red">*</span></label>
                <input type="text" class="form-control" formControlName="objectiveDesc"
            value="{{objectiveFormGroup.get('objectiveDesc').value }}"
            [ngClass]="{ 'is-invalid': mObjectiveSubmit && field.objectiveDesc.errors }">
          <div *ngIf="mObjectiveSubmit && field.objectiveDesc.errors" class="invalid-feedback">
            <div *ngIf="field.objectiveDesc.errors.required">กรุณาระบุวัตถุประสงค์</div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <div class="row justify-content-center col-lg-12">
          <div class="form-group col-lg-6 reset-button">
              <button type="button" class="btn btn-green w-md m-b-5" (click)="saveObjective()"
              *ngIf="authenService.hasAnyPermission(['DCSP030800.ADD','DCSP030800.UPDATE'])">
                  <i class="fa fa-floppy-o"></i> บันทึก
              </button>
            </div>
            <div class="form-group col-lg-6 reset-button">
              <button type="button" class="btn btn-danger w-md m-b-5" (click)="modalRef.hide()">
                  <i class="fa fa-times"></i> ยกเลิก
              </button>
            </div>
          </div>
  </div>
</ng-template>
</section>
