<section class="mt-2">
  <h4>ประวัติการลงทะเบียน</h4>
    <div class="row">
      <table class="table">
        <thead>
        <tr>
          <th scope="col" class="text-center"></th>
          <th scope="col" class="text-center">สถานะ</th>
          <th scope="col" class="text-center">วันที่</th>
          <th scope="col" class="text-center">โดย</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="userRegistrationLogList.length != 0">
          <tr *ngFor="let item of userRegistrationLogList; let i = index">
            <td class="text-center">{{i + 1}}</td>
            <td class="text-left">{{item.actionName}}</td>
            <td class="text-center">{{item.createdDate | thaidate: 'DD MMMM YYYY เวลา HH:mm'}}</td>
            <td class="text-center">{{item.createdBy}}</td>
          </tr>
        </ng-container>
        <ng-container *ngIf="userRegistrationLogList.length == 0">
          <tr>
            <td colspan="4" class="text-center">
              ไม่พบข้อมูล
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
</section>
