<form [formGroup]="userRequestInfoFormGroup">
  <div class="card mb-4">
    <div class="card-header ">
      <div class="justify-content-left">
        <h4>ข้อมูลผู้ยื่นขอใช้งานใบรับรองอิเล็กทรอนิกส์</h4>
      </div>
    </div>
    <div class="card-body">
      <!-- row 1 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="fullName"> ชื่อ-สกุล: </label>
        </div>
        <div class="col-12 col-sm-5">
          <input id="fullName" type="text" class="form-control" formControlName="name">
          <div *ngIf="isInvalidAndTouched(nameControl)" class="red error-msg">
            <div *ngIf="nameControl.errors.required"> กรุณาระบุชื่อ-สกุล </div>
          </div>
        </div>
      </div>
      <!-- row 2 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="orgName"> หน่วยงาน: </label>
        </div>
        <div class="col-12 col-sm-5">
          <input id="orgName" type="text" class="form-control" formControlName="orgName">
          <div *ngIf="isInvalidAndTouched(orgNameControl)" class="red error-msg">
            <div *ngIf="orgNameControl.errors.required"> กรุณาระบุหน่วยงาน </div>
          </div>
        </div>
      </div>
      <!-- row 3 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="positionName"> ตำแหน่ง: </label>
        </div>
        <div class="col-12 col-sm-5">
          <input id="positionName" type="text" class="form-control" formControlName="positionName">
          <div *ngIf="isInvalidAndTouched(positionNameControl)" class="red error-msg">
            <div *ngIf="positionNameControl.errors.required"> กรุณาระบุตำแหน่ง </div>
          </div>
        </div>
      </div>
      <!-- row 4 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="email"> อีเมล: </label>
        </div>
        <div class="col-12 col-sm-5">
          <input id="email" type="text" class="form-control" formControlName="email">
          <div *ngIf="isInvalidAndTouched(emailControl)" class="red error-msg">
            <div *ngIf="emailControl.errors.required"> กรุณาระบุอีเมล</div>
          </div>
        </div>
      </div>
      <!-- row 5 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="telephone"> เบอร์โทรศัพท์: </label>
        </div>
        <div class="col-12 col-sm-5">
          <input id="telephone" type="text" class="form-control" formControlName="telephone">
          <div *ngIf="isInvalidAndTouched(telephoneControl)" class="red error-msg">
            <div *ngIf="telephoneControl.errors.required"> กรุณาระบุเบอร์โทรศัพท์</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
