<div class="content">
  <div class="header-title mb-4">
    <h1><strong>แก้ไขประเทศ </strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a
        [routerLink]="['/etl/country']" class="active">ประเทศ
      </a> / แก้ไขประเทศ
      </small>
    </h1>
  </div>

  <form [formGroup]="countryForm" (ngSubmit)="onSubmit()">
    <div formGroupName="countryGroup">
      <div class="card border-light mb-4">
        <div class="card-header">
          <h4 class="panel-title">
            <i class="header-title fa fa-file-text"></i> รหัสประเทศ
          </h4>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-lg-6">
              <label>รหัสประเทศ (2 หลัก)</label>&nbsp; <label class="text-danger">*</label>
              <input type="text" formControlName="countryCode2" id="countryCode2" [maxlength]="2"
                     class="form-control"
                     placeholder="ระบุรหัสประเทศ (2 หลัก)">
              <div class="text-danger"
                   *ngIf="countryForm.get('countryGroup.countryCode2').touched && countryForm.get('countryGroup.countryCode2').value == null">
                กรุณากรอกรหัสประเทศ (2 หลัก).
              </div>
              <div class="text-danger"
                   *ngIf="countryForm.get('countryGroup.countryCode2').touched && countryForm.get('countryGroup.countryCode2').value == '' ">
                กรุณากรอกรหัสประเทศ (2 หลัก).
              </div>
              <div class="text-danger"
                   *ngIf="!countryForm.get('countryGroup.countryCode2').valid && countryForm.get('countryGroup.countryCode2').touched && countryForm.get('countryGroup.countryCode2').value != null && countryForm.get('countryGroup.countryCode2').value != ''">
                รองรับตัวอักษรภาษาอังกฤษ และตัวเลขเท่านั้น.
              </div>
            </div>

            <div class="form-group col-lg-6">
              <label>รหัสประเทศ (3 หลัก)</label>
              <input type="text" formControlName="countryCode3" id="countryCode3" [maxlength]="3"
                     class="form-control"
                     placeholder="ระบุรหัสประเทศ (3 หลัก)">
              <div class="text-danger"
                   *ngIf="!countryForm.get('countryGroup.countryCode3').valid && countryForm.get('countryGroup.countryCode3').touched && countryForm.get('countryGroup.countryCode3').value != null && countryForm.get('countryGroup.countryCode3').value != ''">
                รองรับตัวอักษรภาษาอังกฤษ และตัวเลขเท่านั้น.
              </div>

            </div>

            <div class="form-group col-lg-6">
              <label>รหัสประเทศ (NID)</label>
              <input type="text" formControlName="countryCodeNid" id="countryCodeNid" [maxlength]="10"
                     class="form-control"
                     placeholder="ระบุรหัสประเทศ (NID)">
              <div class="text-danger"
                   *ngIf="countryForm.get('countryGroup.countryCodeNid').touched && countryForm.get('countryGroup.countryCodeNid').value == null">
                กรุณากรอกรหัสประเทศ (NID).
              </div>
              <div class="text-danger"
                   *ngIf="countryForm.get('countryGroup.countryCodeNid').touched && countryForm.get('countryGroup.countryCodeNid').value == '' ">
                กรุณากรอกรหัสประเทศ (NID).
              </div>
              <div class="text-danger"
                   *ngIf="!countryForm.get('countryGroup.countryCodeNid').valid && countryForm.get('countryGroup.countryCodeNid').touched && countryForm.get('countryGroup.countryCodeNid').value != null && countryForm.get('countryGroup.countryCodeNid').value != ''">
                รองรับตัวอักษรภาษาอังกฤษ และตัวเลขเท่านั้น.
              </div>
            </div>

            <div class="form-group col-lg-6">
              <label>ชื่อประเทศ (ภาษาไทย)</label>&nbsp; <label class="text-danger">*</label>
              <input type="text" formControlName="countryNameTh" id="countryNameTh"
                     class="form-control" [maxLength]="100"
                     placeholder="ระบุชื่อประเทศ (ภาษาไทย)">
              <div class="text-danger"
                   *ngIf="countryForm.get('countryGroup.countryNameTh').touched && countryForm.get('countryGroup.countryNameTh').value == null">
                กรุณากรอกชื่อประเทศ (ภาษาไทย).
              </div>
              <div class="text-danger"
                   *ngIf="countryForm.get('countryGroup.countryNameTh').touched && countryForm.get('countryGroup.countryNameTh').value == '' ">
                กรุณากรอกชื่อประเทศ (ภาษาไทย).
              </div>
              <div class="text-danger"
                   *ngIf="!countryForm.get('countryGroup.countryNameTh').valid && countryForm.get('countryGroup.countryNameTh').touched && countryForm.get('countryGroup.countryNameTh').value != null && countryForm.get('countryGroup.countryNameTh').value != ''">
                รองรับตัวอักษรภาษาไทย ตัวเลข และอัขระพิเศษเท่านั้น.
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label>ชื่อประเทศ (ภาษาอังกฤษ)</label>&nbsp; <label class="text-danger">*</label>
              <input type="text" formControlName="countryNameEn" id="countryNameEn"
                     class="form-control" [maxLength]="100"
                     placeholder="ระบุชื่อประเทศ (ภาษาอังกฤษ)">
              <div class="text-danger"
                   *ngIf="countryForm.get('countryGroup.countryNameEn').touched && countryForm.get('countryGroup.countryNameEn').value == null">
                กรุณากรอกชื่อประเทศ (ภาษาอังกฤษ).
              </div>
              <div class="text-danger"
                   *ngIf="countryForm.get('countryGroup.countryNameEn').touched && countryForm.get('countryGroup.countryNameEn').value == '' ">
                กรุณากรอกชื่อประเทศ (ภาษาอังกฤษ).
              </div>
              <div class="text-danger"
                   *ngIf="!countryForm.get('countryGroup.countryNameEn').valid && countryForm.get('countryGroup.countryNameEn').touched && countryForm.get('countryGroup.countryNameEn').value != null && countryForm.get('countryGroup.countryNameEn').value != ''">
                รองรับตัวอักษรภาษาอังกฤษ ตัวเลข และอัขระพิเศษเท่านั้น.
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label>หมายเหตุ</label>
              <textarea formControlName="remark" id="remark" rows="5"
                        class="form-control"></textarea>
            </div>
          </div>
        </div>
      </div>

      <table style="margin:auto;">
        <tr>
          <td>
            <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5"
                    (click)="onBack()" id="back"><i
              class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-auto btn-orange2 w-md m-b-5" (click)="resetForm()" id="clear"><i
              class="fa fa-repeat"></i> ล้างข้อมูล
            </button>
          </td>
          <td>
            <button type="submit" class="btn btn-auto btn btn-auto  btn-green w-md m-b-5" id="save"><i
              class="fa fa-floppy-o"></i> บันทึก
            </button>
          </td>
        </tr>
      </table>
    </div>
  </form>
</div>
