<div class="header-title">
  <h1><strong>จัดการข้อมูล</strong>
    <small class="pull-right"><a href="#" class="active">หน้าหลัก</a> /
      ตั้งค่าการใช้งานเริ่มต้น
    </small>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" >
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false">
      <div class="panel-heading">
        <div class="panel-title">
          <h4>ARSP0109 : ตั้งค่าการใช้งานเริ่มต้น</h4>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-lg-12">
        <form role="form" class="form-groups-bordered" [formGroup]="formCondition"
                    (ngSubmit)="saveSetting()">
        <div class="row">
          <nav class="navbar navbar-light bg-info col-lg-12">
            <ul class="navbar-nav">
              <li class="nav-item">
                <h6 ><i class="fa fa-cog" aria-hidden="true"></i> ตั้งค่าช่วงเวลา Download</h6>
              </li>
            </ul>
          </nav>
        </div>
      <br/>
        <div class="row">
          <div class="col-12 col-sm-3 text-left text-sm-right">
            <label>ช่วงเวลา Download File <span class="red">*</span></label>
          </div>
          <div class="col-12 col-sm-3">
            <timepicker [formControl]="formCondition.controls['defaultDownloadTimeStart']" id="defaultDownloadTimeStart" 
            [showMeridian]="isMeridian" [showSpinners]="showSpinners" [mousewheel]="allowMouseWheel" 
            (focusout)="minMaxTime($event.target.value)" [ngClass]="{ 'is-invalid': this.formCondition.controls['defaultDownloadTimeStart'].invalid}"
            autocomplete="off" appNumberOnly></timepicker>
            <div *ngIf="this.formCondition.controls['defaultDownloadTimeStart'].invalid" class="invalid-feedback">
              <div *ngIf="this.formCondition.controls['defaultDownloadTimeStart'].invalid">กรุณากรอกช่วงเวลา
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-1 text-left text-sm-right">
            <label>ถึงเวลา</label>
          </div>
          <div class="col-12 col-sm-3">
            <timepicker [formControl]="formCondition.controls['defaultDownloadTimeEnd']" id="defaultDownloadTimeEnd"
             [mousewheel]="allowMouseWheel" 
              [showMeridian]="isMeridian" [showSpinners]="showSpinners" (focusout)="minMaxTime($event.target.value)" 
              [ngClass]="{ 'is-invalid': this.formCondition.controls['defaultDownloadTimeEnd'].invalid || TimeEnd === true}" autocomplete="off" appNumberOnly required></timepicker>
              <div *ngIf="!this.formCondition.controls['defaultDownloadTimeEnd'].invalid && TimeEnd === true" class="invalid-feedback">
                <div *ngIf="!this.formCondition.controls['defaultDownloadTimeEnd'].invalid && TimeEnd === true">กรุณากรอกช่วงเวลาให้ถูกต้อง
                </div>
              </div>
              <div *ngIf="this.formCondition.controls['defaultDownloadTimeEnd'].invalid" class="invalid-feedback">
                <div *ngIf="this.formCondition.controls['defaultDownloadTimeEnd'].invalid">กรุณากรอกเวลา
                </div>
              </div>
          </div>
        </div>
        <br/>
        <div class="row">
          <nav class="navbar navbar-light bg-info col-lg-12">
            <ul class="navbar-nav">
              <li class="nav-item">
                <h6><i class="fa fa-cog" aria-hidden="true"></i> ตั้งค่าเริ่มต้นการ compress file</h6>
              </li>
            </ul>
          </nav>
        </div>
      <br/>
        <div class="row">
          <div class="col-12 col-sm-3 text-left text-sm-right">
            <label>compress file <span class="red">*</span></label>
          </div>
          <div class="col-12 col-sm-2">
            <input class="form-control" formControlName="defaultCompressFileSize" id="defaultCompressFileSize"
            style="text-align: right;"  autocomplete="off" appNumberOnly
            [ngClass]="{ 'is-invalid': field.defaultCompressFileSize.invalid}">
            <div *ngIf="field.defaultCompressFileSize.invalid" class="invalid-feedback">
              <div *ngIf="field.defaultCompressFileSize.invalid">กรุณากรอก compress file
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-1 text-left" style="padding-left: initial;">
            <label>Megabyte</label>
          </div>
        </div>
        <br/>
        <div class="row">
          <nav class="navbar navbar-light bg-info col-lg-12">
            <ul class="navbar-nav">
              <li class="nav-item">
                <h6><i class="fa fa-cog" aria-hidden="true"></i> ตั้งค่าเวลาเริ่มต้นประมวลผล</h6>
              </li>
            </ul>
          </nav>
        </div>
      <br/>
        <div class="row">
          <div class="col-12 col-sm-3 text-left text-sm-right">
            <label>เวลา <span class="red">*</span></label>
          </div>
          <div class="col-12 col-sm-3">
            <timepicker [formControl]="formCondition.controls['defaultStartProcessTime']" id="defaultStartProcessTime"  [showMeridian]="isMeridian" 
            [ngClass]="{ 'is-invalid': this.formCondition.controls['defaultStartProcessTime'].invalid}" [showSpinners]="showSpinners" appNumberOnly></timepicker>
            <div *ngIf="this.formCondition.controls['defaultStartProcessTime'].invalid" class="invalid-feedback">
              <div *ngIf="this.formCondition.controls['defaultStartProcessTime'].invalid">กรุณากรอกเวลา
              </div>
            </div>
          </div>
        </div>
        <br/>
        <div class="row">
          <nav class="navbar navbar-light bg-info col-lg-12">
            <ul class="navbar-nav">
              <li class="nav-item">
                <h6><i class="fa fa-cog" aria-hidden="true"></i> ตั้งค่าจำนวนวัน ที่เก็บข้อมูลไว้ในระบบ</h6>
              </li>
            </ul>
          </nav>
        </div>
      <br/>
        <div class="row">
          <div class="col-12 col-sm-3 text-left text-sm-right">
            <label>จำนวนวันที่เก็บในระบบ <span class="red">*</span></label>
          </div>
          <div class="col-12 col-sm-2">
            <input class="form-control" formControlName="defaultFileExpiryDate" id="defaultFileExpiryDate" 
            style="text-align: right;"  [ngClass]="{'is-invalid': field.defaultFileExpiryDate.invalid}"
            autocomplete="off" appNumberOnly>
            <div *ngIf="field.defaultFileExpiryDate.invalid" class="invalid-feedback">
              <div *ngIf="field.defaultFileExpiryDate.invalid">กรุณากรอกจำนวนวันที่เก็บในระบบ
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-1 text-left" style="padding-left: initial;">
            <label>วัน</label>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="form-group col-lg-2 reset-button">
            <button type="submit" class="btn btn-green w-md m-b-5"><i class="fa fa-floppy-o"></i>
              &nbsp;บันทึก</button>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <button type="button" class="btn btn-danger w-md m-b-5" ><i class="fa fa-times"></i>
              ยกเลิก</button>
          </div>
        </div>
      </form>
      </div>
    </div>
    </div>
  </div>
</div>
