<router-outlet #outlet="outlet"></router-outlet>
<section *ngIf="!outlet.isActivated">
  <div class="header-title mb-4">
      <h1>
          <app-back-button></app-back-button>
          <strong>{{getGroupPndName(pndGroup)}} {{getPndTypeName(pndType)}} : {{ getMonthName(searchState?.taxMonthStart) }} {{ searchState?.taxYearStart }} - {{ getMonthName(searchState?.taxMonthEnd) }} {{ searchState?.taxYearEnd }}  </strong>
      </h1>
  </div>

  <div class="row my-3 justify-content-end">
      <a target="_blank" class="btn btn-primary btn-auto mr-3">
          <i class="fa fa-print"></i> พิมพ์
      </a>
  </div>

  <div class="card mb-4" *ngIf="address">
      <div class="card-header">
          <h4><i class="fa fa-list"></i>ข้อมูลผู้เสียภาษีอากร</h4>
      </div>
      <div class="card-body">
        เลขประจำตัวผู้เสียภาษีอากร : <b>{{ pin | mask: '0-0000-00000-00-0' }}</b>&nbsp;&nbsp;   
        ชื่อผู้เสียภาษีอากร :  <b>{{ address?.name }}</b>&nbsp;&nbsp;
        สาขา   <b>{{ address?.branchNo}}</b><br/>   
        ที่อยู่ : <b>{{ address?.buildingName || '' }} {{ address?.roomNo || '' }}
        {{ address?.floor || '' }} {{ address?.village || '' }}
        {{ address?.addressNo || '' }} {{ address?.moo || '' }}
        {{ address?.soi || '' }} {{ address?.lane || '' }}
        {{ address?.road || '' }} {{ address?.subDistrict || '' }}
        {{ address?.district || '' }} {{ address?.province || '' }}
        {{ address?.postcode || '' }}</b> <br/>   
        สำนักงานภูมิลำเนา : <b>{{ address?.offCodeName || '' }}</b>
      </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>{{getGroupPndName(pndGroup)}} {{getPndTypeName(pndType)}} </h4>
    </div>
    <div class="card-body">
      <table
        class="table table-striped table-bordered table-sm"
        cellspacing="0"
        width="100%"
      >
        <thead>
        <tr role="row">
          <!-- <th class="text-center" scope="col" style="width: 50px"></th> -->
          <th class="text-center" scope="col" style="width: 50px"></th>
          <th class="text-center" scope="col">เดือนภาษี</th>
          <th class="text-center" scope="col">ปีภาษี</th>
          <th class="text-center" scope="col">จำนวน <br> เงิน (บาท)</th>
          <th class="text-center" scope="col">จำนวนเงินภาษีเงินได้ <br> หัก ณ ที่จ่าย (บาท)</th>
          <th class="text-center" scope="col">จำนวนภาษี <br> มูลค่าเพิ่ม (บาท)</th>
          <th class="text-center" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of monthsPnd; let i = index" role="row" [class.odd]="i % 2 == 0">
          <td class="text-center">{{i+1}} </td>
          <td class="text-center">{{getMonthName(row.taxMonth)}}</td>
          <td class="text-center">{{row.taxYear}}</td>
          <td class="text-right">{{ row.sumIncomeAmount | number: '1.2-2' }}</td>
          <td class="text-right">{{ row.sumWhtAmount | number: '1.2-2' }}</td>
          <td class="text-right">{{ row.sumVatAmount | number: '1.2-2' }}</td>
          <td class="text-center">
              <button
              type="button"
              class="btn btn-orange btn-sm btn-auto"
              (click)="routDetail(row.taxMonth, row.taxYear)"
              tooltip="ดูรายละเอียด">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        <tr [class.odd]="monthsPnd.length % 2 != 0" role="row">
            <td colspan="3" class="text-center">
                รวม
            </td>
            <td class="text-right">
                {{ sum(monthsPnd, 'sumIncomeAmount') | number: '1.2-2' }}
            </td>
            <td class="text-right">
                {{ sum(monthsPnd, 'sumWhtAmount') | number: '1.2-2' }}
            </td>
            <td class="text-right">
                {{ sum(monthsPnd, 'sumVatAmount') | number: '1.2-2' }}
            </td>
            <td></td>
        </tr>
        </tbody>
       
      </table>
    </div>
  </div>
</section>