<div class="content">
    <div class="header-title mb-4">
        <h1><strong>เพิ่มมาตรากฏหมาย </strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a
                    [routerLink]="['/etl/section']" class="active">มาตรากฏหมาย
            </a> / เพิ่มมาตรากฏหมาย
            </small>
        </h1>
    </div>

    <form [formGroup]="sectionForm" (ngSubmit)="onSubmit()">
        <div formGroupName="sectionGroup">
            <div class="card border-light mb-4">
                <div class="card-header">
                    <h4 class="panel-title">
                        <i class="header-title fa fa-file-text"></i> มาตรากฏหมาย
                    </h4>
                </div>
                <div class="card-body">
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label>ภ.ง.ด</label>&nbsp; <label class="text-danger"> *</label>
                        <select name="type-data" class="form-control"
                                formControlName="pnd" id="pnd">
                          <option [value]="null" disabled>ระบุ ภ.ง.ด</option>
                          <option *ngFor="let dv of PndList"
                                  [value]="dv.code">{{dv.description}}</option>
                        </select>
                        <div class="text-danger"
                             *ngIf="!sectionForm.get('sectionGroup.pnd').valid && sectionForm.get('sectionGroup.pnd').touched">
                          กรุณาเลือก ภ.ง.ด.
                        </div>
                      </div>
                        <div class="form-group col-lg-6">
                            <label>รหัสมาตรากฏหมาย</label>&nbsp; <label class="text-danger"> *</label>
                            <input type="text" formControlName="sectionCode" id="sectionCode" [maxlength]="7"
                                   class="form-control"
                                   placeholder="ระบุรหัสมาตรากฏหมาย">
                          <div class="text-danger"
                               *ngIf="sectionForm.get('sectionGroup.sectionCode').touched && sectionForm.get('sectionGroup.sectionCode').value == null">
                            กรุณากรอกรหัสมาตรากฏหมาย.
                          </div>
                          <div class="text-danger"
                               *ngIf="sectionForm.get('sectionGroup.sectionCode').touched && sectionForm.get('sectionGroup.sectionCode').value == '' ">
                            กรุณากรอกรหัสมาตรากฏหมาย.
                          </div>
                          <div class="text-danger"
                               *ngIf="!sectionForm.get('sectionGroup.sectionCode').valid && sectionForm.get('sectionGroup.sectionCode').touched && sectionForm.get('sectionGroup.sectionCode').value != null && sectionForm.get('sectionGroup.sectionCode').value != ''">
                            รองรับตัวอักษรภาษาอังกฤษ และตัวเลขเท่านั้น.
                          </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>ลำดับมาตรา</label>
                            <input type="number" oninput="javascript: if (this.value.length > this.maxLength)  this.value = this.value.slice(0, this.maxLength);
                                   "formControlName="sectionSeq" id="sectionSeq" max="999" min="0" [maxlength]="3"
                                   class="form-control"
                                   placeholder="ระบุลำดับมาตรา">


                        </div>

                        <div class="form-group col-lg-6">
                            <label>ชื่อมาตรากฏหมาย</label>&nbsp; <label class="text-danger"> *</label>
                            <input type="text" formControlName="sectionName" id="sectionName"
                                   class="form-control" [maxlength]="100"
                                   placeholder="ระบุชื่อมาตรากฏหมาย">
                            <div class="text-danger"
                                 *ngIf="!sectionForm.get('sectionGroup.sectionName').valid && sectionForm.get('sectionGroup.sectionName').touched">
                                กรุณากรอกชื่อมาตรากฏหมาย.
                            </div>
                        </div>

                      <div class="form-group col-lg-6">
                        <label>คำอธิบาย</label>
                        <textarea formControlName="sectionDesc" id="sectionDesc" rows="5"
                                  class="form-control" maxlength="200" placeholder="ระบุคำอธิบาย"></textarea>
                      </div>


                    </div>
                </div>
            </div>
        </div>

        <table style="margin:auto;">
            <tr>
                <td>
                    <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5" id="back"
                            (click)="onBack()"><i
                            class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-auto btn-orange2 w-md m-b-5" id="clear" (click)="resetForm()"><i
                            class="fa fa-repeat"></i> ล้างข้อมูล
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-auto btn-green w-md m-b-5" id="save">
                        <i class="fa fa-floppy-o"></i> บันทึก
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
