<header class="main-header content-header">
    <a routerLink="/" class="logo">
       <!-- Logo -->
       <span class="logo-mini">
       <img src="assets/dist/img/mini-logo.png" alt="">
       </span>
       <span class="logo-lg">
       <img src="assets/dist/img/logo.png" alt="">
       </span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top">
       <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="pe-7s-menu"></span>
       </a>
       <!-- searchbar-->
       <!-- <div class="input-append search-input-area">
         <input class="" id="appendedInputButton" type="text" placeholder="ค้นหา ..." value="ค้นหา ..." onfocus="this.value='';">
         <button class="submit-btn" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
     </div> -->
     <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">

             <!-- Notifications -->
             <!-- <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="pe-7f-bell"></i>
                <span class="label label-warning">7</span>
                </a>
                <ul class="dropdown-menu">
                   <li>
                      <ul class="menu">
                         <li>
                            <a href="#" class="border-gray">
                            <i class="fa fa-dot-circle-o color-green"></i>Change Your font style</a>
                         </li>
                         <li><a href="#" class="border-gray">
                            <i class="fa fa-dot-circle-o color-red"></i>
                            check the system ststus..</a>
                         </li>
                         <li><a href="#" class="border-gray">
                            <i class="fa fa-dot-circle-o color-yellow"></i>
                            Add more admin...</a>
                         </li>
                         <li><a href="#" class="border-gray">
                            <i class="fa fa-dot-circle-o color-violet"></i> Add more clients and order</a>
                         </li>
                         <li><a href="#" class="border-gray">
                            <i class="fa fa-dot-circle-o color-yellow"></i>
                            Add more admin...</a>
                         </li>
                         <li><a href="#" class="border-gray">
                            <i class="fa fa-dot-circle-o color-violet"></i> Add more clients and order</a>
                         </li>
                      </ul>
                   </li>
                </ul>
             </li> -->
             <!-- <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="pe-7f-mail"></i>
                <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu">
                   <li>
                      <ul class="menu">
                         <li>

                            <a href="#" class="border-gray">
                               <div class="pull-left">
                                  <img src="assets/dist/img/avatar.png" class="img-circle" alt="User Image">
                               </div>
                               <h4>Ronaldo</h4>
                               <p>Please oreder 10 pices of kits..</p>
                               <span class="badge badge-success badge-massege"><small>15 hours ago</small>
                               </span>
                            </a>
                         </li>
                         <li>
                            <a href="#" class="border-gray">
                               <div class="pull-left">
                                  <img src="assets/dist/img/avatar2.png" class="img-circle" alt="User Image">
                               </div>
                               <h4>Leo messi</h4>
                               <p>Please oreder 10 pices of Sheos..</p>
                               <span class="badge badge-info badge-massege"><small>6 days ago</small>
                               </span>
                            </a>
                         </li>
                         <li>
                            <a href="#" class="border-gray">
                               <div class="pull-left" >
                                  <img src="assets/dist/img/avatar3.png" class="img-circle" alt="User Image">
                               </div>
                               <h4>Modric</h4>
                               <p>Please oreder 6 pices of bats..</p>
                               <span class="badge badge-info badge-massege"><small>1 hour ago</small>
                               </span>
                            </a>
                         </li>
                         <li>
                            <a href="#" class="border-gray">
                               <div class="pull-left">
                                  <img src="assets/dist/img/avatar4.png" class="img-circle" alt="User Image">
                               </div>
                               <h4>Salman</h4>
                               <p>Hello i want 4 uefa footballs</p>
                               <span class="badge badge-danger badge-massege">
                               <small>6 days ago</small>
                               </span>
                            </a>
                         </li>
                         <li>
                            <a href="#" class="border-gray">
                               <div class="pull-left">
                                  <img src="assets/dist/img/avatar5.png" class="img-circle" alt="User Image">
                               </div>
                               <h4>Sergio Ramos</h4>
                               <p>Hello i want 9 uefa footballs</p>
                               <span class="badge badge-info badge-massege"><small>5 hours ago</small>
                               </span>
                            </a>
                         </li>
                      </ul>
                   </li>
                </ul>
             </li> -->
              <li class="gray-line">|
              </li>

              <li class="dropdown messages-menu" *ngIf="userDetial">
                 <a href="#" class="dropdown-toggle user-shortcut" data-toggle="dropdown">
                 <i class="pe-7f-user"></i>
                 <p>{{userDetial?.nameTH}} {{userDetial?.surNameTH}}<br>
                 {{userDetial?.email}}<br>
                 <!-- เข้าระบบล่าสุด<br>10/11/2560 12:43:21 -->
                </p>
                 <!-- <span class="label label-success">4</span> -->
                 </a>
                 <ul class="dropdown-menu">
                    <li>
                       <ul class="menu">
                          <li>
                             <!-- start message -->
                             <a href="#" class="border-gray">
                                <div class="pull-left">
                                   <img src="assets/dist/img/user-profile-icon.png" class="img-circle" alt="User Image">
                                </div>
                                <h4>ข้อมูลส่วนตัว</h4>
                             </a>
                          </li>
                          <li>
                             <a href="#" class="border-gray" (click)="logout()">
                                <div class="pull-left">
                                   <img src="assets/dist/img/user-signout-icon.png" class="img-circle" alt="User Image">
                                </div>
                                <h4>ออกจากระบบ</h4>
                             </a>
                          </li>

                       </ul>
                    </li>
                 </ul>
              </li>

          </ul>
       </div>



    </nav>



 </header>
