<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <p>เลขประจำตัวผู้เสียภาษีอากร :</p>
    </div>
    <div class="col-12 col-sm-3">
      <p>{{taxRequestModel.taxAgentPin | replaceNullValue: '-'}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <p>ชื่อผู้ขอคืน :</p>
    </div>
    <div class="col-12 col-sm-3">
      <p>{{taxRequestModel.taxAgentName | replaceNullValue: '-'}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <p>ชื่อสถานประกอบการ :</p>
    </div>
    <div class="col-12 col-sm-3">
      <p>{{taxRequestModel.companyName | replaceNullValue: '-'}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <p>สำนักงาน :</p>
    </div>
    <div class="col-12 col-sm-3">
      <p>{{taxRequestModel.isHeadOffice ? 'สำนักงานใหญ่' : 'สำหนักงานสาขาเลขที่ ' + (taxRequestModel.branchNo != null && taxRequestModel.branchNo != undefined?taxRequestModel.branchNo:'')}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <p>ที่อยู่</p>
    </div>
  </div>
  <app-tax-request-address-detail [taxRequestModel]="taxRequestModel"></app-tax-request-address-detail>
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <p>โทรศัพท์ :</p>
    </div>
    <div class="col-12 col-sm-3">
      <p>{{taxRequestModel.telephone | replaceNullValue: '-'}}</p>
    </div>
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <p>อีเมล :</p>
    </div>
    <div class="col-12 col-sm-3">
      <p>
        <!--        TO DO MAP EMAIL-->
        -
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <p>ชื่อ-นามสกุล (ผู้รับมอบอำนาจ) :</p>
    </div>
    <div class="col-12 col-sm-3">
      <p>{{taxRequestModel.recipientName | replaceNullValue: '-'}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <p>ที่อยู่</p>
    </div>
  </div>
  <app-tax-request-recipient-address-detail [taxRequestModel]="taxRequestModel"></app-tax-request-recipient-address-detail>
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <p>โทรศัพท์ :</p>
    </div>
    <div class="col-12 col-sm-3">
      <p>{{taxRequestModel.recipientTelephone | replaceNullValue: '-'}}</p>
    </div>
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <p>อีเมล :</p>
    </div>
    <div class="col-12 col-sm-3">
      <p>
        <!--        TO DO MAP EMAIL-->
        -
      </p>
    </div>
  </div>
</div>
