<div class="content">
    <div class="header-title mb-4">
        <div class="header-title mb-4">
            <h1><strong>รายการผู้นำส่งข้อมูลแบบดึงไฟล์ </strong>
                <small class="pull-right"><a href="" class="active">หน้าหลัก</a> /
                  รายการผู้นำส่งข้อมูลแบบดึงไฟล์
                </small>
            </h1>

        </div>
        <div class="card border-light mb-4">
            <div class="card-header">
                <h4 class="panel-title">
                    <i class="header-title fa fa-file-text"></i> ค้นหา
                </h4>
            </div>
            <div class="card-body">

                <form [formGroup]="pullForm" (ngSubmit)="onSubmit()">
                    <div formGroupName="pullGroup">
                        <div class="form-row">
                            <div class="form-group col-lg-4">
                              <label>หน่วยงานผู้นำส่งข้อมูล</label>
                              <input formControlName="fiNameTh"
                                     [ngClass]="{'': !pullForm.get('pullGroup.fiCode').valid && pullForm.get('pullGroup.fiCode').touched}"
                                     [typeahead]="financialList"
                                     [typeaheadMinLength]="0"
                                     autocomplete="off"
                                     (typeaheadOnSelect)="setFiCode($event)"
                                     typeaheadOptionField="fiNameTh"
                                     placeholder="เลือกหน่วยงานที่ส่งข้อมูล"
                                     id="fiNameTh"
                                     class="form-control">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>ประเภทข้อมูล</label>
                                <select name="work-time" class="form-input form-control full"
                                        formControlName="dataTypeId" id="dataTypeId">
                                    <option [value]="null">เลือกทั้งหมด</option>
                                    <option *ngFor="let dv of dataTypeList"
                                            [value]="dv.id">{{dv.dataTypeDesTh}} {{dv.dataTypeDesEn}}</option>
                                </select>
                            </div>

                            <div class="form-group col-lg-2 reset-button">
                                <button type="submit" class="btn btn-success margin-top-10" id="list-search"><i
                                        class="fa fa-search"></i> ค้นหา
                                </button>
                            </div>
                            <div class="form-group col-lg-2 reset-button">
                                <button type="button" class="btn btn-warning margin-top-10" id="clear" (click)="resetForm()"><i
                                        class="fa fa-repeat"></i> ล้างค่า
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--    -->
        <div class="card border-light mb-4">
            <div class="card-header">
                <h4 class="panel-title">
                    <i class="header-title fa fa-file-text"></i> ผลการค้นหา
                </h4>
            </div>
            <div class="card-body">
                <!--            <div style="padding-bottom: 10px">-->
                <!--              แสดงหน้าละ-->
                <!--              <select id="pageSize" [ngModel]="pageSize" (ngModelChange)="getPageSize($event)">-->
                <!--                <option value="5">5</option>-->
                <!--                <option value="10">10</option>-->
                <!--                <option value="15">15</option>-->
                <!--              </select>-->
                <!--              รายการ-->
                <!--            </div>-->
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                    <tr role="row">
                        <th scope="col">ลำดับ</th>
                        <th class="text-center">ชื่อผู้นำส่งข้อมูล</th>
                        <th class="text-center">หน่วยงานผู้นำส่งข้อมูล</th>
                        <th class="text-center">ประเภทข้อมูล</th>
<!--                        <th class="text-center">ศูนย์คอมพิวเตอร์</th>-->
                        <th class="text-center">วันที่แก้ไข</th>
                        <th class="text-center">ผู้แก้ไข</th>
                        <th class="text-center"></th>
                    </thead>
                    <tbody>
                    <tr
                            *ngFor="let NotiData of edcPull | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: p, totalItems: total }; let i=index">
                        <td class="text-center" scope="row">{{ (this.p - 1) * this.pageSize + i + 1 }}</td>
                        <td class="text-left">{{NotiData.titleName_firstName_lastName || '-'}}</td>
                        <td class="text-left">{{financialMap.get(NotiData.fiCode) || '-'}}</td>
                        <td class="text-left">{{datatypeMap.get(NotiData.dataTypeId) || '-'}}</td>
<!--                        <td class="text-center">{{NotiData.inputSite || '-'}}</td>-->
                        <td class="text-center">{{NotiData.updatedDate | thaidate: 'DD/MM/YYYY HH:mm:ss'}}</td>
                        <td class="text-left">{{NotiData.updatedBy || '-'}}</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a class="btn-orange btn-sm" id="edit{{i}}" (click)="onEdit(NotiData)">
                                    <i class="fa fa-edit" aria-hidden="true" title="แก้ไข"></i>
                                </a>
                                <a class="btn-orange btn-sm" id="delete{{i}}" (click)="onDelete(NotiData)">
                                    <i class="fa fa-trash" aria-hidden="true" title="ลบ"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="edcPull.length === 0">
                        <td colspan="11" class="text-center"> ไม่พบข้อมูล</td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-5 text-left">
                        แสดงผล
                        {{edcPull.length}} จาก
                        {{total}} รายการ
                    </div>
                    <div class="col-md-6 text-right">
                        <pagination-controls id="server"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
        <table width="auto" border="0" cellspacing="10" cellpadding="0" style="margin:auto;">
            <tr>
                <td>
                    <button type="button" class="btn btn-auto btn-green w-md m-b-5" id="add" [routerLink]="['add']"><i
                            class="fa fa-plus"></i> &nbsp;เพิ่มข้อมูล
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
