<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>ข้อมูลภาษีซื้อ  (ข้อมูลการชำระเงินระหว่างประเทศ)</h4>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-center" style="font-weight:bold;" >ข้อมูล กันยายน 2559</label>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> พิมพ์</a>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขประจำตัวผู้เสียภาษีอากร  : 0-1345-67891-23-4</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขที่สาขา :00000</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อผู้ประกอบการ : บริษัท เอ จำกัด</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">ที่อยู่ : เลขที่ 1 หมู่ที่ 1 แขวงศาลาธรรมสพน์ เขตทวีวัฒนา จังหวัดกรุงเทพมหานคร 10170</label>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-left" style="font-weight:bold">หมายเลขอ้างอิงการทำรายการ </label>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <input type="text" value="" id="branchNo" class="form-control" name="branchNo">
          </div>
          <div class="form-group col-lg-2 pr-0">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> ค้นหา</a>
          </div>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th>ลำดับ<br>ที่<br>(1)</th>
              <th>วันที่ทำรายการ<br>(2)</th>
              <th>หมายเลขอ้างอิง<br>การทำรายการ<br>(3)</th>
              <th>ชื่อผู้ขายสินค้า/<br>ผู้ให้บริการ<br>(4)</th>
              <th>รวมเงินที่จ่าย<br>(ก่อนหักภาษี ณ ที่จ่าย<br>และไม่รวมภาษีมูลค่าเพิ่ม)<br>(5)</th>
              <th>ภาษีมูลค่า<br>เพิ่ม<br>(6)</th>
              <th>ประเภทเงินได้ <br>(7)</th>
              <th>อัตราภาษี<br>หัก ณ ที่จ่าย<br>(8)</th>
              <th>จำนวน<br>ภาษีหัก ณ<br>ที่จ่าย<br>(9)</th>
              <th>ดูข้อมูล<br>การชำระเงิน<br>(10)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="center">1</td>
              <td align="center">01/09/2559</td>
              <td align="center">5801041</td>
              <td align="left">GE Service Co.,LTD.</td>
              <td align="right">90,000.00</td>
              <td align="right">6,300.00</td>
              <td align="left">ค่าเช่า<br>ตามมาตรา 40(5)</td>
              <td align="right">15 %</td>
              <td align="right">13,500.00</td>
              <td>
                <a href="trs/trsp020309" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            <tr>
              <td align="center">2</td>
              <td align="center">02/09/2559</td>
              <td align="center">5801042</td>
              <td align="left">PW Service Co.,LTD.</td>
              <td align="right">70,000.00</td>
              <td align="right">4,900.00</td>
              <td align="left">ค่าเช่า<br>ตามมาตรา 40(5)</td>
              <td align="right">15 %</td>
              <td align="right">10,500.00</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
