<section>
    <div class="header-title mb-4">
        <h1>
            <app-back-button></app-back-button>
            <strong>คัดค้นภาษีเงินได้หัก ณ ที่จ่ายและภาษีมูลค่าเพิ่มจากธุรกรรม e-WHT</strong>
        </h1>
    </div>
    <div class="card border-light mb-4">
        <div class="card-header ">
            <div class="justify-content-left">
                <h4><i class="fa fa-file-text"></i> คัดค้นภาษีเงินได้หัก ณ ที่จ่ายและภาษีมูลค่าเพิ่มจากธุรกรรม e-WHT
                </h4>
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="searchForm" novalidate (ngSubmit)="search()">
                <div class="row">
                    <div class="col-12 col-sm-6 offset-sm-3">
                        <label for="nid">เลขประจำตัวผู้เสียภาษีอากร</label>
                        <input id="nid" class="form-control" formControlName="taxPayerNo" mask="0000000000000" [validation]="false" [class.is-invalid]="(taxPayerNo.dirty || taxPayerNo.touched || isSubmit) && searchForm.invalid && searchForm.errors?.requireNameOrNo" />
                        <div *ngIf="(taxPayerNo.dirty || taxPayerNo.touched || isSubmit) && searchForm.invalid && searchForm.errors?.requireNameOrNo"
                            class="invalid-feedback">
                            {{ searchForm.errors?.requireNameOrNo }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 offset-sm-3">
                        <label for="taxPayerName">ชื่อผู้เสียภาษีอากร</label>
                        <input id="taxPayerName" class="form-control" formControlName="taxPayerName"
                            [class.is-invalid]="(taxPayerName.dirty || taxPayerName.touched || isSubmit) && searchForm.invalid && searchForm.errors?.requireNameOrNo" />
                        <div *ngIf="(taxPayerName.dirty || taxPayerName.touched || isSubmit) && searchForm.invalid && searchForm.errors?.requireNameOrNo"
                            class="invalid-feedback">
                            {{ searchForm.errors?.requireNameOrNo }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 offset-sm-3">
                        <label for="branch">สาขา</label>
                        <div class="row">
                            <div class="col-6">
                                <select class="form-control" id="branch" formControlName="branch"
                                    (change)="branchChange()">
                                    <option value="">ทั้งหมด</option>
                                    <option value="1">สำนักงานใหญ่</option>
                                    <option value="2">สาขา</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" formControlName="branchNo"
                                    placeholder="ระบุเลขที่สาขา"
                                    [class.is-invalid]="(branchNo.dirty || branchNo.touched || isSubmit) && branchNo.invalid" />
                                <div *ngIf="(branchNo.dirty || branchNo.touched || isSubmit) && branchNo.invalid"
                                    class="invalid-feedback">
                                    โปรดระบุเลขที่สาขา
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 offset-sm-3">
                        <label for="taxType">ประเภทภาษี</label>
                        <select id="taxType" class="form-control" formControlName="taxType" (change)="filterTaxList()">
                            <option value="">ทั้งหมด</option>
                            <option value="1">ภาษีเงินได้ หัก ณ ที่จ่าย</option>
                            <option value="2">ภาษีมูลค่าเพิ่ม</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 offset-sm-3">
                        <label for="typeCode">รหัสแบบ</label>
                        <select id="typeCode" class="form-control" formControlName="taxCode">
                            <option value="">ทั้งหมด</option>
                            <option *ngFor="let tax of taxListFilter" [value]="tax.pndType">{{tax.nameShow}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 offset-sm-3">
                        <label for="taxMonthStart">เดือนปีภาษี เริ่มต้น</label>
                        <div class="row">
                            <div class="col-6">
                                <select class="form-control" id="taxMonthStart" formControlName="taxMonthStart"
                                    [class.is-invalid]="(taxMonthStart.dirty || taxMonthStart.touched || isSubmit) && searchForm.invalid && searchForm.errors?.searchTime">
                                    <option *ngFor="let month of monthList" [value]="month.value">{{ month.name }}
                                    </option>
                                </select>
                                <div *ngIf="(taxMonthStart.dirty || taxMonthStart.touched || isSubmit) && searchForm.invalid && searchForm.errors?.searchTime"
                                    class="invalid-feedback">
                                    {{ searchForm.errors?.searchTime }}
                                </div>
                            </div>
                            <div class="col-6">
                                <select class="form-control" formControlName="taxYearStart"
                                    [class.is-invalid]="(taxYearStart.dirty || taxYearStart.touched || isSubmit) && searchForm.invalid && searchForm.errors?.searchTime">
                                    <option *ngFor="let year of yearList" [value]="year">
                                        {{ year + 543 }}
                                    </option>
                                </select>
                                <div *ngIf="(taxYearStart.dirty || taxYearStart.touched || isSubmit) && searchForm.invalid && searchForm.errors?.searchTime"
                                    class="invalid-feedback">
                                    {{ searchForm.errors?.searchTime }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 offset-sm-3">
                        <label for="taxMonthEnd">เดือนปีภาษี สิ้นสุด</label>
                        <div class="row">
                            <div class="col-6">
                                <select class="form-control" id="taxMonthEnd" formControlName="taxMonthEnd"
                                    [class.is-invalid]="(taxMonthEnd.dirty || taxMonthEnd.touched || isSubmit) && searchForm.invalid && searchForm.errors?.searchTime">
                                    <option *ngFor="let month of monthList" [value]="month.value">{{ month.name }}
                                    </option>
                                </select>
                                <div *ngIf="(taxMonthEnd.dirty || taxMonthEnd.touched || isSubmit) && searchForm.invalid && searchForm.errors?.searchTime"
                                    class="invalid-feedback">
                                    {{ searchForm.errors?.searchTime }}
                                </div>
                            </div>
                            <div class="col-6">
                                <select class="form-control" formControlName="taxYearEnd"
                                    [class.is-invalid]="(taxYearEnd.dirty || taxYearEnd.touched || isSubmit) && searchForm.invalid && searchForm.errors?.searchTime">
                                    <option *ngFor="let year of yearList" [value]="year">
                                        {{ year + 543 }}
                                    </option>
                                </select>
                                <div *ngIf="(taxYearEnd.dirty || taxYearEnd.touched || isSubmit) && searchForm.invalid && searchForm.errors?.searchTime"
                                    class="invalid-feedback">
                                    {{ searchForm.errors?.searchTime }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-success btn-sm btn-auto">
                            <i class="fa fa-search"></i> ค้นหา
                        </button>
                        <button type="button" class="btn btn-warning btn-sm btn-auto" (click)="reset()">
                            <i class="fa fa-repeat" aria-hidden="true"></i> ล้างค่า
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title title mt-auto" id="modal-basic-title">ผลการค้นหา</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>ไม่พบข้อมูล</p>
    </div>
</ng-template>