<div class="header-title mb-4">
  <h1><strong>จัดการกลุ่มผู้ใช้และสิทธิ์ </strong>
    <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / จัดการกลุ่มผู้ใช้และสิทธิ์</small></h1>
</div>

<div class="card mb-4" >
  <div class="card-header ">
     <div justify-content-left>
        <h4><i class="header-title fa fa-file-text"></i>ค้นหากลุุ่มสิทธิ์</h4>
      </div>
  </div>
  <div class="card-body">
     <form [formGroup]="searchForm">

        <div class="form-row">
           <div class="form-group col-md-4">
              <label for="inputIdn" >รหัสกลุ่มสิทธิ์</label>
              <input type="text" value="" id="" class="form-control" name="code" id="code" formControlName="code" placeholder="รหัสกลุ่มสิทธิ์">
           </div>
           <div class="form-group col-sm-4">
            <label>ชื่อกลุ่มสิทธิ์</label>
            <input type="text"  class="form-control" name="name" id="name" formControlName="name"  placeholder="ชื่อกลุ่มสิทธิ์">
           </div>
           <div class="form-group col-sm-4">
            <label>สถานะ</label>
            <select class="form-input form-control" name="status" formControlName="status" >
              <option value="">ทั้งหมด</option>
              <option value="ACTIVE">เปิดใช้งาน</option>
              <option value="INACTIVE">ไม่ใช้งาน</option>
            </select>
           </div>
        </div>

        <!-- <div class="row justify-content-center ">
          <div class="d-inline">
            <a class="btn btn-success m-2" (click)="search()"><i class="glyphicon glyphicon-search"></i> ค้นหา</a>
          </div>
          <div class="d-inline">
              <a  class="btn btn-warning m-2" (click)="clear()"><i class="glyphicon glyphicon-repeat"></i> ล้างค่า</a>
          </div>
        </div> -->
        <div class="row justify-content-center">
          <div class="form-group col-lg-2 reset-button">
              <a class="btn btn-success margin-top-10" (click)="search()"> <i class="glyphicon glyphicon-search"></i> ค้นหา</a>
              </div>
              <div class="form-group col-lg-2 reset-button">
              <a class="btn btn-warning margin-top-10" (click)="clear()"><i class="glyphicon glyphicon-repeat"></i> ล้างค่า</a>
          </div>
        </div>

     </form>
  </div>
</div>

<div class="card mb-4" >

  <div class="card-header ">
    <div justify-content-left>
        <h4><i class="fa fa-file-text"></i> ผลการค้นหา</h4>
    </div>
  </div>

  <div class="card-body">
      <div class="">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">
                    <a (click)="sort('roleCode')" style="cursor: pointer" >รหัสกลุ่มสิทธิ์</a>
                  </th>
                  <th scope="col">ชื่อกลุ่มสิทธิ์</th>
                  <th scope="col">สถานะ</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let group of groupList;let i = index">
                  <td scope="row">{{((currentPage-1) * pageSize)+i + 1}}</td>
                  <td>{{group.code}}</td>
                  <td>{{group.name}}</td>
                  <td>{{group.status== 'ACTIVE' ? 'เปิดใช้งาน': 'ปิดการใช้งาน'}}</td>
                  <td>
                    <div class="btn-group pull-left">
                      <a class="btn btn-orange btn-sm btn-auto" [routerLink]="['/group-management/view/'+group.id+'/'+group.code]">
                        <i class="fa fa-eye" aria-hidden="true" title="เรียกดู"></i>
                      </a>
                      <a class="btn btn-orange btn-sm btn-auto" [routerLink]="['/group-management/edit/'+group.id+'/'+group.code]">
                        <i class="fa fa-edit" aria-hidden="true" title="แก้ไข"></i>
                      </a>
                      <a class="btn btn-orange btn-sm btn-auto" (click)="delete(group.id)">
                        <i class="fa fa-trash" aria-hidden="true" title="ลบ"></i>
                      </a>
                    </div>
                  </td>
                </tr>
            </tbody>
        </table>

        <div class="row">
          <div class="col-sm-5">
            <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">แสดงผล
              {{((currentPage-1) * pageSize) + 1}} ถึง
              {{(((currentPage-1) * pageSize)+ 10) > totalItem ? totalItem: (((currentPage-1) * pageSize)+ 10) }} จาก
              {{totalItem}}
            </div>
          </div>
          <div class="col-sm-7 text-right">
              <pagination style="float: right"
                          [boundaryLinks]="true"
                          [totalItems]="totalItem"
                          [(ngModel)]="currentPage"
                          (pageChanged)="pageChanged($event)"
                          previousText="&lsaquo;"
                          nextText="&rsaquo;"
                          firstText="&laquo;"
                          lastText="&raquo;"
                          [itemsPerPage]="pageSize"
                          [rotate]="true"
                          [maxSize]="5">
              </pagination>
          </div>
        </div>


      </div>
  </div>
</div>
<app-float-button ></app-float-button>