<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-center" style="font-weight:bold">ข้อมูลอ้างอิงยกเลิกใบกำกับภาษี</label>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> พิมพ์</a>
          </div>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th>ลำดับ<br>ที่<br>(1)</th>
              <th>วัน เดือน ปี<br>ที่ออก<br>ใบกำกับภาษี<br>(2)</th>
              <th>เลขที่ใบกำกับภาษี<br>(3)</th>
              <th>ชื่อผู้ซื้อสินค้า/ผู้รับบริการ<br>(4)</th>
              <th>เลขประจำตัวผู้เสียภาษี<br>อากรของผู้ซื้อ<br>สินค้า/ผู้รับบริการ<br>(5)</th>
              <th>สาขา<br>(6)</th>
              <th>ยอดขายที่ต้อง<br>เสียภาษี<br>VAT 7%<br>(7)</th>
              <th>ยอดขายที่ต้อง<br>เสียภาษี<br>VAT 0%<br>(8)</th>
              <th>ยอดขายที่<br>ยกเว้น VAT<br>(9)</th>
              <th>ภาษีขาย<br>(10)</th>
              <th>รวมมูลค้าสินค้า<br>และบริการ<br>(11)</th>
              <th>ประเภทเอกสาร<br>(12)</th>
              <th>อ้างอิงใบกำกับภาษี<br>(13)</th>
              <th>หมายเหตุ<br>(14)</th>
              <th>Signature Date<br>(15)</th>
              <th>แหล่งข้อมูล<br>(16)</th>
              <th>ดูข้อมูล<br>(17)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="center">1</td>
              <td align="center">21/08/2559</td>
              <td align="center">RDTIV0575526000057121</td>
              <td align="left">บริษัท สินค้าหลากหลาย จำกัด</td>
              <td align="center">1-1045-99001-90-2</td>
              <td align="center">00000</td>
              <td align="right">5,500.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">385.00</td>
              <td align="right">5,885.00</td>
              <td align="center">ใบแจ้งหนี้/ใบกำกับภาษี</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center">21/08/2559 23:48</td>
              <td align="center">1</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center"><font color="red">2</font></td>
              <td align="center"><font color="red">25/12/2559</font></td>
              <td align="center"><font color="red">RDTIV0575526000058014</font></td>
              <td align="left"><font color="red">บริษัท สินค้าหลากหลาย จำกัด</font></td>
              <td align="center"><font color="red">1-1045-99001-90-2</font></td>
              <td align="center"><font color="red">00000</font></td>
              <td align="right"><font color="red">5,500.00</font></td>
              <td align="right"><font color="red">0.00</font></td>
              <td align="right"><font color="red">0.00</font></td>
              <td align="right"><font color="red">385.00</font></td>
              <td align="right"><font color="red">5,885.00</font></td>
              <td align="center"><font color="red">ใบแจ้งหนี้/ใบกำกับภาษี</font></td>
              <td align="center"><font color="red"><a href="trs/trsp020132">RDTIV0575526000057121<br>21/08/2559</a></font></td>
              <td align="center"><font color="red">ออกแทนใบที่ยกเลิก<br>(แก้ไขที่อยู่ผู้ซื้อ)</font></td>
              <td align="center"><font color="red">25/12/2559 23:50</font></td>
              <td align="center"><font color="red">1</font></td>
              <td>
                <!--<a href="public_user_expat_edit.html" class="btn btn-orange btn-sm">-->
                  <img src="assets/dist/img/search_icon.png">
                <!--</a>-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left">หมายเหตุ</label>
          </div>
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left">แหล่งข้อมูล</label>
          </div>
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-left">1 = e-Tax Invoice & e-Receipt</label>
          </div>
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left"></label>
          </div>
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left"></label>
          </div>
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-left">2 = e-Tax Invoice By Email</label>
          </div>
        </div>
      </div>
  </div>
</div>
