<form [formGroup]="taxRequestForm">
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="nameBuilding">อาคาร :</label>
    </div>
    <div class="col-12 col-sm-3">
      <input id="nameBuilding" class="form-control" maxlength="60" formControlName="nameBuilding">
    </div>
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="roomNo">ห้องเลขที่ :</label>
    </div>
    <div class="col-12 col-sm-3">
      <input id="roomNo" class="form-control" maxlength="40" formControlName="roomNo">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="floorNo">ชั้นที่ :</label>
    </div>
    <div class="col-12 col-sm-3">
      <input id="floorNo" class="form-control" maxlength="40" formControlName="floorNo">
    </div>
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="village">หมู่บ้าน :</label>
    </div>
    <div class="col-12 col-sm-3">
      <input id="village" class="form-control" maxlength="40" formControlName="village">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="addressNo">เลขที่ :</label>
    </div>
    <div class="col-12 col-sm-3">
      <input id="addressNo" class="form-control" maxlength="60" formControlName="addressNo">
    </div>
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="moo">หมู่ที่ :</label>
    </div>
    <div class="col-12 col-sm-3">
      <input id="moo" class="form-control" maxlength="10" formControlName="moo">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="soi">ตรอก / ซอย :</label>
    </div>
    <div class="col-12 col-sm-3">
      <input id="soi" class="form-control" maxlength="60" formControlName="soi">
    </div>
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="lane">แยก :</label>
    </div>
    <div class="col-12 col-sm-3">
      <input id="lane" class="form-control" maxlength="6" formControlName="lane">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="road">ถนน :</label>
    </div>
    <div class="col-12 col-sm-3">
      <input id="road" class="form-control" maxlength="60" formControlName="road">
    </div>
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="province-select">จังหวัด <span class="red">*</span> :</label>
    </div>
    <div class="col-12 col-sm-3">
      <select class="form-control" id="province-select" formControlName="provinceCode"
              [ngClass]="{'border-danger': provinceCodeControl.invalid && provinceCodeControl.touched}">
          <option [value]="null">โปรดระบุ</option>
          <option *ngFor="let province of provinceList" [value]="province.provinceCode">{{province.provinceNameTh}}</option>
      </select>
      <p class="red" *ngIf="provinceCodeControl.hasError('required') && provinceCodeControl.touched">
        กรุณาระบุจังหวัด
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="amphoe-select">เขต/อำเภอ <span class="red">*</span> :</label>
    </div>
    <div class="col-12 col-sm-3">
      <select class="form-control" id="amphoe-select" formControlName="districtCode"
              [ngClass]="{'border-danger': districtCodeControl.invalid && districtCodeControl.touched}">
        <option [value]="null">โปรดระบุ</option>
        <option *ngFor="let district of districtList" [value]="district.districtCode">{{district.districtNameTh}}</option>
      </select>
      <p class="red" *ngIf="districtCodeControl.hasError('required') && districtCodeControl.touched">
        กรุณาระบุเขต/อำเภอ
      </p>
    </div>
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="district-select">แขวง/ตำบล <span class="red">*</span> :</label>
    </div>
    <div class="col-12 col-sm-3">
      <select class="form-control" id="district-select" formControlName="subDistrictCode"
              [ngClass]="{'border-danger': subDistrictCodeControl.invalid && subDistrictCodeControl.touched}">
        <option [value]="null">โปรดระบุ</option>
        <option *ngFor="let subDistrict of subDistrictList" [value]="subDistrict.subDistrictCode">{{subDistrict.subDistrictNameTh}}</option>
      </select>
      <p class="red" *ngIf="subDistrictCodeControl.hasError('required') && subDistrictCodeControl.touched">
        กรุณาระบุแขวง/ตำบล
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="postcode">รหัสไปรณีย์ <span class="red">*</span> :</label>
    </div>
    <div class="col-12 col-sm-3">
      <input id="postcode" class="form-control" maxlength="5" formControlName="postcode" appNumberOnly>
    </div>
  </div>
</form>
