<div class="content">
  <div class="header-title mb-4">
    <h1><strong>แก้ไขการจัดการรหัสของระบบ </strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a
        [routerLink]="['/mft/config-code']" class="active"> การจัดการรหัสของระบบ
      </a> / แก้ไขการจัดการรหัสของระบบ
      </small>
    </h1>

  </div>
  <form [formGroup]="configCodeForm" (ngSubmit)="onSubmit()">
    <div formGroupName="configCodeObj">
      <div class="card border-light mb-4">
        <div class="card-header">
          <h4 class="panel-title">
            <i class="header-title fa fa-file-text"></i> เพิ่มการจัดการรหัสของระบบ
          </h4>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-lg-6">
              <label>ประเภท</label>&nbsp; <label class="text-danger">*</label>
              <input type="text" id="type" formControlName="type"
                     placeholder="ระบุรหัสประเภท"
                     class="form-control full"
                     maxlength="20">
              <div class="text-danger"
                   *ngIf="configCodeForm.get('configCodeObj.type').value == null && configCodeForm.get('configCodeObj.type').touched">
                กรุณากรอกประเภท
              </div>
              <div class="text-danger"
                   *ngIf="configCodeForm.get('configCodeObj.type').value == '' && configCodeForm.get('configCodeObj.type').touched">
                กรุณากรอกประเภท
              </div>
              <div class="text-danger"
                   *ngIf="!configCodeForm.get('configCodeObj.type').valid && configCodeForm.get('configCodeObj.type').touched && configCodeForm.get('configCodeObj.type').value != null && configCodeForm.get('configCodeObj.type').value != '' ">
                รองรับเฉพาะภาษาอังกฤษ อักขระพิเศษ และตัวเลขเท่านั้น
              </div>
            </div>

            <div class="form-group col-lg-6">
              <label>รหัส</label>&nbsp; <label class="text-danger">*</label>
              <input type="text" id="code" formControlName="code"
                     placeholder="ระบุรหัส"
                     class="form-control full"
                     maxlength="10">
              <div class="text-danger"
                   *ngIf="configCodeForm.get('configCodeObj.code').value == null && configCodeForm.get('configCodeObj.code').touched">
                กรุณากรอกรหัส
              </div>
              <div class="text-danger"
                   *ngIf="configCodeForm.get('configCodeObj.code').value == '' && configCodeForm.get('configCodeObj.code').touched">
                กรุณากรอกรหัส
              </div>
              <div class="text-danger"
                   *ngIf="!configCodeForm.get('configCodeObj.code').valid && configCodeForm.get('configCodeObj.code').touched && configCodeForm.get('configCodeObj.code').value != null && configCodeForm.get('configCodeObj.code').value != '' ">
                รองรับเฉพาะภาษาอังกฤษ และตัวเลขเท่านั้น
              </div>
            </div>

            <div class="form-group col-lg-6">
              <label>คำอธิบาย</label>&nbsp; <label class="text-danger">*</label>
              <textarea id="description" formControlName="description"
                     placeholder="ระบุคำอธิบาย"
                     class="form-control full"
                        maxlength="100">
              </textarea>
              <div class="text-danger"
                   *ngIf="!configCodeForm.get('configCodeObj.description').valid && configCodeForm.get('configCodeObj.description').touched">
                กรุณากรอกคำอธิบาย
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table style="margin:auto;">
      <tr>
        <td>
          <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5"
                  (click)="onBack()" id="back">
            <i class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-auto btn-orange2 w-md m-b-5" (click)="resetForm()" id="clear"><i
            class="fa fa-repeat"></i> ล้างข้อมูล
          </button>
        </td>
        <td>
          <button type="submit" class="btn btn-auto btn-green w-md m-b-5" id="save">
            <i class="fa fa-floppy-o"></i> บันทึก
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>
