<section class="content">
  <div class="panel panel-bd lobidisable">
    <div class="panel-heading clearfix">
      <div class="panel-title">
        <h3><i class="fa fa-list"></i> {{title}}</h3>
      </div>
    </div>
    <div class="panel-body">
      <form [formGroup]="form" (submit)="submit()">
        <div class="row">
          <div class="form-group col-lg-6">
            <label for="name">ชื่อกลุ่มผู้ใช้งาน</label>
            <input type="text" class="form-control" name="name" id="name" formControlName="name" readonly />
            <input type="hidden" class="form-control" name="key" id="key" formControlName="key" />
          </div>
          <div class="col-lg-12" formGroupName="permissions">
            <h3>จัดการสิทธิ์</h3>
            <table class="table  table-striped">
                <tbody>
                    <tr *ngFor="let p of programList">
                      <td>
                          <div class="row"></div>
                          <div class="col-lg-12"><label for="name">{{p.name}}</label></div>
                          <div class="col-12">
                            <div class="form-check checkbox-inline" *ngFor="let pm of p.permissions">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" [formControlName]="pm.permissionId">{{pm.name}}
                              </label>
                            </div>
                          </div> 
                      </td>
                    </tr>
                  
                </tbody>
            </table>

          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <button type="submit" class="btn btn-primary btn-auto" *ngIf="!disabled">บันทึก</button>
            <button type="button" class="btn btn-secondary btn-auto"
              [routerLink]="['/external-user-management/permission/search']">ยกเลิก</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

