<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>ข้อมูลการซื้อ</h4>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-center" style="font-weight:bold">ข้อมูล กันยายน 2559</label>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> พิมพ์</a>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขประจำตัวผู้เสียภาษีอากร : 0-5755-26009-09-9</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขที่สาขา : 000000</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อผู้ประกอบการ : บริษัท ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ จำกัด</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อสถานประกอบการ : ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ สำนักงานใหญ่</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ที่อยู่ : เลขที่ 3/34  แขวงห้วยขวาง เขตห้วยขวาง จังหวัด กรุงเทพมหานคร 10310</label>
          </div>

          <div class="form-group col-lg-2 pr-0">
            <label for="desc" style="font-weight:bold">มุมมองการแสดงผลข้อมูล: </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label for="status-a" class="form-check-label" style="font-weight:bold">
              <input class="form-check-input" type="radio" name="status" id="status-a" value="ALL"
                formControlName="status" checked="checked"> ข้อมูลทั้งหมด
            </label>
          </div>

          <div class="form-group col-lg-1 pr-0">
            <label for="status-i" class="form-check-label" style="font-weight:bold">
              <input class="form-check-input" type="radio" name="status" id="status-i" value="cancel"
                formControlName="status"> ข้อมูลยกเลิก
            </label>
          </div>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th>ลำดับ<br>ที่<br>(1)</th>
              <th>วัน เดือน ปี<br>ที่ออก<br>ใบรับ<br>(2)</th>
              <th>เลขที่ใบรับ<br>(3)</th>
              <th>ชื่อผู้ซื้อสินค้า/ผู้รับบริการ<br>(4)</th>
              <th>เลขประจำตัวผู้เสียภาษี<br>อากรของผู้ซื้อ<br>สินค้า/ผู้รับบริการ<br>(5)</th>
              <th>สาขา<br>(6)</th>
              <th>ยอดขายที่ต้อง<br>เสียภาษี<br>VAT 7%<br>(7)</th>
              <th>ยอดขายที่ต้อง<br>เสียภาษี<br>VAT 0%<br>(8)</th>
              <th>ยอดขายที่<br>ยกเว้น VAT<br>(9)</th>
              <th>ภาษีขาย<br>(10)</th>
              <th>รวมมูลค้าสินค้า<br>และบริการ<br>(11)</th>
              <th>อ้างอิงใบรับ<br>(12)</th>
              <th>หมายเหตุ<br>(13)</th>
              <th>Signature Date<br>(14)</th>
              <th>แหล่งข้อมูล<br>(15)</th>
              <th>ดูข้อมูล<br>(16)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="center">1</td>
              <td align="center">01/09/2559</td>
              <td align="center">RCT0000001</td>
              <td align="left">บริษัท กอ จำกัด</td>
              <td align="center">0-1055-50011-41-6</td>
              <td align="center">00000</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">30,700.00</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center">01/09/2559<br>12:00</td>
              <td align="center">1</td>
              <td>
                <a href="trs/trsp020208" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center">2</td>
              <td align="center">01/09/2559</td>
              <td align="center">RCT0000002</td>
              <td align="left">บริษัท ขอ จำกัด</td>
              <td align="center">0-1055-46103-03-4</td>
              <td align="center">00001</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">20,350.00</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center">01/09/2559<br>12:05</td>
              <td align="center">1</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center">3</td>
              <td align="center">02/09/2559</td>
              <td align="center">RCT0000003</td>
              <td align="left">บริษัท คอ จำกัด</td>
              <td align="center">0-1055-43036-85-9</td>
              <td align="center">00001</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">10,700.00</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center">02/09/2559<br>12:00</td>
              <td align="center">1</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center">4</td>
              <td align="center">03/09/2559</td>
              <td align="center">RCT0000004</td>
              <td align="left">บริษัท งอ จำกัด</td>
              <td align="center">0-1055-54088-82-1/td>
              <td align="center">00000</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">12,700.00</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center">03/09/2559<br>12:00</td>
              <td align="center">1</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center">5</td>
              <td align="center">03/09/2559</td>
              <td align="center">RCT0000005</td>
              <td align="left">บริษัท จอ จำกัด</td>
              <td align="center">0-1155-55005-33-3</td>
              <td align="center">00001</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">21,500.00</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center">03/09/2559<br>12:00</td>
              <td align="center">1</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="right"  style="font-weight:bold"colspan="6">รวม</td>
              <td align="right">40,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">2,800.00</td>
              <td align="right">79,900.00</td>
              <td align="center" colspan="5"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left">หมายเหตุ</label>
          </div>
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left">แหล่งข้อมูล</label>
          </div>
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-left">1 = e-Tax Invoice & e-Receipt</label>
          </div>
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left"></label>
          </div>
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left"></label>
          </div>
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-left">2 = e-Tax Invoice By Email</label>
          </div>
        </div>
      </div>
  </div>
</div>
