<h2>จัดการข้อมูลผู้ใช้งาน</h2>
<div class="row">
  <div class="col-sm-1 col-md-1"></div>
  <div class="col-sm-11 col-md-11 text-right">
    <button type="button" id="addUserBtn" class="btn btn-primary btn-md" *wsPermission="['ROLE_ADMIN']">เพิ่มผู้ใช้งาน</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <table id="example" class="table table-striped table-bordered dataTable" style="width: 100%;" role="grid" aria-describedby="example_info">
      <thead>
        <tr role="row">
          <th>Name</th>
          <th>Position</th>
          <th class="text-center" style="width: 200px">Age</th>
          <th *wsPermission="['ROLE_ADMIN']" style="width: 200px"></th>
        </thead>
      <tbody>
      <tr role="row" class="odd" *ngFor="let user of users; let i = index">
          <td>{{user.name}}</td>
          <td>{{user.position}}</td>
          <td class="text-center">{{user.age}}</td>
          <td *wsPermission="['ROLE_ADMIN']" class="text-center">
              <button type="button" id="editUserBtn" class="btn btn-danger btn-sm" *wsPermission="['ROLE_ADMIN']">แก้ไข</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>