<ng-container >
    <accordion>
      <accordion-group [heading]="headerText" [isOpen]="true" [panelClass]="customClass">
          <div class="col-md-12">
            <div class="panel panel-primary" data-collapsed="0">
                <div class="row form-group">
                  <label class="col-md-5 text-right control-label">ชื่อ-สกุล : </label>
                  <div class="col-md-6 text-left">
                      {{currentUserInfo?.nameTH}} {{currentUserInfo?.surNameTH}}
                  </div>
                </div>
            </div>

            <div class="panel panel-primary" data-collapsed="0">
                <div class="row form-group">
                  <label class="col-md-5 text-right control-label">หน่วยงาน : </label>
                  <div class="col-md-6 text-left">
                      {{currentUserInfo?.userOfficeCode}}
                  </div>
                </div>
            </div>

            <div class="panel panel-primary" data-collapsed="0">
                <div class="row form-group">
                  <label class="col-md-5 text-right control-label">ตำแหน่ง : </label>
                  <div class="col-md-6 text-left">
                      {{currentUserInfo?.userLevelNew}}
                  </div>
                </div>
            </div>

            <div class="panel panel-primary" data-collapsed="0">
                <div class="row form-group">
                  <label class="col-md-5 text-right control-label">อีเมล : </label>
                  <div class="col-md-6 text-left">
                      {{currentUserInfo?.email}}
                  </div>
                </div>
            </div>
          </div>
      </accordion-group>
    </accordion>
</ng-container>
