<section class="content">
    <div class="row" style="overflow-y:auto;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-bd lobidisable">
          <div class="panel-heading">
            <div class="panel-title">
              <h3><i class="fa fa-file-text"></i> บันทึกรับเรื่องอุทธรณ์</h3>
            </div>
          </div>
          <br />
          <div class="panel-body no-padding"></div>

          <div class="panel-body" >
            <form role="form" [formGroup]="appealDetailForm" (ngSubmit)="saveWelfareAppealDetail()" >
              <div class="row form-group">
                <div class="col-12 col-sm-3 text-sm-right text-left">
                  <label>ปัญหาเรื่อง  : <span class="red">*</span></label>
                </div>
                <div class="col-12 col-sm-9 text-left">
                  <select class="custom-select form-control"  formControlName="appealTopicCode"
                    [ngClass]="{'border-danger': appealTopicCode.invalid && appealTopicCode.touched}"
                    (change)="topicChange($event.srcElement.value)" >
                    <option value="">โปรดระบุ</option>
                    <option *ngFor="let item of topicList" [value]="item.name">
                      {{item.value}}
                    </option>
                  </select>
                  <div class="red error-msg" *ngIf="appealTopicCode.hasError('required') && appealTopicCode.touched">
                      กรุณาระบุปัญหาเรื่อง
                  </div>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-12 col-sm-3 text-sm-right text-left">
                  <label>กรณีอื่นๆ โปรดระบุ  : <span class="red">*</span></label>
                </div>
                <div class="col-12 col-sm-9 text-left">
                  <input type="text" class="form-control" maxlength="100" formControlName="otherTopic"
                  [ngClass]="{'border-danger': otherTopic.invalid && otherTopic.touched}" >
                  <div class="red error-msg" *ngIf="otherTopic.hasError('required') && otherTopic.touched">
                    กรุณาระบุกรณีอื่นๆ
                  </div>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-12 col-sm-3 text-sm-right text-left">
                  <label>รายละเอียด  : <span class="red">*</span></label>
                </div>
                <div class="col-12 col-sm-9 text-left">
                  <textarea class="form-control" maxlength="100" formControlName="remark"
                    [ngClass]="{'border-danger': remark.invalid && remark.touched}">
                  </textarea>
                  <div class="red error-msg" *ngIf="remark.hasError('required') && remark.touched">
                      กรุณาระบุรายละเอียด
                  </div>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-12 col-sm-3 text-sm-right text-left"></div>
                <div class="col-12 col-sm-9 text-left" *ngIf="appealTopicCode != null && appealTopicCode.value != '3'" >
                  <input type="checkbox"  formControlName="transfer" >
                  <label>โอนเรื่องอุทธรณ์</label>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-12 col-sm-3 text-sm-right text-left">
                    <label>หน่วยงานที่โอน  : <span class="red">*</span></label>
                </div>
                <div class="col-12 col-sm-9 text-left">
                    <app-appeal-organization-type-ahead [input-org]="transferOrgName.value" isRequired="true" (selectedOrgEvent)='setTransferValue($event)' input-phd="โปรดระบุ"
                    [input-disabled]="!transfer.value || (stepCode.value == '2' && dataFlag.value == 'EDIT')"
                    [borderDanger]="transferOrgName.invalid && transferOrgName.touched" formControlName="transferOrgName" #appealOrg>
                    </app-appeal-organization-type-ahead>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-12 col-sm-3 text-sm-right text-left">
                  <label>เลขที่หนังสือ  : <span class="red">*</span></label>
                </div>
                <div class="col-12 col-sm-9 text-left">
                  <input type="text" class="form-control" maxlength="100" formControlName="appealNo"
                  [ngClass]="{'border-danger': appealNo.invalid && appealNo.touched}" >
                  <div class="red error-msg" *ngIf="appealNo.hasError('required') && appealNo.touched">
                    กรุณาระบุเลขที่หนังสือ
                  </div>
                </div>
              </div>

              <div class="row form-group" *ngIf="!checkDisabled.value">
                <div class="col-12 col-sm-3 text-sm-right text-left">
                  <label >แนบไฟล์เอกสาร : </label>
                </div>
                <div class="col-12 col-sm-9 text-left">
                    <label>หมายเหตุ  : <span class="red">*</span> หากไม่มีเลขที่หนังสือ ให้ใส่เครื่องหมาย -</label>
                </div>
              </div>

              <div class="row form-group" *ngIf="(appealTopicCode != null && appealTopicCode.value != '3' || (authService.hasAnyPermission(['ROLE_GWS005']) && appealTopicCode != null && appealTopicCode.value == '3'))
               && (!authService.hasAnyPermission(['ROLE_GWS002']) || (authService.hasAnyPermission(['ROLE_GWS002']) && appealTopicCode != null && appealTopicCode.value == '4'))">
                <div class="col-12 col-sm-3 text-sm-right text-left">
                    <label>ผลการตรวจสอบ  : <span class="red">*</span></label>
                </div>
                <div class="col-12 col-sm-9 text-left">
                  <label class="radio-inline">
                    <input type="radio" name="stepCode" formControlName="stepCode" value="1" > อยู่ระหว่างดำเนินการ
                  </label>
                  &nbsp;
                  <label class="radio-inline">
                    <input type="radio" name="stepCode" formControlName="stepCode" value="2" > ดำเนินการเสร็จสิ้น
                  </label>
                </div>
              </div>

              <div class="row form-group" *ngIf="!checkDisabled.value">
                <div class="col-12 col-sm-3 text-sm-right text-left">
                  <label >แนบไฟล์เอกสาร : </label>
                </div>
                <div class="col-12 col-sm-9 text-left">
                  <input #attachFileInput type="file" class="form-control " (change)="setUploadedFile($event.srcElement)" accept="image/*,.pdf,.txt" style="overflow: hidden">
                </div>
              </div>

              <div class="row form-group">
                <span style="color: red; font-weight: bold; font-size: larger;text-align: center">อัพโหลดได้ไม่เกิน 10 ไฟล์ และขนาดของแต่ละไฟล์ไม่เกิน 5MB</span>
                <div class="form-group col-lg-12">
                  <table id="itppTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th scope="col"class="text-center">ลำดับ</th>
                          <th scope="col" class="text-center">ชื่อไฟล์</th>
                          <th scope="col" class="text-center">ขนาด(MB)</th>
                          <th scope="col" class="text-center"> </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr role="row" class="odd" *ngFor="let v of attachFileDtoList; index as i"  formArrayName="attachFileDtoListForm">
                          <ng-container [formGroupName]="i">
                            <td class="text-center">{{i+1}}</td>
                            <td class="text-left">
                              <a [routerLink]="" *ngIf="authService.hasAnyPermission(['GWSP020100.VIEW'])" class="oi oi-data-transfer-download" (click)="downloadAttachFile(v, i)" >
                                {{v.attachFile}}
                              </a>
                            </td>
                            <td class="text-right">{{v.fileSize | number}}</td>
                            <td class="text-center">
                              <div class="btn-group">
                                <button type="button" *ngIf="authService.hasAnyPermission(['GWSP020100.DELETE'])" class="btn btn-danger btn-sm btn-auto" (click)="confirmRemoveFile(v, i)" tooltip="ลบไฟล์" [disabled]="checkDisabled.value">
                                  <i class="fa fa-trash"></i>
                                </button>
                              </div>
                            </td>
                          </ng-container>
                        </tr>
                        <tr *ngIf="!attachFileDtoList || (attachFileDtoList != null && attachFileDtoList.length === 0)">
                          <td colspan="12" class="text-center"> ไม่พบรายการไฟล์แนบ</td>
                        </tr>
                      </tbody>
                    </table>
                </div>

              </div>

              <table width="auto" border="0" cellspacing="10" cellpadding="0" style="margin:auto;">
                  <tr>
                    <td>
                      <button type="submit" class="btn btn-green w-md m-b-5" [disabled]="checkDisabled.value" *ngIf="authService.hasAnyPermission(['GWSP020100.UPDATE','GWSP020100.ADD'])">
                      <i class="fa fa-floppy-o"></i>
                        &nbsp;บันทึก
                      </button>
                    </td>
                    <td>
                      <button type="button" class="btn btn-orange3 w-md m-b-5" (click)="back()">
                        <i class="fa fa-times"></i>
                        ยกเลิก
                      </button>
                    </td>
                  </tr>
                </table>
            </form>
          </div>

        </div>
      </div>
    </div>
  </section>
