<div class="row">
  <div class="col-12 col-sm-6 text-sm-right text-left">
    เลขประจำตัวผู้เสียภาษีอากร :
  </div>
  <div class="col-12 col-sm-6">
    {{publicUser.nId}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 text-sm-right text-left">
    ชื่อผู้เสียภาษีอากร :
  </div>
  <div class="col-12 col-sm-6">
    {{publicUser.firstName}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-left">
    ที่ตั้ง :
  </div>
  <div class="col-12 col-sm-3">
    {{publicUser.address?.buildingName}}
  </div>
  <div class="col-12 col-sm-2 text-sm-right text-left">
    ห้องเลขที่ :
  </div>
  <div class="col-12 col-sm-3">
    {{publicUser.address?.roomNo}}
  </div>
  <div class="col-12 col-sm-1">
    ชั้นที่ : {{publicUser.address?.floor}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-left">
    เลขที่ :
  </div>
  <div class="col-12 col-sm-3">
    {{publicUser.address?.no}}
  </div>
  <div class="col-12 col-sm-2 text-sm-right text-left">
    ตรอก/ซอย :
  </div>
  <div class="col-12 col-sm-3">
    {{publicUser.address?.trok}} {{publicUser.address?.soi}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-left">
    หมู่ที่ :
  </div>
  <div class="col-12 col-sm-3">
    {{publicUser.address?.moo}}
  </div>
  <div class="col-12 col-sm-2 text-sm-right text-left">
    ถนน :
  </div>
  <div class="col-12 col-sm-3">
    {{publicUser.address?.road}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-left">
    แขวง/ตำบล :
  </div>
  <div class="col-12 col-sm-3">
    {{publicUser.address?.tambonName}}
  </div>
  <div class="col-12 col-sm-2 text-sm-right text-left">
    เขต/อำเภอ :
  </div>
  <div class="col-12 col-sm-3">
    {{publicUser.address?.amphoeName}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-left">
    จังหวัด :
  </div>
  <div class="col-12 col-sm-3">
    {{publicUser.address?.provinceName}}
  </div>
  <div class="col-12 col-sm-2 text-sm-right text-left">
    รหัสไปรษณีย์ :
  </div>
  <div class="col-12 col-sm-3">
    {{publicUser.address?.postcode}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 text-sm-right text-left">
    เลขประจำตัวผู้เสียภาษีอากร ผู้เป็นผู้จัดการห้างหุ้นส่วนสามัญ/คณะบุคคล :
  </div>
  <div class="col-12 col-sm-6">
    {{publicUser.partnershipManagerId}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 text-sm-right text-left">
    ชื่อ-นามสกุล ผู้เป็นผู้จัดการห้างหุ้นส่วนสามัญ/คณะบุคคล  :
  </div>
  <div class="col-12 col-sm-6">
    {{publicUser.partnershipManagerTitleName}} {{publicUser.partnershipManagerFirstName}} {{publicUser.partnershipManagerLastName}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 text-sm-right text-left">
    เบอร์โทรศัพท์ ผู้เป็นผู้จัดการห้างหุ้นส่วนสามัญ/คณะบุคคล :
  </div>
  <div class="col-12 col-sm-6">
    {{publicUser.phoneNumber}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 text-sm-right text-left">
    อีเมล ผู้เป็นผู้จัดการห้างหุ้นส่วนสามัญ/คณะบุคคล :
  </div>
  <div class="col-12 col-sm-6">
    {{publicUser.email}}
  </div>
</div>
