<div class="content">
    <div class="header-title mb-4">
        <h1><strong>แก้ไขรายการผู้นำส่งข้อมูลแบบดึงไฟล์ </strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a
                    [routerLink]="['/mft/sender-transfer-pull']" class="active">รายการผู้นำส่งข้อมูลแบบดึงไฟล์
            </a> / แก้ไขรายการผู้นำส่งข้อมูลแบบดึงไฟล์
            </small>
        </h1>

    </div>
  <form [formGroup]="pullForm">
    <div formGroupName="pullGroup">
      <div class="card border-light mb-4">
        <div class="card-header">
          <h4 class="panel-title">
            <i class="header-title fa fa-file-text"></i> ข้อมูลประเภทข้อมูล
          </h4>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-lg-12">
              <label>หน่วยงานที่ส่งข้อมูล</label> &nbsp; <label class="text-danger">*</label>
              <input type="text" class="form-control" [value]="this.edcSenderSftpServerProfile.fiNameTh_titleName_firstName_lastName"
                     formControlName="fiNameTh_titleName_firstName_lastName" id="fiNameTh_titleName_firstName_lastName" disabled>
              <div class="text-danger"
                   *ngIf="!pullForm.get('pullGroup.fiNameTh_titleName_firstName_lastName').valid && pullForm.get('pullGroup.fiNameTh_titleName_firstName_lastName').touched">
                กรุณาเลือกผู้นำส่งข้อมูล
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label>ประเภทข้อมูล</label> &nbsp; <label class="text-danger">*</label>
              <input name="dataTypeId" class="form-input form-control full" [value]="this.datatypeMap.get(this.edcSenderSftpServerProfile.dataTypeId)"
                      formControlName="dataTypeDesTh" id="dataTypeDesTh" disabled>
              <div class="text-danger"
                   *ngIf="!pullForm.get('pullGroup.dataTypeId').valid && pullForm.get('pullGroup.dataTypeId').touched">
                กรุณาเลือกประเภทข้อมูล
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label>กำหนดเวลาการทำงาน</label> &nbsp; <label class="text-danger">*</label>
              <select name="work-time" class="form-control"
                      formControlName="scheduleId" id="scheduleId">
                <option [value]="null">เลือกกำหนดเวลาการทำงาน</option>
                <option *ngFor="let dv of edcSchedule"
                        [value]="dv.id">{{dv.scheduleName}}</option>
              </select>
              <div class="text-danger"
                   *ngIf="!pullForm.get('pullGroup.scheduleId').valid && pullForm.get('pullGroup.scheduleId').touched">
                กรุณาเลือกกำหนดเวลาการทำงาน
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="card border-light mb-4">
        <div class="card-header">
          <h4 class="panel-title">
            <i class="header-title fa fa-file-text"></i> Network
          </h4>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-lg-6">
              <label>Server Name</label> &nbsp; <label class="text-danger">*</label>
              <input type="text" class="form-control" formControlName="serverName" id="serverName"
                     placeholder="ระบุ server Name" [maxLength]="60">
              <div class="text-danger"
                   *ngIf="pullForm.get('pullGroup.serverName').touched && pullForm.get('pullGroup.serverName').value == null">
                กรุณากรอก Server Name
              </div>
              <div class="text-danger"
                   *ngIf="pullForm.get('pullGroup.serverName').touched && pullForm.get('pullGroup.serverName').value == '' ">
                กรุณากรอก Server Name
              </div>
              <div class="text-danger"
                   *ngIf="!pullForm.get('pullGroup.serverName').valid && pullForm.get('pullGroup.serverName').touched && pullForm.get('pullGroup.serverName').value != null && pullForm.get('pullGroup.serverName').value != ''">
                รองรับเฉพาะภาษาอังกฤษ ตัวเลข และอักขระพิเศษเท่านั้น
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label>IP/name</label> &nbsp; <label class="text-danger">*</label>
              <input type="text" formControlName="hostName" id="hostName"
                     class="form-control" placeholder="ระบุ IP/name" [maxlength]="20">
              <div class="text-danger"
                   *ngIf="pullForm.get('pullGroup.hostName').touched && pullForm.get('pullGroup.hostName').value == null">
                กรุณากรอก IP/Host Name
              </div>
              <div class="text-danger"
                   *ngIf="pullForm.get('pullGroup.hostName').touched && pullForm.get('pullGroup.hostName').value == '' ">
                กรุณากรอก IP/Host Name
              </div>
              <div class="text-danger"
                   *ngIf="!pullForm.get('pullGroup.hostName').valid && pullForm.get('pullGroup.hostName').touched && pullForm.get('pullGroup.hostName').value != null && pullForm.get('pullGroup.hostName').value != ''">
                รองรับเฉพาะภาษาอังกฤษ ตัวเลข และอักขระพิเศษเท่านั้น
              </div>
            </div>
            <div class="form-group col-md-2">
              <label>Network</label>
            </div>
            <div class="form-group col-md-3">
              <div class="radio">
                <input type="radio" formControlName="network" id="networkInternet"
                       [value]="'Internet'">
                <label class="form-check-label" for="networkInternet">Internet</label>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="radio">
                <input type="radio" formControlName="network" id="networkMPLS"
                       [value]="'MPLS'">
                <label class="form-check-label" for="networkMPLS">เครื่อข่าย MPLS</label>
              </div>
            </div>
            <div class="form-group col-md-2">
              <div class="radio">
                <input type="radio" formControlName="network" id="networkIntranet"
                       [value]="'Intranet'">
                <label class="form-check-label" for="networkIntranet">Intranet</label>
              </div>
            </div>
            <div class="form-group col-md-2">
              <div class="radio">
                <input type="radio" formControlName="network" id="networkGIN"
                       [value]="'GIN'">
                <label class="form-check-label" for="networkGIN">GIN</label>
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label>Port</label> &nbsp; <label class="text-danger">*</label>
              <input type="number" formControlName="port" id="port"
                     class="form-control"
                     placeholder="ระบุ Port"
                     min="0" max="99999" maxlength="5">
              <div class="text-danger"
                   *ngIf="pullForm.get('pullGroup.port').touched && pullForm.get('pullGroup.port').value == null">
                กรุณากรอก port
              </div>
              <div class="text-danger"
                   *ngIf="pullForm.get('pullGroup.port').touched && pullForm.get('pullGroup.port').value == '' ">
                กรุณากรอก port
              </div>
              <div class="text-danger"
                   *ngIf="!pullForm.get('pullGroup.port').valid && pullForm.get('pullGroup.port').touched && pullForm.get('pullGroup.port').value != null && pullForm.get('pullGroup.port').value != ''">
                กรุณากรอกไม่เกิน 5 หลัก
              </div>
            </div>
            <div class="form-group col-lg-4">
              <label>Server Key</label>
              <input type="text" formControlName="serverKey" id="serverKey" disabled
                     class="form-control" placeholder="ระบุ Server Key">

            </div>
            <div class="form-group col-lg-2 mt-3">
              <button class="btn btn-auto btn-primary" (click)="onGenerate()"> generate
              </button>
            </div>
            <div class="form-group col-lg-6">
              <label>Username</label> &nbsp; <label class="text-danger">*</label>
              <input type="text" formControlName="username" id="username"
                     class="form-control" placeholder="ระบุ Username" [maxlength]="20">
              <div class="text-danger"
                   *ngIf="pullForm.get('pullGroup.username').touched && pullForm.get('pullGroup.username').value == null">
                กรุณากรอก username
              </div>
              <div class="text-danger"
                   *ngIf="pullForm.get('pullGroup.username').touched && pullForm.get('pullGroup.username').value == '' ">
                กรุณากรอก username
              </div>
              <div class="text-danger"
                   *ngIf="!pullForm.get('pullGroup.username').valid && pullForm.get('pullGroup.username').touched && pullForm.get('pullGroup.username').value != null && pullForm.get('pullGroup.username').value != ''">
                รองรับเฉพาะภาษาอังกฤษ ตัวเลข และอักขระพิเศษเท่านั้น
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label>Password</label> &nbsp; <label class="text-danger">*</label>
              <input type="password" formControlName="password" id="password"
                     class="form-control" placeholder="ระบุ Password" [maxLength]="20">
              <div class="text-danger"
                   *ngIf="!pullForm.get('pullGroup.password').valid && pullForm.get('pullGroup.password').touched">
                กรุณากรอกรหัสผ่าน
              </div>

            </div>
            <div class="form-group col-lg-6">
              <label>Protocol</label>
              <select name="protocol" class="form-input form-control"
                      formControlName="protocol" id="protocol">
                <option [value]="'FTP'">FTP</option>
                <option [value]="'FTPs'">FTPs</option>
                <option [value]="'sFTP'">sFTP</option>
              </select>
            </div>
            <div class="form-group col-lg-6">
              <label>Retry Delay (mins)</label>
              <input type="text" formControlName="retryCount" id="retryCount" class="form-control" [maxLength]="4"
                     placeholder="ระบุ Retry Delay (mins)">
              <div class="text-danger"
                   *ngIf="!pullForm.get('pullGroup.retryCount').valid && pullForm.get('pullGroup.retryCount').touched && pullForm.get('pullGroup.retryCount').value != null && pullForm.get('pullGroup.retryCount').value != ''">
                รองรับเฉพาะตัวเลข เท่านั้น
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label>Retry Count</label>
              <input type="text" formControlName="retryDelay" id="retryDelay" class="form-control" [maxLength]="4"
                     placeholder="ระบุ Retry Count">
              <div class="text-danger"
                   *ngIf="!pullForm.get('pullGroup.retryDelay').valid && pullForm.get('pullGroup.retryDelay').touched && pullForm.get('pullGroup.retryDelay').value != null && pullForm.get('pullGroup.retryDelay').value != ''">
                รองรับเฉพาะตัวเลข เท่านั้น
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label>ตำแหน่งจัดเก็บไฟล์ขานำเข้า</label> &nbsp; <label class="text-danger">*</label>
              <input type="text" formControlName="inputPath" id="inputPath" class="form-control"
                     placeholder="ระบุตำแหน่งจัดเก็บไฟล์ขาเข้า" [maxLength]="100">
              <div class="text-danger"
                   *ngIf="pullForm.get('pullGroup.inputPath').touched && pullForm.get('pullGroup.inputPath').value == null">
                กรุณากรอกตำแหน่งจัดเก็บไฟล์
              </div>
              <div class="text-danger"
                   *ngIf="pullForm.get('pullGroup.inputPath').touched && pullForm.get('pullGroup.inputPath').value == '' ">
                กรุณากรอกตำแหน่งจัดเก็บไฟล์
              </div>
              <div class="text-danger"
                   *ngIf="!pullForm.get('pullGroup.inputPath').valid && pullForm.get('pullGroup.inputPath').touched && pullForm.get('pullGroup.inputPath').value != null && pullForm.get('pullGroup.inputPath').value != ''">
                รองรับตัวอักษรภาษาอังกฤษ และตัวเลขเท่านั้น
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label>ตำแหน่งจัดเก็บไฟล์ขานำออก (สถานะ)</label> &nbsp; <label class="text-danger">*</label>
              <input type="text" formControlName="statusPath" id="statusPath"
                     class="form-control" [maxLength]="100">
              <div class="text-danger"
                   *ngIf="pullForm.get('pullGroup.statusPath').touched && pullForm.get('pullGroup.statusPath').value == null">
                กรุณากรอกตำแหน่งจัดเก็บไฟล์
              </div>
              <div class="text-danger"
                   *ngIf="pullForm.get('pullGroup.statusPath').touched && pullForm.get('pullGroup.statusPath').value == '' ">
                กรุณากรอกตำแหน่งจัดเก็บไฟล์
              </div>
              <div class="text-danger"
                   *ngIf="!pullForm.get('pullGroup.statusPath').valid && pullForm.get('pullGroup.statusPath').touched && pullForm.get('pullGroup.statusPath').value != null && pullForm.get('pullGroup.statusPath').value != ''">
                รองรับตัวอักษรภาษาอังกฤษ และตัวเลขเท่านั้น
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label>ตำแหน่งจัดเก็บไฟล์ขานำออก (รายงาน)</label> &nbsp; <label class="text-danger">*</label>
              <input type="text" formControlName="reportPath" id="reportPath"
                     class="form-control" [maxLength]="100">
              <div class="text-danger"
                   *ngIf="pullForm.get('pullGroup.reportPath').touched && pullForm.get('pullGroup.reportPath').value == null">
                กรุณากรอกตำแหน่งจัดเก็บไฟล์
              </div>
              <div class="text-danger"
                   *ngIf="pullForm.get('pullGroup.reportPath').touched && pullForm.get('pullGroup.reportPath').value == '' ">
                กรุณากรอกตำแหน่งจัดเก็บไฟล์
              </div>
              <div class="text-danger"
                   *ngIf="!pullForm.get('pullGroup.reportPath').valid && pullForm.get('pullGroup.reportPath').touched && pullForm.get('pullGroup.reportPath').value != null && pullForm.get('pullGroup.reportPath').value != ''">
                รองรับตัวอักษรภาษาอังกฤษ และตัวเลขเท่านั้น
              </div>
            </div>
<!--            <div class="form-group col-lg-6">-->
<!--              <label>ตำแหน่งจัดเก็บไฟล์ที่ผ่านการตรวจสอบแล้ว</label> &nbsp; <label class="text-danger">*</label>-->
<!--              <input type="text" formControlName="verifiedPath" id="verifiedPath"-->
<!--                     class="form-control" placeholder="ระบุตำแหน่งจัดเก็บไฟล์ที่ผ่านการตรวจสอบแล้ว">-->
<!--              <div class="text-danger"-->
<!--                   *ngIf="pullForm.get('pullGroup.verifiedPath').touched && pullForm.get('pullGroup.verifiedPath').value == null">-->
<!--                กรุณากรอกตำแหน่งจัดเก็บไฟล์-->
<!--              </div>-->
<!--              <div class="text-danger"-->
<!--                   *ngIf="pullForm.get('pullGroup.verifiedPath').touched && pullForm.get('pullGroup.verifiedPath').value == '' ">-->
<!--                กรุณากรอกตำแหน่งจัดเก็บไฟล์-->
<!--              </div>-->
<!--              <div class="text-danger"-->
<!--                   *ngIf="!pullForm.get('pullGroup.verifiedPath').valid && pullForm.get('pullGroup.verifiedPath').touched && pullForm.get('pullGroup.verifiedPath').value != null && pullForm.get('pullGroup.verifiedPath').value != ''">-->
<!--                รองรับตัวอักษรภาษาอังกฤษ และตัวเลขเท่านั้น-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
      </div>
      <div class="card border-light mb-4">
        <div class="card-header">
          <h4 class="panel-title">
            <i class="header-title fa fa-file-text"></i> Email
          </h4>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-lg-6">
              <label>อีเมลผู้นำส่งข้อมูลที่ต้องการส่งถึง</label>
              <input type="text" formControlName="senderEmailTo" id="senderEmailTo" [maxLength]="1000"
                     class="form-control" placeholder="ระบุอีเมลผู้นำส่งข้อมูลที่ต้องการส่งถึง" disabled>

            </div>
            <div class="form-group col-lg-6">
              <label>อีเมลผู้นำส่งข้อมูลที่ต้องการส่งสำเนาถึง</label>
              <input type="text" formControlName="senderEmailCc" id="senderEmailCc" [maxLength]="1000"
                     class="form-control" placeholder="ระบุอีเมลผู้นำส่งข้อมูลที่ต้องการส่งสำเนาถึง" disabled>

            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <table width="auto" border="0" cellspacing="10" cellpadding="0" style="margin:auto;">
    <tr>
      <td>
        <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5" id="back"
                (click)="onBack()">
          <i class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-auto btn-orange2 w-md m-b-5" id="clear" (click)="resetForm()"><i
          class="fa fa-repeat"></i> ล้างข้อมูล
        </button>
      </td>
      <td>
        <button type="submit" class="btn btn-auto btn-green w-md m-b-5" id="save" (click)="onSubmit()"><i
          class="fa fa-floppy-o"></i> บันทึก
        </button>
      </td>
    </tr>
  </table>
</div>





