<section class="content">
  <div class="header-title mb-4">
    <h1><strong>ลงทะเบียนขอใบรับรองอิเล็กทรอนิกส์จาก CA ภายนอก</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / ลงทะเบียนขอใบรับรองอิเล็กทรอนิกส์จาก CA ภายนอก</small></h1>
  </div>
  <div class="card mb-4">
    <div class="card-header">
        <h4><i class="header-title fa fa-file-text"></i> ค้นหาลงทะเบียนขอใบรับรองอิเล็กทรอนิกส์จาก CA ภายนอก</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="searchUserUploadCriteria" (ngSubmit)="getData()">
        <div class="row">
          <div class="form-group col-lg-4">
            <label>ตั้งแต่วันที่ยื่นคำขอ</label>
            <app-datepicker-th class="form-control-datepicker" formControlName="startRequestedDate"
              id="startRequestedDate" name="startRequestedDate"  [maxDate]="(startDateControl.value == endDateControl.value) ? null : endDateControl.value"></app-datepicker-th>
          </div>
          <div class="form-group col-lg-4">
            <label>ถึงวันที่ยื่นคำขอ</label>
            <app-datepicker-th class="form-control-datepicker" formControlName="endRequestedDate"
              id="endRequestedDate" name="endRequestedDate"  [minDate]="startDateControl.value"></app-datepicker-th>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="form-group col-lg-2 reset-button">
              <button type="submit" class="btn btn-success margin-top-10">
                <i class="glyphicon glyphicon-search"></i> ค้นหา
              </button>
            </div>
            <div class="form-group col-lg-2 reset-button">
              <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
                <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
              </button>
            </div>
      </div>
      </form>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
        <h4><i class="fa fa-list"></i> ผลการค้นหา</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
          <tr role="row">
            <th class="text-center" scope="col" style="width: 50px">#</th>
            <th class="text-center" scope="col" style="width: 100px">วันที่ยื่นคำขอ</th>
            <th class="text-center" scope="col" style="width: 120px">Issued Name</th>
            <th class="text-center" scope="col" style="width: 120px">Issued By</th>
            <th class="text-center" scope="col" style="width: 120px"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of record; index as i">
            <th class="text-center">{{i+1}}</th>
            <td class="text-center">{{item.startRequestedDate}}</td>
            <td class="text-center">{{item.IssuedName}}</td>
            <td class="text-center">{{item.IssuedBy}}</td>
          <td class="text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-orange btn-sm btn-auto" tooltip="ดูรายละเอียด"
                (click)="viewUpload(item.id)">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </button>
            </div>
            &nbsp;
            <div class="btn-group">
              <button type="button" class="btn btn-orange btn-sm btn-auto" tooltip="ติดตั้งใบรับรองอิเล็กทรอนิกส์ภายนอก">
               <i class="fa fa-download" aria-hidden="true"></i>
              </button>
            </div>
          </td>
          </tr>
          </tbody>
      </table>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
            แสดงผล
            1 รายการ
          </div>
        </div>
        <div class="col-sm-7 text-right">
            แสดงหน้าละ
            <select (change)="changeRowLimits($event)" style="padding: 5px;">
              <option *ngFor="let limit of rowLimits" [value]="limit.value">{{limit.key}}</option>
            </select>
            &nbsp;&nbsp;
            <pagination style="float: right;" [boundaryLinks]="true" [totalItems]="10"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [rotate]="true"
             ></pagination>
          </div>
      </div>
    </div>
  </div>
  <app-float-button ></app-float-button>
</section>
