<div class="header-title">
  <h1><strong>ตั้งค่ากลุ่มข้อมูลที่อนุญาตให้ร้องขอ</strong>
    <small class="pull-right"><a href="#" class="active">หน้าหลัก</a> /
      ตั้งค่ากลุ่มข้อมูลที่อนุญาตให้ร้องขอ
    </small>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" >
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false">
      <div class="panel-heading">
        <div class="panel-title">
          <h4>ARSP0111 : ตั้งค่ากลุ่มข้อมูลที่อนุญาตให้ร้องขอ</h4>
        </div>
      </div>
      <div class="panel-body">
        <form [formGroup]="searchTemplateForm" (ngSubmit)="save()">
          <div class="col-lg-12">
            <div class="row">
              <nav class="navbar navbar-light bg-info col-lg-12">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <h6 ><i class="fa fa-desktop" aria-hidden="true"></i> ตั้งค่ากลุ่มข้อมูลที่อนุญาตให้ร้องขอ</h6>
                  </li>
                </ul>
              </nav>
            </div><br/>
          </div>
        <div class="col-lg-12">
          <div class="row form-group">
            <div class="col-sm-2 text-sm-right">
              <label class="pull-right">ชื่อกลุ่มของข้อมูล</label>
            </div>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="searchTemplateName" formControlName="searchTemplateName" appIgnoreKey allowKey="thai&space"
                placeholder="ชื่อกลุ่มของข้อมูล">
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-2 text-sm-right">
              <label class="pull-right">เปิดการใช้งาน ช่วงวันที่</label>
            </div>
              <div class="col-sm-3">
                <app-datepicker-th class="form-control-datepicker"
                  id="startDate" name="startDate" formControlName="startDate"></app-datepicker-th>
              </div>
              <div class="text-sm-right">
                <label class="pull-right">ถึง</label>
              </div>
              <div class="col-sm-3">
                <app-datepicker-th class="form-control-datepicker"
                  id="expiredDate" name="expiredDates" formControlName="expiredDate"></app-datepicker-th>
              </div>

          </div>

          <div class="row form-group">
            <div class="col-sm-2 text-sm-right">
              <label class="pull-right">Query</label>
            </div>
            <div class="col-sm-10">
              <textarea class="form-control" name="queryString" id="queryString" style="height: 100px;" formControlName="queryString"> </textarea>
              <!-- <textarea class="form-control" name="queryString" id="queryString" formControlName="queryString" style="height: 100px;"> </textarea> -->
            </div>
          </div>
          <div class="row form-group col-12">
            <div class="col-12 text-right">
              <button  class="btn btn-info margin-top-10 btn-auto" > TEST
              </button>
              <button class="btn btn-primary margin-top-10 btn-auto"> QUERY
              </button>
              <button class="btn btn-warning margin-top-10 btn-auto"> CLEAR
              </button>
            </div>
          </div>
          <div class="row form-group justify-content-center">
            <div class="container-fluid">
              <app-moveitem [groupsArray]="source" [selectedItems]="target" [contentHeight]="300" [rightTItle]="'Field ข้อมูลตามเงื่อนไข'" (onSelected)="onSelectedFields($event)"></app-moveitem>
            </div>
          </div>
        </div>
        <br/>  

        <div class="col-lg-12">
          <div class="row">
            <nav class="navbar navbar-light bg-info col-lg-12">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <h6 ><i class="fa fa-external-link" aria-hidden="true"></i> เงื่อนไขการนำออก</h6>
                </li>
              </ul>
            </nav>
          </div>
          <br/>
          <div class="row">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                <tr role="row">
                  <th class="text-center" style="width: 50px">ชื่อฟิลด์</th>
                  <th class="text-center" style="width: 100px">ค้นหาแบบหลายรายการได้</th>
                  <th class="text-center" style="width: 100px">ค้นหาด้วยช่วงวันที่ได้</th>
                  <th class="text-center" style="width: 50px">สามารถจัดเรียงได้</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of master; index as i" >
                  <td class="text-left"><a class="link-font" >{{item.tableName}}  {{item.colDescTh || '-'}}</a></td>
                  <td class="text-center"><input type="checkbox" (change)="toggleSearchByList($event.target, item.colName, item.tableName)" [checked]="item.isSearchByList === 1"></td>
                  <td class="text-center"><input type="checkbox" [checked]="item.isPeriodSearch === 1"></td>
                  <td class="text-center"><input type="checkbox" [checked]="item.isSorting === 1"></td>
                  
                  
                </tr>
                <tr *ngIf="masterRowsCount === 0">
                  <td colspan="4" class="text-center">ไม่พบรายการร้องขอประมวลผล</td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
        <br/>
       
      <div class="col-lg-12">
        <div class="row">
          <nav class="navbar navbar-light bg-info col-lg-12">
            <ul class="navbar-nav">
              <li class="nav-item">
                <h6 ><i class="fa fa-hourglass-half" aria-hidden="true"></i> ช่วงเวลาใช้งานและสถานะ</h6>
              </li>
            </ul>
          </nav>
        </div>
        <br/>
        <div class="row form-group">
          <div class="col-sm-3 text-sm-right">
            <input type="checkbox" data-md-icheck ng-true-value="1" ng-false-value="0"  />
            &nbsp;&nbsp;<label> ปิดการใช้งาน</label>
          </div>
        </div>
      </div>
      <br/>
      <div class="row form-group col-12">
        <div class="col-12 text-right">
          <button class="btn btn-primary margin-top-10 btn-auto"> ตั้งค่าเริ่มต้นข้อมูลนำออก
          </button>
          <button class="btn btn-warning margin-top-10 btn-auto" (click)= "backPage()"> กลับ
          </button>
        </div>
      </div>
      <br/>
      </form>
      </div>
    </div>
  </div>
</div>
