<section class="content">
    <div class="header-title mb-4">
        <h1>
            <strong>รายการประวัติการส่งจดหมายอิเล็กทรอนิกส์</strong>
            <small class="pull-right">
                <a href="" class="active">หน้าหลัก</a> / ตรวจสอบประวัติการส่งเมล์
            </small>
        </h1>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <h4><i class="header-title fa fa-file-text"></i> ค้นหาข้อมูลประวัติการส่งอีเมลแจ้งผลการดำเนินการแก่ผู้ใช้งาน
            </h4>
        </div>
        <div class="card-body">
            <form [formGroup]="sendMailForm" (ngSubmit)="searchByCriteria()">
                <div class="row">

                    <div class="form-group col-lg-6">
                        <label>ชื่อผู้รับการแจ้งเตือน</label>
                        <input type="text" class="form-control" id="name" formControlName="name"
                            [placeholder]="placeholderMessage">
                    </div>

                    <div class="form-group col-lg-6">
                        <label>ประเภทอีเมลที่จัดส่ง</label>
                        <select class="form-control" id="mailType" formControlName="mailType">
                            <option *ngFor="let mail of mailTypes" [value]="mail.id">
                                {{mail.value}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-lg-6">
                        <label>ประเภทผู้ใช้งาน</label>
                        <select class="form-control" id="userType" formControlName="userType">
                            <option *ngFor="let user of userTypes" [value]="user.id">
                                {{user.value}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-lg-6">
                        <label>ประเภทใบรับรองอิเล็กทรอนิกส์</label>
                        <select class="form-control" name="certType" formControlName="certType">
                            <option *ngFor="let cert of certTypes" [value]="cert.id">
                                {{cert.value}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-lg-2 reset-button">
                        <button type="submit" class="btn btn-success margin-top-10">
                            <i class="fa fa-search"></i> ค้นหา
                        </button>
                    </div>
                    <div class="form-group col-lg-2 reset-button">
                        <button type="button" class="btn btn-warning margin-top-10" (click)="backToBasic()">
                            <i class="fa fa-repeat" aria-hidden="true"></i> ล้างค่า
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <h4><i class="fa fa-list"></i> ผลการค้นหา</h4>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr role="row">
                        <th scope="col" style="width: 50px" class="text-center">#</th>
                        <th scope="col" class="text-center">
                            <a (click)="sort('DCS.CERTIFICATE.TAX_PAYER')" style="cursor: pointer" title="ชื่อผู้รับ" tooltip="ชื่อผู้รับ">
                                ชื่อผู้รับ
                            </a>
                            <ng-container *ngIf="pageRequestAssistor.sortFieldName === 'DCS.CERTIFICATE.TAX_PAYER'">
                              <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequestAssistor.sortDirection === 'ASC'"></i>
                              <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequestAssistor.sortDirection === 'DESC'"></i>
                            </ng-container>
                          </th>
                          <th scope="col" class="text-center">
                            <a (click)="sort('DCS.M_USER_TYPE.USER_TYPE_NAME')" style="cursor: pointer" title="ประเภทผู้ใช้งาน" tooltip="ประเภทผู้ใช้งาน">
                                ประเภทผู้ใช้งาน
                            </a>
                            <ng-container *ngIf="pageRequestAssistor.sortFieldName === 'DCS.M_USER_TYPE.USER_TYPE_NAME'">
                              <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequestAssistor.sortDirection === 'ASC'"></i>
                              <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequestAssistor.sortDirection === 'DESC'"></i>
                            </ng-container>
                          </th>
                          <th scope="col" class="text-center">
                            <a (click)="sort('DCS.M_CERTIFICATE_TYPE.CERTIFICATE_TYPE_NAME')" style="cursor: pointer" title="ประเภทใบรับรองอิเล็กทรอนิกส์" tooltip="ประเภทใบรับรองอิเล็กทรอนิกส์">
                                ประเภทใบรับรองอิเล็กทรอนิกส์
                            </a>
                            <ng-container *ngIf="pageRequestAssistor.sortFieldName === 'DCS.M_CERTIFICATE_TYPE.CERTIFICATE_TYPE_NAME'">
                              <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequestAssistor.sortDirection === 'ASC'"></i>
                              <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequestAssistor.sortDirection === 'DESC'"></i>
                            </ng-container>
                          </th>
                          <th scope="col" class="text-center">
                            <a (click)="sort('DCS.USER.EMAIL')" style="cursor: pointer" title="อีเมล์" tooltip="อีเมล์">
                                อีเมล์
                            </a>
                            <ng-container *ngIf="pageRequestAssistor.sortFieldName === 'DCS.USER.EMAIL'">
                              <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequestAssistor.sortDirection === 'ASC'"></i>
                              <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequestAssistor.sortDirection === 'DESC'"></i>
                            </ng-container>
                          </th>
                          <th scope="col" class="text-center">
                            <a (click)="sort('DCS.M_MAIL_TYPE.MAIL_TYPE_DESC')" style="cursor: pointer" title="ประเภทอีเมล์ที่จัดส่ง" tooltip="ประเภทอีเมล์ที่จัดส่ง">
                                ประเภทอีเมล์ที่จัดส่ง
                            </a>
                            <ng-container *ngIf="pageRequestAssistor.sortFieldName === 'DCS.M_MAIL_TYPE.MAIL_TYPE_DESC'">
                              <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequestAssistor.sortDirection === 'ASC'"></i>
                              <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequestAssistor.sortDirection === 'DESC'"></i>
                            </ng-container>
                          </th>
                          <th scope="col" class="text-center">
                            <a (click)="sort('DCS.SEND_MAIL_LOG.SEND_MAIL_DATE')" style="cursor: pointer" title="วัน - เวลาที่ส่งอีเมล์" tooltip="วัน - เวลาที่ส่งอีเมล์">
                                วัน - เวลาที่ส่งอีเมล์
                            </a>
                            <ng-container *ngIf="pageRequestAssistor.sortFieldName === 'DCS.SEND_MAIL_LOG.SEND_MAIL_DATE'">
                              <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequestAssistor.sortDirection === 'ASC'"></i>
                              <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequestAssistor.sortDirection === 'DESC'"></i>
                            </ng-container>
                          </th>
                        <th scope="col" style="width: 100px" class="text-center">รายละเอียด </th>
                    </tr>
                </thead>

                <tbody>
                    <tr role="row" class="odd" *ngFor="let item of dataLists; index as numNO">
                        <td class="text-center">
                            {{(numNO + 1) + ((pageRequestAssistor.page - 1) * pageRequestAssistor.pageSize)}}
                        </td>
                        <td class="text-center">{{item.name || '-'}}</td>
                        <td class="text-center">{{item.userType || '-'}}</td>
                        <td class="text-center">{{item.certType || '-'}}</td>
                        <td class="text-center">{{item.email || '-'}}</td>
                        <td class="text-center">{{item.details || '-'}}</td>
                        <td class="text-center">{{item.sentDate | date: "dd/MM/yyyy hh:mm"}}</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-orange btn-sm btn-auto" tooltip="ดูรายละเอียด">
                                    <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="pageResponseAssistor.totalElements == 0">
                        <td colspan="11" class="text-center"> ไม่พบข้อมูล</td>
                    </tr>
                </tbody>
            </table>
            <div class="row">

                <div class="col-sm-5">
                    <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite"
                        style="padding: 5px;">
                        แสดงผล {{currentElement || 0}} จาก
                        {{pageResponseAssistor.totalElements || 0}} รายการ
                    </div>
                </div>

                <div class="col-sm-7 text-right">
                    แสดงหน้าละ
                    <select (change)="elementPerpageChaging($event)" style="padding: 5px;">
                        <div *ngIf="pageResponseAssistor.totalElements > 0; then nonZeroResule else zeroResule"></div>
                        <ng-template #nonZeroResule>
                            <option *ngFor="let number of realElementShowedList" (value)="number.value">{{number.value}}
                            </option>
                        </ng-template>
                        <ng-template #zeroResule>
                            <option (value)="0">0</option>
                        </ng-template>
                    </select>
                    &nbsp;&nbsp;
                    <pagination class="float-right" [boundaryLinks]="true"
                        [totalItems]="pageResponseAssistor.totalElements" previousText="&lsaquo;" nextText="&rsaquo;"
                        firstText="&laquo;" lastText="&raquo;" [rotate]="true" [(ngModel)]="pageRequestAssistor.page"
                        [itemsPerPage]="pageRequestAssistor.pageSize" (pageChanged)="pageChaging($event)" [maxSize]="5">
                    </pagination>
                </div>
            </div>
        </div>
    </div>
</section>
