.row {
  margin-bottom: 5px;
}

.custom-input-group {
  position: relative;
}

.custom-input-group input {
  padding-right: 35px;
}

.custom-input-group .append {
  right: 1.5em;
  top: .5em;
  position: absolute;
}

div[class^="col"] {
  margin-top: auto;
  margin-bottom: auto;
}

select {
  padding-right: 35px;
}
