<div class="container-fluid">
  <form [formGroup]="taxRequestForm">
    <div class="row">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="taxTypeCode">ประเภทภาษีอากร <span class="red">*</span> :</label>
      </div>
      <div class="col-12 col-sm-3" formGroupName="taxType">
          <!-- <select class="form-control" id="district-select" formControlName="subDistrictCode"
                  [ngClass]="{'border-danger': subDistrictCodeControl.invalid && subDistrictCodeControl.touched}">
            <option *ngFor="let subDistrict of subDistrictList" [value]="subDistrict.subDistrictCode">{{subDistrict.subDistrictNameTh}}</option>
          </select> -->
        <select id="taxTypeCode" class="form-control" formControlName="taxTypeCode" >
          <option [value]="null">โปรดระบุ</option>
          <option *ngFor="let taxType of taxTypeList" [value]="taxType.taxTypeCode">{{taxType.taxTypeName}}</option>
        </select>
        <p class="red" *ngIf="accountPeriodStartControl.hasError('required') && accountPeriodStartControl.touched">
            กรุณาระบุประเภทภาษีอากร
          </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="accountPeriodStart">รอบระยะเวลาบัญชีตั้งแต่วัน/เดือน/ปีภาษี <span class="red">*</span> :</label>
      </div>
      <div class="col-12 col-sm-3">
        <app-datepicker-th id="accountPeriodStart" formControlName="accountPeriodStart"
                           [borderDanger]="accountPeriodStartControl.invalid && accountPeriodStartControl.touched"></app-datepicker-th>
        <p class="red" *ngIf="accountPeriodStartControl.hasError('required') && accountPeriodStartControl.touched">
          กรุณาระบุรอบระยะเวลาบัญชีตั้งแต่วัน/เดือน/ปีภาษี
        </p>
      </div>
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="accountPeriodEnd">ถึง วัน/เดือน/ปีภาษี <span class="red">*</span> :</label>
      </div>
      <div class="col-12 col-sm-3">
        <app-datepicker-th id="accountPeriodEnd" formControlName="accountPeriodEnd"
                           [borderDanger]="accountPeriodEndControl.invalid && accountPeriodEndControl.touched"></app-datepicker-th>
        <p class="red" *ngIf="accountPeriodEndControl.hasError('required') && accountPeriodEndControl.touched">
          กรุณาระบุรอบระยะเวลาบัญชีวันสิ้นสุด/เดือน/ปีภาษี
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="requestAmount">จำนวนเงิน <span class="red">*</span> :</label>
      </div>
      <div class="col-12 col-sm-3">
        <div class="custom-input-group">
          <span class="append">บาท</span>
          <input id="requestAmount" type="number" class="form-control" formControlName="requestAmount">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="reason-code">มูลเหตุที่ขอคืน <span class="red">*</span> :</label>
      </div>
      <div class="col-12 col-sm-3" formGroupName="reasonRequest">
        <select id="reason-code" class="form-control" formControlName="reasonCode"
          [ngClass]="{'border-danger': reasonCodeControl.invalid && reasonCodeControl.touched}">
          <option [value]="null">โปรดระบุ</option>
          <option *ngFor="let reasonRequest of reasonRequestList" [value]="reasonRequest.reasonCode">{{reasonRequest.reasonName}}</option>
        </select>
        <p class="red" *ngIf="reasonCodeControl.hasError('required') && reasonCodeControl.touched">
          กรุณาระบุมูลเหตุที่ขอคืน
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="detail-of-reason">รายละเอียดของมูลเหตุที่ขอคืน :</label>
      </div>
      <div class="col-12 col-sm-3">
        <textarea id="detail-of-reason" class="form-control" formControlName="detailOfReason" maxlength="166"></textarea>
      </div>
    </div>
<!--    TO DO MAP ATTACHMENT TO FORM GROUP-->
    <app-tax-request-attachment-form [documentRequestModels]="documentRequestModels" [taxRequestForm]="taxRequestForm"></app-tax-request-attachment-form>
  </form>
</div>
