<div class="content">
    <div class="header-title mb-4">
        <h1><strong>รายละเอียดข้อมูลหน่วยงานกรมสรรพากร </strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a
                    [routerLink]="['/etl/officecode']" class="active">หน่วยงานกรมสรรพากร
            </a> / รายละเอียดข้อมูลหน่วยงานกรมสรรพากร
            </small>
        </h1>
    </div>

    <form [formGroup]="officecodeForm" (ngSubmit)="onSubmit()">
        <div formGroupName="officecodeGroup">
            <div class="card border-light mb-4">
                <div class="card-header">
                    <h4 class="panel-title">
                        <i class="header-title fa fa-file-text"></i> ข้อมูลหน่วยงานกรมสรรพากร
                    </h4>
                </div>
                <div class="card-body">
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                      <label>รหัสสำนักงานสรรพากร</label>&nbsp; <label class ="text-danger">*</label>
                      <input type="text" formControlName="rdOfficecode" id="rdOfficecode"
                             placeholder="ระบุรหัสสำนักงานสรรพากร"
                             class="form-control" readonly>
                      </div>

                      <div class="form-group col-lg-6">
                        <label>รหัสสำนักงานสรรพากรพื้นที่</label>&nbsp; <label class ="text-danger">*</label>
                        <input type="text" formControlName="prvOfficecode" id="prvOfficecode"
                               placeholder="ระบุรหัสสำนักงานสรรพากรพื้นที่"
                               class="form-control" readonly>
                      </div>

                      <div class="form-group col-lg-6">
                        <label>รหัสสำนักงานสรรพากรภาค</label>&nbsp; <label class ="text-danger">*</label>
                        <input type="text" formControlName="regionCode" id="regionCode"
                               placeholder="ระบุรหัสสำนักงานสรรพากรภาค"
                               class="form-control" readonly>
                      </div>

                      <div class="form-group col-lg-6">
                        <label>ประเภทสำนักงาน</label>&nbsp; <label class ="text-danger">*</label>
                        <input formControlName="officeType"
                               [ngClass]="{'': !officecodeForm.get('officecodeGroup.officeType').valid && officecodeForm.get('officecodeGroup.officeType').touched}"
                               [typeahead]="officeTypeList"
                               (click)="resetAmphur()"
                               [typeaheadMinLength]="0"
                               (typeaheadOnSelect)="onSelectProvince($event)"
                               typeaheadOptionField="officeType"
                               id = "officeType"
                               placeholder="ระบุจประเภทสำนักงาน"
                               class="form-control" readonly>
                      </div>

                        <div class="form-group col-lg-6">
                            <label>จังหวัด</label>
                            <input formControlName="provinceNameTh"
                                   [ngClass]="{'': !officecodeForm.get('officecodeGroup.provinceId').valid && officecodeForm.get('officecodeGroup.provinceId').touched}"
                                   [typeahead]="edcProvinceList"
                                   (click)="resetAmphur()"
                                   [typeaheadMinLength]="0"
                                   (typeaheadOnSelect)="onSelectProvince($event)"
                                   typeaheadOptionField="provinceNameTh"
                                   id = "provinceNameTh"
                                   placeholder="ระบุจังหวัด"
                                   class="form-control" readonly>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>อำเภอ</label>
                            <input formControlName="amphurNameTh"
                                   [typeahead]="edcAmphurList"
                                   [typeaheadMinLength]="0"
                                   (typeaheadOnSelect)="onSelectAmphur($event)"
                                   typeaheadOptionField="amphurNameTh"
                                   id="amphurNameTh"
                                   placeholder="ระบุอำเภอ"
                                   class="form-control" readonly>
                            <div class="text-danger"
                                 *ngIf="!officecodeForm.get('officecodeGroup.amphurNameTh').valid && officecodeForm.get('officecodeGroup.amphurNameTh').touched">
                                กรุณาระบุอำเภอ.
                            </div>
                        </div>

                      <div class="form-group col-lg-6">
                        <label>ชื่อย่อสำนักงาน</label>
                        <input type="text" formControlName="shotDescription" id="shotDescription"
                               placeholder="ระบุชื่อย่อสำนักงาน"
                               class="form-control" readonly>
                      </div>

                      <div class="form-group col-lg-6">
                        <label>ชื่อเต็มสำนักงาน</label>
                        <input type="text" formControlName="longDescription" id="longDescription"
                               placeholder="ระบุชื่อเต็มสำนักงาน"
                               class="form-control" readonly>
                      </div>

                        <div class="form-group col-lg-6">
                            <label>หมายเหตุ</label>
                            <textarea formControlName="comment" id="comment" rows="5"
                                      class="form-control" readonly></textarea>
                        </div>

                      <div class="form-group col-lg-6">
                        <label>วันที่ปรับปรุงข้อมูล</label>
                        <input type="text" formControlName="updatedate" id="updatedate"
                               class="form-control"
                               placeholder="ระบุวันที่ปรับปรุงข้อมูล" readonly>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <table style="margin:auto;">
            <tr>
                <td>
                    <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5"
                            (click)="onBack()" id="back"><i
                            class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
