<!-- Office Stream -->
<!-- <app-navbar></app-navbar>
<app-menu></app-menu>
<div [ngClass]="{'content-wrapper': true}">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
<app-progress-bar #appProgressBar></app-progress-bar> -->

<!-- Wisesoft or RD -->
<app-navbar *ngIf="isAuthenticated"></app-navbar>
<app-menu class="no-print" *ngIf="isAuthenticated"></app-menu>
<div [ngClass]="{'content-wrapper': isAuthenticated}">
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</div>
<app-footer class="no-print"></app-footer>
<app-progress-bar #appProgressBar></app-progress-bar>
