<section class="content">
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-bd lobidisable">
          <div class="panel-heading">
            <div class="panel-title">
              <h3><i class="fa fa-file-text"></i> นำเข้าไฟล์ข้อมูล</h3>
            </div>
          </div>

          <div class="panel-body no-padding"></div>

          <div class="panel-body">
            <form  [formGroup]="gwsp01010UploadForm" (ngSubmit)="submit()">
              <div class="modal-body">
                <div class="form-group row">
                  <div class="col-12 col-sm-3 text-sm-right text-left">
                      <label>ปีภาษี : <span class="red">*</span> </label>
                  </div>

                  <div class="col-12 col-sm-6 text-left">
                    <select class="form-control" id="taxYear" formControlName="taxYear">
                      <option value="null">โปรดระบุ</option>
                      <option *ngFor="let item of taxYearList" [value]="item">
                        {{item}}</option>
                    </select>
                    <div class="red error-msg" *ngIf="((taxYear.hasError('required') && taxYear.touched))">
                      กรุณาระบุปีภาษี
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-12 col-sm-3 text-sm-right text-left">
                    <label>ประเภท : <span class="red">*</span> </label>
                  </div>
                  <div class="col-12 col-sm-6 text-left">
                    <select class="form-control" id="sourceEnum" formControlName="sourceEnum">
                      <option value="null">โปรดระบุ</option>
                      <option *ngFor="let item of sourceDataList" [value]="item.id">
                        {{item.name}}</option>
                    </select>
                    <div class="red error-msg" *ngIf="((sourceEnum.hasError('required') && sourceEnum.touched))">
                      กรุณาระบุประเภท
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-12 col-sm-3 text-sm-right text-left">
                      <label>ไฟล์ : <span class="red">*</span> </label>
                  </div>
                  <div class="col-12 col-sm-9 text-left">
                    <div class="form-group custom-file">
                      <input type="file" class="form-control " (change)="setFileUpload($event.srcElement)" accept=".txt" style="overflow: hidden">
                      <div class="red error-msg" *ngIf="file.hasError('required') && file.touched">
                        กรุณาเลือกไฟล์
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" *ngIf="authService.hasAnyPermission(['GWSP020100.ADD'])" class="btn btn-primary btn-auto" [disabled]="gwsp01010UploadForm.invalid">อัพโหลด</button>
                <button type="button" class="btn btn-warning btn-auto" (click)="close()" >ยกเลิก</button>
              </div>
            </form>
            </div>
        </div>
      </div>

    </div>

</section>

