<section class="content">
    <div class="header-title mb-4">
        <h1>
            <app-back-button></app-back-button>
            <strong>รายการธุรกรรมลักษณะเฉพาะ</strong>
        </h1>
    </div>
    <div class="card border-light mb-4">
        <div class="card-header ">
            <div class="justify-content-left">
                <h4><i class="fa fa-file-text"></i> ข้อมูลธุรกรรมลักษณะเฉพาะ (Special Transaction)</h4>
            </div>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="col-1">
                    <label>กรองข้อมูล</label>
                </div>
                <div class="col-1 text-right">
                    <label>พ.ศ.</label>
                </div>
                <div class="col-2">
                    <select class="form-control" [(ngModel)]="specialSearchRequest.year">
                        <option *ngFor="let val of yearList" [value]="val">{{ val + 543 }}</option>
                    </select>
                </div>
                <div class="col-4">
                    <input class="form-control" placeholder="ระบุเลขประจำตัวผู้เสียภาษี หรือชื่อ นามสกุล" [(ngModel)]="specialSearchRequest.name" />
                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-search btn-primary btn-auto text-white" (click)="searchData(true)">
                        <i class="fa fa-filter"></i> 
                    </button>
                </div>
                <div class="col-1 offset-2">
                    <button type="button" class="btn btn-primary print">
                        <i class="fa fa-print"></i> พิมพ์
                    </button>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <nz-table #table nzShowSizeChanger [nzFrontPagination]="false" [nzData]="dataSet" [nzLoading]="pageable.loading" [nzTotal]="pageable.total" [(nzPageIndex)]="pageable.pageIndex" [(nzPageSize)]="pageable.pageSize" (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)" [nzShowTotal]="tableTotal" nzBordered>
                        <thead>
                            <tr>
                                <th class="text-center">ลำดับ</th>                                
                                <th class="text-center">ปี พ.ศ.</th>
                                <th class="text-center">ประเภท</th>
                                <th class="text-center">ผู้รับฝากหรือโอน</th>
                                <th class="text-center">ชื่อผู้รับฝากหรือโอน</th>                               
                                <th class="text-center">สำนักงานภูมิลำเนา</th>
                                <th nzWidth="50px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of dataSet; let i = index">
                                <td class="text-center">
                                    {{ (pageable.pageIndex - 1) * pageable.pageSize + i + 1 }}
                                </td>
                                <td class="text-center">
                                    {{ data.year }}
                                </td>
                                <td class="text-center">
                                    {{data.receiverProxyType }} 
                                </td>
                                <td class="text-center">
                                    {{ data.pin }}
                                </td>
                                <td>
                                    {{ data.name }}
                                </td>                              
                                <td>
                                    {{ data.offCodeName || '-' }} 
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-orange btn-sm btn-auto" (click)="routDetail(data.pin, data.year)" nz-tooltip nzTitle="ดูรายละเอียด">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                    <ng-template #tableTotal let-range="range" let-total>
                        แสดง {{range[0]}}-{{range[1]}} จาก ทั้งหมด {{total |number}} รายการ
                    </ng-template>
                </div>
            </div>

        </div>
        
    </div>

</section>