<div class="content">
    <div class="header-title mb-4">
        <h1><strong>การจัดการรหัสของระบบ </strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / การจัดการรหัสของระบบ</small>
        </h1>

    </div>
    <div class="card border-light mb-4">
        <div class="card-header">
            <h4 class="panel-title">
                <i class="header-title fa fa-file-text"></i> ค้นหา
            </h4>
        </div>
        <div class="card-body">
            <form [formGroup]="configCodeSearchForm" (ngSubmit)="onSubmit()">
                <div formGroupName="configCodeSearchFormC">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>รหัส</label>
                            <input type="text" id="code" class="form-control"
                                   placeholder="รหัส"
                                   formControlName="code">
                        </div>
                        <div class="form-group col-md-8">
                            <label>คำอธิบาย</label>
                            <textarea id="description" class="form-control"
                                   placeholder="คำอธิบาย"
                                      formControlName="description"></textarea>
                        </div>
                        <div class="form-group col-md-8">
                          <label>ประเภท</label>
                          <input type="text" id="type" class="form-control"
                                 placeholder="ประเภท"
                                 formControlName="type">
                        </div>

                        <div class="form-group col-lg-2 reset-button">
                            <button type="submit" class="btn btn-success margin-top-10" id="list-search"><i
                                    class="fa fa-search"></i> ค้นหา
                            </button>
                        </div>
                        <div class="form-group col-lg-2 reset-button">
                            <button type="button" class="btn btn-warning margin-top-10" id="clear" (click)="resetForm()"><i
                                    class="fa fa-repeat"></i> ล้างค่า
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card border-light mb-4">

        <div class="card-header">
            <h4 class="panel-title">
                <i class="header-title fa fa-file-text"></i> ผลการค้นหา
            </h4>
        </div>
        <div class="card-body">
            <!--      <div style="padding-bottom: 10px">-->
            <!--        แสดงหน้าละ-->
            <!--        <select id="pageSize" [ngModel]="pageSize" (ngModelChange)="getPageSize($event)">-->
            <!--          <option value="5">5</option>-->
            <!--          <option value="10">10</option>-->
            <!--          <option value="15">15</option>-->
            <!--        </select>-->
            <!--        รายการ-->
            <!--      </div>-->
            <table class="table table-striped table-bordered table-sm">
                <thead>
                <tr role="row">
                    <th scope="col" class="text-center" width="5">ลำดับ</th>
                    <th class="text-center" width="25">รหัส</th>
                    <th class="text-center" width="20">คำอธิบาย</th>
                    <th class="text-center" width="20">ประเภท</th>
                    <th class="text-center" width="15"></th>
                </thead>
                <tbody>
                <tr role="row"
                    *ngFor="let dv of edcConfigCodeModelList | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: page, totalItems: total }; let i=index">
                    <th class="text-center" scope="row">{{ (this.page - 1) * this.pageSize + i + 1 }}</th>
                    <td class="text-left">{{dv.code || '-'}}</td>
                    <td class="text-left">{{dv.description}}</td>
                    <td class="text-left">{{dv.type}}</td>
                    <td class="text-center">
                        <a class="btn-orange btn-sm" id="edit{{i}}" (click)="onEdit(dv)">
                            <i class="fa fa-edit" aria-hidden="true" title="แก้ไข"></i>
                        </a>
                        <a class="btn-orange btn-sm" id="delete{{i}}" (click)="onDelete(dv)">
                            <i class="fa fa-trash" aria-hidden="true" title="ลบ"></i>
                        </a>
                    </td>
                </tr>
                <tr *ngIf="edcConfigCodeModelList.length === 0">
                    <td colspan="11" class="text-center"> ไม่พบข้อมูล</td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-5">
                    แสดงผล
                    {{edcConfigCodeModelList.length}} จาก
                    {{total}} รายการ
                </div>
                <div class="col-sm-7 text-right">
                    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <table style="margin:auto;">
        <tr>
            <td>
                <button type="button" class="btn btn-auto btn-green w-md m-b-5" id="add" [routerLink]="['add']"><i
                        class="fa fa-plus"></i> เพิ่มข้อมูล
                </button>
            </td>
        </tr>
    </table>
</div>
