<app-navigator-wht-tab></app-navigator-wht-tab>
<section class="content">
  <div class="header-title mb-4">
    <h1>
      <strong>รายการที่ถูกหักภาษี ณ ที่จ่าย ภ.ง.ด.53 : เดือนเมษายน 2562 </strong>
      <small class="pull-right">
        <a routerLink="/home" class="active">หน้าหลัก</a> /
        <a routerLink="/dss/epayment-result">คัดค้นภาษีเงินได้หัก ณ ที่จ่ายและภาษีมูลค่าเพิ่ม</a> /
        <a routerLink="/dss/summary-per-taxid">ผลการคัดค้นแบบสรุป</a> / 
        <a routerLink="/dss/wht-pnd53-by-month">รายการที่ถูกหักภาษี ณ ที่จ่าย ภ.ง.ด.53 รายเดือน</a> / เดือนเมษายน 2562
    </small>
    </h1>
  </div>


  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>ข้อมูลผู้เสียภาษีอากร</h4>
    </div>
    <div class="card-body">
      เลขประจำตัวผู้เสียภาษีอากร : 0105541069237 ชื่อผู้เสียภาษีอากร : บริษัท สตรีม ไอ.ที.คอนซัลติ้ง จำกัด สาขา 00000 ที่อยู่ : 11 อ.คิวเฮ้าส์สาธรชั้น7 สาทรใต้ ทุ่งมหาเมฆ สาทร กรุงเทพมหานคร 10120 สำนักงานภูมิลำเนา : สส.บางนา (สท.กรุงเทพมหานคร 17)
  </div>
  </div>
  <div class="header-title mb-4">
    <div class="row">
      <div class="col-12 col-sm-3">
        <h1>
          <strong>มุมมองการแสดงข้อมูล : </strong>
        </h1>
      </div>
      <div class="col-12 col-sm-6">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)]="radioSelected" id="inlineRadio1" value="1">
            <label class="form-check-label" for="inlineRadio1">รายการยื่นแบบ</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)]="radioSelected" id="inlineRadio2" value="2">
            <label class="form-check-label" for="inlineRadio2">รายการธุรกรรม</label>
          </div>
      </div>
    </div>
  </div>
  <div class="card mb-4" *ngIf="radioSelected == '1'">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>รายการยื่นแบบ </h4>
    </div>
    <div class="row  table-conclusion">
      <div class="col-12 col-sm-3">รวมจำนวนรายการ : 2 รายการ</div>
      <div class="col-12 col-sm-3">รวมจำนวนเงิน : 500,000.00 บาท</div>
      <div class="col-12 col-sm-3">รวมภาษีเงินได้หัก ณ ที่จ่าย : 15,000.00 บาท</div>
      <div class="col-12 col-sm-3 d-block">
        <button type="button" class="btn btn-primary btn-auto" #printBtn>
          <i class="fa fa-print"></i> พิมพ์
        </button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
          <tr role="row">
            <!-- <th class="text-center" scope="col" style="width: 50px"></th> -->
            <th class="text-center" scope="col" style="width: 50px"></th>
            <th class="text-center" scope="col">เลขที่แบบ</th>
            <th class="text-center" scope="col">ประเภท <br> การยื่นแบบ</th>
            <th class="text-center" scope="col">ผู้ยื่นแบบ <br> (ผู้มีหน้าที่หักภาษี ณ ที่จ่าย)</th>
            <th class="text-center" scope="col">จำนวนเงินที่ได้จ่าย <br> ในครั้งนี้ (บาท)</th>
            <th class="text-center" scope="col">จำนวนเงินภาษีที่หัก <br> และนำส่งในครั้งนี้ (บาท)</th>
            <th class="text-center" scope="col"></th>
          </tr>
        </thead>
        <tbody>
        <tr role="row" class="odd">
          <td class="text-center">1</td>
          <td class="text-center">P53620410000010</td>
          <td class="text-left">ยื่นปกติ</td>
          <td class="text-left">บริษัท บางกอก 12 จำกัด</td>
          <td class="text-center">400,000.00</td>
          <td class="text-center">12,000.00</td>
          <td class="text-center">
            <button
              type="button"
              class="btn btn-orange btn-sm btn-auto"
              (click)="open(content)"
              tooltip="ดูแบบ">
              <i class="fa fa-file-o" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        <tr role="row" class="odd">
            <td class="text-center">2</td>
            <td class="text-center">P53620420000011</td>
            <td class="text-left">ยื่นปกติ</td>
            <td class="text-left">บริษัท คิว คอนซัลท์ จำกัด</td>
            <td class="text-center">100,000.00</td>
            <td class="text-center">3,000.00</td>
            <td class="text-center">
                <button
                type="button"
                class="btn btn-orange btn-sm btn-auto"
                tooltip="ดูแบบ">
                <i class="fa fa-file-o" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row text-right">
        <div class="col-6 col-sm-1">
          รายการ
        </div>
        <div class="col-6 col-sm-1">
          <select class="form-control" [value]="10">
            <option [value]="10">10</option>
            <option [value]="25">25</option>
            <option [value]="50">50</option>
          </select>
        </div>
        <div class="col-12 col-sm-5 offset-sm-5 d-flex">
          <div class="ml-auto">
            <pagination [totalItems]="1" [itemsPerPage]="10" [maxSize]="5" previousText="ย้อนกลับ" nextText="ถัดไป"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4" *ngIf="radioSelected == '2'">
      <div class="card-header">
        <h4><i class="fa fa-list"></i>รายการธุรกรรม </h4>
      </div>
      <div class="row  table-conclusion">
        <div class="col-12 col-sm-2">รวมจำนวนรายการ : 2 รายการ</div>
        <div class="col-12 col-sm-2">รวมจำนวนเงิน : 500,000.00 บาท</div>
        <div class="col-12 col-sm-3">รวมภาษีเงินได้หัก ณ ที่จ่าย : 15,000.00 บาท</div>
        <div class="col-12 col-sm-3">รวมภาษีมูลค่าเพิ่ม : 0.00 บาท</div>
        <div class="col-12 col-sm-2 d-block">
          <button type="button" class="btn btn-primary btn-auto" #printBtn>
            <i class="fa fa-print"></i> พิมพ์
          </button>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr role="row">
              <!-- <th class="text-center" scope="col" style="width: 50px"></th> -->
              <th class="text-center" scope="col" style="width: 50px"></th>
              <th class="text-center" scope="col">เลขประจำตัว <br> ผู้เสียภาษีอากรผู้ที่หัก</th>
              <th class="text-center" scope="col">ชื่อ - นามสกุล <br> ผู้ที่หัก</th>
              <th class="text-center" scope="col">ที่อยู่ <br> ผู้ที่หัก</th>
              <th class="text-center" scope="col">ประเภท <br> เงินได้</th>
              <th class="text-center" scope="col">รวมเงิน <br> ที่จ่าย (บาท)</th>
              <th class="text-center" scope="col">จำนวนเงินภาษี <br> หัก ณ ที่จ่าย (บาท)</th>
              <th class="text-center" scope="col">เงื่อนไข <br> การหัก*</th>
              <th class="text-center" scope="col">จำนวนเงินภาษี <br> มูลค่าเพิ่ม (บาท)</th>
              <th class="text-center" scope="col">วันที่ <br> จ่ายเงิน</th>
              <th class="text-center" scope="col"></th>
            </tr>
          </thead>
          <tbody>
          <tr role="row" class="odd">
            <td class="text-center">1</td>
            <td class="text-center">0-1055-28015-15-3</td>
            <td class="text-left">บริษัท บางกอก 12 จำกัด</td>
            <td class="text-left">108/7 ถนน สุขุมวิท 

                แขวงคลองเตยเหนือ  เขตวัฒนา  กรุงเทพมหานคร 10110 ประเทศไทย</td>
            <td class="text-center">014 :  ค่ารับเหมา ตามมาตรา 40(7)</td>
            <td class="text-center">400,000.00</td>
            <td class="text-center">12,000.00</td>
            <td class="text-center">1</td>
            <td class="text-center">0.00</td>
            <td class="text-center">30/04/2562</td>
            <td class="text-center">
              <button
                type="button"
                class="btn btn-orange btn-sm btn-auto"
                (click)="openModal(contents)"
                tooltip="ดูธุรกรรม">
                <i class="fa fa-file-o" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr role="row" class="odd">
              <td class="text-center">2</td>
              <td class="text-center">7-6926-01426-64-2</td>
              <td class="text-left">บริษัท คิว คอนซัลท์ จำกัด</td>
              <td class="text-left">175  สาธรซิตี้ ทาวเวอร์

                  แขวงทุ่งมหาเมฆ  เขตสาทร  กรุงเทพมหานคร 10120 ประเทศไทย</td>
              <td class="text-center">015 : ค่าจ้างทำของ ตามมาตรา 40(8)</td>
              <td class="text-center">100,000.00</td>
              <td class="text-center">3,000.00</td>
              <td class="text-center">1</td>
              <td class="text-center">0.00</td>
              <td class="text-center">30/05/2562</td>
              <td class="text-center">
                  <button
                  type="button"
                  class="btn btn-orange btn-sm btn-auto"
                  tooltip="ดูธุรกรรม">
                  <i class="fa fa-file-o" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row col-6 col-sm-6">
            <p><b>* หมายเหตุ :</b> เงื่อนไขการหัก 1 = หัก ณ ที่จ่าย     2=ออกภาษีให้</p>
          </div>
        <div class="row text-right">
          <div class="col-6 col-sm-1">
            รายการ
          </div>
          <div class="col-6 col-sm-1">
            <select class="form-control" [value]="10">
              <option [value]="10">10</option>
              <option [value]="25">25</option>
              <option [value]="50">50</option>
            </select>
          </div>
          <div class="col-12 col-sm-5 offset-sm-5 d-flex">
            <div class="ml-auto">
              <pagination [totalItems]="1" [itemsPerPage]="10" [maxSize]="5" previousText="ย้อนกลับ" nextText="ถัดไป"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title title mt-auto text-left" id="modal-basic-title">ภ.ง.ด.53  แบบยื่นรายการภาษีเงินได้หัก ณ ที่จ่าย <br>
          ตามมาตรา 3 เตรส และมาตรา 69 ทวิ และการเสียภาษีตามมาตรา 65 จัตวา แห่งประมวลรัษฎากร
        </h4>
        <br>
        <button type="button" class="btn btn-primary btn-auto" #printBtn>
          <i class="fa fa-print"></i> พิมพ์
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-sm-3">
            <p>เลขที่แบบ</p>
            <p><b>P53620410000010</b></p>
          </div>
          <div class="col-12 col-sm-3">
            <p>เดือนที่จ่ายเงินได้พึงประเมิน</p>
            <p><b>เมษายน 2562</b></p>
          </div>
          <div class="col-12 col-sm-3">
            <p>ประเภท</p>
            <p><b>ยื่นปกติ</b></p>
          </div>
          <div class="col-12 col-sm-3">
            <p>นำส่งภาษีตาม</p>
            <p><b>มาตรา 3 เตรส</b></p>
          </div>
        </div>
        <div class="row">
          <span class="title column-title">ผู้เสียภาษีอากรที่หักภาษี</span>
        </div>
        <hr>
        <div class="row">
          <div class="col-12 col-sm-3">
            <p>เลขประจำตัวผู้เสียภาษีอากร</p>
            <p><b>0 1055 28015 15 3</b></p>
          </div>
          <div class="col-12 col-sm-3">
            <p>ชื่อผู้เสียภาษีอากรภาษาไทย</p>
            <p><b>บริษัท บางกอก 12 จำกัด</b></p>
          </div>
          <div class="col-12 col-sm-3">
            <p>ชื่อผู้เสียภาษีอากรภาษาอังกฤษ</p>
            <p><b>Bangkok 12 Company</b></p>
          </div>
          <div class="col-12 col-sm-3">
            <p>ที่อยู่</p>
            <p>
              <b>108/7 ถนน สุขุมวิท  แขวงคลองเตยเหนือ <br> เขตวัฒนา  กรุงเทพมหานคร 10110 <br> ประเทศไทย </b>
            </p>
          </div>
        </div>
      </div>
      <div class="modal-header">
        <h4 class="modal-title title mt-auto text-left" id="modal-basic-title">ใบแนบ ภ.ง.ด.53</h4>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-12 col-sm-6">
              <p>เลขประจำตัวผู้เสียภาษีอากร (ของผู้มีหน้าที่หักภาษี ณ ที่จ่าย)</p>
              <p><b>0 1055 28015 15 3</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>สาขาที่</p>
              <p><b>-</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>แผ่นที่ 2  ในจำนวน 2 แผ่น</p>
            </div>
          </div>
          <div class="row">
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                  <thead>
                  <tr>
                    <th scope="col" class="text-center">ลำดับที่</th>
                    <th scope="col" class="text-center">ผู้มีเงินได้</th>
                    <th scope="col" class="text-center">สาขาที่</th>
                    <th scope="col" class="text-center">วัน เดือน ปี <br> ที่จ่าย</th>
                    <th scope="col" class="text-center">ประเภทเงินได้ <br> พึงประเมินที่จ่าย</th>
                    <th scope="col" class="text-center">อัตราภาษี <br> ร้อยละ</th>
                    <th scope="col" class="text-center">จำนวนเงินได้ที่จ่าย <br> ในครั้งนี้</th>
                    <th scope="col" class="text-center">จำนวนเงินภาษีที่หัก <br> และนำส่งในครั้งนี้</th>
                    <th scope="col" class="text-center">เงื่อนไข*</th>
                  </tr>
                  </thead>
                  <tbody>
                      <tr role="row" class="odd">
                          <td class="text-center">10</td>
                          <td class="text-left">1-9030-43040-85-6

                              บริษัท ไทย กรีน จำกัด
                              
                              เลขที่ 223/61  อาคาร คันทรี่ คอมเพล็กซ์ เอ ชั้น 14 ถนน สรรพาวุธ  แขวง บางนาใต้
                              
                              เขต บางนา  กรุงเทพมหานคร</td>
                          <td class="text-center">00000</td>
                          <td class="text-center">30/04/2562</td>
                          <td class="text-left">ค่ารับเหมา

                              ตามมาตรา 40(7)</td>
                          <td class="text-right">3%</td>
                          <td class="text-right">400,000.00</td>
                          <td class="text-right">12,000.00</td>
                          <td class="text-center">1</td>
                      </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <p><b>* หมายเหตุ :</b> เงื่อนไขการหัก 1 = หัก ณ ที่จ่าย     2=ออกภาษีให้</p>
          </div>
      </div>
      <div class="row text-center d-block">
        <button type="button" class="btn btn-danger btn-auto" (click)="modalService.dismissAll()" #closeBtn>
          <i class="fa fa-close"></i> ปิด
        </button>
      </div>
    </ng-template>
    <ng-template #contents let-modal>
        <div class="modal-header">
          <h4 class="modal-title title mt-auto" id="modal-basic-title">รายละเอียดธุรกรรมภาษีเงินได้หัก ณ ที่จ่าย รายการที่ถูกผู้อื่นหัก (ภ.ง.ด.53)</h4>
          <button type="button" class="btn btn-primary btn-auto" #printBtn>
            <i class="fa fa-print"></i> พิมพ์
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <span class="title column-title">ผู้เสียภาษีอากรที่หักภาษี</span>
          </div>
          <hr>
          <div class="row">
            <div class="col-12 col-sm-3">
              <p>เลขประจำตัวผู้เสียภาษีอากร</p>
              <p><b>0-1055-28015-15-3</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ชื่อผู้เสียภาษีอากร</p>
              <p><b>บริษัท บางกอก 12 จำกัด</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>เลขที่สาขา</p>
              <p><b>00000</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ที่อยู่</p>
              <p>
                <b>108/7 ถนน สุขุมวิท  แขวงคลองเตยเหนือ <br> เขตวัฒนา  กรุงเทพมหานคร 10110 <br> ประเทศไทย</b>
              </p>
            </div>
          </div>
          <div class="row">
            <span class="title column-title">ผู้เสียภาษีอากรที่ถูกหักภาษี</span>
          </div>
          <hr>
          <div class="row">
            <div class="col-12 col-sm-3">
              <p>เลขประจำตัวผู้เสียภาษีอากร</p>
              <p><b>1-9030-43040-85-6</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ชื่อผู้เสียภาษีอากร </p>
              <p><b>บริษัท ไทย กรีน จำกัด</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>เลขที่สาขา </p>
              <p><b>00000</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ที่อยู่ </p>
              <p><b>223/61  อาคารคันทรี่ คอมเพล็กซ์ เอ ชั้น 14 ถนน <br> สรรพาวุธ  แขวงบางนาใต้  เขตบางนา <br> กรุงเทพมหานคร 10260 ประเทศไทย</b></p>
            </div>
          </div>
          <div class="row">
            <span class="title column-title">รายละเอียดการจ่ายเงินได้</span>
          </div>
          <hr>
          <div class="row">
            <div class="col-12 col-sm-3">
              <p>ข้อมูลบัญชี Prompt Pay ผู้หัก</p>
              <p><b>0-1055-28015-15-3</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ประเภทช่องทาง Prompt Pay ผู้หัก</p>
              <p><b>Tax ID</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>เลขที่บัญชีธนาคาร ผู้หัก </p>
              <p><b>010-2-94649-5</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ธนาคาร  ผู้หัก </p>
              <p><b>ธนาคารกรุงเทพ จำกัด (มหาชน) <br> สาขาพลับพลาไชย</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ข้อมูลบัญชี Prompt Pay ผู้ถูกหัก </p>
              <p><b>9030-43040-85-6</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ประเภทช่องทาง Prompt Pay ผู้ถูกหัก </p>
              <p><b>Tax ID</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>เลขที่บัญชีธนาคาร ผู้ถูกหัก </p>
              <p><b>232-4-06934-9</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ธนาคาร  ผู้ถูกหัก </p>
              <p><b>ธนาคารกรุงไทย จำกัด (มหาชน)</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>จำนวนเงินที่จ่าย </p>
              <p><b>400,000.00 บาท</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>จำนวนเงินภาษีเงินได้หัก ณ ที่จ่าย </p>
              <p><b>12,000.00 บาท</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>จำนวนเงินภาษีมูลค่าเพิ่ม </p>
              <p><b>0.00 บาท</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>วันที่ และเวลาที่จ่ายเงิน </p>
              <p><b>30/04/2562   02:00:00 น.</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ประเภทเงินได้ </p>
              <p><b>014 : ค่ารับเหมา <br> ตามมาตรา 40(7)</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>เงื่อนไขการหักภาษี </p>
              <p><b>1: หัก ณ ที่จ่าย</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>หมายเลขอ้างอิงการทำรายการ </p>
              <p><b>-</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>หมายเลขเครื่อง EDC </p>
              <p><b>-</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>หมายเลขหน้าบัตรเดบิต/เครดิต </p>
              <p><b>-</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ธนาคาร/หน่วยงาน ผู้ออกบัตร </p>
              <p><b>-</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ธนาคาร/หน่วยงาน ผู้รับชำระเงิน </p>
              <p><b>-</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>รหัสร้านค้าที่รับชำระเงิน </p>
              <p><b>-</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>สาขาภาษีมูลค่าเพิ่มผู้จ่ายเงิน </p>
              <p><b>-</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>สาขาภาษีมูลค่าเพิ่มผู้รับเงิน </p>
              <p><b>-</b></p>
            </div>
          </div>
          <div class="row">
            <span class="title column-title">ข้อมูลแบบแสดงรายการ</span>
          </div>
          <hr>
          <div class="row">
            <div class="col-12 col-sm-3">
              <p>แบบ</p>
              <p><b>ภ.ง.ด.53</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ประเภทการยื่นแบบ </p>
              <p><b>ยื่นปกติ</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>เดือนภาษี </p>
              <p><b>เมษายน</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ปีภาษี </p>
              <p><b>2562</b></p>
            </div>
          </div>
          <div class="row text-center d-block">
            <button type="button" class="btn btn-danger btn-auto" (click)="modalService.dismissAll()" #closeBtn>
              <i class="fa fa-close"></i> ปิด
            </button>
          </div>
        </div>
      </ng-template>
</section>
