<div class="row">
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>อาคาร :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.recipientNameBuilding | replaceNullValue: '-'}}</p>
  </div>
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>ห้องเลขที่ :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.recipientRoomNo | replaceNullValue: '-'}}</p>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>ชั้นที่ :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.recipientFloorNo | replaceNullValue: '-'}}</p>
  </div>
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>หมู่บ้าน :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.recipientVillage | replaceNullValue: '-'}}</p>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>เลขที่ :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.recipientAddressNo | replaceNullValue: '-'}}</p>
  </div>
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>หมู่ที่ :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.recipientMoo | replaceNullValue: '-'}}</p>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>ตรอก :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.recipientSoi | replaceNullValue: '-'}}</p>
  </div>
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>แยก :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.recipientLane | replaceNullValue: '-'}}</p>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>ถนน :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.recipientRoad | replaceNullValue: '-'}}</p>
  </div>
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>แขวง/ตำบล :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.recipientSubDistrictName | replaceNullValue: '-'}}</p>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>เขต/อำเภอ :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.recipientDistrictName | replaceNullValue: '-'}}</p>
  </div>
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>จังหวัด :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.recipientProvinceName | replaceNullValue: '-'}}</p>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>รหัสไปรณีย์ :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.recipientPostcode | replaceNullValue: '-'}}</p>
  </div>
</div>
