<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <div class="col-md-12">
    <div class="d-flex justify-content-between">
      <div>
        <h2>จัดการรายการอุปกรณ์ </h2>
      </div>
      <div class="text-right">
        <div class="btn-group">
          <button class="btn btn-outline-info" [routerLink]="['/device-management/form']">ลงทะเบียนอุปกรณ์ใหม่</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <table id="example" class="table table-striped table-bordered dataTable" style="width: 100%;" role="grid"
             aria-describedby="example_info">
        <thead>
        <tr role="row">
          <th class="text-center">ลำดับ</th>
          <th class="text-center">ชื่ออุปกรณ์</th>
          <th class="text-center">รุ่น/โมเดล</th>
          <th class="text-center">Serial Number</th>
          <th class="text-center">ชื่อผู้ได้รับอุปกรณ์</th>
          <th class="text-center">สถานะ</th>
          <th class="text-center">วันที่ลงทะเบียน</th>
          <th style="width: 200px"></th>
        </thead>
        <tbody>
        <tr role="row" class="odd" *ngFor="let user of devices; let i = index">
          <td class="text-center">{{i + 1}}</td>
          <td class="text-center">{{user.taxId}} - {{user.taxPayer}}</td>
          <td class="text-center">{{user.dept}} - {{user.branchId}}</td>
          <td class="text-center">{{user.email}}</td>
          <td class="text-center">{{user.reqId}}</td>
          <td class="text-center">{{user.requestType.requestTypeDesc}}
            <p *ngIf="user.requestType.requestTypeId == 2" style="font-size: 12px;color:darkblue;">
              เนื่องจาก:{{user.reasonCode.reasonDesc}}</p></td>
          <td class="text-center">{{user.approvalStatus.approvalStatusname}}</td>
          <td class="text-center">{{user.startDate | date: 'dd/MM/yyyy'}}</td>
          <td class="text-center">{{user.endDate | date: 'dd/MM/yyyy'}}</td>
          <td class="text-center">
            <div class="btn-group">
              <button type="button" *ngIf="user.approvalStatus.approvalStatusId == 1" id="requestCert"
                      class="btn btn-primary btn-sm">อนุมัติ
              </button>
              <button type="button"
                      *ngIf="user.approvalStatus.approvalStatusId == 2 && user.requestType.requestTypeId == 1"
                      id="revokeCert"
                      class="btn btn-danger btn-sm" (click)="open(revokeModal, user)">เพิกถอน
              </button>
              <button type="button"
                      *ngIf="user.approvalStatus.approvalStatusId == 2  && user.requestType.requestTypeId == 2"
                      id="renewCert"
                      class="btn btn-warning btn-sm">ขอต่อใบอนุญาตใหม่
              </button>
            </div>
          </td>
        </tr>
        <tr *ngIf="devices.length === 0">
          <td colspan="9" class="text-center"> ไม่พบข้อมูล</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
