<app-navigator-wht-tab></app-navigator-wht-tab>
<section class="content">
  <div class="header-title mb-4">
    <h1>
      <strong>ยอดซื้อภาษีมูลค่าเพิ่ม ภ.พ. 36 : เดือนเมษายน - พฤษภาคม 2562 </strong>
      <small class="pull-right">
        <a href="" class="active">หน้าหลัก</a> /
        <a href="">คัดค้นภาษีเงินได้หัก ณ ที่จ่ายและภาษีมูลค่าเพิ่ม</a> /
        <a href="">ผลการคัดค้นแบบสรุป</a> /ยอดซื้อภาษีมูลค่าเพิ่ม ภ.พ.36  รายเดือน
    </small>
    </h1>
  </div>


  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>ข้อมูลผู้เสียภาษี</h4>
    </div>
    <div class="card-body">
      <p class="mt-auto">เลขประจำตัวผู้เสียภาษีอากร : 0105541069237    ชื่อผู้เสียภาษีอากร
        :  บริษัท สตรีม ไอ.ที.คอนซัลติ้ง จำกัด เลขที่สาขา
        : 00000</p>
      <br/>
      <p class="mt-auto">ที่อยู่: 11 อ.คิวเฮ้าส์สาธรชั้น7 สาทรใต้ ทุ่งมหาเมฆ สาทร กรุงเทพมหานคร 10120 </p>
      <br/>
      <p class="mt-auto">สำนักงานภูมิลำเนา: สส.บางนา  (สท.กรุงเทพมหานคร 17)</p>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>รายการยอดซ์้อ </h4>
    </div>
    <div class="row  table-conclusion">
      <div class="col-12 col-sm-3">รวมจำนวนเงิน: 700,000.00 บาท</div>
      <div class="col-12 col-sm-3">รวมภาษีเงินได้หัก ณ ที่จ่าย: 21,000.00 บาท</div>
      <div class="col-12 col-sm-3">รวมภาษีมูลค่าเพิ่ม: 0.00 บาท
      </div>
      <div class="col-12 col-sm-3 d-block">
        <button type="button" class="btn btn-primary " #printBtn>
          <i class="fa fa-print"></i> พิมพ์
        </button>
      </div>
    </div>
    <div class="card-body">
      <table
        class="table table-striped table-bordered table-sm"
        cellspacing="0"
        width="100%"
      >
        <thead>
        <tr role="row">
          <!-- <th class="text-center" scope="col" style="width: 50px"></th> -->
          <th class="text-center" scope="col" style="width: 50px"></th>
          <th class="text-center" scope="col">เดือนภาษี</th>
          <th class="text-center" scope="col">ปีภาษี</th>
          <th class="text-center" scope="col">จำนวน <br> เงิน (บาท)</th>
          <th class="text-center" scope="col">ภาษีเงินได้ <br> หัก ณ ที่จ่าย (บาท)</th>
          <th class="text-center" scope="col">ภาษี <br> มูลค่าเพิ่ม (บาท)</th>
          <th class="text-center" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr role="row" class="odd">
          <td class="text-center">1</td>
          <td class="text-center">เมษายน</td>
          <td class="text-center">2562</td>
          <td class="text-right">500,000.00</td>
          <td class="text-center">15,000.00</td>
          <td class="text-center">0.00</td>
          <td class="text-center">
              <button
              type="button"
              class="btn btn-orange btn-sm btn-auto"
              (click)="showDetail(this.pin)"
              tooltip="ดูรายละเอียด">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        <tr role="row" class="odd">
            <td class="text-center">2</td>
            <td class="text-center">พฤษภาคม</td>
            <td class="text-center">2562</td>
            <td class="text-right">200,000.00</td>
            <td class="text-center">6,000.00</td>
            <td class="text-center">0.00</td>
            <td class="text-center">
              <button
              type="button"
              class="btn btn-orange btn-sm btn-auto"
              (click)="showDetail(this.pin)"
              tooltip="ดูรายละเอียด">
              <i class="fa fa-search" aria-hidden="true"></i>                
            </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row text-right">
        <div class="col-6 col-sm-1">
          รายการ
        </div>
        <div class="col-6 col-sm-1">
          <select class="form-control" [value]="10">
            <option [value]="10">10</option>
            <option [value]="25">25</option>
            <option [value]="50">50</option>
          </select>
        </div>
        <div class="col-12 col-sm-5 offset-sm-5 d-flex">
          <div class="ml-auto">
            <pagination [totalItems]="1" [itemsPerPage]="10" [maxSize]="5" previousText="ย้อนกลับ" nextText="ถัดไป"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
