<section class="content">

  <div class="header-title mb-4">
    <h1><strong>รายการใบคำขออิเล็กทรอนิกส์ </strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a href="" class="active">รายการรออนุมัติ</a> /
        รายละเอียดการยื่นคำขอ</small></h1>
  </div>
  <form [formGroup]="formVUserCertApprove" (ngSubmit)="saveVUserCert()">
    <div class="card mb-4">
      <div class="card-header">ข้อมูลในการยื่นคำขอ</div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-lg-4">
            <label>เลขที่ใบคำขอ:</label>
            <input type="text" value="{{this.vusercert?.reqId || '-'}}" id="" class="form-control" name="" disabled>
          </div>
          <div class="form-group col-lg-4">
            <label>ประเภทคำขอ:</label>
            <input type="text" value="{{this.vusercert?.requestTypeDesc || '-'}}" id="" class="form-control" name=""
              disabled>
          </div>
          <div class="form-group col-lg-4"
            *ngIf="vusercert?.userTypeId != '3'  && (vusercert?.userTypeId != '' && vusercert?.userTypeId != null) ">
            <label>วันที่สร้างคำขอ:</label>
            <input type="text" value="{{this.vusercert?.requestedDate || '-'}}" id="" class="form-control" name=""
              disabled>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-4"
      *ngIf="vusercert?.userTypeId != '3'  && (vusercert?.userTypeId != '' && vusercert?.userTypeId != null) ">
      <div class="card-header">รายละเอียดข้อมูลผู้ยื่นคำขอ</div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-lg-4">
            <label>เลขประจำตัวผู้เสียภาษีอากร:</label>
            <input type="text" value="{{this.vusercert?.nid || '-'}}" id="" class="form-control" name="" disabled>
          </div>
          <div class="form-group col-lg-4">
            <label>ชื่อผู้เสียภาษีอากร:</label>
            <input type="text" value="{{this.vusercert?.name || '-'}}" id="" class="form-control" name="" disabled>
          </div>
          <div class="form-group col-lg-4">
            <label>อีเมล:</label>
            <input type="text" value="{{this.vusercert?.email || '-'}}" id="" class="form-control" name="" disabled>
          </div>
          <div class="form-group col-lg-4">
            <label>เบอร์โทรศัพท์:</label>
            <input type="text" value="{{this.vusercert?.telephone || '-'}}" id="" class="form-control" name="" disabled>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-4"
      *ngIf="vusercert?.userTypeId == '3'  && (vusercert?.userTypeId != '' && vusercert?.userTypeId != null) ">
      <div class="card-header">รายละเอียดข้อมูลผู้ยื่นคำขอ</div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-lg-4">
            <label>ชื่อ-สกุล:</label>
            <input type="text" value="{{this.vusercert?.name || '-'}}" id="" class="form-control" name="" disabled>
          </div>
          <div class="form-group col-lg-4">
            <label>หน่วยงาน:</label>
            <input type="text" value="{{this.vusercert?.orgName || '-'}}" id="" class="form-control" name="" disabled>
          </div>
          <div class="form-group col-lg-4">
            <label>ตำแหน่ง:</label>
            <input type="text" value="-" id="" class="form-control" name="" disabled>
          </div>
          <div class="form-group col-lg-4">
            <label>อีเมล:</label>
            <input type="text" value="{{this.vusercert?.email || '-'}}" id="" class="form-control" name="" disabled>
          </div>
          <div class="form-group col-lg-4">
            <label>เบอร์โทรศัพท์:</label>
            <input type="text" value="{{this.vusercert?.telephone || '-'}}" id="" class="form-control" name="" disabled>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-header">ประเภทใบรับรองอิเล็กทรอนิกส์</div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-lg-4">
            <label>ประเภทการให้บริการ:</label>
            <input type="text" value="{{this.vusercert?.userTypeName || '-'}}" id="" class="form-control" name=""
              disabled>
          </div>
          <div class="form-group col-lg-4">
            <label>รูปแบบ Template:</label>
            <input type="text" value="{{this.vusercert?.certificateTypeName || '-'}}" id="" class="form-control" name=""
              disabled>
          </div>
          <div class="form-group col-lg-4">
            <label>อายุการใช้งาน:</label>
            <input type="text" value="2 ปี" id="" class="form-control" name=""
              disabled>
          </div>
          <div class="form-group col-lg-4">
            <label>อุปกรณ์ที่จัดเก็บใบรับรอง:</label>
            <input type="text"
              value="{{this.vusercert?.userTypeId == '3'? 'รอผู้ดูแลระบบลงทะเบียนอุปกรณ์' : 'รับผ่านอีเมล'}}" id=""
              class="form-control" name="" disabled>
          </div>
          <div class="form-group col-lg-4">
            <label>วัตถุประสงค์การใช้งาน:</label>
            <input type="text" value="{{this.vusercert?.objective || '-'}}" id="" class="form-control" name="" disabled>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-header">รายละเอียดข้อมูลผู้ขอใบรับรองอิเล็กทรอนิกส์</div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-lg-4"
            *ngIf="vusercert?.userTypeId != '3'  && (vusercert?.userTypeId != '' && vusercert?.userTypeId != null) ">
            <label>เลขประจำตัวผู้เสียภาษีอากร:</label>
            <input type="text" value="{{this.vusercert?.nid || '-'}}" id="" class="form-control" name="" disabled>
          </div>
          <div class="form-group col-lg-4">
            <label #divNid>ชื่อผู้เสียภาษีอากร:</label>
            <input type="text" value="{{this.vusercert?.name || '-'}}" id="" class="form-control" name="" disabled>
          </div>
          <div class="form-group col-lg-4"
            *ngIf="vusercert?.userTypeId == '3'  && (vusercert?.userTypeId != '' && vusercert?.userTypeId != null)">
            <label>หน่วยงาน:</label>
            <input type="text" value="{{this.vusercert?.orgName || '-'}}" id="" class="form-control" name="" disabled>
          </div>
          <div class="form-group col-lg-4"
            *ngIf="vusercert?.userTypeId == '3'  && (vusercert?.userTypeId != '' && vusercert?.userTypeId != null)">
            <label>ตำแหน่ง:</label>
            <input type="text" value="-" id="" class="form-control" name="" disabled>
          </div>
          <div class="form-group col-lg-4">
            <label>อีเมล:</label>
            <input type="text" value="{{this.vusercert?.email || '-'}}" id="" class="form-control" name="" disabled>
          </div>
          <div class="form-group col-lg-4">
            <label>เบอร์โทรศัพท์:</label>
            <input type="text" value="{{this.vusercert?.telephone || '-'}}" id="" class="form-control" name="" disabled>
          </div>
        </div>
      </div>
    </div>
<!--    <div class="card mb-4" *ngIf="vusercert?.userTypeId === 4">-->
<!--      <div class="card-header">เอกสารแนบ</div>-->
<!--      <div class="card-body">-->
<!--        <app-user-attachment-table [hashUserId]="getCurrentUserInfo.userId"-->
<!--                                   [userTypeKey]="'S'" [username]="getCurrentUserInfo.username"></app-user-attachment-table>-->
<!--      </div>-->
<!--    </div>-->
    <div class="card mb-4" *ngIf="vusercert?.userTypeId != 4">
      <div class="card-header">เอกสารแนบ</div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-8">
            <label>เอกสารที่ใช้ในการขอใช้งาน Certificate</label>
            <table id="example" class="table table-striped table-bordered dataTable" style="width: 100%;" role="grid"
              aria-describedby="example_info">
              <thead>
                <tr role="row">
                  <th scope="col" class="text-center">#</th>
                  <th scope="col">ประเภทเอกสาร </th>
                  <th scope="col">ดาวน์โหลด</th>
                </tr>
              </thead>
              <tbody>
                <tr role="row" class="odd" *ngFor="let u of userAttachment;let i= index;">
                  <td class="text-center">{{i+1}}</td>
                  <td class="text-left">{{u.mattachmentType.attachmentTypeName}}</td>
                  <td class="text-left">
                    <a class="fa fa-file-text-o" style="cursor:pointer;color: orange;font-weight: bold;"
                      (click)="downloadFileAttachment(i)">
                    </a>
                    {{u.filePath}}en
                  </td>
                </tr>
              </tbody>
              <tr *ngIf="userAttachment?.length === 0">
                <th class="text-center" colspan="3">ไม่พบข้อมูล</th>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-4" *ngIf="vusercert?.requestTypeId == '2' || vusercert?.requestTypeId == '3' ">
      <div class="card-header">สาเหตุการขอเพิกถอนหรือพักการใช้งานใบรับรองอิเล็กทรอนิกส์</div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-lg-4">
            <label>สาเหตุการขอเพิกถอนหรือพักการใช้งาน:</label>
            <input type="text" value="{{this.mCertReasonCode?.reasonDesc || '-'}}" id="" class="form-control" name="" disabled>
          </div>
          </div>
        </div>
      </div>

    <div class="card mb-4" *ngIf="canEdit">
      <div class="card-header">ผลการพิจารณา</div>
      <div class="card-body">
        <div class="row">
          <label class="col-sm-2">ผลการพิจารณา:<span class="red">*</span></label>
          <div class="form-group col-lg-12">
            <div class="col-lg-10 padding-left-20">
              <label class="radio-inline padding-left-20"> <input type="radio" formControlName="approvalStatus"
                  name="approvalStatus" value="APPROVED"
                  [ngClass]="{ 'is-invalid': submitted && field.approvalStatus.errors }">
                อนุมัติ </label>
              <label class="radio-inline padding-left-20" *ngIf="vusercert?.requestTypeId === 2"> <input type="radio" formControlName="approvalStatus"
                                                                  name="approvalStatus"  value="REJECTED"
                                                                  [ngClass]="{ 'is-invalid': submitted && field.approvalStatus.errors }">
                ส่งกลับเพื่อแก้ไข </label>
              <label class="radio-inline padding-left-20"> <input type="radio" formControlName="approvalStatus"
                  name="approvalStatus" value="UNAPPROVED"
                  [ngClass]="{ 'is-invalid': submitted && field.approvalStatus.errors }">
                ไม่อนุมัติ </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-12">
            <label>หมายเหตุ:</label>
            <textarea type="text" id="remark" name="remark" formControlName="remark"
              [ngClass]="{ 'is-invalid': submitted && field.remark.errors }"
              class="md-textarea md-textarea-auto form-control"></textarea>
            <div *ngIf="submitted && field.remark.errors" class="red">
              <div *ngIf="field.remark.errors.required">กรุณาระบุหมายเหตุ</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-4" *ngIf="vusercert?.userTypeId != '4' && !canEdit ">
      <div class="card-header">ผลการพิจารณา</div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-lg-4">
            <label>ผลการพิจารณา:</label>
            <input type="text" value="{{vusercert?.approvalStatusName || '-'}}"  class="form-control" name="" disabled>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-4">
            <label>หมายเหตุ:</label>
            <input type="text" value="{{vusercert?.remark || '-'}}" class="form-control" name="" disabled>
          </div>
        </div>
        <div class="row"
             *ngIf=" vusercert?.approvalStatusId == 2 && vusercert?.userTypeId == 3 && vusercert.requestTypeId == 1 ">
          <div class="form-group col-lg-4">
            อุปกรณ์ที่จัดเก็บใบรับรอง
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="vusercert?.approvalStatusId != 3">
      <div class="form-group col-lg-2 reset-button">
        <button type="button" class="btn btn-orange3 w-md m-b-5" (click)="backPage()"><i class="fa fa-chevron-left"></i>
          ย้อนกลับ</button>
      </div>
      <div class="form-group col-lg-2 reset-button" *ngIf="canEdit">
        <button type="button" class="btn btn btn-orange2 w-md m-b-5" (click)="clear()"
          ><i
            class="fa fa-repeat"></i>
          ล้างข้อมูล</button>
      </div>
      <div class="form-group col-lg-2 reset-button" *ngIf="canEdit && authenService.hasAnyPermission(['DCSP020100.ADD','DCSP020100.UPDATE'])">
        <button type="submit" class="btn btn-green w-md m-b-5" ><i
            class="fa fa-floppy-o"></i>
          &nbsp;บันทึก</button>
      </div>

    </div>
    <div class="row justify-content-center" *ngIf="vusercert?.approvalStatusId == 3">
      <div class="form-group col-lg-2 reset-button">
        <button type="button" class="btn btn-orange3 w-md m-b-5" (click)="backPage()">
          <i class="fa fa-home"></i> กลับหน้าหลัก
        </button>
      </div>
    </div>
  </form>
</section>
