<div class="modal-header">
  <h6>
    ระบบได้รับข้อมูลคำร้องขอคืนเงินภาษีอากร (ค.10) เรียบร้อยแล้ว
  </h6>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12 col-sm-6 text-left text-sm-right">
      <p>เลขที่รับเอกสาร :</p>
    </div>
    <div class="col-12 col-sm-6">
      <p>
        {{taxRequestModel.receiptDocNo | replaceNullValue: '-'}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-left text-sm-right">
      <p>วัน/เดือน/ปี ที่รับ :</p>
    </div>
    <div class="col-12 col-sm-6">
      <p>
        {{taxRequestModel.createdDate | thaidate}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-left text-sm-right">
      <p>ประเภทภาษีอากร :</p>
    </div>
    <div class="col-12 col-sm-6">
      <p>{{taxRequestModel.taxType.taxTypeName | replaceNullValue: '-'}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-left text-sm-right">
      <p>ปีภาษี</p>
    </div>
    <div class="col-12 col-sm-6">
      <p>
        -
        <!--                  TO DO DISPLAY TAX YEAR-->
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-left text-sm-right">
      <p>เดือนภาษี</p>
    </div>
    <div class="col-12 col-sm-6">
      <p>
        -
        <!--                  TO DO DISPLAY TAX MONTH-->
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-left text-sm-right">
      <p>รอบระยะเวลาบัญชีตั้งแต่วัน/เดือน/ปี</p>
    </div>
    <div class="col-12 col-sm-6">
      <p>{{taxRequestModel.accountPeriodStart | thaidate}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-left text-sm-right">
      <p>รอบระยะเวลาบัญชีถึงวัน/เดือน/ปี</p>
    </div>
    <div class="col-12 col-sm-6">
      <p>{{taxRequestModel.accountPeriodEnd | thaidate}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-left text-sm-right">
      <p>วัน/เดือน/ปีที่ชำระภาษี :</p>
    </div>
    <div class="col-12 col-sm-6">
      <p>
        -
        <!--                  TO DO DISPLAY TAX PAYMENT DATE-->
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-left text-sm-right">
      <p>วัน/เดือน/ปีที่ชำระภาษีทั้งหมด :</p>
    </div>
    <div class="col-12 col-sm-6">
      <p>
        -
        <!--                  TO DO DISPLAY TOTAL TAX PAYMENT DATE-->
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-left text-sm-right">
      <p>มูลเหตุที่ขอคืน :</p>
    </div>
    <div class="col-12 col-sm-6">
      <p>
        {{taxRequestModel.reasonRequest.reasonName | replaceNullValue: '-'}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-left text-sm-right">
      <p>จำนวนเงินที่ขอคืน :</p>
    </div>
    <div class="col-12 col-sm-6">
      <p>{{taxRequestModel.requestAmount | replaceNullValue: '0' | number: '1.2'}}</p>
    </div>
  </div>
  <div class="row text-center d-block">
    <button type="button" class="btn btn-primary btn-auto" (click)="bsModalRef.hide()">ตกลง</button>
  </div>
</div>

