<section class="mt-2">
  <h4>เอกสารแนบ</h4>
  <form [formGroup]="approvedDocumentForm" *ngIf="approvedDocumentForm && registeredAttachmentList">
    <div class="row">
      <table class="table">
        <thead>
        <tr>
          <th scope="col" class="text-center"></th>
          <th scope="col" class="text-center">ชื่อเอกสาร</th>
          <th scope="col" class="text-center">ดาวน์โหลด</th>
          <th scope="col" class="text-center">ตรวจสอบเอกสาร</th>
          <th scope="col" class="text-center" *ngIf="userTypeKey != 'T' && userTypeKey != 'S'">สแกนเอกสาร</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let registeredAttachment of registeredAttachmentList; let i = index">
          <tr>
            <th class="text-center">{{i + 1}}</th>
            <td class="text-left">{{registeredAttachment.attachmentName}}</td>
            <td class="text-center">
              <a class="oi oi-data-transfer-download" *ngIf="registeredAttachment.userAttachmentDto.attach"
                aria-hidden="true" target="_blank" [href]="fileApi + userAttachmentDtoList[i].userAttachmentId"></a>&nbsp;
                <ng-container *ngFor="let scannedUserAttachment of scannedUserAttachmentList; let j = index">
                  <a class="oi oi-document" *ngIf="registeredAttachment.id == scannedUserAttachment.mRegisteredAttachmentId"
                  aria-hidden="true" target="_blank" [href]="fileScanApi + scannedUserAttachment.userAttachmentId" tooltip="เอกสาร สแกน"></a>
                </ng-container>
            </td>
            <td class="text-center" formArrayName="userAttachmentDtoList">
              <ng-container *ngIf="!registeredAttachment.userAttachmentDto.attach && !registeredAttachment.userAttachmentDto.addApprovedStatus">
                <button class="btn btn-primary p-1" style="width: 45px; font-size: 12px;" (click)="addApproveStatus(registeredAttachment, i)">เพิ่ม</button>
              </ng-container>
              <ng-container [formGroupName]="i" *ngIf="registeredAttachment.userAttachmentDto.attach || registeredAttachment.userAttachmentDto.addApprovedStatus">
                <label [for]="i + '-approved'">
                  <input type="radio" [id]="i + '-approved'" [value]="true" formControlName="approved"> ถูกต้อง
                </label>
                <label class="ml-1" [for]="i + '-dis-approved'">
                  <input type="radio" [id]="i + '-dis-approved'" [value]="false" formControlName="approved"> ไม่ถูกต้อง
                </label>
                <div class="red" *ngIf="getApprovedControl(i).touched && getApprovedControl(i).hasError('required')">
                  กรุณาระบุความถูกต้องเอกสาร
                </div>
              </ng-container>
            </td>
            <td class="text-center" *ngIf="userTypeKey != 'T' && userTypeKey != 'S' ">
              <a href="javascript:void(0)" (click)="openScanModal(registeredAttachment, scanModal, userAttachmentDtoList[i])"><i class="fa fa-print"></i></a>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
      <p class="red w-100 text-center" *ngIf="approvedDocumentForm.hasError('documentDisApprovedRequired') && approvedDocumentForm.touched">
        {{approvedDocumentForm.getError('documentDisApprovedRequired')}}
      </p>
    </div>
  </form>
</section>

<ng-template #scanModal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">สแกนเอกสาร</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeScanModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-scanner [scUserId]="userId" [scUsername]="username" [scRegisteredAttachment]="registeredAttachment" [scUserAttachmentModel]="userAttachmentModel" (save)="upload($event)" (close)="closeScanModal()"></app-scanner>
  </div>
</ng-template>
