<div class="content">
    <div class="header-title">
        <h1><strong>รายละเอียดข้อมูลจังหวัด </strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a
                    [routerLink]="['/etl/province']" class="active">จังหวัด
            </a> / รายละเอียดข้อมูลจังหวัด
            </small>
        </h1>
    </div>

    <form [formGroup]="provinceForm">
        <div formGroupName="provinceGroup">
            <div class="card border-light mb-4">
                <div class="card-header">
                    <h4 class="panel-title">
                        <i class="header-title fa fa-file-text"></i> ข้อมูลจังหวัด
                    </h4>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label>รหัสจังหวัด</label>&nbsp; <label class ="text-danger">*</label>
                            <input type="text" formControlName="provinceCode" id="provinceCode" pattern="[0-9]*"
                                   [maxlength]="10"
                                   placeholder="ระบุรหัสจังหวัด"
                                   class="form-control" readonly>
                            <div class="text-danger"
                                 *ngIf="!provinceForm.get('provinceGroup.provinceCode').valid && provinceForm.get('provinceGroup.provinceCode').touched">
                                กรุณากรอกรหัสจังหวัด.
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>ชื่อจังหวัด (ไทย)</label>&nbsp; <label class ="text-danger">*</label>
                            <input type="text" formControlName="provinceNameTh" id="provinceNameTh"
                                   placeholder="ระบุชื่อจังหวัด (ไทย)"
                                   class="form-control" readonly>
                            <div class="text-danger"
                                 *ngIf="!provinceForm.get('provinceGroup.provinceNameTh').valid && provinceForm.get('provinceGroup.provinceNameTh').touched">
                                กรุณากรอกชื่อจังหวัด(ไทย).
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>ชื่อจังหวัด (ภาษาอังกฤษ)</label>
                            <input type="text" formControlName="provinceNameEn" id="provinceNameEn"
                                   placeholder="ระบุชื่อจังหวัด (ภาษาอังกฤษ)"
                                   class="form-control" readonly>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>หมายเหตุ</label>
                            <textarea formControlName="comment" id="comment" rows="5"
                                      class="form-control" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table style="margin:auto;">
            <tr>
                <td>
                    <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5"
                            (click)="onBack()" id="back"><i
                            class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
