<div class="content">
    <div class="header-title mb-4">
        <h1><strong>คำนำหน้าชื่อ </strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / คำนำหน้าชื่อ</small>
        </h1>

    </div>
    <div class="card border-light mb-4">
        <div class="card-header">
            <h4 class="panel-title">
                <i class="header-title fa fa-file-text"></i> ค้นหา
            </h4>
        </div>
        <div class="card-body">
            <form [formGroup]="titleCodeForm" (ngSubmit)="onSubmit()">
                <div formGroupName="titleCodeGroup">
                    <div class="form-row">
                        <div class="form-group col-lg-8">
                            <label>คำนำหน้าชื่อ</label>
                            <input type="text" formControlName="description" id="description"
                                   placeholder="ระบุคำนำหน้าชื่อ"
                                   class="form-control">
                        </div>
                        <div class="form-group col-lg-2 reset-button">
                            <button type="submit" class="btn btn-success margin-top-10" id="list-search"><i
                                    class="fa fa-search"></i> ค้นหา
                            </button>
                        </div>
                        <div class="form-group col-lg-2 reset-button">
                            <button type="button" class="btn btn-warning margin-top-10"
                                    (click)="resetForm()" id="clear"><i
                                    class="fa fa-repeat"></i> ล้างค่า
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--    -->
    <div class="card border-light mb-4">
        <div class="card-header">
            <h4 class="panel-title">
                <i class="header-title fa fa-file-text"></i> ผลการค้นหา
            </h4>
        </div>
        <div class="card-body">
            <!--          <div style="padding-bottom: 10px">-->
            <!--            แสดงหน้าละ-->
            <!--            <select id="pageSize" [ngModel]="pageSize" (ngModelChange)="getPageSize($event)">-->
            <!--              <option value="5">5</option>-->
            <!--              <option value="10">10</option>-->
            <!--              <option value="15">15</option>-->
            <!--            </select>-->
            <!--            รายการ-->
            <!--          </div>-->

            <table class="table table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <th scope="col" class="text-center" width="10">ลำดับ</th>
                    <th scope="col" class="text-center" width="45">คำนำหน้าชื่อ</th>
                    <th scope="col" class="text-center" width="25">วันที่แก้ไข</th>
                    <th scope="col" class="text-center" width="10">ผู้แก้ไข</th>
                    <th scope="col" class="text-center" width="10"></th>
                </tr>
                </thead>
                <tbody>
                <tr
                        *ngFor="let CurrencyData of edcTitleCodeList | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: p, totalItems: total }; let i=index">
                    <td class="text-center" scope="row">{{ (this.p - 1) * this.pageSize + i + 1 }}</td>
                    <td class="text-left">{{CurrencyData.description || '-'}}</td>
                    <td class="text-center">{{(CurrencyData.updatedDate | thaidate: 'DD/MM/YYYY HH:mm:ss') || '-'}}</td>
                    <td class="text-left">{{CurrencyData.updatedBy || '-'}}</td>
                    <td class="text-center">
                        <a class="btn-orange btn-sm" id="view{{i}}" (click)="onView(CurrencyData)">
                            <i class="fa fa-eye" aria-hidden="true" title="ดูข้อมูล"></i>
                        </a>
                        <a class="btn-orange btn-sm" id="delete{{i}}" (click)="onDelete(CurrencyData)">
                            <i class="fa fa-trash" aria-hidden="true" title="ลบ"></i>
                        </a>
                    </td>
                </tr>
                <tr *ngIf="edcTitleCodeList.length === 0">
                    <td colspan="11" class="text-center"> ไม่พบข้อมูล</td>
                </tr>
                </tbody>
            </table>
            <div class="row">

                <div class="col-md-5 text-left">
                    แสดงผล
                    {{edcTitleCodeList.length}} จาก
                    {{total}} รายการ
                </div>
                <div class="col-md-7 text-right">
                    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
                </div>
            </div>
        </div>
    </div>

    <table style="margin:auto;">
        <tr>
          <td>
            <button type="button" class="btn btn-auto btn-green w-md m-b-5" [routerLink]="['import']" id="import"><i
              class="fa fa-plus"></i> &nbsp;นำเข้า
            </button>
          </td>
        </tr>
    </table>
</div>
