<div class="header-title">
  <h1><strong>จัดการประเภทภาษี</strong>
    <small class="pull-right"><a href="#" class="active">หน้าหลัก</a> /
      เพิ่ม/แก้ไข ประเภทภาษีอากร
    </small>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" >
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false">
      <div class="panel-heading">
        <div class="panel-title">
          <h4> เพิ่ม/แก้ไข ประเภทภาษีอากร</h4>
        </div>
      </div>
      <div class="panel-body">
        <form role="form" class="form-groups-bordered" [formGroup]="formTaxType"
                    (ngSubmit)="saveTaxType()">
        <div class="row">
          <div class="form-group col-lg-2">
            <label class="pull-right">ประเภทภาษีอากร<span class="red">*</span></label>
          </div>
          <div class="form-group col-lg-8">
            <input type="text"  class="form-control" id="taxTypeName" appIgnoreKey allowKey="thai&space" maxlength="255" 
            formControlName="taxTypeName" placeholder="ประเภทภาษีอากร" [ngClass]="{ 'is-invalid': taxTypeSubmit && field.taxTypeName.errors}">
            <div *ngIf="taxTypeSubmit && field.taxTypeName.errors" class="red">
              <div *ngIf="field.taxTypeName.errors.required">ประเภทภาษีอากร</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-2">
            <label class="pull-right">เอกสารแนบที่ต้องใช้<span class="red">*</span></label>
          </div>
          <div class="col-lg-8">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr role="row">
                    <th class="text-center"style="width: 100px"><input type="checkbox" formControlName="taxTypeCheckbox" data-md-icheck ng-true-value="1" ng-false-value="0" [ngClass]="{ 'is-invalid': taxTypeSubmit && taxTypeCheckboxControl.value == '0'}" (change)="checkAll($event)" name="chk[]"></th>
                    <th class="text-center" style="width: 200px">ชื่อเอกสารแนบ</th>
                  </tr>
                </thead>
                <tbody>
                        <tr>
                          <th class="text-center"><input type="checkbox" formControlName="taxTypeCheckbox" data-md-icheck ng-true-value="1" ng-false-value="0"id="myCheck" class="m-auto" ></th>
                          <td>ภาษีเงินได้บุคคลธรรมดา</td>
                        </tr>
                        <tr>
                          <th class="text-center"><input type="checkbox" formControlName="taxTypeCheckbox" data-md-icheck ng-true-value="1" ng-false-value="0" id="myCheck" class="m-auto" ></th>
                          <td>ภาษีเงินได้นิติบุคคล</td>
                        </tr>
                        </tbody>
              </table>
              <div *ngIf="taxTypeSubmit && taxTypeCheckboxControl.value == '0'" class="red">
                <div *ngIf="taxTypeSubmit && taxTypeCheckboxControl.value == '0'">กรุณาเลือกเอกสารแนบที่ต้องใช้</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="form-group col-lg-2 reset-button" *ngIf="status == null">
            <button type="submit" class="btn btn-green w-md m-b-5"><i class="fa fa-floppy-o"></i>
              &nbsp;บันทึก</button>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <button type="button" class="btn btn-danger w-md m-b-5" (click)="black()"><i class="fa fa-times"></i>
              ยกเลิก</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
