<div class="content">
    <div class="header-title mb-4">
        <h1><strong>แก้ไขค่าความคลาดเคลื่อน </strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> /
                <a [routerLink]="['/etl/discrepancy']" class="active">ค่าความคลาดเคลื่อน
                </a> / แก้ไขค่าความคลาดเคลื่อน
            </small>
        </h1>
    </div>

    <form [formGroup]="discrepancyForm" (ngSubmit)="onSubmit()">
        <div formGroupName="discrepancyGroup">
            <div class="card border-light mb-4">
                <div class="card-header">
                    <h4 class="panel-title">
                        <i class="header-title fa fa-file-text"></i> ข้อมูลค่าความคลาดเคลื่อน
                    </h4>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label>ประเภทของค่าความคลาดเคลื่อน</label>&nbsp; <label class="text-danger">*</label>
                            <select id="discrepancyType" formControlName="discrepancyType"
                                    class="form-control mdb-select md-form">
                                <option [value]="null" disabled>ประเภทของค่าความคลาดเคลื่อน</option>
                                <option value="01">ภาษีหัก ณ ที่จ่าย</option>
                                <option value="02">ภาษีมูลค่าเพิ่ม</option>
                                <option value="03">การแปลงสกุลเงิน</option>
                            </select>
                            <div class="text-danger"
                                 *ngIf="!discrepancyForm.get('discrepancyGroup.discrepancyType').valid && discrepancyForm.get('discrepancyGroup.discrepancyType').touched">
                              กรุณากรอกประเภทของค่าความคลาดเคลื่อน
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>ค่าความคลาดเคลื่อน ค่าบวก</label>&nbsp; <label class="text-danger">*</label>
                            <input type="number" formControlName="posAmount" id="posAmount" min="0" [maxlength]="6"
                                   class="form-control" oninput="javascript: if (this.value.length > this.maxLength)  this.value = this.value.slice(0, this.maxLength);"
                                   placeholder="ระบุค่าความคลาดเคลื่อน ค่าบวก">
                            <div class="text-danger"
                                 *ngIf="discrepancyForm.get('discrepancyGroup.posAmount').invalid && discrepancyForm.get('discrepancyGroup.posAmount').touched">
                                กรุณากรอกค่าความคลาดเคลื่อนค่าบวก
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>ค่าความคลาดเคลื่อน ค่าลบ</label>&nbsp; <label class="text-danger">*</label>
                            <input type="number" formControlName="minusAmount" id="minusAmount" min="0" [maxlength]="6"
                                   class="form-control" oninput="javascript: if (this.value.length > this.maxLength)  this.value = this.value.slice(0, this.maxLength);"
                                   placeholder="ระบุค่าความคลาดเคลื่อน ค่าลบ">
                            <div class="text-danger"
                                 *ngIf="discrepancyForm.get('discrepancyGroup.minusAmount').invalid && discrepancyForm.get('discrepancyGroup.minusAmount').touched">
                                กรุณากรอกค่าความคลาดเคลื่อนค่าลบ
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>วันที่มีผล</label>&nbsp; <label class="text-danger">*</label>
                            <input type="text" formControlName="effectiveDate" id="effectiveDate" [maxLength]="10"
                                   class="form-control"
                                   placeholder="ระบุวันที่มีผล"
                                   [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                   value="{{edcDiscrepancy.effectiveDate | thaidate: 'DD/MM/YYYY'}}"
                                   [minDate]="minDate"
                                   autocomplete="off"
                                   bsDatepicker>
                            <div class="text-danger"
                                 *ngIf="!discrepancyForm.get('discrepancyGroup.effectiveDate').valid && discrepancyForm.get('discrepancyGroup.effectiveDate').touched">
                                กรุณาระบุวันที่มีผล.
                            </div>
                        </div>
                      <div class="form-group col-lg-6">
                        <label>วันที่สิ้นสุด</label>
                        <input type="text" formControlName="endDate" id="endDate" [maxLength]="10"
                               class="form-control"
                               placeholder="ระบุวันที่สิ้นสุด"
                               [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                               value="{{edcDiscrepancy.endDate| date: 'dd/MM/yyyy'}}"
                               [minDate]="minDate" autocomplete="off"
                               bsDatepicker>
                      </div>
                        <div class="form-group col-lg-6">
                            <label>หมายเหตุ</label>
                            <textarea formControlName="remark" id="remark" rows="5"
                                      class="form-control"></textarea>
                        </div>
                    </div>
                    <table width="auto" border="0" cellspacing="10" cellpadding="0" style="margin:auto;">
                        <tr>
                            <td>
                                <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5"
                                        (click)="onBack()" id="back"><i
                                        class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-auto btn-orange2 w-md m-b-5" (click)="resetForm()" id="clear">
                                    <i
                                            class="fa fa-repeat"></i> ล้างข้อมูล
                                </button>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-auto btn btn-auto  btn-green w-md m-b-5" id="save"><i
                                        class="fa fa-floppy-o"></i> บันทึก
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
