<div class="header-title mb-4">
  <h1><strong>รายละเอียดคำร้องขอคืนเงินภาษีอากร ค.10</strong>
    <small class="pull-right"><a routerLink="/home" class="active">หน้าหลัก</a> /
      รายละเอียดคำร้องขอคืนเงินภาษีอากร ค.10
    </small>
  </h1>
</div>
<div class="card mb-4">
  <div class="card-header">
    <div class="justify-content-left">
      <h4>ข้อมูลผู้ขอคืนเงินภาษีอากร</h4>
    </div>
  </div>
  <div class="card-body">
    <app-tax-request-agent-detail *ngIf="taxRequestModel"
                                  [taxRequestModel]="taxRequestModel"></app-tax-request-agent-detail>
  </div>
</div>
<div class="card mb-4">
  <div class="card-header">
    <div class="justify-content-left">
      <h4>ข้อมูลขอคืนเงินภาษีอากร</h4>
    </div>
  </div>
  <div class="card-body">
    <app-tax-amount-request-detail *ngIf="taxRequestModel"
                                   [taxRequestModel]="taxRequestModel"></app-tax-amount-request-detail>
  </div>
</div>
<div class="card mb-4">
  <div class="card-header">
    <div class="justify-content-left">
      <h4>ตรวจสอบเอกสารแนบ</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th class="text-center" style="width: 100px">ลำดับ</th>
              <th class="text-center">ชื่อเอกสาร</th>
              <th class="text-center">ไฟล์เอกสารแนบ</th>
            </tr>
            </thead>
            <tbody *ngIf="documentRequestList.length != 0">
            <tr *ngFor="let docReq of documentRequestList; let index = index">
              <td class="text-center">{{index + 1}}</td>
              <td class="text-center">{{docReq.docRequestName}}</td>
              <td class="text-center">
                <a [tooltip]="'ดาวน์โหลดเอกสาร' + docReq.docRequestName"
                   [title]="'ดาวน์โหลดเอกสาร' + docReq.docRequestName">
                  <i class="fa fa-file"></i>
                </a>
              </td>
            </tr>
            </tbody>
            <tbody *ngIf="documentRequestList.length == 0">
            <tr>
              <td class="text-center" colspan="4">
                ไม่พบข้อมูล
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header ">
    <div class="justify-content-left">
      <h4> หน่วยงานที่รับผิดชอบ </h4>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th style="flex: 0.1">ลำดับ</th>
        <th style="flex: 0.1">รหัส-ชื่อหน่วยงานที่รับผิดชอบ</th>
        <th style="flex: 0.1">รหัส-ชื่อหน่วยงานที่โอนย้าย</th>
        <th style="flex: 0.1">วัน/เดือน/ปี โอนย้าย</th>
        <th style="flex: 0.1">มูลเหตุการโอนย้าย</th>
      </tr>
      </thead>
      <tbody >
        <tr>
          <td>1</td>
          <td>002-เจ้าหน้าที่สรรพากรพื้นที่พญาไท</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>2</td>
          <td>001-เจ้าหน้าที่สรรพากรพื้นที่จันทบุรี</td>
          <td>002-เจ้าหน้าที่สรรพากรพื้นที่พญาไท</td>
          <td>02/07/2562</td>
          <td>หน่วยงานรับผิดชอบไม่ถูกต้อง</td>
        </tr>
      </tbody>
    </table>
    <div class="row d-flex justify-content-center">
      <div class="form-group col-lg-2">
        <a [routerLink]="['/pps/request/tax-request/transfer-approval']" class="btn btn-success margin-top-10 text-white"> <i class="glyphicon glyphicon-check"></i> อนุมัติ </a>
      </div>
      <div class="form-group col-lg-2">
        <a (click)="openRejectModal(1, rejectModal)" class="btn btn-danger margin-top-10 text-white"><i class="glyphicon glyphicon-fast-backward"></i> ส่งกลับแก้ไข </a>
      </div>
      <div class="form-group col-lg-2">
        <a [routerLink]="['/pps/request/tax-request/transfer-approval']" class="btn btn-warning margin-top-10 text-white"><i class="glyphicon glyphicon-remove-circle"></i> ยกเลิก </a>
      </div>
    </div>
  </div>
</div>



<ng-template #rejectModal>
  <div class="modal-header">
    <i class="fa fa-laptop" aria-hidden="true"> ส่งกลับแก้ไขการโอนย้ายหน่วยงานที่รับผิดชอบ </i>
    <button type="button" class="close pull-right" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <br />
<!--    <form [formGroup]="vUserCertFormGroup">-->
      <div class="container">
        <div class="row">
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">หมายเหตุ :</label>
          </div>
          <div class="col-lg-10 text-sm-left">
            <textarea class="form-control">หน่วยงานรับผิดชอบไม่ถูกต้อง</textarea>
          </div>
        </div>
      </div>

<!--    </form>-->
  </div>
  <br />
  <div class="modal-footer">
    <div class="row justify-content-center col-lg-12">
      <div class="form-group col-lg-6 reset-button">
        <button type="button" class="btn btn-success w-md m-b-5" (click)="modalRef.hide()">
          <i class="fa fa-floppy-o"></i> บันทึก
        </button>
      </div>
      <div class="form-group col-lg-6 reset-button">
        <button type="button" class="btn btn-danger w-md m-b-5" (click)="modalRef.hide()">
          <i class="fa fa-times"></i> ยกเลิก
        </button>
      </div>
    </div>
  </div>
</ng-template>
