
<div class="content">

  <div class="header-title mb-4">
    <h1><strong>จัดการกลุ่มผู้ใช้และสิทธิ์ </strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / จัดการกลุ่มผู้ใช้และสิทธิ์</small></h1>
  </div>

  <div class="cheader-title mb-4">
      <div class="card-header">
          <h3><i class="fa fa-file-text"></i> แก้ไขกลุ่มสิทธิ์</h3>
      </div>
  

    <div class="panel-body">
      <form [formGroup]="form" (submit)="submit()">
        <!-- <div class="row"> -->
        <div class="form-group col-lg-4">
          <label for="code">รหัสกลุ่มสิทธิ์</label>
          <input type="text" class="form-control" name="code" id="code" formControlName="code" />
        </div>
        <div class="form-group col-lg-4">
          <label for="name">ชื่อกลุ่มสิทธิ์</label>
          <input type="text" class="form-control" name="name" id="name" formControlName="name" />
        </div>
        <div class="form-group col-lg-6">
            <label for="desc">คำอธิบาย</label>
            <textarea class="form-control" name="desc" id="desc" formControlName="desc" rows="5"> </textarea>
        </div>
        <!-- </div> -->
        
        <div class="row">
            <div class="form-check col-lg-12">
                <label for="desc">สถานะ</label>
                <div class="radio-inline">
                  <label for="status-a" class="form-check-label ml-2">
                    <input class="form-check-input" type="radio" name="status" id="status-a" value="ACTIVE"
                      formControlName="status"> เปิดใช้งาน
                  </label>
                </div>
                <div class="radio-inline">
                  <label for="status-i" class="form-check-label ml-2">
                    <input class="form-check-input" type="radio" name="status" id="status-i" value="INACTIVE"
                      formControlName="status"> ไม่ใช้งาน
                  </label>
                </div>
        
              </div>  
        </div>
        <div class="col-lg-12" formGroupName="permissions">
            <h3>จัดการสิทธิ์</h3>
            <table class="table table-striped">
              <tbody>
                <tr *ngFor="let p of programList">
                  <td>
                    <div class="row"></div>
                    <div class="col-lg-12">{{p.programName}}</div>
                    <div class="col-lg-12">
                      <ng-container  *ngFor="let ps of p.permissions">
                        <!-- <pre> {{ps | json}} </pre>
                        <pre> {{ps.permissionCode}}</pre> -->
                        <ng-container *ngIf="ps.permissionCode === 'HEAD'">
                          <span style="display: block;"></span>
                          <span >&nbsp;&nbsp;{{ps.permissionName}}</span>
                          <span style="display: block;"></span>
                        </ng-container>

                        <ng-container *ngIf="ps.permissionCode !== 'HEAD'">
                          <div class="form-check form-check-inline">
                            <label [for]="'check-' + ps.permissionId" class="form-check-label">
                              &nbsp;&nbsp;&nbsp;&nbsp;<input class="form-check-input" type="checkbox" [id]="'check-' + ps.permissionId"
                                [formControlName]="ps.permissionId">{{ps.permissionName}}
                            </label>
                          </div>
                        </ng-container>
                      </ng-container>
                    </div>
    
                  </td>
                </tr>
              </tbody>
            </table>
        </div>

        <br>
        <div class="row justify-content-center">
          <button type="submit" class="btn btn-success btn-auto" *ngIf="!disabled">บันทึก</button>
          <button type="button" class="btn btn-secondary btn-auto"
            [routerLink]="['/group-management']">ยกเลิก</button>
        </div>

      </form>
    </div>
  </div>
  
</div>
  

