<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>Monitor การคัดค้นและสร้างแบบ PDF ไฟล์โดยมี Digital Signature ของกรมสรรพากรกำกับ</h4>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ตั้งแต่วันที่สร้างไฟล์   <font color="red">* </font> </label>
          </div>
          <div class="form-group col-lg-4">
            <app-datepicker-th class="form-control-datepicker" 
              id="startDate" name="startDate"></app-datepicker-th>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ตั้งแต่เวลา</label>
          </div>
          <div class="form-group col-lg-4">
            <input type="text" value="" id="fromTime" class="form-control" name="fromTime" placeholder="09:30">
          </div>

          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ถึงวันที่สร้างไฟล์   <font color="red">* </font> </label>
          </div>
          <div class="form-group col-lg-4">
            <app-datepicker-th class="form-control-datepicker" 
              id="endDate" name="endDate"></app-datepicker-th>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ถึงเวลา</label>
          </div>
          <div class="form-group col-lg-4">
            <input type="text" value="" id="toTime" class="form-control" name="toTime" placeholder="10:00">
          </div>

          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ประเภทเอกสาร</label>
          </div>
          <div class="form-group col-lg-4">
            <select class="form-input form-control" id="docType" type="text" name="docType">
              <option value="">ทั้งหมด</option>
              <option value="wht">ใบรับรองการถูกหักภาษี ณ ที่จ่าย</option>
              <option value="donate">ใบเสร็จรับเงิน จากการรับบริจาค</option>
            </select>
          </div>
          <div class="form-group col-lg-2 pr-0">
          </div>
          <div class="form-group col-lg-4">
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="form-group col-lg-2 reset-button">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> ค้นหา</a>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <a href="." class="btn btn-warning margin-top-10"><i class="glyphicon glyphicon-repeat"></i> ล้างข้อมูล</a>
          </div>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th></th>
              <th>ลำดับ</th>
              <th>วันที่สร้างไฟล์</th>
              <th>Path ที่วางไฟล์</th>
              <th>ประเภทเอกสาร</th>
              <th>จำนวนไฟล์<br>ทั้งหมด</th>
              <th>จำนวนไฟล์<br>ที่สร้างสำเร็จ</th>
              <th>จำนวนไฟล์<br>ที่สร้างไม่สำเร็จ</th>
              <th>หมายเหตุ</th>
              <th>การดำเนินการ</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="center"><input type="checkbox" name="checkbox2" id="checkbox2"></td>
              <td align="center">1</td>
              <td align="center">15/8/2562</td>
              <td align="left">../20190814/Input</td>
              <td align="left">ใบรับรองการถูกหักภาษี ณ ที่จ่าย</td>
              <td align="right">200</td>
              <td align="right">100</td>
              <td align="right">100</td>
              <td align="left">โครงสร้างไฟล์ไม่ถูกต้อง</td>
              <td align="right"><input type="button" value="Retry"></td>
              <td bgcolor="red">
                <a href="mns/mnsp010601" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png"></a>
              </td>
            </tr>
            <tr>
              <td align="center"><input type="checkbox" name="checkbox2" id="checkbox2"></td>
              <td align="center">2</td>
              <td align="center">15/8/2562</td>
              <td align="left">../20190814/Input</td>
              <td align="left">ใบเสร็จรับเงิน</td>
              <td align="right">500</td>
              <td align="right">500</td>
              <td align="right">0</td>
              <td align="left">&nbsp;</td>
              <td align="right">&nbsp;</td>
              <td bgcolor="green">
                &nbsp;
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
