

.modal-header {
  margin: 5px 20px;
  padding: 0 20px;
  background-color: white;
  border: none;
}

.modal-body {
  margin: 10px 20px;
  padding: 20px;
  border: 1px solid lightskyblue;
}

.btn {
  font-size: 10px;
  padding: 5px;
}

.title {
  font-size: 16px;
  color: lightskyblue;
}

.column-title {
  padding: 0 15px;
}

.row {
  margin-bottom: 15px;
}
