<ng-container *ngIf="model !== undefined">
  <div class="modal-header">
    <h4 class="modal-title title mt-auto" id="modal-basic-title">รายละเอียดธุรกรรมยอดซื้อภาษีมูลค่าเพิ่ม (ภ.พ.36)</h4>
    <button type="button" class="btn btn-primary btn-auto" #printBtn>
      <i class="fa fa-print"></i> พิมพิ์
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <span class="title column-title">ผู้ประกอบการที่ขาย</span>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3 offset-sm-3">
        <p>ชื่อผู้ประกอบการ</p>
        <p><b>Shakil Whitworth</b></p>
      </div>
      <div class="col-12 col-sm-3">
        <p>เลขที่สาขา</p>
        <p><b>-</b></p>
      </div>
      <div class="col-12 col-sm-3">
        <p>ที่อยู่</p>
        <p><b>10 West 53 Street New York<br>United States</b></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <span class="title column-title">ผู้ประกอบการที่ซื้อ</span>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3">
        <p>เลขประจำตัวผู้เสียภาษีอากร</p>
        <p><b>{{ model.senderTaxId | replaceNullValue: '-' }}</b></p>
      </div>
      <div class="col-12 col-sm-3">
        <p>ชื่อผู้ประกอบการ</p>
        <p><b>{{ model?.firstname }} {{model?.lastname}}</b></p>
      </div>
      <div class="col-12 col-sm-3">
        <p>เลขที่สาขา</p>
        <p>
          <b>{{'00000'}}</b>
        </p>
      </div>
      <div class="col-12 col-sm-3">
        <p>ที่อยู่</p>
        <p><b>{{model?.houseNo}} {{model?.buildingName}} {{model?.floor}}
          {{model?.road}} {{model?.subDistrict}} {{model?.district}} {{model?.province}}
          {{model?.postcode}} {{model.countryNameTh}}</b></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <span class="title column-title">รายละเอียดการจ่ายเงิน</span>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3">
        <p>ข้อมูลบัญชี Prompt Pay ผู้ขาย</p>
        <p><b>{{ null | replaceNullValue: '-' }}</b></p>
      </div>
      <div class="col-12 col-sm-3">
        <p>ประเภทช่องทาง Prompt Pay ผู้ขาย</p>
        <p><b>-</b></p>
      </div>
      <div class="col-12 col-sm-3">
        <p>เลขที่บัญชีธนาคารผู้ขาย</p>
        <p><b>{{'370791736'}}</b></p>
      </div>
      <div class="col-12 col-sm-3">
        <p>ธนาคารผู้ขาย</p>
        <p><b>{{'FIRST STATE BANK OF BLAKELY'}}</b></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3">
        <p>ข้อมูลบัญชี Prompt Pay ผู้ซื้อ</p>
        <p><b>{{ null | replaceNullValue: '-' }}</b></p>
      </div>
      <div class="col-12 col-sm-3">
        <p>ประเภทช่องทาง Prompt Pay ผู้ซื้อ</p>
        <p><b>-</b></p>
      </div>
      <div class="col-12 col-sm-3">
        <p>เลขที่บัญชีธนาคารผู้ซื้อ</p>
        <p><b>{{'010 2 94649 5'}}</b></p>
      </div>
      <div class="col-12 col-sm-3">
        <p>ธนาคารผู้ซื้อ</p>
        <p><b>{{model.bankName}}</b></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3">
        <p>จำนวนเงิน</p>
        <p><b>{{ model.paymentAmount !== null ? (model.paymentAmount | number: '1.2') + ' บาท' : '-' }}</b></p>
      </div>
      <div class="col-12 col-sm-3">
        <p>ภาษีมูลค่าเพิ่ม</p>
        <p><b>{{model.vatAmount !== null ? (model.vatAmount | number: '1.2') + ' บาท' : '-'}}</b></p>
      </div>
      <div class="col-12 col-sm-3">
        <p>อัตาราภาษี</p>
        <p><b>{{'8%'}}</b></p>
      </div>
      <div class="col-12 col-sm-3">
        <p>วันที่ และเวลาที่จ่ายเงิน</p>
        <p><b>{{model.paymentDate | thaidate}}</b></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3">
        <p>ประเภทเงินได้</p>
        <p><b>504: ค่าสิทธิในสิทธิบัตร เครื่องหมายการค้า แบบหหรือหุ่นจำลอง แผนผัง สูตรลับ หรือกรรมวิธีลับใดๆ ตามมาตรา 40(3)</b></p>
      </div>
      <div class="col-12 col-sm-3">
        <p>หมายเลขอ้างอิงทำรายการ</p>
        <p><b>{{model.refNo}}</b></p>
      </div>
      <div class="col-12 col-sm-3">
        <p>หมายเลขเครื่อง EDC</p>
        <p><b>{{'-'}}</b></p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-3">
        <p>หมายเลขหน้าบัตรเดบิต/เครดิต</p>
        <p><b>{{ null | replaceNullValue: '-' }}</b></p>
      </div>
      <div class="col-12 col-sm-3">
        <p>ธนาคาร/หน่วยงาน ผู้ออกบัตร</p>
        <p><b>-</b></p>
      </div>
      <div class="col-12 col-sm-3">
        <p>ธนาคาร/หน่วยงาน ผู้รับชำระเงิน</p>
        <p><b>{{'-'}}</b></p>
      </div>
      <div class="col-12 col-sm-3">
        <p>รหัสร้านค้าที่รับชำระเงิน</p>
        <p><b>{{'-'}}</b></p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-3">
        <p>สาขาภาษีมูลค่าเพิ่มผู้จ่ายเงิน</p>
        <p><b>{{ null | replaceNullValue: '-' }}</b></p>
      </div>
      <div class="col-12 col-sm-3">
        <p>สาขาภาษีมูลค่าเพิ่มผู้รับเงิน</p>
        <p><b>-</b></p>
      </div>
    </div>

    <hr>
    <div class="row">
      <span class="title column-title">ข้อมูลแบบแสดงรายการ</span>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3">
        <p>แบบ</p>
        <p><b>ภ.พ.36</b></p>
      </div>
      <div class="col-12 col-sm-3">
        <p>ประเภทการยื่นแบบ</p>
        <p><b>{{'ยื่นปกติ'}}</b></p>
      </div>
    </div>
    <div class="row text-center d-block">
      <button type="button" class="btn btn-danger btn-auto" (click)="modalRef.hide()" #closeBtn>
        <i class="fa fa-close"></i> ปิด
      </button>
    </div>
  </div>
</ng-container>
