<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-center" style="font-weight:bold">ข้อมูลอ้างอิงใบกำกับภาษี กับใบเพิ่มหนี้/ใบลดหนี้</label>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> พิมพ์</a>
          </div>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th>ลำดับ<br>ที่<br>(1)</th>
              <th>วัน เดือน ปี<br>ที่ออก<br>ใบกำกับภาษี<br>(2)</th>
              <th>เลขที่ใบกำกับภาษี<br>(3)</th>
              <th>ชื่อผู้ซื้อสินค้า/ผู้รับบริการ<br>(4)</th>
              <th>เลขประจำตัวผู้เสียภาษี<br>อากรของผู้ซื้อ<br>สินค้า/ผู้รับบริการ<br>(5)</th>
              <th>สาขา<br>(6)</th>
              <th>ยอดขายที่ต้อง<br>เสียภาษี<br>VAT 7%<br>(7)</th>
              <th>ยอดขายที่ต้อง<br>เสียภาษี<br>VAT 0%<br>(8)</th>
              <th>ยอดขายที่<br>ยกเว้น VAT<br>(9)</th>
              <th>ภาษีขาย<br>(10)</th>
              <th>รวมมูลค้าสินค้า<br>และบริการ<br>(11)</th>
              <th>ประเภทเอกสาร<br>(12)</th>
              <th>อ้างอิงใบกำกับภาษี<br>(13)</th>
              <th>หมายเหตุ<br>(14)</th>
              <th>Signature Date<br>(15)</th>
              <th>แหล่งข้อมูล<br>(16)</th>
              <th>ดูข้อมูล<br>(17)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data2 of receiveData2">
              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.no}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.no}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.docDate}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.docDate}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.docId}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.docId}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.buyerName}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.buyerName}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.buyerTaxId}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.buyerTaxId}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.buyerBranchNo}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.buyerBranchNo}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.sellerTotalAmountVatSeven}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.sellerTotalAmountVatSeven}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.sellerTotalAmountVatZero}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.sellerTotalAmountVatZero}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.sellerTotalAmountAvoidVat}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.sellerTotalAmountAvoidVat}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.sellerTotalAmountVat}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.sellerTotalAmountVat}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.sellerGrandTotalAmount}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.sellerGrandTotalAmount}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.docName}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.docName}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.refDocId}} {{data2.refDocDate}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.refDocId}} {{data2.refDocDate}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.remark}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.remark}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.signatureDate}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.signatureDate}}</font></td>

              <td align="center" *ngIf="(data2.rowColor == 'B')">{{data2.sourceFlag}}</td>
              <td align="center" *ngIf="(data2.rowColor == 'R')"><font color="red">{{data2.sourceFlag}}</font></td>

              <td *ngIf="(data2.docCode == '388')">
                <a [routerLink]="['../../../../../../../../../../../../trsp010104/'+data2.nid+'/'+data2.branchNo+'/'+data2.fromMonth+'/'+data2.fromYear+'/'+data2.toMonth+'/'+data2.toYear+'/'+data2.month+'/'+data2.year+'/O/S/'+data2.docId]" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td *ngIf="(data2.docCode == '81')">
                <a [routerLink]="['../../../../../../../../../../../../trsp010105/'+data2.nid+'/'+data2.branchNo+'/'+data2.fromMonth+'/'+data2.fromYear+'/'+data2.toMonth+'/'+data2.toYear+'/'+data2.month+'/'+data2.year+'/O/S/'+data2.docId]" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td *ngIf="(data2.docCode == '80')">
                <a [routerLink]="['../../../../../../../../../../../../trsp010106/'+data2.nid+'/'+data2.branchNo+'/'+data2.fromMonth+'/'+data2.fromYear+'/'+data2.toMonth+'/'+data2.toYear+'/'+data2.month+'/'+data2.year+'/O/S/'+data2.docId]" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td *ngIf="(data2.docCode == 'T02')">
                <a [routerLink]="['../../../../../../../../../../../../trsp010107/'+data2.nid+'/'+data2.branchNo+'/'+data2.fromMonth+'/'+data2.fromYear+'/'+data2.toMonth+'/'+data2.toYear+'/'+data2.month+'/'+data2.year+'/O/S/'+data2.docId]" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td *ngIf="(data2.docCode == 'T03')">
                <a [routerLink]="['../../../../../../../../../../../../trsp010104/'+data2.nid+'/'+data2.branchNo+'/'+data2.fromMonth+'/'+data2.fromYear+'/'+data2.toMonth+'/'+data2.toYear+'/'+data2.month+'/'+data2.year+'/O/S/'+data2.docId]" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
              <td *ngIf="(data2.docCode == 'T04')">
                <a [routerLink]="['../../../../../../../../../../../../trsp010104/'+data2.nid+'/'+data2.branchNo+'/'+data2.fromMonth+'/'+data2.fromYear+'/'+data2.toMonth+'/'+data2.toYear+'/'+data2.month+'/'+data2.year+'/O/S/'+data2.docId]" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>

            <!--<tr>
              <td align="center">1</td>
              <td align="center">15/09/2559</td>
              <td align="center">RDTIV0575526000058005</td>
              <td align="left">บริษัท สินค้าหลากหลาย</td>
              <td align="center">1-1045-99001-90-2</td>
              <td align="center">00000</td>
              <td align="right">26,600.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">1,862.00</td>
              <td align="right">28,462.00</td>
              <td align="center">ใบกำกับภาษี</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center">16/09/2559 11.25</td>
              <td align="center">1</td>
              <td>
                <a href="trs/trsp020117" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>
            
            <tr>
              <td align="center">2</td>
              <td align="center">16/10/2559</td>
              <td align="center">RDDCN0575526000058007</td>
              <td align="left">บริษัท สินค้าหลากหลาย</td>
              <td align="center">1-1045-99001-90-2</td>
              <td align="center">00000</td>
              <td align="right">5,100.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">357.00</td>
              <td align="right">5,457.00</td>
              <td align="center">ใบเพิ่มหนี้</td>
              <td align="center">RDTIV0575526000058005<br>4/10/2559</td>
              <td align="center">คำนวณราคาสินค้าผิดพลาด<br>ต่ำกว่าที่เป็นจริง</td>
              <td align="center">16/10/2559 11.00</td>
              <td align="center">1</td>
              <td>
                <a href="trs/trsp020119" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>-->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-12 pr-0" *ngIf="receiveData2.length == 1">
            <label class="pull-left"><font color="orchid" *ngFor="let data2 of receiveData2">** ไม่พบข้อมูลใบกำกับภาษี เลขที่ {{data2.refDocId}} ในระบบ e-Tax Invoice & e-Receipt</font></label>
          </div>
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left">หมายเหตุ</label>
          </div>
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left">แหล่งข้อมูล</label>
          </div>
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-left">1 = e-Tax Invoice & e-Receipt</label>
          </div>
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left"></label>
          </div>
          <div class="form-group col-lg-1 pr-0">
            <label class="pull-left"></label>
          </div>
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-left">2 = e-Tax Invoice By Email</label>
          </div>
        </div>
      </div>
  </div>
</div>
