<section class="content">
  <div class="header-title mb-4e">
    <h1><strong>รายการรอติดตั้ง</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / รายการรอติดตั้ง</small></h1>
  </div>
  <div class="card mb-4">
      <div class="card-header">
          <h4><i class="header-title fa fa-file-text"></i>แบบคำขอใบรับรองอิเล็กทรอนิกส์</h4>
      </div>
      <div class="card-body">
          <form >
              <div class="row">
                <div class="form-group col-lg-4">
                  <label>เลขที่ใบคำขอ:</label>
                  <input type="text" class="form-control" name="reqId" id="reqId" formControlName="reqId"
                    placeholder="เลขที่ใบคำขอ">
                </div>
                <div class="form-group col-lg-4">
                  <label>เลขประจำตัวผู้เสียภาษีอากร:</label>
                  <input type="text" class="form-control" name="nid" id="nid" formControlName="nid"
                    placeholder="เลขประจำตัวผู้เสียภาษีอากร">
                </div>
                <div class="form-group col-lg-4">
                  <label>ชื่อผู้เสียภาษีอากร:</label>
                  <input type="text" class="form-control" name="name" id="name" formControlName="name"
                    placeholder="ชื่อผู้เสียภาษีอากร">
                </div>
                <!-- <div class="form-group col-lg-4">
                  <label>ตั้งแต่วันที่ยื่นคำขอ:</label>
                  <input type="text" class="form-control" #dp="bsDatepicker" placeholder="วัน/เดือน/ปี"
                    formControlName="startRequestedDate" [bsConfig]="bsConfig" bsDatepicker>
                </div>
                <div class="form-group col-lg-4">
                  <label>ถึงวันที่ยื่นคำขอ:</label>
                  <input type="text" class="form-control" #dp="bsDatepicker" placeholder="วัน/เดือน/ปี"
                    formControlName="endRequestedDate" [minDate]="minDate"
                    (click)="minMaxDate(this.searchVUserCertCriteria.get('startRequestedDate').value)"
                    [bsConfig]="bsConfig" bsDatepicker>
                </div> -->
                <div class="form-group col-lg-4">
                  <label>ตั้งแต่วันที่ยื่นคำขอ</label>
                  <app-datepicker-th class="form-control-datepicker" formControlName="startRequestedDate"
                    id="startRequestedDate" name="startRequestedDate" ></app-datepicker-th>
                </div>
                <div class="form-group col-lg-4">
                  <label>ถึงวันที่ยื่นคำขอ</label>
                  <app-datepicker-th class="form-control-datepicker" formControlName="endRequestedDate"
                    id="endRequestedDate" name="endRequestedDate" ></app-datepicker-th>
                </div>
              </div>
              <div class="row justify-content-center">
                  <div class="form-group col-lg-2 reset-button">
                      <button type="submit" class="btn btn-success margin-top-10">
                        <i class="glyphicon glyphicon-search"></i> ค้นหา
                      </button>
                    </div>
                    <div class="form-group col-lg-2 reset-button">
                      <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
                        <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
                      </button>
                    </div>
              </div>
            </form>
      </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <h4><i class="fa fa-list"></i> ผลการค้นหา</h4>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                  <tr role="row">
                    <th scope="col" style="width: 50px">#</th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('REQ_ID')" style="cursor: pointer" title="เลขที่ใบคำขอ" tooltip="เลขที่ใบคำขอ">
                        เลขที่ใบคำขอ
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'REQ_ID'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('NID')" style="cursor: pointer" title="เลขประจำตัวผู้เสียภาษีอากร" tooltip="เลขประจำตัวผู้เสียภาษีอากร">
                        เลขประจำตัวผู้เสียภาษีอากร
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'NID'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('NAME')" style="cursor: pointer" title="ชื่อผู้เสียภาษีอากร" tooltip="ชื่อผู้เสียภาษีอากร">
                        ชื่อผู้เสียภาษีอากร
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'NAME'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('REQUESTED_DATE')" style="cursor: pointer" title="วันที่ยื่นคำขอ" tooltip="วันที่ยื่นคำขอ">
                        วันที่ยื่นคำขอ
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'REQUESTED_DATE'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('REQUEST_TYPE_DESC')" style="cursor: pointer" title="แบบคำขอ" tooltip="แบบคำขอ">
                        แบบคำขอ
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'REQUEST_TYPE_DESC'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('DEVICE_TYPE_NAME')" style="cursor: pointer" title="อุปกรณ์ที่จัดเก็บ" tooltip="อุปกรณ์ที่จัดเก็บ">
                        อุปกรณ์ที่จัดเก็บ
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'DEVICE_TYPE_NAME'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('CERTIFICATE_TYPE_NAME')" style="cursor: pointer" title="ชนิด Certificate" tooltip="ชนิด Certificate">
                        ชนิด Certificate
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'CERTIFICATE_TYPE_NAME'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('USER_TYPE_NAME')" style="cursor: pointer" title="กลุ่มผู้ใช้งาน" tooltip="กลุ่มผู้ใช้งาน">
                        กลุ่มผู้ใช้งาน
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'USER_TYPE_NAME'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('APPROVAL_STATUS_NAME')" style="cursor: pointer" title="สถานะอนุมัติ" tooltip="สถานะอนุมัติ">
                        สถานะอนุมัติ
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'APPROVAL_STATUS_NAME'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr role="row" class="odd" >
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-orange btn-sm btn-auto"
                          (click)="showPopup(0, awaitingModal)" tooltip="ติดตั้งใบรับรองอิเล็กทรอนิกส์">
                          <i class="fa fa-download" aria-hidden="true"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr >
                    <td colspan="10" class="text-center" *ngIf="false"> ไม่พบข้อมูล</td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-sm-5">
                  <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
                    แสดงผล
                    {{pageResponse.numberOfElements}} จาก
                    {{pageResponse.totalPages}} รายการ
                  </div>
                </div>
                <div class="col-sm-7 text-right">
                    แสดงหน้าละ
                    <select (change)="changeRowLimits($event)" style="padding: 5px;">
                      <option *ngFor="let limit of rowLimits">{{limit.key}}</option>
                    </select>
                    &nbsp;&nbsp;
                    <pagination style="float: right;" [boundaryLinks]="true" [totalItems]="pageResponse.totalPages"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [rotate]="true"
                      [maxSize]="5" [(ngModel)]="pageRequest.page" (pageChanged)="pageChange($event,limit)" (limit)="limit"
                      [itemsPerPage]="pageResponse.size" aria-label="Default pagination"></pagination>
                  </div>
              </div>
        </div>
      </div>

  <ng-template #awaitingModal>
    <div class="modal-header">
      <i class="fa fa-laptop" aria-hidden="true"> เลือกรูปแบบการติดตั้งใบรับรองอิเล็กทรอนิกส์ลงอุปกรณ์ </i>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <br />
      <form [formGroup]="vUserCertFormGroup">
        <div class="container">
          <div class="row ">
            <div class="col-sm text-center">
              <button type="button" class="btn btn-outline-info btn-lg" [ngClass]="{ 'active' : selectedDevice == 'Token' }" (click)="toggleToken()">
                <i class="fa fa-usb" aria-hidden="true"></i> <p>Token</p>
              </button>
            </div>
            <div class="col-sm">
              <button type="button" class="btn btn-outline-info btn-lg" [ngClass]="{ 'active' : selectedDevice == 'USB' }" (click)="toggleUSB()">
                <i class="fa fa-usb" aria-hidden="true"></i> <p>USB</p>
              </button>
            </div>
          </div>
        </div>

        <div class="container custom-selected-drive" *ngIf="selectedDevice == 'USB' ">
            <div class="card" style="width: 28em;">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item">
                  <a class="nav-link" href="#">กรุณาเลือกไดร์ฟสำหรับติดตั้ง</a>
                </li>
                  <li class="nav-item">
                    <button (click)="getDrivesList()" class="btn-sm"> รีโหลดไดร์ฟ
                      <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                  </li>
                </ul>
              </div>
              <ul class="list-group list-group-flush" *ngFor="let u of usbDrive">
                <li class="list-group-item">
                  <button class="btn btn-outline-info btn-lg box-shadow&#45;&#45;4dp text-left"
                          [ngClass]="{ 'active' : selectedDrive == u.drive }"
                          (click)="selectDrive(u.drive)">
                    <i class="fa fa-desktop" aria-hidden="true"></i>
                    &nbsp;&nbsp;{{u.drive}}</button>
                </li>
              </ul>
              <ul>
                <div class="form-group" style="padding-top:20px">
                  <input type="text" class="form-control col-lg-10" (keyup)="manualDriveTyping($event)" placeholder="หรือระบุไดร์ฟที่ต้องการ เช่น ExternalDisk\">
                </div>
              </ul>
            </div>
        </div>
        <p class="red text-center" *ngIf="invalidDrive">{{warningMsg}}</p>
      </form>
    </div>
    <br />
    <div class="modal-footer">
        <div class="row justify-content-center col-lg-12">
            <div class="form-group col-lg-6 reset-button">
                <button type="button" class="btn btn-success w-md m-b-5"  *ngIf="authenService.hasAnyPermission(['DCSP020200.UPDATE'])" (click)="save()">
                    <i class="fa fa-floppy-o"></i> บันทึก
                </button>
              </div>
              <div class="form-group col-lg-6 reset-button">
                <button type="button" class="btn btn-danger w-md m-b-5" (click)="modalRef.hide()">
                    <i class="fa fa-times"></i> ยกเลิก
                </button>
              </div>
            </div>
    </div>
  </ng-template>
</section>
