
<section class="content">
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-bd lobidisable">
          <div class="panel-heading">
            <div class="modal-header">
              <h3><i class="fa fa-window"></i> {{title}}</h3>
            </div>
          </div>

          <div class="panel-body no-padding"></div>

          <div class="panel-body">
            <div class="modal-body" *ngIf="content !== undefined">
                <h4>{{content}}</h4>
            </div>
          </div>

          <div class="modal-footer">
            <div class="row text-center">
              <button id="{{idButtonTrue}}" type="button" class="btn btn-primary btn-auto" (click)="answer(true)">ตกลง</button>
              <button id="{{idButtonFalse}}" type="button" class="btn btn-outline-dark btn-auto" (click)="answer(false)">ยกเลิก</button>
            </div>
          </div>
        </div>
      </div>

    </div>
</section>
<!--
<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
  <p>{{content}}</p>
</div>
<div class="modal-footer">
  <div class="row text-center">
    <button type="button" class="btn btn-primary btn-auto" (click)="answer(true)">ตกลง</button>
    <button type="button" class="btn btn-outline-dark btn-auto" (click)="answer(false)">ยกเลิก</button>
  </div>
</div> -->
