<div class="content">
  <div class="header-title mb-4">
    <h1><strong>เพิ่มประเภทรายได้ของผู้รับเงินอยู่ในประเทศ</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a
        [routerLink]="['/etl/domestic-income-type']"
        class="active">ประเภทรายได้ของผู้รับเงินอยู่ในประเทศ</a>
        / ประเภทรายได้ของผู้รับเงินอยู่ในประเทศ
      </small>
    </h1>
  </div>

  <form [formGroup]="domesticIncomeTypeForm" (ngSubmit)="onSubmit()">
    <div formGroupName="domesticIncomeTypeGroup">
      <div class="card border-light mb-4">
        <div class="card-header">
          <h4 class="panel-title">
            <i class="header-title fa fa-file-text"></i> ข้อมูลประเภทรายได้ของผู้รับเงินอยู่ในประเทศ
          </h4>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-lg-6">
              <label>รหัสประเภทรายได้</label>&nbsp; <label class="text-danger">*</label>
              <input type="text" formControlName="incomeCode" id="incomeCode" [maxlength]="5"
                     class="form-control"
                     placeholder="ระบุรหัสประเทศรายได้">
              <div class="text-danger"
                   *ngIf="domesticIncomeTypeForm.get('domesticIncomeTypeGroup.incomeCode').value == null && domesticIncomeTypeForm.get('domesticIncomeTypeGroup.incomeCode').touched">
                กรุณาระบุรหัสประเภทรายได้.
              </div>
              <div class="text-danger"
                   *ngIf="domesticIncomeTypeForm.get('domesticIncomeTypeGroup.incomeCode').value == '' && domesticIncomeTypeForm.get('domesticIncomeTypeGroup.incomeCode').touched">
                กรุณาระบุรหัสประเภทรายได้.
              </div>
              <div class="text-danger"
                   *ngIf="!domesticIncomeTypeForm.get('domesticIncomeTypeGroup.incomeCode').valid && domesticIncomeTypeForm.get('domesticIncomeTypeGroup.incomeCode').touched && domesticIncomeTypeForm.get('domesticIncomeTypeGroup.incomeCode').value != '' && domesticIncomeTypeForm.get('domesticIncomeTypeGroup.incomeCode').value != null">
                รองรับเฉพาะตัวเลข เท่านั้น.
              </div>

            </div>

            <div class="form-group col-lg-6">
              <label>ชื่อประเภทรายได้ (ภาษาไทย)</label>&nbsp; <label class="text-danger">*</label>
              <input type="text" formControlName="incomeNameTh" id="incomeNameTh" [maxlength]="150"
                     class="form-control"
                     placeholder="ระบุชื่อประเภทรายได้ (ภาษาไทย)">
<!--              <div class="text-danger"-->
<!--                   *ngIf="!domesticIncomeTypeForm.get('domesticIncomeTypeGroup.incomeNameTh').valid && domesticIncomeTypeForm.get('domesticIncomeTypeGroup.incomeNameTh').touched">-->
<!--                กรุณาระบุชื่อประเภทรายได้ (ภาษาไทย).-->
<!--              </div>-->
              <div class="text-danger"
                   *ngIf="domesticIncomeTypeForm.get('domesticIncomeTypeGroup.incomeNameTh').touched && domesticIncomeTypeForm.get('domesticIncomeTypeGroup.incomeNameTh').value == null">
                กรุณากรอกประเภทรายได้ (ภาษาไทย).
              </div>
              <div class="text-danger"
                   *ngIf="domesticIncomeTypeForm.get('domesticIncomeTypeGroup.incomeNameTh').touched && domesticIncomeTypeForm.get('domesticIncomeTypeGroup.incomeNameTh').value == '' ">
                กรุณากรอกประเภทรายได้ (ภาษาไทย).
              </div>
            </div>

            <div class="form-group col-lg-6">
              <label>ชื่อประเภทรายได้ (ภาษาอังกฤษ)</label>&nbsp; <label class="text-danger">*</label>
              <input type="text" formControlName="incomeNameEn" id="incomeNameEn" [maxlength]="150"
                     class="form-control"
                     placeholder="ระบุชื่อประเภทรายได้ (ภาษาอังกฤษ)">
              <div class="text-danger"
                   *ngIf="!domesticIncomeTypeForm.get('domesticIncomeTypeGroup.incomeNameEn').valid && domesticIncomeTypeForm.get('domesticIncomeTypeGroup.incomeNameEn').touched">
                กรุณากระบุชื่อประเภทรายได้ (ภาษาอังกฤษ).
              </div>
            </div>

            <div class="form-group col-lg-6">
              <label>วันที่มีผล</label>&nbsp; <label class="text-danger">*</label>
              <input type="text" formControlName="effectiveDate" id="effectiveDate"
                     class="form-control"
                     placeholder="ระบุวันที่มีผล"
                     [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                     [minDate]="minDate" autocomplete="off"
                     [ngClass]="{'is-invalid': !domesticIncomeTypeForm.get('domesticIncomeTypeGroup.effectiveDate').valid && domesticIncomeTypeForm.get('domesticIncomeTypeGroup.effectiveDate').touched}"
                     bsDatepicker>
              <div class="text-danger"
                   *ngIf="!domesticIncomeTypeForm.get('domesticIncomeTypeGroup.effectiveDate').valid && domesticIncomeTypeForm.get('domesticIncomeTypeGroup.effectiveDate').touched">
                กรุณาระบุวันที่มีผล.
              </div>
            </div>

            <div class="form-group col-lg-6">
              <label>วันที่สิ้นสุด</label>
              <input type="text" formControlName="endDate" id="endDate"
                     class="form-control"
                     placeholder="ระบุวันที่สิ้นสุด"
                     [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                     [minDate]="minDate" autocomplete="off"
                     bsDatepicker>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div formGroupName="tableGroup">
      <div class="card border-light mb-4">
        <div class="card-header">
          <h4 class="panel-title">
            <i class="header-title fa fa-file-text"></i> รายละเอียดประเภทรายได้ของผู้รับเงินอยู่ในประเทศ
          </h4>
        </div>
        <div class="card-body">
          <table class="table table-sm table-bordered">
            <thead>
            <tr>
              <th scope="col" class="text-center">ลำดับ</th>
              <th scope="col" class="text-center">ประเภทผู้หัก</th>
              <th scope="col" class="text-center">ประเภทผู้ถูกหัก</th>
              <th scope="col" class="text-center">ประเภทอัตราภาษี</th>
              <th scope="col" class="text-center">อัตราภาษี</th>
              <th scope="col" class="text-center">ประเภทแบบ</th>
              <th scope="col" class="text-center">มาตรา</th>
            </tr>
            </thead>
            <!--                         -->

            <tbody>
            <tr formArrayName="tableList"
                *ngFor="let item of domesticIncomeTypeFormTemp.controls; let i = index;">
              <td class="text-center" [formGroupName]="i">
                {{i + 1}}
              </td>
              <td class="text-center" [formGroupName]="i" width="15%">
                <select name="type-data" class="form-control"
                        formControlName="agentTaxPayerType" id="agentTaxPayerType_{{i}}" disabled>
                  <option *ngFor="let dv of EdcFilterCodeList"
                          [value]="dv.code">{{dv.description}}</option>
                </select>
              </td>
              <td class="text-center" [formGroupName]="i" width="15%">
                <select name="type-data" class="form-control"
                        formControlName="taxPayerType" id="taxPayerType_{{i}}" disabled>
                  <option *ngFor="let dv of EdcFilterCodeList"
                          [value]="dv.code">{{dv.description}}</option>
                </select>
              </td>
              <td class="text-center" [formGroupName]="i" width="23%">
                <select name="type-data" class="form-control"
                        formControlName="rateType" id="rateType_{{i}}">
                  <option *ngFor="let dv of TaxRateTypeList"
                          [value]="dv.code">{{dv.description}}</option>
                </select>

              </td>
              <td class="text-center" [formGroupName]="i" width="10%">
                <input type="number" formControlName="whtRate" id="whtRate_{{i}}"
                       [readOnly]="this.domesticIncomeTypeForm.value.tableGroup.tableList[i].rateType != '3'"
                       [ngModel]="this.domesticIncomeTypeForm.value.tableGroup.tableList[i].rateType === '3' ? 0 : null"
                       class="form-control" [min]="0">

              </td>

              <td [formGroupName]="i">
                <select name="type-data" class="form-control" width="17%"
                        formControlName="pnd" id="pnd_{{i}}">
                  <option [value]="null">เลือก ภ.ง.ด</option>
                  <option *ngFor="let dv of PndList" [value]="dv.code">{{dv.description}}</option>
                </select>

              </td>
              <td [formGroupName]="i">
                <select name="type-data" class="form-control" width="20%"
                        formControlName="sectionId" id="sectionId_{{i}}">
                  <option [value]="null">เลือก มาตรา</option>
                  <!--                                    <option *ngFor="let dv of SectionList" [value]="dv.id">{{dv.sectionName}}</option>-->
                  <option *ngFor="let dv of findSectionListByPnd(item.controls.pnd.value)"
                          [value]="dv.id">{{dv.sectionName}}</option>

                </select>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <table style="margin:auto;">
      <tr>
        <td>
          <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5"
                  (click)="onBack()" id="back"><i
            class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-auto btn-orange2 w-md m-b-5" (click)="resetForm()" id="clear"><i
            class="fa fa-repeat"></i> ล้างข้อมูล
          </button>
        </td>
        <td>
          <button type="submit" class="btn btn-auto btn btn-auto  btn-green w-md m-b-5" id="save"><i
            class="fa fa-floppy-o"></i> บันทึก
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>

