<div class="header-title">
  <h1><strong>รายงานสรุปแบบคำร้องขอคืนเงินภาษีอากรทุกประเภทภาษี (ค.10)</strong>
    <small class="pull-right"><a href="home.html" class="active">หน้าหลัก</a> /
      รายงานสรุปแบบคำร้องขอคืนเงินภาษีอากรทุกประเภทภาษี (ค.10)
    </small>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <h4><img src="assets/dist/img/search_icon.png">รายงานสรุปแบบคำร้องขอคืนเงินภาษีอากรทุกประเภทภาษี (ค.10)</h4>
        </div>
      </div>

      <div class="panel-body">

        <div class="row">
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ประเภทภาษีอากร : <span class="red">*</span></label>
          </div>
          <div class="form-group col-lg-4">
            <select class="form-input form-control" type="text" name="">
              <option value="">กรุณาเลือก</option>
            </select>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12 col-lg-2 text-sm-right text-left">
            <label>วันที่ จาก : <span class="red">*</span></label>
          </div>
          <div class="col-12 col-lg-4 text-left">
            <app-datepicker-th formControlName="startDate" [maxDate]="(startDateControl.value == endDateControl.value) ? null : endDateControl.value"
                               #startDate [borderDanger]="startDateControl.invalid && startDateControl.touched"  (valueOnchange)=dateChange()>
            </app-datepicker-th>
            <div class="red error-msg" *ngIf="startDateControl.hasError('required') && startDateControl.touched">
              กรุณาระบุวันที่เริ่มต้น
            </div>
          </div>

          <div class="col-12 col-lg-1 text-sm-right text-left">
            <label>ถึง : <span class="red">*</span></label>
          </div>
          <div class="col-12 col-sm-4 text-left">
            <app-datepicker-th formControlName="endDate"  [minDate]="startDateControl.value"
                               [borderDanger]="endDateControl.invalid && endDateControl.touched" [borderDanger]="endDateControl.invalid && endDateControl.touched" #endDate>
            </app-datepicker-th>
            <div class="red error-msg" *ngIf="endDateControl.hasError('required') && endDateControl.touched">
              กรุณาระบุวันที่สิ้นสุด
            </div>
          </div>
        </div>

        <div class="col-12  text-center">
          <label class="radio-inline">
            <input type="radio" name="reportType" formControlName="reportType" value="1" checked> PDF
          </label>
          &nbsp;
          <label class="radio-inline">
            <input type="radio" name="reportType" formControlName="reportType" value="2" > EXCEL
          </label>
        </div>

        <div class="row d-flex justify-content-center">
          <div class="form-group col-lg-2 reset-button">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> ออกรายงาน</a>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <a href="#" class="btn btn-warning margin-top-10"><i class="glyphicon glyphicon-repeat"></i> ล้างข้อมูล</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
