<section class="content">
  <div class="header-title">
    <h1><strong>เงื่อนไขการตรวจสอบรายได้</strong>
    <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / ค้นหาเงื่อนไขการตรวจสอบรายได้</small></h1>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading">
          <div class="panel-title">
            <h3><i class="fa fa-file-text"></i> ค้นหาเงื่อนไขการตรวจสอบรายได้</h3>
          </div>
        </div>

        <div class="panel-body no-padding"></div>

        <div class="panel-body">
            <!-- class="form-horizontal form-groups-bordered"  -->
          <form role="form" [formGroup]="searchCondition" (ngSubmit)="getData()">
            <div class="row form-group">
              <div class="ccol-12 col-sm-4 text-sm-right text-left">
                <label>ปีภาษี : </label>
              </div>
              <div class="col-12 col-sm-4 text-left">
                <select class="form-control" id="year" formControlName="year">
                  <option value="">ทั้งหมด</option>
                  <option *ngFor="let item of taxYearList" [value]="item">{{item}}</option>
                </select>
              </div>
            </div>

            <div class="row form-group">
              <div class="form-group col-lg-4"></div>
              <div class="form-group col-lg-2 reset-button">
                <button type="submit" *ngIf="authService.hasAnyPermission(['GWSP030300.VIEW'])" class="btn btn-success margin-top-10">
                  <i class="glyphicon glyphicon-search"></i> ค้นหา
                </button>
              </div>
              <div class="form-group col-lg-2 reset-button">
                <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
                  <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading clearfix">
          <div class="panel-title">
            <h3><i class="fa fa-list"></i> ผลการค้นหา</h3>
          </div>
        </div>

        <div class="panel-body">
          <div class="form-group col-lg-12">
            <div class="form-group" style="float:right">
              <button type="button" *ngIf="authService.hasAnyPermission(['GWSP030300.ADD'])" class="btn btn-orange2 margin-top-10" (click)="goToAdd()" style="width: 100%">
                <i class="fa fa-plus"></i> เพิ่ม
              </button>
              <div class="clear"></div>
              <br />
              <div>
                แสดงหน้าละ
                <select (change)="changeRowLimits($event)">
                  <option *ngFor="let limit of rowLimits" [value]="limit.value">{{limit.key}}</option>
                </select>
                รายการ
              </div>
            </div>
          </div>

          <table id="example" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
              <tr role="row">
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">
                  <a (click)="sort('YEAR')" style="cursor: pointer" title="ปีภาษี" tooltip="ปีภาษี">
                      ปีภาษี
                  </a>
                  <ng-container *ngIf="pageRequest.sortFieldName === 'YEAR'">
                    <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                  </ng-container>
                </th>
                <th scope="col" class="text-center">
                  <a (click)="sort('START_DATE,END_DATE')" style="cursor: pointer" title=" ระยะเวลาการรับเรื่องอุทธรณ์ (วันที่เริ่มต้น-วันที่สิ้นสุด)" tooltip=" ระยะเวลาการรับเรื่องอุทธรณ์ (วันที่เริ่มต้น-วันที่สิ้นสุด)">
                    ระยะเวลาการรับเรื่องอุทธรณ์
                    (วันที่เริ่มต้น-วันที่สิ้นสุด)
                  </a>
                  <ng-container *ngIf="pageRequest.sortFieldName === 'START_DATE,END_DATE'">
                    <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                  </ng-container>
                </th>
                <th scope="col" class="text-center">
                  <a (click)="sort('INCOME')" style="cursor: pointer" title="เกณฑ์รายได้(บาท) " tooltip="เกณฑ์รายได้(บาท) ">
                      เกณฑ์รายได้(บาท)
                  </a>
                  <ng-container *ngIf="pageRequest.sortFieldName === 'INCOME'">
                    <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                  </ng-container>
                </th>
                <th scope="col" class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr role="row" class="odd" *ngFor="let v of pageResponse.content; index as i">
                <td class="text-center">{{((pageRequest.page-1)*(pageResponse.size))+(i + 1)}}</td>
                <td class="text-center">{{v.year != null && v.year != undefined ? v.year : ''}}</td>
                <td class="text-center">{{v.startDate | thaidate : 'DD/MM/YYYY'}} - {{v.endDate | thaidate : 'DD/MM/YYYY'}}</td>
                <td class="text-right">{{v.income | number }}</td>
                <td class="text-center">
                  <div class="btn-group">
                    <button type="button" *ngIf="authService.hasAnyPermission(['GWSP030300.UPDATE'])" class="btn btn-orange btn-sm btn-auto" (click)="goToEdit(v)" tooltip="แก้ไข" >
                      <i class="fa fa-pencil-square-o"></i>
                    </button>
                  </div>
                </td>
              </tr>
              <tr *ngIf="!pageResponse.content || pageResponse?.content?.length === 0">
                <td colspan="5" class="text-center"> ไม่พบข้อมูล</td>
              </tr>
            </tbody>
          </table>

          <div class="row">
            <div class="col-sm-5">
              <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
                แสดงผล
                {{pageResponse.numberOfElements}} จาก
                {{pageResponse.totalPages}} รายการ
              </div>
            </div>
            <div class="col-sm-7 text-right">
              <pagination style="float: right;" [totalItems]="pageResponse.totalPages" previousText="ก่อนหน้า"
                nextText="ถัดไป" [rotate]="true" [maxSize]="5" [(ngModel)]="pageRequest.page"
                (pageChanged)="pageChange($event,limit)" (limit)="limit" [itemsPerPage]="pageResponse.size"
                aria-label="Default pagination"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-float-button ></app-float-button>
</section>

