<section class="content">
  <div class="header-title mb-4">
    <h1>
      <strong>รายการขอลงทะเบียนข้อมูลต้นแบบ XML และ PDF Template</strong>
      <small class="pull-right"
        ><a href="" class="active">หน้าหลัก</a> / รายการขอลงทะเบียนข้อมูลต้นแบบ
        XML และ PDF Template</small
      >
    </h1>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h4>
        <em class="header-title fa fa-file-text"></em> ค้นหาข้อมูลต้นแบบ XML และ
        PDF Template
      </h4>
    </div>
    <div class="card-body">
      <form [formGroup]="pdfp020100SearchCondition" (ngSubmit)="getData()">
        <div class="row">
          <div class="form-group col-lg-4">
            <label>รหัสข้อมูลต้นแบบ XML</label>
            <input
              type="text"
              class="form-control"
              name="xmlTemplateCode"
              id="xmlTemplateCode"
              formControlName="xmlTemplateCode"
              placeholder="รหัสข้อมูลต้นแบบ XML"
            />
          </div>
          <div class="form-group col-lg-4">
            <label>ชื่อข้อมูลต้นแบบ XML</label>
            <input
              type="text"
              class="form-control"
              name="xmlTemplateName"
              id="xmlTemplateName"
              formControlName="xmlTemplateName"
              placeholder="ชื่อข้อมูลต้นแบบ XML"
            />
          </div>
          <div class="form-group col-lg-4">
            <label>รหัส PDF</label>
            <input
              type="text"
              class="form-control"
              name="pdfTemplateCode"
              id="pdfTemplateCode"
              formControlName="pdfTemplateCode"
              placeholder="รหัส PDF"
            />
          </div>
          <div class="form-group col-lg-4">
            <label>ชื่อ PDF</label>
            <input
              type="text"
              class="form-control"
              name="pdfTemplateName"
              id="pdfTemplateName"
              formControlName="pdfTemplateName"
              placeholder="ชื่อ PDF"
            />
          </div>
          <div class="form-group col-lg-4">
            <label>สถานะการอนุมัติ</label>
            <select
              class="form-control"
              id="pdfTemplateStatus"
              formControlName="pdfTemplateStatusId"
            >
              <option value="">ทั้งหมด</option>
              <option
                *ngFor="let d of dropdownMPdfTemplateStatus"
                [value]="d.pdfTemplateStatusId"
              >
                {{ d.pdfTemplateStatusName }}</option
              >
            </select>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="form-group col-lg-2 reset-button">
            <button type="submit" class="btn btn-success margin-top-10">
              <em class="fa fa-search"></em> ค้นหา
            </button>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <button
              type="button"
              class="btn btn-warning margin-top-10"
              (click)="clear()"
            >
              <em class="fa fa-redo"></em> ล้างค่า
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h4><em class="fa fa-list"></em> ผลการค้นหา</h4>
    </div>
    <div class="card-body">
      <table
        class="table table-striped table-bordered table-sm"
        summary="ผลการค้นหา"
      >
        <thead>
          <tr role="row">
            <th class="text-center" scope="col" style="width: 50px">#</th>
            <th scope="col" class="text-center">
              <a
                (click)="sort('XML_TEMPLATE_CODE')"
                style="cursor: pointer"
                title="รหัสข้อมูลต้นแบบ XML"
                tooltip="รหัสข้อมูลต้นแบบ XML"
              >
                รหัสข้อมูลต้นแบบ XML
              </a>
              <ng-container
                *ngIf="pageRequest.sortFieldName === 'XML_TEMPLATE_CODE'"
              >
                <em
                  class="fa fa-sort-asc"
                  aria-hidden="true"
                  *ngIf="pageRequest.sortDirection === 'ASC'"
                ></em>
                <em
                  class="fa fa-sort-desc"
                  aria-hidden="true"
                  *ngIf="pageRequest.sortDirection === 'DESC'"
                ></em>
              </ng-container>
            </th>
            <th scope="col" class="text-center">
              <a
                (click)="sort('XML_TEMPLATE_NAME')"
                style="cursor: pointer"
                title="ชื่อข้อมูลต้นแบบ XML"
                tooltip="ชื่อข้อมูลต้นแบบ XML"
              >
                ชื่อข้อมูลต้นแบบ XML
              </a>
              <ng-container
                *ngIf="pageRequest.sortFieldName === 'XML_TEMPLATE_NAME'"
              >
                <em
                  class="fa fa-sort-asc"
                  aria-hidden="true"
                  *ngIf="pageRequest.sortDirection === 'ASC'"
                ></em>
                <em
                  class="fa fa-sort-desc"
                  aria-hidden="true"
                  *ngIf="pageRequest.sortDirection === 'DESC'"
                ></em>
              </ng-container>
            </th>
            <th scope="col" class="text-center">
              <a
                (click)="sort('PDF_TEMPLATE_CODE')"
                style="cursor: pointer"
                title="รหัส PDF"
                tooltip="รหัส PDF"
              >
                รหัส PDF
              </a>
              <ng-container
                *ngIf="pageRequest.sortFieldName === 'PDF_TEMPLATE_CODE'"
              >
                <em
                  class="fa fa-sort-asc"
                  aria-hidden="true"
                  *ngIf="pageRequest.sortDirection === 'ASC'"
                ></em>
                <em
                  class="fa fa-sort-desc"
                  aria-hidden="true"
                  *ngIf="pageRequest.sortDirection === 'DESC'"
                ></em>
              </ng-container>
            </th>
            <th scope="col" class="text-center">
              <a
                (click)="sort('PDF_TEMPLATE_NAME')"
                style="cursor: pointer"
                title="ชื่อ PDF"
                tooltip="ชื่อ PDF"
              >
                ชื่อ PDF
              </a>
              <ng-container
                *ngIf="pageRequest.sortFieldName === 'PDF_TEMPLATE_NAME'"
              >
                <em
                  class="fa fa-sort-asc"
                  aria-hidden="true"
                  *ngIf="pageRequest.sortDirection === 'ASC'"
                ></em>
                <em
                  class="fa fa-sort-desc"
                  aria-hidden="true"
                  *ngIf="pageRequest.sortDirection === 'DESC'"
                ></em>
              </ng-container>
            </th>
            <th scope="col" class="text-center">
              <a
                (click)="sort('SYSTEM_NAME')"
                style="cursor: pointer"
                title="ระบบงาน"
                tooltip="ระบบงาน"
              >
                ระบบงาน
              </a>
              <ng-container *ngIf="pageRequest.sortFieldName === 'SYSTEM_NAME'">
                <em
                  class="fa fa-sort-asc"
                  aria-hidden="true"
                  *ngIf="pageRequest.sortDirection === 'ASC'"
                ></em>
                <em
                  class="fa fa-sort-desc"
                  aria-hidden="true"
                  *ngIf="pageRequest.sortDirection === 'DESC'"
                ></em>
              </ng-container>
            </th>
            <th scope="col" class="text-center">
              <a
                (click)="sort('START_DATE')"
                style="cursor: pointer"
                title="วันที่เริ่มใช้งาน"
                tooltip="วันที่เริ่มใช้งาน"
              >
                วันที่เริ่มใช้งาน
              </a>
              <ng-container *ngIf="pageRequest.sortFieldName === 'START_DATE'">
                <em
                  class="fa fa-sort-asc"
                  aria-hidden="true"
                  *ngIf="pageRequest.sortDirection === 'ASC'"
                ></em>
                <em
                  class="fa fa-sort-desc"
                  aria-hidden="true"
                  *ngIf="pageRequest.sortDirection === 'DESC'"
                ></em>
              </ng-container>
            </th>
            <th scope="col" class="text-center">
              <a
                (click)="sort('END_DATE')"
                style="cursor: pointer"
                title="วันที่สิ้นสุดใช้งาน"
                tooltip="วันที่สิ้นสุดใช้งาน"
              >
                วันที่สิ้นสุดใช้งาน
              </a>
              <ng-container *ngIf="pageRequest.sortFieldName === 'END_DATE'">
                <em
                  class="fa fa-sort-asc"
                  aria-hidden="true"
                  *ngIf="pageRequest.sortDirection === 'ASC'"
                ></em>
                <em
                  class="fa fa-sort-desc"
                  aria-hidden="true"
                  *ngIf="pageRequest.sortDirection === 'DESC'"
                ></em>
              </ng-container>
            </th>
            <th scope="col" class="text-center">
              <a
                (click)="sort('PDF_TEMPLATE_STATUS_NAME')"
                style="cursor: pointer"
                title="สถานะ"
                tooltip="สถานะ"
              >
                สถานะ
              </a>
              <ng-container
                *ngIf="pageRequest.sortFieldName === 'PDF_TEMPLATE_STATUS_NAME'"
              >
                <em
                  class="fa fa-sort-asc"
                  aria-hidden="true"
                  *ngIf="pageRequest.sortDirection === 'ASC'"
                ></em>
                <em
                  class="fa fa-sort-desc"
                  aria-hidden="true"
                  *ngIf="pageRequest.sortDirection === 'DESC'"
                ></em>
              </ng-container>
            </th>
            <th class="text-center" scope="col" style="width: 120px"></th>
          </tr>
        </thead>
        <tbody>
          <tr role="row" class="odd" *ngFor="let v of pageResponse.content">
            <td class="text-center">{{ v.no }}</td>
            <td class="text-center">{{ v.xmlTemplateCode }}</td>
            <td class="text-center">{{ v.xmlTemplateName }}</td>
            <td class="text-center">{{ v.pdfTemplateCode }}</td>
            <td class="text-center">{{ v.pdfTemplateName }}</td>
            <td class="text-center">{{ v.systemName }}</td>
            <td class="text-center">
              {{ (v.startDate | date: "dd/MM/yyyy") || "-" }}
            </td>
            <td class="text-center">
              {{ (v.endDate | date: "dd/MM/yyyy") || "-" }}
            </td>
            <td class="text-center">{{ v.pdfTemplateStatusName }}</td>
            <td class="text-center">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-orange btn-sm btn-auto"
                  (click)="viewXmlTemplateDetail(v.xmlTemplateId)"
                  tooltip="ดูรายละเอียด"
                >
                  <em class="fa fa-info-circle" aria-hidden="true"></em>
                </button>
              </div>
            </td>
          </tr>
          <tr *ngIf="pageResponse.content?.length === 0">
            <td colspan="10" class="text-center">ไม่พบข้อมูล</td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-sm-5">
          <div
            class="dataTables_info"
            id="dtBasicExample_info"
            role="status"
            aria-live="polite"
            style="padding: 5px;"
          >
            แสดงผล
            {{ pageResponse.numberOfElements }} จาก
            {{ pageResponse.totalPages }} รายการ
          </div>
        </div>
        <div class="col-sm-7 text-right">
          แสดงหน้าละ
          <select (change)="changeRowLimits($event)" style="padding: 5px;">
            <option *ngFor="let limit of rowLimits" [value]="limit.value">{{
              limit.key
            }}</option>
          </select>
          &nbsp;&nbsp;
          <pagination
            style="float: right;"
            [boundaryLinks]="true"
            [totalItems]="pageResponse.totalPages"
            previousText="&lsaquo;"
            nextText="&rsaquo;"
            firstText="&laquo;"
            lastText="&raquo;"
            [rotate]="true"
            [maxSize]="5"
            [(ngModel)]="pageRequest.page"
            (pageChanged)="pageChange($event, limit)"
            (limit)="(limit)"
            [itemsPerPage]="pageResponse.size"
            aria-label="Default pagination"
          ></pagination>
        </div>
      </div>
    </div>
  </div>

  <app-float-button></app-float-button>

  <ng-template #selectXmlModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">เลือกข้อมูลต้นแบบ XML</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row mb-1">
        <div class="col-12">
          <input type="radio" name="required" [value]="true" /><em
            class="fa fa-plus-square-o"
          ></em>
          ลงทะเบียนข้อมูลต้นแบบ XML ใหม่
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-12">
          <input type="radio" name="required" [value]="false" /><em
            class="fa fa-copy"
          ></em>
          ใช้ข้อมูลต้นแบบ XML ที่เคยลงทะเบียนไว้แล้ว
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-3"></div>
        <div class="col-9">
          <label>รหัส-ชื่อข้อมูลต้นแบบ XML</label>
          <input
            type="text"
            class="form-control"
            name="xmlTemplateCode"
            id="xmlTemplateCode"
          />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="goToAdd()">
        ตกลง
      </button>
      <button type="button" class="btn btn-danger" (click)="d('cancel')">
        ยกเลิก
      </button>
    </div>
  </ng-template>
</section>
