<div class="form-group row"  [style.height.px]="contentHeight">
  <div class="col-lg-5">
    <div>
      <label class="pull-left">{{rightTItle}}</label>
    </div>
    <select class="form-control" [(ngModel)]="selectedToAdd" multiple name="myselecttsms2" style="height: 100%;background:none;">
      <option *ngFor="let item of groupsArray"
              style="text-align: center;border-radius: 2px;background: #fff;margin-bottom: 2px;padding: 2px;"
              [ngValue]="item">{{item.colDescTh || '-' }}</option>
    </select>
  </div>

  <div class="col-lg-1" style="display: flex;
    flex-direction: column;
    justify-content: left;">
    <button (click)="moveToRight();$event.preventDefault()" class="btn  btn-primary"
            style="margin-bottom: 3px;width: 39px;height: 39px;background: #989d9a;display: flex;
            flex-direction: column;
            justify-content: center;"><i
      class="fa fa-angle-double-right"></i></button>
    <button (click)="moveToLeft();$event.preventDefault()" class="btn  btn-primary"
            style="margin-bottom: 3px;width: 39px;height: 39px;background: #989d9a;display: flex;
            flex-direction: column;
            justify-content: center;"><i
      class="fa fa-angle-double-left"></i></button>
  </div>
  <div class="col-lg-5">
    <div>
      <label class="pull-left">{{rightTItle}}</label>
    </div>
    <select class="form-control" [(ngModel)]="selectedToRemove" multiple name="myselecttsms" style="height: 100%;background:none;">
      <option *ngFor="let item of selectedItems"
              style="text-align: left;border-radius: 2px;background: #fff;margin-bottom: 2px;padding: 2px;"
              [ngValue]="item">{{item.colDescTh}}</option>
    </select>
  </div>
</div>
