<form [formGroup]="taxRequestForm">
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="recipientNameBuilding">อาคาร :</label>
    </div>
    <div class="col-12 col-sm-3">
      <input id="recipientNameBuilding" class="form-control" maxlength="60" formControlName="recipientNameBuilding">
    </div>
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="recipientRoomNo">ห้องเลขที่ :</label>
    </div>
    <div class="col-12 col-sm-3">
      <input id="recipientRoomNo" class="form-control" maxlength="40" formControlName="recipientRoomNo">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="recipientFloorNo">ชั้นที่ :</label>
    </div>
    <div class="col-12 col-sm-3">
      <input id="recipientFloorNo" class="form-control" maxlength="40" formControlName="recipientFloorNo">
    </div>
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="recipientVillage">หมู่บ้าน :</label>
    </div>
    <div class="col-12 col-sm-3">
      <input id="recipientVillage" class="form-control" maxlength="40" formControlName="recipientVillage">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="recipientAddressNo">เลขที่ :</label>
    </div>
    <div class="col-12 col-sm-3">
      <input id="recipientAddressNo" class="form-control" maxlength="60" formControlName="recipientAddressNo">
    </div>
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="recipientMoo">หมู่ที่ :</label>
    </div>
    <div class="col-12 col-sm-3">
      <input id="recipientMoo" class="form-control" maxlength="10" formControlName="recipientMoo">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="recipientSoi">ตรอก / ซอย :</label>
    </div>
    <div class="col-12 col-sm-3">
      <input id="recipientSoi" class="form-control" maxlength="60" formControlName="recipientSoi">
    </div>
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="recipientLane">แยก :</label>
    </div>
    <div class="col-12 col-sm-3">
      <input id="recipientLane" class="form-control" maxlength="6" formControlName="recipientLane">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="recipientRoad">ถนน :</label>
    </div>
    <div class="col-12 col-sm-3">
      <input id="recipientRoad" class="form-control" maxlength="60" formControlName="recipientRoad">
    </div>
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="recipientProvinceCode">จังหวัด :</label>
    </div>
    <div class="col-12 col-sm-3">
      <select class="form-control" id="recipientProvinceCode" formControlName="recipientProvinceCode">
        <option [value]="null"></option>
        <option *ngFor="let province of provinceRecipientList" [value]="province.provinceCode">{{province.provinceNameTh}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="recipientDistrictCode">เขต/อำเภอ :</label>
    </div>
    <div class="col-12 col-sm-3">
      <select class="form-control" id="recipientDistrictCode" formControlName="recipientDistrictCode">
        <option [value]="null"></option>
        <option *ngFor="let district of districtRecipientList" [value]="district.districtCode">{{district.districtNameTh}}</option>
      </select>
    </div>
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="recipientSubDistrictCode">แขวง/ตำบล :</label>
    </div>
    <div class="col-12 col-sm-3">
      <select class="form-control" id="recipientSubDistrictCode" formControlName="recipientSubDistrictCode">
        <option [value]="null"></option>
        <option *ngFor="let subDistrict of subDistrictRecipientList" [value]="subDistrict.subDistrictCode">{{subDistrict.subDistrictNameTh}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      <label for="recipientPostcode">รหัสไปรณีย์ :</label>
    </div>
    <div class="col-12 col-sm-3">
      <input id="recipientPostcode" class="form-control" maxlength="5" formControlName="recipientPostcode">
    </div>
  </div>
</form>
