<div class="content">
  <div class="header-title mb-4">
    <h1><strong>เพิ่มการแจ้งเตือน</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a
        [routerLink]="['/mft/notification-template']" class="active">การแจ้งเตือน
      </a> / เพิ่มการแจ้งเตือน
      </small>
    </h1>

  </div>
  <form [formGroup]="notiTemplateForm" (ngSubmit)="onSubmit()">
    <div formGroupName="notiTemplate">
      <div class="card border-light mb-4">

        <div class="card-header">
          <h4 class="panel-title">
            <i class="header-title fa fa-file-text"></i> ข้อมูลการแจ้งเตือน
          </h4>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-lg-12">
              <label>ขั้นตอนการดำเนินงาน</label>
              <select id="state" formControlName="state"
                      class="form-control full" (change)="onSelectState()">
                <option [value]="null" disabled>เลือกขั้นตอนการดำเนินงาน</option>
                <option *ngFor="let dv of configList"
                        [value]="dv.code">{{dv.description}}</option>
              </select>
              <div class="text-danger"
                   *ngIf="!notiTemplateForm.get('notiTemplate.state').valid && notiTemplateForm.get('notiTemplate.state').touched">
                กรุณาเลือกขั้นตอนการดำเนินการ
              </div>
            </div>
            <div class="form-row col-lg-12"
                 *ngIf="notiTemplateForm.get('notiTemplate.state').value == 'PS003' || notiTemplateForm.get('notiTemplate.state').value == 'PS007' || notiTemplateForm.get('notiTemplate.state').value == 'PS008'">
              <div class="form-group col-md-4">
                <label>มีหลายรอบเวลาการทำงาน</label> &nbsp; <label class="text-danger">*</label>
              </div>
              <div class="col-md-4">
                <div class="radio">
                  <input class="form-check-input" type="radio" id="attachment1"
                         formControlName="attachment" name="attachment"
                         [value]="'Y'">
                  <label class="form-check-label" for="attachment1">แนบไฟล์</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="radio">
                  <input class="form-check-input" type="radio" id="attachment2"
                         formControlName="attachment" name="attachment"
                         [value]="'N'">
                  <label class="form-check-label" for="attachment2">ไม่แนบไฟล์</label>
                </div>

              </div>
            </div>
            <div class="form-group col-lg-12"
                 *ngIf="notiTemplateForm.get('notiTemplate.state').value == 'PS003' || notiTemplateForm.get('notiTemplate.state').value == 'PS007' || notiTemplateForm.get('notiTemplate.state').value == 'PS008' || notiTemplateForm.get('notiTemplate.state').value == 'PSERR'">
              <label>หัวเรื่องแจ้งเตือนผู้นำส่งข้อมูล</label>&nbsp; <label class="text-danger">*</label>
              <input type="text" formControlName="subjectSender" class="form-control full" id="subjectSender" [maxLength]="500"
                     placeholder="ระบุหัวเรื่องแจ้งเตือนผู้นำส่งข้อมูล">
              <div class="text-danger"
                   *ngIf="!notiTemplateForm.get('notiTemplate.subjectSender').valid && notiTemplateForm.get('notiTemplate.subjectSender').touched">
                กรุณากรอกหัวเรื่องแจ้งเตือนผู้นำส่งข้อมูล
              </div>
            </div>

            <div class="form-group col-lg-6"
                 *ngIf="notiTemplateForm.get('notiTemplate.state').value == 'PS003' || notiTemplateForm.get('notiTemplate.state').value == 'PS007' || notiTemplateForm.get('notiTemplate.state').value == 'PS008' || notiTemplateForm.get('notiTemplate.state').value == 'PSERR'">
              <label>ข้อความแจ้งเตือนผู้นำส่งข้อมูล</label>&nbsp; <label class="text-danger">*</label>
              <textarea formControlName="contentSender" class="form-control" [maxLength]="4000"
                        placeholder="ระบุข้อความแจ้งเตือนผู้นำส่งข้อมูล" id="contentSender"
                        rows="5"></textarea>
              <div class="text-danger"
                   *ngIf="!notiTemplateForm.get('notiTemplate.contentSender').valid && notiTemplateForm.get('notiTemplate.contentSender').touched">
                กรุณากรอกข้อความแจ้งเตือนผู้นำส่งข้อมูล
              </div>
            </div>

            <div class="form-row col-lg-6"
                 *ngIf="notiTemplateForm.get('notiTemplate.state').value == 'PS003'">

              <label>คำอธิบายตัวแปร</label>
              <div class="form-row col-lg-12">
                [Sender_Name] ชื่อหน่วยงานผู้นำส่งข้อมูล <br>
                [Sender_Code] รหัสหน่วยงานผู้นำส่งข้อมูล <br>
                [Receive_Date] วันที่รับไฟล์ – dd/MM/yyyy <br>
                [Data_Type_Name] = ประเภทข้อมูล <br>
                [Payment_Date] = วันที่ทำรายการ <br>
                [Tab] = Tab <br>
                [Enter] = ขื้นบรรทัดใหม่ <br>
                [Total_File_Success] = จำนวนไฟล์ที่รับสำเร็จ <br>
                [Total_File_Fail] = จำนวนไฟล์ที่รับไม่สำเร็จ <br>
                [Total_File] = จำนวนไฟล์ทั้งหมด <br>
              </div>
            </div>
            <div class="form-row col-lg-6"
                 *ngIf="notiTemplateForm.get('notiTemplate.state').value == 'PS007'">

              <label>คำอธิบายตัวแปร</label>
              <div class="form-row col-lg-12">
                [Sender_Name] ชื่อหน่วยงานผู้นำส่งข้อมูล <br>
                [Sender_Code] รหัสหน่วยงานผู้นำส่งข้อมูล <br>
                [Receive_Date] วันที่รับไฟล์ – dd/MM/yyyy <br>
                [Data_Type_Name] = ประเภทข้อมูล <br>
                [Payment_Date] = วันที่ทำรายการ <br>
                [Processing_Date] = วันที่ดำเนินการ – dd/MM/yyyy <br>
                [Tab] = Tab <br>
                [Enter] = ขื้นบรรทัดใหม่ <br>
                [Total_File_Success] = จำนวนไฟล์ที่ตรวจสอบผ่านของรอบนั้นๆ <br>
                [Total_File_Fail] = จำนวนไฟล์ที่ตรวจสอบไม่ผ่านของรอบนั้นๆ <br>
                [Total_File] = จำนวนไฟล์ทั้งหมดของรอบนั้นๆ <br>
              </div>
            </div>
            <div class="form-row col-lg-6"
                 *ngIf="notiTemplateForm.get('notiTemplate.state').value == 'PS008'">

              <label>คำอธิบายตัวแปร</label>
              <div class="form-row col-lg-12">
                [Sender_Name] ชื่อหน่วยงานผู้นำส่งข้อมูล <br>
                [Sender_Code] รหัสหน่วยงานผู้นำส่งข้อมูล <br>
                [Data_Type_Name] = ประเภทข้อมูล <br>
                [Processing_Date] = วันที่ดำเนินการ – dd/MM/yyyy <br>
                [Tab] = Tab <br>
                [Enter] = ขื้นบรรทัดใหม่ <br>
                [Summary] = รายการผลการกระทบยอดของวันที่ประมวลผลนั้นๆ ของหน่วยงานผู้นำส่งนั้นๆ <br>
              </div>
            </div>
            <div class="form-row col-lg-6"
                 *ngIf="notiTemplateForm.get('notiTemplate.state').value == 'PSERR'">
              <label>คำอธิบายตัวแปร</label>
              <div class="form-row col-lg-12">
                [Processing_Date] = วันที่ดำเนินการ – dd/MM/yyyy <br>
                [Processing_Time] = เวลาดำเนินการ – dd/MM/yyyy <br>
                [Error] สาเหตุข้อผิดพลาด <br>
              </div>
            </div>
<br>
            <div class="form-group col-lg-12">
              <label>หัวเรื่องแจ้งเตือนเจ้าหน้าที่สรรพากร</label>&nbsp; <label class="text-danger">*</label>
              <input type="text" formControlName="subjectAdmin" class="form-control full" id="subjectAdmin" [maxLength]="500"
                     placeholder="ระบุหัวเรื่องแจ้งเตือนเจ้าหน้าที่สรรพากร">
              <div class="text-danger"
                   *ngIf="!notiTemplateForm.get('notiTemplate.subjectAdmin').valid && notiTemplateForm.get('notiTemplate.subjectAdmin').touched">
                กรุณากรอกหัวเรื่องแจ้งเตือนเจ้าหน้าที่สรรพากร
              </div>
            </div>

            <div class="form-group col-lg-6">
              <label>ข้อความแจ้งเตือนเจ้าหน้าที่สรรพากร</label>&nbsp; <label class="text-danger">*</label>
              <textarea formControlName="contentAdmin" class="form-control" [maxLength]="4000"
                        placeholder="ระบุข้อความแจ้งเตือนเจ้าหน้าที่สรรพากร" id="contentAdmin"
                        rows="5"></textarea>
              <div class="text-danger"
                   *ngIf="!notiTemplateForm.get('notiTemplate.contentAdmin').valid && notiTemplateForm.get('notiTemplate.contentAdmin').touched">
                กรุณากรอกข้อความแจ้งเตือนเจ้าหน้าที่สรรพากร
              </div>
            </div>

            <div class="form-row col-lg-6"
                 *ngIf="notiTemplateForm.get('notiTemplate.state').value == 'PS003'">

              <label>คำอธิบายตัวแปร</label>
              <div class="form-row col-lg-12">
                [Receive_Date] วันที่รับไฟล์ – dd/MM/yyyy <br>
                [Data_Type_Name] = ประเภทข้อมูล <br>
                [Tab] = Tab <br>
                [Enter] = ขื้นบรรทัดใหม่ <br>
                [Total_Sender] = จำนวนหน่วยงานที่นำส่งข้อมูล <br>
                [Table_Summary] = ตารางรายการการรับไฟล์ <br>
              </div>
            </div>
            <div class="form-row col-lg-6"
                 *ngIf="notiTemplateForm.get('notiTemplate.state').value == 'PS007'">

              <label>คำอธิบายตัวแปร</label>
              <div class="form-row col-lg-12">
                [Data_Type_Name] = ประเภทข้อมูล <br>
                [Processing_Date] = วันที่ดำเนินการ – dd/MM/yyyy <br>
                [Tab] = Tab <br>
                [Enter] = ขื้นบรรทัดใหม่ <br>
                [Total_Sender] = จำนวนหน่วยงานที่นำส่งข้อมูล <br>
                [Table_Summary] = ตารางรายการตรวจสอบไฟล์ <br>
              </div>
            </div>
            <div class="form-row col-lg-6"
                 *ngIf="notiTemplateForm.get('notiTemplate.state').value == 'PS008'">

              <label>คำอธิบายตัวแปร</label>
              <div class="form-row col-lg-12">
                [Sender_Name] ชื่อหน่วยงานผู้นำส่งข้อมูล <br>
                [Sender_Code] รหัสหน่วยงานผู้นำส่งข้อมูล <br>
                [Data_Type_Name] = ประเภทข้อมูล <br>
                [Processing_Date] = วันที่ดำเนินการ – dd/MM/yyyy <br>
                [Tab] = Tab <br>
                [Enter] = ขื้นบรรทัดใหม่ <br>
                [Summary] = รายการผลการกระทบยอดของวันที่ประมวลผลนั้นๆ <br>
              </div>
            </div>
            <div class="form-row col-lg-6"
                 *ngIf="notiTemplateForm.get('notiTemplate.state').value == 'PS011'">

              <label>คำอธิบายตัวแปร</label>
              <div class="form-row col-lg-12">
                [Processing_Date] = วันที่ดำเนินการ – dd/MM/yyyy <br>
                [Tab] = Tab <br>
                [Enter] = ขื้นบรรทัดใหม่ <br>
                [Total_Tax_ID] = จำนวนเลขผู้เสียภาษีอากรทั้งหมด ของรอบวันที่ประมวลผล <br>
                [Total_Record] = จำนวนรายการธุรกรรมทั้งหมด ของรอบวันที่ประมวลผล <br>
                [Total_Found_NID] = จำนวนเลขผู้เสียภาษีอากรที่พบในระบบ NID <br>
                [Total_Record_Found_NID] = จำนวนรายการธุรกรรมของผู้เสียภาษีอากรที่พบในระบบ NID <br>
                [Total_Not_Found_NID] = จำนวนเลขผู้เสียภาษีอากรที่ไม่พบในระบบ NID <br>
                [Total_Record_Not_Found_NID] = จำนวนรายการธุรกรรมของผู้เสียภาษีอากรที่ไม่พบในระบบ NID <br>
                [Total_Found_Esup] = จำนวนเลขผู้เสียภาษีอากรที่พบในระบบทีมกำกับ <br>
                [Total_Record_Found_Esup] = จำนวนรายการธุรกรรมของผู้เสียภาษีอากรที่พบในระบบทีมกำกับ <br>
                [Total_Not_Found_Esup] = จำนวนเลขผู้เสียภาษีอากรที่ไม่พบในระบบทีมกำกับ <br>
                [Total_Record_Not_Found_Esup] = จำนวนรายการธุรกรรมของผู้เสียภาษีอากรที่ไม่พบในระบบทีมกำกับ <br>
              </div>
            </div>
            <div class="form-row col-lg-6"
                 *ngIf="notiTemplateForm.get('notiTemplate.state').value == 'PS012'">

              <label>คำอธิบายตัวแปร</label>
              <div class="form-row col-lg-12">
                [Processing_Date] = วันที่ดำเนินการ – dd/MM/yyyy <br>
                [Tab] = Tab <br>
                [Enter] = ขื้นบรรทัดใหม่ <br>
                [Total_Record] = จำนวนรายการธุรกรรมทั้งหมดที่ทำในรอบนั้นๆ <br>
                [Total_Record_WHT_Success] = จำนวนรายการธุรกรรมที่เสียภาษีหัก ณ ที่จ่าย ถูกต้อง <br>
                [Total_Record_WHT_Fail] = จำนวนรายการธุรกรรมที่เสียภาษีหัก ณ ที่จ่าย ไม่ถูกต้อง <br>
                [Total_Record_VAT_Success] = จำนวนรายการธุรกรรมที่เสียภาษีมูลค่าเพิ่ม ถูกต้อง <br>
                [Total_Record_VAT_Fail] = จำนวนรายการธุรกรรมที่เสียภาษีมูลค่าเพิ่ม ไม่ถูกต้อง <br>
              </div>
            </div>
            <div class="form-row col-lg-6"
                 *ngIf="notiTemplateForm.get('notiTemplate.state').value == 'PS014'">

              <label>คำอธิบายตัวแปร</label>
              <div class="form-row col-lg-12">
                [Processing_Date] = วันที่ดำเนินการ – dd/MM/yyyy <br>
                [Tab] = Tab <br>
                [Enter] = ขื้นบรรทัดใหม่ <br>
                [Table_Summary] = ตารางสรุปผลการคัดแยกข้อมูล <br>
              </div>
            </div>
            <div class="form-row col-lg-6"
                 *ngIf="notiTemplateForm.get('notiTemplate.state').value == 'PSERR'">

              <label>คำอธิบายตัวแปร</label>
              <div class="form-row col-lg-12">
                [Processing_Date] = วันที่ดำเนินการ – dd/MM/yyyy <br>
                [Processing_Time] = เวลาดำเนินการ – dd/MM/yyyy <br>
                [Error] สาเหตุข้อผิดพลาด <br>
              </div>
            </div>

            <div class="form-group col-lg-6">
              <label>อีเมลเจ้าหน้าที่สรรพากรที่ต้องการส่งถึง</label>&nbsp; <label class="text-danger">*</label>
              <textarea formControlName="emailAdminTo" class="form-control" [maxLength]="1000"
                        placeholder="ระบุอีเมลเจ้าหน้าที่สรรพากรที่ต้องการส่งถึง" id="emailAdminTo"
                        rows="5"></textarea>
              <div class="text-danger"
                   *ngIf="!notiTemplateForm.get('notiTemplate.emailAdminTo').valid && notiTemplateForm.get('notiTemplate.emailAdminTo').touched">
                กรุณากรอกอีเมลเจ้าหน้าที่สรรพากรที่ต้องการส่งถึง
              </div>
            </div>

            <div class="form-group col-lg-6">
              <label>อีเมลเจ้าหน้าที่สรรพากรที่ต้องการสำเนาถึง</label>
              <textarea formControlName="emailAdminCc" class="form-control" [maxLength]="1000"
                        placeholder="ระบุอีเมลเจ้าหน้าที่สรรพากรที่ต้องการสำเนาถึง" id="emailAdminCc"
                        rows="5"></textarea>
            </div>
            <div class="text-danger"
                 *ngIf="!notiTemplateForm.get('notiTemplate.emailAdminCc').valid && notiTemplateForm.get('notiTemplate.emailAdminCc').touched">
              กรุณากรอกอีเมลเจ้าหน้าที่สรรพากรที่ต้องการสำเนาถึง
            </div>
          </div>
        </div>
      </div>
    </div>
    <table style="margin:auto;">
      <tr>
        <td>
          <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5"
                  (click)="onBack()" id="back"><i
            class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-auto btn-orange2 w-md m-b-5" (click)="resetForm()" id="clear"><i
            class="fa fa-repeat"></i> ล้างข้อมูล
          </button>
        </td>
        <td>
          <button type="submit" class="btn btn-auto btn-green w-md m-b-5" id="save">
            <i class="fa fa-floppy-o"></i> บันทึก
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>
