<router-outlet #outlet="outlet"></router-outlet>
<section *ngIf="!outlet.isActivated">
    <div class="header-title mb-4">
        <h1>
            <app-back-button></app-back-button>
            <strong>ผลการคัดค้นแบบสรุป : {{ getMonthName(searchState?.taxMonthStart) }} {{ searchState?.taxYearStart }} - {{ getMonthName(searchState?.taxMonthEnd) }} {{ searchState?.taxYearEnd }}  </strong>
        </h1>
    </div>

    <div class="row my-3 justify-content-end">
        <a target="_blank" class="btn btn-primary btn-auto mr-3">
            <i class="fa fa-print"></i> พิมพ์
        </a>
    </div>

    <div class="card mb-4" *ngIf="address">
        <div class="card-header">
            <h4><i class="fa fa-list"></i>ข้อมูลผู้เสียภาษีอากร</h4>
        </div>
        <div class="card-body">
            เลขประจำตัวผู้เสียภาษีอากร : <b>{{ pin | mask: '0-0000-00000-00-0' }}</b>&nbsp;&nbsp;   
            ชื่อผู้เสียภาษีอากร :  <b>{{ address?.name }}</b>&nbsp;&nbsp;
            สาขา   <b>{{ address?.branchNo}}</b><br/>   
            ที่อยู่ : <b>{{ address?.buildingName || '' }} {{ address?.roomNo || '' }}
            {{ address?.floor || '' }} {{ address?.village || '' }}
            {{ address?.addressNo || '' }} {{ address?.moo || '' }}
            {{ address?.soi || '' }} {{ address?.lane || '' }}
            {{ address?.road || '' }} {{ address?.subDistrict || '' }}
            {{ address?.district || '' }} {{ address?.province || '' }}
            {{ address?.postcode || '' }}</b> <br/>   
            สำนักงานภูมิลำเนา : <b>{{ address?.offCodeName || '' }}</b>
        </div>
    </div>

    <div class="card mb-4" *ngIf="groupWHT.length > 0">
        <div class="card-header">
            <h4><i class="fa fa-list"></i>รายการที่หักภาษีผู้อื่น</h4>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr role="row">
                        <th class="text-center" scope="col">รหัสแบบ</th>
                        <th class="text-center" scope="col">รวมจำนวนเงิน (บาท)</th>
                        <th class="text-center" scope="col">รวมภาษีเงินได้หัก ณ ที่จ่าย (บาท)</th>
                        <th class="text-center" scope="col">รวมภาษีมูลค่าเพิ่ม (บาท)</th>
                        <th class="text-center" scope="col" style="width: 120px"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of groupWHT; let i = index" role="row" [class.odd]="i % 2 == 0">
                        <td class="text-center">
                            {{ row.nameShow }}
                            <span class="glyphicon glyphicon-info-sign"
                                tooltip="{{ row.information }}">
                            </span>
                        </td>
                        <td class="text-center">
                            {{ row.sumIncomeAmount | number: '1.2-2' }}
                        </td>
                        <td class="text-center">
                            {{ row.sumWhtAmount | number: '1.2-2' }}
                        </td>
                        <td class="text-center">
                            {{ row.sumVatAmount | number: '1.2-2' }}
                        </td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-orange btn-sm btn-auto" (click)="toDetail(row.groupPnd,row.pndType)"
                                    tooltip="ดูรายละเอียด">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr [class.odd]="groupWHT.length % 2 != 0" role="row">
                        <td class="text-center">
                            รวม
                        </td>
                        <td class="text-center">
                            {{ sum(groupWHT, 'sumIncomeAmount') | number: '1.2-2' }}
                        </td>
                        <td class="text-center">
                            {{ sum(groupWHT, 'sumWhtAmount') | number: '1.2-2' }}
                        </td>
                        <td class="text-center">
                            {{ sum(groupWHT, 'sumVatAmount') | number: '1.2-2' }}
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="card mb-4" *ngIf="groupDeduction.length > 0">
        <div class="card-header">
            <h4><i class="fa fa-list"></i>รายการที่ถูกผู้อื่นหักภาษี
            </h4>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr role="row">
                        <th class="text-center" scope="col">รหัสแบบ</th>
                        <th class="text-center" scope="col">รวมจำนวนเงิน (บาท)</th>
                        <th class="text-center" scope="col">รวมภาษีเงินได้หัก ณ ที่จ่าย (บาท)</th>
                        <th class="text-center" scope="col">รวมภาษีมูลค่าเพิ่ม (บาท)</th>
                        <th class="text-center" scope="col" style="width: 120px"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of groupDeduction; let i = index" role="row" [class.odd]="i % 2 == 0">
                        <td class="text-center">
                            {{ row.nameShow }}
                            <span class="glyphicon glyphicon-info-sign"
                                tooltip="{{ row.information }}">
                            </span>
                        </td>
                        <td class="text-center">
                            {{ row.sumIncomeAmount | number: '1.2-2' }}
                        </td>
                        <td class="text-center">
                            {{ row.sumWhtAmount | number: '1.2-2' }}
                        </td>
                        <td class="text-center">
                            {{ row.sumVatAmount | number: '1.2-2' }}
                        </td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-orange btn-sm btn-auto" (click)="toDetail(row.groupPnd,row.pndType)"
                                    tooltip="ดูรายละเอียด">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr [class.odd]="groupDeduction.length % 2 != 0" role="row">
                        <td class="text-center">
                            รวม
                        </td>
                        <td class="text-center">
                            {{ sum(groupDeduction, 'sumIncomeAmount') | number: '1.2-2' }}
                        </td>
                        <td class="text-center">
                            {{ sum(groupDeduction, 'sumWhtAmount') | number: '1.2-2' }}
                        </td>
                        <td class="text-center">
                            {{ sum(groupDeduction, 'sumVatAmount') | number: '1.2-2' }}
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mb-4" *ngIf="groupVat.length > 0">
        <div class="card-header">
            <h4><i class="fa fa-list"></i>รายการยอดซื้อ </h4>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr role="row">
                        <th class="text-center" scope="col">รหัสแบบ</th>
                        <th class="text-center" scope="col">รวมจำนวนเงิน (บาท)</th>
                        <th class="text-center" scope="col">รวมภาษีเงินได้หัก ณ ที่จ่าย (บาท)</th>
                        <th class="text-center" scope="col">รวมภาษีมูลค่าเพิ่ม (บาท)</th>
                        <th class="text-center" scope="col" style="width: 120px"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of groupVat; let i = index" role="row" [class.odd]="i % 2 == 0">
                        <td class="text-center">
                            {{ row.nameShow }}
                            <span class="glyphicon glyphicon-info-sign"
                                tooltip="{{ row.information }}">
                            </span>
                        </td>
                        <td class="text-center">
                            {{ row.sumIncomeAmount | number: '1.2-2' }}
                        </td>
                        <td class="text-center">
                            {{ row.sumWhtAmount | number: '1.2-2' }}
                        </td>
                        <td class="text-center">
                            {{ row.sumVatAmount | number: '1.2-2' }}
                        </td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-orange btn-sm btn-auto" (click)="toDetail(row.groupPnd,row.pndType)"
                                    tooltip="ดูรายละเอียด">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr [class.odd]="groupVat.length % 2 != 0" role="row">
                        <td class="text-center">
                            รวม
                        </td>
                        <td class="text-center">
                            {{ sum(groupVat, 'sumIncomeAmount') | number: '1.2-2' }}
                        </td>
                        <td class="text-center">
                            {{ sum(groupVat, 'sumWhtAmount') | number: '1.2-2' }}
                        </td>
                        <td class="text-center">
                            {{ sum(groupVat, 'sumVatAmount') | number: '1.2-2' }}
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mb-4" *ngIf="groupOther.length > 0">
        <div class="card-header">
            <h4><i class="fa fa-list"></i>รายการอื่น ๆ
            </h4>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr role="row">
                        <th class="text-center" scope="col">รหัสแบบ</th>
                        <th class="text-center" scope="col">รวมจำนวนเงิน (บาท)</th>
                        <th class="text-center" scope="col">รวมภาษีเงินได้หัก ณ ที่จ่าย (บาท)</th>
                        <th class="text-center" scope="col">รวมภาษีมูลค่าเพิ่ม (บาท)</th>
                        <th class="text-center" scope="col" style="width: 120px"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of groupOther; let i = index" role="row" [class.odd]="i % 2 == 0">
                        <td class="text-center">
                            {{ row.nameShow }}
                            <span class="glyphicon glyphicon-info-sign"
                                tooltip="{{ row.information }}">
                            </span>
                        </td>
                        <td class="text-center">
                            {{ row.sumIncomeAmount | number: '1.2-2' }}
                        </td>
                        <td class="text-center">
                            {{ row.sumWhtAmount | number: '1.2-2' }}
                        </td>
                        <td class="text-center">
                            {{ row.sumVatAmount | number: '1.2-2' }}
                        </td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-orange btn-sm btn-auto" (click)="toDetail(row.groupPnd,row.pndType)"
                                    tooltip="ดูรายละเอียด">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr [class.odd]="groupOther.length % 2 != 0" role="row">
                        <td class="text-center">
                            รวม
                        </td>
                        <td class="text-center">
                            {{ sum(groupOther, 'sumIncomeAmount') | number: '1.2-2' }}
                        </td>
                        <td class="text-center">
                            {{ sum(groupOther, 'sumWhtAmount') | number: '1.2-2' }}
                        </td>
                        <td class="text-center">
                            {{ sum(groupOther, 'sumVatAmount') | number: '1.2-2' }}
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>