<form [formGroup]="changeCertificatePinForm" (ngSubmit)="changePin()">
  <div class="header-title mb-4">
    <h1><strong>เปลี่ยนพินใบรับรองอิเล็กทรอนิกส์</strong>
      <small class="pull-right"><a routerLink="/home" class="active">หน้าหลัก</a> /
        เปลี่ยนพินใบรับรองอิเล็กทรอนิกส์
      </small>
    </h1>
  </div>
  <div class="card mb-4">
    <div class="card-header ">
      <div class="justify-content-left">
        <h4><i class="fa fa-key"></i> กำหนดพินใบรับรออิเล็กทรอนิกส์</h4>
      </div>
    </div>
    <div class="card-body">
      <div class="row mb-2">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="current-pin">
            พินปัจจุบัน :
          </label>
        </div>
        <div class="col-12 col-sm-3">
          <input id="current-pin" type="password" class="form-control"
                 formControlName="oldPin">
          <div class="red error-msg" *ngIf="oldPinControl.touched && oldPinControl.hasError('required')">
            กรุณาระบุพิน
          </div>
          <div class="red error-msg" *ngIf="oldPinControl.touched && oldPinControl.hasError('minlength')">
            กรุณาระบุพินอย่างน้อย 6 หลัก
          </div>
          <div class="red error-msg" *ngIf="oldPinControl.touched && oldPinControl.hasError('maxlength')">
            กรุณาระบุพินไม่เกิน 6 หลัก
          </div>
        </div>
        <div class="col-12 col-sm-2 text-left text-sm-right"></div>
        <div class="col-12 col-sm-3"></div>
      </div>
      <div class="row mb-2">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="new-pin">
            พินใหม่ :
          </label>
        </div>
        <div class="col-12 col-sm-3">
          <input id="new-pin" type="password" class="form-control" maxlength="6"
                 appNumberOnly formControlName="newPin">
          <div class="red error-msg" *ngIf="newPinControl.touched && newPinControl.hasError('required')">
            กรุณาระบุพิน
          </div>
          <div class="red error-msg" *ngIf="newPinControl.touched && newPinControl.hasError('minlength')">
            กรุณาระบุพินอย่างน้อย 6 หลัก
          </div>
          <div class="red error-msg" *ngIf="newPinControl.touched && newPinControl.hasError('maxlength')">
            กรุณาระบุพินไม่เกิน 6 หลัก
          </div>
        </div>
        <div class="col-12 col-sm-2 text-left text-sm-right">
          <label for="confirm-new-pin">
            ยืนยันพินใหม่ :
          </label>
        </div>
        <div class="col-12 col-sm-3">
          <input id="confirm-new-pin" type="password" class="form-control" maxlength="6"
                 appNumberOnly formControlName="confirmNewPin">
          <div class="red error-msg" *ngIf="confirmNewPinControl.touched && confirmNewPinControl.hasError('required')">
            กรุณาระบุพิน
          </div>
          <div class="red error-msg" *ngIf="confirmNewPinControl.touched && confirmNewPinControl.hasError('minlength')">
            กรุณาระบุพินอย่างน้อย 6 หลัก
          </div>
          <div class="red error-msg" *ngIf="confirmNewPinControl.touched && confirmNewPinControl.hasError('maxlength')">
            กรุณาระบุพินไม่เกิน 6 หลัก
          </div>
          <div class="red error-msg" *ngIf="confirmNewPinControl.touched && changeCertificatePinForm.hasError('unmatchedPin')">
            {{changeCertificatePinForm.getError('unmatchedPin')}}
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="certificate-file">ใบรับรองอิเล็กทรอนิกส์ :</label>
        </div>
        <div class="col-12 col-sm-3">
          <input type="file" id="certificate-file" class="custom-file-input" accept=".pfx" style="overflow: hidden"
                 formControlName="certificateFile" (change)="setPfxBase64($event.target.files[0])">
          <label class="custom-file-label" style="overflow: hidden; width: 85%; margin-left: 15px">
            {{certificateFileControl.value == null ? 'กรุณาเลือกไฟล์' : certificateFileControl.value}}
          </label>
          <div class="red error-msg" *ngIf="certificateFileControl.touched && certificateFileControl.hasError('required')">
            กรุณาแนบใบรับรองอิเล็กทรอนิกส์
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <button class="btn btn-success mr-2 btn-auto" type="submit">
            บันทึก
          </button>
          <button class="btn btn-danger mr-2 btn-auto" [routerLink]="['../../search']" type="button">
            ย้อนกลับ
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
