<div class="content">
    <div class="header-title mb-4">
        <h1><strong>รายการผู้นำส่งข้อมูลแบบนำไฟล์มาวาง </strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / รายการผู้นำส่งข้อมูลแบบนำไฟล์มาวาง
            </small>
        </h1>

    </div>
    <div class="card border-light mb-4">
        <div class="card-header">
            <h4 class="panel-title">
                <i class="header-title fa fa-file-text"></i> ค้นหา
            </h4>
        </div>
        <div class="card-body">

            <form [formGroup]="senderConfigSearchForm" (ngSubmit)="onSubmit()">
                <div formGroupName="senderConfigSearchC">
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                          <label for="fiNameTh">หน่วยงานผู้นำส่งข้อมูล</label>
                          <input formControlName="fiNameTh"
                                 [ngClass]="{'': !senderConfigSearchForm.get('senderConfigSearchC.fiCode').valid && senderConfigSearchForm.get('senderConfigSearchC.fiCode').touched}"
                                 [typeahead]="financialList"
                                 [typeaheadMinLength]="0"
                                 autocomplete="off"
                                 (typeaheadOnSelect)="setFiCode($event)"
                                 typeaheadOptionField="fiNameTh"
                                 placeholder="เลือกหน่วยงานที่ส่งข้อมูล"
                                 id="fiNameTh"
                                 class="form-control">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="dataTypeId">ประเภทข้อมูล</label>
                            <select name="work-time" class="form-input form-control full"
                                    formControlName="dataTypeId" id="dataTypeId">
                                <option [value]="null">เลือกทั้งหมด</option>
                                <option *ngFor="let dv of dataTypeList"
                                        [value]="dv.id">{{dv.dataTypeDesTh}} {{dv.dataTypeDesEn}}</option>
                            </select>
                        </div>
<!--                        <div class="form-group col-lg-8">-->
<!--                            <label>ศูนย์คอมพิวเตอร์</label>-->
<!--                            <select name="work-time" class="form-input form-control" id="inputSite"-->
<!--                                    formControlName="inputSite">-->
<!--                                <option [value]="null">เลือกทั้งหมด</option>-->
<!--                                <option [value]="'ARI'">ศูนย์คอมพิวเตอร์ กรมสรรพากร</option>-->
<!--                                <option [value]="'NON'">ศูนย์คอมพิวเตอร์ กรมสรรพากร นนทบุรี</option>-->
<!--                            </select>-->
<!--                        </div>-->

                        <div class="form-group col-lg-2 reset-button">
                            <button type="submit" class="btn btn-success margin-top-10" id="list-search"><i
                                    class="fa fa-search"></i> ค้นหา
                            </button>
                        </div>
                        <div class="form-group col-lg-2 reset-button">
                            <button type="button" class="btn btn-warning margin-top-10" id="clear" (click)="resetForm()"><i
                                    class="fa fa-repeat"></i> ล้างค่า
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--    -->
    <div class="card border-light mb-4">

        <div class="card-header">
            <h4 class="panel-title">
                <i class="header-title fa fa-file-text"></i> ผลการค้นหา
            </h4>
        </div>
        <div class="card-body">
            <!--    <div style="padding-bottom: 10px">-->
            <!--      แสดงหน้าละ-->
            <!--      <select id="pageSize" [ngModel]="pageSize" (ngModelChange)="getPageSize($event)">-->
            <!--        <option value="5">5</option>-->
            <!--        <option value="10">10</option>-->
            <!--        <option value="15">15</option>-->
            <!--      </select>-->
            <!--      รายการ-->
            <!--    </div>-->
            <table class="table table-striped table-bordered table-sm">
                <thead>
                <tr role="row">
                    <th scope="col" class="text-center">ลำดับ</th>
                    <th class="text-center">ชื่อผู้นำส่งข้อมูล</th>
                    <th class="text-center">หน่วยงานผู้นำส่งข้อมูล</th>
                    <th class="text-center">ประเภทข้อมูล</th>
                    <th class="text-center">วันที่แก้ไข</th>
                    <th scope="col" class="text-center">ผู้แก้ไข</th>
                    <th class="text-center"></th>
                </thead>
                <tbody>
                <tr role="row"
                    *ngFor="let dv of senderTransferPushList | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: page, totalItems: total }; let i=index">
                    <th class="text-center" scope="row">{{ (this.page - 1) * this.pageSize + i + 1 }}</th>
                    <td class="text-left">{{dv.titleName_firstName_lastName || '-'}}</td>
                    <td class="text-left">{{financialMap.get(dv.fiCode) || '-'}}</td>
                    <td class="text-left">{{dv.edcDatatypeEntity.dataTypeDesTh}}</td>
                    <td class="text-center">{{(dv.updatedDate | thaidate: 'DD/MM/YYYY HH:mm:ss') || '-'}}</td>
                    <td class="text-left">{{dv.updatedBy || '-'}}</td>
                  <td class="text-center">
                    <div class="btn-group">
                      <a class="btn btn-orange" id="view{{i}}" (click)="onView(dv)">
                        <i class="fa fa-eye" aria-hidden="true" title="ดูข้อมูล"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="senderTransferPushList.length === 0">
                    <td colspan="11" class="text-center"> ไม่พบข้อมูล</td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-5 text-left">
                    แสดงผล
                    {{senderTransferPushList.length}} จาก
                    {{total}} รายการ
                </div>
                <div class="col-md-6 text-right">
                    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
