<div class="content">
    <div class="header-title mb-4">
        <h1><strong>เพิ่มสกุลเงิน </strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a
                    [routerLink]="['/etl/currency']" class="active">สกุลเงิน
            </a> / เพิ่มสกุลเงิน
            </small>
        </h1>
    </div>

    <form [formGroup]="currencyForm" (ngSubmit)="onSubmit()">
        <div formGroupName="currencyGroup">
            <div class="card border-light mb-4">
                <div class="card-header">
                    <h4 class="panel-title">
                        <i class="header-title fa fa-file-text"></i> ข้อมูลสกุลเงิน
                    </h4>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label>รหัสสกุลเงิน</label>&nbsp; <label class="text-danger">*</label>
                            <input type="text" formControlName="currencyCode" id="currencyCode" [maxlength]="5"
                                   class="form-control"
                                   placeholder="ระบุรหัสสกุลเงิน">
                          <div class="text-danger"
                               *ngIf="currencyForm.get('currencyGroup.currencyCode').touched && currencyForm.get('currencyGroup.currencyCode').value == null">
                            กรุณากรอกรหัสสกุลเงิน.
                          </div>
                          <div class="text-danger"
                               *ngIf="currencyForm.get('currencyGroup.currencyCode').touched && currencyForm.get('currencyGroup.currencyCode').value == '' ">
                            กรุณากรอกรหัสสกุลเงิน.
                          </div>
                          <div class="text-danger"
                               *ngIf="!currencyForm.get('currencyGroup.currencyCode').valid && currencyForm.get('currencyGroup.currencyCode').touched && currencyForm.get('currencyGroup.currencyCode').value != null && currencyForm.get('currencyGroup.currencyCode').value != ''">
                            รองรับตัวอักษรภาษาอังกฤษเท่านั้น.
                          </div>

                        </div>

                        <div class="form-group col-lg-6">
                            <label>ชื่อสกุลเงิน (ภาษาไทย)</label>&nbsp; <label class="text-danger">*</label>
                            <input type="text" formControlName="currencyNameTh" id="currencyNameTh"
                                   class="form-control"
                                   placeholder="ระบุชื่อสกุลเงิน (ภาษาไทย)"
                            [maxlength]="100">
                          <div class="text-danger"
                               *ngIf="currencyForm.get('currencyGroup.currencyNameTh').touched && currencyForm.get('currencyGroup.currencyNameTh').value == null">
                            กรุณากรอกชื่อสกุลเงิน (ภาษาไทย).
                          </div>
                          <div class="text-danger"
                               *ngIf="currencyForm.get('currencyGroup.currencyNameTh').touched && currencyForm.get('currencyGroup.currencyNameTh').value == '' ">
                            กรุณากรอกชื่อสกุลเงิน (ภาษาไทย).
                          </div>
                          <div class="text-danger"
                               *ngIf="!currencyForm.get('currencyGroup.currencyNameTh').valid && currencyForm.get('currencyGroup.currencyNameTh').touched && currencyForm.get('currencyGroup.currencyNameTh').value != null && currencyForm.get('currencyGroup.currencyNameTh').value != ''">
                            รองรับตัวอักษรภาษาไทย ตัวเลข และ อักขระพิเศษเท่านั้น.
                          </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>ชื่อสกุลเงิน (ภาษาอังกฤษ)</label>
                            <input type="text" formControlName="currencyNameEn" id="currencyNameEn"
                                   class="form-control"
                                   placeholder="ระบุชื่อสกุลเงิน (ภาษาอังกฤษ)"
                                   [maxlength]="100">
                          <div class="text-danger"
                               *ngIf="!currencyForm.get('currencyGroup.currencyNameEn').valid && currencyForm.get('currencyGroup.currencyNameEn').value != null">
                            รองรับตัวอักษรภาษาอังกฤษ ตัวเลข และ อักขระพิเศษเท่านั้น
                          </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>หน่วยของสกุลเงิน</label>&nbsp; <label class="text-danger">*</label>
                            <input type="number" formControlName="unit" id="unit" class="form-control"
                                   oninput="javascript: if (this.value.length > this.maxLength)  this.value = this.value.slice(0, this.maxLength);"
                                   placeholder="ระบุหน่วยของสกุลเงิน"
                              [maxlength]="10" >
                            <div class="text-danger"
                                 *ngIf="!currencyForm.get('currencyGroup.unit').valid && currencyForm.get('currencyGroup.unit').touched">
                              กรุณากรอกหน่วยของสกุลเงิน
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>ประเทศ</label>
                            <input formControlName="countryName"
                                   placeholder="ระบุประเทศ"
                                   [ngClass]="{'': !currencyForm.get('currencyGroup.countryId').valid && currencyForm.get('currencyGroup.countryId').touched}"
                                   [typeahead]="edcCountryList"
                                   [typeaheadMinLength]="0"
                                   (typeaheadOnSelect)="onSelect($event)"
                                   typeaheadOptionField="countryNameTh"
                                   class="form-control" id="countryName">
                        </div>

                        <div class="form-group col-lg-6">
                            <label>หมายเหตุ</label>
                            <textarea formControlName="remark" id="remark" rows="5"
                                      class="form-control"
                                      [maxlength]="200"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table style="margin:auto;">
            <tr>
                <td>
                    <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5"
                            (click)="onBack()" id="back"><i
                            class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-auto btn-orange2 w-md m-b-5" (click)="resetForm()" id="clear"><i
                            class="fa fa-repeat"></i> ล้างข้อมูล
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-auto btn btn-auto  btn-green w-md m-b-5" id="save"><i
                            class="fa fa-floppy-o"></i> บันทึก
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
