<div class="content">
    <div class="header-title mb-4">
        <h1><strong>รายละเอียดข้อมูลอำเภอ </strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a
                    [routerLink]="['/etl/amphur']" class="active">อำเภอ
            </a> / รายละเอียดข้อมูลอำเภอ
            </small>
        </h1>
    </div>

    <form [formGroup]="amphurForm" >
        <div formGroupName="amphurGroup">
            <div class="card border-light mb-4">
                <div class="card-header">
                    <h4 class="panel-title">
                        <i class="header-title fa fa-file-text"></i> ข้อมูลอำเภอ
                    </h4>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label>รหัสอำเภอ</label>&nbsp; <label class ="text-danger">*</label>
                            <input type="text" formControlName="amphurCode" id="amphurCode"
                                   placeholder="ระบุรหัสอำเภอ"
                                   class="form-control" readonly>
                            <div class="text-danger"
                                 *ngIf="!amphurForm.get('amphurGroup.amphurCode').valid && amphurForm.get('amphurGroup.amphurCode').touched">
                                กรุณากรอกรหัสอำเภอ.
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>ชื่ออำเภอ (ไทย)</label>&nbsp; <label class ="text-danger">*</label>
                            <input type="text" formControlName="amphurNameTh" id="amphurNameTh"
                                   placeholder="ระบุชื่ออำเภอ (ไทย)"
                                   class="form-control" readonly>
                            <div class="text-danger"
                                 *ngIf="!amphurForm.get('amphurGroup.amphurNameTh').valid && amphurForm.get('amphurGroup.amphurNameTh').touched">
                                กรุณากรอกชื่ออำเภอ(ไทย).
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>ชื่ออำเภอ (อังกฤษ)</label>
                            <input type="text" formControlName="amphurNameEn" id="amphurNameEn"
                                   placeholder="ระบุชื่ออำเภอ (อังกฤษ)"
                                   class="form-control" readonly>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>จังหวัด</label>&nbsp; <label class ="text-danger">*</label>
                            <input formControlName="provinceNameTh"
                                   [typeahead]="edcProvinceList"
                                   [typeaheadMinLength]="0"
                                   (typeaheadOnSelect)="onSelect($event)"
                                   typeaheadOptionField="provinceNameTh"
                                   id="provinceNameTh"
                                   placeholder="ระบุจังหวัด"
                                   class="form-control" readonly>
                            <div class="text-danger"
                                 *ngIf="!amphurForm.get('amphurGroup.provinceNameTh').valid && amphurForm.get('amphurGroup.provinceNameTh').touched">
                                กรุณาระบุจังหวัด.
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>หมายเหตุ</label>
                            <textarea formControlName="comment" id="comment" rows="5"
                                      class="form-control" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table style="margin:auto;">
            <tr>
                <td>
                    <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5"
                            (click)="onBack()" id="back"><i
                            class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
