<section class="content">
  <div class="header-title">
    <h1><strong>สอบถามผลการดำเนินงาน</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a>
        /อุทธรณ์
        /สอบถามผลการดำเนินงาน</small></h1>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading">
          <div class="panel-title">
            <h3><i class="fa fa-file-text"></i> สอบถามผลการดำเนินงาน</h3>
          </div>
        </div>
        <br/>
        <div class="panel-body no-padding"></div>

        <div class="panel-body">
          <form role="form"  [formGroup]="searchCondition" (ngSubmit)="getData()">
            <div class="row form-group">
              <div class="col-12 col-sm-3 text-sm-right text-left">
                <label>ปีภาษี : </label>
              </div>
              <div class="col-12 col-sm-3 text-left">
                <select class="form-control" id="taxYear" formControlName="taxYear">
                  <option value="">ทั้งหมด</option>
                  <option *ngFor="let item of taxYearList" [value]="item">
                    {{item}}</option>
                </select>
              </div>

              <div class="col-12 col-sm-1 text-sm-right text-left">
                <label>หน่วยงาน : </label>
              </div>
              <div class="col-12 col-sm-2 text-left">
                <app-appeal-organization-level-type-ahead [input-level]="1" (selectedOrgEvent)='setValue($event)' input-phd="ทั้งหมด" [input-org]="searchCondition.get('orgName').value">
                  </app-appeal-organization-level-type-ahead>
              </div>
            </div>

            <div class="row form-group">
              <div class="form-group col-lg-4"></div>
              <div class="form-group col-lg-2 reset-button">
                <button type="submit" *ngIf="authService.hasAnyPermission(['GWSP020200.VIEW'])" class="btn btn-success margin-top-10">
                  <i class="glyphicon glyphicon-search"></i> ค้นหา
                </button>
              </div>
              <div class="form-group col-lg-2 reset-button">
                <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
                  <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
                </button>
              </div>
              <div class="form-group col-lg-4"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading clearfix">
          <div class="panel-title">
            <h3><i class="fa fa-list"></i> ผลการค้นหา</h3>
          </div>
        </div>

        <div class="panel-body">
          <div class="form-group col-lg-12">
            <div class="form-group" style="float:right">
              <div>
                แสดงหน้าละ
                <select (change)="changeRowLimits($event)">
                  <option *ngFor="let limit of rowLimits" [value]="limit.value">{{limit.key}}</option>
                </select>
                รายการ
              </div>
            </div>
          </div>
          <table id="example" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr role="row">
              <th rowspan="2" class="text-center">ลำดับ</th>
              <th rowspan="2" class="text-center">
                <a (click)="sort('TAX_YEAR')" style="cursor: pointer" title="ปีภาษี" tooltip="ปีภาษี">
                  ปีภาษี
                </a>
                <ng-container *ngIf="pageRequest.sortFieldName === 'TAX_YEAR'">
                  <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                  <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                </ng-container>
              </th>
              <th rowspan="2" class="text-center">
                <a (click)="sort('ORG_NAME')" style="cursor: pointer" title="หน่วยงาน" tooltip="หน่วยงาน">
                  หน่วยงาน
                </a>
                <ng-container *ngIf="pageRequest.sortFieldName === 'ORG_NAME'">
                  <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                  <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                </ng-container>
              </th>
              <th colspan="2" class="text-center">สถานะ</th>
            </tr>
            <tr role="row">
              <th scope="col" class="text-center">อยู่ระหว่างการดำเนินการ</th>
              <th scope="col" class="text-center">ดำเนินการเสร็จสิ้น</th>
            </tr>
          </thead>
          <tbody>
          <tr role="row" class="odd" *ngFor="let v of pageResponse.content; index as i">
              <td class="text-center">{{((pageRequest.page-1)*(pageResponse.size))+(i + 1)}}</td>
              <td class="text-left">{{v.taxYear}}</td>
              <td class="text-left">
                <a [routerLink]="" (click)="goToViewArea(v)" >
                  {{v.orgName}}
                </a>
              </td>
              <td class="text-right">{{v.inProgressCount}}</td>
              <td class="text-right">{{v.finishedCount}}</td>
          </tr>
            <tr *ngIf="!pageResponse.content || pageResponse?.content?.length === 0">
              <td colspan="8" class="text-center"> ไม่พบข้อมูล</td>
            </tr>
          </tbody>
        </table>
          <div class="row">
            <div class="col-sm-5">
              <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
                แสดงผล
                {{pageResponse.numberOfElements}} จาก
                {{pageResponse.totalPages}} รายการ
              </div>
            </div>
            <div class="col-sm-7 text-right">
              <pagination style="float: right;" [totalItems]="pageResponse.totalPages" previousText="ก่อนหน้า"
                nextText="ถัดไป" [rotate]="true" [maxSize]="5" [(ngModel)]="pageRequest.page"
                (pageChanged)="pageChange($event,limit)" (limit)="limit" [itemsPerPage]="pageResponse.size"
                aria-label="Default pagination"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

