<div class="content">
    <div class="header-title mb-4">
        <h1><strong>ประเทศ </strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / ประเทศ</small>
        </h1>

    </div>
    <div class="card border-light mb-4">
        <div class="card-header">
            <h4 class="panel-title">
                <i class="header-title fa fa-file-text"></i> ค้นหา
            </h4>
        </div>
        <div class="card-body">
            <form [formGroup]="countryForm" (ngSubmit)="onSubmit()">
                <div formGroupName="countryGroup">
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label>รหัสประเทศ</label>
                            <input type="text" formControlName="countryCode2" id="countryCode2"
                                   class="form-control"
                                   placeholder="ระบุรหัสประเทศ">
                        </div>
                        <div class="form-group col-lg-4">
                            <label>ชื่อประเทศ</label>
                            <input type="text" formControlName="countryNameTh" id="countryNameTh"
                                   class="form-control"
                                   placeholder="ระบุชื่อประเทศ">
                        </div>
                        <div class="form-group col-lg-2 reset-button">
                            <button type="submit" class="btn btn-success margin-top-10" id="list-search"><i
                                    class="fa fa-search"></i> ค้นหา
                            </button>
                        </div>
                        <div class="form-group col-lg-2 reset-button">
                            <button type="button" class="btn btn-warning margin-top-10" (click)="resetForm()" id="clear"><i
                                    class="fa fa-repeat"></i> ล้างค่า
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--  -->
    <div class="card border-light mb-4">
        <div class="card-header">
            <h4 class="panel-title">
                <i class="header-title fa fa-file-text"></i> ผลการค้นหา
            </h4>
        </div>
        <div class="card-body">
            <!--          <div style="padding-bottom: 10px">-->
            <!--            แสดงหน้าละ-->
            <!--            <select id="pageSize" [ngModel]="pageSize" (ngModelChange)="getPageSize($event)">-->
            <!--              <option value="5">5</option>-->
            <!--              <option value="10">10</option>-->
            <!--              <option value="15">15</option>-->
            <!--            </select>-->
            <!--            รายการ-->
            <!--          </div>-->
            <table class="table table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <th scope="col" class="text-center">ลำดับ</th>
                    <th scope="col" class="text-center">รหัสประเทศ (2)</th>
                    <th scope="col" class="text-center">ชื่อประเทศ</th>
                    <th scope="col" class="text-center">วันที่แก้ไข</th>
                    <th scope="col" class="text-center">ผู้แก้ไข</th>
                    <th scope="col" class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr
                        *ngFor="let CountryData of edcCountryList | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: p, totalItems: total }; let i=index">
                    <td class="text-center" scope="row">{{ (this.p - 1) * this.pageSize + i + 1 }}</td>
                    <td class="text-center">{{CountryData.countryCode2 || '-'}}</td>
                    <td class="text-left">{{CountryData.countryNameTh || '-'}}</td>
                    <td class="text-center">{{(CountryData.updatedDate | thaidate: 'DD/MM/YYYY HH:mm:ss') || '-'}}</td>
                    <td class="text-left">{{CountryData.updatedBy || '-'}}</td>
                    <td class="text-center">
                        <a class="btn-orange btn-sm" id="edit{{i}}" (click)="onEdit(CountryData)">
                            <i class="fa fa-edit" aria-hidden="true" title="แก้ไข"></i>
                        </a>
                        <a class="btn-orange btn-sm" id="delete{{i}}" (click)="onDelete(CountryData)">
                            <i class="fa fa-trash" aria-hidden="true" title="ลบ"></i>
                        </a>
                    </td>
                </tr>
                <tr *ngIf="edcCountryList.length === 0">
                    <td colspan="11" class="text-center"> ไม่พบข้อมูล</td>
                </tr>
                </tbody>
            </table>
            <div class="row">

                <div class="col-md-6 text-left">
                    แสดงผล
                    {{edcCountryList.length}} จาก
                    {{total}} รายการ
                </div>
                <div class="col-md-6 text-right">
                    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <table style="margin:auto;">
        <tr>
            <td>
                <button type="button" class="btn btn-auto btn-green w-md m-b-5" [routerLink]="['add']" id="add"><i
                        class="fa fa-plus"></i> เพิ่มข้อมูล
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-auto btn-green w-md m-b-5" [routerLink]="['import']" id="import"><i
                        class="fa fa-plus"></i> นำเข้า
                </button>
            </td>
<!--            <td>-->
<!--                <button type="button" class="btn btn-auto btn-green w-md m-b-5" (click)="downloadFile()" id="downloadFile"><i-->
<!--                        class="fa fa-plus"></i> Template-->
<!--                </button>-->
<!--            </td>-->
        </tr>
    </table>
</div>

