<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>ข้อมูลในใบกำกับภาษี</h4>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-center" style="font-weight:bold">ข้อมูลในใบแจ้งหนี้/ใบกำกับภาษี</label>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> พิมพ์</a>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">ผู้ขายสินค้า / ผู้ให้บริการ</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-right" style="font-weight:bold">เลขที่ : RDTIV0575526000058013</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขประจำตัวผู้เสียภาษีอากร  : 0-5755-26009-09-9  เลขที่สาขา : 00000</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-right" style="font-weight:bold">วันที่ : 23/12/2559</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อผู้ขาย : บริษัท ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ จำกัด</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">ที่อยู่ : เลขที่ 3/34  แขวงห้วยขวาง เขตห้วยขวาง จังหวัด กรุงเทพมหานคร 10310</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">ผู้ซื้อสินค้า / ผู้รับบริการ</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขประจำตัวผู้เสียภาษีอากร  : 0-6044-47000-66-1 เลขที่สาขา : 00000</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-right" style="font-weight:bold">เลขที่ใบกำกับภาษีเดิม : <font color="blue">RDTIV0575526000057120</font></label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อผู้ซื้อ : บริษัท นครสวรรค์เจริญภัณฑ์ 1990 จก.</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-right" style="font-weight:bold">วันที่่ใบกำกับภาษีเดิม  : 20/08/2559</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">ที่อยู่ : เลขที่ 11/3 ม.1 ต.นครสวรรค์ตก อ.เมืองนครสวรรค์ นครสวรรค์ 60000</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-right" style="font-weight:bold">หมายเหตุ : แก้ไขที่อยู่ผู้ซื้อ</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th>ลำดับที่<br>(1)</th>
              <th>รายการ<br>(2)</th>
              <th>จำนวน<br>(3)</th>
              <th>หน่วย<br>(4)</th>
              <th>ราคา<br>ต่อหน่วย<br>(5)</th>
              <th>ราคา<br>ก่อนหักส่วนลด<br>(6)</th>
              <th>ส่วนลด<br>ต่อหน่วย<br>(7)</th>
              <th>ส่วนลด<br>ต่อรายการ<br>(8)</th>
              <th>ราคา<br>หลังหักส่วนลด<br>(9)</th>
              <th>ค่าธรรมเนียม<br>ต่อหน่วย <br>(10)</th>
              <th>ค่าธรรมเนียม<br>ต่อรายการ<br>(11)</th>
              <th>ค่าเงินมัดจำ<br>ต่อรายการ<br>(12)</th>
              <th>จำนวนเงิน<br>(13)</th>
            </tr>
          </thead>
          <tbody>
            
            <tr>
              <td align="center">1</td>
              <td align="left">คอนกรีตกำลังอัด 210 กก./ตร.ซม.</td>
              <td align="right">4.500</td>
              <td align="center">MTQ</td>
              <td align="right">1850.00</td>
              <td align="right">8,325.00</td>
              <td align="right">527.25</td>
              <td align="right">-</td>
              <td align="right">5,952.38</td>
              <td align="right">-</td>
              <td align="right">-</td>
              <td align="right">-</td>
              <td align="right">5,952.38</td>
            </tr>
            
            <tr>
              <td align="center">2</td>
              <td align="left">คอนกรีตกำลังอัด 240 กก./ตร.ซม.</td>
              <td align="right">3.000</td>
              <td align="center">MTQ</td>
              <td align="right">1,890.00</td>
              <td align="right">5,670.00</td>
              <td align="right">538.65</td>
              <td align="right">-</td>
              <td align="right">4,054.05</td>
              <td align="right">-</td>
              <td align="right">-</td>
              <td align="right">-</td>
              <td align="right">4,054.05</td>
            </tr>
            
            <tr>
              <td align="center">3</td>
              <td align="left">คอนกรีตกำลังอัด 240 กก./ตร.ซม.</td>
              <td align="right">3.000</td>
              <td align="center">MTQ</td>
              <td align="right">1,890.00</td>
              <td align="right">5,670.00</td>
              <td align="right">538.65</td>
              <td align="right">-</td>
              <td align="right">4,054.05</td>
              <td align="right">-</td>
              <td align="right">-</td>
              <td align="right">-</td>
              <td align="right">4,054.05</td>
            </tr>
            
            <tr>
              <td align="left" colspan="10" rowspan="7">รวมส่วนลดทั้งหมดของข้อมูลชุดนี้          5,604.52 บาท<br>รวมค่าธรรมเนียมทั้งหมดของข้อมูลชุดนี้           -    บาท </td>
              <td align="left">รวมจำนวนเงิน</td>
              <td align="center"></td>
              <td align="right">14,060.48</td>
            </tr>
            
            <tr>
              <td align="left">ค่ามัดจำ ท้ายใบกำกับภาษี</td>
              <td align="center"></td>
              <td align="right">-</td>
            </tr>
            
            <tr>
              <td align="left">ส่วนลดท้ายใบกำกับภาษี</td>
              <td align="center"></td>
              <td align="right">-</td>
            </tr>
            
            <tr>
              <td align="left">ค่าธรรมเนียมท้าย ใบกำกับภาษี</td>
              <td align="center"></td>
              <td align="right">-</td>
            </tr>
            
            <tr>
              <td align="left">จำนวนเงินรวมก่อนภาษี</td>
              <td align="center"></td>
              <td align="right">14,060.48</td>
            </tr>
            
            <tr>
              <td align="left">ภาษีมูลค่าเพิ่ม</td>
              <td align="center">7%</td>
              <td align="right">984.23</td>
            </tr>
            
            <tr>
              <td align="left">รวมจำนวนเงินทั้งสิ้น</td>
              <td align="center"></td>
              <td align="right">15,044.71</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
