<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>รายงานเปรียบเทียบ ภาษีขาย จากข้อมูล e-Tax Invoice ข้อมูล e-Receipt และข้อมูลระบบชำระเงินแบบอิเล็กทรอนิกส์</h4>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-5 pr-0">
            <label class="pull-left">เลขประจำตัวผู้เสียภาษีอากร  : 0-1345-67891-23-4 </label>
          </div>
          <div class="form-group col-lg-5">
            <label class="pull-left">เลขที่สาขา : 00000</label>
          </div>
          <div class="form-group col-lg-2">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> พิมพ์</a>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left">ชื่อผู้ประกอบการ : บริษัท เอ จำกัด</label>
          </div>

          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left">ที่อยู่ : เลขที่ 1 หมู่ที่ 1 แขวงศาลาธรรมสพน์ เขตทวีวัฒนา จังหวัด กรุงเทพมหานคร 10170</label>
          </div>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th rowspan="2">ลำดับที่<br>(1)</th>
              <th rowspan="2">เดือน<br>(2)</th>
              <th rowspan="2">ปี<br>(3)</th>
              <th colspan="5">e-Tax Invoice</th>
              <th colspan="5">e-Receipt</th>
              <th colspan="5">การชำระเงินทางอิเล็กทรอนิกส์ </th>
            </tr>
            <tr class="" align="center">
              <th>ยอดขายที่ต้องเสีย<br>ภาษี VAT 7%<br>(4)</th>
              <th>ยอดขายที่ต้องเสีย<br>ภาษี VAT 0%<br>(5)</th>
              <th>ยอดขายที่<br>ยกเว้น VAT<br>(6)</th>
              <th>ภาษีขาย<br>(7)</th>
              <th>รวมมูลค่าสินค้า/<br>บริการ และภาษีขาย<br>(8)</th>
              <th>ยอดขายที่ต้องเสีย<br>ภาษี VAT 7%<br>(9)</th>
              <th>ยอดขายที่ต้องเสีย<br>ภาษี VAT 0%<br>(10)</th>
              <th>ยอดขายที่<br>ยกเว้น VAT<br>(11)</th>
              <th>ภาษีขาย<br>(12)</th>
              <th>รวมมูลค่าสินค้า/<br>บริการ และภาษีขาย<br>(13)</th>
              <th>ยอดขายที่ต้องเสีย<br>ภาษี VAT 7%<br>(14)</th>
              <th>ยอดขายที่ต้องเสีย<br>ภาษี VAT 0%<br>(15)</th>
              <th>ยอดขายที่<br>ยกเว้น VAT<br>(16)</th>
              <th>ภาษีขาย<br>(17)</th>
              <th>รวมมูลค่าสินค้า/<br>บริการ และภาษีขาย<br>(18)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="center">1</td>
              <td align="center">มกราคม</td>
              <td align="center">2559</td>
              <td align="right">80,000.00</td>
              <td align="right">5,000.00</td>
              <td align="right">0.00</td>
              <td align="right">5,600.00</td>
              <td align="right">90,600.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">95,950.00</td>
              <td align="right">1,000.00</td>
              <td align="right">70.00</td>
              <td align="right">1,070.00</td>
              <td align="right">49.22</td>
              <td align="right">1,020.78</td>
            </tr>
            <tr>
              <td align="center">2</td>
              <td align="center">กุมภาพันธ์</td>
              <td align="center">2559</td>
              <td align="right">302,000.00</td>
              <td align="right">300,000.00</td>
              <td align="right">0.00</td>
              <td align="right">21,140.00</td>
              <td align="right">623,140.00</td>
              <td align="right">60,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">4,200.00</td>
              <td align="right">64,200.00</td>
              <td align="right">150,000.00</td>
              <td align="right">10,500.00</td>
              <td align="right">160,500.00</td>
              <td align="right">4,500.00</td>
              <td align="right">156,000.00</td>
            </tr>
            <tr>
              <td align="center">3</td>
              <td align="center">มีนาคม</td>
              <td align="center">2559</td>
              <td align="right">403,000.00</td>
              <td align="right">400,000.00</td>
              <td align="right">1,000.00</td>
              <td align="right">28,210.00</td>
              <td align="right">832,210.00</td>
              <td align="right">70,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">4,900.00</td>
              <td align="right">74,900.00</td>
              <td align="right">180,000.00</td>
              <td align="right">12,600.00</td>
              <td align="right">192,600.00</td>
              <td align="right">5,400.00</td>
              <td align="right">187,200.00</td>
            </tr>
            <tr>
              <td align="center">4</td>
              <td align="center">เมษายน</td>
              <td align="center">2559</td>
              <td align="right">500,000.00</td>
              <td align="right">500,000.00</td>
              <td align="right">0.00</td>
              <td align="right">35,000.00</td>
              <td align="right">1,035,000.00</td>
              <td align="right">80,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">5,600.00</td>
              <td align="right">85,600.00</td>
              <td align="right">210,000.00</td>
              <td align="right">14,700.00</td>
              <td align="right">224,700.00</td>
              <td align="right">6,300.00</td>
              <td align="right">218,400.00</td>
            </tr>  
            <tr>
              <td align="center">5</td>
              <td align="center">พฤษภาคม</td>
              <td align="center">2559</td>
              <td align="right">600,000.00</td>
              <td align="right">600,000.00</td>
              <td align="right">0.00</td>
              <td align="right">42,000.00</td>
              <td align="right">1,242,000.00</td>
              <td align="right">90,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">6,300.00</td>
              <td align="right">96,300.00</td>
              <td align="right">240,000.00</td>
              <td align="right">16,800.00</td>
              <td align="right">256,800.00</td>
              <td align="right">7,200.00</td>
              <td align="right">249,600.00</td>
            </tr>
            <tr>
              <td align="center">6</td>
              <td align="center">มิถุนายน</td>
              <td align="center">2559</td>
              <td align="right">702,000.00</td>
              <td align="right">700,000.00</td>
              <td align="right">2,000.00</td>
              <td align="right">49,140.00</td>
              <td align="right">1,453,140.00</td>
              <td align="right">100,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">7,000.00</td>
              <td align="right">107,000.00</td>
              <td align="right">270,000.00</td>
              <td align="right">18,900.00</td>
              <td align="right">288,900.00</td>
              <td align="right">8,100.00</td>
              <td align="right">280,800.00</td>
            </tr>
            <tr>
              <td align="center">7</td>
              <td align="center">กรกฎาคม</td>
              <td align="center">2559</td>
              <td align="right">803,000.00</td>
              <td align="right">800,000.00</td>
              <td align="right">3,000.00</td>
              <td align="right">56,210.00</td>
              <td align="right">1,662,210.00</td>
              <td align="right">110,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">7,700.00</td>
              <td align="right">117,700.00</td>
              <td align="right">300,000.00</td>
              <td align="right">21,000.00</td>
              <td align="right">321,000.00</td>
              <td align="right">9,000.00</td>
              <td align="right">312,000.00</td>
            </tr>
            <tr>
              <td align="center">8</td>
              <td align="center">สิงหาคม</td>
              <td align="center">2559</td>
              <td align="right">903,000.00</td>
              <td align="right">900,000.00</td>
              <td align="right">1,000.00</td>
              <td align="right">63,210.00</td>
              <td align="right">1,867,210.00</td>
              <td align="right">120,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">8,400.00</td>
              <td align="right">128,400.00</td>
              <td align="right">330,000.00</td>
              <td align="right">23,100.00</td>
              <td align="right">353,100.00</td>
              <td align="right">9,900.00</td>
              <td align="right">343,200.00</td>
            </tr>
            <tr>
              <td align="center">9</td>
              <td align="center">กันยายน</td>
              <td align="center">2559</td>
              <td align="right">1,000,000.00</td>
              <td align="right">1,000,000.00</td>
              <td align="right">0.00</td>
              <td align="right">70,000.00</td>
              <td align="right">2,070,000.00</td>
              <td align="right">130,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">9,100.00</td>
              <td align="right">139,100.00</td>
              <td align="right">1,000.00</td>
              <td align="right">70.00</td>
              <td align="right">1,070.00</td>
              <td align="right">46.00</td>
              <td align="right">1,024.00</td>
            </tr>
            <tr>
              <td align="center">10</td>
              <td align="center">ตุลาคม</td>
              <td align="center">2559</td>
              <td align="right">1,103,000.00</td>
              <td align="right">1,100,000.00</td>
              <td align="right">1,000.00</td>
              <td align="right">77,210.00</td>
              <td align="right">2,281,210.00</td>
              <td align="right">140,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">9,800.00</td>
              <td align="right">149,800.00</td>
              <td align="right">1,200.00</td>
              <td align="right">84.00</td>
              <td align="right">1,284.00</td>
              <td align="right">57.00</td>
              <td align="right">1,227.00</td>
            </tr>
            <tr>
              <td align="center">11</td>
              <td align="center">พฤศจิกายน</td>
              <td align="center">2559</td>
              <td align="right">1,201,000.00</td>
              <td align="right">1,200,000.00</td>
              <td align="right">1,000.00</td>
              <td align="right">84,070.00</td>
              <td align="right">2,486,070.00</td>
              <td align="right">150,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">10,500.00</td>
              <td align="right">160,500.00</td>
              <td align="right">950.00</td>
              <td align="right">66.50</td>
              <td align="right">1,016.50</td>
              <td align="right">27.00</td>
              <td align="right">989.50</td>
            </tr>
            <tr>
              <td align="center">12</td>
              <td align="center">ธันวาคม</td>
              <td align="center">2559</td>
              <td align="right">1,301,000.00</td>
              <td align="right">1,300,000.00</td>
              <td align="right">1,000.00</td>
              <td align="right">91,070.00</td>
              <td align="right">2,693,070.00</td>
              <td align="right">160,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">11,200.00</td>
              <td align="right">171,200.00</td>
              <td align="right">850.00</td>
              <td align="right">59.50</td>
              <td align="right">909.50</td>
              <td align="right">23.00</td>
              <td align="right">886.50</td>
            </tr>
            <tr>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center">รวม</td>
              <td align="right">8,898,000.00</td>
              <td align="right">8,805,000.00</td>
              <td align="right">10,000.00</td>
              <td align="right">622,860.00</td>
              <td align="right">18,335,860.00</td>
              <td align="right">1,210,000.00</td>
              <td align="right">0.00</td>
              <td align="right">0.00</td>
              <td align="right">84,700.00</td>
              <td align="right">1,390,650.00</td>
              <td align="right">1,685,000.00</td>
              <td align="right">117,950.00</td>
              <td align="right">1,802,950.00</td>
              <td align="right">50,602.22</td>
              <td align="right">1,752,347.78</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
