<div class="content">
    <div class="header-title mb-4">
        <h1><strong>แก้ไขรายการการนำส่งภาษีมูลค่าเพิ่ม </strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a
                    [routerLink]="['/etl/vat-type']"
                    class="active">รายการนำส่งภาษีมูลค่าเพิ่ม
            </a> / แก้ไขรายการนำส่งภาษีมูลค่าเพิ่ม
            </small>
        </h1>
    </div>

    <form [formGroup]="vatTypeForm" (ngSubmit)="onSubmit()">
        <div formGroupName="vatTypeGroup">
            <div class="card border-light mb-4">
                <div class="card-header">
                    <h4 class="panel-title">
                        <i class="header-title fa fa-file-text"></i> ข้อมุลการนำส่งภาษีมูลค่าเพิ่ม
                    </h4>
                </div>
                <div class="card-body">
                    <div class="form-row">

                        <div class="form-group col-lg-6 mb-2">
                            <label>วันที่มีผลบังคับใช้</label>&nbsp; <label class="text-danger">*</label>
                            <input type="text" formControlName="effectiveDate" id="effectiveDate"
                                   class="form-control"
                                   placeholder="ระบุวันที่มีผลบังคับใช้"
                                   [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                   value="{{edcVatType.effectiveDate | thaidate: 'DD/MM/YYYY' }}"
                                   [minDate]="minDate"
                                   autocomplete="off"
                                   [maxLength]="10"
                                   [ngClass]="{'is-invalid': !vatTypeForm.get('vatTypeGroup.effectiveDate').valid && vatTypeForm.get('vatTypeGroup.effectiveDate').touched}"
                                   bsDatepicker>
                            <div class="text-danger"
                                 *ngIf="!vatTypeForm.get('vatTypeGroup.effectiveDate').valid && vatTypeForm.get('vatTypeGroup.effectiveDate').touched">
                                กรุณากรอกวันที่มีบังคับใช้
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                            <thead>
                            <tr role="row">
                                <th scope="col"></th>
                                <th class="text-center">กรณีการนำส่ง</th>
                                <th class="text-center">ผู้มีหน้าที่นำส่ง</th>
                            </thead>
                            <tbody>
                            <tr role="row" *ngFor="let dv of edcVatTypeList; let i=index">
                                <td class="text-left"><input id="vatTypeId{{i}}" formControlName="vatTypeId"
                                                             [value]='dv.id ' type="radio"></td>
                                <td class="text-left">{{dv.vatTypeName || '-'}}</td>
                                <td class="text-left">{{dv.subVatTypeName}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <table style="margin:auto;">
                <tr>
                    <td>
                        <button type="button" id="back" class="btn btn-auto btn-orange3 w-md m-b-5"
                                (click)="onBack()"><i
                                class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
                        </button>
                    </td>
                    <td>
                        <button type="button" id="clear" class="btn btn-auto btn-orange2 w-md m-b-5" (click)="resetForm()"><i
                                class="fa fa-repeat"></i> ล้างข้อมูล
                        </button>
                    </td>
                    <td>
                        <button type="submit" id="save" class="btn btn-auto btn-green w-md m-b-5"><i
                                class="fa fa-floppy-o"></i> บันทึก
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
