<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>Monitor การลงทะเบียนเพื่อสวัสดิการแห่งรัฐ</h4>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">

          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ปีภาษี <font color="red">* </font> </label>
          </div>
          <div class="form-group col-lg-4">
            <select class="form-input form-control" id="taxYear" type="text" name="taxYear">
              <option value="">2561</option>
              <option value="bank">2560</option>
              <option value="nonBank">2559</option>
            </select>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ประเภทข้อมูล <font color="red">* </font> </label>
          </div>
          <div class="form-group col-lg-4">
            <select class="form-input form-control" id="dataGroup" type="text" name="dataGroup">
              <option value="">ทั้งหมด</option>
              <option value="registData">ข้อมูลลงทะเบียน</option>
              <option value="appealOnline">ข้อมูลอุทธรณ์ Online</option>
              <option value="appeal">ข้อมูลรับเรื่องอุทธรณ์</option>
            </select>
          </div>
		
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ตั้งแต่วันที่รับไฟล์ :</label>
          </div>
          <div class="form-group col-lg-4">
            <app-datepicker-th class="form-control-datepicker" 
              id="endDate" name="endDate"></app-datepicker-th>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ถึงวันที่รับไฟล์ :</label>
          </div>
          <div class="form-group col-lg-4">
            <app-datepicker-th class="form-control-datepicker" 
              id="endDate" name="endDate"></app-datepicker-th>
          </div>

          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">สถานะ</label>
          </div>
          <div class="form-group col-lg-4">
            <select class="form-input form-control" id="dataType" type="text" name="dataType">
              <option value="">ทั้งหมด</option>
              <option value="success">สำเร็จ</option>
              <option value="error">ไม่สำเร็จ</option>
            </select>
          </div>
          <div class="form-group col-lg-2 pr-0">
          </div>
          <div class="form-group col-lg-4">
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="form-group col-lg-2 reset-button">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> ค้นหา</a>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <a href="." class="btn btn-warning margin-top-10"><i class="glyphicon glyphicon-repeat"></i> ล้างข้อมูล</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="fEOH8HCiPh">
    <div class="panel panel-bd lobidisable lobipanel" data-sortable="false" data-inner-id="fEOH8HCiPh" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 36px);">
          <h4><i class="fa fa-list mr-2"></i> ผลการค้นหา</h4>
        </div>
        <div class="dropdown">
          <ul class="dropdown-menu dropdown-menu-right">
            <li style=""><a data-func="unpin" data-tooltip="Unpin" data-toggle="tooltip" data-title="Unpin"
                            data-placement="bottom" data-original-title="" title=""><i
              class="panel-control-icon ti-move"></i><span class="control-title">Unpin</span></a></li>
            <li><a data-func="minimize" data-tooltip="Minimize" data-toggle="tooltip" data-title="Minimize"
                   data-placement="bottom" data-original-title="" title=""><i
              class="panel-control-icon ti-minus"></i><span class="control-title">Minimize</span></a></li>
            <li><a data-func="expand" data-tooltip="Fullscreen" data-toggle="tooltip" data-title="Fullscreen"
                   data-placement="bottom" data-original-title="" title=""><i
              class="panel-control-icon ti-fullscreen"></i><span class="control-title">Fullscreen</span></a></li>
          </ul>
          <div class="dropdown-toggle" data-toggle="dropdown"><span
            class="panel-control-icon glyphicon glyphicon-cog"></span></div>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th >ลำดับ</th>
              <th>ปีภาษี</th>
              <th>ประเภทข้อมูล</th>
              <th>ชื่อไฟล์จาก<br>กระทรวงการคลัง</th>
              <th>วันที่ประมวลผล<br>สร้างไฟล์</th>
              <th>ชื่อไฟล์ที่ส่งตรวจสอบกับ<br>กลุ่มงานฐานข้อมูลภาษี</th>
              <th>เวลาเริ่ม</th>
              <th>เวลาสิ้นสุด</th>
              <th>ขั้นตอนการดำเนินการ</th>
              <th>สถานะ</th>
              <th>หมายเหตุ</th>
              <th>ผลการตรวจสอบ<br>รายได้</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="center">1</td>
              <td align="center">2561</td>
              <td align="left">ข้อมูลลงทะเบียน</td>
              <td align="left">RD_20190801.txt</td>
              <td align="center">12/08/2562</td>
              <td align="left">RD_20190801_01.txt</td>
              <td align="center">09:35</td>
              <td align="center">09:40</td>
              <td align="left">สร้างไฟล์ข้อมูลเพื่อส่งตรวจสอบรายได้</td>
              <td align="center">สำเร็จ</td>
              <td align="left">&nbsp;</td>
              <td>
                <a href="mns/mnsp011601" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png"></a>
              </td>
            </tr>
            <tr>
              <td align="center">2</td>
              <td align="center">2561</td>
              <td align="left">ข้อมูลอุทธรณ์ Online</td>
              <td align="left">RD_20190815.txt</td>
              <td align="center">22/08/2562</td>
              <td align="left">RD_20190815_01.txt</td>
              <td align="center">09:37</td>
              <td align="center">09:51</td>
              <td align="left">ตรวจสอบข้อมูลนำเข้า</td>
              <td align="center">ไม่สำเร็จ</td>
              <td align="left">รูปแบบข้อมูลไม่ถูกต้อง</td>
              <td>
                <a href="#" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
