<div class="content">
    <div class="header-title mb-4">
        <h1><strong>แก้ไขประเภทข้อมูล </strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a
                    [routerLink]="['/mft/data-type']" class="active">ประเภทข้อมูล
            </a> / แก้ไขประเภทข้อมูล
            </small>
        </h1>

    </div>
    <form [formGroup]="dataTypeAddForm" (ngSubmit)="onSubmit()">
        <div formGroupName="edcDataTypeObj">
            <div class="card border-light mb-4">
                <div class="card-header">
                    <h4 class="panel-title">
                        <i class="header-title fa fa-file-text"></i> รายละเอียดประเภทข้อมูล
                    </h4>
                </div>
                <div class="card-body">
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="dataTypeCode">รหัสประเภทข้อมูล </label>  <label class="text-danger">*</label>
                        <input type="text" class="form-control full" id="dataTypeCode"
                               [ngClass]="{'is-invalid': !dataTypeAddForm.get('edcDataTypeObj.dataTypeCode').valid && dataTypeAddForm.get('edcDataTypeObj.dataTypeCode').touched}"
                               formControlName="dataTypeCode"
                               placeholder="ระบุรหัสประเภทข้อมูล"
                               maxlength="10"
                               (change)="onInput()" readonly>
                        <div class="text-danger"
                             *ngIf="dataTypeAddForm.get('edcDataTypeObj.dataTypeCode').touched && dataTypeAddForm.get('edcDataTypeObj.dataTypeCode').value == null">
                          กรุณากรอกรหัสประเภทข้อมูล.
                        </div>
                        <div class="text-danger"
                             *ngIf="dataTypeAddForm.get('edcDataTypeObj.dataTypeCode').touched && dataTypeAddForm.get('edcDataTypeObj.dataTypeCode').value == '' ">
                          กรุณากรอกรหัสประเภทข้อมูล.
                        </div>
                        <div class="text-danger"
                             *ngIf="!dataTypeAddForm.get('edcDataTypeObj.dataTypeCode').valid && dataTypeAddForm.get('edcDataTypeObj.dataTypeCode').touched && dataTypeAddForm.get('edcDataTypeObj.dataTypeCode').value != null && dataTypeAddForm.get('edcDataTypeObj.dataTypeCode').value != ''">
                          รองรับเฉพาะภาษาอังกฤษ และตัวเลขเท่านั้น.
                        </div>
                      </div>

                      <div class="form-group col-lg-6">
                        <label for="dataTypeCodeAbb">รหัสประเภทข้อมูลแบบย่อ </label> &nbsp; <label class="text-danger">*</label>
                        <input type="text" class="form-control full" id="dataTypeCodeAbb"
                               formControlName="dataTypeCodeAbb"
                               placeholder="ระบุรหัสประเภทข้อมูลแบบย่อ"
                               [ngClass]="{'is-invalid': !dataTypeAddForm.get('edcDataTypeObj.dataTypeCodeAbb').valid && dataTypeAddForm.get('edcDataTypeObj.dataTypeCodeAbb').touched}"
                               maxlength="25" (change)="defaltRoot()" readonly>
                        <div class="text-danger"
                             *ngIf="dataTypeAddForm.get('edcDataTypeObj.dataTypeCodeAbb').touched && dataTypeAddForm.get('edcDataTypeObj.dataTypeCodeAbb').value == null">
                          กรุณากรอกรหัสประเภทข้อมูลแบบย่อ.
                        </div>
                        <div class="text-danger"
                             *ngIf="dataTypeAddForm.get('edcDataTypeObj.dataTypeCodeAbb').touched && dataTypeAddForm.get('edcDataTypeObj.dataTypeCodeAbb').value == '' ">
                          กรุณากรอกรหัสประเภทข้อมูลแบบย่อ.
                        </div>
                        <div class="text-danger"
                             *ngIf="!dataTypeAddForm.get('edcDataTypeObj.dataTypeCodeAbb').valid && dataTypeAddForm.get('edcDataTypeObj.dataTypeCodeAbb').touched && dataTypeAddForm.get('edcDataTypeObj.dataTypeCodeAbb').value != null && dataTypeAddForm.get('edcDataTypeObj.dataTypeCodeAbb').value != ''">
                          รองรับเฉพาะภาษาอังกฤษ ตัวเลข หรืออักขระพิเศษเท่านั้น.
                        </div>
                      </div>

                      <div class="form-group col-lg-6">
                        <label for="dataTypeDesTh">คำอธิบาย (ภาษาไทย) </label> &nbsp; <label class="text-danger">*</label>
                        <input type="text" class="form-control full" id="dataTypeDesTh"
                               formControlName="dataTypeDesTh"
                               placeholder="ระบุคำอธิบาย (ภาษาไทย)"
                               maxlength="120"
                               [ngClass]="{'is-invalid': !dataTypeAddForm.get('edcDataTypeObj.dataTypeDesTh').valid && dataTypeAddForm.get('edcDataTypeObj.dataTypeDesTh').touched}">
                        <div class="text-danger"
                             *ngIf="dataTypeAddForm.get('edcDataTypeObj.dataTypeDesTh').touched && dataTypeAddForm.get('edcDataTypeObj.dataTypeDesTh').value == null">
                          กรุณากรอกคำอธิบาย (ภาษาไทย).
                        </div>
                        <div class="text-danger"
                             *ngIf="dataTypeAddForm.get('edcDataTypeObj.dataTypeDesTh').touched && dataTypeAddForm.get('edcDataTypeObj.dataTypeDesTh').value == '' ">
                          กรุณากรอกคำอธิบาย (ภาษาไทย).
                        </div>
                        <div class="text-danger"
                             *ngIf="!dataTypeAddForm.get('edcDataTypeObj.dataTypeDesTh').valid && dataTypeAddForm.get('edcDataTypeObj.dataTypeDesTh').touched && dataTypeAddForm.get('edcDataTypeObj.dataTypeDesTh').value != null && dataTypeAddForm.get('edcDataTypeObj.dataTypeDesTh').value != ''">
                          รองรับเฉพาะภาษาไทย ตัวเลข หรืออักขระพิเศษเท่านั้น.
                        </div>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="dataTypeDesEn">คำอธิบาย (ภาษาอังกฤษ) </label> &nbsp; <label class="text-danger">*</label>
                        <input type="text" class="form-control full" id="dataTypeDesEn"
                               formControlName="dataTypeDesEn"
                               maxlength="120"
                               placeholder="ระบุคำอธิบาย (ภาษาอังกฤษ)"
                               [ngClass]="{'is-invalid': !dataTypeAddForm.get('edcDataTypeObj.dataTypeDesEn').valid && dataTypeAddForm.get('edcDataTypeObj.dataTypeDesEn').touched}">
                        <div class="text-danger"
                             *ngIf="!dataTypeAddForm.get('edcDataTypeObj.dataTypeDesEn').valid && dataTypeAddForm.get('edcDataTypeObj.dataTypeDesEn').touched && dataTypeAddForm.get('edcDataTypeObj.dataTypeDesEn').value != null && dataTypeAddForm.get('edcDataTypeObj.dataTypeDesEn').value != ''">
                          รองรับเฉพาะภาษาอังกฤษ ตัวเลข หรืออักขระพิเศษเท่านั้น.
                        </div>
                      </div>
                      <div class="form-group full col-lg-6">
                        <label for="fileSizeLimit">ขนาดไฟล์ที่จำกัด (MB) </label> &nbsp; <label class="text-danger">*</label>
                        <input type="number" class="form-control" id="fileSizeLimit"
                               formControlName="fileSizeLimit" [min]="0" [max]="10240"
                               placeholder="ระบุขนาดไฟล์ที่จำกัด (MB)"
                               [ngClass]="{'is-invalid': !dataTypeAddForm.get('edcDataTypeObj.fileSizeLimit').valid && dataTypeAddForm.get('edcDataTypeObj.fileSizeLimit').touched}">
                        <div class="text-danger"
                             *ngIf="dataTypeAddForm.get('edcDataTypeObj.fileSizeLimit').touched && dataTypeAddForm.get('edcDataTypeObj.fileSizeLimit').value == null">
                          กรุณากรอกขนาดไฟล์ที่จำกัด (MB).
                        </div>
                        <div class="text-danger"
                             *ngIf="dataTypeAddForm.get('edcDataTypeObj.fileSizeLimit').touched && dataTypeAddForm.get('edcDataTypeObj.fileSizeLimit').value == '' ">
                          กรุณากรอกขนาดไฟล์ที่จำกัด (MB).
                        </div>
                        <div class="text-danger"
                             *ngIf="!dataTypeAddForm.get('edcDataTypeObj.fileSizeLimit').valid && dataTypeAddForm.get('edcDataTypeObj.fileSizeLimit').touched && dataTypeAddForm.get('edcDataTypeObj.fileSizeLimit').value != null && dataTypeAddForm.get('edcDataTypeObj.fileSizeLimit').value != ''&& dataTypeAddForm.get('edcDataTypeObj.fileSizeLimit').value <= '10240'">
                          รองรับตัวเลขจำนวนเต็มเท่านั้น.
                        </div>
                        <div class="text-danger"
                             *ngIf="dataTypeAddForm.get('edcDataTypeObj.fileSizeLimit').value > '10240' && dataTypeAddForm.get('edcDataTypeObj.fileSizeLimit').touched && dataTypeAddForm.get('edcDataTypeObj.fileSizeLimit').value != null && dataTypeAddForm.get('edcDataTypeObj.fileSizeLimit').value != ''">
                          ไม่สามารถระบุขนาดไฟล์เกิน 10240 MB.
                        </div>
                        ** สูงสุดไม่เกิน 10240 MB.
                      </div>
                    </div>
                </div>
            </div>
          <div class="card border-light mb-4">
            <div class="card-header">
              <h4 class="panel-title">
                <i class="header-title fa fa-file-text"></i> รายละเอียดตำแหน่งจัดเก็บไฟล์ของผู้นำส่งข้อมูล
              </h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="form-group full col-lg-6">
                  <label for="inputPath">ตำแหน่งจัดเก็บไฟล์ขานำเข้า </label> &nbsp; <label class="text-danger">*</label>
                  <input type="text" class="form-control full" (ngModelChange)="fixPath($event)"
                         id="inputPath" formControlName="inputPath"
                         placeholder="ระบุตำแหน่งจัดเก็บไฟล์ขานำเข้า"
                         maxlength="100"
                         [ngClass]="{'is-invalid': !dataTypeAddForm.get('edcDataTypeObj.inputPath').valid && dataTypeAddForm.get('edcDataTypeObj.inputPath').touched}">
                  <div class="text-danger"
                       *ngIf="dataTypeAddForm.get('edcDataTypeObj.inputPath').touched && dataTypeAddForm.get('edcDataTypeObj.inputPath').value == null">
                    กรุณากรอกตำแหน่งจัดเก็บไฟล์.
                  </div>
                  <div class="text-danger"
                       *ngIf="dataTypeAddForm.get('edcDataTypeObj.inputPath').touched && dataTypeAddForm.get('edcDataTypeObj.inputPath').value == '' ">
                    กรุณากรอกตำแหน่งจัดเก็บไฟล์.
                  </div>
                  <div class="text-danger"
                       *ngIf="!dataTypeAddForm.get('edcDataTypeObj.inputPath').valid && dataTypeAddForm.get('edcDataTypeObj.inputPath').touched && dataTypeAddForm.get('edcDataTypeObj.inputPath').value != null && dataTypeAddForm.get('edcDataTypeObj.inputPath').value != ''">
                    รองรับตัวอักษรภาษาอังกฤษ และตัวเลขเท่านั้น.
                  </div>
                </div>
                <div class="form-group full col-lg-6">
                  <label for="statusPath">ตำแหน่งจัดเก็บไฟล์ขานำออก (สถานะ) </label> &nbsp; <label class="text-danger">*</label>
                  <input type="text" class="form-control" id="statusPath"
                         formControlName="statusPath"
                         placeholder="ระบุตำแหน่งจัดเก็บไฟล์ขานำออก (สถานะ)"
                         maxlength="100"
                         [ngClass]="{'is-invalid': !dataTypeAddForm.get('edcDataTypeObj.statusPath').valid && dataTypeAddForm.get('edcDataTypeObj.statusPath').touched}">
                  <div class="text-danger"
                       *ngIf="dataTypeAddForm.get('edcDataTypeObj.statusPath').touched && dataTypeAddForm.get('edcDataTypeObj.statusPath').value == null">
                    กรุณากรอกตำแหน่งจัดเก็บไฟล์.
                  </div>
                  <div class="text-danger"
                       *ngIf="dataTypeAddForm.get('edcDataTypeObj.statusPath').touched && dataTypeAddForm.get('edcDataTypeObj.statusPath').value == '' ">
                    กรุณากรอกตำแหน่งจัดเก็บไฟล์.
                  </div>
                  <div class="text-danger"
                       *ngIf="!dataTypeAddForm.get('edcDataTypeObj.statusPath').valid && dataTypeAddForm.get('edcDataTypeObj.statusPath').touched && dataTypeAddForm.get('edcDataTypeObj.statusPath').value != null && dataTypeAddForm.get('edcDataTypeObj.statusPath').value != ''">
                    รองรับตัวอักษรภาษาอังกฤษ และตัวเลขเท่านั้น.
                  </div>
                </div>
                <div class="form-group full col-lg-6">
                  <label for="reportPath">ตำแหน่งจัดเก็บไฟล์ขานำออก (รายงาน) </label> &nbsp; <label class="text-danger">*</label>
                  <input type="text" class="form-control full" id="reportPath"
                         formControlName="reportPath"
                         placeholder="ระบุตำแหน่งจัดเก็บไฟล์ขานำออก (รายงาน)"
                         maxlength="100"
                         [ngClass]="{'is-invalid': !dataTypeAddForm.get('edcDataTypeObj.reportPath').valid && dataTypeAddForm.get('edcDataTypeObj.reportPath').touched}">
                  <div class="text-danger"
                       *ngIf="dataTypeAddForm.get('edcDataTypeObj.reportPath').touched && dataTypeAddForm.get('edcDataTypeObj.reportPath').value == null">
                    กรุณากรอกตำแหน่งจัดเก็บไฟล์.
                  </div>
                  <div class="text-danger"
                       *ngIf="dataTypeAddForm.get('edcDataTypeObj.reportPath').touched && dataTypeAddForm.get('edcDataTypeObj.reportPath').value == '' ">
                    กรุณากรอกตำแหน่งจัดเก็บไฟล์.
                  </div>
                  <div class="text-danger"
                       *ngIf="!dataTypeAddForm.get('edcDataTypeObj.reportPath').valid && dataTypeAddForm.get('edcDataTypeObj.reportPath').touched && dataTypeAddForm.get('edcDataTypeObj.reportPath').value != null && dataTypeAddForm.get('edcDataTypeObj.reportPath').value != ''">
                    รองรับตัวอักษรภาษาอังกฤษ และตัวเลขเท่านั้น.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card border-light mb-4">
            <div class="card-header">
              <h4 class="panel-title">
                <i class="header-title fa fa-file-text"></i> รายละเอียดการรับ-ส่งข้อมูลของ E-Payment sFTP Server
              </h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="form-group full col-lg-6 checkbox">
                  <input type="checkbox" class="checkBox"
                         id="sendEpayMentFlag" [checked]="dataTypeAddForm.get('edcDataTypeObj.sendEpayMentFlag').value"
                         formControlName="sendEpayMentFlag" (change)="checkSendEpayFlag()"
                         [ngClass]="{'is-invalid': !dataTypeAddForm.get('edcDataTypeObj.sendEpayMentFlag').valid && dataTypeAddForm.get('edcDataTypeObj.sendEpayMentFlag').touched}">
                  <label for="sendEpayMentFlag">รับ-ส่งข้อมูลของ E-Payment sFTP Server  </label>

                </div>
                <div class="form-group full col-lg-6">
                  <label for="rootDirectoryEpayment">Root Directory Path </label>
                  <input type="text" class="form-control"
                         id="rootDirectoryEpayment"
                         formControlName="rootDirectoryEpayment"
                         placeholder="ระบุ Root Directory Path"
                         maxlength="100"
                         [ngClass]="{'is-invalid': !dataTypeAddForm.get('edcDataTypeObj.rootDirectoryEpayment').valid && dataTypeAddForm.get('edcDataTypeObj.rootDirectoryEpayment').touched && dataTypeAddForm.get('edcDataTypeObj.sendEpayMentFlag').value != false}" [readonly]="dataTypeAddForm.get('edcDataTypeObj.sendEpayMentFlag').value == false">
                  <div class="text-danger"
                       *ngIf="dataTypeAddForm.get('edcDataTypeObj.rootDirectoryEpayment').touched && dataTypeAddForm.get('edcDataTypeObj.rootDirectoryEpayment').value == null && dataTypeAddForm.get('edcDataTypeObj.sendEpayMentFlag').value != false">
                    กรุณากรอก Root Directory Path.
                  </div>
                  <div class="text-danger"
                       *ngIf="dataTypeAddForm.get('edcDataTypeObj.rootDirectoryEpayment').touched && dataTypeAddForm.get('edcDataTypeObj.rootDirectoryEpayment').value == '' && dataTypeAddForm.get('edcDataTypeObj.sendEpayMentFlag').value != false">
                    กรุณากรอก Root Directory Path.
                  </div>
                  <div class="text-danger"
                       *ngIf="!dataTypeAddForm.get('edcDataTypeObj.rootDirectoryEpayment').valid && dataTypeAddForm.get('edcDataTypeObj.rootDirectoryEpayment').touched && dataTypeAddForm.get('edcDataTypeObj.rootDirectoryEpayment').value != null && dataTypeAddForm.get('edcDataTypeObj.rootDirectoryEpayment').value != '' && dataTypeAddForm.get('edcDataTypeObj.sendEpayMentFlag').value != false">
                    รองรับตัวอักษรภาษาอังกฤษ และตัวเลขเท่านั้น.
                  </div>
                </div>
              <div class="form-group full col-lg-6">
              </div>
                <div class="form-group full col-lg-6">
                  <label for="inputPathEpayment">ตำแหน่งจัดเก็บไฟล์ขานำเข้า </label>
                  <input type="text" class="form-control full"
                         id="inputPathEpayment"
                         formControlName="inputPathEpayment"
                         placeholder="ระบุตำแหน่งจัดเก็บไฟล์ขานำเข้า"
                         maxlength="100"
                         [ngClass]="{'is-invalid': !dataTypeAddForm.get('edcDataTypeObj.inputPathEpayment').valid && dataTypeAddForm.get('edcDataTypeObj.inputPathEpayment').touched}" [readonly]="dataTypeAddForm.get('edcDataTypeObj.sendEpayMentFlag').value == false"
                         [readonly]="dataTypeAddForm.get('edcDataTypeObj.sendEpayMentFlag').value == false">
                  <div class="text-danger"
                       *ngIf="dataTypeAddForm.get('edcDataTypeObj.inputPathEpayment').touched && dataTypeAddForm.get('edcDataTypeObj.inputPathEpayment').value == null && dataTypeAddForm.get('edcDataTypeObj.sendEpayMentFlag').value != false">
                    กรุณากรอกตำแหน่งจัดเก็บไฟล์.
                  </div>
                  <div class="text-danger"
                       *ngIf="dataTypeAddForm.get('edcDataTypeObj.inputPathEpayment').touched && dataTypeAddForm.get('edcDataTypeObj.inputPathEpayment').value == '' && dataTypeAddForm.get('edcDataTypeObj.sendEpayMentFlag').value != false ">
                    กรุณากรอกตำแหน่งจัดเก็บไฟล์.
                  </div>
                  <div class="text-danger"
                       *ngIf="!dataTypeAddForm.get('edcDataTypeObj.inputPathEpayment').valid && dataTypeAddForm.get('edcDataTypeObj.inputPathEpayment').touched && dataTypeAddForm.get('edcDataTypeObj.inputPathEpayment').value != null && dataTypeAddForm.get('edcDataTypeObj.inputPathEpayment').value != '' && dataTypeAddForm.get('edcDataTypeObj.sendEpayMentFlag').value != false">
                    รองรับตัวอักษรภาษาอังกฤษ และตัวเลขเท่านั้น.
                  </div>
                </div>
              <div class="form-group full col-lg-6 checkbox" *ngIf="dataTypeAddForm.get('edcDataTypeObj.sendEpayMentFlag').value == true">
                <input type="checkbox"
                       class="checkbox"
                       (change)="selectSendReportEpayment()"
                       [readOnly]="dataTypeAddForm.get('edcDataTypeObj.sendEpayMentFlag').value == true"
                       id="sendReportEpayment"
                       formControlName="sendReportEpayment">
                <label for="sendReportEpayment">ต้องการส่ง Report ให้ผู้นำส่ง  </label>
              </div>
              <div class="form-group full col-lg-6" *ngIf="dataTypeAddForm.get('edcDataTypeObj.sendEpayMentFlag').value == true">
                <label for="sendReportEpayment">ตำแหน่งจัดเก็บไฟล์ขานำออก (รายงาน) </label>
                <input type="text"
                       class="form-control full"
                       [readonly]="dataTypeAddForm.get('edcDataTypeObj.sendReportEpayment').value == false"
                       placeholder="ระบุตำแหน่งจัดเก็บไฟล์ขานำออก (รายงาน)"
                       formControlName="reportPathEpayment"
                       id="reportPathEpayment"
                       maxlength="100"
                       [ngClass]="{'is-invalid': !dataTypeAddForm.get('edcDataTypeObj.reportPathEpayment').valid && dataTypeAddForm.get('edcDataTypeObj.reportPathEpayment').touched}">
                  <div class="text-danger"
                       *ngIf="dataTypeAddForm.get('edcDataTypeObj.reportPathEpayment').touched && dataTypeAddForm.get('edcDataTypeObj.reportPathEpayment').value == null && dataTypeAddForm.get('edcDataTypeObj.sendReportEpayment').value != false">
                    กรุณากรอกตำแหน่งจัดเก็บไฟล์.
                  </div>
                  <div class="text-danger"
                       *ngIf="dataTypeAddForm.get('edcDataTypeObj.reportPathEpayment').touched && dataTypeAddForm.get('edcDataTypeObj.reportPathEpayment').value == '' && dataTypeAddForm.get('edcDataTypeObj.sendReportEpayment').value != false ">
                    กรุณากรอกตำแหน่งจัดเก็บไฟล์.
                  </div>
                  <div class="text-danger"
                       *ngIf="!dataTypeAddForm.get('edcDataTypeObj.reportPathEpayment').valid && dataTypeAddForm.get('edcDataTypeObj.reportPathEpayment').touched && dataTypeAddForm.get('edcDataTypeObj.reportPathEpayment').value != null && dataTypeAddForm.get('edcDataTypeObj.reportPathEpayment').value != '' && dataTypeAddForm.get('edcDataTypeObj.sendReportEpayment').value != false">
                    รองรับตัวอักษรภาษาอังกฤษ และตัวเลขเท่านั้น.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card border-light mb-4">
            <div class="card-header">
              <h4 class="panel-title">
                <i class="header-title fa fa-file-text"></i> การเข้ารหัสข้อมูล
              </h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <label for="reportPathEpayment">การเข้ารหัสข้อมูล </label> &nbsp; <label class="text-danger">*</label>
                  <div class="form-row">
                    <div class="col-md-6">
                      <div class="radio">
                        <input class="form-check-input" type="radio"
                               (change)="checkCert()"
                               id="encPkiCertY" name="encPkiCert" [value]="'Y'"
                               formControlName="encPkiCert">
                        <label class="form-check-label" for="encPkiCertY">
                          เข้ารหัสข้อมูล
                        </label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="radio">
                        <input class="form-check-input" type="radio"
                               (change)="checkCert()"
                               id="encPkiCertN" name="encPkiCert" [value]="'N'"
                               formControlName="encPkiCert">
                        <label class="form-check-label" for="encPkiCertN">
                          ไม่เข้ารหัสข้อมูล
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-lg-6" *ngIf="dataTypeAddForm.get('edcDataTypeObj.encPkiCert').value == 'Y'">
                  <label>PKCS#12 File</label> &nbsp; <label class="text-danger">*</label>
                  <input type="file" class="form-control" id="pkcs12File"
                         (change)="selectFile($event)">
                  <!--                                           formControlName="pkcs12File"-->
                  <!--                                           [ngClass]="{'is-invalid': !dataTypeAddForm.get('edcDataTypeObj.pkcs12File').valid && dataTypeAddForm.get('edcDataTypeObj.pkcs12File').touched}">-->
                  <!--                                    <div class="text-danger"-->
                  <!--                                         *ngIf="!dataTypeAddForm.get('edcDataTypeObj.pkcs12File').valid && dataTypeAddForm.get('edcDataTypeObj.pkcs12File').touched">-->
                  <!--                                        กรุณาเลือกไฟล์.-->
                  <!--                                    </div>-->
                </div>

                <div class="form-group col-lg-4" *ngIf="dataTypeAddForm.get('edcDataTypeObj.encPkiCert').value == 'Y'">
                  <label for="certKey">PKCS#12 Key Password</label> &nbsp; <label class="text-danger">*</label>
                  <input type="password" class="form-control full"
                         id="certKey" formControlName="certKey"
                         placeholder="ระบุ PKCS#12 Key Password"
                         [ngClass]="{'is-invalid': !dataTypeAddForm.get('edcDataTypeObj.certKey').valid && dataTypeAddForm.get('edcDataTypeObj.certKey').touched}"
                         maxlength="150">
                  <div class="text-danger"
                       *ngIf="dataTypeAddForm.get('edcDataTypeObj.certKey').touched && dataTypeAddForm.get('edcDataTypeObj.certKey').value == null ">
                    กรุณากรอกรหัสผ่าน.
                  </div>
                  <div class="text-danger"
                       *ngIf="dataTypeAddForm.get('edcDataTypeObj.certKey').touched && dataTypeAddForm.get('edcDataTypeObj.certKey').value == '' ">
                    กรุณากรอกรหัสผ่าน.
                  </div>
                </div>

                <div class="form-group col-lg-2 mt-3" *ngIf="dataTypeAddForm.get('edcDataTypeObj.encPkiCert').value == 'Y'">
                  <button type="button" class="btn btn-auto btn-orange3 w-md m-t-5" (click)="checkPassword()" id="check"><i
                    class="fa fa-repeat"></i> ตรวจสอบ
                  </button>
                </div>
              </div>
            </div>
          </div>
            <div class="card border-light mb-4">
                <div class="card-header">
                    <h4 class="panel-title">
                        <i class="header-title fa fa-file-text"></i> การคัดแยกข้อมูล
                    </h4>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <div class="radio">
                                <input class="form-check-input" type="radio"
                                       formControlName="isProcess"
                                       id="isProcessY" name="isProcess" [value]="'Y'">
                                <label class="form-check-label" for="isProcessY">
                                    นำไปคัดแยก
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <div class="radio">
                                <input class="form-check-input" type="radio"
                                       formControlName="isProcess"
                                       id="isProcessN" name="isProcess" [value]="'N'">
                                <label class="form-check-label" for="isProcessN">
                                    ไม่นำไปคัดแยก
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card border-light mb-4">
                <div class="card-header">
                    <h4 class="panel-title">
                        <i class="header-title fa fa-file-text"></i> รูปแบบการตั้งชื่อไฟล์
                    </h4>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <div class="radio">
                                <input class="form-check-input" type="radio"
                                       formControlName="patternFileNameType"
                                       id="patternFileNameTypeFix" name="patternFileNameType" [value]="'0'" (change)="onInput()">
                                <label class="form-check-label" for="patternFileNameTypeFix">
                                    กำหนดรูปแบบเอง
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <div class="radio">
                                <input class="form-check-input" type="radio"
                                       formControlName="patternFileNameType"
                                       id="patternFileNameTypeDefault" name="patternFileNameType" [value]="'1'" (change)="onInput()">
                                <label class="form-check-label" for="patternFileNameTypeDefault">
                                    รูปแบบมาตรฐาน
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <div class="radio">
                                <input class="form-check-input" type="radio"
                                       formControlName="patternFileNameType"
                                       id="patternFileNameTypeNone" name="patternFileNameType" [value]="'2'" (change)="onInput()">
                                <label class="form-check-label" for="patternFileNameTypeNone">
                                    ไม่กำหนด
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3"
                             *ngIf="dataTypeAddForm.get('edcDataTypeObj.patternFileNameType').value == '0' || dataTypeAddForm.get('edcDataTypeObj.patternFileNameType').value == '1'">
                            <label for="patternFileName">รูปแบบชื่อไฟล์</label> &nbsp; <label class="text-danger">*</label>
                            <input type="text" id="patternFileName" class="form-control full"
                                   formControlName="patternFileName"
                                   [readOnly]="checkDataTypeCode"
                                   [(ngModel)]="defaultPatternFile"
                                   placeholder="ระบุรูปแบบชื่อไฟล์"
                                   [ngClass]="{'is-invalid': !dataTypeAddForm.get('edcDataTypeObj.patternFileName').valid && dataTypeAddForm.get('edcDataTypeObj.patternFileName').touched}"
                                   maxlength="100">
                          <div class="text-danger"
                               *ngIf="dataTypeAddForm.get('edcDataTypeObj.patternFileName').touched && dataTypeAddForm.get('edcDataTypeObj.patternFileName').value == null ">
                            กรุณากรอกรูปแบบชื่อไฟล์.
                          </div>
                          <div class="text-danger"
                               *ngIf="dataTypeAddForm.get('edcDataTypeObj.patternFileName').touched && dataTypeAddForm.get('edcDataTypeObj.patternFileName').value == '' ">
                            กรุณากรอกรูปแบบชื่อไฟล์.
                          </div>
                          <div class="text-danger"
                               *ngIf="!dataTypeAddForm.get('edcDataTypeObj.patternFileName').valid && dataTypeAddForm.get('edcDataTypeObj.patternFileName').touched && dataTypeAddForm.get('edcDataTypeObj.patternFileName').value != null && dataTypeAddForm.get('edcDataTypeObj.patternFileName').value != ''">
                            รองรับตัวอักษรภาษาอังกฤษ และตัวเลขเท่านั้น.
                          </div>
                        </div>
                        <div>คำอธิบายตัวแปรของชื่อไฟล์: <br>
                            [Data_Type] รหัสประเภทข้อมูล <br>
                            [Data_Type_ABB]  รหัสประเภทข้อมูลแบบย่อ <br>
                            [Receiver_FI_Code] เลขรหัสธนาคารหรือสถาบันผู้ส่งข้อมูลที่ธปท.ออกให้ เช่น 999 <br>
                            [YYYYMMDD] ปี เดือน วัน ของข้อมูล ระบุเป็นปีคริสต์ศักราช เช่น 20191201 <br>
                            [DDMMYYYY-BE] วัน  เดือน ปี ของข้อมูล ระบุเป็นปีพุทธศักราช เช่น 01122562 <br>
                            [YYYY] ปีของข้อมูล ระบุเป็นปีคริสต์ศักราช เช่น 2019 <br>
                            [SEQ_NO] ครั้งที่นำส่งข้อมูลในแต่ละวัน เริ่มที่ 01 สูงสุดคือ 99 <br>
                            [TAX_TD] เลขผู้เสียภาษีอากร
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table style="margin:auto;">
            <tr>
                <td>
                    <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5" id="back"
                            (click)="onBack()"><i
                            class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-auto btn-orange2 w-md m-b-5" (click)="resetForm()" id="clear"><i
                            class="fa fa-repeat"></i> ล้างข้อมูล
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-auto btn-green w-md m-b-5" id="save">
                        <i class="fa fa-floppy-o"></i> บันทึก
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
