<section class="content">
  <div class="header-title mb-4">
    <h1>
      <strong>ลงทะเบียนข้อมูลต้นแบบ XML และ PDF Template</strong>
      <small class="pull-right"
        ><a href="" class="active">หน้าหลัก</a> / ลงทะเบียนข้อมูลต้นแบบ XML และ
        PDF Template</small
      >
    </h1>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h4><em class="header-title fa fa-file-text"></em> ข้อมูลต้นแบบ XML</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="xmlTemplateDetailForm" (ngSubmit)="saveXmlTemplate()">
        <div class="row">
          <div class="form-group col-lg-12">
            <label>ชื่อหน่วยงาน</label><span class="red">*</span>
            <input
              type="text"
              class="form-control"
              name="departmentName"
              id="departmentName"
              formControlName="departmentName"
            />
          </div>
          <div class="form-group col-lg-12">
            <label>ชื่อระบบงาน</label><span class="red">*</span>
            <input
              type="text"
              class="form-control"
              name="systemName"
              id="systemName"
              formControlName="systemName"
              [class.is-invalid]="
                systemName.invalid && (systemName.dirty || systemName.touched)
              "
            />
            <div class="invalid-feedback">
              กรุณากรอก ชื่อระบบงาน ให้ถูกต้อง | ชื่อระบบงาน ความยาวไม่เกิน 85
              ตัวอักษร
            </div>
          </div>
          <div class="form-group col-lg-4">
            <label>รหัสข้อมูลต้นแบบ XML</label><span class="red">*</span>
            <input
              type="text"
              class="form-control"
              name="xmlTemplateCode"
              id="xmlTemplateCode"
              formControlName="xmlTemplateCode"
            />
          </div>
          <div class="form-group col-lg-8">
            <label>ชื่อข้อมูลต้นแบบ XML</label><span class="red">*</span>
            <input
              type="text"
              class="form-control"
              name="xmlTemplateName"
              id="xmlTemplateName"
              formControlName="xmlTemplateName"
              [class.is-invalid]="
                xmlTemplateName.invalid &&
                (xmlTemplateName.dirty || xmlTemplateName.touched)
              "
            />
            <div class="invalid-feedback">
              กรุณากรอก ชื่อข้อมูลต้นแบบ XML ให้ถูกต้อง | ชื่อข้อมูลต้นแบบ XML
              ความยาวไม่เกิน 85 ตัวอักษร
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label>อีเมลสำหรับติดต่อ</label><span class="red">*</span>
            <input
              type="email"
              class="form-control"
              name="email"
              id="email"
              formControlName="email"
              [class.is-invalid]="
                email.invalid && (email.dirty || email.touched)
              "
            />
            <div class="invalid-feedback">
              กรุณากรอกอีเมลให้ถูกต้อง
            </div>
          </div>
          <div class="form-group col-lg-8">
            <label>อัพโหลดไฟล์ XML</label><span class="red">*</span>
            <input
              type="text"
              class="form-control"
              name="xmlTemplateFileName"
              id="xmlTemplateFileName"
              formControlName="xmlTemplateFileName"
              readonly
            />
          </div>

          <div class="form-group col-lg-2">
            <label class="btn btn-block btn-primary">
              <em class="fa fa-download"></em> Download
              <input (click)="downloadXmlTemplate()" style="display: none;" />
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h4><em class="fa fa-file-text"></em> ข้อมูล PDF Template</h4>
    </div>
    <div class="card-body">
      <table
        class="table table-striped table-bordered table-sm"
        summary="ข้อมูล PDF Template"
      >
        <thead>
          <tr role="row">
            <th class="text-center" scope="col" style="width: 50px">#</th>
            <th class="text-center" scope="col">รหัส PDF</th>
            <th class="text-center" scope="col">ชื่อ PDF</th>
            <th class="text-center" scope="col">สถานะ</th>
            <th class="text-center" scope="col">วันที่เริ่มใช้งาน</th>
            <th class="text-center" scope="col">วันที่สิ้นสุดใช้งาน</th>
            <th class="text-center" scope="col">ไฟล์ PDF ออกแบบ</th>
            <th class="text-center" scope="col" style="width: 120px"></th>
          </tr>
        </thead>
        <tbody>
          <tr role="row" class="odd" *ngFor="let v of pageResponse.content">
            <td class="text-center">{{ v.no }}</td>
            <td class="text-center">{{ v.pdfTemplateCode }}</td>
            <td class="text-center">{{ v.pdfTemplateName }}</td>
            <td class="text-center">{{ v.statusDesc }}</td>
            <td class="text-center">
              {{ (v.startDate | date: "dd/MM/yyyy") || "-" }}
            </td>
            <td class="text-center">
              {{ (v.endDate | date: "dd/MM/yyyy") || "-" }}
            </td>
            <td class="text-center">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-orange btn-sm btn-auto"
                  (click)="previewPdfTemplate(v.pdfTemplateId)"
                  tooltip="ดู"
                >
                  <em class="fa fa-search" aria-hidden="true"></em>
                </button>
                <button
                  type="button"
                  class="btn btn-orange btn-sm btn-auto"
                  (click)="downloadPdfTemplate(v.pdfTemplateId)"
                  tooltip="ดาวน์โหลด"
                >
                  <em class="fa fa-download" aria-hidden="true"></em>
                </button>
              </div>
            </td>
            <td class="text-center">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-orange btn-sm btn-auto"
                  (click)="
                    viewPdfTemplateDetail(v.pdfTemplateId, pdfDetailModal)
                  "
                  tooltip="ดูรายละเอียด"
                >
                  <em class="fa fa-info-circle" aria-hidden="true"></em>
                </button>
                <button
                  type="button"
                  class="btn btn-orange btn-sm btn-auto"
                  (click)="
                    editPdfTemplateDetail(v.pdfTemplateId, pdfDetailModal)
                  "
                  *ngIf="v.statusId == '1' || v.statusId == '3'"
                  tooltip="อนุมัติ"
                >
                  <em class="fa fa-pencil-square" aria-hidden="true"></em>
                </button>
                <button
                  type="button"
                  class="btn btn-orange btn-sm btn-auto"
                  (click)="cancelPdfTemplate(v.pdfTemplateId)"
                  *ngIf="v.statusId == '3'"
                  tooltip="ยกเลิก"
                >
                  <em class="fa fa-trash" aria-hidden="true"></em>
                </button>
              </div>
            </td>
          </tr>
          <tr *ngIf="pageResponse.content?.length === 0">
            <td colspan="8" class="text-center">ไม่พบข้อมูล</td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-sm-5">
          <div
            class="dataTables_info"
            id="dtBasicExample_info"
            role="status"
            aria-live="polite"
            style="padding: 5px;"
          >
            แสดงผล
            {{ pageResponse.numberOfElements }} จาก
            {{ pageResponse.totalPages }} รายการ
          </div>
        </div>
        <div class="col-sm-7 text-right">
          แสดงหน้าละ
          <select (change)="changeRowLimits($event)" style="padding: 5px;">
            <option *ngFor="let limit of rowLimits" [value]="limit.value">{{
              limit.key
            }}</option>
          </select>
          &nbsp;&nbsp;
          <pagination
            style="float: right;"
            [boundaryLinks]="true"
            [totalItems]="pageResponse.totalPages"
            previousText="&lsaquo;"
            nextText="&rsaquo;"
            firstText="&laquo;"
            lastText="&raquo;"
            [rotate]="true"
            [maxSize]="5"
            [(ngModel)]="pageRequest.page"
            (pageChanged)="pageChange($event, limit)"
            (limit)="(limit)"
            [itemsPerPage]="pageResponse.size"
            aria-label="Default pagination"
          ></pagination>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="form-group col-lg-2 reset-button">
          <button
            type="button"
            class="btn btn-green w-md m-b-5"
            (click)="saveXmlTemplate()"
          >
            <em class="fa fa-floppy-o"></em> &nbsp;บันทึก
          </button>
        </div>
        <div class="form-group col-lg-2 reset-button">
          <button
            type="button"
            class="btn btn-danger w-md m-b-5"
            (click)="goBack()"
          >
            <em class="fa fa-times-circle"></em>
            กลับหน้าหลัก
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #pdfDetailModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        ข้อมูล PDF Template
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form [formGroup]="pdfTemplateDetailForm">
        <div class="row">
          <div class="col-12 col-sm-3 text-left text-sm-right">
            รหัส PDF :
          </div>
          <div class="col-12 col-sm-9">
            <input
              type="text"
              class="form-control"
              formControlName="pdfTemplateCode"
              value="{{ pdfTemplateDetailForm.get('pdfTemplateCode').value }}"
            />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-12 col-sm-3 text-left text-sm-right">
            ชื่อ PDF <span class="red">*</span> :
          </div>
          <div class="col-12 col-sm-9">
            <input
              type="text"
              class="form-control"
              formControlName="pdfTemplateName"
              [readonly]="isReadonly"
              [class.is-invalid]="
                pdfTemplateName.invalid &&
                (pdfTemplateName.dirty || pdfTemplateName.touched)
              "
            />
            <div class="invalid-feedback">
              กรุณากรอก ชื่อ PDF ให้ถูกต้อง | ชื่อ PDF ความยาวไม่เกิน 85
              ตัวอักษร
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-12 col-sm-3 text-left text-sm-right">
            อัพโหลด PDF Template<span class="red">*</span> :
          </div>
          <div class="col-12 col-sm-5">
            <input
              type="text"
              class="form-control"
              formControlName="pdfTemplateFileName"
              readonly
            />
          </div>

          <div class="form-group col-lg-2">
            <label class="btn btn-block btn-primary">
              <em class="fa fa-download"></em>
              <input (click)="downloadPdfTemplate(0)" style="display: none;" />
            </label>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-12 col-sm-3 text-left text-sm-right">
            อัพโหลด PDF ออกแบบสำเร็จ<span class="red">*</span> :
          </div>
          <div class="col-12 col-sm-5">
            <input
              type="text"
              class="form-control"
              formControlName="pdfTemplateDemoFileName"
              readonly
              [class.is-invalid]="
                pdfTemplateDemoFileNameControl.invalid &&
                (pdfTemplateDemoFileNameControl.dirty ||
                  pdfTemplateDemoFileNameControl.touched)
              "
            />
            <div class="invalid-feedback">
              กรุณาอัพโหลด PDF ที่ออกแบบสำเร็จ
            </div>
          </div>

          <div class="form-group col-lg-2" *ngIf="!isShow">
            <label class="btn btn-block btn-green">
              <em class="fa fa-upload"></em>
              <input
                type="file"
                (change)="setPdfTemplateDemoAttachment($event.srcElement)"
                style="display: none;"
              />
            </label>
          </div>
          <div class="form-group col-lg-2">
            <label class="btn btn-block btn-primary">
              <em class="fa fa-download"></em>
              <input (click)="downloadPdfDemo(0)" style="display: none;" />
            </label>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-12 col-sm-3 text-left text-sm-right">
            วันที่เริ่มใช้งาน <span class="red">*</span> :
          </div>
          <div class="col-12 col-sm-9">
            <app-datepicker-th
              class="form-control-datepicker"
              formControlName="startDate"
              [readonly]="isReadonly"
              id="startDate"
              [maxDate]="
                startDateControl.value == endDateControl.value
                  ? null
                  : endDateControl.value
              "
            >
            </app-datepicker-th>
            <div *ngIf="xmlTemplateSubmit && field.startDate.errors">
              <div
                *ngIf="xmlTemplateSubmit && field.startDate.errors.required"
                style="font-size: 80%;color: #dc3545;"
              >
                กรุณาระบุวันที่เริ่มใช้งาน
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-12 col-sm-3 text-left text-sm-right">
            วันที่สิ้นสุดใช้งาน :
          </div>
          <div class="col-12 col-sm-9">
            <app-datepicker-th
              class="form-control-datepicker"
              formControlName="endDate"
              [readonly]="isReadonly"
              id="endDate"
              [minDate]="startDateControl.value"
            >
            </app-datepicker-th>
            <div *ngIf="xmlTemplateSubmit && field.endDate.errors">
              <div
                *ngIf="xmlTemplateSubmit && field.endDate.errors.required"
                style="font-size: 80%;color: #dc3545;"
              >
                กรุณาระบุวันที่สิ้นสุดใช้งาน
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-10 col-sm-3 text-left text-sm-right">
            เอกสารแนบอื่น ๆ<span class="red">*</span>
          </div>
          <div class="col-2 col-sm-2" *ngIf="!isShow">
            <label class="btn btn-block btn-green">
              <em class="fa fa-upload"></em>
              <input
                type="file"
                (change)="setPdfResourceAttachment($event.srcElement)"
                style="display: none;"
                accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.openxmlformats-officedocument.presentationml.slideshow, application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, application/pdf, image/*"
                multiple
              />
            </label>
          </div>
          <div class="col-12 col-sm-12 text-left text-sm-right">
            <table
              class="table table-striped table-bordered table-sm"
              summary="เอกสารแนบอื่น ๆ"
            >
              <thead>
                <tr role="row">
                  <th class="text-center" scope="col" style="width: 50px">#</th>
                  <th class="text-center" scope="col">ชื่อไฟล์แนบ</th>
                  <th class="text-center" scope="col" style="width: 120px"></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  role="row"
                  class="odd"
                  *ngFor="let v of pdfAttachmentList; let num = index"
                >
                  <td class="text-center">{{ num + 1 }}</td>
                  <td class="text-left">{{ v.fileName }}</td>
                  <td class="text-center">
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-orange btn-sm btn-auto"
                        (click)="
                          downloadPdfResource(
                            v.pdfTemplateAttachmentId,
                            v.pdfTemplate.pdfTemplateId
                          )
                        "
                      >
                        <em class="fa fa-download" aria-hidden="true"></em>
                      </button>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="pdfAttachmentList?.length === 0">
                  <td colspan="3" class="text-center">ไม่พบข้อมูล</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <div class="row justify-content-center col-lg-12">
        <div
          class="form-group col-lg-4 reset-button"
          *ngIf="!isShow && !isApproved"
        >
          <button
            type="button"
            class="btn btn-primary"
            (click)="approvePdfTemplate()"
          >
            <em class="fa fa-floppy-o"></em> อนุมัติใช้งาน
          </button>
        </div>
        <div
          class="form-group col-lg-4 reset-button"
          *ngIf="!isShow && !isApproved"
        >
          <button
            type="button"
            class="btn btn-violet"
            (click)="denyPdfTemplate(denyReasonModal)"
          >
            <em class="fa fa-arrow-circle-left"></em> ส่งกลับแก้ไข
          </button>
        </div>
        <div
          class="form-group col-lg-4 reset-button"
          *ngIf="!isShow && isApproved"
        >
          <button
            type="button"
            class="btn btn-primary"
            (click)="savePdfTemplate()"
          >
            <em class="fa fa-arrow-floppy-o"></em> บันทึก
          </button>
        </div>
        <div class="form-group col-lg-4 reset-button">
          <button type="button" class="btn btn-danger" (click)="d('cancel')">
            <em class="fa fa-times"></em> ยกเลิก
          </button>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #denyReasonModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        เหตุผลการส่งกลับแก้ไข
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="form-group col-lg-6">
        <label for="desc">ยืนยันส่งกลับแก้ไข</label>
        <textarea
          class="form-control"
          name="reasonToDeny"
          id="reasonToDeny"
          [(ngModel)]="reasonToDeny"
          rows="5"
        >
        </textarea>
      </div>
    </div>

    <div class="modal-footer">
      <div class="row justify-content-center col-lg-12">
        <div class="form-group col-lg-4 reset-button">
          <button type="button" class="btn btn-violet" (click)="confirmDeny()">
            <em class="fa fa-arrow-circle-left"></em> ยืนยันส่งกลับแก้ไข
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</section>
