<section class="content">
  <div class="header-title">
    <h1><strong> บันทึกรับเรื่องอุทธรณ์</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a>
        /อุทธรณ์
        /บันทึกรับเรื่องอุทธรณ์</small></h1>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading">
          <div class="panel-title">
            <h3><i class="fa fa-file-text"></i> ค้นหาข้อมูลอุทธรณ์</h3>
          </div>
        </div>
        <br />

        <div class="panel-body no-padding"></div>

        <div class="panel-body">
          <form role="form"  [formGroup]="searchCondition" (ngSubmit)="getData()">
            <div class="row form-group">
              <div class="col-12 col-sm-3 text-sm-right text-left">
                <label>ปีภาษี : <span class="red">*</span></label>
              </div>
              <div class="col-12 col-sm-2 text-left">
                <select class="custom-select form-control"  formControlName="taxYear"
                  [ngClass]="{'border-danger': taxYearControl.invalid && taxYearControl.touched}">
                  <option value="">โปรดระบุ</option>
                  <option *ngFor="let item of taxYearList" [value]="item">
                    {{item}}
                  </option>
                </select>
                <div class="red error-msg" *ngIf="taxYearControl.hasError('required') && taxYearControl.touched">
                    กรุณาระบุปีภาษี
                </div>
              </div>

              <div class="col-12 col-sm-2 text-sm-right text-left">
                <label>เลขประจำตัวประชาชน : <span class="red">*</span></label>
              </div>
              <div class="col-12 col-sm-2 text-left">
                <input type="text" appNumberOnly class="form-control" maxlength="13" formControlName="nid"
                [ngClass]="{'border-danger': nidControl.invalid && nidControl.touched}" appPersonalNumberFormatValidator>
                <div class="red error-msg" *ngIf="nidControl.hasError('required') && nidControl.touched">
                    กรุณาระบุเลขประจำตัวประชาชน
                </div>
                <div class="red error-msg" *ngIf="nidControl.hasError('personalNumberFormatError') && nidControl.touched">
                  เลขประจำตัวประชาชนไม่ถูกต้อง
                </div>
                <div class="red error-msg" *ngIf="nidControl.hasError('minlength') && nidControl.touched">
                  กรุณาระบุเลขประจำตัวประชาชนให้ครบ 13 หลัก
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="form-group col-lg-4"></div>
              <div class="form-group col-lg-2 reset-button">
                <button type="submit" class="btn btn-success margin-top-10">
                  <i class="glyphicon glyphicon-search"></i> ค้นหา
                </button>
              </div>
              <div class="form-group col-lg-2 reset-button">
                <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
                  <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row"  *ngIf="isSearch && appeal?.registrantDto == null  && appeal?.appealOnlineDto == null">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading">
          <div class="panel-title" style="text-align: center">
            <h3>ไม่พบข้อมูล</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row"  *ngIf="isSearch && appeal?.registrantDto != null">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading">
          <div class="panel-title">
            <h4><i class="fa fa-file-text"></i> ข้อมูลการลงทะเบียนตามแบบฟอร์ม</h4>
          </div>
        </div>

        <div class="panel-body no-padding"></div>

        <div class="panel-body">
          <br />
          <div class="row">
            <div class="form-group col-lg-3 text-right">
              <label>ปีภาษี :</label>
            </div>
            <div class="form-group col-lg-3 text-left">
              <span>{{appeal?.registrantDto?.taxYear}}</span>
            </div>

            <div class="form-group col-lg-3 text-right">
              <label>ชื่อ - สกุล : </label>
            </div>
            <div class="form-group col-lg-3 text-left">
                <span>{{appeal?.registrantDto?.firstName + '-' + appeal?.registrantDto?.lastName }}</span>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-3 text-right">
              <label>วันเดือนปี เกิด :</label>
            </div>
            <div class="form-group col-lg-3 text-left">
              <span>{{appeal?.registrantDto?.birthDate}}</span>
            </div>

            <div class="form-group col-lg-3 text-right">
              <label>เพศ : </label>
            </div>
            <div class="form-group col-lg-3 text-left">
                <span>{{appeal?.registrantDto?.sexDesc}}</span>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-3 text-right">
              <label>หน่วยงานที่ไปลงทะเบียน :</label>
            </div>
            <div class="form-group col-lg-3 text-left">
              <span>{{appeal?.registrantDto?.bankName}}</span>
            </div>

            <div class="form-group col-lg-3 text-right">
              <label>วันที่ลงทะเบียน : </label>
            </div>
            <div class="form-group col-lg-3 text-left">
              <span>{{appeal?.registrantDto?.registerDate}}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="panel panel-bd lobidisable">
                <div class="panel-heading">
                  <div class="panel-title">
                    <h4>ผลการตรวจสอบรายได้จากฐานข้อมูลของกรมสรรพากร</h4>
                  </div>
                </div>

                <div class="panel-body">
                    <br/>
                    <div class="row">
                      <div class="form-group col-lg-12 text-center" *ngIf="appeal?.registrantDto?.resultCode != 'Y'">
                        <h4>ผลการตรวจสอบรายได้ปี {{appeal?.registrantDto?.taxYear}} : <strong>{{appeal?.registrantDto?.resultDesc}}</strong> รายได้เกิน {{appeal?.registrantDto?.maxIncome | number :'1.2-2' }} บาท </h4>
                      </div>
                      <div class="form-group col-lg-12 text-center" *ngIf="appeal?.registrantDto?.resultCode == 'Y'">
                        <h4>ผลการตรวจสอบรายได้ปี {{appeal?.registrantDto?.taxYear}} : <strong>{{appeal?.registrantDto?.resultDesc}}</strong> รายได้ไม่เกิน {{appeal?.registrantDto?.maxIncome | number :'1.2-2' }}  บาท </h4>
                      </div>
                    </div>

                    <table id="registrantDetailTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th scope="col" class="text-center" style="width: 30%">ภาษีเงินได้บุคคลธรรมดา</th>
                          <th scope="col" class="text-center" style="width: 30%">ภาษีเงินได้หัก ณ ที่จ่าย</th>
                          <th scope="col" class="text-center" style="width: 30%">ภาษีมูลค่าเพิ่ม</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr role="row" class="odd">
                            <td class="text-left">
                              <div *ngFor="let data of appeal?.registrantDto?.registrantDetailDtoList;index as i">
                                <span *ngIf="data.workSystemId == 1">-{{data.taxTypeDesc}} จำนวนเงิน {{data.income | number :'1.2-2'}} บาท</span>
                              </div>
                            </td>
                            <td class="text-left">
                              <div *ngFor="let data of appeal?.registrantDto?.registrantDetailDtoList;index as i">
                                <span *ngIf="data.workSystemId == 2">-{{data.taxTypeDesc}} จำนวนเงิน {{data.income | number :'1.2-2'}} บาท</span>
                              </div>
                            </td>
                            <td class="text-left">
                              <div *ngFor="let data of appeal?.registrantDto?.registrantDetailDtoList;index as i">
                                <span *ngIf="data.workSystemId == 3">-{{data.taxTypeDesc}} จำนวนเงิน {{data.income | number :'1.2-2'}} บาท</span>
                              </div>
                            </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td class="text-left">
                            <span><strong>รวมจำนวนเงิน {{sumPit | number :'1.2-2'}} บาท</strong></span>
                          </td>
                          <td class="text-left">
                            <span><strong>รวมจำนวนเงิน {{sumWht | number :'1.2-2'}} บาท</strong></span>
                          </td>
                          <td class="text-left">
                            <span><strong>รวมจำนวนเงิน {{sumVat | number :'1.2-2'}} บาท</strong></span>
                          </td>
                        </tr>
                      </tfoot>
                    </table>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row"  *ngIf="isSearch && appeal?.appealOnlineDto != null">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-bd lobidisable">
          <div class="panel-heading">
            <div class="panel-title">
              <h4><i class="fa fa-file-text"></i>ข้อมูลการลงทะเบียนอุทธรณ์ Online</h4>
            </div>
          </div>

          <div class="panel-body no-padding"></div>

          <div class="panel-body">
            <br />
            <div class="row">
              <div class="form-group col-lg-3 text-right">
                <label>ปีภาษี :</label>
              </div>
              <div class="form-group col-lg-3 text-left">
                <span>{{appeal?.appealOnlineDto?.taxYear}}</span>
              </div>

              <div class="form-group col-lg-3 text-right">
                <label>ชื่อ - สกุล : </label>
              </div>
              <div class="form-group col-lg-3 text-left">
                  <span>{{appeal?.appealOnlineDto?.firstName + '-' + appeal?.appealOnlineDto?.lastName }}</span>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-3 text-right">
                <label>วันเดือนปี เกิด :</label>
              </div>
              <div class="form-group col-lg-3 text-left">
                <span>{{appeal?.appealOnlineDto?.birthDate}}</span>
              </div>

              <div class="form-group col-lg-3 text-right">
                <label>เพศ : </label>
              </div>
              <div class="form-group col-lg-3 text-left">
                  <span>{{appeal?.appealOnlineDto?.sexDesc}}</span>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-3 text-right">
                <label>หน่วยงานที่ไปลงทะเบียน :</label>
              </div>
              <div class="form-group col-lg-3 text-left">
                <span>{{appeal?.appealOnlineDto?.bankName}}</span>
              </div>

              <div class="form-group col-lg-3 text-right">
                <label>วันที่ลงทะเบียน : </label>
              </div>
              <div class="form-group col-lg-3 text-left">
                <span>{{appeal?.appealOnlineDto?.registerDate}}</span>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-bd lobidisable">
                  <div class="panel-heading">
                    <div class="panel-title">
                      <h4>ผลการตรวจสอบรายได้จากฐานข้อมูลของกรมสรรพากร (อุทธรณ์ Online)</h4>
                    </div>
                  </div>

                  <div class="panel-body">
                      <br/>
                      <div class="row">
                        <div class="form-group col-lg-12 text-center" *ngIf="appeal?.appealOnlineDto?.resultCode != 'Y'">
                          <h4>ผลการตรวจสอบรายได้ปี {{appeal?.appealOnlineDto?.taxYear}} : <strong>{{appeal?.appealOnlineDto?.resultDesc}}</strong> รายได้เกิน {{appeal?.appealOnlineDto?.maxIncome | number :'1.2-2'}} บาท</h4>
                        </div>
                        <div class="form-group col-lg-12 text-center" *ngIf="appeal?.appealOnlineDto?.resultCode == 'Y'">
                          <h4>ผลการตรวจสอบรายได้ปี {{appeal?.appealOnlineDto?.taxYear}} : <strong>{{appeal?.appealOnlineDto?.resultDesc}}</strong> รายได้ไม่เกิน {{appeal?.appealOnlineDto?.maxIncome | number :'1.2-2'}}  บาท</h4>
                        </div>
                      </div>

                    <table id="registrantDetailTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%"
                      *ngIf="appeal?.appealOnlineDto?.registrantDetailDtoList != null && appeal?.appealOnlineDto?.registrantDetailDtoList.length > 0">
                      <thead>
                        <tr>
                          <th scope="col" class="text-center" style="width: 30%">ภาษีเงินได้บุคคลธรรมดา</th>
                          <th scope="col" class="text-center" style="width: 30%">ภาษีเงินได้หัก ณ ที่จ่าย</th>
                          <th scope="col" class="text-center" style="width: 30%">ภาษีมูลค่าเพิ่ม</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr role="row" class="odd">
                            <td class="text-left">
                              <div *ngFor="let data of appeal?.appealOnlineDto?.registrantDetailDtoList;index as i">
                                <span *ngIf="data.workSystemId == 1">-{{data.taxTypeDesc}} จำนวนเงิน {{data.income | number :'1.2-2' }} บาท</span>
                              </div>
                            </td>
                            <td class="text-left">
                              <div *ngFor="let data of appeal?.appealOnlineDto?.registrantDetailDtoList;index as i">
                                <span *ngIf="data.workSystemId == 2">-{{data.taxTypeDesc}} จำนวนเงิน {{data.income | number :'1.2-2' }} บาท</span>
                              </div>
                            </td>
                            <td class="text-left">
                              <div *ngFor="let data of appeal?.appealOnlineDto?.registrantDetailDtoList;index as i">
                                <span *ngIf="data.workSystemId == 3">-{{data.taxTypeDesc}} จำนวนเงิน {{data.income | number :'1.2-2' }} บาท</span>
                              </div>
                            </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td class="text-left">
                            <span><strong>รวมจำนวนเงิน {{sumOnlinePit | number :'1.2-2' }} บาท</strong></span>
                          </td>
                          <td class="text-left">
                            <span><strong>รวมจำนวนเงิน {{sumOnlineWht | number :'1.2-2' }} บาท</strong></span>
                          </td>
                          <td class="text-left">
                            <span><strong>รวมจำนวนเงิน {{sumOnlineVat | number :'1.2-2' }} บาท</strong></span>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row"  *ngIf="isSearch && appeal?.lastAppealDto != null">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-bd lobidisable">
          <div class="panel-heading">
            <div class="panel-title">
              <h4><i class="fa fa-file-text"></i>ข้อมูลการรับเรื่องอุทธรณ์</h4>
            </div>
          </div>

          <div class="panel-body no-padding"></div>

          <div class="panel-body">
            <br />
            <div class="row">
              <div class="form-group col-lg-3 text-right">
                <label>ปีภาษี :</label>
              </div>
              <div class="form-group col-lg-3 text-left">
                <span>{{appeal?.lastAppealDto?.taxYear}}</span>
              </div>

              <div class="form-group col-lg-3 text-right">
                <label>ชื่อ - สกุล : </label>
              </div>
              <div class="form-group col-lg-3 text-left">
                  <span>{{appeal?.lastAppealDto?.firstName + '-' + appeal?.lastAppealDto?.lastName }}</span>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-3 text-right">
                <label>วันเดือนปี เกิด :</label>
              </div>
              <div class="form-group col-lg-3 text-left">
                <span>{{appeal?.lastAppealDto?.birthDate}}</span>
              </div>

              <div class="form-group col-lg-3 text-right">
                <label>เพศ : </label>
              </div>
              <div class="form-group col-lg-3 text-left">
                  <span>{{appeal?.lastAppealDto?.sexDesc}}</span>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-3 text-right">
                <label>หน่วยงานที่ไปลงทะเบียน :</label>
              </div>
              <div class="form-group col-lg-3 text-left">
                <span>{{appeal?.lastAppealDto?.bankName}}</span>
              </div>

              <div class="form-group col-lg-3 text-right">
                <label>วันที่ลงทะเบียน : </label>
              </div>
              <div class="form-group col-lg-3 text-left">
                <span>{{appeal?.lastAppealDto?.registerDate}}</span>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-bd lobidisable">
                  <div class="panel-heading">
                    <div class="panel-title">
                      <h4>ผลการตรวจสอบรายได้จากฐานข้อมูลของกรมสรรพากร (อุทธรณ์)</h4>
                    </div>
                  </div>

                  <div class="panel-body">
                      <br/>
                      <div class="row">
                        <div class="form-group col-lg-12 text-center" *ngIf="appeal?.lastAppealDto?.resultCode != 'Y'">
                          <h4>ผลการตรวจสอบรายได้ปี {{appeal?.lastAppealDto?.taxYear}} : <strong>{{appeal?.lastAppealDto?.resultDesc}}</strong> รายได้ไม่เกิน {{appeal?.lastAppealDto?.maxIncome | number :'1.2-2' }} บาท</h4>
                        </div>
                        <div class="form-group col-lg-12 text-center" *ngIf="appeal?.lastAppealDto?.resultCode == 'Y'">
                          <h4>ผลการตรวจสอบรายได้ปี {{appeal?.lastAppealDto?.taxYear}} : <strong>{{appeal?.lastAppealDto?.resultDesc}}</strong> รายได้ไม่เกิน {{appeal?.lastAppealDto?.maxIncome | number :'1.2-2' }} บาท</h4>
                        </div>
                      </div>

                    <table id="registrantDetailTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%"
                      *ngIf="appeal?.lastAppealDto?.registrantDetailDtoList != null && appeal?.lastAppealDto?.registrantDetailDtoList.length > 0">
                      <thead>
                        <tr>
                          <th scope="col" class="text-center" style="width: 30%">ภาษีเงินได้บุคคลธรรมดา</th>
                          <th scope="col" class="text-center" style="width: 30%">ภาษีเงินได้หัก ณ ที่จ่าย</th>
                          <th scope="col" class="text-center" style="width: 30%">ภาษีมูลค่าเพิ่ม</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr role="row" class="odd">
                            <td class="text-left">
                              <div *ngFor="let data of appeal?.lastAppealDto?.registrantDetailDtoList;index as i">
                                <span *ngIf="data.workSystemId == 1">-{{data.taxTypeDesc}} จำนวนเงิน {{data.income | number :'1.2-2'}} บาท</span>
                              </div>
                            </td>
                            <td class="text-left">
                              <div *ngFor="let data of appeal?.lastAppealDto?.registrantDetailDtoList;index as i">
                                <span *ngIf="data.workSystemId == 2">-{{data.taxTypeDesc}} จำนวนเงิน {{data.income | number :'1.2-2'}} บาท</span>
                              </div>
                            </td>
                            <td class="text-left">
                              <div *ngFor="let data of appeal?.lastAppealDto?.registrantDetailDtoList;index as i">
                                <span *ngIf="data.workSystemId == 3">-{{data.taxTypeDesc}} จำนวนเงิน {{data.income | number :'1.2-2'}} บาท</span>
                              </div>
                            </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td class="text-left">
                            <span><strong>รวมจำนวนเงิน {{sumAppealPit | number :'1.2-2'}} บาท</strong></span>
                          </td>
                          <td class="text-left">
                            <span><strong>รวมจำนวนเงิน {{sumAppealWht | number :'1.2-2'}} บาท</strong></span>
                          </td>
                          <td class="text-left">
                            <span><strong>รวมจำนวนเงิน {{sumAppealVat | number :'1.2-2'}} บาท</strong></span>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="row"  *ngIf="isSearch && appeal?.registrantDto != null  || appeal?.appealOnlineDto != null">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading clearfix">
          <div class="panel-title">
            <h3><i class="fa fa-list"></i> รายการรับเรื่อง</h3>
          </div>
        </div>

        <div class="panel-body">
          <div class="form-group col-lg-12">
            <div class="form-group" style="float:right">
              <button type="button"  *ngIf="authService.hasAnyPermission(['GWSP020100.ADD']) && canShowAddBtn"
                                              class="btn btn-orange2 margin-top-10" (click)="goToAdd()" style="width: 100%">
                <i class="fa fa-plus"></i> เพิ่มเรื่องอุทธรณ์
              </button>
            </div>
          </div>

          <table id="example" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
              <tr role="row">
                <th scope="col" class="text-center">ลำดับ</th>
                <th scope="col" class="text-center">ปัญหาเรื่อง</th>
                <th scope="col" class="text-center">รายละเอียดที่บันทึก</th>
                <th scope="col" class="text-center">หน่วยงานรับเรื่องโอน</th>
                <th scope="col" class="text-center">หน่วยงานที่โอน</th>
                <th scope="col" class="text-center">เลขที่หนังสือ</th>
                <th scope="col" class="text-center">สถานะการดำเนินการ</th>
                <th scope="col" class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr role="row" class="odd" *ngFor="let v of appeal?.appealDetailDtoList; index as i">
                  <td class="text-center">{{i + 1}}</td>
                  <td class="text-left">{{v.appealTopicDesc}}</td>
                  <td class="text-left">{{v.remark}}</td>
                  <td class="text-left">{{v.registerOrgName}}</td>
                  <td class="text-left">{{v.transferOrgName}}</td>
                  <td class="text-left">{{v.appealNo}}</td>
                  <td class="text-left">{{v.stepDesc}}</td>
                  <td class="text-center">
                    <div class="btn-group" *ngIf="canShowAddBtn">
                      <button type="button" class="btn btn-orange btn-sm btn-auto" (click)="goToEdit(v)" tooltip="ผลการตรวจสอบ" *ngIf="authService.hasAnyPermission(['GWSP020100.UPDATE'])">
                        <i class="fa fa-pencil-square-o"></i>
                      </button>
                    </div>
                  </td>
              </tr>
              <tr *ngIf="!appeal?.appealDetailDtoList || appeal?.appealDetailDtoList?.length === 0">
                <td colspan="8" class="text-center"> ไม่พบข้อมูล</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>

    <div class="row" *ngIf="appealProgress != null">
      <div class="form-group col-lg-10"></div>
      <div class="form-group col-lg-2 reset-button">
        <button type="button" class="btn btn-warning margin-top-10" (click)="back()">
          <i class="fa fa-chevron-left"></i> ย้อนกลับ
        </button>
      </div>
    </div>
</section>
