<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <form [formGroup]="searchForm">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>ข้อมูลภาษีซื้อ-ภาษีขาย จากข้อมูล e-Tax Invoice</h4>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ตั้งแต่ เดือน ปีภาษี <span class="red">*</span></label>
          </div>
          <div class="form-group col-lg-4">
            <select class="form-input form-control" id="fromMonth" type="text" formControlName="fromMonth">
              <option value="">ทั้งหมด</option>
              <option value="01" selected="selected">มกราคม</option>
              <option value="02">กุมภาพันธ์</option>
              <option value="03">มีนาคม</option>
              <option value="04">เมษายน</option>
              <option value="05">พฤษภาคม</option>
              <option value="06">มิถุนายน</option>
              <option value="07">กรกฎาคม</option>
              <option value="08">สิงหาคม</option>
              <option value="09">กันยายน</option>
              <option value="10">ตุลาคม</option>
              <option value="11">พฤศจิกายน</option>
              <option value="12">ธันวาคม</option>
            </select>
          </div>
          <div class="form-group col-lg-4">
            <select class="form-input form-control" id="fromYear" type="text" formControlName="fromYear">
              <option value="">ทั้งหมด</option>
              <option value="2555" selected="selected">2555</option>
              <option value="2556">2556</option>
              <option value="2557">2557</option>
              <option value="2558">2558</option>
              <option value="2559">2559</option>
              <option value="2560">2560</option>
              <option value="2561">2561</option>
              <option value="2562">2562</option>
              <option value="2563">2563</option>
              <option value="2564">2564</option>
              <option value="2565">2565</option>
            </select>
          </div>
          <div class="form-group col-lg-2">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> พิมพ์</a>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ถึง เดือน ปีภาษี <span class="red">*</span></label>
          </div>
          <div class="form-group col-lg-4">
            <select class="form-input form-control" id="toMonth" type="text" formControlName="toMonth">
              <option value="">ทั้งหมด</option>
              <option value="01">มกราคม</option>
              <option value="02">กุมภาพันธ์</option>
              <option value="03">มีนาคม</option>
              <option value="04">เมษายน</option>
              <option value="05">พฤษภาคม</option>
              <option value="06">มิถุนายน</option>
              <option value="07">กรกฎาคม</option>
              <option value="08">สิงหาคม</option>
              <option value="09">กันยายน</option>
              <option value="10">ตุลาคม</option>
              <option value="11">พฤศจิกายน</option>
              <option value="12" selected="selected">ธันวาคม</option>
            </select>
          </div>
          <div class="form-group col-lg-4">
            <select class="form-input form-control" id="toYear" type="text" formControlName="toYear">
              <option value="">ทั้งหมด</option>
              <option value="2555">2555</option>
              <option value="2556">2556</option>
              <option value="2557">2557</option>
              <option value="2558">2558</option>
              <option value="2559">2559</option>
              <option value="2560">2560</option>
              <option value="2561">2561</option>
              <option value="2562">2562</option>
              <option value="2563">2563</option>
              <option value="2564">2564</option>
              <option value="2565" selected="selected">2565</option>
            </select>
          </div>
          <div class="form-group col-lg-2">
          </div>

          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">เลขประจำตัวผู้เสียภาษีอากร <span class="red">*</span></label>
          </div>
          <div class="form-group col-lg-2">
            <input type="text" value="" id="nid" class="form-control" formControlName="nid" value="0575526009099">
          </div>
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">เลขที่สาขา : </label>
          </div>
          <div class="form-group col-lg-2">
            <select class="form-input form-control" id="branchType" type="text" formControlName="branchType">
              <option value="">ทั้งหมด</option>
              <option value="00">สำนักงานใหญ่</option>
              <option value="01">สาขาที่</option>
            </select>
          </div>
          <div class="form-group col-lg-2">
            <input type="text" value="" id="branchNo" class="form-control" formControlName="branchNo">
          </div>
          <div class="form-group col-lg-2">
          </div>

          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ชื่อผู้ประกอบการ</label>
          </div>
          <div class="form-group col-lg-4">
            <input type="text" value="" id="operatorName" class="form-control" formControlName="operatorName">
          </div>
          <div class="form-group col-lg-6">
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="form-group col-lg-2 reset-button">
            <!--<a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> ค้นหา</a>-->
            <button type="button" class="btn btn-primary" (click)="search()">
              <i class="glyphicon glyphicon-search"></i> ค้นหา
            </button>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <a href="." class="btn btn-warning margin-top-10"><i class="glyphicon glyphicon-repeat"></i> ล้างค่า</a>
          </div>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th>ลำดับที่<br>(1)</th>
              <th>เลขประจำตัว<br>ผู้เสียภาษีอากร<br>(2)</th>
              <th>สาขา<br>(3)</th>
              <th>ชื่อผู้ประกอบการ<br>(4)</th>
              <th>ชื่อสถานประกอบการ<br>(5)</th>
              <th>ที่อยู่<br>(6)</th>
              <th>ดูข้อมูล<br>(7)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of receiveData">
              <td class="text-center">{{data.no}}</td>
              <td class="text-center">{{data.nid}}</td>
              <td class="text-center">{{data.branchNo}}</td>
              <td class="text-center">{{data.operatorName}}</td>
              <td class="text-center">{{data.establishmentName}}</td>
              <td class="text-center">{{data.operatorAddress}}</td>
              
              <td [ngClass]="{'red':data.statusGrp == '1','gold':data.statusGrp == '2','green':data.statusGrp == '3'}">
                <!--<a [routerLink]="['../mnsp010101?receiveDate'+data.receiveDate+'&paymentDate='+data.paymentDate+'&dataTypeID='+data.dataTypeID+'&statusGrp='+data.statusGrp+'&senderID='+data.senderID+'&stateID='+data.stateID]" class="btn btn-orange btn-sm">-->
                <a [routerLink]="['../trsp010101/'+data.from+'/'+data.nid+'/'+data.branchNo+'/'+data.fromMonth+'/'+data.fromYear+'/'+data.toMonth+'/'+data.toYear]" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png"></a>
              </td>
            </tr>
            <!--<tr>
              <td align="center">1</td>
              <td align="center">0-5755-26009-09-9</td>
              <td align="center">00000</td>
              <td align="left">บริษัท ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ จำกัด</td>
              <td align="left">ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ สำนักงานใหญ่</td>
              <td align="left">เลขที่ 3/34  แขวงห้วยขวาง เขตห้วยขวาง จังหวัด กรุงเทพมหานคร 10310</td>
              <td>
                <a href="trs/trsp010101" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png"></a>
              </td>
            </tr>
            <tr>
              <td align="center">2</td>
              <td align="center">0-5755-26009-09-9</td>
              <td align="center">00001</td>
              <td align="left">บริษัท ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ จำกัด</td>
              <td align="left">ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ บางรัก</td>
              <td align="left">เลขที่ 1/9 แขวงสี่พระยา เขตบางรัก จังหวัด กรุงเทพมหานคร 10500</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png"></a>
              </td>
            </tr>
            <tr>
              <td align="center">3</td>
              <td align="center">0-5755-26009-09-9</td>
              <td align="center">00002</td>
              <td align="left">บริษัท ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ จำกัด</td>
              <td align="left">ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ ธนบุรี</td>
              <td align="left">เลขที่ 18/370 แขวงบุคคโล เขตธนบุรี จังหวัด กรุงเทพมหานคร 10600</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png"></a>
              </td>
            </tr>
            <tr>
              <td align="center">4</td>
              <td align="center">0-5755-26009-09-9</td>
              <td align="center">00003</td>
              <td align="left">บริษัท ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ จำกัด</td>
              <td align="left">ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ พระราม 2</td>
              <td align="left">เลขที่ 19/11 ถนนพระรามที่ 2 แขวง แสมดำ เขตบางขุนเทียน กรุงเทพมหานคร 10150</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png"></a>
              </td>
            </tr>
            <tr>
              <td align="center">4</td>
              <td align="center">0-5755-26009-09-9</td>
              <td align="center">00004</td>
              <td align="left">บริษัท ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ จำกัด</td>
              <td align="left">ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ พระราม 3</td>
              <td align="left">เลขที่ 22 ถนนพระรามที่ 3 แขวง บางโคล่ เขตบางคอแหลม กรุงเทพมหานคร 10120</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png"></a>
              </td>
            </tr>-->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </form>
</div>
