<div class="header-title">
  <h1><strong>กำหนดอีเมลสำหรับผู้ดูแลฐานข้อมูลภาษี</strong>
    <small class="pull-right"><a href="#" class="active">หน้าหลัก</a> /
      กำหนดอีเมลสำหรับผู้ดูแลฐานข้อมูลภาษี
    </small>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" >
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false">
      <div class="panel-heading">
        <div class="panel-title">
          <h4><i class="glyphicon glyphicon-search"></i> ค้นหา</h4>
        </div>
      </div>
      <div class="panel-body">
        <form [formGroup]="searchCondition" (ngSubmit)="getData()">
          <div class="row form-group">
            <div class="ccol-12 col-sm-4 text-sm-right text-left">
                <label>ชื่อหน่วยภาษี : </label>
            </div>
            <div class="col-12 col-sm-4 text-left">
              <input type="text" class="form-control" name="workSystemName" id="workSystemName" minlength="250" maxlength="250" formControlName="workSystemName">
            </div>
          </div>
          <div class="row form-group">
            <div class="form-group col-lg-4"></div>
            <div class="form-group col-lg-2 reset-button">
              <button type="submit" *ngIf="authService.hasAnyPermission(['GWSP030400.VIEW'])" class="btn btn-success margin-top-10">
                <i class="glyphicon glyphicon-search"></i> ค้นหา
              </button>
            </div>
            <div class="form-group col-lg-2 reset-button">
              <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
                <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable">
    <div class="panel panel-bd lobidisable lobipanel" >
      <div class="panel-heading">
        <div class="panel-title">
          <h4><i class="fa fa-list"></i>  ผลการค้นหา</h4>
        </div>
      </div>
      <div class="panel-body">
        <div class="form-group col-lg-12">
          <div class="form-group" style="float:right">
            <!-- <button type="button" *ngIf="authService.hasAnyPermission(['GWSP030400.ADD'])" class="btn btn-orange2 margin-top-10" (click)="goToAdd()" style="width: 100%">
              <i class="fa fa-plus"></i> เพิ่ม
            </button> -->
            <div class="clear"></div>
            <br />
            <div>
              แสดงหน้าละ
              <select (change)="changeRowLimits($event)">
                <option *ngFor="let limit of rowLimits" [value]="limit.value">{{limit.key}}</option>
              </select>
              รายการ
            </div>
          </div>
        </div>
        <table id="example" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr role="row">
              <th scope="col" class="text-center">ลำดับที่</th>
              <th scope="col" class="text-center">
                <a (click)="sort('WORK_SYSTEM_NAME')" style="cursor: pointer" title="ชื่อหน่วยงานภาษี" tooltip="ชื่อหน่วยงานภาษี">
                  ชื่อหน่วยงานภาษี
                </a>
                <ng-container *ngIf="pageRequest.sortFieldName === 'WORK_SYSTEM_NAME'">
                  <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                  <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                </ng-container>
              </th>
              <th scope="col" class="text-center">
                <a (click)="sort('WORK_SYSTEM_ABBR')" style="cursor: pointer" title=" ชื่อย่อหน่วยงานภาษี" tooltip=" ชื่อย่อหน่วยงานภาษี">
                  ชื่อย่อหน่วยงานภาษี
                </a>
                <ng-container *ngIf="pageRequest.sortFieldName === 'WORK_SYSTEM_ABBR'">
                  <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                  <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                </ng-container>
              </th>
              <th scope="col" class="text-center"></th>
            </tr>
          </thead>
          <tbody>
            <tr role="row" class="odd" *ngFor="let v of pageResponse.content; index as i">
              <td class="text-center">{{((pageRequest.page-1)*(pageResponse.size))+(i + 1)}}</td>
              <td class="text-left">{{v.workSystemName != null && v.workSystemName != undefined ? v.workSystemName : ''}}</td>
              <td class="text-center">{{v.workSystemAbbr != null && v.workSystemAbbr != undefined ? v.workSystemAbbr : ''}}</td>
              <td class="text-center">
                <div class="btn-group">
                  <button type="button" *ngIf="authService.hasAnyPermission(['GWSP030400.UPDATE'])" class="btn btn-orange btn-sm btn-auto" (click)="goToEdit(v.workSystemId)" tooltip="แก้ไข" >
                    <i class="fa fa-pencil-square-o"></i>
                  </button>
                  <!-- &nbsp;
                  <div class="btn-group">
                    <button type="button" class="btn btn-orange btn-sm btn-auto" tooltip="ลบ"
                      (click)="deleteWorkSystemEmailByWorkSystemEmail(v.workSystemId)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div> -->
                </div>
              </td>
            </tr>
            <tr *ngIf="!pageResponse.content || pageResponse?.content?.length === 0">
              <td colspan="4" class="text-center"> ไม่พบข้อมูล</td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-sm-5">
            <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
              แสดงผล
              {{pageResponse.numberOfElements}} จาก
              {{pageResponse.totalPages}} รายการ
            </div>
          </div>
          <div class="col-sm-7 text-right">
            <pagination style="float: right;" [totalItems]="pageResponse.totalPages" previousText="ก่อนหน้า"
              nextText="ถัดไป" [rotate]="true" [maxSize]="5" [(ngModel)]="pageRequest.page"
              (pageChanged)="pageChange($event,limit)" (limit)="limit" [itemsPerPage]="pageResponse.size"
              aria-label="Default pagination"></pagination>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- <app-float-button ></app-float-button> -->

