<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>Monitor การคัดค้นและสร้างแบบ PDF ไฟล์โดยมี Digital Signature ของกรมสรรพากรกำกับ</h4>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-4 pr-0">
            <label class="pull-right">สาเหตุความผิดพลาด : </label>
          </div>
          <div class="form-group col-lg-8">
            <label class="pull-left">โครงสร้างไฟล์ไม่ถูกต้อง</label>
          </div>
      </div>
    </div>
  </div>
</div>
