<section class="content">
  <div class="header-title">
    <h1><strong>Import CA Certificate </strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / ตั้งค่า HSM</small></h1>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-file-text"></i> Import CA Certificate </h4>
    </div>
    <div class="card-body">
      <form role="form" [formGroup]="searchImportCAFormGroup" (ngSubmit)="doSearch()">
        <div class="row">
          <div class="form-group col-md-6">
            <label>Issued Name:</label>
            <input type="text" class="form-control" name="issuedName" id="issuedName"
                   formControlName="issuedName" placeholder="Issued Name">
          </div>
          <div class="form-group col-md-6">
            <label>Issued By:</label>
            <input type="text" class="form-control" name="issuedBy" id="issuedBy"
                   formControlName="issuedBy" placeholder="Issued By">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="form-group col-lg-2 reset-button">
            <button type="button" class="btn btn-primary margin-top-10" (click)="add()">
              <i class="glyphicon glyphicon-plus"></i> เพิ่ม
            </button>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <button type="submit" class="btn btn-success margin-top-10">
              <i class="glyphicon glyphicon-search"></i> ค้นหา
            </button>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
              <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-list"></i> ผลการค้นหา</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
        <tr role="row">
          <th class="text-center" scope="col" style="width: 50px">#</th>
          <th class="text-center" scope="col" >Issued Name</th>
          <th class="text-center" scope="col" >Issued By</th>
          <th class="text-center" scope="col" >ชื่อไฟล์</th>
          <th class="text-center" scope="col" >วันที่อัพโหลดไฟล์</th>
          <th class="text-center" scope="col" >ผู้อัพโหลดไฟล์</th>
          <th class="text-center" scope="col" style="width: 50px"></th>
        </thead>
        <tbody>
        <tr role="row" class="odd" *ngFor="let data of resultList; let i = index;">
          <td class="text-center">{{i + 1}}</td>
          <td class="text-center">{{data.issuedName}}</td>
          <td class="text-center">{{data.issuedBy}}</td>
          <td class="text-center">{{data.fileName}}</td>
          <td class="text-center">{{data.uploadedDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
          <td class="text-center">{{data.uploadedBy}}</td>
          <td class="text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-auto btn-sm color-info" tooltip="แก้ไข" (click)="goToEdit(data)">
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button type="button" class="btn btn-auto btn-sm color-panel" tooltip="ดาวน์โหลดไฟล์" (click)="downloadFile(data)">
                <i class="fa fa-download"></i>
              </button>
              <button type="button" class="btn btn-auto btn-sm red" tooltip="แก้ไข" (click)="deleteItem(data.id)">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr *ngIf="resultSize === 0">
          <td colspan="7" class="text-center"> ไม่พบข้อมูล </td>
        </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite" style="padding: 5px;">
            พบข้อมูล
            {{resultSize}} รายการ
          </div>
        </div>
        <div class="col-sm-7 text-right">
          แสดงหน้าละ
          <select (change)="changeRowLimits($event)" style="padding: 5px;">
            <option *ngFor="let limit of rowLimits" [value]="limit.value">{{limit.key}}</option>
          </select>
          &nbsp;&nbsp;
          <pagination style="float: right;" [boundaryLinks]="true" [totalItems]="pageResponse.totalPages"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [rotate]="true"
                      [maxSize]="5" [(ngModel)]="pageRequest.page" (pageChanged)="pageChange($event,limit)" (limit)="limit"
                      [itemsPerPage]="pageResponse.size" aria-label="Default pagination"></pagination>
        </div>
      </div>
    </div>
  </div>
</section>
