<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>รายงานเปรียบเทียบ ภาษีขาย จากข้อมูล e-Tax Invoice ข้อมูล e-Receipt และข้อมูลระบบชำระเงินแบบอิเล็กทรอนิกส์</h4>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ตั้งแต่ เดือน ปีภาษี<span class="red">*</span></label>
          </div>
          <div class="form-group col-lg-4">
            <select class="form-input form-control" id="fromMonth" type="text" name="fromMonth">
              <option value="">ทั้งหมด</option>
              <option value="01">มกราคม</option>
              <option value="02">กุมภาพันธ์</option>
              <option value="03">มีนาคม</option>
              <option value="04">เมษายน</option>
              <option value="05">พฤษภาคม</option>
              <option value="06">มิถุนายน</option>
              <option value="07">กรกฎาคม</option>
              <option value="08">สิงหาคม</option>
              <option value="09">กันยายน</option>
              <option value="10">ตุลาคม</option>
              <option value="11">พฤศจิกายน</option>
              <option value="12">ธันวาคม</option>
            </select>
          </div>
          <div class="form-group col-lg-4">
            <select class="form-input form-control" id="fromYear" type="text" name="fromYear">
              <option value="">ทั้งหมด</option>
              <option value="2555">2555</option>
              <option value="2556">2556</option>
              <option value="2557">2557</option>
              <option value="2558">2558</option>
              <option value="2559">2559</option>
              <option value="2560">2560</option>
              <option value="2561">2561</option>
              <option value="2562">2562</option>
              <option value="2563">2563</option>
              <option value="2564">2564</option>
              <option value="2565">2565</option>
              <option value="2566">2566</option>
              <option value="2567">2567</option>
              <option value="2568">2568</option>
              <option value="2569">2569</option>
              <option value="2570">2570</option>
            </select>
          </div>
          <div class="form-group col-lg-2">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> พิมพ์</a>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ถึง เดือน ภาษี<span class="red">*</span></label>
          </div>
          <div class="form-group col-lg-4">
            <select class="form-input form-control" id="toMonth" type="text" name="toMonth">
              <option value="">ทั้งหมด</option>
              <option value="01">มกราคม</option>
              <option value="02">กุมภาพันธ์</option>
              <option value="03">มีนาคม</option>
              <option value="04">เมษายน</option>
              <option value="05">พฤษภาคม</option>
              <option value="06">มิถุนายน</option>
              <option value="07">กรกฎาคม</option>
              <option value="08">สิงหาคม</option>
              <option value="09">กันยายน</option>
              <option value="10">ตุลาคม</option>
              <option value="11">พฤศจิกายน</option>
              <option value="12">ธันวาคม</option>
            </select>
          </div>
          <div class="form-group col-lg-4">
            <select class="form-input form-control" id="toYear" type="text" name="toYear">
              <option value="">ทั้งหมด</option>
              <option value="2555">2555</option>
              <option value="2556">2556</option>
              <option value="2557">2557</option>
              <option value="2558">2558</option>
              <option value="2559">2559</option>
              <option value="2560">2560</option>
              <option value="2561">2561</option>
              <option value="2562">2562</option>
              <option value="2563">2563</option>
              <option value="2564">2564</option>
              <option value="2565">2565</option>
              <option value="2566">2566</option>
              <option value="2567">2567</option>
              <option value="2568">2568</option>
              <option value="2569">2569</option>
              <option value="2570">2570</option>
            </select>
          </div>
          <div class="form-group col-lg-2">
          </div>

          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">เลขประจำตัวผู้เสียภาษีอากร</label>
          </div>
          <div class="form-group col-lg-2">
            <input type="text" value="0134567891234" id="nid" class="form-control" name="nid">
          </div>
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">เลขที่สาขา : </label>
          </div>
          <div class="form-group col-lg-2">
            <select class="form-input form-control" id="toYear" type="text" name="toYear">
              <option value="">ทั้งหมด</option>
              <option value="00">สำนักงานใหญ่</option>
              <option value="01">สาขาที่</option>
            </select>
          </div>
          <div class="form-group col-lg-2">
            <input type="text" value="" id="branchNo" class="form-control" name="branchNo">
          </div>
          <div class="form-group col-lg-2">
          </div>

          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ชื่อผู้ประกอบการ</label>
          </div>
          <div class="form-group col-lg-4">
            <input type="text" value="" id="branchNo" class="form-control" name="branchNo">
          </div>
          <div class="form-group col-lg-6">
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="form-group col-lg-2 reset-button">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> ค้นหา</a>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <a href="." class="btn btn-warning margin-top-10"><i class="glyphicon glyphicon-repeat"></i> ล้างค่า</a>
          </div>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th>ลำดับที่<br>(1)</th>
              <th>เลขประจำตัว<br>ผู้เสียภาษีอากร<br>(2)</th>
              <th>สาขา<br>(3)</th>
              <th>ชื่อผู้ประกอบการ<br>(4)</th>
              <th>ที่อยู่<br>(5)</th>
              <th>ดูข้อมูล<br>(6)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="center">1</td>
              <td align="center">0-1345-67891-23-4</td>
              <td align="center">00000</td>
              <td align="left">บริษัท เอ จำกัด</td>
              <td align="left">เลขที่ 1 หมู่ที่ 1 แขวงศาลาธรรมสพน์ เขตทวีวัฒนา จังหวัด กรุงเทพมหานคร 10170</td>
              <td>
                <a href="trs/trsp020403" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
