<form  [formGroup]="otpForm" (ngSubmit)="submit()">
  <div class="modal-header">
    <div class="row w-100">
      <div class="col-11">
        <h4 class="modal-title pull-left">ยืนยันรหัส OTP</h4>
      </div>
      <div class="col-1">
        <a (click)="closeModal()"><i class="fa fa-close ml-auto"></i></a>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="text-center">{{error}}</div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="otpCode" class="cols-sm-2 control-label">รหัสอ้างอิง</label>
          <div class="cols-sm-10">
            <span>{{refCode.value}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="otpCode" class="cols-sm-2 control-label">กรอกรหัส otp :</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <input type="text" class="form-control" name="otpCode" id="otpCode" placeholder="กรอกรหัส otp"
                     formControlName="otpCode" appNumberOnly/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-default btn-auto" [disabled]="otpForm.invalid">ยืนยัน</button>
    <button type="button" class="btn btn-default btn-auto" (click)="requestNewOtpEvent.next(true)" >ขอรหัสยืนยันใหม่</button>
  </div>
</form>
