<div class="content">
    <div class="header-title mb-4">
        <h1><strong>รหัสไปรษณีย์ </strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / รหัสไปรษณีย์</small>
        </h1>

    </div>
    <div class="card border-light mb-4">
        <div class="card-header">
            <h4 class="panel-title">
                <i class="header-title fa fa-file-text"></i> ค้นหา
            </h4>
        </div>
        <div class="card-body">

            <form [formGroup]="postcodeForm" (ngSubmit)="onSubmit()">
                <div formGroupName="postcodeGroup">
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label>จังหวัด</label>
                            <input formControlName="provinceNameTh"
                                   [ngClass]="{'': !postcodeForm.get('postcodeGroup.provinceId').valid && postcodeForm.get('postcodeGroup.provinceId').touched}"
                                   [typeahead]="edcProvinceList"
                                   (click)="resetAmphur()"
                                   [typeaheadMinLength]="0"
                                   (typeaheadOnSelect)="onSelectProvince($event)"
                                   typeaheadOptionField="provinceNameTh"
                                   id="provinceNameTh"
                                   placeholder="ระบุจังหวัด"
                                   class="form-control">
                        </div>

                        <div class="form-group col-lg-6">
                            <label>อำเภอ</label>
                            <input formControlName="amphurNameTh"
                                   id="amphurNameTh"
                                   [typeahead]="edcAmphurList"
                                   [typeaheadMinLength]="0"
                                   (typeaheadOnSelect)="onSelectAmphur($event)"
                                   typeaheadOptionField="amphurNameTh"
                                   placeholder="ระบุอำเภอ"
                                   class="form-control full">
                        </div>

                        <div class="form-group col-lg-4">
                            <label>ตำบล</label>
                            <input formControlName="thambolNameTh"
                                   [typeahead]="edcThambolList"
                                   [typeaheadMinLength]="0"
                                   (typeaheadOnSelect)="onSelectThambol($event)"
                                   typeaheadOptionField="thambolNameTh"
                                   id="thambolNameTh"
                                   placeholder="ระบุตำบล"
                                   class="form-control">
                        </div>

                        <div class="form-group col-lg-4">
                            <label>รหัสไปรษณีย์</label>
                            <input type="text" formControlName="postcode"
                                   id="postcode"
                                   placeholder="ระบุรหัสไปรษณีย์"
                                   class="form-control">
                        </div>
                        <div class="form-group col-lg-2 reset-button">
                            <button type="submit" class="btn btn-success margin-top-10" id="list-search"><i
                                    class="fa fa-search"></i> ค้นหา
                            </button>
                        </div>
                        <div class="form-group col-lg-2 reset-button">
                            <button type="button" class="btn btn-warning margin-top-10"
                                    (click)="resetForm()" id="clear"><i
                                    class="fa fa-repeat"></i> ล้างค่า
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--  -->
    <div class="card border-light mb-4">
        <div class="card-header">
            <h4 class="panel-title">
                <i class="header-title fa fa-file-text"></i> ผลการค้นหา
            </h4>
        </div>
        <div class="card-body">

            <!--          <div style="padding-bottom: 10px">-->
            <!--            แสดงหน้าละ-->
            <!--            <select id="pageSize" [ngModel]="pageSize" (ngModelChange)="getPageSize($event)">-->
            <!--              <option value="5">5</option>-->
            <!--              <option value="10">10</option>-->
            <!--              <option value="15">15</option>-->
            <!--            </select>-->
            <!--            รายการ-->
            <!--          </div>-->

            <table class="table table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <th scope="col" class="text-center">ลำดับ</th>
                    <th scope="col" class="text-center">รหัสไปรษณีย์</th>
                    <th scope="col" class="text-center">จังหวัด</th>
                    <th scope="col" class="text-center">อำเภอ</th>
                    <th scope="col" class="text-center">ตำบล</th>
                    <th scope="col" class="text-center">วันที่แก้ไข</th>
                    <th scope="col" class="text-center">ผู้แก้ไข</th>
                    <th scope="col" class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr
                        *ngFor="let PostcodeData of edcPostcodeList | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: p, totalItems: total }; let i=index">
                    <td class="text-center" scope="row">{{ (this.p - 1) * this.pageSize + i + 1 }}</td>
                    <td class="text-center">{{PostcodeData.postcode || '-'}}</td>
                    <td class="text-left">{{PostcodeData.edcProvinceEntity.provinceNameTh || '-'}}</td>
                    <td class="text-left">{{PostcodeData.edcAmphurEntity.amphurNameTh || '-'}}</td>
                    <td class="text-left">{{PostcodeData.edcThambolEntity.thambolNameTh || '-'}}</td>
                    <td class="text-center">{{(PostcodeData.updatedDate | thaidate: 'DD/MM/YYYY HH:mm:ss') || '-'}}</td>
                    <td class="text-left">{{PostcodeData.updatedBy || '-'}}</td>
                    <td class="text-center">
                        <a class="btn-orange btn-sm" id="view{{i}}" (click)="onView(PostcodeData)">
                            <i class="fa fa-eye" aria-hidden="true" title="ดูข้อมูล"></i>
                        </a>
                        <a class="btn-orange btn-sm" id="delete{{i}}" (click)="onDelete(PostcodeData)">
                            <i class="fa fa-trash" aria-hidden="true" title="ลบ"></i>
                        </a>
                    </td>
                </tr>
                <tr *ngIf="edcAmphurList.length === 0">
                    <td colspan="11" class="text-center"> ไม่พบข้อมูล</td>
                </tr>
                </tbody>
            </table>
            <div class="row">

                <div class="col-md-5 text-left">
                    แสดงผล
                    {{edcPostcodeList.length}} จาก
                    {{total}} รายการ
                </div>
                <div class="col-md-7 text-right">
                    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <table width="auto" border="0" cellspacing="10" cellpadding="0" style="margin:auto;">
        <tr>
          <td>
            <button type="button" class="btn btn-auto btn-green w-md m-b-5" [routerLink]="['import']" id="import"><i
              class="fa fa-plus"></i> &nbsp;นำเข้า
            </button>
          </td>
        </tr>
    </table>
</div>

