<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>ข้อมูลภาษีซื้อ-ภาษีขาย (ข้อมูลการชำระเงินระหว่างประเทศ)</h4>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-left">ข้อมูลตั้งแต่ กันยายน 2559 ถึง ธันวาคม 2559 </label>
          </div>
          <div class="form-group col-lg-2">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> พิมพ์</a>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left">เลขประจำตัวผู้เสียภาษีอากร  : 0-1345-67891-23-4  เลขที่สาขา : 00000</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left">ชื่อผู้ประกอบการ : บริษัท เอ จำกัด</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left">ที่อยู่ : เลขที่ 1 หมู่ที่ 1 แขวงศาลาธรรมสพน์ เขตทวีวัฒนา จังหวัด กรุงเทพมหานคร 10170</label>
          </div>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th>เดือน<br>(1)</th>
              <th>ปี<br>(2)</th>
              <th>จำนวนรายการ<br>(3)</th>
              <th>รวมเงินที่จ่าย (ก่อนหักภาษี ณ <br>ที่จ่ายและไม่รวมภาษีมูลค่าเพิ่ม) <br>(4)</th>
              <th>ภาษีมูลค่าเพิ่ม<br>(5)</th>
              <th>จำนวนภาษีหัก ณ ที่จ่าย<br>(6)</th>
              <th>ดูข้อมูลการซื้อ<br>(7)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="left">กันยายน</td>
              <td align="center">2559</td>
              <td align="right">2</td>
              <td align="right">160,000.00</td>
              <td align="right">11,200.00</td>
              <td align="right">24,000.00</td>
              <td>
                <a href="trs/trsp020308" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png"></a>
              </td>
            </tr>
            <tr>
              <td align="left">ตุลาคม</td>
              <td align="center">2559</td>
              <td align="right">4</td>
              <td align="right">70,000.00</td>
              <td align="right">4,900.00</td>
              <td align="right">10,500.00</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png"></a>
              </td>
            </tr>
            <tr>
              <td align="left">พฤศจิกายน</td>
              <td align="center">2559</td>
              <td align="right">3</td>
              <td align="right">115,000.00</td>
              <td align="right">8,050.00</td>
              <td align="right">17,250.00</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png"></a>
              </td>
            </tr>
            <tr>
              <td align="left">ธันวาคม</td>
              <td align="center">2559</td>
              <td align="right">6</td>
              <td align="right">58,342.00</td>
              <td align="right">4,083.94</td>
              <td align="right">8,751.30</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png"></a>
              </td>
            </tr>
            <tr>
              <td align="center" colspan="2">รวม</td>
              <td align="right">15</td>
              <td align="right">403,342.00</td>
              <td align="right">28,233.94</td>
              <td align="right">60,501.30</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
