<div class="row table-responsive m-0">
  <table class="table table-striped">
    <caption>จำนวน {{documentRequestModels?.length}} รายการ</caption>
    <thead>
    <tr>
      <th class="text-center" scope="col">ลำดับ</th>
      <th class="text-center">ประเภทเอกสาร</th>
      <th class="text-center">ชื่อเอกสาร</th>
      <th></th>
    </tr>
    </thead>
    <tbody *ngIf="documentRequestModels">
    <tr *ngFor="let item of documentRequestModels; let i = index">
      <td class="text-center">{{i + 1}}
      </td>
      <td class="text-left">{{item.docRequestName}}</td>
      <td class="text-left">{{item.fileName}}</td>
      <td class="text-center">
        <a class="btn" *ngIf="(item.file || item.fileBase64)" [download]="item.fileName" [href]="item.safeResourceUrl"><i class="fa fa-download"></i></a>
      </td>
    </tr>
    </tbody>
    <tbody *ngIf="!documentRequestModels">
    <tr>
      <th class="text-center" colspan="8">ไม่พบข้อมูล</th>
    </tr>
    </tbody>
  </table>
</div>
