<app-navigator-wht-tab></app-navigator-wht-tab>
<section class="content">
  <div class="header-title mb-4">
    <h1>
      <strong>รายการที่โอน : เดือนเมษายน 2562</strong>
      <small class="pull-right">
        <a routerLink="/home" class="active">หน้าหลัก</a> /
        <a routerLink="/dss/wht-spending-search">คัดค้นการใช้จ่าย</a> /
        <a routerLink="/dss/wht-spending-result">ผลการคัดค้นแบบสรุป</a> / 
        <a routerLink="/dss/wht-transfer">รายการที่โอน รายเดือน</a> / เดือนเมษายน 2562
    </small>
    </h1>
  </div>


  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>ข้อมูลผู้เสียภาษีอากร</h4>
    </div>
    <div class="card-body">
      เลขประจำตัวผู้เสียภาษีอากร : 0105541069237 ชื่อผู้เสียภาษีอากร : บริษัท สตรีม ไอ.ที.คอนซัลติ้ง จำกัด สาขา 00000 ที่อยู่ : 11 อ.คิวเฮ้าส์สาธรชั้น7 สาทรใต้ ทุ่งมหาเมฆ สาทร กรุงเทพมหานคร 10120 สำนักงานภูมิลำเนา : สส.บางนา (สท.กรุงเทพมหานคร 17)
  </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>รายการที่โอน</h4>
    </div>
    <div class="row  table-conclusion">
      <div class="col-12 col-sm-2">รวมจำนวนรายการ : 100 รายการ</div>
      <div class="col-12 col-sm-2">รวมจำนวนเงิน : 499,480.00 บาท</div>
      <!-- <div class="col-12 col-sm-3">รวมภาษีเงินได้หัก ณ ที่จ่าย : 30,000.00 บาท</div> -->
      <div class="col-12 col-sm-6">รวมภาษีมูลค่าเพิ่ม : 0.00 บาท</div>
      <div class="col-12 col-sm-2 d-block">
        <button type="button" class="btn btn-primary btn-auto" #printBtn>
          <i class="fa fa-print"></i> พิมพ์
        </button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
          <tr role="row">
            <th class="text-center" scope="col" style="width: 50px"></th>
            <th class="text-center" scope="col">เลขประจำตัว <br> ผู้เสียภาษีอากรผู้รับโอน</th>
            <th class="text-center" scope="col">ชื่อ - นามสกุล <br> ผู้รับโอน</th>
            <th class="text-center" scope="col">ที่อยู่ <br> ผู้รับโอน</th>
            <th class="text-center" scope="col">จำนวนเงิน <br> (บาท)</th>
            <th class="text-center" scope="col">ภาษี <br> มูลค่าเพิ่ม (บาท)</th>
            <th class="text-center" scope="col">วันที่ <br> จ่ายเงิน</th>
            <th class="text-center" scope="col"></th>
          </tr>
        </thead>
        <tbody>
        <tr role="row" class="odd">
          <td class="text-center">1</td>
          <td class="text-center">2-8469-51692-37-7</td>
          <td class="text-left">นายไกรวุฒิ เจริญผล</td>
          <td class="text-left">10 ถ.สุขุมวิท  แขวงบางนา  เขตบางนา กรุงเทพมหานคร 10260 ประเทศไทย</td>
          <td class="text-right">20,000.00</td>
          <td class="text-right">0.00</td>
          <td class="text-center">30/04/2562</td>
          <td class="text-center text-nowrap">
            <button type="button" class="btn btn-orange btn-sm btn-auto" (click)="open(content)" tooltip="ดูธุรกรรม">
              <i class="fa fa-file-o" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        <tr role="row" class="odd">
          <td class="text-center">2</td>
          <td class="text-center">4-0048-93007-70-2</td>
          <td class="text-left">นายจงจิตร  โตสุวรรณ</td>
          <td class="text-left">11 ถ.สุขุมวิท  แขวงบางนา  เขตบางนา กรุงเทพมหานคร 10260 ประเทศไทย</td>
          <td class="text-right">15,000.0</td>
          <td class="text-right">0.00</td>
          <td class="text-center">30/04/2562</td>
          <td class="text-center text-nowrap">
            <button type="button" class="btn btn-orange btn-sm btn-auto" tooltip="ดูธุรกรรม">
              <i class="fa fa-file-o" aria-hidden="true"></i>
            </button>
          </td>
        </tr><tr role="row" class="odd">
          <td class="text-center">3</td>
          <td class="text-center">5-4659-24394-67-8</td>
          <td class="text-left">นายแถว  พลบุตร</td>
          <td class="text-left">12 ถ.สุขุมวิท  แขวงบางนา  เขตบางนา กรุงเทพมหานคร 10260 ประเทศไทย</td>
          <td class="text-right">10,000.00</td>
          <td class="text-right">0.00</td>
          <td class="text-center">30/04/2562</td>
          <td class="text-center text-nowrap">
            <button type="button" class="btn btn-orange btn-sm btn-auto" tooltip="ดูธุรกรรม">
              <i class="fa fa-file-o" aria-hidden="true"></i>
            </button>
          </td>
        </tr><tr role="row" class="odd">
          <td class="text-center">4</td>
          <td class="text-center">5-1583-01572-74-4</td>
          <td class="text-left">นายสุเมธ  เนียมกลั่น</td>
          <td class="text-left">11 ถ.สุขุมวิท  แขวงบางนา  เขตบางนา กรุงเทพมหานคร 10260 ประเทศไทย</td>
          <td class="text-right">25,000.00</td>
          <td class="text-right">0.00</td>
          <td class="text-center">30/04/2562</td>
          <td class="text-center text-nowrap">
            <button type="button" class="btn btn-orange btn-sm btn-auto" tooltip="ดูธุรกรรม">
              <i class="fa fa-file-o" aria-hidden="true"></i>
            </button>
          </td>
        </tr><tr role="row" class="odd">
          <td class="text-center">5</td>
          <td class="text-center">4-1491-47340-8101</td>
          <td class="text-left">นายธนภูมิ พิมพ์สว่าง</td>
          <td class="text-left">12 ถ.สุขุมวิท  แขวงบางนา  เขตบางนา กรุงเทพมหานคร 10260 ประเทศไทย</td>
          <td class="text-right">14,000.00</td>
          <td class="text-right">0.00</td>
          <td class="text-center">30/04/2562</td>
          <td class="text-center text-nowrap">
            <button type="button" class="btn btn-orange btn-sm btn-auto" tooltip="ดูธุรกรรม">
              <i class="fa fa-file-o" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <!-- <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
          <tr role="row">
            <th class="text-center" scope="col" style="width: 50px"></th>
            <th class="text-center" scope="col">ชื่อผู้ประกอบการ <br> ที่รับเงิน</th>
            <th class="text-center" scope="col">ที่อยู่ <br> ผู้ประกอบการ</th>
            <th class="text-center" scope="col">วันที่จ่ายเงิน</th>
            <th class="text-center" scope="col">ประเภทเงินได้</th>
            <th class="text-center" scope="col" colspan="4">ภาษีเงินไดัหัก ณ ที่จ่าย</th>
            <th class="text-center" scope="col" colspan="4">ภาษีมูลค่าเพิ่ม</th>
            <th class="text-center" scope="col"></th>
          </tr>
          <tr role="row">
            <th class="text-center" scope="col">เลขที่แบบ</th>
            <th class="text-center" scope="col">จำนวนเงิน <br> (บาท)</th>
            <th class="text-center" scope="col">อัตรา <br> ภาษี</th>
            <th class="text-center" scope="col">ภาษีเงินได้ <br> หัก ณ ที่จ่าย (บาท)</th>
            <th class="text-center" scope="col">เลขที่แบบ</th>
            <th class="text-center" scope="col">จำนวนเงิน <br> (บาท)</th>
            <th class="text-center" scope="col">อัตรา <br> ภาษี</th>
            <th class="text-center" scope="col">ภาษีมูลค่าเพิ่ม <br> (บาท)</th>
          </tr>
        </thead>
        <tbody>
        <tr role="row" class="odd">
          <td class="text-center">1</td>
          <td class="text-left text-nowrap">Shakil Whitworth</td>
          <td class="text-left">10 West 53 Street New York

              United States</td>
          <td class="text-center">30/04/2562</td>
          <td class="text-left">504 : ค่าสิทธิในสิทธิบัตร เครื่องหมายการค้า แบบหรือหุ่นจำลอง แผนผัง สูตรลับ หรือกรรมวิธีลับใดๆ ตามมาตรา 40(3)</td>
          <td class="text-center">P54620520000101</td>
          <td class="text-right">100,000.00</td>
          <td class="text-center">15%</td>
          <td class="text-right">15,000.00</td>
          <td class="text-center">P36620520000101</td>
          <td class="text-right">100,000.00</td>
          <td class="text-center">8%</td>
          <td class="text-right">8,000.00</td>
          <td class="text-center text-nowrap">
            <button type="button" class="btn btn-orange btn-sm btn-auto" (click)="openPnd54(contentPnd54)" tooltip="ดู ภ.ง.ด54">
              <i class="fa fa-file-o" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-orange btn-sm btn-auto" (click)="openPp36(contentPp36)" tooltip="ดู ภ.พ.36">
              <i class="fa fa-file-o" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-orange btn-sm btn-auto" (click)="open(content)" tooltip="ดูแบบ">
              <i class="fa fa-file-o" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        <tr role="row" class="odd">
            <td class="text-center">2</td>
          <td class="text-left text-nowrap">Jordana Ford</td>
          <td class="text-left">11 West 53 Street New York

              United States</td>
          <td class="text-center">30/04/2562</td>
          <td class="text-left">504 : ค่าสิทธิในสิทธิบัตร เครื่องหมายการค้า แบบหรือหุ่นจำลอง แผนผัง สูตรลับ หรือกรรมวิธีลับใดๆ ตามมาตรา 40(3)</td>
          <td class="text-center">P54620520000102</td>
          <td class="text-right">100,000.00</td>
          <td class="text-center">15%</td>
          <td class="text-right">15,000.00</td>
          <td class="text-center">P36620520000102</td>
          <td class="text-right">100,000.00</td>
          <td class="text-center">8%</td>
          <td class="text-right">8,000.00</td>
          <td class="text-center text-nowrap">
              <button type="button" class="btn btn-orange btn-sm btn-auto" tooltip="ดู ภ.ง.ด54">
                <i class="fa fa-file-o" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-orange btn-sm btn-auto" tooltip="ดู ภ.พ.36">
                <i class="fa fa-file-o" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-orange btn-sm btn-auto" tooltip="ดูแบบ">
                <i class="fa fa-file-o" aria-hidden="true"></i>
              </button>
          </td>
          </tr>
        </tbody>
      </table> -->
      <div class="row text-right">
        <div class="col-6 col-sm-1">
          รายการ
        </div>
        <div class="col-6 col-sm-1">
          <select class="form-control" [value]="10">
            <option [value]="10">10</option>
            <option [value]="25">25</option>
            <option [value]="50">50</option>
          </select>
        </div>
        <div class="col-12 col-sm-5 offset-sm-5 d-flex">
          <div class="ml-auto">
            <pagination [totalItems]="100" [itemsPerPage]="10" [maxSize]="5" previousText="ย้อนกลับ" nextText="ถัดไป"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title title mt-auto" id="modal-basic-title">รายละเอียดธุรกรรมการใช้จ่าย ที่โอน</h4>
      <button type="button" class="btn btn-primary btn-auto" #printBtn>
        <i class="fa fa-print"></i> พิมพ์
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <span class="title column-title">ผู้เสียภาษีอากรที่โอน</span>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-sm-3">
          <p>เลขประจำตัวผู้เสียภาษีอากร</p>
          <p><b>1-9030-43040-85-6</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ชื่อผู้เสียภาษีอากร</p>
          <p><b>บริษัท ไทย กรีน จำกัด</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>เลขที่สาขา</p>
          <p><b>00000</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ที่อยู่</p>
          <p>
            <b>223/61  อาคาร คันทรี่ คอมเพล็กซ์ เอ ชั้น 14 ถนน สรรพาวุธ  แขวงบางนาใต้  เขตบางนา  กรุงเทพมหานคร 10260 ประเทศไทย</b>
          </p>
        </div>
      </div>
      <div class="row">
        <span class="title column-title">ผู้เสียภาษีอากรที่รับโอน</span>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-sm-3">
          <p>เลขประจำตัวผู้เสียภาษีอากร</p>
          <p><b>2-8469-51692-37-7</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ชื่อผู้เสียภาษีอากร </p>
          <p><b>นายไกรวุฒิ  เจริญผล</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>เลขที่สาขา </p>
          <p><b>00000</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ที่อยู่ </p>
          <p><b>10 ถ.สุขุมวิท  แขวงบางนา  เขตบางนา กรุงเทพมหานคร 10260 ประเทศไทย</b></p>
        </div>
      </div>
      <div class="row">
        <span class="title column-title">รายละเอียดการจ่ายเงิน</span>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-sm-3">
          <p>ข้อมูลบัญชี Prompt Pay ผู้โอน</p>
          <p><b>1-9030-43040-85-6</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ประเภทช่องทาง Prompt Pay ผู้โอน</p>
          <p><b>Tax ID</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>เลขที่บัญชีธนาคาร ผู้โอน</p>
          <p><b>010-2-94649-5</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ธนาคาร  ผู้โอน</p>
          <p><b>ธนาคารกรุงเทพ จำกัด (มหาชน) <br> สาขาพลับพลาไชย</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ข้อมูลบัญชี Prompt Pay ผู้รับโอน</p>
          <p><b>2-8469-51692-37-7</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ประเภทช่องทาง Prompt Pay ผู้รับโอน</p>
          <p><b>Tax ID</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>เลขที่บัญชีธนาคาร ผู้รับโอน</p>
          <p><b>232-4-06934-9</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ธนาคาร  ผู้รับโอน</p>
          <p><b>ธนาคารกรุงไทย จำกัด (มหาชน)</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>จำนวนเงิน</p>
          <p><b>20,000.00 บาท</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ภาษีมูลค่าเพิ่ม </p>
          <p><b>0.00 บาท</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ประเภทเงินได้ </p>
          <p><b>009 เงินได้อื่น ๆ</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>วันที่ และเวลาที่จ่ายเงิน </p>
          <p><b>30/04/2562   02:00:00 น.</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>หมายเลขอ้างอิงการทำรายการ </p>
          <p><b>-</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>หมายเลขเครื่อง EDC </p>
          <p><b>-</b></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-3">
          <p>หมายเลขหน้าบัตรเดบิต/เครดิต </p>
          <p><b>-</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ธนาคาร/หน่วยงาน ผู้ออกบัตร </p>
          <p><b>-</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ธนาคาร/หน่วยงาน ผู้รับชำระเงิน </p>
          <p><b>-</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>รหัสร้านค้าที่รับชำระเงิน </p>
          <p><b>-</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>สาขาภาษีมูลค่าเพิ่มผู้จ่ายเงิน </p>
          <p><b>-</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>สาขาภาษีมูลค่าเพิ่มผู้รับเงิน </p>
          <p><b>-</b></p>
        </div>
      </div>
      <div class="row text-center d-block">
        <button type="button" class="btn btn-danger btn-auto" (click)="modalService.dismissAll()" #closeBtn>
          <i class="fa fa-close"></i> ปิด
        </button>
      </div>
    </div>
  </ng-template>
  <!-- <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title title mt-auto text-left" id="modal-basic-title">รายละเอียดธุรกรรมของข้อมูล ภ.ง.ด.54 และ ภ.พ.36</h4>
        <br>
        <button type="button" class="btn btn-primary btn-auto" #printBtn>
          <i class="fa fa-print"></i> พิมพ์
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <span class="title column-title">ผู้ที่รับเงิน</span>
        </div>
        <hr>
        <div class="row">
          <div class="col-12 col-sm-3">
          </div>
          <div class="col-12 col-sm-3">
            <p>ชื่อ</p>
            <p><b>Shakil Whitworth</b></p>
          </div>
          <div class="col-12 col-sm-3">
            <p>เลขที่สาขา</p>
            <p><b>00000</b></p>
          </div>
          <div class="col-12 col-sm-3">
            <p>ที่อยู่</p>
            <p><b>10 West 53 Street New York United States</b></p>
          </div>
        </div>
        <div class="row">
            <span class="title column-title">ผู้ที่จ่ายเงิน</span>
        </div>
        <hr>
        <div class="row">
          <div class="col-12 col-sm-3">
            <p>เลขประจำตัวผู้เสียภาษีอากร</p>
            <p><b>1-9030-43040-85-6 </b></p>
          </div>
          <div class="col-12 col-sm-3">
            <p>ชื่อ</p>
            <p><b>บริษัท ไทย กรีน จำกัด</b></p>
          </div>
          <div class="col-12 col-sm-3">
            <p>เลขที่สาขา</p>
            <p><b>00000</b></p>
          </div>
          <div class="col-12 col-sm-3">
            <p>ที่อยู่</p>
            <p><b>223/61  อาคาร คันทรี่ คอมเพล็กซ์ เอ ชั้น 14 ถนนสรรพาวุธ  แขวงบางนาใต้  เขตบางนา  กรุงเทพมหานคร 10260 ประเทศไทย</b></p>
          </div>
        </div>
        <div class="row">
          <span class="title column-title">รายละเอียดการจ่ายเงิน</span>
        </div>
          <hr>
          <div class="row">
            <div class="col-12 col-sm-3">
              <p>ข้อมูลบัญชี Prompt Pay ผู้ขาย</p>
              <p><b>-</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ประเภทช่องทาง Prompt Pay ผู้ขาย</p>
              <p><b>-</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>เลขที่บัญชีธนาคาร ผู้ขาย</p>
              <p><b>370791736</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ธนาคาร  ผู้ขาย</p>
              <p><b>FIRST STATE BANK OF BLAKELY</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ข้อมูลบัญชี Prompt Pay ผู้ซื้อ</p>
              <p><b>1-9030-43040-85-6</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ประเภทช่องทาง Prompt Pay ผู้ซื้อ</p>
              <p><b>Tax ID</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>เลขที่บัญชีธนาคาร ผู้ซื้อ</p>
              <p><b>010-2-94649-5</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ธนาคาร  ผู้ซื้อ</p>
              <p><b>ธนาคารกรุงเทพ จำกัด (มหาชน) สาขาพลับพลาไชย</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>จำนวนเงิน</p>
              <p><b>100,000.00 บาท</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>วันที่ และเวลาที่จ่ายเงิน</p>
              <p><b>30/04/2562 02:00:00 น.</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-3">
              <p>ภาษีเงินได้หัก ณ ที่จ่าย</p>
              <p><b>15,000.00 บาท</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>อัตราภาษีเงินได้หัก ณ ที่จ่าย</p>
              <p><b>15%</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ภาษีมูลค่าเพิ่ม</p>
              <p><b>8,000.00 บาท</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>อัตราภาษีมูลค่าเพิ่ม</p>
              <p><b>8%</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ประเภทเงินได้ </p>
              <p><b>504 : ค่าสิทธิในสิทธิบัตร เครื่องหมายการค้า แบบหรือหุ่นจำลอง แผนผัง สูตรลับ หรือกรรมวิธีลับใดๆ ตามมาตรา 40(3)</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>หมายเลขอ้างอิงการทำรายการ </p>
              <p><b>-</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>หมายเลขเครื่อง EDC </p>
              <p><b>-</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-3">
              <p>หมายเลขหน้าบัตรเดบิต/เครดิต </p>
              <p><b>-</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ธนาคาร/หน่วยงาน ผู้ออกบัตร </p>
              <p><b>-</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ธนาคาร/หน่วยงาน ผู้รับชำระเงิน </p>
              <p><b>-</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>รหัสร้านค้าที่รับชำระเงิน </p>
              <p><b>-</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>สาขาภาษีมูลค่าเพิ่มผู้จ่ายเงิน </p>
              <p><b>-</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>สาขาภาษีมูลค่าเพิ่มผู้รับเงิน </p>
              <p><b>-</b></p>
            </div>
          </div>
          <div class="row">
            <span class="title column-title">รายละเอียดการจ่ายเงิน</span>
          </div>
          <hr>
          <div class="row">
            <div class="col-12 col-sm-3">
                <p>แบบ</p>
                <p><b>ภ.ง.ด.54, ภ.พ.36</b></p>
              </div>
              <div class="col-12 col-sm-3">
                <p>ประเภทการยื่นแบบ</p>
                <p><b>ยื่นปกติ</b></p>
              </div>
              <div class="col-12 col-sm-3">
                <p>เดือนภาษี</p>
                <p><b>เมษายน</b></p>
              </div>
              <div class="col-12 col-sm-3">
                <p>ปีภาษี</p>
                <p><b>2562</b></p>
              </div>
          </div>
      </div>
      <div class="row text-center d-block">
        <button type="button" class="btn btn-danger btn-auto" (click)="modalService.dismissAll()" #closeBtn>
          <i class="fa fa-close"></i> ปิด
        </button>
      </div>
    </ng-template> -->
    <ng-template #contentPnd54 let-modal>
        <div class="modal-header">
          <h4 class="modal-title title mt-auto text-left" id="modal-basic-title">ภ.ง.ด.54  แบบยื่นรายการนำส่งภาษีเงินได้นิติบุคคล และการจำหน่ายเงินกำไร <br>
              ตามมาตรา 70 และมาตรา 70 ทวิ แห่งประมวลรัษฎากร</h4>
          <button type="button" class="btn btn-primary btn-auto" #printBtn>
            <i class="fa fa-print"></i> พิมพ์
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12 col-sm-6">
              <p>เลขที่แบบ</p>
              <p><b>P54620520000101</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ประเภท</p>
              <p><b>ยื่นปกติ</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>การนำส่งภาษี</p>
              <p><b>(1) ภาษีหักจากเงินได้ที่จ่าย ตามมาตรา 70 แห่งประมวลรัษฎากร</b></p>
            </div>
          </div>
          <div class="row">
            <span class="title column-title">บุคคล ห้างหุ้นส่วน บริษัท สมาคม หรือคณะบุคคล</span>
          </div>
          <hr>
          <div class="row">
            <div class="col-12 col-sm-3">
              <p>เลขประจำตัวผู้เสียภาษีอากร</p>
              <p><b>1-9030-43040-85-6</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ชื่อผู้เสียภาษีอากร </p>
              <p><b>บริษัท ไทย กรีน จำกัด</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>เลขที่สาขา </p>
              <p><b>00000</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ที่อยู่ </p>
              <p><b>223/61  อาคารคันทรี่ คอมเพล็กซ์ เอ ชั้น 14 ถนน <br> สรรพาวุธ  แขวงบางนาใต้  เขตบางนา <br> กรุงเทพมหานคร 10260 ประเทศไทย</b></p>
            </div>
          </div>
          <div class="row">
            <span class="title column-title">การจ่ายเงินได้ตามมาตรา 70 แห่งประมวลรัษฎากร</span>
          </div>
          <hr>
          <div class="row">
            <div class="col-12 col-sm-6">
              <p>ชื่อผู้รับเงินได้</p>
              <p><b>Shakil Whitworth</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>สำนักงานตั้งอยู่</p>
              <p><b>10 West 53 Street New York United States</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>ประเภทเงินได้ที่จ่าย</p>
              <p><b>(3) ค่าสิทธิในสิทธิบัตร สูตร หรือกรรมวิธี ตามมาตรา 40(3)</b></p>
            </div>
          </div>
          <div class="row">
            <span class="title column-title">การคำนวณภาษี</span>
          </div>
          <hr>
          <div class="row">
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                  <thead>
                  <tr>
                    <th scope="col" class="text-center"></th>
                    <th scope="col" class="text-center">จำนวนเงิน</th>
                  </tr>
                  </thead>
                  <tbody>
                      <tr role="row" class="odd">
                          <td class="text-left">(1) เงินได้พึงประเมินที่จ่าย</td>
                          <td class="text-right">100,000.00</td>
                      </tr>
                      <tr role="row" class="odd">
                          <td class="text-left">(2) เงินภาษีที่นำส่งในอัตราร้อยละ <b><u>15</u></b></td>
                          <td class="text-right">15,000.00</td>
                      </tr>
                      <tr role="row" class="odd">
                        <td class="text-left">(3) เงินเพิ่ม (ถ้ามี)</td>
                        <td class="text-right">-</td>
                      </tr>
                      <tr role="row" class="odd">
                          <td class="text-left">(4) รวมเป็นเงินทั้งสิ้น</td>
                          <td class="text-right">15,000.00</td>
                      </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-3">
              <p>ผู้จ่ายเงินได้</p>
              <p><b>หักนำส่ง</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>วันเดือนปีที่จ่ายเงินได้ซึ่งต้องหักภาษีจาก</p>
              <p><b>30 เมษายน 2562</b></p>
            </div>
            <div class="col-12 col-sm-3">
              <p>เงินได้ที่จ่ายตามมาตรา 70</p>
            </div>
            <div class="col-12 col-sm-3">
              <p>เลขที่เอกสารแลกเปลี่ยนเงินตรา</p>
              <p><b>-</b></p>
            </div>
          </div>
          <div class="row text-center d-block">
            <button type="button" class="btn btn-danger btn-auto" (click)="modalService.dismissAll()" #closeBtn>
              <i class="fa fa-close"></i> ปิด
            </button>
          </div>
        </div>
      </ng-template>
      <ng-template #contentPp36 let-modal>
          <div class="modal-header">
            <h4 class="modal-title title mt-auto text-left" id="modal-basic-title">ภ.พ.36  แบบนำส่งภาษีมูลค่าเพิ่ม ตามประมวลรัษฎากร</h4>
            <button type="button" class="btn btn-primary btn-auto" #printBtn>
              <i class="fa fa-print"></i> พิมพ์
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12 col-sm-9">
                <p>เลขที่แบบ</p>
                <p><b>P36620410000001</b></p>
              </div>
              <div class="col-12 col-sm-3">
                <p>ประเภท</p>
                <p><b>ยื่นปกติ</b></p>
              </div>
            </div>
            <div class="row">
              <span class="title column-title">ผู้นำส่งภาษีมูลค่าเพิ่ม</span>
            </div>
            <hr>
            <div class="row">
              <div class="col-12 col-sm-3">
                <p>เลขประจำตัวผู้เสียภาษีอากร</p>
                <p><b>1-9030-43040-85-6</b></p>
              </div>
              <div class="col-12 col-sm-3">
                <p>ชื่อผู้เสียภาษีอากร </p>
                <p><b>บริษัท ไทย กรีน จำกัด</b></p>
                <p>เลขที่สาขา </p>
                <p><b>00000</b></p>
              </div>
              <div class="col-12 col-sm-3">
                <p>ที่อยู่ </p>
                <p><b>223/61  อาคารคันทรี่ คอมเพล็กซ์ เอ ชั้น 14 ถนน <br> สรรพาวุธ  แขวงบางนาใต้  เขตบางนา <br> กรุงเทพมหานคร 10260 ประเทศไทย</b></p>
              </div>
              <div class="col-12 col-sm-3">
                <p>มีหน้าที่นำส่งภาษีมูลค่าเพิ่มกรณี</p>
                <p><b>(1) จ่ายเงินค่าซื้อสินค้าหรือบริการให้

                    ผู้ประกอบการที่เข้ามาประกอบกิจการ
                    
                    ในราชอาณาจักรเปนการชั่วคราวฯ  หรือให้แก่ผู้ประกอบการที่ได้ให้บริการ
                    
                    ในต่างประเทศหรือให้แก่ผู้ประกอบการ
                    
                    อื่นที่กำหนดโดยพระราชกฤษฎีกา</b></p>
              </div>
            </div>
            <div class="row">
              <span class="title column-title">ผู้ประกอบการซึ่งเป็นผู้รับเงิน</span>
            </div>
            <hr>
            <div class="row">
              <div class="col-12 col-sm-3"></div>
              <div class="col-12 col-sm-3">
                <p>ชื่อผู้ประกอบการ</p>
                <p><b>Shakil Whitworth</b></p>
              </div>
              <div class="col-12 col-sm-3">
                <p>ที่อยู่</p>
                <p><b>10 West 53 Street New York United States</b></p>
              </div>
              <div class="col-12 col-sm-3">
                <p><b>เป็นผู้ประกอบการที่ได้ให้บริการใน

                    ต่างประเทศ และได้มีการใช้บริการนั้น
                    
                    ในราชอาณาจักร</b></p>
              </div>
            </div>
            <div class="row">
                <span class="title column-title">รายละเอียดการจ่ายเงิน</span>
            </div>
            <hr>
            <div class="row">
              <div class="col-12 col-sm-3"></div>
              <div class="col-12 col-sm-3">
                <p>วัน เดือน ปี ที่จ่ายเงิน</p>
                <p><b>30 เมษายน 2562</b></p>
              </div>
              <div class="col-12 col-sm-3">
                <p>เลขที่เอกสารแลกเปลี่ยนเงินตรา</p>
                <p><b>-</b></p>
              </div>
              <div class="col-12 col-sm-3">
                <p>จ่ายเงินชำระราคาสำหรับ</p>
                <p><b>504 : ค่าสิทธิในสิทธิบัตร เครื่องหมายการค้า แบบหรือหุ่นจำลอง แผนผัง สูตรลับ หรือกรรมวิธีลับใดๆ ตามมาตรา 40(3)</b></p>
              </div>
            </div>
            
            <div class="row">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                      <th scope="col" class="text-center">การคำนวณภาษี</th>
                      <th scope="col" class="text-center">จำนวนเงิน</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr role="row" class="odd">
                            <td class="text-left">1. จำนวนเงินที่จ่าย</td>
                            <td class="text-right">100,000.00</td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class="text-left">2. จำนวนเงินภาษีมูลค่าเพิ่มที่ต้องนำส่ง</td>
                            <td class="text-right">8,000.00</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td class="text-left"><div class="col-12 col-sm-6">(ตัวอักษร) <b>แปดพันบาทถ้วน</b></div></td>
                          <td class="text-right">-</td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class="text-left">3. เงินเพิ่ม</td>
                            <td class="text-right">0.00</td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class="text-left">4. เบี้ยปรับ (ถ้ามี เฉพาะกรณีรับโอนสินค้าหรือรับโอนสิทธิในบริการที่ได้เสียภาษีในอัตราร้อยละ 0))</td>
                            <td class="text-right">0.00</td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class="text-left">5. รวมภาษีมูลค่าเพิ่มที่ต้องนำส่ง เงินเพิ่ม และเบี้ยปรับ (2. + 3. + 4.)</td>
                            <td class="text-right">8,000.00</td>
                        </tr>
                        <tr role="row" class="odd">
                          <td class="text-left"><div class="col-12 col-sm-6">(ตัวอักษร) <b>แปดพันบาทถ้วน</b></div></td>
                          <td class="text-right">-</td>
                        </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row text-center d-block">
              <button type="button" class="btn btn-danger btn-auto" (click)="modalService.dismissAll()" #closeBtn>
                <i class="fa fa-close"></i> ปิด
              </button>
            </div>
          </div>
        </ng-template>
</section>
