<div class="card mb-4">
  <div class="card-header ">
    <div class="justify-content-left">
      <h4>เอกสารขอใช้งานใบรับรองอิเล็กทรอนิกส์</h4>
    </div>
  </div>
  <div class="card-body">
        <form [formGroup]="attachmentFormGroup" >
          <table id="attachment_table" class="table table-striped table-bordered dataTable custom-table-length" style="width: 100%;" role="grid"
                 aria-describedby="attachment_table">
            <thead>
            <tr role="row">
              <th class="text-center" style="background-color: #cececc;color: black;">#</th>
              <th class="text-center" style="background-color: #cececc;color: black;">ประเภทเอกสาร </th>
              <th class="text-center" style="background-color: #cececc;color: black;">อัพโหลด </th>
              <th class="text-center" style="background-color: #cececc;color: black;"> </th>
            </tr>
            </thead>
            <tbody formArrayName="attachments">
            <tr role="row" class="odd" *ngFor="let attachment of attachmentsFormArray.controls; let i=index">
              <ng-container [formGroupName]="i">
                <td class="text-center">{{i+1}}</td>
                <td><input id="attachmentTypeName" type="text" class="form-control no-border" formControlName="attachmentTypeName"></td>
                <td>
                  <div class="custom-file">
                    <input id="file" type="file" class="custom-file-input" accept="image/*,.pdf" (change)="setFileName($event.target.files, i)" style="overflow: hidden">
                    <label class="custom-file-label" style="overflow: hidden">{{fileNameControl(i).value == null ? '' : fileNameControl(i).value}}</label>
                    <div class="red error-msg" *ngIf="fileControl(i).hasError('required') && fileControl(i).touched">
                      กรุณาแนบเอกสาร
                    </div>
                  </div>
                  </td>
                <td class="text-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-auto" (click)="viewAttachment(i)" tooltip="ดูไฟล์" *ngIf="fileNameControl(i).value != null">
                      <i class="fa fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-auto" (click)="removeAttachmentForm(i)" tooltip="ลบไฟล์" *ngIf="fileNameControl(i).value != null">
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </div>
                </td>
              </ng-container>
            </tr>
            </tbody>
          </table>
        </form>
      </div>
</div>
