<div class="content">
    <div class="header-title">
        <h1><strong>รายละเอียดข้อมูลตำบล </strong>
            <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a
                    [routerLink]="['/etl/thambol']" class="active">ตำบล
            </a> / รายละเอียดข้อมูลตำบล
            </small>
        </h1>
    </div>


    <form [formGroup]="thambolForm">
        <div formGroupName="thambolGroup">
            <div class="card border-light mb-4">
                <div class="card-header">
                    <h4 class="panel-title">
                        <i class="header-title fa fa-file-text"></i> ข้อมูลตำบล
                    </h4>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label>รหัสตำบล</label>&nbsp; <label class ="text-danger">*</label>
                            <input type="text" formControlName="thambolCode" id="thambolCode"
                                   placeholder="ระบุรหัสตำบล"
                                   class="form-control" readonly>
                            <div class="text-danger"
                                 *ngIf="!thambolForm.get('thambolGroup.thambolCode').valid && thambolForm.get('thambolGroup.thambolCode').touched">
                                กรุณากรอกรหัสตำบล.
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>ชื่อตำบล (ไทย)</label>&nbsp; <label class ="text-danger">*</label>
                            <input type="text" formControlName="thambolNameTh" id="thambolNameTh"
                                   placeholder="ระบุชื่อตำบล (ไทย)"
                                   class="form-control" readonly>
                            <div class="text-danger"
                                 *ngIf="!thambolForm.get('thambolGroup.thambolNameTh').valid && thambolForm.get('thambolGroup.thambolNameTh').touched">
                                กรุณากรอกชื่อตำบล (ไทย).
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>ชื่อตำบล (อังกฤษ)</label>
                            <input type="text" formControlName="thambolNameEn" id="thambolNameEn"
                                   placeholder="ระบุชื่อตำบล (อังกฤษ)"
                                   class="form-control" readonly>

                        </div>

                        <div class="form-group col-lg-6">
                            <label>จังหวัด</label>&nbsp; <label class ="text-danger">*</label>
                            <input formControlName="provinceNameTh"
                                   [ngClass]="{'': !thambolForm.get('thambolGroup.provinceId').valid && thambolForm.get('thambolGroup.provinceId').touched}"
                                   [typeahead]="edcProvinceList"
                                   (click)="resetAmphur()"
                                   [typeaheadMinLength]="0"
                                   (typeaheadOnSelect)="onSelectProvince($event)"
                                   placeholder="ระบุจังหวัด"
                                   typeaheadOptionField="provinceNameTh"
                                   id="provinceNameTh"
                                   class="form-control" readonly>
                            <div class="text-danger"
                                 *ngIf="!thambolForm.get('thambolGroup.provinceNameTh').valid && thambolForm.get('thambolGroup.provinceNameTh').touched">
                                กรุณาระบุจังหวัด.
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>อำเภอ</label>&nbsp; <label class ="text-danger">*</label>
                            <input formControlName="amphurNameTh"
                                   [typeahead]="edcAmphurList"
                                   [typeaheadMinLength]="0"
                                   (typeaheadOnSelect)="onSelectAmphur($event)"
                                   placeholder="ระบุอำเภอ"
                                   typeaheadOptionField="amphurNameTh"
                                   id="amphurNameTh"
                                   class="form-control" readonly>
                            <div class="text-danger"
                                 *ngIf="!thambolForm.get('thambolGroup.amphurNameTh').valid && thambolForm.get('thambolGroup.amphurNameTh').touched">
                                กรุณาระบุอำเภอ.
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>หมายเหตุ</label>
                            <textarea formControlName="comment" id="comment" rows="5"
                                      class="form-control" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <table width="auto" border="0" cellspacing="10" cellpadding="0" style="margin:auto;">
            <tr>
                <td>
                    <button type="button" class="btn btn-auto btn-orange3 w-md m-b-5"
                            (click)="onBack()" id="back"><i
                            class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
