<div class="header-title">
  <h1><strong>เพิ่ม/แก้ไข รายการใบคำขอข้อมูลฯ</strong>
    <small class="pull-right"><a href="#" class="active">หน้าหลัก</a> /
      เพิ่ม/แก้ไข รายการใบคำขอข้อมูลฯ
    </small>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false">
      <div class="panel-heading">
        <div class="panel-title">
          <h4 *ngIf="requestFormId == null">ARSP0102 : บันทึกข้อมูลคำขอข้อมูล (Ad-hoc Report)</h4>
          <h4 *ngIf="requestFormId != null">ARSP0103 : แก้ไข / ยกเลิก บันทึกข้อมูลคำขอข้อมูล (Ad-hoc Report)</h4>
        </div>
      </div>
      <div class="panel-body">
<!--        <pre>{{requestFormGroup.value | json}}</pre>-->
        <form [formGroup]="requestFormGroup">
          <div class="col-lg-12">
            <div class="row form-group">
              <div class="col-sm-2 text-sm-right">
                <label class="pull-right">เรื่อง<span class="red">*</span></label>
              </div>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="formTitle" formControlName="formTitle" placeholder="เรื่อง">
                <div *ngIf="isInvalidAndTouched(formTitleControl)" class="red error-msg">
                  <div *ngIf="formTitleControl.errors.required"> กรุณาระบุเรื่อง</div>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-2 text-sm-right">
                <label class="pull-right">รายละเอียด</label>
              </div>
              <div class="col-sm-10">
                <textarea class="form-control" id="formDesc" style="min-height: 100px" formControlName="formDesc"></textarea>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-2 text-sm-right">
                <label class="pull-right">กลุ่มของข้อมูล<span class="red">*</span></label>
              </div>
              <div class="col-sm-4" formGroupName="searchTemplate">
                <select class="form-control" id="searchTemplateId" name="searchTemplateId" formControlName="searchTemplateId">
                  <option *ngFor="let data of searchTemplateDropdown" [ngValue]="data.id">{{data.value}}</option>
                </select>
                <div *ngIf="isInvalidAndTouched(searchTemplateIdControl)" class="red error-msg">
                  <div *ngIf="searchTemplateIdControl.errors.required"> กรุณาระบุกลุ่มข้อมูล </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="row">
              <nav class="navbar navbar-light bg-info col-lg-12">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <h6><i class="fa fa-desktop" aria-hidden="true"></i> เลือกฟิลด์ข้อมูลที่ต้องการนำออก กลุ่มข้อมูล
                    </h6>
                  </li>
                </ul>
              </nav>
            </div>
            <br/>
          </div>
          <div class="col-lg-12">
            <div class="row form-group justify-content-center">
              <div class="container-fluid">
                <app-moveitem [groupsArray]="source" [selectedItems]="target" [contentHeight]="300" (onSelected)="onSelectedFields($event)"></app-moveitem>
              </div>
            </div>
          </div>
          <br/>
          <div class="col-lg-12">
            <div class="row">
              <nav class="navbar navbar-light bg-info col-lg-12">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <h6><i class="fa fa-external-link" aria-hidden="true"></i> เงื่อนไขการนำออก</h6>
                  </li>
                </ul>
              </nav>
            </div>
            <br/>
            <table id="criteria_table" class="table table-striped no-border dataTable custom-table-length" style="width: 100%;" role="grid"
                   aria-describedby="attachment_table">
              <thead>
              <tr role="row">
                <th class="text-center" style="background-color: #cececc;color: black;">#</th>
                <th class="text-center" colspan="2" style="background-color: #cececc;color: black;"> ข้อมูลที่สามารถระบุเงื่อนไขการค้นหาเพิ่มเติม </th>
                <th class="text-center" colspan="2" style="background-color: #cececc;color: black;"> เงื่อนไขการค้นหา </th>
              </tr>
              </thead>
              <tbody formArrayName="requestFormCriterias">
              <tr role="row" class="odd" *ngFor="let column of criteriaFormArray.controls; let i=index">
                <ng-container [formGroupName]="i">
                  <td>{{i+1}}</td>
                  <td>
                    <input id="criteria_colDescTh" type="text" class="form-control no-border" formControlName="colDescTh">
                  </td>
                  <td>
                    <label class="form-control-label" *ngIf="isSearchByList(i)"> (ค้นหาโดยระบุเงื่อนไขหรืออัพโหลดไฟล์) </label>
                    <label class="form-control-label"  *ngIf="isPeriodSearch(i)"> (ค้นหาตามช่วงวันที่) </label>
                  </td>
                  <td *ngIf="isSearchByList(i)">
                    <div style="padding-top: 7px; !important;">
                       <input id="criteria_criteriaValue" type="text" class="form-control no-border" formControlName="criteriaValue">
                    </div>
                  </td>
                  <td *ngIf="isSearchByList(i)">
                    <div class="row col-12">
                    <div class="col-11">
                      <div class="custom-file">
                        <input id="file" type="file" class="custom-file-input" accept="image/*,.pdf"
                               (change)="setFileName($event.target.files, i)" style="overflow: hidden">
                          <label class="custom-file-label"
                               style="overflow: hidden">{{fileNameControl(i).value == null ? '' : fileNameControl(i).value}}</label>
                      </div>
                    </div>
                      <div class="col-1">
                      <button type="button" class="btn btn-sm btn-auto" style="padding-top: 5px; !important;" (click)="removeAttachmentForm(i)" tooltip="ลบไฟล์">
                        <i class="fa fa-remove red"></i>
                      </button>
                      </div>
                    </div>
                  </td>
                  <td *ngIf="isPeriodSearch(i)">
                    <app-datepicker-th class="form-control-datepicker" id="periodDateFrom" name="periodDateFrom"
                                       formControlName="periodDateFrom"></app-datepicker-th>
                  </td>
                  <td *ngIf="isPeriodSearch(i)">
                    <app-datepicker-th class="form-control-datepicker" id="periodDateTo" name="periodDateTo"
                                       formControlName="periodDateTo"></app-datepicker-th>
                  </td>
                </ng-container>
              </tr>
              <tr role="row" *ngIf="criteriaFormArray.length === 0">
                <td colspan="4" class="text-center">ไม่พบรายการที่สามารถระบุเงื่อนไขการนำออกได้</td>
              </tr>
              </tbody>
            </table>
            </div>
          <div class="col-lg-12">
            <div class="row">
              <nav class="navbar navbar-light bg-info col-lg-12">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <h6><i class="fa fa-filter" aria-hidden="true"></i> จัดเรียงนำออก</h6>
                  </li>
                </ul>
              </nav>
            </div>
            <br/>
            <div class="row form-group">
              <table id="columns_table" class="table table-striped no-border dataTable custom-table-length" style="width: 100%;" role="grid"
                     aria-describedby="attachment_table">
                <thead>
                <tr role="row">
                  <th class="text-center" style="background-color: #cececc;color: black;">#</th>
                  <th class="text-center" style="background-color: #cececc;color: black;"> ข้อมูลที่ต้องการจัดเรียง </th>
                  <th class="text-center" colspan="2" style="background-color: #cececc;color: black;"> เงื่อนไขการจัดเรียง </th>
                </tr>
                </thead>
                <tbody formArrayName="requestFormSortings">
                <tr role="row" class="odd" *ngFor="let column of sortingFormArray.controls; let columnIndex=index">
                  <ng-container [formGroupName]="columnIndex">
                    <td>{{columnIndex+1}}</td>
                    <td><input id="column_colDescTh" type="text" class="form-control no-border" formControlName="colDescTh"></td>
                    <td>
                      <input id="sortASC" type="radio" formControlName="sortingType" name="sortingType" value="ASC">
                      <label for="sortASC">&nbsp;&nbsp; เรียงลำดับจากน้อยไปมาก</label>
                    </td>
                    <td>
                      <input id="sortDESC" type="radio" formControlName="sortingType" name="sortingType" value="DESC">
                      <label for="sortDESC">&nbsp;&nbsp; เรียงลำดับจากมากไปน้อย </label>
                    </td>
                  </ng-container>
                </tr>
                <tr role="row" *ngIf="sortingFormArray.length === 0">
                  <td colspan="3" class="text-center">ไม่พบรายการที่สามารถระบุเงื่อนไขการจัดเรียงข้อมูลได้</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="row">
              <nav class="navbar navbar-light bg-info col-lg-12">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <h6><i class="fa fa-file" aria-hidden="true"></i> นำไฟล์ออกในรูปแบบ</h6>
                  </li>
                </ul>
              </nav>
            </div>
            <br/>
            <div class="row form-group">
              <div class="col-sm-2 text-sm-right">
                <label class="pull-right">รูปแบบไฟล์สำหรับนำออก<span class="red">*</span></label>
              </div>
              <div class="col-sm-10" style="padding-top: 10px;">
                <input type="radio" name="fileType" formControlName="fileType" value="TXT"> Text File
                 &nbsp;&nbsp;
                <input type="radio" name="fileType" formControlName="fileType" value="CSV"> CSV File
              </div>
              <br>
              <div class="row form-group">
                <div *ngIf="isInvalidAndTouched(fileTypeControl)" class="red error-msg">
                  <div *ngIf="fileTypeControl.errors.required"> กรุณาเลือกรูปแบบไฟล์ </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12" *ngIf="requestFormId != null">
            <div class="row">
              <nav class="navbar navbar-light bg-info col-lg-12">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <h6><i class="fa fa-times-circle" aria-hidden="true"></i> ระบุเหตุผลกรณียกเลิก</h6>
                  </li>
                </ul>
              </nav>
            </div>
            <br/>
            <div class="row form-group">
              <div class="col-sm-10">
                <textarea class="form-control" id="cancelReason" style="min-height: 100px" formControlName="cancelReason"></textarea>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-lg-2 reset-button">
              <button type="button" class="btn btn-info margin-top-10" (click)="saveDraft()">
                บันทึกร่าง
              </button>
            </div>
            <div class="form-group col-lg-3 reset-button">
              <button type="button" class="btn btn-green margin-top-10" (click)="sendApprove()">
                บันทึก/ขออนุมัติ
              </button>
            </div>
            <div class="form-group col-lg-2 reset-button">
              <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
                ล้างข้อมูล
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



