<section class="content">
  <div class="header-title">
      <h1>
        <strong>หน่วยงานอุทธรณ์</strong>
        <small class="pull-right">
          <a href="" class="active">หน้าหลัก</a> /
          <a href="" class="active">หน่วยงานอุทธรณ์</a> / บันทึกหน่วยงานอุทธรณ์
        </small>
      </h1>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading">
          <div class="panel-title">
              <h3>บันทึกหน่วยงานอุทธรณ์</h3>
          </div>
        </div>
        <br />
        <div class="panel-body no-padding"></div>

        <div class="panel-body">
          <form [formGroup]="welfareAppealOrganizationForm"  (ngSubmit)="saveAppealOrganization()">
            <div class="row form-group">
              <div class="ccol-12 col-sm-4 text-sm-right text-left">
                <label>หน่วยงาน : <span class="red">*</span></label>
              </div>
              <div class="col-12 col-sm-4 text-left">
                <app-organization-type-ahead [input-search]="true" isRequired="false" (selectedOrgEvent)='setValue($event)'
                [input-org]="orgNameControl.value"  input-phd="โปรดระบุ" [input-disabled]="dataFlagControl.value === 'EDIT' ? true : false"
                [borderDanger]="orgNameControl.invalid && orgNameControl.touched" formControlName="orgName">

                </app-organization-type-ahead>
                <!--  -->
                <div class="red error-msg" *ngIf="orgNameControl.hasError('required') && orgNameControl.touched">
                  กรุณาระบุหน่วยงาน
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="ccol-12 col-sm-4 text-sm-right text-left">
                <label>สถานะการใช้งาน : <span class="red">*</span></label>
              </div>
              <div class="col-12 col-sm-4 text-left">
                <div class="form-group col-lg-12">
                  <label class="radio-inline">
                    <input type="radio" name="dataStatus" formControlName="dataStatus" value="ACTIVE"> ใช้งาน
                  </label>
                  &nbsp;
                  <label class="radio-inline">
                    <input type="radio" name="dataStatus" formControlName="dataStatus" value="INACTIVE"> ไม่ใช้งาน
                  </label>
                </div>
              </div>
            </div>

           <table width="auto" border="0" cellspacing="10" cellpadding="0" style="margin:auto;">
              <tr>
                <td>
                  <button type="submit" class="btn btn-green w-md m-b-5" *ngIf="authService.hasAnyPermission(['GWSP030100.ADD','GWSP030100.UPDATE'])">
                    <i class="fa fa-floppy-o" ></i>
                        &nbsp;บันทึก
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-orange3 w-md m-b-5" (click)="back()"><i
                            class="fa fa-times"></i>
                        ยกเลิก
                  </button>
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
