<section class="content">
  <div class="header-title">
    <h1>
      <strong>เงื่อนไขการตรวจสอบรายได้</strong>
      <small class="pull-right">
        <a href="" class="active">หน้าหลัก</a> /
        <a href="" class="active">เงื่อนไขการตรวจสอบรายได้</a> / บันทึกเงื่อนไขการตรวจสอบรายได้
      </small>
    </h1>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading">
          <div class="panel-title">
              <h3>บันทึกเงื่อนไขการตรวจสอบรายได้</h3>
          </div>
        </div>
        <br />
        <div class="panel-body no-padding"></div>

        <div class="panel-body">
          <form [formGroup]="welfareConfigForm" (ngSubmit)="saveConfig()">
            <div class="row form-group">
              <div class="ccol-12 col-sm-4 text-sm-right text-left">
                <label>ปีภาษี : <span class="red">*</span></label>
              </div>

              <div class="col-12 col-sm-4 text-left">
                <select class="custom-select form-control"  formControlName="year"
                    [ngClass]="{'border-danger': yearControl.invalid && yearControl.touched}">
                    <option value="">โปรดระบุ</option>
                    <option *ngFor="let item of taxYearList" [value]="item">
                      {{item}}
                    </option>
                </select>
                <div class="red error-msg" *ngIf="yearControl.hasError('required') && yearControl.touched">
                    กรุณาระบุปีภาษี
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="ccol-12 col-sm-4 text-sm-right text-left">
                <label>ระยะเวลารับเรื่องอุทธรณ์ วันที่เริ่มต้น : <span class="red">*</span></label>
              </div>
              <div class="col-12 col-sm-4 text-left">
                <app-datepicker-th formControlName="startDate" [maxDate]="(startDateControl.value == endDateControl.value) ? null : endDateControl.value"
                  [borderDanger]="startDateControl.invalid && startDateControl.touched" [minDate]="minDate" #startDate (valueOnchange) = dateChange()>
                </app-datepicker-th>
                <div class="red error-msg" *ngIf="startDateControl.hasError('required') && startDateControl.touched">
                  กรุณาระบุวันที่เริ่มต้น
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="ccol-12 col-sm-4 text-sm-right text-left">
                <label>วันที่สิ้นสุด : <span class="red">*</span></label>
              </div>
              <div class="col-12 col-sm-4 text-left">
                <app-datepicker-th formControlName="endDate" [minDate]="startDateControl.value"
                  [borderDanger]="endDateControl.invalid && endDateControl.touched" #endDate>
                </app-datepicker-th>
                <div class="red error-msg" *ngIf="endDateControl.hasError('required') && endDateControl.touched">
                  กรุณาระบุวันที่สิ้นสุด
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="ccol-12 col-sm-4 text-sm-right text-left">
                  <label>เกณฑ์รายได้ : <span class="red">*</span></label>
              </div>
              <div class="col-12 col-sm-4 text-left">
                <input type="text" appNumberOnly class="form-control" maxlength="10" formControlName="income"
                [ngClass]="{'border-danger': incomeControl.invalid && incomeControl.touched}" *ngIf="!isProcessControl.value">
                <div class="red error-msg" *ngIf="incomeControl.hasError('required') && incomeControl.touched">
                    กรุณาระบุเกณฑ์รายได้
                </div>
                <span *ngIf="isProcessControl.value">
                  {{incomeControl.value | number}}
                </span>
              </div>
            </div>

            <table width="auto" border="0" cellspacing="10" cellpadding="0" style="margin:auto;">
              <tr>
                <td>
                  <button type="submit" *ngIf="authService.hasAnyPermission(['GWSP030300.ADD','GWSP030300.UPDATE'])" class="btn btn-green w-md m-b-5" >
                  <i class="fa fa-floppy-o"></i>
                    &nbsp;บันทึก
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-orange3 w-md m-b-5" (click)="back()">
                    <i class="fa fa-times"></i>
                    ยกเลิก
                  </button>
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

