<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>Monitor การประมวลผลเพื่อจับคู่ใบเสร็จ</h4>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th></th>
              <th>ลำดับ</th>
              <th>วันที่ประมวลผล</th>
              <th>ธนาคาร</th>
              <th>ชื่อไฟล์ SWIFT MT 940</th>
              <th>ชื่อไฟล์ 256 format</th>
              <th>สถานะ<br>การประมวลผล</th>
              <th>หมายเหตุ</th>
              <th>การดำเนินการ</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="center"><input type="checkbox" name="checkbox2" id="checkbox2"></td>
              <td align="center">1</td>
              <td align="center">15/7/2562</td>
              <td align="center">ธนาคารกรุงเทพ</td>
              <td align="left">940_BBL_20190715.txt</td>
              <td align="left">256_format_20190816.txt</td>
              <td align="center">ไม่สำเร็จ</td>
              <td align="left">จำนวนเงินไม่ถูกต้อง</td>
              <td align="center"><input type="button" value="Retry"></td>
              <td bgcolor="red">
                <a href="mns/mnsp010502" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
