<div class="content">
  <div class="header-title mb-4">
    <h1><strong>นำเข้าประเทศ </strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a
        [routerLink]="['/etl/country']" class="active">ประเทศ
      </a> / นำเข้าประเทศ
      </small>
    </h1>

  </div>
  <form [formGroup]="countryForm" (ngSubmit)="onSubmit()">
    <div formGroupName="countryGroup">
      <div class="card border-light mb-4">
        <div class="card-header">
          <h4 class="panel-title">
            <i class="header-title fa fa-file-text"></i> ข้อมูลประเทศ
          </h4>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-lg-6">
              <label>นำเข้าไฟล์ข้อมูลสกุลเงิน</label>
              <input type="file" class="form-control" formControlName="countryFile" id="fileXlsx" accept=".xlsx"
                     (change)="selectFile($event)">
            </div>

<!--            <div class="form-group col-lg-6">-->
<!--              <label>วันที่มีผลบังคับใช้</label>-->
<!--              <input type="text" formControlName="effectiveDate" id="effectiveDate"-->
<!--                     class="form-control"-->
<!--                     placeholder="ระบุวันที่มีผลบังคับใช้"-->
<!--                     [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"-->
<!--                     [minDate]="minDate" autocomplete="off"-->
<!--                     [ngClass]="{'is-invalid': !countryForm.get('countryGroup.effectiveDate').valid && countryForm.get('countryGroup.effectiveDate').touched}"-->
<!--                     bsDatepicker>-->
<!--            </div>-->
          </div>
        </div>
      </div>
      <table style="margin:auto;">
        <tr>
          <td>
            <button type="button" id="back" class="btn btn-auto btn-orange3 w-md m-b-5" (click)="onBack()"><i
                    class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
            </button>
          </td>
          <td>
            <button type="button" id="clear" class="btn btn-auto btn-orange2 w-md m-b-5" (click)="resetForm()"><i
                    class="fa fa-repeat"></i> ล้างข้อมูล
            </button>
          </td>
          <td>
            <button type="submit" id="save" class="btn btn-auto btn btn-auto  btn-green w-md m-b-5"><i
                    class="fa fa-floppy-o"></i> บันทึก
            </button>
          </td>
        </tr>
      </table>
    </div>
  </form>
</div>
