<app-navigatortab></app-navigatortab>
<section class="content">
  <div class="header-title mb-4">
    <h1>
      <strong>ข้อมูล ภ.ง.ด.54 และ ภ.พ.36 : เดือนเมษายน - พฤษภาคม 2562</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> /  คัดค้นภาษีเงินได้หัก ณ ที่จ่ายและภาษีมูลค่าเพิ่ม / ผลการคัดค้นแบบสรุป / ข้อมูล ภ.ง.ด.54 และ ภ.พ.36 รายเดือน</small>
    </h1>
  </div>

  <div class="row">
    <div class="col-12 col-sm-10"></div>
    <div class="col-12 col-sm-2 d-block">
      <a target="_blank" class="btn btn-primary btn-print" [routerLink]="['/print/preview/pnd3654-by-month']">
          <i class="fa fa-print"></i> พิมพ์
      </a>
    </div>
  </div>
  
  <div class="card mb-4" *ngIf="pageResponse?.content!=null">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>ข้อมูลผู้เสียภาษี</h4>
    </div>
    <div class="card-body">
      <p class="mt-auto">เลขประจำตัวผู้เสียภาษีอากร : 1-9030-43040-85-6    ชื่อผู้เสียภาษีอากร : บริษัท ไทย กรีน จำกัด      สาขา 00000</p>
      <br/>
      <p class="mt-auto">ที่อยู่ : เลขที่ 223/61  อาคาร คันทรี่ คอมเพล็กซ์ เอ ชั้น 14 ถนน สรรพาวุธ  แขวง บางนาใต้  เขต บางนา  กรุงเทพมหานคร</p>
      <br/>
      <p class="mt-auto">สำนักงานภูมิลำเนา : สส.บางนา  (สท.กรุงเทพมหานคร 17)</p>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>รายการ</h4>
    </div>
    <div class="card-body">
      <table
        class="table table-striped table-bordered table-sm"
        cellspacing="0"
        width="100%"
      >
        <thead>
        <tr role="row">
          <th class="text-center" scope="col" style="width: 50px"></th>
          <th class="text-center" scope="col">เดือนภาษี</th>
          <th class="text-center" scope="col">ปีภาษี</th>
          <th class="text-center" scope="col">จำนวนเงิน (บาท)</th>
          <th class="text-center" scope="col">ภาษีเงินได้ หัก ณ ที่จ่าย (บาท)</th>
          <th class="text-center" scope="col">ภาษีมูลค่าเพิ่ม (บาท)</th>
          <th class="text-center" scope="col" style="width: 20px"></th>
        </tr>
        </thead>
        <tbody>
          <tr role="row" class="odd">
            <td class="text-center">1</td>
            <td class="text-center">เมษายน</td>
            <td class="text-center">2562</td>
            <td class="text-right">200,000.00</td>
            <td class="text-right">30,000.00</td>
            <td class="text-right">16,000.00</td>
            <td class="text-center">
              <div class="btn-group">

                <button
                  type="button"
                  class="btn btn-orange btn-sm btn-auto"
                  (click)="showMonthDetail(pageResponse?.content[0]?.taxpayerPin)"
                  tooltip="ดูรายละเอียด"
                >
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr role="row" class="odd">
           <td class="text-center">2</td>
           <td class="text-center">พฤษภาคม</td>
           <td class="text-center">2562</td>
           <td class="text-right">200,000.00</td>
           <td class="text-right">30,000.00</td>
           <td class="text-right">16,000.00</td>
           <td class="text-center">
             <div class="btn-group">

               <button
                 type="button"
                 class="btn btn-orange btn-sm btn-auto"
                 (click)="showMonthDetail(pageResponse?.content[0]?.taxpayerPin)"
                 tooltip="ดูรายละเอียด"
               >
                 <i class="fa fa-search" aria-hidden="true"></i>
               </button>
             </div>
           </td>
         </tr>
         <tr role="row" class="odd">
          <td class="text-center" colspan="3">รวม</td>
          <td class="text-right">400,000.00</td>
          <td class="text-right">60,000.00</td>
          <td class="text-right">32,000.00</td>
          <td class="text-center">
            <div class="btn-group">

              <button
                type="button"
                class="btn btn-orange btn-sm btn-auto"
                (click)="showMonthDetail(pageResponse?.content[0]?.taxpayerPin)"
                tooltip="ดูรายละเอียด"
              >
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="row text-right">
        <div class="col-6 col-sm-1">
          รายการ
        </div>
        <div class="col-6 col-sm-1">
          <select class="form-control" [value]="10">
            <option [value]="10">10</option>
            <option [value]="25">25</option>
            <option [value]="50">50</option>
          </select>
        </div>
        <div class="col-12 col-sm-5 offset-sm-5 d-flex">
          <div class="ml-auto">
            <pagination [totalItems]="pageResponse.content?.length" [itemsPerPage]="10" [maxSize]="5" previousText="ย้อนกลับ" nextText="ถัดไป"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
