<form [formGroup]="requiredAttachmentForm" (ngSubmit)="createOrEdit()"
      appAttachmentNameEnValidator appAttachmentNameValidator>
  <div class="modal-md">
    <div class="modal-header">
      <h3 *ngIf="id === undefined">เพิ่มเอกสาร</h3>
      <h3 *ngIf="id !== undefined">แก้ไขเอกสาร</h3>
    </div>
    <div class="modal-body">
      <div class="row mb-1">
        <div class="col-lg-12">
          <label for="newAttachmentName">
            ชื่อเอกสาร:
          </label>
          <input type="text" id="newAttachmentName" class="form-control" formControlName="attachmentName"
            appIgnoreKey allowKey="thai">
          <p *ngIf="attachmentName.touched && attachmentName.hasError('required')" class="red">
            <sup>*</sup>
            กรุณาระบุชื่อเอกสาร
          </p>
          <p *ngIf="attachmentName.touched && attachmentName.hasError('maxlength')" class="red">
            <sup>*</sup>
            ความยาวเกิน 255 ตัวอักษร
          </p>
          <p *ngIf="attachmentName.touched && requiredAttachmentForm.hasError('attachmentNameIsNotAvailable')" class="red">
            <sup>*</sup>
            ชื่อเอกสารถูกใช้งานแล้ว
          </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-lg-12">
          <label for="attachmentNameEn">
            ชื่อเอกสารภาษาอังกฤษ: (*ชื่อเอกสารภาษาอังกฤษจะถูกนำไปตั้งชื่อไฟล์)
          </label>
          <input type="text" id="attachmentNameEn" class="form-control" formControlName="attachmentNameEn"
            appIgnoreKey allowKey="eng">
          <p *ngIf="attachmentNameEn.touched && attachmentNameEn.hasError('required')" class="red">
            <sup>*</sup>
            กรุณาระบุชื่อเอกสารภาษาอังกฤษ
          </p>
          <p *ngIf="attachmentNameEn.touched && attachmentNameEn.hasError('maxlength')" class="red">
            <sup>*</sup>
            ความยาวเกิน 255 ตัวอักษร
          </p>
          <p *ngIf="attachmentName.touched && requiredAttachmentForm.hasError('attachmentNameEnIsNotAvailable')" class="red">
            <sup>*</sup>
            ชื่อเอกสารถูกใช้งานแล้ว
          </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-lg-12">
          <label for="attachmentDesc">
            คำอธิบายเอกสาร:
          </label>
          <input type="text" id="attachmentDesc" class="form-control" formControlName="attachmentDesc">
          <p *ngIf="attachmentDesc.touched && attachmentDesc.hasError('maxlength')" class="red">
            <sup>*</sup>
            มีความยาวเกิน 255 ตัวอักษร
          </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-lg-12">
          <label for="userTypeKey">
            ประเภทผู้ใช้งาน:
          </label>
          <select class="form-control" id="userTypeKey" formControlName="userTypeKey">
            <ng-container *ngIf="requiredAttachmentUserType === undefined">
              ไม่พบประเภทผู้ใช้งาน
            </ng-container>
            <ng-container *ngIf="requiredAttachmentUserType !== undefined">
              <option *ngFor="let item of requiredAttachmentUserType" [value]="item.value">{{item.name}}</option>
            </ng-container>
          </select>
          <p *ngIf="userTypeKey.touched && userTypeKey.hasError('required')" class="red">
            <sup>*</sup>
            กรุณาเลือกประเภทผู้ใช้งาน
          </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-3 text-left text-sm-right">
          ความจำเป็น:
        </div>
        <div class="col-3">
          <input type="radio" name="required" [value]="true" formControlName="required"> ต้องแนบ
        </div>
        <div class="col-3">
          <input type="radio" name="required" [value]="false" formControlName="required"> ไม่ต้องแนบ
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="m-auto">
        <button class="btn btn-md btn-success btn-auto" type="submit">
          บันทึก
        </button>
        <button class="btn btn-md btn-danger btn-auto" type="button" (click)="closeModal(false)">
          ยกเลิก
        </button>
      </div>
    </div>
  </div>
</form>
