<app-navigator-wht-tab></app-navigator-wht-tab>
<section class="content">
  <div class="header-title mb-4">
    <div class="row">
      <div class="col-12 col-sm-11">
        <h1>
          <strong>รายการที่โอน : เดือนเมษายน - พฤษภาคม 2562 </strong>
          <small class="pull-right">
            <a routerLink="/home" class="active">หน้าหลัก</a> /
            <a routerLink="/dss/wht-spending-search">คัดค้นการใช้จ่าย</a> /
            <a routerLink="/dss/wht-spending-result">ผลการคัดค้นแบบสรุป</a> / รายการที่โอน รายเดือน
        </small>
        </h1>
      </div>
      <div class="col-12 col-sm-1 d-block text-right">
        <button type="button" class="btn btn-primary btn-auto" #printBtn>
          <i class="fa fa-print"></i> พิมพ์
        </button>
      </div>
    </div>
  </div>


  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>ข้อมูลผู้เสียภาษีอากร</h4>
    </div>
    <div class="card-body">
      เลขประจำตัวผู้เสียภาษีอากร : 0105541069237 ชื่อผู้เสียภาษีอากร : บริษัท สตรีม ไอ.ที.คอนซัลติ้ง จำกัด สาขา 00000 ที่อยู่ : 11 อ.คิวเฮ้าส์สาธรชั้น7 สาทรใต้ ทุ่งมหาเมฆ สาทร กรุงเทพมหานคร 10120 สำนักงานภูมิลำเนา : สส.บางนา (สท.กรุงเทพมหานคร 17)
  </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>รายการที่โอน </h4>
    </div>
    <div class="card-body">
      <table
        class="table table-striped table-bordered table-sm"
        cellspacing="0"
        width="100%"
      >
        <thead>
        <tr role="row">
          <!-- <th class="text-center" scope="col" style="width: 50px"></th> -->
          <th class="text-center" scope="col" style="width: 50px"></th>
          <th class="text-center" scope="col">เดือนภาษี</th>
          <th class="text-center" scope="col">ปีภาษี</th>
          <th class="text-center" scope="col">จำนวน <br> เงิน (บาท)</th>
          <th class="text-center" scope="col">จำนวนภาษี <br> มูลค่าเพิ่ม (บาท)</th>
          <th class="text-center" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr role="row" class="odd">
          <td class="text-center">1</td>
          <td class="text-center">เมษายน</td>
          <td class="text-center">2562</td>
          <td class="text-right">299,480.00</td>
          <td class="text-right">0.00</td>
          <td class="text-center">
              <button
              type="button"
              class="btn btn-orange btn-sm btn-auto"
              (click)="routDetail()"
              tooltip="ดูรายละเอียด">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        <tr role="row" class="odd">
            <td class="text-center">2</td>
            <td class="text-center">พฤษภาคม</td>
            <td class="text-center">2562</td>
            <td class="text-right">200,000.00</td>
            <td class="text-right">0.00</td>
            <td class="text-center">
                <button
                type="button"
                class="btn btn-orange btn-sm btn-auto"
                tooltip="ดูรายละเอียด">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
              <td colspan="3" class="text-center"><b>รวม</b></td>
              <td class="text-right"><b>499,480.00</b></td>
              <td class="text-right"><b>0.00</b></td>
              <td class="text-right"></td>
          </tr>
          </tfoot>
      </table>
      <div class="row text-right">
        <div class="col-6 col-sm-1">
          รายการ
        </div>
        <div class="col-6 col-sm-1">
          <select class="form-control" [value]="10">
            <option [value]="10">10</option>
            <option [value]="25">25</option>
            <option [value]="50">50</option>
          </select>
        </div>
        <div class="col-12 col-sm-5 offset-sm-5 d-flex">
          <div class="ml-auto">
            <pagination [totalItems]="1" [itemsPerPage]="10" [maxSize]="5" previousText="ย้อนกลับ" nextText="ถัดไป"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
