<div class="header-title">
  <h1><strong>จัดการสถานะผู้ใช้งานสาธารณะประเภทบุคคลธรรมดาต่างด้าว</strong>
    <small class="pull-right"><a href="home.html" class="active">หน้าหลัก</a> /
      จัดการสถานะผู้ใช้งานสาธารณะประเภทบุคคลธรรมดาต่างด้าว
    </small>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>
        </div>
        <div class="dropdown">
          <ul class="dropdown-menu dropdown-menu-right">
            <li style=""><a data-func="editTitle" data-tooltip="Edit title" data-toggle="tooltip"
                            data-title="Edit title" data-placement="bottom" data-original-title="" title=""><i
              class="panel-control-icon ti-pencil"></i><span class="control-title">Edit title</span></a></li>
            <li><a data-func="unpin" data-tooltip="Unpin" data-toggle="tooltip" data-title="Unpin"
                   data-placement="bottom" data-original-title="" title=""><i
              class="panel-control-icon ti-move"></i><span class="control-title">Unpin</span></a></li>
            <li><a data-func="reload" data-tooltip="Reload" data-toggle="tooltip" data-title="Reload"
                   data-placement="bottom" data-original-title="" title=""><i
              class="panel-control-icon ti-reload"></i><span class="control-title">Reload</span></a></li>
            <li><a data-func="minimize" data-tooltip="Minimize" data-toggle="tooltip" data-title="Minimize"
                   data-placement="bottom" data-original-title="" title=""><i
              class="panel-control-icon ti-minus"></i><span class="control-title">Minimize</span></a></li>
            <li><a data-func="expand" data-tooltip="Fullscreen" data-toggle="tooltip" data-title="Fullscreen"
                   data-placement="bottom" data-original-title="" title=""><i
              class="panel-control-icon ti-fullscreen"></i><span class="control-title">Fullscreen</span></a></li>
            <li><a data-func="close" data-tooltip="Close" data-toggle="tooltip" data-title="Close"
                   data-placement="bottom" data-original-title="" title=""><i
              class="panel-control-icon ti-close"></i><span class="control-title">Close</span></a></li>
          </ul>
          <div class="dropdown-toggle" data-toggle="dropdown"><span
            class="panel-control-icon glyphicon glyphicon-cog"></span></div>
        </div>
      </div>

      <div class="panel-body">


        <div class="row">
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">เลขที่ใบคำขอ</label>
          </div>
          <div class="form-group col-lg-4">
            <input type="text" value="" id="" class="form-control" name="" placeholder="เลขที่ใบคำขอ">
          </div>
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ชื่อ หรือ นามสกุล</label>
          </div>
          <div class="form-group col-lg-4">
            <input type="text" value="" id="" class="form-control" name="" placeholder="ชื่อ หรือ นามสกุล">
          </div>

          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">เลขประจำตัวผู้เสียภาษีอากร</label>
          </div>
          <div class="form-group col-lg-4">
            <input type="text" value="" id="" class="form-control" name="" placeholder="เลขประจำตัวผู้เสียภาษีอากร">
          </div>
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">สถานะ</label>
          </div>
          <div class="form-group col-lg-4">
            <input type="text" value="" id="" class="form-control" name="" placeholder="สถานะ">
          </div>

          <!-- <div class="form-group col-lg-3">
            <label>เลขที่ใบคำขอ</label>
            <input  type="text" class="form-control years" placeholder="เลขที่ใบคำขอ">
          </div>
          <div class="form-group col-lg-3">
            <label>ชื่อ หรือ นามสกุล</label>
            <input  type="text" class="form-control years" placeholder="ชื่อ หรือ นามสกุล">
          </div>
          <div class="form-group col-lg-3">
              <label>เลขประจำตัวผู้เสียภาษีอากร</label>
              <input  type="text" class="form-control years" placeholder="เลขประจำตัวผู้เสียภาษีอากร">
          </div>
          <div class="form-group col-lg-3">
              <label>สถานะ</label>
              <input   type="text" class="form-control years" placeholder="สถานะ">
          </div> -->


          <!-- <div class="form-group col-lg-4">
              <label>เลขประจำตัวผู้เสียภาษีอากร</label>
              <select class="form-input form-control" id="" type="text" name="">
                <option value="">กรุณาเลือก</option>
              </select>
          </div>
          <div class="form-group col-lg-4">
              <label>ชื่อผู้เสียภาษีอากร</label>
              <select class="form-input form-control" id="" type="text" name="">
                <option value="">กรุณาเลือก</option>
              </select>
          </div>
          <div class="form-group col-lg-2">
              <label>ตั้งแต่วันที่ยื่นคำขอ</label>
              <input id="minMaxExample" type="text" class="form-control years" placeholder="กรุณาเลือก">
          </div>
          <div class="form-group col-lg-2">
              <label>ถึงวันที่ยื่นคำขอ</label>
              <input id="minMaxExample2" type="text" class="form-control years" placeholder="กรุณาเลือก">
          </div>

          <div class="form-group col-lg-4">
              <label>กลุ่มผู้ใช้งาน</label>
              <select class="form-input form-control" id="" type="text" name="">
                <option value="">ทั้งหมด</option>
              </select>
          </div>
          <div class="form-group col-lg-4">
              <label>สถานะการอนุมัติ</label>
              <select class="form-input form-control" id="" type="text" name="">
                <option value="">ทั้งหมด</option>
              </select>
          </div> -->

        </div>
        <div class="row d-flex justify-content-center">

          <div class="form-group col-lg-2 reset-button">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> ค้นหา</a>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <a href="#" class="btn btn-warning margin-top-10"><i class="glyphicon glyphicon-repeat"></i> ล้างค่า</a>
          </div>

        </div>

      </div>

      <!-- <div class="panel-body">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <canvas id="barChart1" height="240"></canvas>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <canvas id="barChart2" height="240"></canvas>
              </div>
        </div> -->
    </div>
  </div>


  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="fEOH8HCiPh">
    <div class="panel panel-bd lobidisable lobipanel" data-sortable="false" data-inner-id="fEOH8HCiPh" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 36px);">
          <h4><i class="fa fa-list mr-2"></i> ผลการค้นหา</h4>
        </div>
        <div class="dropdown">
          <ul class="dropdown-menu dropdown-menu-right">
            <li style=""><a data-func="unpin" data-tooltip="Unpin" data-toggle="tooltip" data-title="Unpin"
                            data-placement="bottom" data-original-title="" title=""><i
              class="panel-control-icon ti-move"></i><span class="control-title">Unpin</span></a></li>
            <li><a data-func="minimize" data-tooltip="Minimize" data-toggle="tooltip" data-title="Minimize"
                   data-placement="bottom" data-original-title="" title=""><i
              class="panel-control-icon ti-minus"></i><span class="control-title">Minimize</span></a></li>
            <li><a data-func="expand" data-tooltip="Fullscreen" data-toggle="tooltip" data-title="Fullscreen"
                   data-placement="bottom" data-original-title="" title=""><i
              class="panel-control-icon ti-fullscreen"></i><span class="control-title">Fullscreen</span></a></li>
          </ul>
          <div class="dropdown-toggle" data-toggle="dropdown"><span
            class="panel-control-icon glyphicon glyphicon-cog"></span></div>
        </div>
      </div>


      <div class="panel-body pb-4">


        <!-- <table  class="" style="width: 100%; margin: 0 0 20px 0;  ">
              <thead>


                     <tr>

                      <th colspan="">
                          <div class="pull-right">
                            <select class="form-input form-control" id="" type="text" name="" style="width: 100px;   ">
                             <option value="">10  </option>
                           </select>
                          </div>
                          <div class="pull-right padding-10">
                          แสดงหน้าละ </div>
                    </th>
                 </tr>
              </thead>
           </table> -->


        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">

          <thead>
          <tr class="">
            <th>&nbsp;</th>
            <th>#</th>
            <th>เลขที่ใบคำขอ</th>
            <th>เลขประจำตัว<br>
              ผู้เสียภาษีอากร
            </th>
            <th>ชื่อผู้เสียภาษีอากร</th>
            <th>วันที่ยื่นคำขอ</th>
            <th>แบบคำขอ</th>
            <th>อุปกรณ์ที่จัดเก็บ</th>
            <th>ชนิด Certificate</th>
            <th>กลุ่มผู้ใช้งาน</th>
            <th>สถานะ<br>
              อนุมัติ
            </th>
            <th></th>
            <th></th>
            <th></th>

          </tr>
          </thead>
          <tbody>
          <tr>
            <td><input type="checkbox" name="checkbox" id="checkbox"></td>
            <td>01</td>
            <td>ARD0119-000001</td>
            <td>WS233200</td>
            <td>test</td>
            <td>28/06/2562</td>
            <td>ขอใหม่</td>
            <td>PKI USB Token</td>
            <td>User Certificate</td>
            <td>เจ้าหน้าที่กรมสรรพากร</td>
            <td>อนุมัติ</td>
            <td>
              <a href="public_user_expat_edit.html" class="btn btn-orange btn-sm"><i
                class="glyphicon glyphicon-edit"></i> </a>
            </td>
            <td>
              <a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-info-sign"></i> </a>
            </td>
            <td><a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-trash"></i></a></td>

          </tr>
          <tr>
            <td><input type="checkbox" name="checkbox2" id="checkbox2"></td>
            <td>02</td>
            <td>ARD0119-000001</td>
            <td>WS233200</td>
            <td>test</td>
            <td>28/06/2562</td>
            <td>ขอใหม่</td>
            <td>PKI USB Token</td>
            <td>User Certificate</td>
            <td>เจ้าหน้าที่กรมสรรพากร</td>
            <td>อนุมัติ</td>
            <td>
              <a href="digital-certificate-edit.html" class="btn btn-orange btn-sm"><i
                class="glyphicon glyphicon-edit"></i> </a>
            </td>
            <td>
              <a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-info-sign"></i> </a>
            </td>
            <td><a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-trash"></i></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="checkbox3" id="checkbox3"></td>
            <td>03</td>
            <td>ARD0119-000001</td>
            <td>WS233200</td>
            <td>test</td>
            <td>28/06/2562</td>
            <td>ขอใหม่</td>
            <td>PKI USB Token</td>
            <td>User Certificate</td>
            <td>เจ้าหน้าที่กรมสรรพากร</td>
            <td>อนุมัติ</td>
            <td>
              <a href="digital-certificate-edit.html" class="btn btn-orange btn-sm"><i
                class="glyphicon glyphicon-edit"></i> </a>
            </td>
            <td>
              <a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-info-sign"></i> </a>
            </td>
            <td><a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-trash"></i></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="checkbox3" id="checkbox3"></td>
            <td>04</td>
            <td>ARD0119-000001</td>
            <td>WS233200</td>
            <td>test</td>
            <td>28/06/2562</td>
            <td>ขอใหม่</td>
            <td>PKI USB Token</td>
            <td>User Certificate</td>
            <td>เจ้าหน้าที่กรมสรรพากร</td>
            <td>อนุมัติ</td>
            <td>
              <a href="digital-certificate-edit.html" class="btn btn-orange btn-sm"><i
                class="glyphicon glyphicon-edit"></i> </a>
            </td>
            <td>
              <a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-info-sign"></i> </a>
            </td>
            <td><a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-trash"></i></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="checkbox3" id="checkbox3"></td>
            <td>05</td>
            <td>ARD0119-000001</td>
            <td>WS233200</td>
            <td>test</td>
            <td>28/06/2562</td>
            <td>ขอใหม่</td>
            <td>PKI USB Token</td>
            <td>User Certificate</td>
            <td>เจ้าหน้าที่กรมสรรพากร</td>
            <td>อนุมัติ</td>
            <td>
              <a href="digital-certificate-edit.html" class="btn btn-orange btn-sm"><i
                class="glyphicon glyphicon-edit"></i> </a>
            </td>
            <td>
              <a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-info-sign"></i> </a>
            </td>
            <td><a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-trash"></i></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="checkbox3" id="checkbox3"></td>
            <td>06</td>
            <td>ARD0119-000001</td>
            <td>WS233200</td>
            <td>test</td>
            <td>28/06/2562</td>
            <td>ขอใหม่</td>
            <td>PKI USB Token</td>
            <td>User Certificate</td>
            <td>เจ้าหน้าที่กรมสรรพากร</td>
            <td>อนุมัติ</td>
            <td>
              <a href="digital-certificate-edit.html" class="btn btn-orange btn-sm"><i
                class="glyphicon glyphicon-edit"></i> </a>
            </td>
            <td>
              <a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-info-sign"></i> </a>
            </td>
            <td><a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-trash"></i></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="checkbox3" id="checkbox3"></td>
            <td>07</td>
            <td>ARD0119-000001</td>
            <td>WS233200</td>
            <td>test</td>
            <td>28/06/2562</td>
            <td>ขอใหม่</td>
            <td>PKI USB Token</td>
            <td>User Certificate</td>
            <td>เจ้าหน้าที่กรมสรรพากร</td>
            <td>อนุมัติ</td>
            <td>
              <a href="digital-certificate-edit.html" class="btn btn-orange btn-sm"><i
                class="glyphicon glyphicon-edit"></i> </a>
            </td>
            <td>
              <a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-info-sign"></i> </a>
            </td>
            <td><a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-trash"></i></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="checkbox3" id="checkbox3"></td>
            <td>08</td>
            <td>ARD0119-000001</td>
            <td>WS233200</td>
            <td>test</td>
            <td>28/06/2562</td>
            <td>ขอใหม่</td>
            <td>PKI USB Token</td>
            <td>User Certificate</td>
            <td>เจ้าหน้าที่กรมสรรพากร</td>
            <td>อนุมัติ</td>
            <td>
              <a href="digital-certificate-edit.html" class="btn btn-orange btn-sm"><i
                class="glyphicon glyphicon-edit"></i> </a>
            </td>
            <td>
              <a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-info-sign"></i> </a>
            </td>
            <td><a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-trash"></i></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="checkbox3" id="checkbox3"></td>
            <td>09</td>
            <td>ARD0119-000001</td>
            <td>WS233200</td>
            <td>test</td>
            <td>28/06/2562</td>
            <td>ขอใหม่</td>
            <td>PKI USB Token</td>
            <td>User Certificate</td>
            <td>เจ้าหน้าที่กรมสรรพากร</td>
            <td>อนุมัติ</td>
            <td>
              <a href="digital-certificate-edit.html" class="btn btn-orange btn-sm"><i
                class="glyphicon glyphicon-edit"></i> </a>
            </td>
            <td>
              <a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-info-sign"></i> </a>
            </td>
            <td><a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-trash"></i></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="checkbox3" id="checkbox3"></td>
            <td>10</td>
            <td>ARD0119-000001</td>
            <td>WS233200</td>
            <td>test</td>
            <td>28/06/2562</td>
            <td>ขอใหม่</td>
            <td>PKI USB Token</td>
            <td>User Certificate</td>
            <td>เจ้าหน้าที่กรมสรรพากร</td>
            <td>อนุมัติ</td>
            <td>
              <a href="digital-certificate-edit.html" class="btn btn-orange btn-sm"><i
                class="glyphicon glyphicon-edit"></i> </a>
            </td>
            <td>
              <a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-info-sign"></i> </a>
            </td>
            <td><a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-trash"></i></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="checkbox3" id="checkbox3"></td>
            <td>10</td>
            <td>ARD0119-000001</td>
            <td>WS233200</td>
            <td>test</td>
            <td>28/06/2562</td>
            <td>ขอใหม่</td>
            <td>PKI USB Token</td>
            <td>User Certificate</td>
            <td>เจ้าหน้าที่กรมสรรพากร</td>
            <td>อนุมัติ</td>
            <td>
              <a href="digital-certificate-edit.html" class="btn btn-orange btn-sm"><i
                class="glyphicon glyphicon-edit"></i> </a>
            </td>
            <td>
              <a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-info-sign"></i> </a>
            </td>
            <td><a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-trash"></i></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="checkbox3" id="checkbox3"></td>
            <td>10</td>
            <td>ARD0119-000001</td>
            <td>WS233200</td>
            <td>test</td>
            <td>28/06/2562</td>
            <td>ขอใหม่</td>
            <td>PKI USB Token</td>
            <td>User Certificate</td>
            <td>เจ้าหน้าที่กรมสรรพากร</td>
            <td>อนุมัติ</td>
            <td>
              <a href="digital-certificate-edit.html" class="btn btn-orange btn-sm"><i
                class="glyphicon glyphicon-edit"></i> </a>
            </td>
            <td>
              <a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-info-sign"></i> </a>
            </td>
            <td><a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-trash"></i></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="checkbox3" id="checkbox3"></td>
            <td>10</td>
            <td>ARD0119-000001</td>
            <td>WS233200</td>
            <td>test</td>
            <td>28/06/2562</td>
            <td>ขอใหม่</td>
            <td>PKI USB Token</td>
            <td>User Certificate</td>
            <td>เจ้าหน้าที่กรมสรรพากร</td>
            <td>อนุมัติ</td>
            <td>
              <a href="digital-certificate-edit.html" class="btn btn-orange btn-sm"><i
                class="glyphicon glyphicon-edit"></i> </a>
            </td>
            <td>
              <a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-info-sign"></i> </a>
            </td>
            <td><a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-trash"></i></a></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="checkbox3" id="checkbox3"></td>
            <td>10</td>
            <td>ARD0119-000001</td>
            <td>WS233200</td>
            <td>test</td>
            <td>28/06/2562</td>
            <td>ขอใหม่</td>
            <td>PKI USB Token</td>
            <td>User Certificate</td>
            <td>เจ้าหน้าที่กรมสรรพากร</td>
            <td>อนุมัติ</td>
            <td>
              <a href="digital-certificate-edit.html" class="btn btn-orange btn-sm"><i
                class="glyphicon glyphicon-edit"></i> </a>
            </td>
            <td>
              <a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-info-sign"></i> </a>
            </td>
            <td><a href="#" class="btn btn-orange btn-sm"><i class="glyphicon glyphicon-trash"></i></a></td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
