<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>ข้อมูลในใบลดหนี้</h4>
        </div>
      </div>

      <div class="panel-body" *ngFor="let data of receiveData">
        <div class="row">
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-center" style="font-weight:bold">ข้อมูลในใบลดหนี้</label>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> พิมพ์</a>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">ผู้ขายสินค้า / ผู้ให้บริการ</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-right" style="font-weight:bold">เลขที่ : {{data.docId}}</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขประจำตัวผู้เสียภาษีอากร  : {{data.nid}}    เลขที่สาขา : {{data.branchNo}}</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-right" style="font-weight:bold">วันที่ : {{data.docDate}}</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อผู้ขาย : {{data.operatorName}}</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">ที่อยู่ : {{data.operatorAddress}}</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">ผู้ซื้อสินค้า / ผู้รับบริการ</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขประจำตัวผู้เสียภาษีอากร  : {{data.buyerTaxId}}   เลขที่สาขา : {{data.buyerBranchNo}}</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-right" style="font-weight:bold">เลขที่ใบกำกับภาษีเดิม : <font color="blue">{{data.refDocId}}</font></label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อผู้ซื้อ : {{data.buyerName}}</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-right" style="font-weight:bold">วันที่่ใบกำกับภาษีเดิม  : {{data.refDocDate}}</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">ที่อยู่ : {{data.buyerAddress}}</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-right" style="font-weight:bold">หมายเหตุ : {{data.remark}}</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
          <div class="form-group col-lg-6 pr-0">
          </div>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>


            
            <tr class="" align="center">
              <th>ลำดับที่<br>(1)</th>
              <th>รายการ<br>(2)</th>
              <th>จำนวน<br>(3)</th>
              <th>หน่วย<br>(4)</th>
              <th>ราคา<br>ต่อหน่วย<br>(5)</th>
              <th>ราคา<br>ก่อนหักส่วนลด<br>(6)</th>
              <th>ส่วนลด<br>ต่อหน่วย<br>(7)</th>
              <th>ส่วนลด<br>ต่อรายการ<br>(8)</th>
              <th>ราคา<br>หลังหักส่วนลด<br>(9)</th>
              <th>ค่าธรรมเนียม<br>ต่อหน่วย <br>(10)</th>
              <th>ค่าธรรมเนียม<br>ต่อรายการ<br>(11)</th>
              <th>ค่าเงินมัดจำ<br>ต่อรายการ<br>(12)</th>
              <th>จำนวนเงิน<br>(13)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data2 of receiveData2">
              <td align="center">{{data2.productLineId}}</td>
              <td align="left">{{data2.productName}}</td>
              <td align="right">{{data2.productQuantiTy}}</td>
              <td align="center">{{data2.productQuantiTyUnitCode}}</td>
              <td align="right">{{data2.productAmount}}</td>
              <td align="right">{{data2.productAmountBeforeCal}}</td>
              <td align="right">{{data2.productDiscountPerUnit}}</td>
              <td align="right">{{data2.productDiscountPerTran}}</td>
              <td align="right">{{data2.productTotalAmount}}</td>
              <td align="right">{{data2.productFeePerUnit}}</td>
              <td align="right">{{data2.productFeePerTran}}</td>
              <td align="right">{{data2.productDepositAmount}}</td>
              <td align="right">{{data2.productTotalAmountIncludeFee}}</td>
            </tr>
            <!--
            <tr>
              <td align="center">1</td>
              <td align="left">กระเบี้องปูพื้น</td>
              <td align="right">250</td>
              <td align="center">EA</td>
              <td align="right">90.00</td>
              <td align="right">22,500.00</td>
              <td align="right">-</td>
              <td align="right">-</td>
              <td align="right">22,500.00</td>
              <td align="right">-</td>
              <td align="right">-</td>
              <td align="right">-</td>
              <td align="right">22,500.00</td>
            </tr>
            
            <tr>
              <td align="center">2</td>
              <td align="left">ยาแนว เวเบอร์พาวเวอร์ (น้ำตาลพัดดี้)</td>
              <td align="right">5</td>
              <td align="center">EA</td>
              <td align="right">10.00</td>
              <td align="right">50.00</td>
              <td align="right">-</td>
              <td align="right">-</td>
              <td align="right">50.00</td>
              <td align="right">-</td>
              <td align="right">-</td>
              <td align="right">-</td>
              <td align="right">50.00</td>
            </tr>-->
            
            <tr *ngFor="let data3 of receiveDataSum">
              <td align="left" colspan="10" rowspan="9">รวมส่วนลดทั้งหมดของข้อมูลชุดนี้ {{data3.sumDiscount}} บาท<br>รวมค่าธรรมเนียมทั้งหมดของข้อมูลชุดนี้ {{data3.sumFee}} บาท </td>
              <td align="left">เงินมัดจำท้ายใบลดหนี้</td>
              <td align="center"></td>
              <td align="right">{{data3.sumDepositAfterCal}}</td>
            </tr>
            
            <tr *ngFor="let data3 of receiveDataSum">
              <td align="left">ส่วนลดท้ายใบลดหนี้</td>
              <td align="center"></td>
              <td align="right">{{data3.sumDiscountAfterCal}}</td>
            </tr>
            
            <tr *ngFor="let data3 of receiveDataSum">
              <td align="left">ค่าธรรมเนียมท้ายใบลดหนี้</td>
              <td align="center"></td>
              <td align="right">{{data3.sumFeeAfterCal}}</td>
            </tr>
            
            <tr *ngFor="let data3 of receiveDataSum">
              <td align="left">มูลค่าตามใบกำกับภาษีเดิม</td>
              <td align="center"></td>
              <td align="right">{{data3.oldAmount}}</td>
            </tr>
            
            <tr *ngFor="let data3 of receiveDataSum">
              <td align="left">มูลค่าที่ถูกต้อง</td>
              <td align="center"></td>
              <td align="right">{{data3.diff}}</td>
            </tr>
            
            <tr *ngFor="let data3 of receiveDataSum">
              <td align="left">ผลต่าง</td>
              <td align="center"></td>
              <td align="right">{{data3.amountBeforeVat}}</td>
            </tr>
            
            <tr *ngFor="let data3 of receiveDataSum">
              <td align="left">มูลค่าที่นำมาคิดภาษีมูลค่าเพิ่ม</td>
              <td align="center"></td>
              <td align="right">{{data3.amountBeforeVat}}</td>
            </tr>
            
            <tr *ngFor="let data3 of receiveDataSum">
              <td align="left">ภาษีมูลค่าเพิ่ม</td>
              <td align="center">7%</td>
              <td align="right">{{data3.vat}}</td>
            </tr>
            
            <tr *ngFor="let data3 of receiveDataSum">
              <td align="left">รวมจำนวนเงินทั้งสิ้น</td>
              <td align="center"></td>
              <td align="right">{{data3.totalAmount}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
