<section class="content">
  <div class="header-title mb-4e">
    <h1><strong>ระบบงานอื่น ๆ </strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / ระบบงานอื่น ๆ </small></h1>
  </div>
    <div class="card mb-4">
        <div class="card-header">
            <h4><i class="fa fa-list"></i> หน้าจอคัดค้นข้อมูลของบริษัท ไทย กรีน จำกัด  (เลขประจำตัวผู้เสียภาษีอากร : 1-9030-43040-85-6)    สาขา 00000    </h4>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                  <tr role="row">
                    <th scope="col" style="width: 50px">#</th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('REQ_ID')" style="cursor: pointer" title="ปีภาษี" tooltip="ปีภาษี">
                        ปีภาษี
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'REQ_ID'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('NID')" style="cursor: pointer" title="เดือนภาษี" tooltip="เดือนภาษี">
                        เดือนภาษี
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'NID'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('NAME')" style="cursor: pointer" title="เงินได้" tooltip="เงินได้">
                        เงินได้
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'NAME'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('REQUESTED_DATE')" style="cursor: pointer" title="ภาษีหัก ณ ที่จ่าย" tooltip="ภาษีหัก ณ ที่จ่าย">
                        ภาษีหัก ณ ที่จ่าย
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'REQUESTED_DATE'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('REQUEST_TYPE_DESC')" style="cursor: pointer" title="ดำเนินการ" tooltip="ดำเนินการ">
                        ดำเนินการ
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'REQUEST_TYPE_DESC'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                    <th scope="col" class="text-center">
                      <a (click)="sort('DEVICE_TYPE_NAME')" style="cursor: pointer" title="เรียกหน้าจอระบบให้บริการข้อมูลสำหรับเจ้าหน้าที่กรมสรรพากร" tooltip="เรียกหน้าจอระบบให้บริการข้อมูลสำหรับเจ้าหน้าที่กรมสรรพากร">
                        เรียกหน้าจอระบบให้บริการข้อมูลสำหรับเจ้าหน้าที่กรมสรรพากร
                      </a>
                      <ng-container *ngIf="pageRequest.sortFieldName === 'DEVICE_TYPE_NAME'">
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                      </ng-container>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr role="row" class="odd" >
                    <td class="text-center">1</td>
                    <td class="text-center">2562</td>
                    <td class="text-center">เมษายน</td>
                    <td class="text-center">70,000.00</td>
                    <td class="text-center">7,000.00</td>
                    <td class="text-center" style="width: 200px;" ><div class="btn-group">
                      
                      <button
                        type="button"
                        class="btn btn-orange btn-sm btn-auto"
                        (click)="showPopup(0, awaitingModal)"
                        tooltip="ดูรายละเอียด"
                      >
                        <i class="fa fa-search" aria-hidden="true">ดูรายละเอียด</i>
                      </button>
                    </div></td>
                    <td class="text-left"><div class="btn-group">
                      <div class="row">
                      <div class="form-group col-lg-12">
                      <button
                        type="button"
                        class="btn btn-orange btn-sm btn-auto"
                        (click)="showPopup(0, awaitingModal)"
                        tooltip="ดูข้อมูลการใช้จ่าย"
                      >
                        <i class="fa fa-search" aria-hidden="true">ดูข้อมูลการใช้จ่าย</i>
                      </button>
                      </div>
                      <div class="form-group col-lg-12">
                      <button
                        type="button"
                        class="btn btn-orange btn-sm btn-auto"
                        (click)="showPopup(0, awaitingModal)"
                        tooltip="ดูข้อมูลธุรกรรมลักษณะเฉพาะ"
                      >
                        <i class="fa fa-search" aria-hidden="true">ดูข้อมูลธุรกรรมลักษณะเฉพาะ</i>
                      </button>
                    </div> <div class="form-group col-lg-12">
                      <button
                        type="button"
                        class="btn btn-orange btn-sm btn-auto"
                        (click)="showPopup(0, awaitingModal)"
                        tooltip="ดูข้อมูลใบกำกับภาษี/ใบรับอิเล็กทรอนิกส์ "
                      >
                        <i class="fa fa-search" aria-hidden="true">ดูข้อมูลใบกำกับภาษี/ใบรับอิเล็กทรอนิกส์ </i>
                      </button>
                    </div> <div class="form-group col-lg-12">
                      <button
                        type="button"
                        class="btn btn-orange btn-sm btn-auto"
                        (click)="showPopup(0, awaitingModal)"
                        tooltip="ดูข้อมูลภาษีมูลค่าเพิ่ม"
                      >
                        <i class="fa fa-search" aria-hidden="true">ดูข้อมูลภาษีมูลค่าเพิ่ม</i>
                      </button>
                    </div> <div class="form-group col-lg-12">
                      <button
                        type="button"
                        class="btn btn-orange btn-sm btn-auto"
                        (click)="showPopup(0, awaitingModal)"
                        tooltip="ดูข้อมูลภาษีเงินได้หัก ณ ที่จ่าย"
                      >
                        <i class="fa fa-search" aria-hidden="true">ดูข้อมูลภาษีเงินได้หัก ณ ที่จ่าย</i>
                      </button>
                    </div>
                    </div>
                    </div></td>
                  </tr>
                  <tr role="row" class="even" >
                    <td class="text-center">2</td>
                    <td class="text-center">2562</td>
                    <td class="text-center">พฤษภาคม</td>
                    <td class="text-center">80,000.00</td>
                    <td class="text-center">8,000.00</td>
                    <td class="text-center"><div class="btn-group">

                      <button
                        type="button"
                        class="btn btn-orange btn-sm btn-auto"
                        (click)="showPopup(0, awaitingModal)"
                        tooltip="ดูรายละเอียด"
                      >
                        <i class="fa fa-search" aria-hidden="true">ดูรายละเอียด</i>
                      </button>
                    </div></td>
                    <td class="text-left"><div class="btn-group">
                        <div class="row">
                        <div class="form-group col-lg-12">
                        <button
                          type="button"
                          class="btn btn-orange btn-sm btn-auto"
                          (click)="showPopup(0, awaitingModal)"
                          tooltip="ดูข้อมูลการใช้จ่าย"
                        >
                          <i class="fa fa-search" aria-hidden="true">ดูข้อมูลการใช้จ่าย</i>
                        </button>
                        </div>
                        <div class="form-group col-lg-12">
                        <button
                          type="button"
                          class="btn btn-orange btn-sm btn-auto"
                          (click)="showPopup(0, awaitingModal)"
                          tooltip="ดูข้อมูลธุรกรรมลักษณะเฉพาะ"
                        >
                          <i class="fa fa-search" aria-hidden="true">ดูข้อมูลธุรกรรมลักษณะเฉพาะ</i>
                        </button>
                      </div> <div class="form-group col-lg-12">
                        <button
                          type="button"
                          class="btn btn-orange btn-sm btn-auto"
                          (click)="showPopup(0, awaitingModal)"
                          tooltip="ดูข้อมูลใบกำกับภาษี/ใบรับอิเล็กทรอนิกส์ "
                        >
                          <i class="fa fa-search" aria-hidden="true">ดูข้อมูลใบกำกับภาษี/ใบรับอิเล็กทรอนิกส์ </i>
                        </button>
                      </div> <div class="form-group col-lg-12">
                        <button
                          type="button"
                          class="btn btn-orange btn-sm btn-auto"
                          (click)="showPopup(0, awaitingModal)"
                          tooltip="ดูข้อมูลภาษีมูลค่าเพิ่ม"
                        >
                          <i class="fa fa-search" aria-hidden="true">ดูข้อมูลภาษีมูลค่าเพิ่ม</i>
                        </button>
                      </div> <div class="form-group col-lg-12">
                        <button
                          type="button"
                          class="btn btn-orange btn-sm btn-auto"
                          (click)="showPopup(0, awaitingModal)"
                          tooltip="ดูข้อมูลภาษีเงินได้หัก ณ ที่จ่าย"
                        >
                          <i class="fa fa-search" aria-hidden="true">ดูข้อมูลภาษีเงินได้หัก ณ ที่จ่าย</i>
                        </button>
                      </div>
                      </div>
                      </div></td>
                  </tr>
                  <tr>
                    <td colspan="10" class="text-center" *ngIf="false"> ไม่พบข้อมูล</td>
                  </tr>
                </tbody>
              </table>
              
        </div>
      </div>

  <ng-template #awaitingModal>
    <div class="modal-header">
      <i class="fa fa-laptop" aria-hidden="true"> ยืนยันตัวบุคคลสำหรับการเข้าใช้ระบบงาน </i>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <br />
      <form >
        <div class="container">
          <div class="row">
            <div class="form-group col-lg-12">
              <label>ชื่อ  PKI Certificate :</label>
              <input type="text" class="form-control" name="reqId" id="reqId" formControlName="reqId"
                placeholder="ชื่อ  PKI Certificate ">
            </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-12">
                <label>รหัสผ่าน:</label>
                <input type="text" class="form-control" name="reqId" id="reqId" formControlName="reqId"
                  placeholder="รหัสผ่าน">
              </div>
              </div>
        </div>

        <div class="container custom-selected-drive" *ngIf="selectedDevice == 'USB' ">
            <div class="card" style="width: 28em;">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item">
                  <a class="nav-link" href="#">กรุณาเลือกไดร์ฟสำหรับติดตั้ง</a>
                </li>
                  <li class="nav-item">
                    <button (click)="getDrivesList()" class="btn-sm"> รีโหลดไดร์ฟ
                      <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                  </li>
                </ul>
              </div>
              <ul class="list-group list-group-flush" *ngFor="let u of usbDrive">
                <li class="list-group-item">
                  <button class="btn btn-outline-info btn-lg box-shadow&#45;&#45;4dp text-left"
                          [ngClass]="{ 'active' : selectedDrive == u.drive }"
                          (click)="selectDrive(u.drive)">
                    <i class="fa fa-desktop" aria-hidden="true"></i>
                    &nbsp;&nbsp;{{u.drive}}</button>
                </li>
              </ul>
              <ul>
                <div class="form-group" style="padding-top:20px">
                  <input type="text" class="form-control col-lg-10" (keyup)="manualDriveTyping($event)" placeholder="หรือระบุไดร์ฟที่ต้องการ เช่น ExternalDisk\">
                </div>
              </ul>
            </div>
        </div>
        <p class="red text-center" *ngIf="invalidDrive">{{warningMsg}}</p>
      </form>
    </div>
    <br />
    <div class="modal-footer">
        <div class="row justify-content-center col-lg-12">
            <div class="form-group col-lg-6 reset-button">
                <button type="button" class="btn btn-success w-md m-b-5"  (click)="save()">
                    <i class="fa fa-floppy-o"></i> ยืนยัน
                </button>
              </div>
              <div class="form-group col-lg-6 reset-button">
                <button type="button" class="btn btn-danger w-md m-b-5" (click)="modalRef.hide()">
                    <i class="fa fa-times"></i> ยกเลิก
                </button>
              </div>
            </div>
    </div>
  </ng-template>
</section>
