<h2>จัดการหน่วยงาน</h2>
<div class="row">
  <div class="col-sm-1 col-md-1"></div>
  <div class="col-sm-11 col-md-11 text-right">
    <button type="button" class="btn btn-primary btn-md" *wsPermission="['ROLE_ADMIN']" [routerLink]="['/organization/form']">เพิ่มหน่วยงาน</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <table id="example" class="table table-striped table-bordered dataTable" style="width: 100%;" role="grid" aria-describedby="example_info">
      <thead>
        <tr role="row">
          <th><a (click)="sort('orgCode')">รหัสหน่วยงาน
            <i class="fa" *ngIf="pageRequest.sortFieldName == 'orgCode'">{{pageRequest.sortDirection == 'ASC' ? '&#xf106;' : '&#xf107;'}}</i>
          </a></th>
          <th><a (click)="sort('orgName')">ชื่อหน่วยงาน
            <i class="fa" *ngIf="pageRequest.sortFieldName == 'orgName'">{{pageRequest.sortDirection == 'ASC' ? '&#xf106;' : '&#xf107;'}}</i>
          </a></th>
          <th *wsPermission="['ROLE_ADMIN']" style="width: 200px"></th>
        </thead>
      <tbody>
      <tr role="row" class="odd" *ngFor="let item of pageResponse.content; let i = index">
          <td>{{item.orgCode}}</td>
          <td>{{item.orgName}}</td>
          <td *wsPermission="['ROLE_ADMIN']" class="text-center" >
              <button type="button" class="btn btn-danger btn-sm" *wsPermission="['ROLE_ADMIN']" [routerLink]="['/organization/', item.orgId, 'edit']">แก้ไข</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-3">
    <pagination [totalItems]="" ]="pageResponse.totalElements" [(ngModel)]="pageResponse.number"
    (click)="pageChanged()" [itemsPerPage]="pageResponse.size" [maxSize]="5" aria-label="Default pagination"></pagination>
  </div>
</div>
