<form [formGroup]="taxRequestForm">
  <div class="row">
    <div class="col-12 col-sm-3 text-left text-sm-right">
      แนบเอกสาร <span class="red">*</span> :
    </div>
    <div class="col-12 col-sm-6" formArrayName="taxReqAttachmentList">
      <ng-container *ngFor="let item of documentRequestModels; let index = index">
        <div class="row" [formGroupName]="index">
          <div class="col-6 p-0">
            <label [for]="'attachment-' + index">
              <input type="checkbox" formControlName="checked" [id]="'attachment-' + index" (change)="checkDocument($event, index)">
                {{item.docRequestName}}
              </label>
            <p class="red" *ngIf="fileNameControl(index).touched && fileNameControl(index).hasError('required')">
              กรุณาเลือกไฟล์
            </p>
          </div>
          <div class="col-5 p-0" *ngIf="checkedControl(index).value">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile"
                     [ngClass]="{'border-danger': fileNameControl(index).touched && fileNameControl(index).invalid}"  accept="image/*,.pdf,.txt" (change)="setFileName($event, index)">
              <label class="custom-file-label" for="customFile">{{fileNameControl(index).value | replaceNullValue: 'กรุณาเลือกไฟล์'}}</label>
            </div>
            <p class="red" *ngIf="fileNameControl(index).touched && fileNameControl(index).hasError('required')">
              กรุณาเลือกไฟล์
            </p>
          </div>
          <div class="col-1 p-0" *ngIf="checkedControl(index).value">
            <button type="button" style="color: red" class="btn btn-link" (click)="confirmRemoveFile(item, index)" tooltip="ลบไฟล์"  >
              <i class="fa fa-times "  aria-hidden="true"></i>
            </button>
            <!-- <a class="btn" *ngIf="(item.file || item.fileBase64)" [download]="item.fileName" [href]="item.safeResourceUrl"><i class="fa fa-download"></i></a> -->
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</form>
