<section class="content">
  <div class="header-title">
    <h1><strong>กลุ่มประเภทเงินได้และแบบภาษี</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / ค้นหากลุ่มประเภทเงินได้และแบบภาษี</small></h1>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading">
          <div class="panel-title">
            <h3><i class="fa fa-file-text"></i> ค้นหากลุ่มประเภทเงินได้และแบบภาษี</h3>
          </div>
        </div>
        <br />
        <div class="panel-body no-padding"></div>

        <div class="panel-body">
            <!-- class="form-horizontal form-groups-bordered"  -->
          <form role="form" [formGroup]="searchCondition" (ngSubmit)="getData()">
            <div class="row form-group">
              <div class="ccol-12 col-sm-4 text-sm-right text-left">
                  <label>ระบบงานภาษี : </label>
              </div>
              <div class="col-12 col-sm-4 text-left">
                <select class="form-control" id="year" formControlName="workSystemId">
                  <option value="">ทั้งหมด</option>
                  <option *ngFor="let item of workSystemList" [value]="item.id">
                    {{item.name}}</option>
                </select>
              </div>
            </div>
            <div class="row form-group">
              <div class="ccol-12 col-sm-4 text-sm-right text-left">
                  <label>ประเภทแบบ : </label>
              </div>
              <div class="col-12 col-sm-4 text-left">
                <input type="text" class="form-control" minlength="4" maxlength="4" formControlName="taxTypeDesc">
              </div>
            </div>

            <div class="row form-group">
              <div class="form-group col-lg-4"></div>
              <div class="form-group col-lg-2 reset-button">
                <button type="submit" *ngIf="authService.hasAnyPermission(['GWSP030200.VIEW'])" class="btn btn-success margin-top-10">
                  <i class="glyphicon glyphicon-search"></i> ค้นหา
                </button>
              </div>
              <div class="form-group col-lg-2 reset-button">
                <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
                  <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
                </button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-bd lobidisable">
        <div class="panel-heading clearfix">
          <div class="panel-title">
            <h3><i class="fa fa-list"></i> ผลการค้นหา</h3>
          </div>
        </div>

        <div class="panel-body">
          <div class="form-group col-lg-12">
            <div class="form-group" style="float:right">
              <button type="button" *ngIf="authService.hasAnyPermission(['GWSP030200.ADD'])" class="btn btn-orange2 margin-top-10" (click)="goToAdd()" style="width: 100%">
                <i class="fa fa-plus"></i> เพิ่ม
              </button>
              <div class="clear"></div>
              <br />
              <div>
                แสดงหน้าละ
                <select (change)="changeRowLimits($event)">
                  <option *ngFor="let limit of rowLimits" [value]="limit.value">{{limit.key}}</option>
                </select>
                รายการ
              </div>
            </div>
          </div>

          <table id="example" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
              <tr role="row">
                <th scope="col" class="text-center">ลำดับ</th>
                <th scope="col" class="text-center">
                  <a (click)="sort('T2.WORK_SYSTEM_NAME')" style="cursor: pointer" title="ระบบงานภาษี" tooltip="ระบบงานภาษี">
                    ระบบงานภาษี
                  </a>
                  <ng-container *ngIf="pageRequest.sortFieldName === 'T2.WORK_SYSTEM_NAME'">
                    <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                  </ng-container>
                </th>
                <th scope="col" class="text-center">
                  <a (click)="sort('T1.TAX_TYPE_CODE')" style="cursor: pointer" title="รหัสประเภทแบบ" tooltip="รหัสประเภทแบบ">
                    รหัสประเภทแบบ
                  </a>
                  <ng-container *ngIf="pageRequest.sortFieldName === 'T1.TAX_TYPE_CODE'">
                    <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                  </ng-container>
                </th>
                <th scope="col" class="text-center">
                  <a (click)="sort('T1.TAX_TYPE_DESC')" style="cursor: pointer" title="ชื่อประเภทแบบ" tooltip="ชื่อประเภทแบบ">
                    ชื่อประเภทแบบ
                  </a>
                  <ng-container *ngIf="pageRequest.sortFieldName === 'T1.TAX_TYPE_DESC'">
                    <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                  </ng-container>
                </th>
                <th scope="col" class="text-center">
                  <a (click)="sort('T1.FILE_CODE')" style="cursor: pointer" title="รหัสไฟล์ประเภทแบบ" tooltip="รหัสไฟล์ประเภทแบบ">
                    รหัสไฟล์ประเภทแบบ
                  </a>
                  <ng-container *ngIf="pageRequest.sortFieldName === 'T1.FILE_CODE'">
                    <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                  </ng-container>
                </th>
                <th scope="col" class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr role="row" class="odd" *ngFor="let v of pageResponse.content; index as i">
                  <td class="text-center">{{((pageRequest.page-1)*(pageResponse.size))+(i + 1)}}</td>
                  <td class="text-left">{{v.workSystemName}}</td>
                  <td class="text-left">{{v.taxTypeCode}}</td>
                  <td class="text-left">{{v.taxTypeDesc}}</td>
                  <td class="text-left">{{v.fileCode}}</td>
                  <td class="text-center">
                    <div class="btn-group">
                      <button type="button" *ngIf="authService.hasAnyPermission(['GWSP030200.UPDATE'])" class="btn btn-orange btn-sm btn-auto" (click)="goToEdit(v)" tooltip="แก้ไข" >
                        <i class="fa fa-pencil-square-o"></i>
                      </button>
                    </div>
                  </td>
              </tr>
              <tr *ngIf="!pageResponse.content || pageResponse?.content?.length === 0">
                <td colspan="5" class="text-center"> ไม่พบข้อมูล</td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-sm-5">
              <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
                แสดงผล
                {{pageResponse.numberOfElements}} จาก
                {{pageResponse.totalPages}} รายการ
              </div>
            </div>
            <div class="col-sm-7 text-right">
              <pagination style="float: right;" [totalItems]="pageResponse.totalPages" previousText="ก่อนหน้า"
                nextText="ถัดไป" [rotate]="true" [maxSize]="5" [(ngModel)]="pageRequest.page"
                (pageChanged)="pageChange($event,limit)" (limit)="limit" [itemsPerPage]="pageResponse.size"
                aria-label="Default pagination"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-float-button ></app-float-button> -->
</section>
