<section>
    <div class="header-title mb-4">
        <h1>
            <app-back-button></app-back-button>
            <strong>ผลการคัดค้นข้อมูลผู้เสียภาษีอากร</strong>
        </h1>
    </div>


    <div class="card mb-4">
        <div class="card-header">
            <h4><i class="fa fa-list"></i> ผลการคัดค้นข้อมูลผู้เสียภาษีอากร</h4>
        </div>
        <div class="card-body">
            <div class="row mt-2">
                <div class="col-12">
                    <nz-table #table nzShowSizeChanger [nzFrontPagination]="false" [nzData]="dataSet" [nzLoading]="pageable.loading" [nzTotal]="pageable.total" [(nzPageIndex)]="pageable.pageIndex" [(nzPageSize)]="pageable.pageSize" (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)" [nzShowTotal]="tableTotal" nzBordered>
                        <thead>
                            <tr>
                                <th class="text-center">ลำดับ</th>
                                <th class="text-center">เลขประจำตัวผู้เสียภาษีอากร</th>
                                <th class="text-center">ชื่อผู้เสียภาษีอากร</th>
                                <th class="text-center">สาขา</th>
                                <th class="text-center">สำนักงานภูมิลำเนา</th>
                                <th nzWidth="50px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of dataSet; let i = index">
                                <td class="text-center">
                                    {{ (pageable.pageIndex - 1) * pageable.pageSize + i + 1 }}
                                </td>
                                <td class="text-center">
                                    {{ data.pin }}
                                </td>
                                <td>
                                    {{ data.name }}
                                </td>
                                <td class="text-center">
                                    {{ data.branch }}
                                </td>
                                <td>
                                    {{ data.offCodeName || '-' }} 
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-orange btn-sm btn-auto" (click)="toDetail(data.pin,data.branch)" nz-tooltip nzTitle="ดูรายละเอียด">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                    <ng-template #tableTotal let-range="range" let-total>
                        แสดง {{range[0]}}-{{range[1]}} จาก ทั้งหมด {{total |number}} รายการ
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</section>