<form [formGroup]="hsmFormGroup" (ngSubmit)="save()">
  <div class="card mb-4">
    <div class="card-header ">
      <div class="justify-content-left">
        <h4>รายละเอียดข้อมูล</h4>
      </div>
    </div>
    <div class="card-body">

      <!-- row 1 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="hsmName"> HSM Name: </label>
        </div>
        <div class="col-12 col-sm-5">
          <input type="text" id="hsmName" class="form-control" formControlName="hsmName">
          <div *ngIf="isInvalidAndTouched(hsmNameControl)" class="red error-msg">
            <div *ngIf="hsmNameControl.errors.required"> กรุณาระบุ HSM Name </div>
          </div>
        </div>
      </div>
      <!-- row 2 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="hsmDescription"> HSM Description: </label>
        </div>
        <div class="col-12 col-sm-5">
          <input type="text" id="hsmDescription" class="form-control" formControlName="hsmDescription">
          <div *ngIf="isInvalidAndTouched(hsmDescriptionControl)" class="red error-msg">
            <div *ngIf="hsmDescriptionControl.errors.required"> กรุณาระบุ HSM Description </div>
          </div>
        </div>
      </div>
      <!-- row 3 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="driverPath"> Driver Path: </label>
        </div>
        <div class="col-12 col-sm-5">
          <input type="text" id="driverPath" class="form-control" formControlName="driverPath">
          <div *ngIf="isInvalidAndTouched(driverPathControl)" class="red error-msg">
            <div *ngIf="driverPathControl.errors.required"> กรุณาระบุ Driver Path </div>
          </div>
        </div>
      </div>
      <!-- row 4 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="driverPath"> Brand Name: </label>
        </div>
        <div class="col-12 col-sm-5">
          <input type="text" id="brandName" class="form-control" formControlName="brandName">
          <div *ngIf="isInvalidAndTouched(brandNameControl)" class="red error-msg">
            <div *ngIf="brandNameControl.errors.required"> กรุณาระบุ Brand Name </div>
          </div>
        </div>
      </div>
      <!-- row 5 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="driverPath"> Partition Name: </label>
        </div>
        <div class="col-12 col-sm-5">
          <input type="text" id="partitionName" class="form-control" formControlName="partitionName">
          <div *ngIf="isInvalidAndTouched(partitionNameControl)" class="red error-msg">
            <div *ngIf="partitionNameControl.errors.required"> กรุณาระบุ Partition Name </div>
          </div>
        </div>
      </div>
      <!-- row 6 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="slotNo"> Slot No: </label>
        </div>
        <div class="col-12 col-sm-5">
          <input type="text" id="slotNo" class="form-control" formControlName="slotNo">
          <div *ngIf="isInvalidAndTouched(slotNoControl)" class="red error-msg">
            <div *ngIf="slotNoControl.errors.required"> กรุณาระบุ Slot No </div>
          </div>
        </div>
      </div>
      <!-- row 7 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="password"> Password: </label>
        </div>
        <div class="col-12 col-sm-5">
          <input type="password" id="password" class="form-control" formControlName="password" autocomplete="new-password">
          <div *ngIf="isInvalidAndTouched(passwordControl)" class="red error-msg">
            <div *ngIf="passwordControl.errors.required"> กรุณาระบุ Password</div>
          </div>
        </div>
      </div>
      <!-- row 9 -->
      <div class="row form-group">
        <div class="col-12 col-sm-3 text-left text-sm-right">
          <label for="confirmPassword"> Confirm Password: </label>
        </div>
        <div class="col-12 col-sm-5">
          <input id="confirmPassword" type="password" class="form-control" formControlName="confirmPassword">
          <div *ngIf="isInvalidAndTouched(confirmPasswordControl)" class="red error-msg">
            <div *ngIf="confirmPasswordControl.errors.required"> กรุณายืนยันรหัสผ่าน </div>
            <div *ngIf="confirmPasswordControl.errors.mustMatch"> ท่านระบุรหัสผ่านไม่ตรงกัน </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <div class="btn-group-md ">
          <button type="submit" class="col-md-2 btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> บันทึก</button>
          <button type="button" class="col-md-2 btn btn-danger" *ngIf="isShowDeleteBtn"><i class="glyphicon glyphicon-trash" (click)="delete()"></i> ลบ</button>
          <button type="reset" class="col-md-2 btn btn-light"><i class="glyphicon glyphicon-refresh"></i> ล้างค่า</button>
          <a type="button" class="col-md-2 btn btn-info" [routerLink]="['/cert/admin/HSMConfig']" ><i class="glyphicon glyphicon-home" ></i> กลับหน้าหลัก</a>
        </div>
      </div>
    </div>
  </div>
</form>
