<div class="header-title mb-4">
  <h1><strong>จัดการเอกสารสำหรับใช้ลงทะเบียนผู้ใช้งานสารธารณะ</strong>
    <small class="pull-right"><a routerLink="/home" class="active">หน้าหลัก</a> /
      จัดการเอกสารสำหรับใช้ลงทะเบียนผู้ใช้งานสารธารณะ
    </small>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <h4><img src="assets/dist/img/search_icon.png"> ค้นหาเอกสารสำหรับใช้ลงทะเบียน</h4>
        </div>
        <div class="dropdown">
          <ul class="dropdown-menu dropdown-menu-right">
            <li style=""><a data-func="editTitle" data-tooltip="Edit title" data-toggle="tooltip"
                            data-title="Edit title" data-placement="bottom" data-original-title="" title=""><i
              class="panel-control-icon ti-pencil"></i><span class="control-title">Edit title</span></a></li>
            <li><a data-func="unpin" data-tooltip="Unpin" data-toggle="tooltip" data-title="Unpin"
                   data-placement="bottom" data-original-title="" title=""><i
              class="panel-control-icon ti-move"></i><span class="control-title">Unpin</span></a></li>
            <li><a data-func="reload" data-tooltip="Reload" data-toggle="tooltip" data-title="Reload"
                   data-placement="bottom" data-original-title="" title=""><i
              class="panel-control-icon ti-reload"></i><span class="control-title">Reload</span></a></li>
            <li><a data-func="minimize" data-tooltip="Minimize" data-toggle="tooltip" data-title="Minimize"
                   data-placement="bottom" data-original-title="" title=""><i
              class="panel-control-icon ti-minus"></i><span class="control-title">Minimize</span></a></li>
            <li><a data-func="expand" data-tooltip="Fullscreen" data-toggle="tooltip" data-title="Fullscreen"
                   data-placement="bottom" data-original-title="" title=""><i
              class="panel-control-icon ti-fullscreen"></i><span class="control-title">Fullscreen</span></a></li>
            <li><a data-func="close" data-tooltip="Close" data-toggle="tooltip" data-title="Close"
                   data-placement="bottom" data-original-title="" title=""><i
              class="panel-control-icon ti-close"></i><span class="control-title">Close</span></a></li>
          </ul>
          <div class="dropdown-toggle" data-toggle="dropdown"><span
            class="panel-control-icon glyphicon glyphicon-cog"></span></div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-2 pr-0 text-left text-sm-right">
            <label>ประเภทผู้ใช้งาน</label>
          </div>
          <div class="form-group col-lg-3">
            <select class="form-control" [(ngModel)]="pageRequest.userTypeKey" id="userTypeKey">
              <ng-container *ngFor="let item of requiredAttachmentUserTypes">
                <option [value]="item.value">{{item.name}}</option>
              </ng-container>
            </select>
          </div>
          <div class="form-group col-lg-2 pr-0 text-left text-sm-right">
            <label>ชื่อเอกสาร</label>
          </div>
          <div class="form-group col-lg-3">
            <input class="form-control" type="text" id="attachmentName" [(ngModel)]="pageRequest.attachmentName"
                   maxlength="255">
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="form-group col-lg-2 reset-button">
            <a class="btn btn-success margin-top-10"
               (click)="createOrUpdateRequiredAttachment(null)">เพิ่มเอกสาร</a>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <a class="btn btn-info margin-top-10" (click)="pagination()"> <i
              class="glyphicon glyphicon-search"></i>
              ค้นหา</a>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <a class="btn btn-warning margin-top-10"
               (click)="pageRequest = initialPageRequest(); pagination();"><i
              class="glyphicon glyphicon-repeat"></i>
              ล้างค่า</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false">
      <div class="panel-heading">
        <div class="panel-title">
          <h4><i class="fa fa-list mr-2"></i> ผลการค้นหา</h4>
        </div>
      </div>
      <div class="panel-body pb-4">
        <div class="table-responsive">
          <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <caption>จำนวน {{pageResponse.content.length}} จาก {{pageResponse.totalElements}}</caption>
            <thead>
            <tr>
              <th scope="col" class="text-center"></th>
              <th scope="col" class="text-center">
                <a (click)="sort('userTypeKey')">ประเภทผู้ใช้งาน
                  <ng-container *ngIf="pageRequest.sortFieldName === 'userTypeKey'">
                    <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                    <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                  </ng-container>
                </a>
              </th>
              <th scope="col" class="text-center">
                <a (click)="sort('attachmentName')">ชื่อเอกสาร
                  <ng-container *ngIf="pageRequest.sortFieldName === 'attachmentName'">
                    <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                    <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                  </ng-container>
                </a>
              </th>
              <th scope="col" class="text-center">
                <a (click)="sort('attachmentNameEn')">ชื่อเอกสารภาษาอังกฤษ
                  <ng-container *ngIf="pageRequest.sortFieldName === 'attachmentNameEn'">
                    <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                    <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                  </ng-container>
                </a>
              </th>
              <th scope="col" class="text-center">
                <a (click)="sort('attachmentDesc')">คำอธิบาย
                  <ng-container *ngIf="pageRequest.sortFieldName === 'attachmentDesc'">
                    <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                    <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                  </ng-container>
                </a>
              </th>
              <th scope="col" class="text-center">
                <a (click)="sort('required')">ความจำเป็น
                  <ng-container *ngIf="pageRequest.sortFieldName === 'required'">
                    <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                    <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                  </ng-container>
                </a>
              </th>
              <th scope="col" class="text-center"></th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngIf="pageResponse.content && pageResponse.content.length != 0">
              <tr *ngFor="let item of pageResponse.content;let i = index;">
                <th class="text-center">{{(pageRequest.page * pageRequest.pageSize) - pageRequest.pageSize + i + 1}}
                </th>
                <td class="text-center">
                  {{item.userTypeName}}
                </td>
                <td class="text-center">
                  {{item.attachmentName}}
                </td>
                <td class="text-center">
                  {{item.attachmentNameEn}}
                </td>
                <td class="text-center">
                  {{item.attachmentDesc}}
                </td>
                <td class="text-center">
                  {{item.required ? 'ต้องการ' : 'ไม่ต้องการ'}}
                </td>
                <td class="text-center">
                  <a class="btn-orange btn-sm" tooltip="แก้ไขเอกสาร" title="แก้ไขเอกสาร"
                     (click)="createOrUpdateRequiredAttachment(item.id)" ><i class="glyphicon glyphicon-edit"></i>
                  </a>
                  <a class="btn-orange btn-sm" (click)="deleteAttachment(item.id)" tooltip="ลบเอกสาร" title="ลบเอกสาร">
                    <i class="glyphicon glyphicon-trash"></i>
                  </a>
                </td>
              </tr>
            </ng-container>
            <tr *ngIf="!pageResponse.content || pageResponse.content.length == 0">
              <td colspan="7" class="text-center"><b>ไม่พบข้อมูล</b></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row text-right mt-2">
        <div class="col-6 col-sm-2 offset-sm-5">
          รายการ
        </div>
        <div class="col-6 col-sm-1 mb-2">
          <select class="form-control" [(ngModel)]="pageRequest.pageSize" (change)="pagination()">
            <option [value]="10">10</option>
            <option [value]="25">25</option>
            <option [value]="50">50</option>
          </select>
        </div>
        <div class="col-12 col-sm-4 d-flex mb-2">
          <div class="ml-auto">
            <pagination [totalItems]="pageResponse.totalElements" [itemsPerPage]="pageRequest.pageSize"
                        [(ngModel)]="pageRequest.page" [maxSize]="5" previousText="ย้อนกลับ" nextText="ถัดไป"
                        (pageChanged)="pageRequest.page = $event.page;pagination()"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
