/* You can add global styles to this file, and also import other style files */
.card-back {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #9CECFB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.menu{
  min-height: 56px;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.red{
  color: red;
}

ng-select.form-control {
  padding: 0
}

.card.customClass .card-header{
  background-color: #cececc;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

.card.customClass .btn-link{
  color: black;
  font-size: larger;
}

.panel-heading .card-header{
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;

}

.welfare.panel-title{
  background-color: #fbb519;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding: 0.5em;
}

.btn-auto {
  width: auto;
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}

.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all .2s ease-in-out;
 }
 .show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
 }

@media print {
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.base-print {
    background-color: white;
}

.base-print .border-document {
    border: black solid 1px;
}


 .container-fluid {
   padding-left: 30px;
   padding-right: 30px;
 }

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.pointer {
    cursor: pointer;
}
