<app-navigatortab></app-navigatortab>
<section class="content" *ngIf="pageResponse?.content!=null">
  <div class="header-title mb-4">
    <h1>
      <strong>ยอดซื้อภาษีมูลค่าเพิ่ม ภ.พ.36 : {{taxYearmonth | monthyeardate}} </strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> /
        <a href="" class="active"> คัดค้นภาษีเงินได้หัก ณ ที่จ่ายและภาษีมูลค่าเพิ่ม</a> /
        <a href="" class="active"> ผลการคัดค้นแบบสรุป  </a> /
        <a href="" class="active"> ยอดซื้อภาษีมูลค่าเพิ่ม ภ.พ.36  รายเดือน  </a> / เดือนเมษายน 2562
      </small>
    </h1>
  </div>


  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>ข้อมูลผู้เสียภาษี</h4>
    </div>
    <div class="card-body">
      <p class="mt-auto">เลขประจำตัวผู้เสียภาษีอากร : {{ pageResponse.content[0]?.taxpayerPin }}    ชื่อผู้เสียภาษีอากร
        : {{ pageResponse.content[0]?.taxpayerTitle }} {{ pageResponse.content[0]?.taxpayerFirstname }}  เลขที่สาขา
        : {{pageResponse.content[0]?.branchNo}}</p>
      <br/>
      <p class="mt-auto">ที่อยู่: {{ pageResponse.content[0]?.nameBuilding || '' }}  {{ pageResponse.content[0]?.roomNo || '' }} {{ pageResponse.content[0]?.floorNo || '' }} {{ pageResponse.content[0]?.village || '' }} {{ pageResponse.content[0]?.addressNo || '' }} {{ pageResponse.content[0]?.moo || '' }} {{ pageResponse.content[0]?.soi || '' }} {{ pageResponse.content[0]?.lane || '' }} {{ pageResponse.content[0]?.road || '' }} {{ pageResponse.content[0]?.subDistrict || '' }} {{ pageResponse.content[0]?.district || '' }} {{ pageResponse.content[0]?.province || '' }} {{ pageResponse.content[0]?.postcode || '' }}</p>
      <br/>
      <p class="mt-auto">สำนักงานภูมิลำเนา: {{pageResponse?.content[0]?.officeName}}</p>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>รายการยอดซื้อ </h4>
    </div>
    <div class="row  table-conclusion">
      <div class="col-12 col-sm-3">รวมจำนวนรายการ: {{pageResponse?.content?.length}} รายการ</div>
      <div class="col-12 col-sm-3">รวมจำนวนเงิน: {{pageResponse?.content | sumArrayFieldValue: 'amount'}} บาท</div>
      <div class="col-12 col-sm-3">รวมภาษีมูลค่าเพิ่ม: {{pageResponse?.content | sumArrayFieldValue: 'vatAmount'}}บาท
      </div>
      <div class="col-12 col-sm-3 d-block">
        <button type="button" class="btn btn-primary btn-auto" #printBtn>
          <i class="fa fa-print"></i> พิมพิ์
        </button>
      </div>
    </div>
    <div class="card-body">
      <table
        class="table table-striped table-bordered table-sm"
        cellspacing="0"
        width="100%"
      >
        <thead>
        <tr role="row">
          <!-- <th class="text-center" scope="col" style="width: 50px"></th> -->
          <th class="text-center" scope="col" style="width: 50px"></th>
          <th class="text-center" scope="col">เลขที่แบบ</th>
          <th class="text-center" scope="col">ประเภทการยื่นแบบ</th>
          <th class="text-center" scope="col">ชื่อผู้ประกอบการ <br> ชื่อผู้ขาย</th>
          <th class="text-center" scope="col">ที่อยู่ผู้ประกอบการ</th>
          <th class="text-center" scope="col">จ่ายเงินชำระ <br> ราคาสำหรับ</th>
          <th class="text-center" scope="col">จำนวนเงิน <br> บาท</th>
          <th class="text-center" scope="col">ภาษี<br>มูลค่าเพิ่มบาท</th>
          <th class="text-center" scope="col">อัตราภาษี</th>
          <th class="text-center" scope="col">วันที่จ่ายเงิน</th>
          <th class="text-center" scope="col" style="width: 20px"></th>
          <th class="text-center" scope="col" style="width: 20px"></th>
        </tr>
        </thead>
        <tbody>
        <tr role="row" class="odd" *ngFor="let v of pageResponse.content; let i = index">
          <td class="text-center">{{i + 1}}</td>
          <td class="text-center">{{v.refNo}}</td>
          <td class="text-center">{{v.filingType == '0' ? 'ปกติ' : 'เพิ่มเติม'}}</td>
          <td class="text-center">
            {{v?.taxpayerTitle}} {{v?.taxpayerFirstname}} {{v?.taxpayerLastname}}
            <br>
            {{v?.recipientFirstname}} {{v?.recipientMiddlename}} {{v?.recipientLastname}}
          </td>
          <td class="text-center">
            {{v?.addressNo}} {{v?.nameBuilding}} {{v?.floorNo}}
            <br>
            {{v?.road}} {{v?.subDistrict}}
            <br>
            {{v?.district}} {{v?.province}}
          </td>
          <td class="text-center">
            {{v?.payFor}}
          </td>
          <td class="text-center">
            {{v?.amount | replaceNullValue: '0' | number: '1.2'}} บาท
          </td>
          <td class="text-center">
            {{v?.vatAmount | replaceNullValue: '0' | number: '1.2'}} บาท
          </td>
          <td class="text-center">8%</td>
          <td class="text-center">
            {{v.paymentDate | replaceNullValue: '-' | thaidate}}
          </td>
          <td class="text-center">
            <button
              type="button"
              class="btn btn-orange btn-sm btn-auto"
              (click)="open(content)"
              *ngIf="v.status != 'Active'"
              tooltip="ดูแบบ">
              <i class="fa fa-file-o" aria-hidden="true"></i>
            </button>
          </td>
          <td class="text-center">
            <button
              type="button"
              class="btn btn-orange btn-sm btn-auto"
              (click)="open(contentTransaction)"
              *ngIf="v.status != 'Active'"
              tooltip="ดูธุรกรรม">
               <i class="fa fa-dollar"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="row text-right">
        <div class="col-6 col-sm-1">
          รายการ
        </div>
        <div class="col-6 col-sm-1">
          <select class="form-control" [value]="10">
            <option [value]="10">10</option>
            <option [value]="25">25</option>
            <option [value]="50">50</option>
          </select>
        </div>
        <div class="col-12 col-sm-5 offset-sm-5 d-flex">
          <div class="ml-auto">
            <pagination [totalItems]="pageResponse.content.length" [itemsPerPage]="10" [maxSize]="5" previousText="ย้อนกลับ" nextText="ถัดไป"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title title mt-auto" id="modal-basic-title">ภ.พ.36 แบบนำส่งภาษีมูลค่าเพิ่ม ตามประมวลรัษฎากร</h4>
      <button type="button" class="btn btn-primary btn-auto" #printBtn>
        <i class="fa fa-print"></i> พิมพิ์
      </button>
    </div>
    <div class="modal-body" *ngFor="let v of pageResponse.content">
      <div class="row">
        <div class="col-12 col-sm-6">
          <p>เลขที่แบบ</p>
          <p><b>{{v.refNo | replaceNullValue: '-'}}</b></p>
        </div>
        <div class="col-12 col-sm-6">
          <p>ประเภท</p>
          <p><b>{{ v.filingType | replaceNullValue: '-' }}</b></p>
        </div>
      </div>
      <div class="row">
        <span class="title column-title">ผู้นำส่งภาษีมูลค่าเพิ่ม</span>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-sm-3">
          <p>เลขประจำตัวผู้เสียภาษีอากร</p>
          <p><b>{{ v.taxpayerPin | replaceNullValue: '-' }}</b></p>
          <p>สาขาที่</p>
          <p><b>{{ v.branchNo | replaceNullValue: '-' }}</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ชื่อผู้ประกอบการ</p>
          <p><b>{{ v?.taxpayerTitle }} {{ v?.taxpayerFirstname }}</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ที่อยู่</p>
          <p>
            <b>{{v?.addressNo}} {{v?.nameBuilding}} {{v?.floorNo}} <br> {{v?.road}} {{v?.subDistrict}} {{v?.district}} {{v?.province}}</b>
          </p>
        </div>
        <div class="col-12 col-sm-3">
          <p>มีหน้าที่นำส่งภาษีมูลค่าเพิ่มกรณี</p>
          <p><b>({{ v?.vatTypeCode}}){{ v?.vatTypeName}}</b></p>
        </div>
      </div>
      <div class="row">
        <span class="title column-title">ผู้ประกอบการซึ่งเป็น</span>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-sm-3 offset-sm-3">
          <p>ชื่อผู้ประกอบการ</p>
          <p><b>{{ v.recipientFirstname | replaceNullValue: '-' }}</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ที่อยู่ </p>
          <p><b>{{v?.recipientAddressNo}} {{v?.recipientBuilding}} {{v?.recipientRoad}} {{v?.recipientPostcode}}</b></p>
        </div>

        <div class="col-12 col-sm-3">
          <p>เป็นผู้ประกอบการที่ได้ให้บริการใน
            ต่างประเทศ และได้มีการใช้บริการนั้น
            ในราชอาณาจักร</p>
          <p><b></b></p>
        </div>
      </div>
      <div class="row">
        <span class="title column-title">ผู้ประกอบการซึ่งเป็น</span>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-sm-3">
          <p>วัน เดือน ปี ที่จ่ายเงิน</p>
          <p><b>{{v.paymentDate | thaidate}}</b></p>
        </div>

        <div class="col-12 col-sm-3">
          <p>เลขที่เอกสารแลกเปลี่ยนเงินตรา</p>
          <p><b>-</b></p>
        </div>

        <div class="col-12 col-sm-6">
          <p>จ่ายเงินชำระราคาสำหรับ </p>
          <p><b>{{v.payFor}}</b></p>
        </div>
      </div>
      <div class="row">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th scope="col" class="text-center">การคำนวณภาษี</th>
              <th scope="col" class="text-center">จำนวนเงิน</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1. จำนวนเงินที่จ่าย</td>
              <td><b>{{v.amount | number: '1.2'}}</b></td>
            </tr>
            <tr>
              <td>2. จำนวนเงินภาษีมูลค่าเพิ่มที่ต้องนำส่ง</td>
              <td><b>{{v.vatAmount}}</b></td>
            </tr>
            <tr>
              <td>(ตัวอักษร)</td>
              <td>{{v.vatAmount | moneyNumberToWordTh}}</td>
            </tr>
            <tr>
              <td>3. เงินเพิ่ม</td>
              <td>{{v.surcharge | number: '1.2'}}</td>
            </tr>
            <tr>
              <td>4. เบี้ยปรับ (ถ้ามี เฉพาะกรณีรับโอนสินค้าหรือรับโอนสิทธิในบริการที่ได้เสียภาษีในอัตราร้อยละ 0))</td>
              <td>{{v.pernalty | number: '1.2'}}</td>
            </tr>
            <tr>
              <td>5. รวมภาษีมูลค่าเพิ่มที่ต้องนำส่ง เงินเพิ่ม และเบี้ยปรับ (2. + 3. + 4.)</td>
              <td>{{v.vatAmount + v.surcharge + v.pernalty}}</td>
            </tr>
            <tr>
              <td>(ตัวอักษร)</td>
              <td>{{(v.vatAmount + v.surcharge + v.pernalty) | moneyNumberToWordTh}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row text-center d-block">
        <button type="button" class="btn btn-danger btn-auto" (click)="modalService.dismissAll()" #closeBtn>
          <i class="fa fa-close"></i> ปิด
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template #contentTransaction let-modal>
    <div class="modal-header">
      <h4 class="modal-title title mt-auto" id="modal-basic-title">รายละเอียดธุรกรรมยอดซื้อภาษีมูลค่าเพิ่ม (ภ.พ.36)</h4>
      <button type="button" class="btn btn-primary btn-auto" #printBtn>
        <i class="fa fa-print"></i> พิมพิ์
      </button>
    </div>
    <div class="modal-body" >
      <div class="row">
        <span class="title column-title">ผู้ประกอบการที่ขาย</span>
      </div>
      <div class="row">
        <div class="col-12 col-sm-4">
          <p>ผู้ประกอบการที่ขาย</p>
          <p><b>บริษัท สตรีม ไอ.ที.คอนซัลติ้ง จำกัด
            สำนักงานคณะกรรมการส่งเสริมการลงทุน</b></p>
        </div>
        <div class="col-12 col-sm-4">
          <p>เลขที่สาขา</p>
          <p><b>-</b></p>
        </div>
        <div class="col-12 col-sm-4">
          <p>ที่อยู่</p>
          <p><b>11 สาทรใต้ ทุ่งมหาเมฆ สาทร กรุงเทพมหานคร 10</b></p>
        </div>
      </div>
      <div class="row">
        <span class="title column-title">ผู้ประกอบการที่ซื้อ</span>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-sm-3">
          <p>เลขประจำตัวผู้เสียภาษีอากร</p>
          <p><b>1 9030 43040 85 6</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ชื่อผู้ประกอบการ</p>
          <p><b>Shakil Whitworth</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>เลขที่สาขา</p>
          <p><b>00000</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ที่อยู่</p>
          <p>
            <b>West 53 Street New York United States</b>
          </p>
        </div>
      </div>
      <div class="row">
        <span class="title column-title">รายละเอียดการจ่ายเงิน</span>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-sm-3">
          <p>ข้อมูลบัญชี Prompt Pay ผู้ขาย</p>
          <p><b>-</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ประเภทช่องทาง Prompt Pay ผู้ขาย</p>
          <p><b>-</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>เลขที่บัญชีธนาคาร ผู้ขาย</p>
          <br/>
          <p><b>370791736</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ธนาคาร  ผู้ขาย</p>
          <p><b>FIRST STATE BANK OF BLAKELY</b></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-3">
          <p>ข้อมูลบัญชี Prompt Pay ผู้ซื้อ</p>
          <p><b>1 9030 43040 85 6</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ประเภทช่องทาง Prompt Pay ผู้ซื้อ</p>
          <p><b>Tax ID</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>เลขที่บัญชีธนาคาร ผู้ซื้อ</p>
          <br/>
          <p><b>010 2 94649 5</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ธนาคาร  ผู้ซื้อ</p>
          <p><b>ธนาคารกรุงเทพ จำกัด (มหาชน) สาขาพลับพลาไชย</b></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-3">
          <p>จำนวนเงิน</p>
          <p><b>200,000.00 บาท</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ภาษีมูลค่าเพิ่ม</p>
          <p><b>16,000.00 บาท</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>อัตราภาษี</p>
          <p><b>8%</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>วันที่ และเวลาที่จ่ายเงิน</p>
          <p><b>30/04/2562 02:00:00 น.</b></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-3">
          <p>ประเภทเงินได้</p>
          <p><b>504 : ค่าสิทธิในสิทธิบัตร เครื่องหมายการค้า แบบหรือหุ่นจำลอง แผนผัง สูตรลับ หรือกรรมวิธีลับใดๆ ตามมาตรา 40(3)</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>หมายเลขอ้างอิงการทำรายการ</p>
          <p><b>-</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>หมายเลขเครื่อง EDC</p>
          <p><b>-</b></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-3">
          <p>หมายเลขหน้าบัตรเดบิต/เครดิต</p>
          <p><b>-</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ธนาคาร/หน่วยงาน ผู้ออกบัตร</p>
          <p><b>-</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ธนาคาร/หน่วยงาน ผู้รับชำระเงิน</p>
          <p><b>-</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>รหัสร้านค้าที่รับชำระเงิน</p>
          <p><b>-</b></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-3">
          <p>สาขาภาษีมูลค่าเพิ่มผู้จ่ายเงิน</p>
          <p><b>-</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>สาขาภาษีมูลค่าเพิ่มผู้รับเงิน</p>
          <p><b>-</b></p>
        </div>
      </div>
      <div class="row">
        <span class="title column-title">ข้อมูลแบบแสดงรายการ</span>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-sm-3">
          <p>แบบ</p>
          <p><b>ภ.พ.36</b></p>
        </div>
        <div class="col-12 col-sm-3">
          <p>ประเภทการยื่นแบบ</p>
          <p><b>ยื่นปกติ</b></p>
        </div>
      </div>
      <div class="row text-center d-block">
        <button type="button" class="btn btn-danger btn-auto" (click)="modalService.dismissAll()" #closeBtn>
          <i class="fa fa-close"></i> ปิด
        </button>
      </div>
    </div>
  </ng-template>
</section>
