<section class="content">
    <div class="header-title">
      <h1><strong>ค้นหาข้อมูลอุทธรณ์เพื่อตรวจสอบรายได้</strong>
        <small class="pull-right"><a href="" class="active">หน้าหลัก</a>
          /นำเข้า/ตรวจสอบรายได้
           /ค้นหาข้อมูลอุทธรณ์เพื่อตรวจสอบรายได้</small>
      </h1>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-bd lobidisable">
          <div class="panel-heading">
            <div class="panel-title">
              <h3><i class="fa fa-file-text"></i> ค้นหาข้อมูลอุทธรณ์เพื่อตรวจสอบรายได้</h3>
            </div>
          </div>
          <br/>
          <div class="panel-body no-padding"></div>

          <div class="panel-body">
            <form role="form"  [formGroup]="searchCondition" (ngSubmit)="getData(false)">
              <div class="row form-group">
                <div class="col-12 col-sm-4 text-sm-right text-left">
                  <label>ปีภาษี : <span class="red">*</span></label>
                </div>
                <div class="col-12 col-sm-2 text-left">
                  <select class="form-control" id="taxYear" formControlName="taxYear"
                    [ngClass]="{'border-danger': taxYearControl.invalid && taxYearControl.touched}" (change)="taxYearChange($event.srcElement.value)">
                    <option value="">ทั้งหมด</option>
                    <option *ngFor="let item of taxYearList" [value]="item">
                      {{item}}</option>
                  </select>
                  <div class="red error-msg" *ngIf="taxYearControl.hasError('required') && taxYearControl.touched">
                      กรุณาระบุปีภาษี
                  </div>
                </div>
              </div>

              <div class="row form-group">
                  <div class="col-12 col-sm-4 text-sm-right text-left">
                    <label>วันที่รับเรื่องอุทธรณ์ตั้งแต่ : <span class="red">*</span></label>
                  </div>
                  <div class="col-12 col-sm-2 text-left">
                    <app-datepicker-th formControlName="startDate" [maxDate]="(startDateControl.value == endDateControl.value) ? null : endDateControl.value"
                      #startDate [minDate]="minConfigDate" [borderDanger]="startDateControl.invalid && startDateControl.touched"  (valueOnchange)=startDateChange()>
                    </app-datepicker-th>
                    <div class="red error-msg" *ngIf="startDateControl.hasError('required') && startDateControl.touched">
                      กรุณาระบุวันที่รับเรื่องอุทธรณ์ตั้งแต่
                    </div>
                  </div>

                  <div class="col-12 col-sm-1 text-sm-right text-left">
                    <label>ถึงวันที่ : <span class="red">*</span></label>
                  </div>
                  <div class="col-12 col-sm-2 text-left">
                    <app-datepicker-th formControlName="endDate"  [minDate]="startDateControl.value" [maxDate]="maxConfigDate"
                    [borderDanger]="endDateControl.invalid && endDateControl.touched"  #endDate  (valueOnchange)=endDateChange()>
                    </app-datepicker-th>
                    <div class="red error-msg" *ngIf="endDateControl.hasError('required') && endDateControl.touched">
                      กรุณาระบุถึงวันที่
                    </div>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="ccol-12 col-sm-4 text-sm-right text-left">
                    <label>สถานะการตรวจสอบรายได้ : </label>
                  </div>
                  <!-- <div class="col-12 col-sm-8 text-left">
                    <input type="radio" name="checkIncStatus" formControlName="checkIncStatus" value="" (change)="onCheckIncChange($event)"> ยังไม่ส่งไปตรวจสอบรายได้ตามเงื่อนไข
                    <input type="radio" name="checkIncStatus" formControlName="checkIncStatus" value="10" (change)="onCheckIncChange($event)"> อยู่ระหว่างการตรวจสอบรายได้ตามเงื่อนไข
                    <input type="radio" name="checkIncStatus" formControlName="checkIncStatus" value="11" (change)="onCheckIncChange($event)"> ส่งไฟล์ข้อมูลที่ตรวจสอบรายได้ตามเงื่อนไขแล้ว
                  </div> -->
                  <div class="col-12 col-sm-8 text-left custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="checkIncStatus1" name="checkIncStatus" formControlName="checkIncStatus" value="" (change)="onCheckIncChange($event)">
                    <label class="custom-control-label" for="checkIncStatus1">ยังไม่ส่งไปตรวจสอบรายได้ตามเงื่อนไข</label>
                  </div>
                  <div class="ccol-12 col-sm-4 text-sm-right text-left"></div>
                  <div class="col-12 col-sm-8 text-left custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="checkIncStatus2" name="checkIncStatus" formControlName="checkIncStatus" value="10" (change)="onCheckIncChange($event)">
                    <label class="custom-control-label" for="checkIncStatus2">อยู่ระหว่างการตรวจสอบรายได้ตามเงื่อนไข</label>
                  </div>

                  <div class="ccol-12 col-sm-4 text-sm-right text-left"></div>
                  <div class="col-12 col-sm-8 text-left custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="checkIncStatus3" name="checkIncStatus" formControlName="checkIncStatus" value="11" (change)="onCheckIncChange($event)">
                    <label class="custom-control-label" for="checkIncStatus3">ส่งไฟล์ข้อมูลที่ตรวจสอบรายได้ตามเงื่อนไขแล้ว</label>
                  </div>
                </div>

              <div class="row form-group">
                <div class="col-12 text-center">
                  <button type="submit" *ngIf="authService.hasAnyPermission(['GWSP010200.VIEW'])" class="btn btn-success margin-top-10">
                    <i class="glyphicon glyphicon-search"></i> ค้นหา
                  </button>
                  <button type="button" class="btn btn-warning margin-top-10" (click)="clear()">
                    <i class="glyphicon glyphicon-repeat"></i> ล้างค่า
                  </button>
                  <button type="button" *ngIf="authService.hasAnyPermission(['GWSP010200.ADD'])" class="btn btn-primary margin-top-10" (click)="processAppeal()" [disabled]="allowA2Export">
                    <i class="glyphicon glyphicon-upload"></i> สร้างไฟล์ข้อมูลอุทธรณ์ตรวจสอบรายได้
                  </button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-bd lobidisable">
          <div class="panel-heading clearfix">
            <div class="panel-title">
              <h3><i class="fa fa-list"></i> ผลการค้นหา</h3>
            </div>
          </div>

          <div class="panel-body">
            <div class="form-group col-lg-12">
              <div class="form-group" style="float:right">
                <div>
                  แสดงหน้าละ
                  <select (change)="changeRowLimits($event)">
                    <option *ngFor="let limit of rowLimits" [value]="limit.value">{{limit.key}}</option>
                  </select>
                  รายการ
                </div>
              </div>
            </div>
            <table id="example" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
              <tr role="row">
                <th scope="col" class="text-center">ลำดับ</th>
                <th scope="col" class="text-center">
                  <a (click)="sort('T2.NID')" style="cursor: pointer" title="เลขบัตรประชาชน" tooltip="เลขบัตรประชาชน">
                    เลขบัตรประชาชน
                  </a>
                  <ng-container *ngIf="pageRequest.sortFieldName === 'T2.NID'">
                    <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                  </ng-container>
                </th>
                <th scope="col" class="text-center">
                  <a (click)="sort('T4.FIRST_NAME,T4.LAST_NAME')" style="cursor: pointer" title="ชื่อ-สกุล" tooltip="ชื่อ-สกุล">
                    ชื่อ-สกุล
                  </a>
                  <ng-container *ngIf="pageRequest.sortFieldName === 'T4.FIRST_NAME,T4.LAST_NAME'">
                    <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                  </ng-container>
                </th>
                <th scope="col" class="text-center">
                  <a (click)="sort('T2.CREATED_DATE')" style="cursor: pointer" title="วันที่รับเรื่องอุทธรณ์" tooltip="วันที่รับเรื่องอุทธรณ์">
                    วันที่รับเรื่องอุทธรณ์
                  </a>
                  <ng-container *ngIf="pageRequest.sortFieldName === 'T2.CREATED_DATE'">
                    <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                  </ng-container>
                </th>
                <th scope="col" class="text-center">
                  <a (click)="sort('T5.STEP_DESC')" style="cursor: pointer" title="สถานะการดำเนินการ" tooltip="สถานะการดำเนินการ">
                    สถานะการดำเนินการ
                  </a>
                  <ng-container *ngIf="pageRequest.sortFieldName === 'T5.STEP_DESC'">
                    <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                  </ng-container>
                </th>
                <th scope="col" class="text-center">
                  <a (click)="sort('T6.STEP_DESC')" style="cursor: pointer" title="สถานะการตรวจสอบรายได้" tooltip="สถานะการตรวจสอบรายได้">
                    สถานะการตรวจสอบรายได้
                  </a>
                  <ng-container *ngIf="pageRequest.sortFieldName === 'T6.STEP_DESC'">
                    <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
                  </ng-container>
                </th>
              </tr>
            </thead>
            <tbody>
            <tr role="row" class="odd" *ngFor="let v of pageResponse?.content; index as i">
                <td class="text-center">{{((pageRequest.page-1)*(pageResponse.size))+(i + 1)}}</td>
                <td class="text-left">{{v.nid}}</td>
                <td class="text-left">{{v.fullName}}</td>
                <td class="text-center">{{v.createdDate}}</td>
                <td class="text-left">{{v.stepDesc}}</td>
                <td class="text-left">{{v.stepCodeIncCheckDesc}}</td>
            </tr>
              <tr *ngIf="!pageResponse?.content || pageResponse?.content?.length === 0">
                <td colspan="6" class="text-center"> ไม่พบข้อมูล</td>
              </tr>
            </tbody>
          </table>
            <div class="row">
              <div class="col-sm-5">
                <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
                  แสดงผล
                  {{pageResponse?.numberOfElements}} จาก
                  {{pageResponse?.totalPages}} รายการ
                </div>
              </div>
              <div class="col-sm-7 text-right">
                <pagination style="float: right;" [totalItems]="pageResponse?.totalPages" previousText="ก่อนหน้า"
                  nextText="ถัดไป" [rotate]="true" [maxSize]="5" [(ngModel)]="pageRequest.page"
                  (pageChanged)="pageChange($event,limit)" (limit)="limit" [itemsPerPage]="pageResponse?.size"
                  aria-label="Default pagination"></pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

