<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <div class="col-md-12">
    <div class="d-flex justify-content-between">
      <div>
        <h2>ลงทะเบียนอุปกรณ์ใหม่ </h2>
      </div>
      <div class="text-right">
        <div class="btn-group">
          <button class="btn btn-outline-info" [routerLink]="['/device-management/search']">กลับหน้าหลัก</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">

  <form [formGroup]="addDeviceFormGroup" (ngSubmit)="saveData();">
    <div class="row form-group required">
      <div class="col-md-4 text-right"><label class="control-label">ผู้ถือครองอุปกรณ์:</label></div>
      <div class="col-md-6">
        <select class="form-control col-md-6" formControlName="user" [ngClass]="{ 'is-invalid': submitted && field.user.errors }">
          <option value="">โปรดเลือก</option>
          <option *ngFor="let user of activeUsers" [value]="user.userCertId">{{user.taxId}} - {{user.taxPayer}}</option>
        </select>
        <div *ngIf="submitted && field.user.errors" class="invalid-feedback">
          <div *ngIf="field.user.errors.required">กรุณาระบุผู้ถือครองอุปกรณ์</div>
        </div>
      </div>
    </div>
    <div class="row form-group required">
      <div class="col-md-4 text-right"><label class="control-label">ชื่ออุปกรณ์:</label></div>
      <div class="col-md-6">
        <input class="form-control col-md-6" type="text" formControlName="deviceName" [ngClass]="{ 'is-invalid': submitted && field.deviceName.errors }">
        <div *ngIf="submitted && field.deviceName.errors" class="invalid-feedback">
          <div *ngIf="field.deviceName.errors.required">กรุณาระบุชื่ออุปกรณ์</div>
        </div>
      </div>
    </div>
    <div class="row form-group required">
      <div class="col-md-4 text-right"><label class="control-label">หมายเลขอุปกรณ์:</label></div>
      <div class="col-md-6">
        <input class="form-control col-md-6" type="text" formControlName="serialNumber"  [ngClass]="{ 'is-invalid': submitted && field.serialNumber.errors }">
        <div *ngIf="submitted && field.serialNumber.errors" class="invalid-feedback">
          <div *ngIf="field.serialNumber.errors.required">กรุณาระบุหมายเลขอุปกรณ์ (serial number)</div>
        </div>
      </div>
    </div>
    <div class="row form-group required">
      <div class="col-md-4 text-right"><label class="control-label">รุ่น/โมเดล:</label></div>
      <div class="col-md-6">
        <input class="form-control col-md-6" type="text" formControlName="deviceModel">
        <div *ngIf="submitted && field.deviceModel.errors" class="invalid-feedback" [ngClass]="{ 'is-invalid': submitted && field.deviceModel.errors }">
          <div *ngIf="field.deviceModel.errors.required">กรุณาระบุรุ่นหรือโมเดลของอุปกรณ์</div>
        </div>
      </div>
    </div>

    <div class="col-md-10 text-center">
      <button type="submit" class="btn btn-info">บันทึก</button>
      &nbsp;
      <button type="reset" class="btn btn-danger">ล้างข้อมูล</button>
    </div>

  </form>

</div>



