<div class="content">
  <div class="header-title">
    <h1><strong>นำเข้าสกุลเงิน </strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / <a
        [routerLink]="['/etl/currency']" class="active">สกุลเงิน
      </a> / นำเข้าสกุลเงิน
      </small>
    </h1>
  </div>

  <form [formGroup]="currencyForm" (ngSubmit)="onSubmit()">
    <div formGroupName="currencyGroup">
      <div class="card border-light mb-4">
        <div class="card-header">
          <h4 class="panel-title">
            <i class="header-title fa fa-file-text"></i> ข้อมูลสกุลเงิน
          </h4>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-lg-6">
              <label>นำเข้าไฟล์ข้อมูลสกุลเงิน</label>
              <input type="file" class="form-control" formControlName="fileCurrency" id="fileXlsx" accept=".xlsx"
                     (change)="selectFile($event)">
            </div>

<!--            <div class="form-group col-lg-6">-->
<!--              <label>วันที่มีผลบังคับใช้</label>-->
<!--              <input type="text" formControlName="effectiveDate" id="effectiveDate"-->
<!--                     class="form-control"-->
<!--                     placeholder="ระบุวันที่มีผลบังคับใช้"-->
<!--                     [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"-->
<!--                     [minDate]="minDate" autocomplete="off"-->
<!--                     [ngClass]="{'is-invalid': !currencyForm.get('currencyGroup.effectiveDate').valid && currencyForm.get('currencyGroup.effectiveDate').touched}"-->
<!--                     bsDatepicker>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>

    <table style="margin:auto;">
      <tr>
        <td>
          <button type="button" id="back" class="btn btn-auto btn-orange3 w-md m-b-5"
                  (click)="onBack()"><i
            class="fa fa-chevron-left"></i> &nbsp;ย้อนกลับ
          </button>
        </td>
        <td>
          <button type="button" id="clear" class="btn btn-auto btn-orange2 w-md m-b-5" (click)="resetForm()"><i
            class="fa fa-repeat"></i> ล้างข้อมูล
          </button>
        </td>
        <td>
          <button type="submit" id="save" class="btn btn-auto btn btn-auto  btn-green w-md m-b-5"><i
            class="fa fa-floppy-o"></i> บันทึก
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>

