<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>ข้อมูลภาษีซื้อ (ข้อมูลการชำระเงินภายในประเทศ)</h4>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-center" style="font-weight:bold;" >ข้อมูล กันยายน 2559</label>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> พิมพ์</a>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขประจำตัวผู้เสียภาษีอากร  : 0-1345-67891-23-4</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">เลขที่สาขา :00000</label>
          </div>
          <div class="form-group col-lg-12 pr-0">
            <label class="pull-left" style="font-weight:bold">ชื่อผู้ประกอบการ : บริษัท เอ จำกัด</label>
          </div>
          <div class="form-group col-lg-6 pr-0">
            <label class="pull-left" style="font-weight:bold">ที่อยู่ : เลขที่ 1 หมู่ที่ 1 แขวงศาลาธรรมสพน์ เขตทวีวัฒนา จังหวัดกรุงเทพมหานคร 10170</label>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-left" style="font-weight:bold">หมายเลขอ้างอิงการทำรายการ </label>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <input type="text" value="" id="branchNo" class="form-control" name="branchNo">
          </div>
          <div class="form-group col-lg-2 pr-0">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> ค้นหา</a>
          </div>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th>ลำดับ<br>ที่<br>(1)</th>
              <th>วันที่ทำรายการ<br>(2)</th>
              <th>หมายเลขอ้างอิง<br>การทำรายการ<br>(3)</th>
              <th>ชื่อผู้ขายสินค้า/<br>ผู้ให้บริการ<br>(4)</th>
              <th>เลขประจำตัวผู้เสีย<br>ภาษีอากรของผู้ขายสินค้า<br>/ผู้ให้บริการ<br>(5)</th>
              <th>สาขา<br>(6)</th>
              <th><font color="blue">ยอดซื้อที่ต้องเสีย<br>ภาษี VAT 7%<br>(7)</font></th>
              <th>ภาษีมูลค่า<br>เพิ่ม<br>(8)</th>
              <th>รวมเงินที่จ่าย <br>(ก่อนหักภาษี ณ <br>ที่จ่ายและรวม<br>ภาษีมูลค่าเพิ่ม)<br>(9)</th>
              <th>ประเภทเงินได้ <br>(10)</th>
              <th><font color="red">อัตราภาษี<br>หัก ณ ที่จ่าย<br>(11)</font></th>
              <th>จำนวน<br>ภาษีหัก ณ<br>ที่จ่าย<br>(12)</th>
              <th><font color="blue">ราคาหลัง จาก<br>หัก ณ ที่จ่าย<br>(13)</font></th>
              <th>ดูข้อมูล<br>การชำระเงิน<br>(14)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="center">1</td>
              <td align="center">01/09/2559</td>
              <td align="center">5801001</td>
              <td align="left">บริษัท ง จำกัด</td>
              <td align="center">0-1345-67894-44-4</td>
              <td align="center">00000</td>
              <td align="right"><font color="blue">400.00</font></td>
              <td align="right">28.00</td>
              <td align="right">428.00</td>
              <td align="left">ค่าจ้างทำของ<br>ตามมาตรา40(8)</td>
              <td align="right"><font color="red">3 %</font></td>
              <td align="right">12.00</td>
              <td align="right">416.00</td>
              <td>
                <a href="trs/trsp020304" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>

            <tr>
              <td align="center">2</td>
              <td align="center">02/09/2559</td>
              <td align="center">5801002</td>
              <td align="left">บริษัท ง จำกัด</td>
              <td align="center">0-1345-67894-44-4</td>
              <td align="center">00000</td>
              <td align="right"><font color="blue">700.00</font></td>
              <td align="right">49.00</td>
              <td align="right">749.00</td>
              <td align="left">ค่าเช่า<br>ตามมาตรา40(5)</td>
              <td align="right"><font color="red">5 %</font></td>
              <td align="right">35.00</td>
              <td align="right">714.00</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>

            <tr>
              <td align="center">3</td>
              <td align="center">03/09/2559</td>
              <td align="center">5801003</td>
              <td align="left">บริษัท ฉ จำกัด</td>
              <td align="center">0-1345-67896-66-6</td>
              <td align="center">00000</td>
              <td align="right"><font color="blue">200.00</font></td>
              <td align="right">14.00</td>
              <td align="right">214.00</td>
              <td align="left">ค่าเช่า<br>ตามมาตรา40(5)</td>
              <td align="right"><font color="red">5 %</font></td>
              <td align="right">10.00</td>
              <td align="right">204.00</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>

            <tr>
              <td align="center">4</td>
              <td align="center">04/09/2559</td>
              <td align="center">5801004</td>
              <td align="left">บริษัท ช จำกัด</td>
              <td align="center">0-1345-67897-77-7</td>
              <td align="center">00000</td>
              <td align="right"><font color="blue">200.00</font></td>
              <td align="right">14.00</td>
              <td align="right">214.00</td>
              <td align="left">ค่าจ้างทำของ<br>ตามมาตรา40(8)</td>
              <td align="right"><font color="red">3 %</font></td>
              <td align="right">6.00</td>
              <td align="right">208.00</td>
              <td>
                <a href="" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png">
                </a>
              </td>
            </tr>

            <tr>
              <td align="center" colspan="6">รวม</td>
              <td align="right"><font color="blue">1,500.00</font></td>
              <td align="right">105.00</td>
              <td align="right">1,605.00</td>
              <td align="right"></td>
              <td align="right"></td>
              <td align="right">63.00</td>
              <td align="right"><font color="blue">1,542.00</font></td>
              <td align="right"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-10 pr-0">
            <label class="pull-center" style="font-weight:bold "><font color="blue">* ยอดซื้อที่ต้องเสียภาษี VAT 7%,  อัตราภาษีหัก ณ ที่จ่าย, ราคาหลังจาก หัก ณ ที่จ่าย  เป็นจำนวนที่โปรแกรมคำนวณให้</font></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
