<div class="row" *ngIf="userAttachmentDtoList != undefined">
  <table class="table">
    <thead>
    <tr>
      <th scope="col" class="text-center">#</th>
      <th scope="col" class="text-center">ชื่อเอกสาร</th>
      <th scope="col" class="text-center">ดาวน์โหลด</th>
      <th scope="col" class="text-center" *ngIf="userTypeKey != 'T' && userTypeKey != 'S'" >สแกนเอกสาร</th>
    </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let registeredAttachment of registeredAttachmentList; let i = index">
        <tr>
          <th class="text-center">{{i + 1}}</th>
          <td class="text-center">{{registeredAttachment.attachmentName}}</td>
          <td class="text-center">
            <a class="oi oi-data-transfer-download" aria-hidden="true" target="_blank"
              *ngIf="registeredAttachment.fileModel" [href]="fileApi + userAttachmentDtoList[i].userAttachmentId"></a>&nbsp;
            <ng-container *ngFor="let scannedUserAttachment of scannedUserAttachmentList; let j = index">              
              <a class="oi oi-document" *ngIf="registeredAttachment.id == scannedUserAttachment.mRegisteredAttachmentId"
              aria-hidden="true" target="_blank" [href]="fileScanApi + scannedUserAttachment.userAttachmentId" tooltip="เอกสาร สแกน"></a> 
            </ng-container>
          </td>
          <td class="text-center" *ngIf="userTypeKey != 'T' && userTypeKey != 'S' " >           
              <a href="javascript:void(0)" (click)="openScanModal(registeredAttachment, scanModal, userAttachmentDtoList[i])"><i class="fa fa-print"></i></a>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<ng-template #scanModal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">สแกนเอกสาร</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeScanModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-scanner [scUserId]="userId" [scUsername]="username" [scRegisteredAttachment]="registeredAttachment" [scUserAttachmentModel]="userAttachmentModel" (save)="upload($event)" (close)="closeScanModal()"></app-scanner>
  </div>
</ng-template>