<ng-container *ngIf="publicUser">
  <div class="header-title mb-4">
    <h1>
      <strong>{{'อนุมัติเอกสารผู้ใช้งานประเภท' + userTypeName}}</strong>
      <small class="pull-right"><a [routerLink]="['../../search']" class="active">หน้าหลัก</a>
        / {{'อนุมัติเอกสารผู้ใช้งานประเภท' + userTypeName}}
      </small>
    </h1>
  </div>
  <div class="card mb-4">
    <div class="card-header ">
      <div class="justify-content-left">
        <h4><i class="fa fa-file-text"></i>ข้อมูลผู้ใช้งานประเภท {{userTypeName}}</h4>
      </div>
    </div>
    <div class="card-body">
      <app-thai-individual-user-information [publicUser]="publicUser"
                                            *ngIf="userTypeKey == 'T'"></app-thai-individual-user-information>
      <app-foreign-individual-user-information [publicUser]="publicUser"
                                               *ngIf="userTypeKey == 'F'"></app-foreign-individual-user-information>
      <app-estate-individual-user-information [publicUser]="publicUser"
                                              *ngIf="userTypeKey == 'H'"></app-estate-individual-user-information>
      <app-partnership-individual-user-information [publicUser]="publicUser"
                                                   *ngIf="userTypeKey == 'G'"></app-partnership-individual-user-information>
      <app-partnership-individual-user-information [publicUser]="publicUser"
                                                   *ngIf="userTypeKey == 'O'"></app-partnership-individual-user-information>
      <app-juristic-person-user-information [publicUser]="publicUser"
                                            *ngIf="userTypeKey === 'C'"></app-juristic-person-user-information>
      <app-affiliation-user-information [publicUser]="publicUser"
                                            *ngIf="userTypeKey === 'A'"></app-affiliation-user-information>
      <app-sender-user-information [publicUser]="publicUser" *ngIf="userTypeKey === 'S'"></app-sender-user-information>
      <app-user-attachment-table [hashUserId]="publicUser.hashUserId" *ngIf="userTypeKey != 'T'"
                                 [userTypeKey]="userTypeKey"
                                 [username]="publicUser.username"></app-user-attachment-table>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header ">
      <div class="justify-content-left">
        <h4><i class="fa fa-file-text"></i>ประวัติการลงทะเบียน</h4>
      </div>
    </div>
    <div class="card-body">
      <app-user-registration-log-table [userRegistrationLogList]="publicUser.userRegistrationLogList"></app-user-registration-log-table>
      <div class="row text-center">
        <a class="btn btn-danger btn-auto m-auto" [routerLink]="['../../search']">ย้อนกลับ</a>
      </div>
    </div>
  </div>
</ng-container>
