<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-left">
    เลขประจำตัวผู้เสียภาษีอากร :
  </div>
  <div class="col-12 col-sm-3">
    {{publicUser?.nId}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-left">
    ชื่อผู้เสียภาษีอากร :
  </div>
  <div class="col-12 col-sm-3">
    {{publicUser?.firstName}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-center">
    เลขที่ :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.no}}
  </div>
  <div class="col-12 col-sm-2 text-sm-right text-center">
    ที่ตั้ง :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.buildingName}}
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-center">
    ห้องเลขที่ :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.roomNo}}
  </div>
  <div class="col-12 col-sm-2 text-sm-right text-center">
    ชั้นที่ :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.floor}}
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-center">
    ตรอก/ซอย :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.trok}} {{publicUser.address?.soi}}
  </div>
  <div class="col-12 col-sm-2 text-sm-right text-center">
    หมู่ที่ :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.moo}}
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-center">
    ถนน :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.road}}
  </div>
  <div class="col-12 col-sm-2 text-sm-right text-center">
    แขวง/ตำบล :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.tambonName}}
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-center">
    เขต/อำเภอ :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.amphoeName}}
  </div>
  <div class="col-12 col-sm-2 text-sm-right text-center">
    จังหวัด :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.provinceName}}
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-3 text-sm-right text-center">
    รหัสไปรษณีย์ :
  </div>
  <div class="col-12 col-sm-3 text-sm-left text-center">
    {{publicUser.address?.postcode}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 text-sm-right text-left">
    ชื่อ - สกุล ผู้มีอำนาจ :
  </div>
  <div class="col-12 col-sm-6">
    {{publicUser?.businessAuthorityTitleName}} {{publicUser?.businessAuthorityFirstName}} {{publicUser?.businessAuthorityLastName}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 text-sm-right text-left">
    เลขประจำตัวผู้เสียภาษีอากร ผู้มีอำนาจจัดการ:
  </div>
  <div class="col-12 col-sm-6">
    {{publicUser?.businessAuthorityId}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 text-sm-right text-left">
    ชื่อ - สกุล ลูกจ้างหรือผู้กระทำการแทนฯ ในประเทศไทย :
  </div>
  <div class="col-12 col-sm-6">
    {{publicUser?.businessDelegateTitleName}} {{publicUser?.businessDelegateFirstName}} {{publicUser?.businessDelegateLastName}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 text-sm-right text-left">
    เลขประจำตัวผู้เสียภาษีอากรผู้กระทำการแทนฯ ในประเทศไทย :
  </div>
  <div class="col-12 col-sm-6">
    {{publicUser?.businessDelegateId}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 text-sm-right text-left">
    เบอร์โทรศัพท์ผู้รับมอบอำนาจ: :
  </div>
  <div class="col-12 col-sm-6">
    {{publicUser?.phoneNumber}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 text-sm-right text-left">
    อีเมลผู้รับมอบอำนาจ: :
  </div>
  <div class="col-12 col-sm-6">
    {{publicUser?.email}}
  </div>
</div>
