<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>Monitor การโอนข้อมูลที่ประมวลผลจากฐานข้อมูลระบบฯ ภายในเครือข่ายรัษฎากร (intranet) ไปจัดเก็บที่ฐานข้อมูลระบบฯ ภายนอก (DMZ)</h4>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ตั้งแต่วันที่โอนข้อมูล <font color="red">*</font> </label>
          </div>
          <div class="form-group col-lg-4">
            <app-datepicker-th class="form-control-datepicker" 
              id="startDate" name="startDate"></app-datepicker-th>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ตั้งแต่เวลา</label>
          </div>
          <div class="form-group col-lg-4">
            <input type="text" value="" id="fromTime" class="form-control" name="fromTime" placeholder="09:30">
          </div>

          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ถึงวันที่โอนข้อมูล <font color="red">*</font> </label>
          </div>
          <div class="form-group col-lg-4">
            <app-datepicker-th class="form-control-datepicker" 
              id="endDate" name="endDate"></app-datepicker-th>
          </div>
          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">ถึงเวลา</label>
          </div>
          <div class="form-group col-lg-4">
            <input type="text" value="" id="toTime" class="form-control" name="toTime" placeholder="10:00">
          </div>

          <div class="form-group col-lg-2 pr-0">
            <label class="pull-right">สถานะโอนข้อมูล</label>
          </div>
          <div class="form-group col-lg-4">
            <select class="form-input form-control" id="dataType" type="text" name="dataType">
              <option value="">ทั้งหมด</option>
              <option value="success">สำเร็จ</option>
              <option value="error">ไม่สำเร็จ</option>
            </select>
          </div>

          <div class="form-group col-lg-2 pr-0">
          </div>
          <div class="form-group col-lg-4">
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="form-group col-lg-2 reset-button">
            <a href="#" class="btn btn-success margin-top-10"> <i class="glyphicon glyphicon-search"></i> ค้นหา</a>
          </div>
          <div class="form-group col-lg-2 reset-button">
            <a href="." class="btn btn-warning margin-top-10"><i class="glyphicon glyphicon-repeat"></i> ล้างข้อมูล</a>
          </div>
        </div>
      </div>
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th></th>
              <th>ลำดับ</th>
              <th>ชื่อไฟล์</th>
              <th>วันที่สร้างไฟล์</th>
              <th>วันที่วางไฟล์ใน <br>path ที่กำหนด</th>
              <th>วันที่ประมวลผล<br>นำข้อมูลลง<br>ฐานภายนอก</th>
              <th>ขั้นตอนการ<br>ดำเนินการ</th>
              <th>สถานะ<br>การทำงาน</th>
              <th>หมายเหตุ</th>
              <th>การดำเนินการ</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="center"><input type="checkbox" name="checkbox2" id="checkbox2"></td>
              <td align="center">1</td>
              <td align="left">To external_20190726.txt</td>
              <td align="center">26/7/2562</td>
              <td align="center">26/7/2562</td>
              <td align="center">27/7/2562</td>
              <td align="left">ประมวลผลนำข้อมูลลงใน<br>ฐานข้อมูลภายนอก</td>
              <td align="left">ไม่สำเร็จ</td>
              <td align="left">โครงสร้างข้อมูล<br>ไม่ถูกต้อง</td>
              <td align="center"><input type="button" value="Retry"></td>
              <td bgcolor="red">
                <a href="mns/mnsp010201" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
