<div class="header-title mb-4">
  <h1><strong>ข้อมูลคำร้องขอคืนเงินภาษีอากร</strong>
    <small class="pull-right"><a routerLink="/home" class="active">หน้าหลัก</a> /
      ข้อมูลคำร้องขอคืนเงินภาษีอากร
    </small>
  </h1>
</div>
<div class="card mb-4">
  <div class="card-header ">
    <div class="justify-content-left">
      <h4><i class="fa fa-file-text"></i> ค้นหาการบันทึกผลขอคืนเงินภาษีอากร</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="receiptDocNo">เลขที่รับเอกสาร :</label>
      </div>
      <div class="col-12 col-sm-3">
        <input id="receiptDocNo" class="form-control" [(ngModel)]="pageRequest.receiptDocNo" maxlength="100"
               (keydown)="paginationWhenPressEnter($event)">
      </div>
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="taxAgentPin">เลขประจำตัวผู้เสียภาษีอากร :</label>
      </div>
      <div class="col-12 col-sm-3">
        <input id="taxAgentPin" class="form-control" [(ngModel)]="pageRequest.taxAgentPin" maxlength="100" appNumberOnly
               (keydown)="paginationWhenPressEnter($event)">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="taxAgentName">ชื่อผู้ขอคืน :</label>
      </div>
      <div class="col-12 col-sm-3">
        <input id="taxAgentName" class="form-control" [(ngModel)]="pageRequest.taxAgentName" maxlength="13"
               (keydown)="paginationWhenPressEnter($event)">
      </div>
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="taxTypeCode">ประเภทภาษีอากร :</label>
      </div>
      <div class="col-12 col-sm-3">
        <select id="taxTypeCode" class="form-control" [(ngModel)]="pageRequest.taxTypeCode">
          <option [value]="null" selected>ทั้งหมด</option>
          <option *ngFor="let item of mTaxTypeStatusObs | async" [value]="item.taxTypeCode">{{item.taxTypeName}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="accountPeriodStart">ตั้งแต่วันที่รับ :</label>
      </div>
      <div class="col-12 col-sm-3">
        <app-datepicker-th id="accountPeriodStart" [(ngModel)]="pageRequest.createdDateFrom"></app-datepicker-th>
      </div>
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="accountPeriodEnd">ถึง :</label>
      </div>
      <div class="col-12 col-sm-3">
        <app-datepicker-th id="accountPeriodEnd" [(ngModel)]="pageRequest.createdDateTo"></app-datepicker-th>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3 text-left text-sm-right">
        <label for="requestStatus">สถานะ :</label>
      </div>
      <div class="col-12 col-sm-3">
        <select id="requestStatus" class="form-control" [(ngModel)]="pageRequest.requestStatus">
          <option [value]="null">ทั้งหมด</option>
          <option *ngFor="let item of taxRequestStatusObs | async" [value]="item.value">{{item.name}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <a type="button" class="btn btn-success" (click)="pagination()">
          <i class="fa fa-search"></i> ค้นหา
        </a>
        <a type="button" class="btn btn-warning"
           (click)="createNewPageRequest(); pagination();">
          <i class="fa fa-repeat" aria-hidden="true"></i> ล้างค่า
        </a>
      </div>
    </div>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header ">
    <div class="justify-content-left">
      <h4><i class="fa fa-file-text"></i> รายการคำร้องขอคืนเงินภาษีอากร</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="row table-responsive m-0">
      <table class="table table-striped">
        <caption>จำนวน {{pageResponse.content.length}} จาก {{pageResponse.totalElements}}</caption>
        <thead>
        <tr>
          <th style="width: 20px;">ลำดับ</th>
          <th class="text-center">
            <a (click)="sort('docNoticeNumber')" style="cursor: pointer" title="เรื่องลำดับข้อมูลตามเลขที่รับเอกสาร"
               tooltip="เรื่องลำดับข้อมูลตามเลขที่รับเอกสาร">
              เลขที่รับเอกสาร
              <ng-container *ngIf="pageRequest.sortFieldName === 'docNoticeNumber'">
                <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </a>
          </th>
          <th class="text-center">
            <a (click)="sort('createdDate')" style="cursor: pointer" title="เรื่องลำดับข้อมูลตามวัน/เดือน/ปี ที่รับเอกสาร"
               tooltip="เรื่องลำดับข้อมูลตามวัน/เดือน/ปี ที่รับเอกสาร">
              วัน/เดือน/ปี ที่รับเอกสาร
              <ng-container *ngIf="pageRequest.sortFieldName === 'createdDate'">
                <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </a>
          </th>
          <th class="text-center">
            <a (click)="sort('taxAgentPin')" style="cursor: pointer" title="เรื่องลำดับข้อมูลตามเลขประจำตัวผู้เสียภาษีอากร"
               tooltip="เรื่องลำดับข้อมูลตามเลขประจำตัวผู้เสียภาษีอากร">
              เลขประจำตัวผู้เสียภาษีอากร
              <ng-container *ngIf="pageRequest.sortFieldName === 'taxAgentPin'">
                <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </a>
          </th>
          <th class="text-center">
            <a (click)="sort('taxAgentName')" style="cursor: pointer" title="เรื่องลำดับข้อมูลตามชื่อผู้ขอคืน"
               tooltip="เรื่องลำดับข้อมูลตามชื่อผู้ขอคืน">
              ชื่อผู้ขอคืน
              <ng-container *ngIf="pageRequest.sortFieldName === 'taxAgentName'">
                <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </a>
          </th>
          <th class="text-center">
            <a (click)="sort('taxTypeCode')" style="cursor: pointer" title="เรื่องลำดับข้อมูลตามประเภทภาษีอากร"
               tooltip="เรื่องลำดับข้อมูลตามประเภทภาษีอากร">
              ประเภทภาษีอากร
              <ng-container *ngIf="pageRequest.sortFieldName === 'taxTypeCode'">
                <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </a>
          </th>
          <th class="text-center">
            <a (click)="sort('refRequestNo')" style="cursor: pointer" title="เรื่องลำดับข้อมูลตามเลขที่คำร้องขอคืน (ค.10)"
               tooltip="เรื่องลำดับข้อมูลตามเลขที่คำร้องขอคืน (ค.10)">
              เลขที่คำร้องขอคืน (ค.10)
              <ng-container *ngIf="pageRequest.sortFieldName === 'refRequestNo'">
                <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </a>
          </th>
          <th class="text-center">
            <a (click)="sort('requestAmount')" style="cursor: pointer" title="เรื่องลำดับข้อมูลตามจำนวนเงินที่ขอ (บาท)"
               tooltip="เรื่องลำดับข้อมูลตามจำนวนเงินที่ขอ (บาท)">
              สถานะคำขอ
              <ng-container *ngIf="pageRequest.sortFieldName === 'requestAmount'">
                <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </a>
          </th>
          <th class="text-center">
            <a (click)="sort('requestStatus')" style="cursor: pointer" title="เรื่องลำดับข้อมูลตามสถานะคำขอ"
               tooltip="เรื่องลำดับข้อมูลตามสถานะคำขอ">
              สถานะคำขอ
              <ng-container *ngIf="pageRequest.sortFieldName === 'requestStatus'">
                <i class="fa fa-sort-up" *ngIf="pageRequest.sortDirection === 'ASC'"></i>
                <i class="fa fa-sort-down" *ngIf="pageRequest.sortDirection === 'DESC'"></i>
              </ng-container>
            </a>
          </th>
          <th style="width: 100px"></th>
          <th style="width: 100px"></th>
        </tr>
        </thead>
        <tbody *ngIf="pageResponse.content.length != 0">
        <tr *ngFor="let item of pageResponse.content; let i = index">
          <td class="text-center">{{(pageRequest.page * pageRequest.pageSize) - pageRequest.pageSize + i + 1}}
          </td>
          <td class="text-center">{{item.receiptDocNo}}</td>
          <td class="text-center">{{item.createdDate | thaidate}}</td>
          <td class="text-center">{{item.taxAgentPin | replaceNullValue: '-'}}</td>
          <td class="text-center">{{item.taxAgentName | replaceNullValue: '-'}}</td>
          <td class="text-center">{{item.taxTypeName | replaceNullValue: '-'}}</td>
          <td class="text-center">{{item.refRequestNo | replaceNullValue: '-'}}</td>
          <td class="text-center">{{item.requestAmount | number: '1.2'}}</td>
          <td class="text-center">{{item.requestStatusName | replaceNullValue: '-'}}</td>
          <td class="text-center">
            <a class="btn btn-info" type="button" title="แก้ไข" tooltip="แก้ไข"
                    [routerLink]="['../edit-request-k10/' + item.taxRequestId]"
                    [skipLocationChange]="true">
              <i class="fa fa-edit"></i> แก้ไข
            </a>
            <button class="btn btn-danger" type="button" title="ยกเลิก" tooltip="ยกเลิก">
              <i class="fa fa-trash"></i> ยกเลิก
            </button>
          </td>
          <td class="text-center">
            <a class="btn btn-primary" type="button" title="บันทึกผลการวิเคราะห์" tooltip="บันทึกผลการวิเคราะห์"
               [routerLink]="'../analysis-results/' + item.taxRequestId"
               *ngIf="item.requestStatus == 'ANALYSING'">
              <i class="fa fa-floppy-o"></i> บันทึกผลการวิเคราะห์
            </a>
            <a class="btn btn-success" type="button" title="ตรวจสอบคำร้อง" tooltip="ตรวจสอบคำร้อง" [routerLink]="'../consider-request-k10/' + item.taxRequestId"
               [skipLocationChange]="true" *ngIf="item.requestStatus == 'APPLICATION_CREATED'">
              ตรวจสอบคำร้อง
            </a>
            <a class="btn btn-warning" type="button" title="ดูรายละเอียด" tooltip="ดูรายละเอียด" [routerLink]="'../request-k10-detail/' + item.taxRequestId"
               [skipLocationChange]="true">
              ดูรายละเอียด
            </a>
          </td>
        </tr>
        </tbody>
        <tbody *ngIf="pageResponse.content.length == 0">
        <tr>
          <th class="text-center" colspan="11">ไม่พบข้อมูล</th>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row text-right mt-5">
      <div class="col-12 col-sm-2 offset-sm-5">
        รายการ
      </div>
      <div class="col-12 col-sm-1">
        <select class="form-control" [(ngModel)]="pageRequest.pageSize" (change)="pagination()">
          <option [value]="10">10</option>
          <option [value]="25">25</option>
          <option [value]="50">50</option>
        </select>
      </div>
      <div class="col-12 col-sm-4 d-flex">
        <div class="ml-auto">
          <pagination [totalItems]="pageResponse.totalElements" [itemsPerPage]="pageRequest.pageSize"
                      [(ngModel)]="pageRequest.page" [maxSize]="5" previousText="ย้อนกลับ" nextText="ถัดไป"
                      (pageChanged)="pageRequest.page = $event.page;pagination()"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<app-float-button></app-float-button>
