<div class="row">
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>อาคาร :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.nameBuilding | replaceNullValue: '-'}}</p>
  </div>
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>ห้องเลขที่ :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.roomNo | replaceNullValue: '-'}}</p>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>ชั้นที่ :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.floorNo | replaceNullValue: '-'}}</p>
  </div>
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>หมู่บ้าน :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.village | replaceNullValue: '-'}}</p>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>เลขที่ :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.addressNo | replaceNullValue: '-'}}</p>
  </div>
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>หมู่ที่ :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.moo | replaceNullValue: '-'}}</p>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>ตรอก :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.soi | replaceNullValue: '-'}}</p>
  </div>
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>แยก :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.lane | replaceNullValue: '-'}}</p>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>ถนน :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.road | replaceNullValue: '-'}}</p>
  </div>
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>แขวง/ตำบล :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.subDistrictName | replaceNullValue: '-'}}</p>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>เขต/อำเภอ :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.districtName | replaceNullValue: '-'}}</p>
  </div>
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>จังหวัด :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.provinceName | replaceNullValue: '-'}}</p>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-3 text-left text-sm-right">
    <p>รหัสไปรณีย์ :</p>
  </div>
  <div class="col-12 col-sm-3">
    <p>{{taxRequestModel.postcode | replaceNullValue: '-'}}</p>
  </div>
</div>
