.modal-header {
    color:blue;
    background-color: azure;
    border-color: #b7b9bf;
    /*position: relative;*/
}
.invalid-feedback {
    color:#d55710;
    font-size: 80%;
}
body {
    padding: 20px;
  }
  .box-shadow--2dp {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
  }
  .box-shadow--3dp {
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
  }
  .box-shadow--4dp {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
  }
  .box-shadow--6dp {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
  }
  .box-shadow--8dp {
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
  }
  .box-shadow--16dp {
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
  }
  .test:before {
    float: right;
    font-size: 12px;
    margin: 0 -1.1em 0 0;
    padding: 0 0.8em;
    pointer-events: none;
    text-align: center;
    width: 1em;
}


  .custom-selected-drive{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    border-right-width: 0px;
    border-right-style: solid;
  }
