<div class="container">
<div class="row">
    <div class="form-group col-sm-4">
      <div class="row"    [routerLink]="['/dss/epayment-search']">
        <img height="20%" width="20%" src="assets/img/u29304.png" />
      </div> <div class="row">
      การชำระเงินแบบอิเล็กทรอนิกส์ (e-Payment)
    </div>
    </div>
    <div class="form-group col-sm-4">
      <div class="row">
        <img height="20%" width="20%" src="assets/img/u29307.png" />
      </div> <div class="row">
      ธุรกรรมลักษณะเฉพาะ (Special Transaction)
    </div>
    </div>
    <div class="form-group col-sm-4">
      <div class="row">
        <img height="20%" width="20%" src="assets/img/u29310.png" />
      </div> <div class="row">
      ใบกำกับภาษีิอิเล็กทรอนิกส์ (e-Tax Invoice)
    </div>
    </div>
  </div>
</div>
