<app-navigatortab></app-navigatortab>
<section class="content">
  <div class="header-title mb-4">
    <h1>
      <strong>รายการใบกำกับภาษีที่ขายให้ธารา ยืนขำ: เดือนกันยายน 2559</strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> /  คัดค้นข้อมูลใบกำกับภาษี/ใบรับอิเล็กทรอนิกส์ / ผลการคัดค้นแบบสรุป / ภาษีขาย รายเดือน / เดือนกันยายน 2559 / รายการใบกำกับภาษีที่ขาย </small>
    </h1>
  </div>

  <div class="card mb-4" *ngIf="pageResponse?.content!=null">
    <div class="card-header">
      <h4><i class="fa fa-list"></i>ข้อมูลผู้เสียภาษี</h4>
    </div>
    <div class="card-body">
      <p class="mt-auto">เลขประจำตัวผู้เสียภาษีอากร : 0-5755-26009-09-9    ชื่อผู้ประกอบการ : บริษัท ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ จำกัด {{ pageResponse.content[0]?.taxpayerFirstname }}  สาขา 00000</p>
      <br/>
      <p class="mt-auto">ที่อยู่: 3/34  อาคาร แขวงห้วยขวาง  เขตห้วยขวาง  กรุงเทพมหานคร 10310</p>
      <br/>
      <p class="mt-auto">สำนักงานภูมิลำเนา: สส.ห้วยขวาง 1 (สท.กรุงเทพมหานคร 10)</p>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
        <h4><i class="fa fa-list"></i> ข้อมูลผู้ซื้อสินค้า/บริการ</h4>
    </div>
    <div class="card-body">
        <div class="row table-detail">
            <div class="col-12 col-sm-4">เลขประจำตัวผู้เสียภาษีอากรผู้ซื้อ : 1-1045-99001-27-1</div>
            <div class="col-12 col-sm-3">ชื่อผู้ประกอบการ : ธารา ยืนขำ</div>
            <div class="col-12 col-sm-3">สาขา 00000</div>
        </div>
        <div class="row table-detail">
            <div class="col-12 col-sm-8">ที่อยู่ : 799/89 ซอยจุฬาซอย 10 ถนนพระราม 6 แขวงสีลม เขตบางรัก จังหวัด กรุงเทพมหานคร 10330</div>
        </div>
        <div class="row table-conclusion">
            <div class="col-12 col-sm-12">
              <div class="row">
                  <div class="col-12 col-sm-3">รวมจำนวนใบกำกับภาษี : 1 รายการ</div>
              </div>
              <div class="row">
                  <div class="col-12 col-sm-2">รวมยอดขายที่ต้องเสียภาษี VAT 7% : 126,133.87 บาท</div>
                  <div class="col-12 col-sm-2">รวมยอดขายที่ต้องเสียภาษี VAT 0% : 0.00 บาท</div>
                  <div class="col-12 col-sm-2">รวมยอดขายที่ยกเว้น VAT : 0.00 บาท</div>
                  <div class="col-12 col-sm-2">รวมภาษีขาย : 8,829.37 บาท</div>
                  <div class="col-12 col-sm-2">รวมมูลค่าสินค้าและบริการ: 134,963.24 บาท</div>
                  <div class="col-12 col-sm-2 d-block">
                      <button type="button" class="btn btn-primary" #printBtn>
                          <i class="fa fa-print"></i> พิมพิ์
                      </button>
                  </div>
              </div>
            </div>           
        </div>
        <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr role="row">
                    <th class="text-center" scope="col" style="width: 50px"></th>
                    <th class="text-center" scope="col">วัน เดือน ปีที่ออกใบกำกับภาษี</th>
                    <th class="text-center" scope="col">เลขที่ใบกำกับภาษี</th>
                    <th class="text-center" scope="col">ยอดขายที่ต้องเสียภาษี VAT 7%</th>
                    <th class="text-center" scope="col">ยอดขายที่ต้องเสียภาษี VAT 0%</th>
                    <th class="text-center" scope="col">ยอดขายที่ยกเว้น VAT</th>
                    <th class="text-center" scope="col">ภาษีขาย</th>
                    <th class="text-center" scope="col">รวมมูลค่าสินค้าและบริการ</th>
                    <th class="text-center" scope="col">ประเภทเอกสาร</th>
                    <th class="text-center" scope="col">อ้างอิงใบกำกับภาษี</th>
                    <th class="text-center" scope="col">หมายเหตุ</th>
                    <th class="text-center" scope="col">Signature Date</th>
                    <th class="text-center" scope="col">แหล่งข้อมูล</th>
                    <th class="text-center" scope="col" style="width: 20px"></th>
                </tr>
            </thead>
            <tbody>
                <tr role="row" class="odd">
                    <td class="text-center">1</td>
                    <td class="text-center">12/09/2559</td>
                    <td class="text-center">RDTIV0575526000058001</td>
                    <td class="text-right">62,550.00</td>
                    <td class="text-right">0.00</td>
                    <td class="text-right">0.00</td>
                    <td class="text-right">4,378.50</td>
                    <td class="text-right">66,928.50</td>
                    <td class="text-center">ใบกำกับภาษี</td>
                    <td class="text-center">-</td>
                    <td class="text-center">-</td>
                    <td class="text-center">21/09/2559 16:13</td>
                    <td class="text-center">1</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button type="button"class="btn btn-orange btn-sm btn-auto" 
                                (click)="viewTaxInvoiceDetail(content)"
                                tooltip="ดูใบกำกับภาษี">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-12 col-sm-12">
                <b>* หมายเหตุ</b> : แหล่งข้อมูล 1 = e-Tax Invoice & e-Receipt       2=e-Tax Invoice by email
            </div>
        </div>
        <div class="row text-right">
            <div class="col-6 col-sm-1">
                รายการ
            </div>
            <div class="col-6 col-sm-1">
                <select class="form-control" [value]="10">
                    <option [value]="10">10</option>
                    <option [value]="25">25</option>
                    <option [value]="50">50</option>
                </select>
            </div>
            <div class="col-12 col-sm-5 offset-sm-5 d-flex">
                <div class="ml-auto">
                    <pagination [totalItems]="2" [itemsPerPage]="10" [maxSize]="5"
                        previousText="ย้อนกลับ" nextText="ถัดไป"></pagination>
                </div>
            </div>
        </div>
    </div>
  </div>

</section>

<ng-template #content let-modal>
  <div class="modal-header">
      <h4 class="modal-title title mt-auto text-left" id="modal-tax-invoice">
        รายละเอียดใบกำกับภาษี/ใบรับอิเล็กทรอนิกส์
      </h4>
      <br>
      <button type="button" class="btn btn-primary btn-auto" #printBtn>
          <i class="fa fa-print"></i> พิมพิ์
      </button>
  </div>
  <div class="modal-body">
      <div class="row">
          <div class="col-12 col-sm-9">
              <p>เอกสาร</p>
              <p><b>ใบกำกับภาษี</b></p>
          </div>
          <div class="col-12 col-sm-3">
              <p>เลขที่</p>
              <p><b>RDTIV0575526000058001</b></p>
          </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-3">
            <p>แหล่งข้อมูล</p>
            <p><b>1 : e-Tax Invoice & e-Receipt</b></p>
        </div>
        <div class="col-12 col-sm-3">
            <p>Signature Date</p>
            <p><b>12/09/2559  16:13</b></p>
        </div>
        <div class="col-12 col-sm-3">
        </div>
        <div class="col-12 col-sm-3">
            <p>วันที่</p>
            <p><b>12/09/2559</b></p>
        </div>
    </div>
      <hr>
      <div class="row">
          <span class="title column-title">ข้อมูลผู้ขายสินค้า/บริการ</span>
      </div>
      <div class="row">
          <div class="col-12 col-sm-3">
              <p>เลขประจำตัวผู้เสียภาษีอากร</p>
              <p><b>0-5755-26009-09-9</b></p>
          </div>
          <div class="col-12 col-sm-3">
              <p>ชื่อผู้ประกอบการ</p>
              <p><b>บริษัท ร่วมสมัยธุรกรรมอิเล็กทรอนิกส์ จำกัด</b></p>
          </div>
          <div class="col-12 col-sm-3">
              <p>เลขที่สาขา</p>
              <p><b>00000</b></p>
          </div>
          <div class="col-12 col-sm-3">
              <p>ที่อยู่</p>
              <p><b>3/34  อาคาร แขวงห้วยขวาง  เขตห้วยขวาง  กรุงเทพมหานคร 10310</b></p>
          </div>
      </div>
      <hr>
      <div class="row">
        <span class="title column-title">ข้อมูลผู้ซื้อสินค้า/บริการ</span>
      </div>
      <div class="row">
          <div class="col-12 col-sm-3">
              <p>เลขประจำตัวผู้เสียภาษีอากร</p>
              <p><b>1-1045-99001-27-1</b></p>
          </div>
          <div class="col-12 col-sm-3">
              <p>ชื่อผู้ประกอบการ</p>
              <p><b>ธารา ยืนขำ</b></p>
          </div>
          <div class="col-12 col-sm-3">
              <p>เลขที่สาขา</p>
              <p><b>00000</b></p>
          </div>
          <div class="col-12 col-sm-3">
              <p>ที่อยู่</p>
              <p><b>799/89 ซอยจุฬาซอย 10 ถนนพระราม 6 แขวงสีลม เขตบางรัก จังหวัด กรุงเทพมหานคร 10330</b></p>
          </div>
      </div>
      <hr>
      <div class="row">
        <span class="title column-title">อ้างอิงใบกำกับภาษี</span>
      </div>
      <div class="row">
          <div class="col-12 col-sm-3">
              <p>เลขที่ใบกำกับภาษี</p>
              <p><b>-</b></p>
          </div>
          <div class="col-12 col-sm-3">
              <p>วัน เดือน ปี</p>
              <p><b>-</b></p>
          </div>
          <div class="col-12 col-sm-6">
              <p>หมายเหตุ</p>
              <p><b>-</b></p>
          </div>
      </div>
      
    <div class="row">
      <span class="title column-title">รายการสินค้าหรือบริการ</span>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th scope="col" class="text-center">ลำดับที่</th>
                    <th scope="col" class="text-center">รายการ</th>
                    <th scope="col" class="text-center">จำนวน</th>
                    <th scope="col" class="text-center">หน่วย</th>
                    <th scope="col" class="text-center">ราคาต่อหน่วย</th>
                    <th scope="col" class="text-center">ราคาก่อนหักส่วนลด</th>
                    <th scope="col" class="text-center">ส่วนลดต่อหน่วย</th>
                    <th scope="col" class="text-center">ส่วนลดต่อรายการ</th>
                    <th scope="col" class="text-center">ราคาหลังหักส่วนลด</th>
                    <th scope="col" class="text-center">ค่าธรรมเนียมต่อหน่วย</th>
                    <th scope="col" class="text-center">ค่าธรรมเนียมต่อรายการ</th>
                    <th scope="col" class="text-center">ค่ามัดจำต่อรายการ</th>
                    <th scope="col" class="text-center">จำนวนเงิน</th>
                </tr>
            </thead>
            <tbody>
                <tr role="row" class="odd">
                    <td class="text-center">1</td>
                    <td class="text-left">ดินสอเขียนคิ้ว</td>
                    <td class="text-right">150</td>
                    <td class="text-left">EA</td>
                    <td class="text-right">359.00</td>
                    <td class="text-right">53,850.00</td>
                    <td class="text-right">-</td>
                    <td class="text-right">1,500.00</td>
                    <td class="text-right">52,350.00</td>
                    <td class="text-right">-</td>
                    <td class="text-right">-</td>
                    <td class="text-right">-</td>
                    <td class="text-right">52,350.00</td>
                </tr>
                <tr>
                    <td class="text-left cell-summary" colspan="5">รวมส่วนลดทั้งหมดของข้อมูลชุดนี้</td>
                    <td class="text-left cell-summary" colspan="4">3,000 บาท</td>
                    <td class="text-right" colspan="3">รวมจำนวนเงิน</td>
                    <td class="text-right">63,050.00</td>
                </tr>
                <tr>
                  <td class="text-left cell-summary" colspan="5">รวมค่าธรรมเนียมทั้งหมดของข้อมูลชุดนี้</td>
                  <td class="text-left cell-summary" colspan="4">- บาท</td>
                  <td class="text-right" colspan="3">ส่วนลดท้ายใบกำกับภาษี</td>
                  <td class="text-right">500.00</td>
                </tr>
                <tr>
                  <td class="text-left cell-summary" colspan="9"></td>
                  <td class="text-right" colspan="3">ค่าธรรมเนียมท้ายใบกำกับภาษี</td>
                  <td class="text-right">-</td>
                </tr>
                <tr>
                  <td class="text-left cell-summary" colspan="9"></td>
                  <td class="text-right" colspan="3">ค่ามัดจำท้ายใบกำกับภาษี</td>
                  <td class="text-right">-</td>
                </tr>
                <tr>
                  <td class="text-left cell-summary" colspan="9"></td>
                  <td class="text-right" colspan="3">จำนวนเงินก่อนรวมภาษี</td>
                  <td class="text-right">62,550.00</td>
                </tr>
                <tr>
                  <td class="text-left cell-summary" colspan="9"></td>
                  <td class="text-right" colspan="3">ภาษีมูลค่าเพิ่ม 7%</td>
                  <td class="text-right">4,378.50</td>
                </tr>
                <tr>
                  <td class="text-left cell-summary" colspan="9"></td>
                  <td class="text-right" colspan="3">รวมจำนวนเงินทั้งสิ้น</td>
                  <td class="text-right">66,928.50</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div> 
  <div class="row text-center d-block">
      <button type="button" class="btn btn-danger btn-auto" (click)="modalService.dismissAll()" #closeBtn>
          <i class="fa fa-close"></i> ปิด
      </button>
  </div>
</ng-template>