
<div class="form-group">
  <label>เครื่องสแกน:</label>
  <ng-select class="form-control" [(ngModel)]="scanner">
    <ng-option *ngFor="let scanner of scannerList" [value]="scanner.name">{{scanner.name}}</ng-option>
  </ng-select>
</div>
<div class="form-group">
  <label>Page Side Option:</label>
  <ng-select  class="form-control" [(ngModel)]="pageSide">
    <ng-option [value]="'false'">One side</ng-option>
    <ng-option [value]="'true'">Two sides</ng-option>
  </ng-select >
</div>
<div class="form-group">
  <button type="button" class="btn btn-success btn-auto" (click)="onScan()"><i class="fa fa-print"></i> สแกน</button>
  
    
    <!-- <input type="file"   (change)="onUpload($event.srcElement, i)"> -->

</div>
<div class="text-center" *ngIf="pdf != null">
  <iframe [src]="pdf" style="width: 100%; height: 400px;">
    <p>It appears you don't have Adobe Reader or PDF support in this web browser. <a href="javascript:void(0)" (click)="downloadPDF()">Click here to download the PDF</a>. Or <a href="http://get.adobe.com/reader/" target="_blank">click here to install Adobe Reader</a>.</p>
  </iframe>
</div>
<div class="modal-footer">
  <div class="row text-center">
    <button type="button" class="btn btn-outline-dark btn-auto" (click)="onClose()">ยกเลิก</button>
    <button type="button" class="btn btn-primary btn-auto" (click)="onSave()">อัพโหลด</button>
  </div>
</div>