<app-cert-header>อนุมัติ Certificate</app-cert-header>

<div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="text-center">
        <button type="button" class="btn btn-primary" (click)="approveCerts()"> อนุมัติหลายรายการ</button>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-12">
        <table id="example" class="table table-striped table-bordered dataTable" style="width: 100%;" role="grid"
               aria-describedby="example_info">
          <thead>
          <tr role="row">
            <th class="text-center"><input type="checkbox"></th>
            <th class="text-center">ลำดับ</th>
            <th class="text-center">ผู้ขอ Cert.</th>
            <th class="text-center">หน่วยงาน</th>
            <th class="text-center">สาขา</th>
            <th class="text-center" style="width: 200px">Email</th>
            <th class="text-center" style="width: 200px">วันที่ยื่นคำร้อง</th>
            <th style="width: 200px"></th>
          </thead>
          <tbody>
          <tr role="row" class="odd" *ngFor="let user of userCert; let i = index">
            <td class="text-center"><input type="checkbox" (change)="toggleId(user.userCertId)"></td>
            <td>{{i + 1}}</td>
            <td>{{user.taxId}} - {{user.taxPayer}}</td>
            <td>{{user.dept}}</td>
            <td>{{user.branchId}}</td>
            <td class="text-center">{{user.email}}</td>
            <td>{{user.createdDate || 'date: dd/mm/yyyy'}}</td>
            <td class="text-center">
              <button type="button" (click)="approveCert(user.userCertId)" class="btn btn-primary">อนุมัติ</button>
            </td>
          </tr>
          <tr *ngIf="userCert?.length === 0">
            <td colspan="10" class="text-center"> ไม่พบข้อมูล</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
