<section class="content">
  <div class="header-title">
    <h1><strong>Release Note </strong>
      <small class="pull-right"><a href="" class="active">หน้าหลัก</a> / Release Note</small>
    </h1>
  </div>
  <h2>V 0.1.3 - 2019-08-14</h2>
  <ul>
    <li>update UI</li>
  </ul>
  <h2>V 0.1.5 - 2019-09-14</h2>
  <ul>
    <li>update UI</li>
    <li>fix defect mft master ข้อ 1-5, 8, 10, 11-14, 19, 20, 27</li>
    <li>fix defect elt master ข้อ 15, 18, 36</li>
  </ul>
</section>
