<div class="header-title">
  <h1><strong></strong>
  </h1>
</div>
<div class="row">
  <form [formGroup]="searchForm">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" data-lobipanel-child-inner-id="jhzz0g2opx">
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false" data-inner-id="jhzz0g2opx" data-index="0">
      <div class="panel-heading">
        <div class="panel-title" style="max-width: calc(100% - 72px);">
          <!--<h4><img src="assets/dist/img/search_icon.png"> ค้นหาผู้ใช้งาน</h4>-->
          <h4>Monitor การรับข้อมูลจากหน่วยงานที่ส่งข้อมูลสถาบันการเงิน (Bank) และที่มิใช่สถาบันการเงิน (Non-Bank)</h4>
        </div>
      </div>
      <input type="hidden" value="" id="receiveDate" class="form-control" formControlName="receiveDate">
      <input type="hidden" value="" id="paymentDate" class="form-control" formControlName="paymentDate">
      <input type="hidden" value="" id="dataTypeID" class="form-control" formControlName="dataTypeID">
      <input type="hidden" value="" id="statusGrp" class="form-control" formControlName="statusGrp">
      <input type="hidden" value="" id="senderID" class="form-control" formControlName="senderID">
      <input type="hidden" value="" id="stateID" class="form-control" formControlName="stateID">
      <div class="panel-body pb-4">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr class="" align="center">
              <th></th>
              <th>ลำดับ</th>
              <th>วันที่รับไฟล์</th>
              <th>วันที่ทำรายการ</th>
              <th>ชื่อหน่วยงานที่ส่งข้อมูล</th>
              <th>ประเภทข้อมูล</th>
              <th>ชื่อไฟล์</th>
              <th>ขั้นตอนการ<br>ดำเนินการ</th>
              <th>สถานะ<br>การทำงาน</th>
              <th>หมายเหตุ</th>
              <th colspan="2">การดำเนินการ</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of receiveData">
              <td align="center"><input type="checkbox" name="checkbox2" id="checkbox2"></td>
              <td align="center">{{data.no}}</td>
              <td align="center">{{data.receiveDate}}</td>
              <td align="center">{{data.paymentDate}}</td>
              <td align="center">{{data.senderName}}</td>
              <td align="center">{{data.dataTypeName}}</td>
              <td align="center">{{data.fileName}}</td>
              <td align="center">{{data.stateDesc}}</td>
              <td align="center">{{data.statusGrpDesc}}</td>
              <td align="center">{{data.errorDesc}}</td>
              <td align="right"><input type="button" value="Retry"></td>
              <td align="right"><input type="button" value="Reject"></td>
              <td [ngClass]="{'red':data.statusGrp == '1','gold':data.statusGrp == '2','green':data.statusGrp == '3'}">
                <a [routerLink]="['../../../../../../mnsp010103/'+data.receiveDate+'/'+data.paymentDate+'/'+data.dataTypeID+'/'+data.statusGrp+'/'+data.stateID+'/'+data.senderID+'/'+data.fileName]" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png"></a>
              </td>
            </tr>
            <!--<tr>
              <td align="center"><input type="checkbox" name="checkbox2" id="checkbox2"></td>
              <td align="center">1</td>
              <td align="center">12/08/2562</td>
              <td align="center">12/08/2562</td>
              <td align="center">ธนาคารกรุงเทพ</td>
              <td align="left">e-Witholding Tax Domestic</td>
              <td align="left">ED0042562010504.txt</td>
              <td align="left">ถอดรหัสข้อมูล</td>
              <td align="left">ไม่สำเร็จ</td>
              <td align="left">การเข้ารหัสไม่ถูกต้อง</td>
              <td align="right"><input type="button" value="Retry"></td>
              <td align="right"><input type="button" value="Reject"></td>
              <td bgcolor="red">
                <a href="mns/mnsp010103" class="btn btn-orange btn-sm">
                  <img src="assets/dist/img/search_icon.png"></a>
              </td>
            </tr>-->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>
</div>
