<div class="header-title">
  <h1><strong>ค้นหารายงาน</strong>
    <small class="pull-right"><a href="#" class="active">หน้าหลัก</a> /
      ค้นหารายงาน
    </small>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable" >
    <div class="panel panel-bd lobidrag lobipanel" data-sortable="false">
      <div class="panel-heading">
        <div class="panel-title">
          <h4><i class="glyphicon glyphicon-search"></i>  ค้นหารายงานรายการชำระเงินซ้ำ</h4>
        </div>
      </div>
      <div class="panel-body">
        <form [formGroup]="searchCondition">
          <br>
          <div class="row justify-content-center">
            <div class="row col-12" >
              <div class="col-12 col-sm-3 text-left text-sm-right">
                  <label style="font-size: 15px;">วันที่ชำระเงินภาษี จาก :<span class="red">*</span></label>
              </div>
              <div class="col-12 col-sm-2 text-left">
                <input type="text" appIgnoreKey allowKey="date-picker" style="width: 200px;" class="form-control" #dp="bsDatepicker" (bsValueChange)="onChangeDate()"
                  placeholder="วัน/เดือน/ปี" formControlName="paymentDate" [maxDate]="maxDate" [bsConfig]="bsConfig" bsDatepicker>
              </div>
              <div class="col-12 col-sm-2 text-left text-sm-right">
                  <label style="font-size: 15px;">ถึง :<span class="red">*</span></label>
              </div>
              <div class="col-12 col-sm-3 text-left">
                  <input type="text" appIgnoreKey allowKey="date-picker" style="width: 200px;" class="form-control" #dp="bsDatepicker" (bsValueChange)="onChangeDate()"
                    placeholder="วัน/เดือน/ปี" formControlName="paymentDateTo" [minDate]="minDate" [bsConfig]="bsConfig" bsDatepicker>
              </div>
            </div>
        </div>
        <br><br>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-1 text-left"></div>
            <div class="form-group col-lg-1">
              <label for="reportType-a" class="form-check-label ml-2">
                <input class="form-check-input" type="radio" name="reportType" id="reportType-a" value="PDF"
                  formControlName="reportType"> PDF
              </label>
            </div>
            <div class="form-group col-lg-1">
              <label for="reportType-i" class="form-check-label ml-2">
                <input class="form-check-input" type="radio" name="reportType" id="reportType-i" value="EXCEL"
                  formControlName="reportType"> Excel
              </label>
            </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-12 text-center">
                <a type="button" class="btn btn-success margin-top-10 btn-auto" (click)="genReport()">
                  <i class="fa fa-search"></i> ออกรายงาน
                </a>&nbsp;&nbsp;
                <a type="button" class="btn btn-warning margin-top-10 btn-auto"
                   (click)="clear();">
                  <i class="fa fa-repeat" aria-hidden="true"></i> ล้างค่า
                </a>
              </div>
          </div>
          <br>
      </form>
      </div>
    </div>
  </div>
</div>

<app-float-button ></app-float-button>